<div class="join-view">
  <div class="row">
    <div class="logo">
      <%= link_to "/" do %>
        <div class="logo_image"></div>
      <% end %>
    </div>
    <div class="small-4 small-centered columns join-form">
      <h1>Invite your colleagues to Airbo</h1>
      <div class="line-separator"></div>
      <br>
      <%= form_tag(user_onboardings_path, id: "signup_request_form") do %>
        <label class="input_label">Full Name</label>
        <%= text_field_tag "user_onboarding[name]" %>

        <label class="input_label">Email</label>
        <%= text_field_tag "user_onboarding[email]" %>
        <%= hidden_field_tag "id", @user_onboarding.id %>
        <%= submit_tag "Invite", class: "join-button button success center" %>
      <% end %>
    </div>
  </div>
</div>
