<!-- start of new admin navigation that needs to be gated off later -->
<% navbar = 0 %>
<% if user.can_submit_tile? && navbar == 0  %>
  <% navbar += 1 %>
  <% if user.show_search_bar? %>
    <%= render 'shared/search_bar', column_count: 4 %>
  <% end %>
  <div class="large-3 columns" id="user_info">
    <%= render 'shared/header/submit_tile', user: user %>
    <div id="open-intercom" class="open_intercom"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
    <div id="me_toggle">
      <div class="shadow_overlay"></div>
      <%= default_avatar_tag user, :id => :top_avatar, :class => "avatar48" %>
    </div>
  </div>
<% end %>

<% if user.end_user? && navbar == 0 %>
  <% navbar += 1 %>
  <% if user.show_search_bar? %>
    <%= render 'shared/search_bar', column_count: 5 %>
  <% end %>
  <div class="large-2 columns" id="user_info">
    <div id="open-intercom" class="open_intercom"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
    <div id="me_toggle">
      <div class="shadow_overlay"></div>
      <%= default_avatar_tag user, :id => :top_avatar, :class => "avatar48" %>
    </div>
  </div>
<% end %>

<% if navbar == 0 && (user.is_client_admin || user.is_site_admin) %>
  <% navbar += 1 %>
  <% if user.show_search_bar? %>
    <%= render 'shared/search_bar', column_count: 5 %>
  <% end %>
  <div class="large-2 columns" id="user_info">
    <div id="me_toggle">
      <div class="shadow_overlay"></div>
      <%= default_avatar_tag user, :id => :top_avatar, :class => "avatar48" %>
    </div>
  </div>
<% end %>
