<div class="row client_admin_explore">
  <!--
  <div class='large-12 column'>
    <%= render partial: 'explores/parent_boards', locals: {boards: @parent_boards} %>
    <h1>Tile Subjects</h1>
    <div class="row topics">
      <% @topics.each do |topic| %>
        <%= link_to public_explore_public_topic_path(topic), class: "topic" do %>
          <div class="topic_cell">
            <%= image_tag("topics/#{topic.name.parameterize.underscore}.png") %>
            <div class="shadow_overlay"></div>
            <p class="title"><%= topic.name %></p>
          </div>
        <% end %>
      <% end %>
      </div>
  -->
    <h1 class="text-center">Sample Tiles</h1>
    <div class='row tile_with_tags'>
      <%= render partial: 'explores/tile_with_tags', locals: {tiles: @tiles, path_for_more_tiles: @path_for_more_tiles, tag_click_source: "Explore Main Page - Clicked Tag On Tile", thumb_click_source: 'Explore Main Page - Tile Thumbnail Clicked'} %>
    </div>
  </div>
</div>
<%= mp_track_page 'explore' %>
<%= render partial: 'explores/explore_intro' if @show_explore_intro %>

