<li id="<%= item_id %>">
  <%= link_to link, link_options.merge({class: "mini-text white"}) do %>
    <% if icon.present? %>
      <%= fa_icon icon %>
    <% elsif image.present? %>
      <%= image_tag image %>
    <% end %>

    <%= text %>

    <% if has_notification %>
      <div class="notification">
        <span class="badge hidden js-sidenav-badge <%= "js-notification-#{item_id}" %>" data-notification-content="<%= notification_content %>"></span>
      </div>
    <% end %>
  <% end %>
</li>
