<h1 class="page-title" id="title">Payments</h1>

<%= render partial: 'shared/flashes' %>

<div class="payment_balance row">
<% if @outstanding_balances.empty? %>
  You've got no outstanding balances. How nice!
<% end %>

<% @outstanding_balances.each do |outstanding_balance| %>
  <p class="outstanding_balance">Outstanding balance: <span><%= outstanding_balance.pretty_amount %></span></p>
  <p class="billed_date">Billed: <span><%= outstanding_balance.billing_date.strftime("%x") %></span></p>
  <div class="pay_button">
    <%= form_tag client_admin_balance_path(outstanding_balance), method: :put do %>
      <script
        src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="<%= STRIPE_PUBLIC_KEY %>"
        data-amount="<%= outstanding_balance.amount %>"
        data-name="H.Engage"
        data-description="Payment to H.Engage"
      >
      </script>
    <% end %>
  </div>
<% end %>
</div>