<%= form.hidden_field :remote_media_url, id: "remote_media_url", data:{proxyid: "image_uploader", "video-image" => image_path("video.png")} %>
<%= content_tag :div, class: "builder_content #{'ie9' if ie9_or_older?}" do %>
  <div class="video_section">
    <div class="video_frame_block">
      <%= unescape_html(@tile.embed_video) %>
    </div>
    <div class="video-menu">
      <ul>
        <li>
          <span class="video-menu-item clear menu-tooltip"  title="Remove image">
            <i class="fa fa-trash fa-1x"></i>
          </span>
        </li>
      </ul>
    </div>
   
  </div>

  <div id="image_uploader" class="intro-tipsy content_sections">
    <% image_class = tile_image_present(@tile.remote_media_url) ? "present" : "missing" %>

    <div class="intro-tipsy image_preview limited-height <%= image_class %>" data-img-height='<%= @tile.full_size_image_height%>'>
      <%= image_tag @tile.image.url, class: "tile_image", id: "upload_preview" %>
      <div class="shadow_overlay"></div>
      <div class="image_credit ">
        <% if ie9_or_older? %>
          <div class="image_credit_view">
            <%= @tile.image_credit %>
          </div>
        <% else %>
          <div class="image_credit_view no_outline" contenteditable="true">
            <%= @tile.image_credit%>
          </div>
          <%= form.text_area :image_credit %>
        <% end %>
      </div>
      <div class="image-menu">
        <ul>
          <li>
            <span class="img-menu-item search" title="Search">
              <i class="fa fa-search fa-1x show-search" aria-hidden="true"></i>
              <input type="text" class="search-input" placeholder="Search images", data-services='<%=@image_providers%>'>
            </span>
          </li>
          <li>
            <span class="img-menu-item upload menu-tooltip js-file-upload-trigger"  data-target="#image-uploader" title="Upload image" >
              <i class="fa fa-cloud-upload fa-1x"></i>
            </span>
          </li>
          <li>
            <span class="img-menu-item video menu-tooltip" title="Embed video" >
              <i class="fa fa-video-camera fa-1x"></i>
            </span>
          </li>
          <li>
            <span class="img-menu-item clear menu-tooltip"  title="Remove image">
              <i class="fa fa-trash fa-1x"></i>
            </span>
          </li>
          <li>
            <span class="img-menu-item expand-contract menu-tooltip" title="Expand">
              <i class="fa fa-expand fa-1x" aria-hidden="true"></i>
              <i class="fa fa-compress fa-1x" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="visual-content-container">
    <div class="endless_scroll_loading text-center">
      <i class="fa fa-spinner fa-spin fa-2x text-center" ></i>
    </div>
    <div class="images-wrapper">
      <div id="images"></div>
      <h6 class="attribution"><a href="http://www.pixabay.com" target="_blank">Powered by<%=image_tag "pixabay_logo.svg", class:"pixabay"%></a></h6>
    </div>

    <div class="embed-video-container">
      <div class="video-help">
        <%= link_to "Help with video embed?", "https://www.airbo.com/support#AddaVideo", target: "_blank" %>
      </div>
      <%= form.text_area :embed_video, rows: 7, placeholder: "Paste video embed code from Vimeo, Youtube, Wistia or Kaltura" %>
      <div class="unparsable video-error" >
        The link you've entered is invalid. Please try again with a valid video embed code. Click the help section above to see instructions for embedding video.
      </div>
        <div class="unloadable video-error">
          Unable to load your video. The embed link you pasted may be invalid. Please delete the link and try again with a different link.
        </div>
    </div>
    <div class="hide-media-panel-button">
      <a href="#" class="button"> Done </a>
    </div>
  </div>
  <% if ie9_or_older? %>
    <div class="content_sections tile_builder_section">
      <%= form.label :image_credit %>
      <%= form.text_field :image_credit, {maxlength: 50, placeholder:'Add Image Credit'} %>
    </div>
  <% end %>

<% end %>
<%#TODO figure out better browser detection procedure %>

<% if ie9_or_older? %>
  <% js_at_end do %>
    $(document).ready(function() {
    Airbo.ImageCreditIE.init();
    });
  <% end %>
<% end %>
