<div class="builder_content <%='ie9' if ie9_or_older? %>">

  <div id="image_uploader" class="content_sections" data-library-url=<%=client_admin_tile_images_path%>>

    <%= form.text_field :remote_media_url, id: "remote_media_url", style: "display:none" , data:{proxyid: "image_uploader"} %>
    <% image_class = tile_image_present(@tile_builder_form.image_url) ? "show_shadows" : "show_placeholder" %>
    <div class="image_preview <%= image_class %>">
      <%= image_tag @tile_builder_form.image_url, class: "tile_image", id: "upload_preview" %>
      <div class="image_placeholder">
        <i class="fa fa-picture-o fa-4x"></i>
        <label id="uploaded_image_file">Pick an image</label>
      </div>
      <div class="shadows">
        <div class="shadow_overlay"></div>
        <div class="clear_image has-tip tip-top" data-tooltip title="Remove the image">
          <i class="fa fa-image fa-2x"></i>
        </div>
        <div class="image_credit ">
          <% if ie9_or_older? %>
            <div class="image_credit_view">
              <%= @tile_builder_form.tile.image_credit %>
            </div>
          <% else %>
            <div class="image_credit_view" contenteditable="true">
              <%= @tile_builder_form.tile.image_credit%>
            </div>
            <%= form.text_area :image_credit %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <% if ie9_or_older? %>
    <div class="content_sections tile_builder_section">
      <%= form.label :image_credit %>
      <%= form.text_field :image_credit, {maxlength: 50, placeholder:'Add Image Credit'} %>
    </div>
  <% end %>

</div>
<%#TODO figure out better browser detection procedure %>
<% if ie9_or_older? %>
  <% js_at_end do %>
    $(document).ready(function() {
    Airbo.ImageCreditIE.init();
    });
  <% end %>
<% end %>
