<% tile_types = set_tile_types(form.object) %>
<div class="tile_texts_container" data-tile-types='<%= tile_types.to_json%>' data-question-config= '<%= { hasQuestionType: @tile_builder_form.question_type?, type: @tile_builder_form.question_type, subType: @tile_builder_form.question_subtype}.to_json %>'>
  <div class="tile_quiz content_sections" id="question_type_container">
    <%= form.hidden_field :question_type %>
    <%= form.hidden_field :question_subtype, data:{proxyid: "question_type_container"} %>
    <div class="tile_types">
      <ul class="button-group">
        <% tile_types.each do |type, subtypes| %>
          <li class="tile_type">
            <a id="<%= type %>" href="#" data-dropdown="drop_<%= type %>" class="button type dropdown"><%= type %> <i class="fa fa-caret-down"></i></a>

            <ul id="drop_<%= type %>" data-dropdown-content class="f-dropdown">
              <% subtypes.each do |key, subtype| %>
                <li id="<%= type + '-' + key %>" class="subtype" ><%= subtype[:name] %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="quiz_content">
      <p class="placeholder">Pick 1 option and select what users will earn points for.</p>
    </div>
  </div>
  <%= render partial: 'shared/tiles/form/points', locals: {form: form} %>
</div>
