<div class="tile_texts_container" >
  <div class="js-anon-banner-wrapper hidden">
    <%= render "/shared/tiles/anonymous_banner" %>
  </div>
  <div class="tile_quiz content_sections" id="question_type_container" data-config = '<%=@tile.question_config.to_json%>'>
    <%= form.hidden_field :question_type %>
    <%= form.hidden_field :question_subtype, data:{proxyid: "question_type_container"} %>
    <div class="tile_types" id="interaction-menu">
    </div>
    <div class="quiz_content" id="js-interaction-container">
      <section id="quiz-question">
        <textarea cols="40" id="tile_question" name="tile[question]" rows="2"></textarea>
      </section>
      <section id="quiz-answer"></section>
      <section class="js-answer-controls after_answers">
        <label id="tile-builder-form-error" class="err"></label>
      </section>
    </div>
  </div>
  <%= render partial: 'shared/tiles/form/points', locals: {form: form} %>
  <% unless @tile.user_submitted? %>
    <div class="tile-builder-settings">
      <p class="header"> Tile Settings</p>
      <p class="settings-input"><%= form.check_box :is_sharable %> Allow employees to share this Tile with friends and family?</p>
      <p class="settings-input"><%= form.check_box :is_public %> Share to Airbo Explore when this Tile is posted?</p>
    </div>
  <% end %>
</div>
