<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Views</th>
      <th>Answer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @tile_completions.each do |tc| %>
      <tr>
        <td><%= tc.user.name %></td>
        <td><%= tc.user.email %></td>
        <td><%= tc.views %></td>
        <td><%= tc.created_at.strftime('%-m/%-d/%Y') %></td>
        <td><%= tc.tile.multiple_choice_answers[tc.answer_index][0...15] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
