<div class="row title_block">
  <h1 class="tile-headline">
    <%= @tile.headline.truncate(60) if @tile %>
  </h1>
</div>
<div class="row stats_page">
  <% if TileUserNotification.launched? %>
    <div class="large-12 columns">
      <%= render partial: 'tile_user_notification/form', locals: { tile: @tile, tile_user_notification: TileUserNotification.new } %>
    </div>
  <% end %>
  <div class="large-12 columns">
    <% if @chart_form %>
      <%= render partial: 'client_admin/tile_stats_charts/chart_section', locals: {chart_form: @chart_form, chart: nil} %>
      <div class="table_title">
        <%= @tile.question %>
      </div>
      <% if @survey_chart && @tile.question_subtype != "free_response" %>
        <%= render partial: 'survey_chart' %>
      <% end %>
      <%= render(partial: 'client_admin/tile_stats_grids/grid_section') %>
    <% else %>
      <i class="chart-load-wheel fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <% end %>
  </div>
</div>
