<%= form_tag invitation_dependent_user_invitation_path, class: "bg-gray-quiz dependent_email content_sections dependent_email_form" do %>
  <label>To</label>
  <%= text_field_tag "dependent_user_invitation[email]", "", placeholder: "dependent@email.com" %>

  <label>Subject</label>
  <%= text_field_tag "dependent_user_invitation[subject]", "#{current_user.name} #{DEFAULT_INVITE_DEPENDENT_SUBJECT_LINE} #{current_user.demo.dependent_board.name}" %>

  <%= text_area_tag "dependent_user_invitation[body]", DEFAULT_INVITE_DEPENDENT_EMAIL_BODY, rows: "4" %>

  <%= submit_tag "Send", class: "tile_button" %>
  <p>
    <%= link_to "Nevermind, I don’t want to send an invitation.", "", class: "no_invitation righty" %>
  </p>
<% end %>
