#session-wrapper
  %h2 Log In
  = form_tag session_path do  
    = text_field_tag "session[email]" 
    .relative.inline
      #password_prompt password
      = password_field_tag "session[password]"
    = label_tag "session[remember_me]", "Remember me (Don't check this on a shared computer)" 
    = check_box_tag "session[remember_me]" 
    = submit_tag "Let's play!" 
   

  = link_to "Forgot password?", new_password_path 
= mp_track_page 'login' 

= content_for :javascript do
  :javascript
    $(function() {
      autoFocusColor("#session_email", "email"); 
         
      $("#password_prompt").click(function(){
        hidePromptFocusPassword()
      });
      
      hidePromptIfPasswordPresent();
      
      $("#session_password").click(function(){
        hidePromptFocusPassword()
      });

      $("#session_email").keypress(function(){
        hidePromptIfPasswordPresent();
      });
            
      $("#session_password").keypress(function(){
        hidePromptFocusPassword();
      });
      
      $("#session_password").blur(function(){
        if ($("#session_password").val() == ''){
          $("#password_prompt").show();
        }
      });
    });
    
    function hidePromptFocusPassword(){
      $("#password_prompt").hide();
      $("#session_password").focus();
    }
 
    function hidePromptIfPasswordPresent(){
      if ($("#session_password").val() != ""){
        $("#password_prompt").hide();
      }
    }