#session-wrapper.row
  %h1 Log In
  = form_tag session_path do  
    %label.input_label Email address
    = text_field_tag "session[email]", (params[:session] and params[:session][:email])
    %label.input_label Password
    = password_field_tag "session[password]", nil
    .wrap
      = label_tag "session[remember_me]", "Remember me (Don't check this on a shared computer)", :class => :inline
      = check_box_tag "session[remember_me]", 1, true
    = submit_tag "Let's play!" 
    = link_to "Forgot password?", new_password_path 

= mp_track_page "sign in"
