<div data-role="header">
  <h1>H Engage</h1>
</div>

<div data-role="content">
  <%= form_for :session, :url => session_path do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit "Sign in" %>
  <% end %>

  <div id="alt-authentication-links">
    <p>
      <%= link_to "Forgot password?", new_password_path %> | 
      <%= link_to "By invitation only", page_path("invitation") %>
    </p>
  </div>
</div>
