<div id="session-wrapper">
  <h2>Log In</h2>
  <%= form_tag session_path do  %>
    <%= text_field_tag "session[email]", 'email', :class => 'with-hint-text' %>
    <%= password_field_tag "session[password]", 'password', :class => 'with-hint-text' %>
    <%= check_box_tag "session[remember_me]" %>
    <%= submit_tag "Let's play!" %>
  <% end %>

  <%= link_to "Forgot password?", new_password_path %>
</div>
