<div class='message' id='<%= dom_id(message) %>'>
  <%= render 'message_header', :message => message %>

  <%= render 'message_body', :message => message %>

  <%= render 'message_replies', :message => message %>

  <%= reply_link 'Reply and move to watch list', message %>
</div>
