<% message_dom_id ||= dom_id(message) %>
<div class='message-header'>
  <% collapse_control_dom_id = "collapse-control-#{message_dom_id}" %>

  <a href="#" class="collapse-control" id="<%= collapse_control_dom_id %>" data-collapsed="true">[+]</a>
  <%= message.username %> (<%= message.phone_number %>) about <%= time_ago_in_words(message.received_at) %> ago

  <% unless message.automated_reply.blank? %>
    (has automated suggestion)
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#<%= collapse_control_dom_id %>').click(function(e) {
      toggleMessageVisibility('#<%= message_dom_id %>');
      e.preventDefault();
    });
  <% end %>
<% end %>
