<div class='message' id='<%= dom_id(message) %>'>
  <%= render 'message_header', :message => message %>

  <div class="hideable-parts">
    <%= render 'message_body', :message => message %>

    <%= render 'reply_link', :message => message %>

    <%= render 'dismiss_button', :message => message %>
  </div>
</div>
