<% dom_class = (message.is_new ? 'message new-watchlisted-message' : 'message') %>
<div class='<%= dom_class %>' id='<%= dom_id(message) %>'>
  <%# Explicit paths here so that this'll work when we call it from bad_message_replies/create.js.erb %>
  <%= render 'admin/bad_messages/message_header', :message => message %>

  <div class="hideable-parts">
    <%= render 'admin/bad_messages/message_body', :message => message %>

    <%= render 'admin/bad_messages/message_replies', :message => message %>

    <%= render 'admin/bad_messages/reply_link', :message => message, :link_text => 'Send message' %>

    <%= render 'admin/bad_messages/dismiss_button', :message => message %>
  </div>
</div>
