<h2 class="first"><%= link_to "Admin", admin_path %>: Bad Message Log</h2>

<%= render :partial => 'thread', :collection => @threads %>

<div id="reply-dialog" style="display: none">
  <%= form_tag '#' do %>
    <%= label_tag 'bad_message_reply[body]', 'Say to user:' %>
    <%= text_area_tag 'bad_message_reply[body]' %>
    <%= submit_tag 'Send' %>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    function refreshThreads(lastUpdatedAt) {
      $.ajax({
        data: {since: lastUpdatedAt},
        success: function(data) {console.log(data)}
      });
    };

    refreshThreads('<%= @last_updated_at %>');
  <% end %>
<% end %>
