<h2 class="first"><%= link_to "Admin", admin_path %>: Bad Message Log</h2>

<table id="bad_messages">
  <tr>
    <th>User name</th>
    <th>Sender's number</th>
    <th>Body</th>
    <th>Received at</th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td>
        <%= message.user ? message.user.name : 'unknown' %>
      </td>
      <td>
        <%= message.phone_number %>
      </td>
      <td>
        <%= message.body %>
      </td>
      <td>
        <%= message.received_at.localtime %>
      </td>
      <td>
        <%= link_to "Reply", new_admin_bad_message_reply_path(message) %>
      </td>
      <td>
        <% prefix = '' %>
        <% message.replies.each do |reply| %>
          <%= prefix %>
          <% prefix = content_tag 'br' %>
          <% sender_name = reply.sender == current_user ? "you" : reply.sender.name %>
          Replied to by <%= sender_name %>, <%= reply.created_at.winning_time_format %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
