<h2 class="first"><%= link_to "Admin", admin_path %>: Bad Message Log <span id="loading-message"> </span> </h2>

<div id="new-messages">
  <h2>New Bad Messages</h2>
  <%= pluralize @new_messages.count, 'new bad message' %>
  <%= render :partial => 'new_message', :collection => @new_messages, :as => :message %>
</div>

<div id="watch-listed-messages">
  <h2>People we're helping or keeping an eye on</h2>
  <%= pluralize @needing_reply_count, 'new message' %> to reply to
  <%= render :partial => 'watch_listed_message', :collection => @watch_listed_messages, :as => :message %>
</div>

<div id="all-messages">
  <h2>All Messages</h2>
  <%= pluralize @all_messages.count, "message" %> total
  <%= render :partial => 'generic_message', :collection => @all_messages, :as => :message %>
</div>

<div id="reply-dialog" style="display: none">
  <%= form_tag '#' do %>
    <%= label_tag 'bad_message_reply[body]', 'Say to user:' %>
    <%= text_area_tag 'bad_message_reply[body]' %>
    <%= submit_tag 'Send' %>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.hideable-parts').hide();

    function uncollapse(message, collapseControl) {
      message.find('.hideable-parts').show();
      
      collapseControl.data('collapsed', false).html('[-]');
    }

    function collapse(message, collapseControl) {
      message.find('.hideable-parts').hide();

      collapseControl.data('collapsed', true).html('[+]');
    }

    function toggleMessageVisibility(selector) {
      var message = $(selector);
      var collapseControl = $(selector).find('.collapse-control');

      if(collapseControl.data('collapsed')) {
        uncollapse(message, collapseControl);
      } else {
        collapse(message, collapseControl);
      }
    }
  <% end %>
<% end %>
