<div class="row">
    <div class="large-12 columns">
        <%= render partial: 'client_admin/tiles/tiles_tools_subnav' %>
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <h1>Quick stats</h1>

        <div class="stats section">
            <ul class="stat-group">
                <li class="labels">Participants</li>
                <li class="numbers"><h2><%= number_with_delimiter @claimed_user_count %></h2></li>
            </ul>
            <ul class="stat-group">
                <li class="labels">Added mobile numbers</li>
                <li class="numbers"><h2><%= @with_phone_percentage %></h2></li>
            </ul>
            <ul class="stat-group">
                <li class="labels">Joined via peer</li>
                <li class="numbers"><h2><%= @with_peer_invitation_fraction %></h2></li>
            </ul>
        </div>
    </div>
    <div class="large-9 columns">
        <%= render partial: 'client_admin/charts/chart' %>
    </div>
</div>