<div class="analytics-v1">
  <div id="client-admin-demo-analytics">
    <div class="row title_block">
      <div class="small-4 columns centered">
        <div class="activity-header total-users">
          <h1 class="header-number">
            <%=  number_with_delimiter(@chart_form.users_joined, :delimiter => ',') %>
          </h1>
          <span class="header-unit">
            Employees Activated
          </span>
        </div>
      </div>
      <div class="small-4 columns centered">
        <div class="activity-header population-percent">
          <h1 class="header-number">
            <%= "#{@chart_form.user_activation_pct}%"%>
          </h1>
          <span class="header-unit">
            Population Activated
          </span>
        </div>
      </div>
      <div class="small-4 columns centered">
        <div class="activity-header tiles-posted">
          <h1 class="header-number">
            <%= number_with_delimiter(@chart_form.tiles_posted, :delimiter => ',') %>
          </h1>
          <span class="header-unit">
            Tiles Posted
          </span>
        </div>
      </div>
    </div>
    <div class="row stats_page">
      <div class="large-12 columns">
        <%= render partial: 'client_admin/activity/activity_charts', locals: { chart_form: @chart_form, chart: @chart } %>
        <%= render partial: 'client_admin/activity/activity_grid_section' %>
      </div>
    </div>
  </div>
</div>
