<div class="lead-contacts-container lead-contacts-index">
  <% pending_leads = @lead_contacts.pending %>
  <% approved_leads = @lead_contacts.approved %>
  <% processed_leads = @lead_contacts.processed %>
  <div class="row">
    <ul class="tab">
      <li>
        <a href="#" id="pending-leads-link" class="tablinks" data-target="pendingLeads">
          <% if pending_leads.count > 5 %>
            Pending Leads <span class="alert badge"><%= pending_leads.count %></span>
          <% else %>
            Pending Leads <span class="badge"><%= pending_leads.count %></span>
          <% end %>
        </a>
      </li>
      <li>
        <a href="#" id="approved-leads-link" class="tablinks" data-target="approvedLeads">
          <% if approved_leads.count > 10 %>
            Approved Leads <span class="alert badge"><%= approved_leads.count %></span>
          <% else %>
            Approved Leads <span class="badge"><%= approved_leads.count %></span>
          <% end %>
        </a>
      </li>
      <li>
        <a href="#" id="processed-leads-link" class="tablinks" data-target="processedLeads">
          <% if processed_leads.count > 10 %>
            Processed Leads <span class="alert badge"><%= processed_leads.count %></span>
          <% else %>
            Processed Leads <span class="badge"><%= processed_leads.count %></span>
          <% end %>
        </a>
      </li>
    </ul>

    <div id="pendingLeads" class="pending-leads tabcontent">
      <% if pending_leads.count > 0 %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Organization</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pending_leads.each do |lead_contact| %>
              <tr id="<%= lead_contact.id %>">
                <td class="name">
                  <%= lead_contact.name %>
                </td>
                <td class="name">
                  <%= lead_contact.organization_name %>
                </td>
                <td class="email">
                  <%= lead_contact.email %>
                </td>
                <td class="phone">
                  <%= lead_contact.phone %>
                </td>
                <td class="review">
                  <%= link_to "review", edit_admin_sales_lead_contact_path(lead_contact), class: "button tiny green" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div id="approvedLeads" class="approved-leads tabcontent">
      <% if approved_leads.count > 0 %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Organization</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% approved_leads.each do |lead_contact| %>
              <tr id="<%= lead_contact.id %>">
                <td class="name">
                  <%= lead_contact.name %>
                </td>
                <td class="name">
                  <%= lead_contact.organization_name %>
                </td>
                <td class="email">
                  <%= lead_contact.email %>
                </td>
                <td class="phone">
                  <%= lead_contact.phone %>
                </td>
                <td class="process">
                  <%= link_to "build board", edit_admin_sales_lead_contact_path(lead_contact), class: "button tiny green" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div id="processedLeads" class="processed-leads tabcontent">
      <% if processed_leads.count > 0 %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Organization</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% processed_leads.each do |lead_contact| %>
              <tr id="<%= lead_contact.id %>">
                <td class="name">
                  <%= lead_contact.name %>
                </td>
                <td class="name">
                  <%= lead_contact.organization_name %>
                </td>
                <td class="email">
                  <%= lead_contact.email %>
                </td>
                <td class="preview-board">
                  <%= link_to "customize board",  admin_sales_lead_contact_tiles_path(lead_contact), class: "button tiny", target: "_blank" %>
                </td>
                <td class="send-digest">
                  <%= link_to "send digest email", new_admin_sales_lead_contact_invite_path(lead_contact), class: "button tiny green", target: "_blank" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%= hidden_field_tag "status", params[:status] || "pending" %>
  <% if params[:status] == "approved" %>
    <%= render 'lead_contacts_approval_modal', approved_lead_contact: approved_leads.first %>
  <% end %>
</div>
