<div class="lead-contacts-container lead-contacts-index">
  <div class="row">
    <ul class="tab">
      <li>
        <a href="#" id="pending-leads-link" class="tablinks" data-target="pendingLeads">
          Open Leads <span class="badge"><%= @lead_contacts.count %></span>
        </a>
      </li>
      <li>
        <a href="#" id="deleted-leads-link" class="tablinks" data-target="deletedLeads">
          <% closed_leads = $redis.smembers("deleted_lead_contacts") %>
          <% if closed_leads.length > 0 %>
            History <span class="badge"><%= closed_leads.length %></span>
          <% end %>
        </a>
      </li>
    </ul>

    <div id="pendingLeads" class="pending-leads tabcontent">
      <% if @lead_contacts.count > 0 %>
        <table>
          <thead>
            <tr>
              <th>Created</th>
              <th>Days In Pending</th>
              <th>Name</th>
              <th>Organization</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lead_contacts.each do |lead_contact| %>
              <tr id="<%= lead_contact.id %>">
                <td class="name">
                  <%= lead_contact.created_at.strftime("%D") %>
                </td>
                <td class="name">
                  <%= (Date.current - lead_contact.updated_at.to_date).to_i %>
                </td>
                <td class="name">
                  <%= lead_contact.name %>
                </td>
                <td class="name">
                  <%= lead_contact.organization_name %>
                </td>
                <td class="email">
                  <%= lead_contact.email %>
                </td>
                <td class="phone">
                  <%= lead_contact.phone %>
                </td>
                <td class="delete">
                  <%= form_for [:admin, :sales, lead_contact], method: :delete do |f| %>
                    <%= f.submit "Mark as complete", class: "button tiny red" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div id="deletedLeads" class="deleted-leads tabcontent">
      <% if closed_leads.length > 0 %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Organization</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <% closed_leads.each do |lead_contact| %>
              <% lead_contact = JSON.parse(lead_contact) %>
              <tr>
                <td class="name">
                  <%= lead_contact["name"] %>
                </td>
                <td class="name">
                  <%= lead_contact["org"] %>
                </td>
                <td class="email">
                  <%= lead_contact["email"] %>
                </td>
                <td class="phone">
                  <%= lead_contact["phone"] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
