<div id="root"></div>
<%= content_tag :div,
  id: "ctrl-data",
  data: @ctrl_data do %>
<% end %>
<%= javascript_pack_tag 'ReactSPA' %>

<%= render partial: 'client_admin/suggestions_access/modal' if @tiles_facade %>
<%= render "shared/guest_conversion_lightbox", user: current_user, demo: current_board if should_convert_guest_as_user?(current_user) %>
<%= render "acts/board_welcome_message", board: current_board, show_on_load: @display_board_welcome_message %>
