<div class="report-container" style="display:none;" data-current-demo-id="<%= current_demo_id %>" data-start-date="<%= report_default_start_date %>" data-end-date="<%= Time.now %>">
  <%= render partial: 'client_admin/reports/date_switch_toolbar' %>
  <%= render partial: 'client_admin/reports/participation_component' %>
  <%= render partial: 'client_admin/reports/tile_engagement_component' %>
  <%= render partial: 'client_admin/reports/content_creation_component' %>
</div>
