<div class="js-reports-container reporting-module" data-current-demo-id="<%= current_demo_id %>">

  <div class="tabs-component-full-width">
    <div class="row">
      <ul class="inline-list">
        <li class="active tab js-report-switcher-tab" data-target=".js-tile-emails-report-container"><a href="#">Tile Emails</a></li>
        <li class="tab js-report-switcher-tab" data-target=".js-summary-report-container"><a href="#">Summary</a></li>
      </ul>
    </div>
  </div>

  <div id="tileEmailReports">
    <div class="js-tile-emails-report-container js-report-container" data-path="<%= api_client_admin_tile_email_reports_path %>">
      <div class="js-tile-emails-report-modules-container">

      </div>
      <div class="text-center">
        <%= link_to "Load More", api_client_admin_tile_email_reports_path, class: "button js-next-tile-email-report", style: "display:none;" %>
      </div>
    </div>
  </div>

  <div class="js-summary-report-container js-report-container hide">
    <%= render partial: 'client_admin/reports/summary_participation_module' %>
    <%= render partial: 'client_admin/reports/summary_tile_engagement_module' %>
    <%= render partial: 'client_admin/reports/summary_content_creation_module' %>
  </div>

</div>
