<p>The new level becomes active immediately, and gets assigned to any user who's got sufficient points--so double-check that threshold!</p>

<%= 
  semantic_form_for @level, 
    :url => (@level.new_record? ? 
              admin_demo_levels_path(@demo) :
              admin_level_path(@level.id)
            ) do |form| %>
  <%= form.input :name, :input_html => {:maxlength => 140} %>
  <%= add_byte_counter_for 'Name' %>
  <%= form.input :threshold %>
  <%= form.commit_button %>
<% end %>
