<ul class="tile_preview_menu <%= tile.status + '_menu' %>" >
  <li class="preview_menu_item status">
    <%= tile_preview_menu_status_item(tile) %>
  </li>

  <li class="preview_menu_item edit" >
    <%=link_to edit_client_admin_tile_path(tile),  data:{"tile-id" => tile.id, action: "edit", status: tile.status} do %>
      <i class="fa fa-pencil fa-1x"></i>
      <span class="header_text">
        Edit
      </span>
    <%end%>
  </li>

  <li class="preview_menu_item duplicate" >
    <%= link_to duplicate_client_admin_tile_path(tile, page: 'Edit'), class: "duplicate_tile", data: {"tile-id" => tile.id} do %>
      <i class="fa fa-copy fa-1x"></i>
      <span class="header_text">
        Copy
      </span>
    <%end%>
  </li>

  <li class="preview_menu_item destroy" >
    <%=link_to client_admin_tile_path(tile), class: "delete_tile", data: {"tile-id" => tile.id} do %>
      <i class="fa fa-trash fa-1x"></i>
      <span class="header_text">
      Delete
      </span>
      <%end%>
  </li>
</ul>
