
<div class="row">
  <div class="large-9 large-centered columns ">
    <ul class="tile_preview_menu placeholder_menu" >
         <li class="preview_menu_item" >
        <%=link_to "#"  do %>
          <i class="fa fa-gears fa-1x"></i>
          <span class="header_text">
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item" >
        <%=link_to "#" do %>
          <i class="fa fa-pencil fa-1x"></i>
          <span class="header_text">
            Edit
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item" >
        <%=link_to "#" do %>
          <i class="fa fa-copy fa-1x"></i>
          <span class="header_text">
            Copy
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item" >
        <%=link_to "#", class: "delete_tile" do %>
          <i class="fa fa-trash fa-1x"></i>
          <span class="header_text">
            Delete
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item"  >
        <%=link_to "#" do %>
          <i class="fa fa-rocket fa-1x"></i>
          <span class="header_text">
            Airbo Explore
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item" >
        <%=link_to "#" do %>
          <i class="fa fa-share-alt fa-1x"></i>
          <span class="header_text">
            Share
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item link" >
        <%=link_to "#" do %>
          <i class="fa fa-link fa-1x"></i>
          <span class="header_text">
            Link
          </span>
        <%end%>
      </li>
    </ul>
    <div class='preview_placeholder'>

    <div class='viewer'>
        <a href="#" id="prev" ></a>
        <div class="tile_holder" >
          <div class="pholder image" >
            <i class="fa fa-file-picture-o fa-1x"></i>
          </div>
          <div class="pholder text" >
            <i class="fa fa-file-text fa-1x"></i>
          </div>
        </div>
        <a href="#" id="next" ></a>
    </div>
    </div>
  </div>
</div>
