
<div class="row">
  <div class="large-9 large-centered columns tile_preview_container">
    <ul class="tile_preview_menu" >
      <li class="preview_menu_item tipsy" id="stat_toggle">
      </li>

      <li class="preview_menu_item edit" >
        <%=link_to "#"  do %>
          <i class="fa fa-pencil fa-1x"></i>
          <span class="header_text">
            Edit
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item destroy" >
        <%=link_to "#", class: "delete_tile" do %>
          <i class="fa fa-trash fa-1x"></i>
          <span class="header_text">
            Delete
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item explore tipsy"  >
        <%=link_to "#" do %>
          <i class="fa fa-rocket fa-1x"></i>
          <span class="header_text">
            Airbo Explore
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item share tipsy" >
        <%=link_to "#" do %>
          <i class="fa fa-share-alt fa-1x"></i>
          <span class="header_text">
            Share
          </span>
        <%end%>
      </li>

      <li class="preview_menu_item link tipsy" >
        <%=link_to "#" do %>
          <i class="fa fa-link fa-1x"></i>
          <span class="header_text">
            Link
          </span>
        <%end%>
      </li>
    </ul>

    <div class='viewer'>
      <div id="slideshow">
        <%= render "client_admin/tiles/tile_preview/text_placeholder", tile: @tile, is_preview: true %>
      </div>
    </div>
  </div>
</div>


