<ul class="tile_preview_menu">
  <li class="preview_menu_header <%= tile.status %>">        
    <%= status_name tile %>
  </li>

  <%= render partial: menu_item_path, locals: {
    item_class: "back_header",
    item_id: "back_header",
    link: client_admin_tiles_path(path: tag),
    icon: "chevron-left",
    text: "Back to Tiles"
  } %>

  <% if tile.has_client_admin_status? %>
    <%= render 'client_admin/tiles/tile_preview/activate_deactivate_link', tile: tile %>

    <%= render partial: menu_item_path, locals: {
      item_class: "edit_header",
      link: edit_client_admin_tile_path(tile, path: tag),
      icon: "pencil",
      text: "Edit"
    } %>

    <%= render partial: menu_item_path, locals: {
      item_class: "destroy_header",
      link: client_admin_tile_path(tile, page: 'Large Tile Preview'),
      link_options: { method: :delete, data: { confirm: destroy_tile_message_params } },
      icon: "trash",
      text: "Delete"
    } %>

    <%= render partial: menu_item_path, locals: {
      item_class: "new_tile_header",
      link: new_client_admin_tile_path(path: tag),
      icon: "plus",
      text: "New Tile"
    } %>
  <% elsif tile.user_submitted? %>
    <%= content_tag 'div', class: 'submitted_tile_menu', "data-intro" => "Accept the tile to use it in your Board, or Ignore it to mark it as reviewed." do %>
      <%= render partial: menu_item_path, locals: {
        item_class: "accept_header",
        link: client_admin_tile_path(tile, update_status: Tile::DRAFT, path: :via_preview_user_submitted),
        link_options: { method: :put },
        icon: "check",
        text: "Accept"
      } %>

      <%= render partial: menu_item_path, locals: {
        item_class: "ignore_header",
        link: client_admin_tile_path(tile, update_status: Tile::IGNORED, path: :via_preview_user_submitted),
        link_options: { method: :put },
        icon: "times",
        text: "Ignore"
      } %>
    <% end %>
  <% else # ignored %>
    <%= render partial: menu_item_path, locals: {
      item_class: "undo_ignore_header",
      link: client_admin_tile_path(tile, update_status: Tile::USER_SUBMITTED, path: :via_preview_ignored),
      link_options: { method: :put },
      icon: "undo",
      text: "Undo Ignore"
    } %>
  <% end %>
</ul>
