<%= form_for TilePublicForm.new(tile), url: update_explore_settings_client_admin_tile_path(tile), method: :put, remote: true, html: {id: "public_tile_form"} do |form| %>
  <% config = share_to_explore_css_config(tile)%>
  <%= form.hidden_field :channels %>
  <div class="share_options for_modal">
    <div class="add_tag" >
      <%= text_field_tag "add-tag", nil, placeholder: "Add Tag", data:{searchUrl: client_admin_tile_tags_path}, class: config[:add_tag_class] %>
      <ul class="tile_tags has_tags" >
        <% tile.channels.each do |channel| %>
          <li data-channel= "<%= channel %>">
            <a class="fa fa-times"></a>
            <%= channel %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= content_tag :div, class: config[:share_to_explore_classes] do %>
      <%= tile.is_public ? "Remove from Explore" : "Share to Explore" %>
    <% end %>

    <div id="share_to_explore_buttons" style="display:none">
      <%= form.radio_button :is_public, true, id: "share_on" %>
      <%= form.radio_button :is_public, false, id: "share_off" %>
    </div>
  </div>
<% end %>

<div id="tag-autocomplete-target"></div>
