<% config = share_to_explore_css_config(form.object)%>
<%= form.hidden_field :tile_tag_ids %>
<div class="share_options for_modal">
  <div class="add_tag">
    <%= text_field_tag "add-tag", nil, placeholder: "Add Tag (required)", class: config[:add_tag_class] %>
    <ul class="tile_tags">
      <% form.object.tile_tags.each do |tile_tag| %>
        <li id="<%=tile_tag.id%>">
          <%=tile_tag.title%>
          <%=fa_icon "times"%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="allow_copying">

    <span class="allow_copying_message">
      Allow Copying
      </span>
      <%= content_tag "div", class: config[:copy_switch_classes] do %>
        <%= form.radio_button :is_copyable, true, id: "allow_copying_on" %>
        <%= form.radio_button :is_copyable, false, id: "allow_copying_off" %>
        <span class="green-paddle"></span>
      <% end %>
  </div>

  <%= content_tag :div, class: config[:share_to_explore_classes] do %>
    <%= config[:share_to_explore_text] %>
  <% end %>

  <div id="share_to_explore_buttons" style="display:none">
    <%= form.radio_button :is_public, true, id: "share_on" %>
    <%= form.radio_button :is_public, false, id: "share_off" %>
  </div>
</div>

<div id="tag-autocomplete-target"></div>

<%# content_for :javascript do %>
  <%= javascript_tag do %>
    //$().ready(function(){
     // bindTagNameSearchAutocomplete("#add-tag", "#tag-autocomplete-target", "<%= client_admin_tile_tags_path %>");
   // })
  <% end %>
<%# end %>
