<% overlay_displayed ||= false %>
<% show_copy_button ||= false %>
<% is_preview ||= false %>
<% tile = FullSizeTilePresenter.new(tile, current_user, is_preview, @current_tile_ids, browser) %>

<div class="tile_holder" >

  <div class="">
    <div class="tile_full_image">
      <%= image_tag "spinner.gif", :class => :tile_image,  style: tile.image_styles %>
      <div class="shadow_overlay"></div>
    </div>
      <div class="tile_texts_container">
        <div class="tile_headline content_sections"><%= tile.headline %></div>
        <div class="tile_supporting_content content_sections <%= tile.custom_supporting_content_class %>">
          <%= unescape_html(tile.supporting_content) %>
        </div>
      </div>

        <div class="tile_quiz">
          <% if tile.points %>
            <div class="tile_points_bar">
              <div class="earnable_points">
                <span class="num_of_points" id="tile_point_value"><%= tile.points %></span>
                <span class="points_label"><%= tile.points > 1 ? "Points" : "Point" %></span>
              </div>
            </div>
          <% end %>


          <div class="tile_question content_sections"><%= tile.question %></div>
          <%= render 'tiles/multiple_choice_answers', tile: tile %>
        </div>

  </div>
</div>

