%p 
  Name: 
  = @email_info_request.name
%p 
  Phone: 
  = @email_info_request.phone 
%p 
  Email: 
  = @email_info_request.email 

%p
  Company:
  = @email_info_request.company

%p
  Role:
  = @email_info_request.role

%p
  Source:
  = @email_info_request.source

%p{:style => 'font-weight: bold'}Comments:
.bubble{:style => 'border: 1px solid grey; background: #eee; border-radius: 5px; padding: 0 10px; width: 60ex;'}
  %p 
    - @email_info_request.comment.strip.split("\n").each do |row| 
      = row
      %br

%p= Time.now.pretty 
%br
= render 'shared/unsubscribe_footer' 
