<p><%= "#{@snark + @first_name} wants to know more about us."  %>  </p>

<p>Name: <%= @name %>
<p>Phone: <%= @phone %>
<p>Email: <%= @email %> </p> 
<p>Comments:</p>
<p><%= @comment %></p>

<p>Timestamp(Eastern): <%= Time.now.localtime %></p>
