%tr
  %td.image=           image_tag row.thumbnail
  %td.headline=        row.headline
  %td.total=           row.num_completed
  %td.percent_claimed= number_to_percentage row.percent_claimed, precision: 1
  %td.percent_all=     number_to_percentage row.percent_all, precision: 1
