%tr
  %td= image_tag row.thumbnail
  %td= row.headline
  %td= row.num_completed
  %td= number_to_percentage row.percent_claimed, precision: 1
  %td= number_to_percentage row.percent_all,     precision: 1
