%tr
  %td.report_image
    %div= image_tag row.thumbnail
  %td.report_headline= row.headline
  %td.num_completed= row.num_completed
  %td.percent_claimed= number_to_percentage row.percent_claimed, precision: 1
  %td.percent_all= number_to_percentage row.percent_all,     precision: 1
