<h2 class="first">
  <%= link_to "Admin", admin_path %> »
  <%= link_to @demo.name, admin_demo_path(@demo) %> »
  Blast SMS
</h2>

<h1>WARNING: USE THIS FEATURE JUDICIOUSLY AND SPARINGLY.</h1>

<p>Overuse of this is a bad idea because:
<ul>
  <li>It costs money.</li>
  <li>It will make users hate us.</li>
  <li>It will make Heroku hate us.</li>
  <li>It will make me hate myself.</li>
</ul>
</p>
<br>

<%= form_tag admin_demo_blast_sms_path(@demo), :method => :post, :autocomplete => :off do %>
  <%= label_tag 'message_body' %>
  <%= text_area_tag :message_body, '', :size => 560, :maxlength => 160 %>
  <%= add_byte_counter_for 'Message body' %>
  <%= field_set_tag do %>
    <p>You can choose a time to send the blast at: default is the current time (i.e. send as soon as possible.)</p>
    <%= select_datetime Time.current.localtime, :prefix => 'send_at' %> (Eastern time)
  <% end %>
  <%= submit_tag "Send blast", :disable_with => 'Sending...' %>
<% end %>
