<%= javascript_include_tag 'jquery.lightbox_me' %>
<% copy_url = explore_copy_tile_path(tile_id: tile.id, path: :via_explore_page_tile_view) %>
<div id="copy_button_wrapper">
  <%= image_tag "spinner_gears.gif", class: "full_size_copy_tile_spinner", style: 'display: none' %>
  <%= link_to copy_url, id: 'copy_tile_button' do %>
    <% copy_button_classes = ["copy_button"] %>
    <% copy_button_classes << "uncopied" unless current_user.copied_tile?(tile) %>
    <% copy_button_classes = copy_button_classes.join(' ') %>
    <div class="<%= copy_button_classes %>">
      <%= fa_icon 'files-o'%>
      <%=current_user.copied_tile?(tile) ? 'Copied' : 'Copy'%>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(document).on('click', '#copy_tile_button', function(event) {
      var copyButton = $(event.target);
      var wrapper = copyButton.parents('#copy_tile_button');
      var spinner = wrapper.siblings('.full_size_copy_tile_spinner');
      copyUrl = $("#copy_tile_button").attr("href");

      event.preventDefault();
      wrapper.hide();
      spinner.show();

      $.post(
        copyUrl,
        {},
        function(data) {
          spinner.hide();
          wrapper.show();
          if(data.success) {
            $('.copy_message').find('i').show();
            $('.copy_message').find('#copy_value').text(data.copyCount);
            $('.copy_message').find('#copy_value').show();
            $('.copy_message').find('#copy_msg').show();
            $('#edit_copied_tile_link').attr('href', data.editTilePath);
            Airbo.CopyAlert.open();
            $('.copy_button.uncopied').removeClass('uncopied');
            copyButton.find('copy_button').show();
          }
        },
        'json'
      );
    });
  <% end %>
<% end %>
