<%= javascript_include_tag 'jquery.lightbox_me' %>
<% copy_url = explore_copy_tile_path(tile_id: tile.id) %>
<div id="copy_button_wrapper">
  <%= submit_tag "Copy to my board", id: "copy_tile_button" %>
  <%= image_tag "spinner.gif", style: "display: none;", id: 'tile_spinner' %>
</div>

<div id="tile_copied_lightbox" class="reveal-modal">
  <%= link_to 'Close', '#', class: "close-lightbox-button", id: "close_tile_copied_lightbox" %>
  <p>You've added this tile to the inactive section of your board. Next, you can <%= link_to "edit this tile", "#", id: "edit_copied_tile_link" %>, <%= link_to 'go back to "Explore"', client_admin_explore_path %> or go to <%= link_to "manage your board", client_admin_tiles_path %>.</p>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#copy_tile_button').bind('click', function(event) {
      var copyButton = $(event.target);

      event.preventDefault();
      if(copyButton.hasClass('disabled')) { return; }

      copyButton.addClass('disabled');
      $('#tile_spinner').show();

      $.post(
        '<%= copy_url %>',
        {},
        function(data) {
          $('#tile_spinner').hide();
          if(data.success) {
            $('#edit_copied_tile_link').attr('href', data.editTilePath);
            $('#tile_copied_lightbox').foundation('reveal', 'open');
            copyButton.removeClass('disabled');
          }
        },
        'json'
      );
    });

    $('#close_tile_copied_lightbox').click(function(event) {
      event.preventDefault();
      $('#tile_copied_lightbox').foundation('reveal', 'close');
    });
  <% end %>
<% end %>
