<%= form_tag invitation_dependent_user_invitation_path, class: "bg-gray-quiz dependent_email_form content_sections" do %>
  <label>To</label>
  <%= text_field_tag "dependent_user_invitation[email]" %>

  <label>Subject</label>
  <%= text_field_tag "dependent_user_invitation[subject]" %>

  <%= text_area_tag "dependent_user_invitation[subject]" %>

  <div class="tile_multiple_choice_answer">
    <%= submit_tag "Send", class: "tile_button" %>
  </div>
<% end %>
