<% overlay_displayed ||= false %>
<% show_copy_button ||= false %>
<% is_preview ||= false %>
<% image_is_loading ||= false %>
<% tile = FullSizeTilePresenter.new(tile, current_user, is_preview, @current_tile_ids, browser) %>

<div class="tile_holder"
  data-current-tile-id="<%= tile.id %>"
  data-completed-only="<%= @show_completed_tiles %>"
  data-show-conversion-form="<%= @show_conversion_form||false %>"
  data-show-start-over="<%= session[:display_start_over_button] %>"
  data-current-tile-ids="<%= tile.current_tile_ids_joined %>"
  >

  <div class="<%=tile_class(tile)%>">
    <div class="tile_full_image <%= image_is_loading ? 'loading' : '' %>" style="<%= tile.image_styles %>">
      <%= image_tag tile.image.url, :class => :tile_image, :alt => tile.headline, id:"tile_img_preview" %>
      <div class="shadow_overlay non-landing"></div>
      <div class="image_credit">
        <div class="image_credit_view">
          <%= link_to_if is_url?(tile.image_credit), truncate(tile.image_credit, length: 50), make_full_url(tile.image_credit), target: "_blank" %>
        </div>
      </div>
    </div>

    <% render partial: 'tiles/tile_main', locals: {tile: tile} %>
    <%= render partial: 'invitation/dependent_user_invitations/success' %>

    <% overlay_style = overlay_displayed ? "display:block" : "" %>
    <div id="spinner_large" style="<%= overlay_style %>">
    </div>
  </div>
</div>

<%= render 'tiles/copy_button', tile: tile if show_copy_button%>

<% tile.adjacent_tile_image_urls.each do |adjacent_tile_image_url| %>
  <%= javascript_tag do %>
    $(document).ready(function() { preflight("<%= adjacent_tile_image_url %>"); });
  <% end %>
<% end %>
