<% creator_class = tile.appears_client_created ? 'client_created' : 'admin_created' %>
<% completed_class = @show_completed_tiles ? 'completed' : 'not_completed' %>
<% answer_links_disabled ||= false %>

<div class="tile_holder <%= "#{creator_class} #{completed_class}" %>" data-current-tile-id="<%= tile.id 
  %>" data-completed-only=<%= @show_completed_tiles 
  %> data-position="<%= @current_tile_position_description 
  %>" data-current-tile-ids="<%= @current_tile_ids.join(',') %>">
  <div class="tile_full_image">
    <%= image_tag tile.image.url, :class => :tile_image, :size => tile.image.image_size, :alt => tile.headline %>
  </div>

  <% if tile.appears_client_created %>
    <div class="tile_texts_container">
      <div class="tile_headline"><%= tile.headline %></div>
      <div class="tile_supporting_content"><%= tile.supporting_content %></div>
      <% if tile.link_address.present? %>
        <div class="tile_external_link">
          Visit <%= link_to truncate(tile.link_address, length: 30), tile.link_address, target: '_blank' %> <%= link_to fa_icon("external-link"), tile.link_address, target: '_blank' %>
        </div>
      <% end %>

      <div class="tile_quiz">
        <% if tile.points %>
          <div class="tile_points_bar">
            <div class="earnable_points">
              <span class="num_of_points" id="tile_point_value"><%= tile.points %></span>
              <span class="points_label"><%= tile.points > 1 ? "Points" : "Point" %></span>
            </div>
          </div>
        <% end %>


        <div class="tile_question"><%= tile.question %></div>

        <%= render 'tiles/multiple_choice_answers', tile: tile, answer_links_disabled: answer_links_disabled %>
      </div>
    </div>
  <% end %>

  <div id="spinner_large">
    <%= image_tag 'spinner_large.gif' %>
  </div>
</div>
