<% is_client_created = @client_created_tiles[tile] %>
<% creator_class = is_client_created ? 'client_created' : 'admin_created' %>

<div class="tile_holder <%= creator_class %>" id="<%= tile.id %>">
  <div class="tile_full_image">
    <% image_html = image_tag tile.image.url, :class => :tile_image, :size => tile.image.image_size, :alt => tile.headline %>
    <% if tile.link_address.present? %>
      <% image_html = link_to(image_html, tile.link_address, target: '_blank', class: 'tile_link') %>
    <% end %>
    <%= image_html %>
  </div>

  <% if is_client_created %>
    <div class="tile_texts_container">
      <div class="tile_headline"><%= tile.headline %></div>
      <div class="tile_supporting_content"><%= tile.supporting_content %></div>
      <div class="tile_quiz">
        <div class="tile_points">
          <span class="num_of_points"><%= tile.points %></span>
          <span class="points_label"><%= tile.points > 1 ? "pts" : "pt" %></span>
        </div>
        <div class="tile_question"><%= tile.question %></div>

        <% if tile.multiple_choice_answers.present? %>
          <% tile.multiple_choice_answers.each_with_index do |answer, i| %>
            <%= content_tag "div", class: "tile_multiple_choice_answer" do %>
              <% if i == tile.correct_answer_index %>
                <%= link_to answer, tile_completions_path(tile_id: tile.id), method: :post %>
              <% else %>
                <%= link_to answer, '#', class: "wrong_multiple_choice_answer" %>
              <% end %>
              <div class="wrong_answer_target" style="display: none"></div>
            <% end %>
          <% end %>

          <% content_for :javascript do %>
            <%= javascript_tag do %>
              var attachWrongAnswer = function(answerLink, target) {
                answerLink.click(function(event) {
                  event.preventDefault();
                  target.html("Sorry, that's not it. Try again!");
                  target.show();
                })
              }

              _.each($('.wrong_multiple_choice_answer'), function(wrongAnswerLink) {
                wrongAnswerLink = $(wrongAnswerLink);
                var target = wrongAnswerLink.siblings('.wrong_answer_target');
                attachWrongAnswer(wrongAnswerLink, target);
              });
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
