<% creator_class = tile.appears_client_created ? 'client_created' : 'admin_created' %>
<% answer_links_disabled ||= false %>

<div class="tile_holder <%= creator_class %>" id="<%= tile.id %>">
  <div class="tile_full_image">
    <% image_html = image_tag tile.image.url, :class => :tile_image, :size => tile.image.image_size, :alt => tile.headline %>
    <% if tile.link_address.present? %>
      <% image_html = link_to(image_html, tile.link_address, target: '_blank', class: 'tile_link') %>
    <% end %>
    <%= image_html %>
  </div>

  <% if tile.appears_client_created %>
    <div class="tile_texts_container">
      <div class="tile_headline"><%= tile.headline %></div>
      <div class="tile_supporting_content"><%= tile.supporting_content %></div>
      <div class="tile_quiz">
        <% if tile.points %>
          <div class="tile_points">
            <span class="num_of_points"><%= tile.points %></span>
            <span class="points_label"><%= tile.points > 1 ? "pts" : "pt" %></span>
          </div>
        <% end %>
        <div class="tile_question"><%= tile.question %></div>

        <%= render 'tiles/multiple_choice_answers', tile: tile, answer_links_disabled: answer_links_disabled %>
      </div>
    </div>
  <% end %>
</div>
