<div class="tile_holder" id="<%= tile.id %>">
  <% image_html = image_tag tile.image.url, :class => :tile_image, :size => tile.image.image_size, :alt => tile.headline %>
  <% if tile.link_address.present? %>
    <% image_html = link_to(image_html, tile.link_address, target: '_blank', class: 'tile_link') %>
  <% end %>
  <%= image_html %>

  <% if @client_created_tiles[tile] %>
    <div class="tile_supporting_content"><%= tile.supporting_content %></div>
    <div class="tile_question"><%= tile.question %></div>
    <% if tile.first_rule && tile.first_rule.points %>
      <div class="tile_points">+<%= pluralize(tile.first_rule.points, 'point') %></div>
    <% end %>
  <% end %>
</div>
