<% trigger_link_id = "right_multiple_choice_answer_#{tile.id}" %>
<% target_link_id  = "multiple_choice_target_link_#{tile.id}" %>

<% if tile.multiple_choice_answers.present? %>
  <div class="multiple_choice_group">
    <% tile.multiple_choice_answers.each_with_index do |answer, i| %>
      <%= content_tag "div", class: "tile_multiple_choice_answer" do %>

        <% if answer_links_disabled %>
          <%= link_to answer, '#', class: "nerfed_answer" %>
        <% else %>
          <% if i == tile.correct_answer_index %>
            <%= link_to answer, '#', id: trigger_link_id %>
          <% else %>
            <%= link_to answer, '#', class: "wrong_multiple_choice_answer" %>
          <% end %>
        <% end %>

        <div class="wrong_answer_target" style="display: none"></div>
      <% end %>
    <% end %>
    <%= link_to '', tile_completions_path(tile_id: tile.id), method: :post, style: "display: none", id: target_link_id %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var attachWrongAnswer = function(answerLink, target) {
          answerLink.click(function(event) {
            event.preventDefault();
            target.html("Sorry, that's not it. Try again!");
            target.slideDown(250);
            $(this).addClass("clicked_wrong");
          })
        }

        var nerf = function(event) {event.preventDefault()};

        $('.nerfed_answer').click(nerf);

        $('#<%= trigger_link_id %>').one("click", function(event) {
          event.preventDefault();
          $('#<%= target_link_id %>').click();
          $(event.target).click(nerf);
        });


        _.each($('.wrong_multiple_choice_answer'), function(wrongAnswerLink) {
          wrongAnswerLink = $(wrongAnswerLink);
          var target = wrongAnswerLink.siblings('.wrong_answer_target');
          attachWrongAnswer(wrongAnswerLink, target);
        });
      <% end %>
    <% end %>
  </div>
<% end %>
