<% target_link_id  = "multiple_choice_target_link_#{tile.id}" %>
<% remove_right_answer_target ||= false %>
<% is_preview ||= false %>

<% if tile.multiple_choice_answers.present? %>
  <div class="multiple_choice_group">
    <% tile.multiple_choice_answers.each_with_index do |answer, i| %>
      <%= content_tag "div", class: "tile_multiple_choice_answer" do %>
      
        <% if !is_preview && tile.tile_completions.where(user_id: current_user).present? %>
          <% if tile.tile_completions.where(user_id: current_user).first.answer_index == i %>
            <%= content_tag :div , answer, class: 'clicked_right_answer' %>
          <% else %>
            <%= link_to answer, '#', class: "nerfed_answer" %>
          <% end %>
        <% else %>
          <% if i == tile.correct_answer_index || tile.is_survey? || tile.is_action? %>
            <%= link_to answer, tile_completions_path(tile_id: tile.id, answer_index: i), class: "right_multiple_choice_answer", data: {tile_id: tile.id} %>
          <% else %>
            <%= link_to answer, '#', class: "wrong_multiple_choice_answer" %>
          <% end %>
        <% end %>

        <div class="answer_target" style="display: none"></div>
      <% end %>
    <% end %>
    <% content_for :javascript do %>
      <% if is_preview %>
        <%= javascript_tag do %>
          setUpAnswersForPreview();
        <% end %>
      <% else %>
        <%= javascript_tag do %>
          setUpAnswers();
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
