<div class="acts-index">
  <% if current_user.is_a?(GuestUser) && current_board.internal? %>
    <%= render "acts/board_welcome_message", board: current_board, show_on_load: false %>
  <% end %>
  <%= render partial: 'shared/tiles/user_progress', locals: { as_null:false, raffle: current_user.demo.raffle, opts: {} } %>
</div>
<% if @all_tiles_done %>
  <%= render 'all_tiles_done' %>
<% else %>
  <div class="container row">
    <%= render "viewer", locals:{tile: @start_tile}%>
  </div>
<% end %>

<% if should_convert_guest_as_user?(current_user) %>
  <%= render "shared/guest_conversion_lightbox", user: current_user, demo: current_board %>
<% end %>
