= javascript_include_tag 'jquery.lightbox_me'
= render partial: 'shared/tiles/user_progress'
- if @all_tiles_done
  = render 'all_tiles_done'
- else
  .container.row
    .tile_viewer_header
      %p#position.small_cap
        = @current_tile_position_description
    .viewer
      = link_to "#", :id => :prev do
        = "Previous" if device_type == :mobile
      #slideshow
        = render 'full_size_tile', :tile => @start_tile, :current_tiles => @current_tiles
      = link_to "#", :id => :next do
        = "Next" if device_type == :mobile

= render "shared/guest_conversion_lightbox"
