= javascript_include_tag 'jquery.lightbox_me'

.container.row
  - if @all_tiles_done
    #tiles_done_message
      %p= done_all_tiles_message
      = link_to "Return to homepage", (params[:public_slug] ? public_activity_path(params[:public_slug]) : activity_path)
  - else
    .tile_viewer_header
      %p#position.small_cap
        = @current_tile_position_description
    .viewer
      = link_to "#", :id => :prev do
        = "Previous" if device_type == :mobile
      #slideshow
        = render 'full_size_tile', :tile => @start_tile, :current_tiles => @current_tiles
      = link_to "#", :id => :next do
        = "Next" if device_type == :mobile

= render "shared/guest_conversion_lightbox"
