<h2 class="first">
  <%= link_to "Admin", admin_path %> »
  <% if @demo %> 
    <%= link_to @demo.name, admin_demo_path(@demo) %> 
    »
    <%= link_to 'Rules', admin_demo_rules_path(@demo) %>
  <% else %>
    <%= link_to 'Standard Playbook Rules', admin_rules_path %>
  <% end %>
  » Edit
</h2>

<h2>Edit Rule</h2>
<%= render 'rule_form', :rule => @rule, :primary_value => @primary_value, :secondary_values => @secondary_values, :action_path => admin_rule_path(@rule) %>
