<%= image_tag 'right_triangle.png', style: 'display: none' %>
<%= image_tag 'down_triangle.png', style: 'display: none' %>

<h2 class="first">
  <%= link_to "Admin", admin_path %> »
  <% if @demo %>
    <%= link_to @demo.name, admin_demo_path(@demo) %> » Rules
  <% else %>
    Standard Playbook
  <% end %>
</h2>

<%= link_to "Add new rule", @new_rule_path %>

<div id="existing-rules">
  <h2>Existing Rules</h2>

  <a href="#" id="show-all-secondary-values">Show all secondary values</a>

  <table>
    <tr>
      <th>Rules</th>
      <th>Points</th>
      <th>Reply</th>
      <th>Description</th>
      <th>Alltime limit</th>
      <th>Referral points</th>
      <th>Suggestible?</th>
      <th>Primary Tag</th>
      <th>Other Tags</th>
    </tr>

    <% @existing_rules.each_with_index do |existing_rule, rule_index| %>
      <tr>
        <td>
          <%= image_tag "right_triangle.png", "data-row-to-toggle" => "tr#aliases_#{rule_index}", "data-other-graphic-path" => image_path("down_triangle.png"), :class => "row-toggle-button" %>
          <%= existing_rule.primary_value.value %>
        </td>

        <% %w(points reply description alltime_limit referral_points suggestible).each do |field_name| %>
          <%= content_tag 'td', existing_rule[field_name] %>
        <% end %>
        <td>
          <% if existing_rule.primary_tag %>
            <%= existing_rule.primary_tag.name %>
          <% end %>
        </td>
        <td>
          <% existing_rule.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </td>

        <td>
          <%= link_to 'Edit Rule', edit_admin_rule_path(existing_rule) %>
        </td>
        <td>
          <%= link_to 'Delete Rule', admin_rule_path(existing_rule), :method => :delete %>
        </td>
      </tr>

      <tr class="aliases" id="aliases_<%=rule_index%>">
        <td colspan="8">
          <% existing_rule.secondary_values.each do |secondary_value| %>
            <%= secondary_value.value %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.row-toggle-button').click(function(e) {
      var clicked_button = $(e.target);
      var row_id_to_toggle = clicked_button.data('row-to-toggle');
      var other_graphic_path = clicked_button.data('other-graphic-path')
      var tmp_path = clicked_button.attr('src');

      $(row_id_to_toggle).toggle();
      clicked_button.attr('src', other_graphic_path);
      clicked_button.data('other-graphic-path', tmp_path);
    });

    $('#show-all-secondary-values').click(function(e) {
      $('.row-toggle-button').attr('src', '<%= image_path "down_triangle.png" %>').data('other-graphic-path', '<%= image_path "right_triangle.png"%>');
      $('.aliases').show();
      e.preventDefault();
    });
  <% end %>
<% end %>
