<li class="associate" id="<%=dom_id(associate)%>">
  <span class="associate-name"><%= link_to(associate.name, associate) %></span>
  <div class="avatar48">
    <%= default_avatar_tag associate, :alt => associate.name %>
  </div>

  <br/>

  <strong><%= associate.points %></strong> points,
  fan of <span class="fan-count" id="following_count"><%= following_count_phrase(associate) %></span>,
  has <span class="fan-count" id="followers-count"><%= followers_count_phrase(associate) %></span>.

  <% if button_type == :unfollow %>
    <%= button_to "Unconnect", user_friendship_path(associate), :method => :delete %>
  <% else %>
    <%= button_to "Connect", user_friendship_path(associate) %>
  <% end %>
</li>
