<div id="fans-wrapper">
  <div id="fans-of" class="fan-column">
    <ul id="followings">
      <h2>People You're A Fan Of</h2>
      <%= render :partial => 'shared/new_associate', :collection => @friends, :as => :associate, :locals => {:button_type => :unfollow} %>
    </ul>

    <%= render 'see_more', :scope => '#fans-of' %>

    <%= render 'shared/bind_see_more', 
      :offset_var_name  => 'friendsOffset', 
      :current_offset   => @friends.length,
      :button_selector  => '#fans-of .see-more',
      :spinner_selector => '#fans-of .spinner',
      :path             => 'friends.js'
    %>
  </div>

  <div id="fans" class="fan-column">
    <h2>People Who Are Your Fan</h2>
    <ul id="followers">
      <% @followers.each do |follower| %>
        <% button_type = (@all_friend_ids.include?(follower.id) ? :unfollow : :follow) %>
        <%= render 'shared/new_associate', :associate => follower, :button_type => button_type %>
      <% end %>
    </ul>

    <%= render 'see_more', :scope => "#fans" %>

    <%= render 'shared/bind_see_more', 
      :offset_var_name  => 'followersOffset', 
      :current_offset   => @followers.length,
      :button_selector  => '#fans .see-more',
      :spinner_selector => '#fans .spinner',
      :path             => 'followers.js',
      :after            => "resizeFansOf()"
    %>
  </div>
</div>
