<%= stylesheet_link_tag "internal/explore" %>

<div class='row'>
  <div class='large-12 columns client_admin_explore_tile_tag'>
    <ul class='large-12'>
      <li class='explore_section'>
        <%= link_to client_admin_explore_path do %>
          Explore:
        <% end %>
      </li>
      <li class='tile_tag'>
        <%= @topic.name %>
        <%= fa_icon 'tag' %>
      </li>
    </ul>
  </div>
</div>

<div class="row client_admin_explore">
  <div class='large-12 column'>
    <%= render partial: 'tags', locals: {tile_tags: @tile_tags} %>
    <div class='row tile_with_tags'>
      <%= render partial: 'explores/tile_with_tags', locals: {tiles: @tiles, path_for_more_tiles: @path_for_more_tiles} %>
    </div>
  </div>
</div>
<%= mp_track_page 'explore' %>
