<header class="admin-sub-header">
  <div class="row">
    <div class="columns small-12">
      <nav class="top-bar hide-for-small">
        <section class="top-bar-section">
          <!-- Right Nav Section -->

          <ul class="left">
            <li class="name">
              <%= link_to "Admin Home", admin_path %>
            </li>
          </ul>
          <ul class="leftl">
            <li class="has-dropdown not-click">
              <a href="#">Content</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Explore Digests', admin_explore_digests_path %>
                </li>
                <li>
                  <%= link_to 'New Explore Digest', new_admin_explore_digest_path %>
                </li>
                <li>
                  <%= link_to 'Campaigns', admin_campaigns_path  %>
                </li>
                <li>
                  <%= link_to 'Case Studies', admin_case_studies_path  %>
                </li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="#">Users</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Board Migrator', new_admin_user_migrator_path  %>
                </li>
              </ul>
            </li>

            <li class="has-dropdown not-click">
              <a href="#">Customer Success</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Organizations', admin_organizations_path  %>
                </li>
                <li>
                  <%= link_to 'Boards', admin_demos_path  %>
                </li>
                <li>
                  <%= link_to 'Board Matcher', admin_unmatched_boards_path  %>
                </li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="#">Sales</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Dashboard', admin_sales_path  %>
                </li>
                <li>
                  <%= link_to 'New Organization', new_admin_sales_organization_path  %>
                </li>
                <li>
                  <%= link_to 'Inbound Leads', admin_sales_lead_contacts_path  %>
                </li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="#">Product</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Airbo Search Analytics', admin_searchjoy_path  %>
                </li>
                <li>
                  <%= link_to 'Styleguide', admin_reference_styleguide_path  %>
                </li>
                <li>
                  <%= link_to 'Airbo Learning', airbo_learning_url, target: "_blank" %>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</header>
