.admin

  %h1.first Admin
  #which_game
    %p You are currently in
    = form_for :user, :url => admin_user_transfer_path, :remote => true,   :html=>{:method=>:put, :id => 'transfer_user_form'} do
      = select :user, :demo_name, @demos.pluck(:name), :selected => @current_user.demo.name
      #transfer_user_form_message.ajax_notice
    = content_for :javascript do
      :javascript 
        $("#user_demo_name").change(function(){
          $("#transfer_user_form").submit();
          $("#transfer_user_form_message").removeClass("bold");
          $("#transfer_user_form_message").text("Just a moment..");
          $("#transfer_user_form_message").fadeIn(500);
        });
    #locate_user
      %p Find a lost user
      = form_for :user, :url => admin_lost_user_path do |f|
        = f.text_field :email, :placeholder => 'email'
        = f.submit "Find"
  %h2 Games
  %ul.demos
    - @demos.each do |demo| 
      - link_text = demo.name 
      - extra_info = [] 
      - link_text << " (#{extra_info.join(', ')})" unless extra_info.empty? 

      %li= link_to link_text, admin_demo_path(demo)
  %p= link_to 'Create New Game', new_admin_demo_path 
  
  %h2 Game-Agnostic Features
  %p= link_to "Standard playbook rules", admin_rules_path 
  %p= link_to 'Tags', admin_tags_path
  %p= link_to 'Standard characteristics', admin_characteristics_path


  
