<div class="row ">
  <div class="columns large-12">
    <h3 class="blue">Admin | home</h3>
    <%= form_for :user, :url => admin_lost_user_path do |f| %>
      <label>Find a lost user</label>
      <%= f.text_field :email, :placeholder => 'email', style: "display:inline" %>
      <%= f.submit "Find", class: "button primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="row ">
  <div class="columns large-6">
    <%= render "admin/boards" %>
  </div>
  <div class="columns large-6">
    <p>
    <%= link_to 'Tags', admin_tags_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Standard characteristics', admin_characteristics_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Explore Digest', new_admin_explore_digest_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Image Library', admin_tile_images_path, class: "blue" %>
    </p>
    <p>
      <%= link_to 'Edit Support Page', edit_admin_support_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Customer Metrics & KPIs', organization_metrics_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Reports', admin_client_kpi_report_path, class: "blue" %>
    </p>
  </div>
  </div>
</div>
