

<div class="row ">
  <div class="columns large-12">
    <h3 class="blue">Admin | home</h3>
    <%= form_for :user, :url => admin_lost_user_path do |f| %>
      <label>Find a lost user</label>
      <%= f.text_field :email, :placeholder => 'email', style: "display:inline" %>
      <%= f.submit "Find", class: "button primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="row ">
  <div class="columns large-12">
    <h3 class="blue">Organizations</h3>
    <p>
    <%= link_to 'New Organization', new_admin_organization_path, class: "button"  %>
    </p>
    <%= render "admin/organizations/orgs_table" %>
  </div>
</div>
