<div class="row ">
  <div class="columns large-12">
    <h3 class="blue">Admin | home</h3>
    <%= form_for :user, :url => admin_lost_user_path do |f| %>
      <label>Find a lost user</label>
      <%= f.text_field :email, :placeholder => 'email', style: "display:inline" %>
      <%= f.submit "Find", class: "button success" %>
    <% end %>
  </div>
</div>
<br>
<div class="row ">
  <div class="columns large-6">
    <h3 class="blue">Boards</h3>
    <p>
      <%= link_to 'Create New Board', new_admin_demo_path, class: "button"  %>
    </p>
    <div class="row ">
      <div class="columns large-12">
        <br>
        <input type="text" name="demo-search" id="demo-search" placeholder="search demos" class="form-control demo-title">
        <br>
      </div>
      <div class="columns large-12">
        <button type="button" name="commit" value="all" id:"filter-all" class="button success demo-button filter-button active-filter">all</button>
        <button type="button" name="commit" value="small" id:"filter-maybe" class="button success demo-button filter-button">small</button>
        <button type="button" name="commit" value="medium" id:"filter-yes" class="button success demo-button filter-button">medium</button>
        <button type="button" name="commit" value="enterprise" id:"filter-now" class="button success demo-button filter-button">enterprise</button>
      </div>
    </div>
    <br>
    <table>
      <thead>
        <tr>
          <th>Board</th>
          <th>Number of Users</th>
          <th>Dependent Board</th>
        </tr>
      </thead>
      <tbody>
        <% @demos.each do |demo| %>
          <% user_count = demo.user_count.to_i %>
          <tr id="<%= demo.id %>" class="demo" data-companySize="<%= demo.company_size(user_count) %>" data-isPaid="<%= demo.is_paid %>">
            <td class="title"><%= link_to demo.name, admin_demo_path(demo), class: "blue" %></td>
            <td class="company-size"><%= user_count %></td>
            <% if demo.dependent_board_id %>
              <td><%= link_to demo.dependent_board_id, admin_demo_path(demo.dependent_board_id), class: "blue" %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="columns large-6">
    <p>
    <%= link_to 'Tags', admin_tags_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Standard characteristics', admin_characteristics_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Explore Digest', new_admin_explore_digest_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Image Library', admin_tile_images_path, class: "blue" %>
    </p>
    <p>
      <%= link_to 'Edit Support Page', edit_admin_support_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Customer Metrics & KPIs', organization_metrics_path, class: "blue" %>
    </p>
    <p>
    <%= link_to 'Reports', admin_client_kpi_report_path, class: "blue" %>
    </p>
  </div>
  </div>
</div>
