.admin

  %h1.first Admin
  #which_game
    %p You are currently in
    = form_for :user, :url => admin_user_transfer_path, :remote => true,   :html=>{:method=>:put, :id => 'transfer_user_form'} do
      = select :user, :demo_name, Demo.all.collect(&:name), :selected => @current_user.demo.name
      #transfer_user_form_message.ajax_notice
    = content_for :javascript do
      :javascript 
        $("#user_demo_name").change(function(){
          $("#transfer_user_form").submit();
          $("#transfer_user_form_message").removeClass("bold");
          $("#transfer_user_form_message").text("Just a moment..");
          $("#transfer_user_form_message").fadeIn(500);
        });
     
  %h2 Games
  %ul.demos
    - @demos.each do |demo| 
      - link_text = demo.name 
      - extra_info = [] 
      - extra_info << "#{demo.victory_threshold} points to win" if demo.victory_threshold 
      - extra_info << "victory email to #{demo.victory_verification_email}" if demo.victory_verification_email 
      - extra_info << "victory SMS to #{demo.victory_verification_sms_number}" if demo.victory_verification_sms_number 
      - link_text << " (#{extra_info.join(', ')})" unless extra_info.empty? 

      %li= link_to link_text, admin_demo_path(demo)
  %p= link_to 'Create New Game', new_admin_demo_path 
  
  %h2 Game-Agnostic Features
  %p= link_to "Standard playbook rules", admin_rules_path 
  %p= link_to "Forbidden rules", admin_forbidden_rules_path 
  %p= link_to 'Tags', admin_tags_path
  %p= link_to 'Bad Words', admin_bad_words_path 
  %p= link_to 'Standard characteristics', admin_characteristics_path
  
