.admin

  %h1.first Admin
  #which_game
    #locate_user
      %p Find a lost user
      = form_for :user, :url => admin_lost_user_path do |f|
        = f.text_field :email, :placeholder => 'email'
        = f.submit "Find"
  %h2 Games
  %ul.demos
    - @demos.each do |demo| 
      - link_text = demo.name 
      - extra_info = [] 
      - link_text << " (#{extra_info.join(', ')})" unless extra_info.empty? 

      %li= link_to link_text, admin_demo_path(demo)
  %p= link_to 'Create New Game', new_admin_demo_path 
  
  %h2 Game-Agnostic Features
  %p= link_to 'Tags', admin_tags_path
  %p= link_to 'Standard characteristics', admin_characteristics_path
  %p= link_to 'Explore Digest', new_admin_explore_digest_path
  %p= link_to 'Image Library', admin_tile_images_path

  
