<% # We send 'claimed' users to the main activities page; "unclaimed" users have to accept their invitation first %>
<% site_link = email_site_link(@user, @demo, @is_preview ||= false) %>
<% link_options = @is_preview ? {target: '_blank'} : {} %>
<table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="padding-top:10px;padding-bottom:10px;">
      <%= render partial: "tiles_digest_mailer/header" %>
      <table width="480" align="center" cellpadding="0" cellspacing="0" border="0" class="columns">
      <tr>
        <td style="padding-left:20px;padding-right:20px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;">

          <!-- content -->
          <table width="436" align="center" cellpadding="0" cellspacing="0" border="0" class="columnsNoPadding">
          <tr>
            <td style="font-family:Helvetica,Arial,sans-serif;font-size:24px;color:#4c4c4c;mso-line-height-rule:exactly;line-height:24px;padding-top:40px;padding-bottom:20px;" class="columnNormal">
              <% if @email_heading %>
                <%= email_heading %>
              <% else %>
                <%= digest_email_heading_begin %>
                <%= link_to 'new tiles', site_link, link_options.merge({style:'color:#4faa60; font-weight:bold; font-weight:500; font-size:24px; text-decoration:none;'}) %>
                <%= digest_email_heading_end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td id="custom_message" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#a8a8a8;mso-line-height-rule:exactly;line-height:24px;padding-bottom:60px;word-break: break-all;" class="columnNormal">
              <% if !@custom_message.nil? && @custom_message.size > 0 %>
                <%= @custom_message %>
              <% end %>
            </td>
          </tr>
          </table>

          <%= render partial: "tiles_digest_mailer/notify_one_tiles_row", locals: {site_link: site_link, link_options: link_options} %>

          <!-- See Tiles -->
          <table width="436" cellpadding="0" cellspacing="0" border="0" class="columnsNoPadding">
          <tr>
            <td bgcolor="#4face0" align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;">
              <%= link_to 'See Tiles', site_link, link_options.merge({style:'color:#ffffff;text-decoration:none;display:block;border-left:10px solid #4face0;border-right:10px solid #4face0;border-top:15px solid #4face0;border-bottom:15px solid #4face0;'}) %>
            </td>
          </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#a8a8a8;padding-top:20px;padding-bottom:50px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;">
          <span class="newLineMobile">You won't have to log in.</span> Works on mobile.
        </td>
      </tr>
      </table>
      <%= render partial: "tiles_digest_mailer/footer", locals: {link_options: link_options} %>
    </td>
  </tr>
</table>