<% # We send 'claimed' users to the main activities page; "unclaimed" users have to accept their invitation first %>
<% site_link = email_site_link(@user, @demo, @is_preview ||= false) %>
<% link_options = @is_preview ? {target: '_blank'} : {} %>
<!-- content -->
<table width="436" align="center" cellpadding="0" cellspacing="0" border="0" class="columnsNoPadding">
  <tr>
    <td style="font-family:Helvetica,Arial,sans-serif;font-size:24px;color:#4c4c4c;mso-line-height-rule:exactly;line-height:24px;padding-top:40px;padding-bottom:20px;" class="columnNormal">
      <%= link_to @email_heading, site_link, link_options.merge({style:'color:#4faa60; font-weight:bold; font-weight:500; font-size:24px; text-decoration:none;color:#4c4c4c;'}) %>
    </td>
  </tr>
  <tr>
    <td id="custom_message" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#a8a8a8;mso-line-height-rule:exactly;line-height:24px;padding-bottom:60px;word-break: break-word;" class="columnNormal">
      <% if @custom_message.present? %>
        <%= @custom_message %>
      <% end %>
    </td>
  </tr>
</table>
<% unless @follow_up_email %>
  <%= render partial: "tiles_digest_mailer/notify_one_tiles_row", locals: {site_link: site_link, link_options: link_options} %>
<% else %>
  <% @tiles.each do |tile| %>
    <%= render partial: "tiles_digest_mailer/notify_one_full_tile", locals: {tile: tile, site_link: site_link, link_options: link_options} %>
  <% end %>
<% end %>
<%= render partial: 'mailer/main_button', locals: {button_text: 'See Tiles', button_url: site_link} %>
        