<div class="topic-board-form">
  <%=form_for [:admin, @topic_board] do |f| %>
    <ul>
      <li>
        <label>Topic</label>
        <%=f.select :topic_id, options_from_collection_for_select(@topics, :id,  :name, f.object.topic_id), {include_blank: true}, class: "airbo-chosen-select"%>
      </li>

      <li>
        <label>Board</label>
        <%=f.select :demo_id, options_from_collection_for_select(@demos, :id,  :name, f.object.demo_id), {include_blank: true}, class: "airbo-chosen-select" %>
      </li>

      <li>
        <label>Make this board the Reference board for this topic </label>
        <%=f.check_box :is_reference %> Yes
      </li>
    </ul>
    <p>
    <%=f.submit "Save",class: "button right" %>
    <%=link_to "Edit", edit_admin_topic_board_path(@topic_board), class:'button outlined right'%>
    </p>
  <%end%>
</div>
