
<div class="row">
  <h3>Library/Onboarding Boards</h3>
  <div class="columns small-12">
    <table>
      <thead>
        <tr>
          <th>Board</th>
          <th>Topic</th>
          <th>Is Library?</th>
          <th>Is Onboarding?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <%@topic_boards.each do |topic_board| %>
       <tr class="">
         <td><%= topic_board.board_name %></td>
         <td><%= topic_board.topic_name %></td>
         <td><%= topic_board.is_library %></td>
         <td><%= topic_board.is_onboarding %></td>
         <td><%= link_to "Edit", edit_admin_topic_board_path(topic_board) %></td>
         <td><%= link_to "Remove from Library and Onboarding", [:admin, topic_board], method: :delete %></td>
       </tr>
      <%end%>
    </tbody>
    </table>
    <div>
    <%= link_to "New Library/Onboarding Board", new_admin_topic_board_path %>
    </div>
  </div>
</div>
