
<div class="row">
  <h1>Topic Boards</h1>
  <div class="columns small-12">
    <table>
      <thead>
        <tr>
          <th>Topic</th>
          <th>Board</th>
          <th>Is Library?</th>
          <th>Is Onboarding?</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
    <tbody>
      <%@topic_boards.each do |topic| %>
       <tr class="">
         <td><%= topic.topic_name %></td>
         <td><%= topic.board_name %></td>
         <td><%= topic.is_library %></td>
         <td><%= topic.is_onboarding %></td>
         <td>
           <%= link_to "Edit", edit_admin_topic_board_path(topic) %>
           <%= link_to "Delete", admin_topic_boards_path(topic) %>
         </td>
       </tr>
      <%end%>
    </tbody>
    </table>
    <div>
    <%= link_to "New Topic Board", new_admin_topic_board_path %>
    </div>
  </div>
</div>
