<div id="check_phone" class="verify_section">
  <h1>Check Your Phone</h1>
  <p>We sent a text message to your phone to verify your number</p>
  <div id="enter_code">
    <%= form_for current_user, :url => phone_verification_path, :method => :put do |f| %>
      <%= f.text_field :new_phone_validation, :value => '', :placeholder => 'Enter code here' %>
      <div class="button_wrap"><%= submit_tag 'Enter' %></div>
    <% end %>
    <%= form_for current_user, :url => resend_phone_verification_path, :method => :post, :html => {:id => :resend} do |f| %>
      <div id="resend_phone_verification_btn">
        <%= link_to "Resend", '#' %>  
      </div>
    <% end %>
    <%= form_for current_user, :url => cancel_phone_verification_path, :method => :delete, :id => :cancel, :html => {:id => :cancel} do |f| %>
      <div id="cancel_phone_verification_btn">
        <%= link_to "Skip this step", '#' %>
      </div>
    <% end %>
  </div>
</div>


