<div data-role="header">
  <%= link_to "Home", home_path, :class => "ui-btn-left", "data-direction" => "reverse" %>
  <h1>Scoreboard</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @users.each do |user| %>
      <li class="leader" value="<%= user.ranking %>">
        <div class="user">
          <%= link_to(user.name, user) %>
          <span class="score">
            <span class="score-value"><%= user.points %></span> pts
          </span>
        </div>
        <% if user.won_at %>
          <span class="other-user-winning-time">won <%= time_ago_in_words(user.won_at) %> ago</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
