<%= render :partial => 'shared/flashes' -%>

<% if @existing_domains.present? %>
  <ul>
    <% @existing_domains.each do |existing_domain| %>
      <li class="domain">
        <%= existing_domain.domain %>
        <%= button_to "Destroy #{existing_domain.domain}", admin_demo_self_inviting_domain_path(@demo, existing_domain), :method => :delete, :confirm => "Are you sure you want to destroy #{existing_domain.domain}?" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No self-inviting domains for this demo.</p>
<% end %>

<%= semantic_form_for(@domain, :url => admin_demo_self_inviting_domains_path) do |f| %>
  <%= f.input :domain %>
  <%= f.commit_button %>
<% end %>
