<p class="text-center">{{modalTitle}}</p>
<form class="js-edit-campaign-form" action="{{action}}" accept-charset="UTF-8" method="{{method}}">
  <label for="campaign_name">Campaign Name</label>
  <input type="text" name="campaign[name]" id="campaign_name" required class="js-campaign-name" value="{{name}}">

  <label for="color">Campaign Color</label>
  <div class="campaign-colors">
    <div class="js-campaign-color-option color-option" data-hex-color="#ffb748" style="background:#ffb748">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#ff687b" style="background:#ff687b">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#b6a9f1" style="background:#b6a9f1">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#4fd4c0" style="background:#4fd4c0">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#42b2ee" style="background:#42b2ee">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#40beff" style="background:#40beff">
    </div>
    <div class="js-campaign-color-option color-option" data-hex-color="#8da0ab" style="background:#8da0ab">
    </div>
  </div>

  <div class="color-picker">
    <input type="color" name="campaign[color]" id="campaign_color" value="{{color}}" class="js-campaign-color">
  </div>

  <input type="submit" name="commit" value="{{submitCopy}}" class="button mt-1 right">
</form>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
