<%
  display_all_users = demo.everyone_can_make_tile_suggestions
  display_specific_users = !display_all_users
%>

<%= form_for demo, url: client_admin_suggestions_access_path, html: {id: "suggestion_box_form"} do |form| %>
  <%= render partial: 'client_admin/suggestions_access/switcher', locals: { form: form, display_all_users: display_all_users, display_specific_users: display_specific_users } %>

  <%= render partial: 'client_admin/suggestions_access/all_users', locals: { display_all_users: display_all_users } %>

  <%= render partial: 'client_admin/suggestions_access/specific_users', locals: { users: users, display_specific_users: display_specific_users } %>  

  <div class="control_buttons">
    <%= form.submit 'Save', id: "save_suggestion_box" %>
    <%= link_to 'Cancel', '', id: "cancel_suggestion_box" %>

    <%= image_tag "spinner_gears.gif", id: "submit_spinner" %>
  </div>
<% end %>