<%
  display_all_users = demo.everyone_can_make_tile_suggestions
  display_specific_users = !display_all_users
  users = demo.users_that_allowed_to_suggest_tiles
%>

<%= form_for demo, url: client_admin_suggestions_access_path, html: {id: "suggestions_access_form"} do |form| %>
  <%= render partial: 'client_admin/suggestions_access/switcher', locals: { form: form, display_all_users: display_all_users, display_specific_users: display_specific_users } %>

  <%= render partial: 'client_admin/suggestions_access/all_users', locals: { display_all_users: display_all_users } %>

  <%= render partial: 'client_admin/suggestions_access/specific_users', locals: { users: users, display_specific_users: display_specific_users } %>

  <div class="control_buttons">
    <%= link_to 'Save', "#save", class: "js-save-suggestions-access button" %>
    <%= link_to 'Cancel', '#cancel', class: "js-cancel-suggestions-access button outlined" %>
  </div>
<% end %>
