:css
  form { font-size: 150%; }
  form p, label[for=interval] { margin-top: 20px; }
  label[for=acts] , label[for=users] { display: inline; }
  input.hasDatepicker { width: 200px; }
  #ui-datepicker-div { z-index: 999999 !important; }

= form_tag chart_path do
  = text_field_tag :chart_start_date, params[:chart_start_date]
  = text_field_tag :chart_end_date, params[:chart_end_date]
  %p
    = label_tag :chart_interval
    = select_tag :chart_interval, options_for_select(%w(Daily Weekly Hourly), selected = params[:chart_interval])
  %p
    = check_box_tag :chart_plot_acts, nil, checked = params[:chart_plot_acts]
    = label_tag :chart_plot_acts, 'Acts'
  %p
    = check_box_tag :chart_plot_users, nil, checked = params[:chart_plot_users]
    = label_tag :chart_plot_users, 'Users'
  %p
    = label_tag :chart_label_points
    = select_tag :chart_label_points, options_for_select((0..3).to_a, selected = params[:chart_label_points])
  %p
    = submit_tag "Show Me The Chart"

= high_chart('chart', @chart) if @chart
