<div class="charting">
  <%= form_tag chart_path, id: "activity-chart", remote: true  do %>
      <div id="chart-header">
        <h1 class="subsection-head">Activity Snapshot:</h1>
      </div>
      <ul id="chart-options">
        <li id="chart-dates">
          <%= text_field_tag :chart_start_date, params[:chart_start_date], class: "datepicker" %>
          <span>to</span>
          <%= text_field_tag :chart_end_date, params[:chart_end_date], class: "datepicker" %>
        </li>
        <li id="display-options">
          <%= select_tag :chart_plot_content, options_for_select(['Total activity', 'Unique users', 'Both'], selected: params[:chart_plot_content]) %>
        </li>
        <li id="chart-intervals">
          <%= select_tag :chart_interval, options_for_select(%w(Weekly Daily Hourly), selected: params[:chart_interval]) %>
        </li>
        <li id="chart-labeling">
          <span>Label</span>
          <%= select_tag :chart_label_points, options_for_select([ ['None', 0], ['All points', 1], ['Every other', 2] ], selected: params[:chart_label_points]) %>
        </li>
        <li id="show-button">
          <div class="button_wrap" id="show-chart">
            <%= submit_tag "Show", id: "show-chart-link" %>
          </div>
          <br />
          <%= submit_tag "New Chart" %>
        </li>
      </ul>
  <% end %>
</div>

<%= image_tag 'spinner.gif', :style => "display: none;", :id => 'show-user-spinner' %>

<div id='my-chart'></div>
<div id='my-new-chart'></div>
