<div class="columns small-12">
  <div class = "columns small-10 admin-tile-feature" data-tileFeature = "<%= feature.id %>">
    <h3><%= feature.name %> Feature</h3>
    <%= form_for([:admin, feature]) do |f| %>
      <% if feature.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% feature.errors.full_messages.each do |msg| %>
              <li style="color: red;"><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br>
      <% end %>
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, placeholder: "Wellness" %>
        </div>
        <div class="small-6 columns">
          <%= f.label :rank, "Rank" %>
          <%= f.number_field :rank, placeholder: 10 %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= label_tag "redis[custom_icon_url]", "Custom Icon Url" %>
          <%= text_field_tag "redis[custom_icon_url]", feature.custom_icon_url, { placeholder: "https://airbo.com/image.png" } %>
        </div>
        <div class="small-6 columns">
          <%= label_tag "redis[text_color]", "Text Color" %>
          <%= text_field_tag "redis[text_color]", feature.text_color, { placeholder: "#ffffff" } %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= label_tag "redis[header_copy]", "Header Copy" %>
          <%= text_field_tag "redis[header_copy]", feature.header_copy, { placeholder: "Awesome Wellness Tiles" } %>
        </div>
        <div class="small-6 columns">
          <%= label_tag "redis[background_color]", "Background Color" %>
          <%= text_field_tag "redis[background_color]", feature.background_color, { placeholder: "#000000" } %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= label_tag "redis[tile_ids]", "Tile Ids (in order and comma separated)" %>
          <%= text_area_tag "redis[tile_ids]", feature.tile_ids_formatted, { placeholder: "1, 2, 3, 4, 5, 6" } %>
        </div>
        <div class="small-6 columns">
          <%= label_tag "tile_feature[channel_list]", "Related Channels (comma separated)" %>
          <%= text_area_tag "tile_feature[channel_list]", feature.channel_list, { placeholder: "wellness, open enrollment, health" } %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :active, "Active?" %>
          <%= f.check_box :active %>
        </div>
        <div class="small-6 columns">
          <%= f.label :show_related_content_link, "Show link to related content?" %>
          <%= f.check_box :show_related_content_link %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-2 columns">
          <%= f.submit "Save", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
