.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  = link_to "Tasks", admin_demo_tasks_path(@demo)
  = "»"
  New
%br

.admin
  %p Please be aware that after creating this task, it may be a few minutes before it's actually available to players.
  = render 'form', :task => @task
