= render 'shared/segmentation_results', segmentation_results: @segmentation_results 

= render 'shared/segmentation_form', :dummy_characteristics => @dummy_characteristics, :generic_characteristics => @generic_characteristics, :demo_specific_characteristics => @demo_specific_characteristics, :segmentation_url => admin_demo_segmentation_path(@demo)

= render 'shared/show_user_links' 

= form_tag admin_demo_targeted_messages_path(@demo), :id => 'message-content' do
  %fieldset
    %legend Email
    #subject-wrapper
      = label_tag :subject
      = text_field_tag "subject", @subject

    #html-text-wrapper
      = label_tag :html_text, "HTML text"
      = text_area_tag "html_text", @html_text, :rows => 20, :cols => 100, :class => "tinymce"

    #plain-text-wrapper
      = label_tag :plain_text
      = text_area_tag "plain_text", @plain_text, :rows => 20, :cols => 147

  %fieldset
    %legend SMS
    = label_tag :sms_text
    = text_field_tag "sms_text", @sms_text, :maxlength => 160, :size => 165
    = add_byte_counter_for "Sms text"

  %br
  = label_tag "send_at"
  = text_field_tag "send_at"
  If you leave this blank, we'll try to send the message as soon as possible.

  %br
  = label_tag "respect_notification_method"
  = check_box_tag "respect_notification_method", "1", true
  %br
  = submit_tag "It's going to be OK"

%hr
  %h2 Scheduled pushes
  - if @scheduled_pushes.empty?
    %p No incomplete pushes scheduled
  - else
    %table
      %tr
        %th Scheduled for
        %th Segment
        %th Mail subject
        %th SMS text
      - @scheduled_pushes.each do |scheduled_push|
        %tr
          %td= scheduled_push.scheduled_for.try(:pretty_succinct) || "ASAP"
          %td= scheduled_push.segment_description
          %td= scheduled_push.subject
          %td= scheduled_push.sms_text

- unless Rails.env.test?
  -# This is not done through the asset pipeline since that leads to problems
  -# with inter-iframe communication when we load other TinyMCE windows such
  -# as the image insert dialog
  %script{src: "/tinymce/jscripts/tiny_mce/tiny_mce.js"}

  :javascript
    tinyMCE.init({
      mode: "exact",
      elements: "html_text",
      convert_urls: false
    });
