<%if @dates.any? %> 
  <div class="row ">
    <div class="large-12 columns">
      <div class="chart-data" data-plotdata ="<%=@table_data.to_json%>"> </div>
      <table class="kpi scrollable">
        <thead>
          <tr>
            <th>Start Date</th>
            <%@dates.each do |date| %>
              <th><%=simple_format_by_type "date", date%></th>
            <%end%>
          </tr>
        </thead>
          <tbody>
        <%@rep.sections.each do |section_label, fields| %>
            <tr class="separator">
              <td><%=section_label%></td>
              <td colspan='<%=@table_data["from_date"][:values].count%>'>&nbsp;</td>
            </tr>
            <%fields.each do |field|%>
              <tr>
                <td colspan= '<%=@table_data[field]["colspan"]%>' title='<%=@table_data[field]["hint"]%>' class='<%=@table_data[field]["type"]%> indent-<%=@table_data[field]["indent"]%>'><%=@table_data[field]["label"]%></td>
                <%@table_data[field]["values"].each do |val| %>
                  <td class='<%=@table_data[field]["css"]%>'><%=simple_format_by_type @table_data[field]["type"], val %></td>
                <%end%>
              <%end%>
              </tr>
        <%end%>
          </tbody>
      </table>
    </div>

  </div>
<%end%>
