
<div class="row">
  <div class="columns small-12 small-centered">
    <p>
    <h1>Financials KPI Dashboard</h1>
    </p>
    <%=form_tag admin_metrics_path, method: :get do %>
      <table>
        <caption>Reporting Period</caption>
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Interval</th>
            <th>Customer</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=text_field_tag "sdate", @sdate, type: :date%></td>
            <td><%=text_field_tag "edate",@edate, type: :date%></td>
            <td><%=select_tag "interval",options_for_select({"Weekly"=>"weekly", "Monthly" =>"monthly", "Yearly"=>"yearly"})%></td>
            <td><%=select_tag "Customer",options_from_collection_for_select(Organization.name_order, :id, :name), {include_blank: true, prompt: "All"}%></td>
            <td><%=submit_tag "Get Data", class:"button td-button right"%></td>

          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <p>
    <div class="row title_block">
      <div class="small-4 columns centered">
        <div class="activity-header total-users">
          <h1 class="header-number">
            <%=  number_with_delimiter(FinancialsReporterService.current_amount_booked.to_i, :delimiter => ',') %>
          </h1>
          <span class="header-unit">
            Revenue Booked
          </span>
        </div>
      </div>
      <div class="small-4 columns centered">
        <div class="activity-header population-percent">
          <h1 class="header-number">
            <%=  number_with_delimiter(FinancialsReporterService.current_mrr.to_i, :delimiter => ',') %>
          </h1>
          <span class="header-unit">
            MRR
          </span>
        </div>
      </div>
      <div class="small-4 columns centered">
        <div class="activity-header tiles-posted">
          <h1 class="header-number">
            <%= number_with_delimiter(FinancialsReporterService.active_customers, :delimiter => ',') %>
          </h1>
          <span class="header-unit">
            Customers
          </span>
        </div>
      </div>
    </div>
    </p>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <p>
    <div id="container" style="width:100%; height:400px;" data-plotdata ="<%=@plot_data.to_json%>"></div>
    </p>
  </div>
</div>



<div class="row ">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <%@kpi.each do |h| %>
            <td><%=simple_format_by_type "date", h[Metrics.label_field_mapping["Date"]]%></td>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <%if @kpi.present?%>
          <%Metrics.field_mapping.each do |header,field|%>
            <%if header[0]!="Date"%>
              <tr>
                <th><%=header[0]%></th>
                <%@kpi.each do |h| %>
                  <td><%=simple_format_by_type header[1], h[field] %></td>
                <%end%>
              </tr>
            <%end%>
          <%end%>
        <%end%>
      </tbody>
    </table>

    <%=link_to "Download CSV", admin_metrics_path(sdate:@sdate, edate: @edate, format: :csv),  class:"button right"%>
  <%end%>
  </div>
</div>
