<div class="explore" data-campaign-id="<%= @campaign.id %>">
  <section class="manage_section" id="channels">
    <% cache @display_channels do %>
      <%= render partial: 'explore/channels', locals: { channels: @display_channels } %>
    <% end %>
  </section>
  <% if @campaign.instructions.present? #temporary conditional as we update campaigns %>
    <%= render 'campaign_profile', campaign: @campaign %>
  <% else %>
    <%= render 'old_campaign_profile', campaign: @campaign %>
  <% end %>

  <section class="manage_section" id="explore_tiles">
    <div class="manage_section explore_tiles_section" style="margin-bottom:80px;">
      <div class="row">
        <div class="large-12 columns">
          <div class="tile_wall_explore">
            <%= render partial: 'explore/tiles', locals: {tiles: @tiles, section: "Campaign Tile" } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% Campaign.exclude([@campaign.id]).each do |campaign| %>
    <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
  <% end %>
</div>
