<div class="explore" data-campaign-id="<%= @campaign.id %>">
  <%= render partial: 'explore/campaign_nav_row', locals: { channels: @display_channels } %>

  <%= render partial: 'explore/campaign_header', locals: { campaign: @campaign } %>

  <% unless current_user.is_a?(GuestUser) || current_user.end_user? %>
    <div class="row">
      <div class="columns large-12">
        <div class="button copy-all-tiles-button" style="margin: 10px;">
          Copy Campaign
        </div>
      </div>
    </div>
  <% end %>

  <div class="campaign-tiles-container with-divider">
    <div class="row">
      <div class="large-12 columns">
        <%= render partial: 'explore/tiles', locals: {tiles: @tiles, section: "Campaign Tile" } %>
      </div>
    </div>
  </div>

  <% Campaign.exclude([@campaign.id]).each do |campaign| %>
    <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
  <% end %>
</div>
