<div class="explore" data-campaign-id="<%= @campaign.id %>">
  <%= render partial: 'explore/campaign_nav_row', locals: { campaigns: @related_campaigns } %>

  <%= render partial: 'explore/campaign_header', locals: { campaign: @campaign } %>

  <div class="row">
    <div class="large-12 columns">
      <div class="campaign-description">
        <p><%= @campaign.description.try(:html_safe) %></p>
      </div>
    </div>
  </div>

  <% unless current_user.is_a?(GuestUser) || current_user.end_user? %>
    <div class="row">
      <div class="columns large-12">
        <div class="button js-copy-all-tiles-button" style="margin: 10px;">
          Copy Campaign
        </div>
      </div>
    </div>
  <% end %>

  <div class="campaign-tiles-container with-divider">
    <div class="row">
      <div class="large-12 columns">
        <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "", more_tiles_path: explore_campaign_path(@campaign) } %>
      </div>
    </div>
  </div>
</div>
