<div class="value-props">
  <div class="wrap">
    <div class="value-prop-header">
      <h4 class="pre-header"><%#= t('.pre_header') %></h4>
      <h4 class="header"><%= t('.header') %></h4>
    </div>
    <div class="row">
      <div class="columns large-4 value-prop-row">
        <div class="value-prop-image-container">
          <%= image_tag("marketing_site/value_props/responsive.svg", alt: "Responsive", class: "value-prop-image") %>
        </div>
        <p class="value-prop-text"><%= t('.value_prop_1_text') %></p>
        <p class="value-prop-quote"><%= t('.value_prop_1_quote') %></p>
        <div class="value-prop-cite">
          <p class="person"><%= t('.value_prop_1_person') %></p>
          <p class="company"><%= t('.value_prop_1_company') %></p>
        </div>
      </div>
      <div class="columns large-4 value-prop-row">
        <div class="value-prop-image-container">
          <%= image_tag("marketing_site/value_props/time.svg", alt: "Save Time", class: "value-prop-image") %>
        </div>
        <p class="value-prop-text"><%= t('.value_prop_2_text') %></p>
        <p class="value-prop-quote"><%= t('.value_prop_2_quote') %></p>
        <div class="value-prop-cite">
          <p class="person"><%= t('.value_prop_2_person') %></p>
          <p class="company"><%= t('.value_prop_2_company') %></p>
        </div>
      </div>
      <div class="columns large-4 value-prop-row">
        <div class="value-prop-image-container">
          <%= image_tag("marketing_site/value_props/support_team.svg", alt: "Custome Support Team", class: "value-prop-image") %>
        </div>
        <p class="value-prop-text"><%= t('.value_prop_3_text') %></p>
        <p class="value-prop-quote"><%= t('.value_prop_3_quote') %></p>
        <div class="value-prop-cite">
          <p class="person"><%= t('.value_prop_3_person') %></p>
          <p class="company"><%= t('.value_prop_3_company') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
