<div class="ceos-message" id="ipnav-ceom">
  <h2><%= t('.side_header_html') %></h2>
  <div class="note">
    <h3><%= t('.note_header') %></h3>
    <p><%= t('.note_p1') %></p>
    <p><%= t('.note_p2_html') %></p>
    <p><%= t('.note_p3') %></p>
    <p><%= t('.note_p4') %></p>
    <cite>
      <%= image_tag("marketing_site/ceos_message_signature.png", alt: "Vlad Gyster") %>
      <%= t('.note_signature') %>
    </cite>
  </div>
</div>
