<div class="clients-list">
  <ul>
    <li><%= image_tag("marketing_site/clients/fujifilm.svg", alt: "Fujifilm") %>
    <li><%= image_tag("marketing_site/clients/asha.svg", alt: "ASHA") %>
    <li><%= image_tag("marketing_site/clients/envisionit.svg", alt: "Envisionit") %>
    <li><%= image_tag("marketing_site/clients/coffman-engineers.svg", alt: "Coffman Engineers") %>
    <li><%= image_tag("marketing_site/clients/rle.svg", alt: "RLE") %>
    <li><%= image_tag("marketing_site/clients/constangy.svg", alt: "Constangy") %>
  </ul>
</div>
