<div class="feature-group ft-email" id="ipnav-email">
  <div class="feature-head">
    <h2><%= t('.section_header_html') %></h2>
    <h5><%= t('.section_subheader')%></h5>
  </div>
  <div class="wrap">
    <div class="left">
      <%= image_tag("marketing_site/tiles_email_example.jpg", alt: "Tiles Email") %>
    </div>
    <div class="right">
      <blockquote class="promo-quote">
        <p><%= t('.promo_quote') %></p>
        <cite>
          <%= image_tag("marketing_site/logo_thumbnails/coffman.jpg", alt: "Coffman Engineers") %>
          <%= t('.promo_quote_cite_html') %>
        </cite>
      </blockquote>
      <ul class="ft-lists ft-type-email">
        <% [*1..6].each do |num| %>
          <li>
            <div>
              <h4><%= t(".tiles_email_value_header#{num}") %></h4>
              <p><%= t(".tiles_email_value_subheader#{num}") %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
