<div class="feature-success">
  <div class="wrap">
    <h2><%= t('.section_header') %></h2>
    <h4><%= t('.section_subheader')%></h4>
    <blockquote class="promo-quote">
      <p><%= t('.promo_quote')%></p>
      <cite>
        <%= image_tag("marketing_site/logo_thumbnails/dedham.jpg", alt: "Town of Dedham") %>
        <%= t('.promo_quote_cite_html')%>
      </cite>
    </blockquote>
  </div>
</div>
