<div class="feature-group ft-board" id="ipnav-board">
  <div class="feature-head">
    <h2><%= t('.section_header_html') %></h2>
    <h5><%= t('.section_subheader')%></h5>
  </div>
  <%= image_tag("marketing_site/board_example.jpg", alt: "Tiles Board") %>
  <div class="wrap">
    <div class="right">
      <blockquote class="promo-quote">
        <p><%= t('.board_promo_quote_alta')%></p>
        <cite>
          <%= image_tag("marketing_site/logo_thumbnails/alta.jpg", alt: "Alta California Regional Center") %>
          <%= t('.board_promo_quote_alta_citation_html') %>
        </cite>
      </blockquote>
    </div>
    <div class="left">
      <ul class="ft-lists ft-type-board">
        <% [*1..6].each do |num| %>
          <li>
            <div>
              <h4><%= t(".board_values_header#{num}") %></h4>
              <p><%= t(".board_values_subheader#{num}") %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
