<ul class="inpage-paginator">
  <li class="active"><a href="#ipnav-hero"><%= t('.page1') %></a></li>
  <li><a href="#ipnav-ceom"><%= t('.page2') %></a></li>
  <li><a href="#ipnav-tile"><%= t('.page3') %></a></li>
  <li><a href="#ipnav-board"><%= t('.page4') %></a></li>
  <li><a href="#ipnav-topics"><%= t('.page5') %></a></li>
  <li><a href="#ipnav-email"><%= t('.page6') %></a></li>
  <li><a href="#ipnav-metrics"><%= t('.page7') %></a></li>
</ul>
