<div class="supported-devices">
  <div class="wrap">
    <h2><%= t('.header') %></h2>
    <p><%= t('.subheader') %></p>
    <ul>
      <li><%= image_tag("marketing_site/mobile.svg", alt: "Mobile") %></li>
      <li><%= image_tag("marketing_site/laptop.svg", alt: "Desktop") %>></li>
      <li><%= image_tag("marketing_site/tablet.svg", alt: "Tablet") %></li>
    </ul>
  </div>
</div>
