%h1.title Connections
#following_wrapper
  #following.module
    - if @current_user == @user 
      %h1.headline Your Friends
    - else
      %h1.headline= "#{@user.first_name}'s Friends"
    - unless @display_user_stats
      = render 'follow_link'
    - else      
      - unless @has_friends
        %p.indent_same_as_table No friends yet
      - else
        = render 'users/scoreboard_headers'

        #friends_list
          %table.scoreboard
            = render :partial => 'single_friend', :collection => @user.profile_page_friends_list
        #scoreboard_list{:style => "display: none;"}
          %table.scoreboard
            = render :partial => 'single_friend', :collection => @user.scoreboard_friends_list_by_points


    .cf
= javascript_include_tag 'scoreboard'
