- if @user.privacy_level == "nobody"
  %p= @reason_for_privacy
- else
  = form_tag user_friendship_path(@user), :class => "follow_to_see" do
    = hidden_field_tag :friend_link, :follow_to_see_activity
    %p
      = "To see #{@user.name.split.first}'s information,"
      = link_to "Follow", '#nowhere', :onclick => "$('form.follow_to_see').submit()"
      = @user.her_him