%h3
  Showing search results for
  = search_string

%ul#other-users
  - if other_users.empty?
    Sorry, I couldn't find any users with the name
    = '"' + search_string + '"'

  - else
    - other_users.each do |u|
      %li.user.relative
        .user-avatar
          =link_to user_path(u) do
            = avatar_96(u)
        .user-info
          .user-name_email
            = link_to u.name, user_path(u), :class => 'name-of-user'
          = render 'follow_buttons', :user => u
