.row
  #secondary.large-4.columns
    #search_box_wrapper
      #search-box.module
        %h5 Search
        #search
          %h5 Enter first or last name
          = form_tag users_path, :method => :get do
            = label_tag "search_string", "search bar", :class => :hidden
            = text_field_tag "search_string", nil, :placeholder => "Type name"
            = submit_tag "Find!", :id => "find_button button", :class => "button_norm"
  #main.large-7.columns
    #directory_wrapper
      .directory.module
        - if @search_string
          = render 'search_results', search_string: @search_string, other_users: @other_users
        - if @users_cropped
          .focus_on_search_bar{:style => "display: inline;"}
            = "(First #{@users_cropped} results returned. Didn't find who you're looking for? Try"
            = link_to @search_link_text, '#'
            )
