<div id="main-wrapper">
	<div id="profile-head" class="module">
		<h2><%= @user.name %></h2>
		<div class="avatar48">
			<%= default_avatar_tag @user %>
		</div>

	</div>
	
  <div id="main" class="module">
    <h2>Recent Activity</h2>

    <ul id="user-acts">
      <li class="act-shim">
      </li>
      <%= render :partial => 'shared/new_act', :collection => @acts, :as => :act %>
    </ul>

    <%= link_to "See more", '#', :id => 'see-more' %>
    <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('<%= user_acts_path(:user_id => @user.id, :format => :js) %>', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
</div>

<div id="secondary">
	<div id="groups" class="module">
		<h1 class="headline">groups I'm In'</h1>


	</div>
  	<div id="following" class="module">
		<h1 class="headline">Following</h1>


	</div>

	<div id="followed-by" class="module">
		<h1 class="headline">Followed By</h1>

  
	</div>
</div>
