<div id="main">
  <h2 class="first">Recent Activity</h2>

  <ul id="acts">
    <% @acts.each do |act| %>
      <li id="<%= dom_id(act) %>" class="small-act">
        <p>
          <%= (act.text) %>
          <br />
          <span class="when">
            <%= time_ago_in_words(act.created_at) %> ago
          </span>
          <span class="points">
            <%= points(act.rule) %> points
          </span>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<div id="secondary">
  <h2 class="first"><%= @user.name %></h2>

  <div class="avatar48">
    <div class="shadow48"></div>
    <%= image_tag @user.gravatar_url(48), :alt => (@user.name) %>
  </div>

  <div id="follow-target">
    <% if signed_in? && current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= render 'friendships/unfollow', :user => @user %>
      <% else %>
        <%= render 'friendships/follow',   :user => @user %>
      <% end %>
    <% end %>
  </div>

  <div id="profile-stats">
    <div id="points" class="stat">
      <strong><%= @user.points %></strong> <br />points
    </div>
    <div id="following-count" class="stat">
      <strong><%= @user.following_count %></strong> <br />following
    </div>
    <div id="followers-count" class="stat">
      <strong><%= @user.followers_count %></strong> <br />followers
    </div>
  </div>

  <br />
  <div id="activity-return">
    <%= link_to "Back To Activity Stream", activity_path %>
  </div>
</div>
