<div class="row">
  <div class="large-4 columns">
    <div class="module" id="about-player">
      <div class="player-avatar">
        <%= avatar_96(@user) %>
      </div>
      <ul class="player-info">
        <li>
          <h2>
            <%= @user.name %>
          </h2>
        </li>
        <li>
          <%= render 'follow_buttons', user: @user %>
        </li>
      </ul>
    </div>
    <% unless current_user.demo.hide_social %>
      <%= render 'accepted_friends' %>
      <% if @display_pending_friendships   %>
        <div class="module" id="followed-by">
          <h3>Connection Requests</h3>
          <ul id="friend_requests">
            <% @pending_friends.each do |friend| %>
              <li class="user">
                <p class="user-name">
                  <%= link_to friend.name, user_path(friend) %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="large-7 columns">
    <div class="feeds module js-activity-feed-component" data-page="1" data-per-page="10" data-path="<%= api_acts_path %>" data-missing-avatar-path="<%= asset_path(User::MISSING_AVATAR_PATH) %>">
    </div>
  </div>
</div>
