<div id="main">
  <div class="column-header">
    <h2 class="first">Recent Activity</h2>
  </div>

  <ul id="acts">
    <%= render :partial => 'users/small_act', :collection => @acts, :as => :act %>
  </ul>

  <%= button_to "See more", "#", :id => 'see-more' %>
  <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      var actOffset = <%= @acts.length %>;

      $('#see-more').bind('click', function(e) {
        $('#see-more-spinner').show();
        $.get('<%= user_acts_path(:user_id => @user.id, :format => :js) %>', {offset: actOffset});
        e.preventDefault();
      });
    <% end %>
  <% end %>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first"><%= @user.name %></h2>
  </div>

  <div id="main-profile-section" class="secondary-column-section">
    <div class="avatar48">
      <%= default_avatar_tag @user, :alt => @user.name %>
    </div>

    <% if @viewing_self %>
      <div class="own-number">
        <h3><%= @user.phone_number %></h3>
        (Don't worry, nobody else sees your number.)
      </div>
    <% end %>

    <% if @viewing_self %>
      <%= render 'account_controls' %>
    <% end %>

    <% if @viewing_other %>
      <div id="follow-target">
          <% if current_user.following?(@user) %>
            <%= render 'friendships/unfollow', :user => @user %>
          <% else %>
            <%= render 'friendships/follow',   :user => @user %>
          <% end %>
      </div>
    <% end %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $('#follow-target form').live('ajax:beforeSend', function(e) {$('#follow-target').html('<%= image_tag 'spinner.gif' %>')});

        $('.cancel-avatar-change').click(function(e) {
          $('.avatar-controls').hide();
          $('#main-profile-section').height($('#main-profile-section').data('original-height'));
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>

  <div class="column-header">
    <h2>Connections</h2>
  </div>

  <div id="connections" class="secondary-column-section">
    <% fan_of_phrase, fans_had_phrase = if @viewing_self
                                          ["You're", "You have"]
                                        else
                                          [@user.name + ' is', @user.name + ' has']
                                        end
                                      %>

    <%= fan_of_phrase %> a fan of <span class="fan-count" id="following-count"><%= following_count_phrase(@user)%></span>.<br/>
    <%= fans_had_phrase%> <span class="fan-count" id="followers-count"><%= followers_count_phrase(@user) %></span>.
    <% if @viewing_self %>
      <br/><%= link_to 'View my connections', friends_path %>
    <% end %>
  </div>
