<%= render :partial => 'shared/flashes' -%>

<div id="main-wrapper">
  <div id="main">
    <h2>Recent Activity</h2>

    <ul id="acts">
      <li class="act-shim">
      </li>
      <%= render :partial => 'shared/new_act', :collection => @acts, :as => :act %>
    </ul>

    <%= form_tag '#' do %>
      <%= image_with_hover_submit_tag see_more_button_skinned, '#see-more', :id => 'see-more' %>
    <% end %>
    <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('<%= user_acts_path(:user_id => @user.id, :format => :js) %>', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
</div>

<div id="secondary">
  <div id="profile-head">
    <h2><%= @user.name %></h2>

    <div class="avatar48">
      <%= default_avatar_tag @user %>
    </div>

    <% if @viewing_self %>
      <%= mp_track("viewed own profile") %>
      <div class="own-number">
        <h3>
          <% if @user.phone_number.present? %>
            <%= @user.phone_number.as_pretty_phone %>        
          <% else %>
            No mobile number. Please enter one if you'd like to play using text messaging.
          <% end %>
        </h3>
      </div>
    <% end %>

  </div>

  <% if @viewing_self %>
    <%= render 'account_controls' %>
  <% end %>

  <% if @viewing_other %>
    <%= mp_track "viewed profile of someone else", :viewed_person => @user.name %>
    <div id="follow-target">
      <% if current_user.following?(@user) %>
        <%= unfollow_button @user, "#follow-target" %>
      <% else %>
        <%= follow_button @user, "#follow-target" %>
      <% end %>
    </div>
  <% end %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('#follow-target form').live('ajax:beforeSend', function(e) {$('#follow-target').html('<%= image_tag 'spinner.gif' %>')});
    <% end %>
  <% end %>


  <div id="connections">
    <h2>Connections</h2>

    <% fan_of_phrase, fans_had_phrase = if @viewing_self
                                          ["You're", "You have"]
                                        else
                                          [@user.name + ' is', @user.name + ' has']
                                        end
                                      %>

    <%= fan_of_phrase %> a fan of <span class="fan-count" id="following-count"><%= following_count_phrase(@user)%></span>.<br/>
    <%= fans_had_phrase%> <span class="fan-count" id="followers-count"><%= followers_count_phrase(@user) %></span>.
    <% if @viewing_self %>
      <br/><%= link_to 'View my connections', friends_path %>
    <% end %>
  </div>
</div>
