<div id="left-col">

	<div id="about-player" class="module"><!--HOOKUP-->
		<div class="player-avatar">
			<img src="/avatars/thumb/missing.png" />
			<a href="#">Follow</a>
		</div>
		<ul class="player-info">
			<li><h1 class="headline">Your name goes here</h1></li>
			<li><p class="points-and-level">LVL 3 (32 points to next level)</p>
			<li><a href="#">youremail@hengage.com</a></li>
		</ul>
		<div class="cf"></div>
	</div>

  <h2 class="title">Player History</h2>
  <div id="recent-activity" class="module">
    <h1 class="headline">Recent Activity</h2>

    <ul id="user-acts">
      <li class="act-shim">
      </li>
      <%= render :partial => 'shared/new_act', :collection => @acts, :as => :act %>
    </ul>

	<div class="seemore">
			<img src="/images/v3/arrow-down.png" />
			<%= link_to "See more", '#', :id => 'see-more' %>
			<img src="/images/v3/arrow-down.png" />
      </div>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('<%= user_acts_path(:user_id => @user.id, :format => :js) %>', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
<div class="cf"></div>
</div>

<div id="right-col">
	<h2 class="title">Connections</h2>
  	<div id="following" class="module">
		<h1 class="headline">Following</h1>
		<ul class="following-users"><!-- HOOKUP -->
			<li class="user">
				<p class="user-name"><span class="numbering">1.</span> <a href="#">Sample User</a></p><!-- HOOKUP -->
				<p class="user-level">LVL 5</p><!-- HOOKUP -->
				<div class="cf"></div>
			</li>
			<li class="user">
				<p class="user-name"><span class="numbering">2.</span> <a href="#">Another Player</a></p><!-- HOOKUP -->
				<p class="user-level">LVL 8</p><!-- HOOKUP -->
				<div class="cf"></div>
			</li>
		</ul>
	</div>

	<div id="followed-by" class="module">
		<h1 class="headline">Followed By</h1>
		<ul class="following-users">
			<li class="user">
				<p class="user-name"><span class="numbering">1.</span> <a href="#">Sample User</a></p><!-- HOOKUP -->
				<p class="user-level">LVL 5</p><!-- HOOKUP -->
				<div class="cf"></div>
			</li>
			<li class="user">
				<p class="user-name"><span class="numbering">2.</span> <a href="#">Another Player</a></p><!-- HOOKUP -->
				<p class="user-level">LVL 8</p><!-- HOOKUP -->
				<div class="cf"></div>
			</li>
		</ul>
	</div>
</div>