<div id="main">
  <div class="column-header">
    <h2 class="first">Recent Activity</h2>
  </div>

  <ul id="acts">
    <% @acts.each do |act| %>
      <li id="<%= dom_id(act) %>" class="small-act">
        <div class='act-details'>
          <p>
            <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first"><%= @user.name %></h2>
  </div>

  <div id="main-profile-section" class="secondary-column-section">
    <div class="avatar48">
      <%= default_avatar_tag @user, :alt => @user.name %>
    </div>

    <div class="account-controls">
      <% if @viewing_self %>
        Your mobile number: <span class="number"><%= @user.phone_number %></span><br/>
        <%= link_to "Change your mobile number", edit_account_phone_path, :class => 'change-number-link' %><br/>
        <%= link_to "Change your picture", edit_account_avatar_path, :class => 'change-avatar-link' %>

        <div class="avatar-controls" style="display: none">
          <%= render :partial => 'shared/avatar_form', :locals => {:user => @user} %>
        </div>
      <% end %>
    </div>

    <div id="follow-target">
      <% if @viewing_other %>
        <% if current_user.following?(@user) %>
          <%= render 'friendships/unfollow', :user => @user %>
        <% else %>
          <%= render 'friendships/follow',   :user => @user %>
        <% end %>
      <% end %>
    </div>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $('#follow-target form').live('ajax:beforeSend', function(e) {$('#follow-target').html('<%= image_tag 'spinner.gif' %>')});

        $('.cancel-avatar-change').click(function(e) {
          $('.avatar-controls').hide();
          $('#main-profile-section').height($('#main-profile-section').data('original-height'));
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>

  <div class="column-header">
    <h2>Connections</h2>
  </div>

  <div id="connections" class="secondary-column-section">
    <% fan_of_phrase, fans_had_phrase = if @viewing_self
                                          ["You're", "You have"]
                                        else
                                          [@user.name + ' is', @user.name + ' has']
                                        end
                                      %>

    <%= fan_of_phrase %> a fan of <span class="fan-count" id="following-count"><%= following_count_phrase(@user)%></span>.<br/>
    <%= fans_had_phrase%> <span class="fan-count" id="followers-count"><%= followers_count_phrase(@user) %></span>.
  </div>
