<div id="main">
  <div class="column-header">
    <h2 class="first">Recent Activity</h2>
  </div>

  <ul id="acts">
    <% @acts.each do |act| %>
      <li id="<%= dom_id(act) %>" class="small-act">
        <div class='act-details'>
          <p>
            <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first"><%= @user.name %></h2>
  </div>

  <div id="main-profile-section" class="secondary-column-section">
    <div class="avatar48">
      <%= default_avatar_tag @user, :alt => @user.name %>
    </div>

    <% if @viewing_self %>
      <div class="own-number">
        <h3><%= @user.phone_number %></h3>
        (Don't worry, nobody else sees your number.)
      </div>
    <% end %>

    <div class="account-controls">
      <% if @viewing_self %>
        <h3>Change your mobile number</h3>
        <%= semantic_form_for current_user, :url => account_phone_path do |form| %>
          <%= form.input :phone_number, :label => 'Enter your new mobile number'%>
          <%= form.commit_button :label => 'Save new mobile number' %>
        <% end %>

        <h3>Change your picture</h3>
        <%= semantic_form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :class => 'set-avatar'} do |form| %>
          <%= form.input :avatar, :label => 'Choose an image for your picture. Pictures will automatically be resized to a 48x48 square. Please exercise common sense and good taste.' %>
          <%= form.commit_button 'Set Picture', :button_html => {:class => 'set-avatar-submit'} %>
          <p class="loading-message">Uploading, this may take a minute.</p>
        <% end %>

        <% if current_user.avatar_file_name %>
          <%= semantic_form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :method => :delete, :class => 'clear-avatar'} do |form| %>
            Delete the picture you've got and revert to the default picture.
            <br/>
            <%= form.commit_button 'Clear Picture' %>
          <% end %>
        <% end %>

        <h3>Change your account settings</h3>
        <%= semantic_form_for current_user, :url => account_path do |form| %>
          <%= form.input :send_follow_notification_sms, :label => 'Send me an SMS when somebody follows me' %>
          <%= form.commit_button 'Change Settings' %>
        <% end %>
      <% end %>
    </div>

    <div id="follow-target">
      <% if @viewing_other %>
        <% if current_user.following?(@user) %>
          <%= render 'friendships/unfollow', :user => @user %>
        <% else %>
          <%= render 'friendships/follow',   :user => @user %>
        <% end %>
      <% end %>
    </div>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $('#follow-target form').live('ajax:beforeSend', function(e) {$('#follow-target').html('<%= image_tag 'spinner.gif' %>')});

        $('.cancel-avatar-change').click(function(e) {
          $('.avatar-controls').hide();
          $('#main-profile-section').height($('#main-profile-section').data('original-height'));
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>

  <div class="column-header">
    <h2>Connections</h2>
  </div>

  <div id="connections" class="secondary-column-section">
    <% fan_of_phrase, fans_had_phrase = if @viewing_self
                                          ["You're", "You have"]
                                        else
                                          [@user.name + ' is', @user.name + ' has']
                                        end
                                      %>

    <%= fan_of_phrase %> a fan of <span class="fan-count" id="following-count"><%= following_count_phrase(@user)%></span>.<br/>
    <%= fans_had_phrase%> <span class="fan-count" id="followers-count"><%= followers_count_phrase(@user) %></span>.
    <% if @viewing_self %>
      <br/><%= link_to 'View my connections', friends_path %>
    <% end %>
  </div>
