<div id="main">
  <h2 class="first">Recent Activity</h2>

  <ul id="acts">
    <% @acts.each do |act| %>
      <li id="<%= dom_id(act) %>" class="small-act">
        <p>
          <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<div id="secondary">
  <h2 class="first"><%= @user.name %></h2>

  <div class="avatar48">
    <div class="shadow48"></div>
    <%= default_avatar_tag :alt => (@user.name) %>
  </div>

  <% if signed_in? && current_user == @user %>
    <h2 class="your-mobile-number">
      Your mobile number: <span class="number"><%= @user.phone_number %></span><br/>
      <%= link_to "change your mobile number", edit_account_phone_path, :class => 'change-number-link' %>
    </h2>
  <% end %>

  <div id="follow-target">
    <% if signed_in? && current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= render 'friendships/unfollow', :user => @user %>
      <% else %>
        <%= render 'friendships/follow',   :user => @user %>
      <% end %>
    <% end %>
  </div>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('#follow-target form').live('ajax:beforeSend', function(e) {$('#follow-target').html('<%= image_tag 'spinner.gif' %>')});
    <% end %>
  <% end %>

  <div id="profile-stats">
    <div id="points" class="stat">
      <strong><%= @user.points %></strong> <br />points
    </div>
    <div id="following-count" class="stat">
      <strong><%= @user.following_count %></strong> <br />following
    </div>
    <div id="followers-count" class="stat">
      <strong><%= @user.followers_count %></strong> <br />followers
    </div>
  </div>

  <br />
  <div id="activity-return">
    <%= link_to "Back To Activity Stream", activity_path %>
  </div>
</div>
