<div class="tabs-component-full-width">
  <div class="row">
    <ul class="inline-list js-search-tabs">
      <li class="js-all-results-tab tab active" data-tab-content=".js-search-all-results"><a href="#">All Results <span class="x-small"><%= "(#{search_service.total_result_count})" %></span></a></li>

      <li class="js-my-tiles-tab tab" data-tab-content=".js-search-my-tiles"><a href="#">My Tiles <span class="x-small"><%= "(#{search_service.client_admin_tiles.total_count})" %></span></a></li>

      <% if search_service.client_admin_org_tiles.present? %>
        <li class="js-organization-tiles-tab tab" data-tab-content=".js-search-organization-tiles"><a href="#">Organization Tiles <span class="x-small"><%= "(#{search_service.client_admin_org_tiles.total_count})" %></span></a></li>
      <% end %>

      <li class="js-explore-tiles-tab tab" data-tab-content=".js-search-explore-tiles"><a href="#">Explore Tiles <span class="x-small"><%= "(#{search_service.explore_tiles.total_count})" %></span></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <p class="explore-headers search-results-description">Search results for "<%= params[:query] %>"</p>
  </div>
</div>
<div id="allResults" class="js-search-all-results js-search-tab-content searchTab">
  <%= render 'explore/searches/search_overview', search_service: search_service %>
</div>

<div id="myTiles" class="js-search-my-tiles js-search-tab-content searchTab">
  <div class="manage-section">
    <%= render "explore/searches/my_tiles", { search_service: search_service} %>
  </div>
</div>

<% if search_service.client_admin_org_tiles.present? %>
  <div id="orgTiles" class="js-search-organization-tiles js-search-tab-content searchTab tile_wall_explore">
    <%= render "explore/searches/org_tiles", { search_service: search_service} %>
  </div>
<% end %>

<div id="exploreTiles" class="js-search-explore-tiles js-search-tab-content searchTab tile_wall_explore">
  <%= render "explore/searches/explore_tiles", { search_service: search_service} %>
</div>
