<div class="manage-section">
  <% if search_service.tiles_present? %>
    <% if search_service.client_admin_tiles.present? %>
      <section class="manage_section client_admin_tiles" style="margin-top:30px;">
        <div class="row">
          <div class="columns small-12">
            <h4 class="search-overview-header">My Tiles</h4>
          </div>
        </div>
        <div class="row tiles-row">
          <div class="large-12 columns">
            <div class="client_admin_tiles tile-grid">
              <%= render "shared/tiles/contextual_tiles", { presenter: SingleAdminTilePresenter, tiles: search_service.client_admin_tiles[0..search_service.overview_limit], opts: {} } %>
            </div>
            <div class="endless_scroll_loading text-center" style="display:none;">
              <i class="fa fa-spinner fa-spin fa-3x text-center" style="color:#48BFFF;margin-top:30px;"></i>
            </div>
          </div>
        </div>
        <% if search_service.client_admin_tiles.total_count > search_service.overview_limit %>
          <div class="row">
            <div class="columns small-12 text-center">
              <%= link_to "#myTiles", class:"searchMoreTabLink button", data: { tab_id: "#myTilesTab"} do %>
                See More
              <% end %>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
    <% if search_service.client_admin_org_tiles.present? %>
      <section class="manage_section client_admin_tiles" style="margin-top:30px;">
        <div class="row">
          <div class="columns small-12">
            <h4 class="search-overview-header">Organization Tiles</h4>
          </div>
        </div>
        <div class="row tiles-row">
          <div class="large-12 columns">
            <div class="client_admin_tiles tile-grid">
              <%= render "shared/tiles/contextual_tiles", { presenter: SingleExploreTilePresenter, tiles: search_service.client_admin_org_tiles[0..search_service.overview_limit], opts: {} } %>
            </div>
            <div class="endless_scroll_loading text-center" style="display:none;">
              <i class="fa fa-spinner fa-spin fa-3x text-center" style="color:#48BFFF;margin-top:30px;"></i>
            </div>
          </div>
        </div>
        <% if search_service.client_admin_org_tiles.total_count > search_service.overview_limit %>
          <div class="row">
            <div class="columns small-12 text-center">
              <%= link_to "#orgTiles", class:"searchMoreTabLink button", data: { tab_id: "#orgTilesTab"} do %>
                See More
              <% end %>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
    <% if search_service.explore_tiles.present? %>
      <section class="manage_section explore_tiles" style="margin-top:30px;">
        <div class="row">
          <div class="columns small-12">
            <h4 class="search-overview-header">Explore Tiles</h4>
          </div>
        </div>
        <div class="row tiles-row">
          <div class="large-12 columns">
            <div class="client_admin_tiles tile-grid">
              <%= render "shared/tiles/contextual_tiles", { presenter: SingleExploreTilePresenter, tiles: search_service.explore_tiles[0..search_service.overview_limit], opts: {} } %>
            </div>
            <div class="endless_scroll_loading text-center" style="display:none;">
              <i class="fa fa-spinner fa-spin fa-3x text-center" style="color:#48BFFF;margin-top:30px;"></i>
            </div>
          </div>
        </div>
        <% if search_service.explore_tiles.total_count > search_service.overview_limit %>
          <div class="row">
            <div class="columns small-12 text-center">
              <%= link_to "#exploreTiles", class:"searchMoreTabLink button", data: { tab_id: "#exploreTilesTab"} do %>
                See More
              <% end %>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
  <% else %>
    <%= render 'explore/searches/no_results', text: t("views.explore.searches.no_results_html", query: params[:query], path: link_to("Airbo Explore", explore_path)) %>
  <% end %>
</div>
