<%content_for :head do%>
  <%= javascript_include_tag 'jquery.lightbox_me' %>
<%end%>
<%= render partial: 'shared/tiles/user_progress', locals: { as_null:false, raffle: current_user.demo.raffle, opts: { from_search: true } } %>
<% if search_service.tiles_present? %>
  <div class="user-results">
    <div class="row">
      <div class="columns small-12">
        <%= link_to t('defaults.links.back_to_your_board'), root_path, class: "back_to_your_board_link" %>
        <br>
        <h3 class="explore-headers search-results-description">Search results for "<%= params[:query] %>"</h3>
      </div>
    </div>
    <%= render 'shared/tiles/display_contextual_tiles', { tiles: search_service.user_tiles, container: 'user_tiles', presenter: SingleTilePresenter, opts: { show_more_button: false, endless_scroll: true, show_more_path: explore_search_path({ section: 'user_tiles' }), feature: "search" } } %>
  </div>
  <div id="tileViewer" class="tile_previews tile_previews-show">
  </div>
<% else %>
  <section class="manage_section">
  <%= render 'explore/searches/no_results', text: t("views.explore.searches.user.no_results_html", query: params[:query], path: link_to("your Airbo", activity_path)) %>
  </section>
<% end %>
