<div class="explore explore-search-results explore-search-results-<%= get_user_type(current_user) %> has-tile-thumnails" data-user-type="<%= get_user_type(current_user) %>" data-query="<%= params[:query] %>">
  <% if get_user_type(current_user) === "client_admin" %>
    <%= render 'explore/searches/client_admin_show', search_service: @search_service %>
  <% elsif get_user_type(current_user) === "user" %>
    <%= render 'explore/searches/user_show', search_service: @search_service %>
  <% else %>
    <%= render 'explore/searches/guest_show', search_service: @search_service %>
  <% end %>
</div>
