<div class="explore explore-search-results explore-search-results-<%= get_user_type(current_user) %> has-tile-thumnails" data-user-type="<%= get_user_type(current_user) %>" data-query="<%= params[:query] %>">
  <div class="row">
    <div class="columns small-12">
      <h4 class="explore-headers search-results-description"><span>Search results for "<%= params[:query] %>"</span></h4>
    </div>
  </div>
  <div id="searchTabs">
    <div class="row">
      <div class="columns small-12 search-options">
        <ul>
          <span>
            <%= link_to "#myTiles", class:"first searchTabLink" do %>
              My Tiles <span class="result-count"><%= "(#{@search_service.user_tiles.total_count})" %>
            <% end %>
          </span>
          <span>
            <%= link_to "#exploreTiles", class:"searchTabLink" do %>
              Explore Tiles <span class="result-count"><%= "(#{@search_service.explore_tiles.total_count})" %>
            <% end %>
          </span>
          <span>
            <%= link_to "#campaigns", class:"last searchTabLink" do %>
              Campaigns <span class="result-count"><%= "(#{@search_service.campaigns.count})" %>
            <% end %>
          </span>
        </ul>
      </div>
    </div>
    <div id="myTiles" class="searchTab">
      <div class="manage-section">
        <%= render "explore/searches/my_tiles", { search_service: @search_service} %>
      </div>
    </div>
    <div id="exploreTiles" class="searchTab tile_wall_explore">
      <%= render "explore/searches/explore_tiles", { search_service: @search_service} %>
    </div>
    <div id="campaigns" class="searchTab tile_wall_explore">
      <%= render "explore/searches/campaigns", { search_service: @search_service} %>
    </div>
  </div>
</div>
