#interaction_popularity_table
  .table-title <span class='bold'>Bar Graph</span>, Interaction Popularity
  %table
    %tr
      %th Interaction
      %th # Completed
      %th % Completed
    - @rules.each do |rule|
      - zebra_stripes = cycle('', 'stripe')
      %tr{:class => zebra_stripes} 
        %td
          = rule.primary_value ? rule.primary_value.value : nil
          = render 'hidden_tag_div', :rule => rule
        - num = Act.where(:demo_id => @demo.id, :rule_id => rule.id).count
        %td= num
        %td= "#{"%.1f" % (100.0 * num / @num_users_this_demo)}%"  
    
#user_activity_table
  .table-title <span class='bold'>Histogram</span>, # Interactions vs Users
  %table
    %tr
      %th Interactions Completed
      %th # Users 
      %th % Users 
    - counter = @number_rows - 1
    - @number_rows.times do 
      - zebra_stripes = cycle('', 'stripe')
      %tr{:class => zebra_stripes} 
        %td= counter
        - val = @user_usage_data[counter]
        %td= val
        %td= "#{"%.1f" % (100.0 * val / @num_users_this_demo)}%" 
      - counter -= 1 
        

    
      
