%h3 Notify users of new tiles
%div.notification_controls
  %div.send_to
    %p 
      Who do you like to notify?
      %a{:href => "/pages/static_digest", :target => "_blank", :id => "digest_example"} Sample
    = select_tag :digest_send_to, options_for_select([['all users', true], ['only joined users', false]], @demo.unclaimed_users_also_get_digest)

  %div.follow_up
    %p 
      Send reminder email to users that don't engage?
      %a{:href => "/pages/static_followup", :target => "_blank", :id => "followup_example"} Sample
      %span Automatically increases participation rates and makes sure your content is seen.
    = check_box_tag :send_follow_up
    = label_tag :send_follow_up, 'Yes'
    On:
    = select_tag :follow_up_day, options_for_select(Date::DAYNAMES, selected: default_follow_up_day), disabled: true
  
  %div.button_wrap
    = button_to "Send digest now", client_admin_tiles_digest_notification_path, confirm: 'Are you sure you want to send the digest email?'
  %p#last-email= digest_email_sent_on_message

= render 'cancel_follow_ups'