%div#digest-email-message
  = num_tiles_in_digest_email_message
  = select_tag :digest_send_on, options_for_select(Demo::TILE_DIGEST_EMAIL_SEND_ON, @tile_digest_email_send_on)
  or you can
  = submit_tag "Send now"

%div#digest-email-view= link_to 'View email', client_admin_tile_digest_notification_path(1), target: '_blank'
%div#digest-last-email-message= digest_email_sent_on_message
