<%= form_for tile_builder_form, tile_builder_form.form_params do |f| %>
  <%= render 'client_admin/tiles/form/image_library', tile_images: tile_images, form: f %>
  <div class="tile_holder_container">
    <div class="tile_form_holder">
      <div class="large-8 large-centered columns builder-width">
        <div class="tile_holder">
          <%= render 'client_admin/tiles/form/image_preview', form: f %>
          <div class="builder_content tile_builder_section">
            <%= render 'client_admin/tiles/form/headline_and_supporting_content_fields', form: f %>
          </div>
          <%= render 'client_admin/tiles/form/question_and_answer_section', form: f %>
        </div>
        <%= render 'client_admin/tiles/form/submit_button', submit_button_text: tile_builder_form.submit_button_text, return_button_text: tile_builder_form.return_button_text, form: f %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'client_admin/tiles/poll_for_image_if_needed', tile: tile_builder_form.tile %>