
<div class="row">
  <div class="columns large-8 large-centered">
    <ul class="tile_preview_menu form_menu" >
      <li class="preview_menu_item">
        <a href="#" class = "submit_tile_form">
          <i class="fa fa-save fa-1x"></i>
          <span class="header_text">
            Save Tile
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="columns large-8 large-centered">
    <%= form_for @tile,  as: :tile, url: tile_builder_url(@tile), html: { id: "new_tile_builder_form", class: "new_tile_builder_form",  data: { tileid: @tile.id } } do |f| %>
      <%= f.hidden_field :status %>
      <%= f.hidden_field :remote_media_type,  id: "remote_media_type" %>
      <%= f.hidden_field :media_source, id: "media_source"%>
      <%= hidden_field_tag :pseudo_tile_id %>
      <%= hidden_field_tag "tile[attachments][]", "DELETE" %>


      <div class="tile_holder_container">

        <div class="tile_form_holder">
          <div class="tile_holder">
            <%= render '/shared/tiles/form/image_preview', form: f %>
            <div class="builder_content tile_builder_section">
              <%= render 'shared/tiles/form/headline_and_supporting_content_fields', form: f, tile: @tile %>
            </div>
            <div class="attachments">
              <%= render partial: "/client_admin/tiles/tile_attachments", locals: {tile: @tile}%>
              <div class="add-attachment-wrapper">
                <a class=" js-file-upload-trigger " data-target="#file-uploader" >
                  <%=fa_icon "plus", class: "icon-add-attachment"%>
                  <span class="add-attachment">Add Attachment</span>
                </a>
              </div>
            </div>
            <%= render 'shared/tiles/form/question_and_answer_section', form: f %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="image-provider-data hidden"
data-pixabay="<%= ENV['PIXABAY_KEY'] %>"
data-giphy="<%= ENV['GIPHY_KEY'] %>">
</div>

<%= s3_uploader_form  id: "image-uploader", class: "s3-uploader", data:{uploadType: 'tileImage'} do %>
  <%= file_field_tag :file, id:"media_file" %>
<% end %>


<%= s3_uploader_form  id: "file-uploader", class: "s3-uploader", bucket: APP_BUCKET, data:{path: @tile.tile_attachments_path, uploadType: 'tileAttachment'} do %>
  <%= file_field_tag "file", id:"tileAttachment" , multiple: true%>
<% end %>

<!-- Used for dynamically adding attachments to list -->
<div class="tile-attachment  hidden-template" >
  <%=fa_icon "times-circle", class: "attachment-delete" %>
  <%=link_to "", target: "_blank" do %>
    <div class="tile-attachment-inner">
      <i class='fa fa-file-o icon-tile-attachment'></i>
      <div class="attachment-filename"></div>
    </div>
  <%end%>
</div>
