<div id="tile_headline" class="content_sections">
  <%= form.label :headline %>
  <%= form.text_area :headline, {maxlength: 75, placeholder:'Give this tile a headline'} %>
</div>
<div id="tile_supporting_content" class="content_sections">
  <%= form.label :supporting_content %>
  <%= form.text_area :supporting_content, {maxlength: 300, exceed_maxlength: true, placeholder:'Tell your users more about this topic.', rows: 10} %>
</div>
<div id="tile_external_link" class="content_sections">
  <%= form.label :link_address, "Add a link (optional)" %>
  <%= form.text_field :link_address %>
</div>

<% js_at_end do %>
  addCharacterCounterFor('#tile_builder_form_headline');
  addCharacterCounterFor('#tile_builder_form_supporting_content');
<% end %>
