<div class="builder_content">
  <div id="image_uploader">
    <% image_class = tile_image_present(@tile_builder_form.image_url) ? "show_shadows" : "show_placeholder" %>
    <div class="image_preview <%= image_class %>">
      <%= image_tag @tile_builder_form.image_url, class: "tile_image", id: "upload_preview" %>
      <div class="image_placeholder">
        <i class="fa fa-picture-o fa-4x"></i>
        <label>Pick an image</label>
      </div>
      <div class="shadows">
        <div class="shadow_overlay"></div>
        <div class="clear_image has-tip tip-top" data-tooltip title="Remove the image">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div class="image_credit">

          <% if ie9_or_older? %>
            <div class="image_credit_view">
              <%= @tile_builder_form.tile.image_credit %>
            </div>
          <% else %>
            <div class="image_credit_view" contenteditable="true">
              <%= @tile_builder_form.tile.image_credit%>
            </div>
            <%= form.text_area :image_credit %>
          <% end %>
          
        </div>
      </div>
    </div>

    <% if ie9_or_older? %>
      <div class="pick_image tile_builder_section">
        <div class="upload_new_image">
          <label>Upload your own image</label>
          <%= form.file_field "image", :style => 'display: block;' %>
        </div>
      </div>
    <% end %>

  </div>

  <% if ie9_or_older? %>
    <div class="content_sections">
      <%= form.label :image_credit %>
      <%= form.text_field :image_credit, {maxlength: 50, placeholder:'Add Image Credit'} %>
    </div>
  <% end %>

</div>

<% if ie9_or_older? %>
  <% js_at_end do %>
    window.imageCreditIE();
    window.imagePreview();
  <% end %>
<% else %>
  <%= js_at_end do %>
    window.imageCredit();
    window.imagePreview();
  <% end %>
<% end %>
