<div class="builder_content">
  <div id="image_uploader">
    <div class="image_preview">
      <%= hidden_field_tag "image_container", @container_id, id: "image_container" %>
      <%= hidden_field_tag "old_image_container", @container_id, id: "old_image_container" %>
      <%= image_tag @image_url, class: "tile_image", id: "upload_preview" %>
      <div class="image_placeholder">
        <i class="fa fa-picture-o fa-4x"></i>
        <label>Pick an image</label>
      </div>
      <div class="shadows">
        <div class="shadow_overlay"></div>
        <div class="clear_image has-tip tip-top" data-tooltip title="Remove the image">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div class="image_credit">
          <div class="image_credit_view"></div>
          <%= form.text_field :image_credit, {maxlength: 50, placeholder:'Add Image Credit'} %>
        </div>
      </div>
      <div class="upload_new_image">
        <%= form.file_field "image" %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      if($(".tile_image").attr("src").indexOf("/assets/avatars/thumb/missing.png") >= 0) {
        showPlaceholder();
      }else{
        showShadows();
      }
      saveImageCreditChanges();
      addCharacterCounterFor('#tile_builder_form_image_credit');
      showImageCreditView();
    });

    function showPlaceholder() {
      $(".image_preview").removeClass("show_shadows").addClass("show_placeholder");
    };

    function showShadows() {
      $(".image_preview").removeClass("show_placeholder").addClass("show_shadows");
    };

    $("#tile_builder_form_image").change(function PreviewImage() {
      var oFReader = new FileReader();
      oFReader.readAsDataURL(document.getElementById("tile_builder_form_image").files[0]);

      oFReader.onload = function (oFREvent) {
          document.getElementById("upload_preview").src = oFREvent.target.result;
      };
      $("#image_container").val("");
      showShadows();
    });

    $(".clear_image").click(function clearImage(event) {
      event.preventDefault();
      $("#image_container").val("no_image");
      var control = $("#tile_builder_form_image");
      control.replaceWith( control = control.clone( true ) );
      showPlaceholder();
      //clear image credit
      $("#tile_builder_form_image_credit").val("");
      saveImageCreditChanges();
    });

    $("#tile_builder_form_image_credit").bind('input propertychange', function(){ 
      saveImageCreditChanges();     
    });

    $(".image_credit_view").click(function() {
      showImageCreditInput();
    });

    $('body').click(function(event) {
      if (!$(event.target).is(".image_credit_view") && !$(event.target).is("#tile_builder_form_image_credit")) {
        showImageCreditView();
      }
    });

    function saveImageCreditChanges() {
      input = $("#tile_builder_form_image_credit");
      if(input.val() != ""){
        text = input.val();
      }else{
        text = "Add Image Credit"
      }
      $(".image_credit_view").html(text);
    };

    function showImageCreditView() {
      $("#tile_builder_form_image_credit").css("display", "none");
      $(".image_credit_view").css("display", "block");
      $(".image_credit").find(".character-counter").css("display", "none");
    };

    function showImageCreditInput() {
      $("#tile_builder_form_image_credit").css("display", "block").focus().select();
      $(".image_credit_view").css("display", "none");
      $(".image_credit").find(".character-counter").css("display", "block");
    };
  <% end %>
<% end %>