<div class="builder_content">
  <div id="image_uploader">
    <% unless (params[:action] == "new" || params[:action] == "create") %>
      <div>
        <div class="image_preview">
          <%= image_tag @tile_builder_form.image_url, class: "tile_image", id: "upload_preview" %>
          <div class="shadow_overlay"></div>
          <div class="image_credit">
            <div class="image_credit_view">
              <%= @tile_builder_form.tile.image_credit %>
            </div>
          </div>
        </div>
    <% else %>
      <div class="pick_image tile_builder_section">
        <div class="image_text">
          <label>Pick an image</label>
          <p>This is where your image will appear in your live tile.</p>
        </div>
    <% end %>
      <div class="upload_new_image">
        <%= form.file_field "image", :style => 'display: block;' %>
      </div>
    </div>
  </div>
  <div class="content_sections">
    <%= form.label :image_credit %>
    <%= form.text_field :image_credit, {maxlength: 50, placeholder:'Add Image Credit'} %>
  </div>
</div>

<% js_at_end do %>
  bindTileUploaderIE();
<% end %>
