<div class="builder_content">
  <div id="image_uploader">
    <div class="image_preview">
      <%= hidden_field_tag "image_container", @container_id, id: "image_container" %>
      <%= hidden_field_tag "old_image_container", @container_id, id: "old_image_container" %>
      <%= image_tag @image_url, class: "tile_image", id: "upload_preview" %>
      <div class="image_placeholder">
        <i class="fa fa-picture-o fa-4x"></i>
        <label>Pick an image</label>
      </div>
      <div class="shadows">
        <div class="shadow_overlay"></div>
        <div class="clear_image has-tip tip-top" data-tooltip title="Remove the image">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div class="image_credit">
          <div class="image_credit_view" contenteditable="true">
            <%= @tile_builder_form.tile.image_credit%>
          </div>
          <%= form.text_area :image_credit %>
        </div>
      </div>
      <div class="upload_new_image">
        <%= form.file_field "image" %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      if($(".tile_image").attr("src").indexOf("/assets/avatars/thumb/missing.png") >= 0) {
        showPlaceholder();
      }else{
        showShadows();
      }
      window.MAX_IMAGE_CREDIT_LENGTH = 50;
      saveImageCreditChanges();
      truncateImageCreditView();
    });

    function showPlaceholder() {
      $(".image_preview").removeClass("show_shadows").addClass("show_placeholder");
    };

    function showShadows() {
      $(".image_preview").removeClass("show_placeholder").addClass("show_shadows");
    };

    var imageFileTypes = [
      "image/bmp",
      "image/x-windows-bmp",
      "image/gif",
      "image/jpeg",
      "image/pjpeg",
      "image/x-portable-bmp",
      "image/png"
    ];

    function filetypeNotOnWhitelist(file) {
      var type = file.type;
      return ($.inArray(type, imageFileTypes) == -1);
    };

    $("#tile_builder_form_image").change(function PreviewImage(event) {
      var attachedFile = document.getElementById("tile_builder_form_image").files[0];
      if(filetypeNotOnWhitelist(attachedFile)) {
        alert("Sorry, that file doesn't look like an image format I understand. Please try a file with extension .jpg, .jpeg, .gif, .bmp, or .png.");
        event.preventDefault();
        return(false);
      }

      var oFReader = new FileReader();
      oFReader.readAsDataURL(attachedFile);

      oFReader.onload = function (oFREvent) {
        document.getElementById("upload_preview").src = oFREvent.target.result;
      };
      $("#image_container").val("");
      showShadows();
    });

    $(".clear_image").click(function clearImage(event) {
      event.preventDefault();
      $("#image_container").val("no_image");
      var control = $("#tile_builder_form_image");
      control.replaceWith( control = control.clone( true ) );
      showPlaceholder();
      // remove image credit
      $(".image_credit_view").text("");
      saveImageCreditChanges();
    });

    $(".image_credit_view").keyup( function(){ 
      saveImageCreditChanges("keyup");
      truncateImageCreditView();    
    });

    $(".image_credit_view").keydown( function deleteTruncateImageCredit(e){ 
      div_input = $(this);
      if( div_input.hasClass("truncate") && e.keyCode == 8 ){//backspace
        div_input.removeClass("truncate");
        div_input.text("");
      }
    });

    $(".image_credit_view").click(function deleteImageCreditPlaceholder(){
      if( $(this).hasClass("empty")){
        $(this).text("").focus();
      }
    });

    $(".image_credit_view").focusout(function addImageCreditPlaceholder(){
      if( $(this).hasClass("empty")){
        $(this).text("Add Image Credit");
      }
    });

    $(".image_credit_view").bind("paste", function(){
      $(".image_credit_view").text("").addClass("remove").removeClass("truncate");
    });

    function saveImageCreditChanges(caller) {
      div_input = $(".image_credit_view");
      //check if we have any text in div(delete spaces)
      text_length = div_input.text().replace(/\s+/g, '').length

      if(text_length == 0){
        div_input.addClass("empty").removeClass("truncate");
        if (!div_input.is(":focus") && caller != "keyup") {
          div_input.text("Add Image Credit")
        }
        text = "";
      }else if( div_input.hasClass("truncate") ){
        text = $("#tile_builder_form_image_credit").text(); //do nothing
      }else if(text_length > 0){
        div_input.removeClass("empty")
        text = div_input.text();
      }
      $("#tile_builder_form_image_credit").text(text);
    };

    function truncateImageCreditView(){
      div_input = $(".image_credit_view");
      text = div_input.text();
      if( !div_input.hasClass("truncate") && text.length > MAX_IMAGE_CREDIT_LENGTH + 3){
        div_input.text(div_input.text().substring(0,50) + "...");
        div_input.addClass("truncate");
      }
    };
  <% end %>
<% end %>
