<% unless ie9_or_older? %>
  <div class="tile_image_block upload_image">
    <%= fa_icon('arrow-circle-o-up 2x') %>
    <span>Upload Image</span>
      <div class="upload_new_image">
        <%= form.file_field "image" %>
      </div>
  </div>
<% end %>
<%= form.hidden_field :image_container, id: "image_container" %>
<%= form.hidden_field :old_image_container %>
<%= form.hidden_field :no_image, id: "no_image" %>
<%= form.hidden_field :image_from_library, id: "image_from_library" %>