<% if $rollout.active?(:public_tile, current_user) %>
  <div class="tile_builder_section builder_public">
    <div class="content_sections">
      <%= form.label :is_public, "Is this tile public?" %>
      <%= form.check_box :is_public %>
      <br/>
      <% copyable_style = form.object.is_public ? '' : 'display: none' %>
      <div id="is_copyable_controls" style="<%= copyable_style %>">
        <%= form.label :is_copyable, "Can other creators copy this tile?" %>
        <%= form.check_box :is_copyable %>
      </div>
    </div>
  </div>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $('#tile_builder_form_is_public').click(function() {
        $('#is_copyable_controls').slideToggle();
      });
    <% end %>
  <% end %>

  <%= javascript_include_tag "jquery.lightbox_me" %>
  <%= javascript_include_tag "client_admin/add_new_item_via_select" %>
  
  <% content_for :lightbox do %>
    <div id="new_tag_lightbox">
      <form>
        <%= label_tag "tag_name", "New tag" %> 
        <%= text_field_tag "tag_name" %>
        <%= submit_tag "Save new tag", class: "lightbox_form_submit_button" %>
      </form>
    </div>
  <% end %>

  <%= label_tag "tile_tag_select", "Tag with:" %>
  <%= render 'tag_select', tags: @tags %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      bindShowNewItemLightbox('#tile_tag_select', 'Add new...', '#new_tag_lightbox', '<%= client_admin_tags_path %>', '');
    <% end %>
  <% end %>
<% end %>
