<div class="builder_quiz tile_builder_section">
  <div id="quiz_question" class="content_sections">
    <%= form.label :question, "Ask a question" %>
    <%= form.text_area :question %>
  </div>

  <div id="quiz_answers" class="content_sections">
    <%= form.label "answers[]", form.object.answer_prompt %>
    <div id="answers">
      <% form.object.answers.each_with_index do |answer, i| %>
        <ul class="answer_option">
          <% if form.object.tile.kind_of?(MultipleChoiceTile) %>
            <% is_correct_answer = (i == form.object.tile.correct_answer_index) %>
            <li class="<%= "option_radio" + (is_correct_answer ? " option_selected" : "") %>"><%= radio_button_tag "tile_builder_form[correct_answer_index]", i, is_correct_answer, class: 'correct-answer-button answer-part' %></li>
          <% end %>
          <li class="option_input"><%= text_field_tag "tile_builder_form[answers][]", answer, class: 'answer-field answer-part', maxlength: 50 %></li>
        </ul>
      <% end %>
    </div>
    <%= link_to "Add another answer", "#", id: "add-answer-link" %>
  </div>

  <div id="set_points" class="content_sections">
    <p>How many points is this tile worth (1 to 20)?</p>
    <%= form.text_field :points, {maxlength: 2} %>
    <%= form.label :points %>
  </div>

  <% content_for :javascript do %>
    <%= javascript_include_tag 'admin/byte_counter' %>
    <%= javascript_tag do %>

      function turnRadioGreen() {
        $('.option_radio').click(function() {
          var radioButton = $(this).find('input:radio');
          if($(this).hasClass('option_selected')){
            $('.option_radio').removeClass('option_selected');  
            radioButton.prop('checked', false);
          }else {
            $('.option_radio').removeClass('option_selected');  
            radioButton.attr('checked','true');
            $(this).addClass('option_selected');
          }  
        });
      };

      $(function() {
        var initialAnswerField = $('.answer_option').eq(0);

        $('#add-answer-link').click(function(e) {
          e.preventDefault();
          var existingRadioCount = $('.option_radio').length;

          var newField = initialAnswerField.clone()
                            .find('.character-counter').remove().end()
                            .find('.option_radio').removeClass('option_selected').end()
                            .find('.answer-field').val('').end()
                            .find('input:radio').removeAttr('checked').attr('value', existingRadioCount).end();
          var newFieldAnswer = newField.find('.answer-field');

          newField.appendTo('#answers');
          addCharacterCounterFor(newFieldAnswer);
          turnRadioGreen();
        });
      });

      addCharacterCounterFor('#tile_builder_form_headline');
      addCharacterCounterFor('#tile_builder_form_supporting_content');
      _.each($('.answer-field'), addCharacterCounterFor);
      turnRadioGreen();
    <% end %>
  <% end %>
</div>
