<div class="share_section">
  <div class="share_link_block">
    <div class="title">Tile Share Link</div>
    <i class="fa fa-question-circle has-tip" data-tooltip="true" title="If private, only your users can see the tile when you post it. <br/>If public, anyone can see your tile if you share it."></i>
    <div class="tile_status">
      <div class="off <%= tile.is_sharable? ? "disengaged" : "engaged" %>">OFF</div>
      <%= form_for tile.to_form_builder, url: client_admin_public_tile_path(tile), method: :put, remote: true, html: { id: "sharable_link_form"} do |form| %>
        <div class="switch small round">
          <%= form.radio_button :is_sharable, true, id: 'sharable_tile_link_on' %>
          <%= form.radio_button :is_sharable, false, id: 'sharable_tile_link_off' %>
          <span class='green-paddle'></span>
        </div>
      <% end %>
      <div class="on <%= tile.is_sharable? ? "engaged" : "disengaged" %>">ON</div>
    </div>
  </div>
  <div class="share_via_block">
    <div class="share_via share_via_explore">
      <%= fa_icon('rocket') %>
      <div class="explore_title">Airbo Explore</div>
    </div>
    <%= link_to sharable_tile_on_facebook(tile), id: "share_via_facebook_link" do %>
      <div class="share_via share_via_facebook">
        <%= fa_icon('facebook') %>
      </div>
    <% end %>
    <%= link_to sharable_tile_on_twitter(tile), id: "share_via_twitter_link" do %>
      <div class="share_via share_via_twitter">
        <%= fa_icon('twitter') %>
      </div>
    <% end %>
    <%= link_to sharable_tile_on_linkedin(tile), id: "share_via_linkedin_link" do %>
      <div class="share_via share_via_linkedin">
        <%= fa_icon('linkedin') %>
      </div>
    <% end %>
    <% mail_content = capture do %>
      <div class="share_via share_via_email">
        <%= fa_icon('envelope-o') %>
      </div>
    <% end %>
    <%= mail_to '', mail_content, subject: 'Tile shared via Airbo', body: " I want to share this tile with you from Airbo: #{sharable_tile_url(tile)}" %>
    <div class="share_via_link">
      <%= text_field_tag 'sharable_tile_link', sharable_tile_link(tile), disabled: !tile.is_sharable? %>
    </div>
  </div>
</div>
<%= form_for tile.to_form_builder, url: client_admin_public_tile_path(tile), method: :put, remote: true, html: {id: "public_tile_form"} do |f| %>
  <%= render 'public_section', form: f %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $().ready(function(){
      window.sharableTileLink();
    });
  <% end %>
<% end %>