<div class="share_section">
  <div class="share_link_block">
    <div class="title">Tile Share Link</div>
    <i class="fa fa-question-circle has-tip" data-tooltip="true" title="If private, only your users can see the tile when you post it. <br/>If public, anyone can see your tile if you share it."></i>
    <div class="tile_status">
      <div class="off <%= tile.is_sharable? ? "disengaged" : "engaged" %>">OFF</div>
      <%= form_for tile, url: client_admin_public_tile_path(tile), method: :put, remote: true do |form| %>
        <div class="switch small round">
          <%= form.radio_button :is_sharable, true, id: 'sharable_tile_link_on' %>
          <%= form.radio_button :is_sharable, false, id: 'sharable_tile_link_off' %>
          <span class='green-paddle'></span>
        </div>
      <% end %>
      <div class="on <%= tile.is_sharable? ? "engaged" : "disengaged" %>">ON</div>
    </div>
  </div>
  <div class="share_via_block">
    <div class="share_via share_via_explore">
      <%= fa_icon('rocket') %>
      <div class="explore_title">Airbo Explore</div>
    </div>
    <div class="share_via share_via_facebook">
      <%= fa_icon('facebook') %>
    </div>
    <div class="share_via share_via_twitter">
      <%= fa_icon('twitter') %>
    </div>
    <div class="share_via share_via_linkedin">
      <%= fa_icon('linkedin') %>
    </div>
    <div class="share_via share_via_email">
      <%= fa_icon('envelope-o') %>
    </div>
    <div class="share_via_link">
      <%= text_field_tag 'sharable_tile_link', sharable_tile_link(tile), disabled: !tile.is_sharable? %>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $().ready(function(){
      window.sharableTileLink();
    });
  <% end %>
<% end %>