#tile_manager_nav
  %ul.large-12
    %li#managing_tiles= link_to 'Tiles', client_admin_tiles_path
    %li#share_tiles= link_to 'Share', client_admin_share_path
    %li#board_activity= link_to 'Activity', client_admin_path
    %li#users= link_to 'Users', client_admin_users_path
    %li#explore= link_to 'Explore', client_admin_explore_path
