%ul#tile_manager_nav
  %li#explore
    = link_to explore_path do
      = fa_icon "rocket"
      Explore
  %li#home_nav
    = link_to activity_path do
      = image_tag "airbo_logo_lightblue_square.png"
      Preview
  %li#managing_tiles
    = link_to client_admin_tiles_path do
      = fa_icon "square-o"
      Create
  -if @demo.try(:non_activated?) && current_user.show_onboarding?
    %li#share_tiles.share_tiles.has-tip.text-center{"data-tooltip" => true, title:'Create and post at least one tile to unlock'}
      .blocked_nav
        %i.fa.fa-lock
        Share
    %li#board_activity.board_activity.has-tip.text-center{"data-tooltip" => true, title:'Create and post at least one tile to unlock'}
      .blocked_nav
        %i.fa.fa-lock
        Activity
    %li#prizes_nav.prizes_nav.has-tip.text-center{"data-tooltip" => true, title:'Create and post at least one tile to unlock'}
      .blocked_nav
        %i.fa.fa-lock
        Prizes
    %li#users.users.has-tip.text-center{"data-tooltip" => true, title:'Create and post at least one tile to unlock'}
      .blocked_nav
        %i.fa.fa-lock
        Users
  -else
    %li#share_tiles
      = link_to client_admin_share_path do
        = fa_icon "share-alt"
        Share
        %span= @tiles_to_be_sent
    %li#board_activity
      = link_to client_admin_path do
        = fa_icon "line-chart"
        Activity
    %li#prizes_nav
      = link_to client_admin_prizes_path do
        = fa_icon "trophy"
        Prizes
    %li#users
      = link_to client_admin_users_path do
        = fa_icon "users"
        Users
