<ul class="tile_preview_menu">  
  <% if @tile.active? %>
    <li class="preview_menu_header posted">        
      Posted
    </li>
  <% elsif @tile.archived? %>
    <li class="preview_menu_header archived">
      Archive
    </li>
  <% else %>
    <li class="preview_menu_header draft">
      Draft
    </li>    
  <% end %>
  <li class="back_header" id="back_header">
    <%= link_to @back_to_tiles_href do %>
      <p class="fa fa-chevron-left fa-2x"></p>
      <p class="header_text">Back to Tiles</p>
    <% end %>
  </li>
  <%= render 'activate_deactivate_link', tile: @tile %>      
  <li class="edit_header">
    <%= link_to edit_client_admin_tile_path(@tile, path: @tag) do %>
      <p class="fa fa-pencil fa-2x"></p>
      <p class="header_text">Edit</p>
    <% end %>
  </li>
  <li class="destroy_header">
    <%= link_to client_admin_tile_path(@tile), method: :delete, data: { confirm:destroy_tile_message_params }  do %>
      <p class="fa fa-trash fa-2x"></p>
      <p class="header_text">Delete</p>
    <% end %>
  <li class="new_tile_header">
    <%= link_to new_client_admin_tile_path(path: @tag) do %>
      <p class="fa fa-plus fa-2x"></p>
      <p class="header_text">New Tile</p>
    <% end %>
  </li>
</ul>
