<div class="large-9 large-centered columns tile_preview_container">
  <%= render partial: 'client_admin/tiles/tile_preview/menu', locals: {tile: @tile} %>
  <% if @tile.has_client_admin_status? %>
    <%= render partial: 'client_admin/tiles/tile_preview/share_section', locals: {tile: @tile} %>
  <% end %>

  <div class='viewer'>
    <%= link_to "", "#", :id => :prev %>
      <div id="slideshow">
        <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>
      </div>
    <%= link_to "" ,"#", :id => :next %>
  </div>

  <%= render 'shared/tiles/poll_for_image_if_needed', tile: @tile %>
</div>
