<h1 class="page-title" id="title">Edit tile</h1>

<%= render "shared/flashes" %>

<div class="builder_content tile_builder_section">
  <div id="image_uploader">
    <%= form_for @tile_builder_form, url: client_admin_tile_image_path(@tile_builder_form.tile), method: :put do |f| %>
      <%= image_tag @tile_builder_form.thumbnail %>
      <div class="upload_new_image">
        <%= f.file_field "image" %>
        <div class="button_wrap">
          <%= f.submit "Upload new image" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= form_for @tile_builder_form, url: client_admin_tile_path(@tile_builder_form.tile), method: :put do |f| %>
  <div class="builder_content">
    <%= render 'headline_and_supporting_content_fields', form: f %>
    <%= render 'question_and_answer_section', form: f %>
  </div>

  <div class="button_wrap" id="update_tile">
    <%= f.submit "Update tile" %>
  </div>

<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#image_uploader form').submit(function(event) {
      var imagePath = $('#tile_builder_form_image').val();
      if(imagePath.length == 0) {
        event.preventDefault();
        alert("Please choose an image to upload if you'd like to change the image.");
      }
    });
  <% end %>
<% end %>
