<%= render 'shared/mixpanel' %>
<%= mp_track_page 'tile editor (edit existing)' %>

<%= render 'image_library', tile_images: @tile_images %>
<div class="tile_holder_container">
  <div class="large-8 large-centered columns builder-width">
    <%= form_for @tile_builder_form, url: client_admin_tile_path(@tile_builder_form.tile), method: :put do |f| %>
      <div class="tile_holder">
        <% if browser.ie6? || browser.ie7? || browser.ie8? || browser.ie9? %>
          <%= render 'image_uploader_ie', form: f %>
        <% else %>
          <%= render 'image_uploader', form: f %>
        <% end %>
        <div class="builder_content tile_builder_section">
          <%= render 'headline_and_supporting_content_fields', form: f %>
        </div>
        <%= render 'question_and_answer_section', form: f %>
      </div>
      <%= render 'submit_button', submit_button_text: "Update tile", return_button_text: "Cancel", form: f %>
    <% end %>
    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile_builder_form.tile %>
  </div>
</div>
