<div id="client-admin-tiles-root"></div>
<%= javascript_pack_tag 'clientAdminTiles' %>

<div class="js-ca-tiles-index-module ca-tiles-index-module"
  data-tile-counts="<%= @tiles_facade.tile_counts.to_json %>"
  data-board-population-segments="<%= current_board.population_segments.to_json %>">
  <%= render partial: 'client_admin/tiles/tile_status_nav' %>

  <%= render partial: 'client_admin/tiles/manage_tiles/tiles_container', locals: {
    component_classes: "js-suggested-tiles-component hidden",
    id: "suggested",
    status: [Tile::USER_SUBMITTED, Tile::IGNORED],
    tiles: @tiles_facade.suggested_tiles,
    filter_nav: false
  } %>

  <%= render partial: 'client_admin/tiles/manage_tiles/tiles_container', locals: {
    component_classes: "js-plan-tiles-component hidden",
    id: "plan",
    status: Tile::PLAN,
    tiles: @tiles_facade.plan_tiles,
    filter_nav: "tile_filter_nav"
  } %>

  <%= render partial: 'client_admin/tiles/manage_tiles/tiles_container', locals: {
    component_classes: "js-draft-tiles-component hidden",
    id: "draft",
    status: Tile::DRAFT,
    tiles: @tiles_facade.draft_tiles,
    filter_nav: false
  } %>

  <%= render partial: 'client_admin/tiles/manage_tiles/tiles_container', locals: {
    component_classes: "js-active-tiles-component hidden",
    id: "active",
    status: Tile::ACTIVE,
    tiles: @tiles_facade.active_tiles,
    filter_nav: "tile_filter_nav"
  } %>

  <%= render partial: 'client_admin/tiles/manage_tiles/tiles_container', locals: {
    component_classes: "js-archive-tiles-component hidden",
    id: "archive",
    status: Tile::ARCHIVE,
    tiles: @tiles_facade.archive_tiles,
    filter_nav: "tile_filter_nav"
  } %>
</div>

<%= render partial: 'client_admin/suggestions_access/modal' %>
<%= render partial: 'client_admin/tiles/edit_campaign_modal' %>
