<div class="js-ca-tiles-index-module ca-tiles-index-module"
  data-tile-counts="<%= @tiles_facade.tile_counts.to_json %>">
  <div class="tabs-component-full-width">
    <div class="row">
      <ul class="js-ca-tiles-index-module-tabs with-tiles">
        <li class="js-ca-tiles-index-component-tab tab"
          data-tab-content="js-suggested-tiles-component"
          data-show-suggestion-box-controls="<%= true %>">
          <a href="#">Suggested <span class="js-tile-count x-small"><%= "(#{@tiles_facade.tile_counts["user_submitted"].to_i})" %></span></a>
        </li>
        <!-- <li class="js-ca-tiles-index-component-tab tab" data-tab-content="js-pinned-tiles-component"><a href="#">Planning</a></li> -->
        <li class="js-ca-tiles-index-component-tab tab active"
          data-tab-content="js-draft-tiles-component">
          <a href="#">Draft <span class="js-tile-count x-small"><%= "(#{@tiles_facade.tile_counts["draft"].to_i})" %></span></a>
        </li>

        <li class="js-ca-tiles-index-component-tab tab"
          data-tab-content="js-active-tiles-component"
          data-stats-link="<%= client_admin_tiles_report_path(report: Tile::ACTIVE, format: "csv") %>">
          <a href="#">Live <span class="js-tile-count x-small"><%= "(#{@tiles_facade.tile_counts["active"].to_i})" %></span></a>
        </li>

        <li class="js-ca-tiles-index-component-tab tab"
          data-tab-content="js-archive-tiles-component"
          data-stats-link="<%= client_admin_tiles_report_path(report: Tile::ARCHIVE, format: "csv") %>">
          <a href="#">Archive <span class="js-tile-count x-small"><%= "(#{@tiles_facade.tile_counts["archive"].to_i})" %></span></a>
        </li>

        <li class="buttons">
          <%= link_to "#download_stats", class: "hidden download-stats-button js-download-stats-button button outlined icon", title: "Download Excel file with statistics for all of the Tiles in this section.", data: { tooltip: true } do %>
          <%= fa_icon "download" %>
          <span>Download Stats</span>
          <% end %>

          <%= link_to "#suggestion_box_manage_access", class: "js-suggestion-box-manage-access button outlined icon hidden" do %>
          <%= fa_icon "users" %>
          <span>Manage Access</span>
          <% end %>

          <%= link_to new_client_admin_tile_path, class: "new-tile-button js-new-tile-button button icon" do %>
            <%= fa_icon "plus" %>
            <span>New Tile</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <%= render partial: 'client_admin/tiles/tiles_container', locals: {
    component_classes: "js-suggested-tiles-component hidden",
    id: "suggested",
    status: [Tile::USER_SUBMITTED, Tile::IGNORED],
    tiles: @tiles_facade.suggested_tiles
  } %>

  <%= render partial: 'client_admin/tiles/tiles_container', locals: {
    component_classes: "js-draft-tiles-component",
    id: "draft",
    status: Tile::DRAFT,
    tiles: @tiles_facade.draft_tiles
  } %>

  <%= render partial: 'client_admin/tiles/tiles_container', locals: {
    component_classes: "js-active-tiles-component hidden",
    id: "active",
    status: Tile::ACTIVE,
    tiles: @tiles_facade.active_tiles
  } %>

  <%= render partial: 'client_admin/tiles/tiles_container', locals: {
    component_classes: "js-archive-tiles-component hidden",
    id: "archive",
    status: Tile::ARCHIVE,
    tiles: @tiles_facade.archive_tiles
  } %>
</div>

<%= render partial: 'client_admin/suggestions_access/modal' %>
