/ WE NEED DIGEST PAGE -- %div#digest=  render partial: 'digest'
/ WE ALSO NEED REPORTS LOOPED INTO THIS PAGE

/ %ul#tile_manager_nav


.row
  .large-12.columns= render partial: 'tiles_tools_subnav'

%section.manage_tiles#archived_tiles
  .row
    .large-12.columns
      %h2 Inactive
      <a class="create_new_tile" href="/client_admin/tiles/new">+ Add new tile</a>
      %div#archive= render partial: 'shared/tiles/archive'

  = link_to "See All Inactive Tiles", client_admin_inactive_tiles_path

%section.manage_tiles#active_tiles
  .row
    .large-12.columns
      %h2 Active
      %div#active=  render partial: 'active'

- timeout_in_msecs = ThumbnailsController::THUMBNAIL_POLL_DELAY * 1000
- content_for :javascript do
  :javascript
    startTileThumbnailPollingFromQueue(#{timeout_in_msecs})
