%section.manage_tiles#draft_tiles.compressed_section{class: draftSectionClass}
  = render partial: 'client_admin/tiles/manage_tiles/draft'
.show_all_draft_section
  .row
    = link_to "Show all", '', class: :all_draft, style: "display:#{display_show_more_draft_tiles};"
.completed_tiles_containment
  %section.manage_tiles#active_tiles
    =  render partial: 'client_admin/tiles/manage_tiles/active'
  %section.manage_tiles#archived_tiles
    = render partial: 'client_admin/tiles/manage_tiles/archive'

= render partial: 'client_admin/tiles/manage_tiles/move_tile_confirmation_modal'
- if @board_is_brand_new
  = render partial: 'client_admin/tiles/manage_tiles/add_new_tile_joyride'

- content_for :javascript do
  :javascript
    
    $().ready(function(){
      window.dragAndDropTiles();
      window.expandDraftSectionOrSuggestionBox();
     var Airbo = window.Airbo || {};
     var positions;

      Airbo.TileOrganizer = (function(){
         positions = $('.draft.tile_thumbnail').map(function(i, o){
        return $(o).data("position")
        }).get();

      function maxPos(){
       console.log(positions);
        if (positions.length > 0){
        return Math.max.apply(null, positions);

        }else{
          return null;
        }
      }

      $("#add_new_tile_link").attr("href", function(index, value){
      var idx =  (maxPos() || ($('.draft.tile_thumbnail').length)) + 1;
      return  value + '&position=' + idx; 
      });

      }());

    });
