%section.manage_tiles#draft_tiles
  .draft_overlay
    .overlay_message
      = fa_icon "ban"
  .row
    .large-12.columns
      %h1 Draft
      %div#draft.manage_section= render partial: 'shared/tiles/draft'
      = link_to "Show all", client_admin_draft_tiles_path, :class => :all_draft
.completed_tiles_containment
  %section.manage_tiles#active_tiles
    .draft_blocked_message
      Oops! Sorry, you can't move a tile that's been completed by users back to draft. You can archive it.
    .row
      .large-12.columns
        %h1 Posted
        = link_to "Download stats", client_admin_tiles_report_path(report: Tile::ACTIVE, format: "csv"), class: "download_csv small_button"
        %div#active.manage_section=  render partial: 'active'

  %section.manage_tiles#archived_tiles
    .draft_blocked_message
      Oops! Sorry, you can't move a tile that's been completed by users back to draft. You can archive or repost it.
    .row
      .large-12.columns
        %h1 Archive
        = link_to "Download stats", client_admin_tiles_report_path(report: Tile::ARCHIVE, format: "csv"), class: 'download_csv small_button'
        %div#archive.manage_section= render partial: 'shared/tiles/archive'
        = link_to "Show all", client_admin_inactive_tiles_path, :class => :all_inactive

- if @board_is_brand_new
  #tile-joyride
    %ol.joyride-list.tile{"data-joyride" => true}
      %li{:"data-id"=>"add_new_tile_link", :"data-options"=>"tipLocation:top;nextButton:false"}
        %p.top-section
          Click the
          <b>+</b>
          button to create a new tile.
        .bottom-section
          Need ideas?
          = link_to 'Explore.', client_admin_explore_path

- timeout_in_msecs = ThumbnailsController::THUMBNAIL_POLL_DELAY * 1000
- content_for :javascript do
  :javascript
    startTileThumbnailPollingFromQueue(#{timeout_in_msecs})

- content_for :javascript do
  :javascript
    $().ready(function(){
      window.dragAndDropTiles()
    })
