<h1 class="page-title" id="title">Tile builder</h1>

<%= render "shared/flashes" %>

<%= form_for @tile_builder_form, url: client_admin_tiles_path do |f| %>
  
  <div class="composer_content composer_section">
    <div class="image_uploader">
      <h2>Pick and upload an image</h2>
      <%= f.file_field "image" %>
    </div>

    <%= f.label :headline %>
    <%= f.text_field :headline, {maxlength: 45} %>

    <%= f.label :supporting_content %>
    <%= f.text_field :supporting_content, {maxlength: 300} %>
  </div>

  <div class="composer_quiz composer_section">
    <%= f.label :question %>
    <%= f.text_field :question %>

    <%= f.label "answers[]", "Answer" %>
    <div id="answers">
      <% f.object.answers.each_with_index do |answer, i| %>
        <%= text_field_tag "tile_builder_form[answers][]", answer.value, class: 'answer-field', maxlength: 25 %>
      <% end %>
    </div>
    <%= link_to "Add another answer", "#", id: "add-answer-link" %>
  </div>

  <%= f.label :points %>
  <%= f.text_field :points %>

  <%= f.submit "Publish tile" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'admin/byte_counter' %>
  <%= javascript_tag do %>
    $(function() {
      var prototypeAnswerField = $('.answer-field').first();

      $('#add-answer-link').click(function(e) {
        e.preventDefault();
        var newField = prototypeAnswerField.clone();
        newField.attr('value', '');
        $('#answers').append(newField);
        addCharacterCounterFor('.answer-field:last-of-type');
      });
    });

    addCharacterCounterFor('#tile_builder_form_headline');
    addCharacterCounterFor('#tile_builder_form_supporting_content');
    addCharacterCounterFor('.answer-field');
  <% end %>
<% end %>
