<%= render 'shared/mixpanel' %>
<%= mp_track_page 'tile builder (create)' %>

<div class="row">
  <div class="large-8 large-centered columns builder-width">
    <%= form_for @tile_builder_form, url: client_admin_tiles_path do |f| %>
      <div class="tile_holder">
        <% if ie9_or_older? %>
          <%= render 'image_uploader_ie', form: f %>
        <% else %>
          <%= render 'image_uploader', form: f %>
        <% end %>
        <div class="builder_content tile_builder_section">
          <%= render 'headline_and_supporting_content_fields', form: f %>
        </div>

        <%= render 'question_and_answer_section', form: f %>
      </div>

      <%= render 'submit_button', submit_button_text: "Save tile", return_button_text: "Back", form: f %>
    <% end %>
  </div>
</div>

