<div class="row">
  <div class="large-8 large-centered columns">
    <%= render partial: 'tile_preview_menu'%>
    
    <%= render "tiles/full_size_tile", tile: @tile, answer_links_disabled: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
<% if @show_popover %>
  <% if @tile.demo.non_activated? %>
    <%= render partial: 'tile_post_guide_popover'%>
  <% elsif @tile.active?%>
    <%= render partial: 'tile_post_success_popover'%>
  <% end %>
<% end %>
