<% if @show_share_section_intro %>
  <% content_for :javascript do %>
    <%= javascript_tag do %>
      window.shareSectionIntro();
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="large-9 large-centered columns tile_preview_container">
    <%= render partial: 'tile_preview_menu'%>
    <%= render partial: 'share_section', locals: {tile: @tile} %>
    
    <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
<% if @show_tile_post_guide %>
  <%= render partial: 'tile_post_guide_popover'%>
<% elsif @show_tile_success_guide %>
  <%= render partial: 'tile_post_success_popover'%>
<% end %>
