<% if @show_share_section_intro %>
  <% content_for :javascript do %>
    <%= javascript_tag do %>
      window.shareSectionIntro();
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="large-9 large-centered columns tile_preview_container">
    <%= render partial: 'tile_preview_menu'%>
    <%= render partial: 'share_section', locals: {tile: @tile} %>
    <div class='viewer'>
      <%= link_to "", "#", :id => :prev %>
        <div id="slideshow">
          <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>
        </div>
      <%= link_to "" ,"#", :id => :next %>
    </div>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>

<% js_at_end do %>
  bindTileCarouselNavigationButtons();
<% end %>
