<div class="row">
  <div class="large-8 large-centered columns tile_holder_width">
    <%= link_to 'Manage Tiles', client_admin_tiles_path, :class => "tile_control back_to_all" %>
    <%= render 'activate_deactivate_link', tile: @tile %>
    <%= link_to 'Edit this tile', edit_client_admin_tile_path(@tile), :class => "tile_control edit_this_tile" %>
    <h5>Tile preview</h5>
    

    <%= render "tiles/full_size_tile", tile: @tile, answer_links_disabled: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
