<h1 class="page-title" id="title">Finished tile</h1>

<%= render "shared/flashes" %>

<ul class="tile_preview_options">
</ul>

<%= render "tiles/full_size_tile", tile: @tile, answer_links_disabled: true %>

<% if @tile.image_processing %>
  <% content_for :javascript do %>
    <%= javascript_tag do %>
      <% timeout_in_msec = ClientAdmin::ImagesController::IMAGE_POLL_DELAY * 1000 %>
      startTileImagePolling({'id': <%= @tile.id %>, 'type': 'image'}, <%= timeout_in_msec %>);
    <% end %>
  <% end %>
<% end %>
