<%= cache [__FILE__, 'part 1', 'v3.pwd', act, user] do %>
  <div class="user">
    <% if user.is_guest? %>
      <%= user.name %>
    <% else %>
      <%= link_to(user.name, user, :class => 'name-of-user') %> 
    <% end %>
    <%= (act.text) %>
  </div>
<% end %>

<span class="when small_cap">
  <%= time_description %> ago
</span>

<%= cache [__FILE__, 'part 2', 'v3.pwd', act] do %>
  <% flag_link_id = "flag_#{act.id}" %>
  <span class="flag">
    <%= link_to "", "#", :id => flag_link_id %>
  </span>
  <%= javascript_tag do %>
    connectFlagLink('<%= flag_link_id %>', <%= act.id %>, <%= act.user_id %>)
  <% end %>
<% end %>
