<%= cache [__FILE__, 'part 1', 'v3.pwd', act, user] do %>
  <div class="user">
    <% if user.is_guest? %>
      <%= user.name %>
    <% else %>
      <%= link_to(user.name, user, :class => 'name-of-user') %> 
    <% end %>
    <%= (act.text) %>
  </div>
<% end %>

<span class="when small_cap">
  <%= time_description %> ago
</span>
