<li class="associate" id="<%=dom_id(associate)%>">
  <span class="associate-name"><%= link_to(associate.name, associate) %></span>
  <div class="avatar48">
    <%= default_avatar_tag associate, :alt => associate.name %>
  </div>

  <br/>

  <strong><%= associate.points %></strong> points,
  fan of <span class="fan-count" id="followers-count-<%= associate.id %>"><%= following_count_phrase(associate) %></span>,
  has <span class="fan-count" id="followers-count-<%= associate.id %>"><%= followers_count_phrase(associate) %></span>

  <br/>
  <% if button_type == :unfollow %>
    <%= unfollow_button associate %>
  <% else %>
    <%= follow_button associate %>
  <% end %>
</li>
