<%= semantic_form_for user, :url => account_avatar_path, :html => {:multipart => true, :class => 'set-avatar'} do |form| %>
  <%= form.input :avatar, :label => 'Choose an image for your avatar. Avatars will automatically be resized to a 48x48 square. Please exercise common sense and good taste.' %>
  <%= form.commit_button 'Set Avatar', :button_html => {:class => 'set-avatar-submit'} %>
  <p class="loading-message">Uploading, this may take a minute.</p>
<% end %>

<% if user.avatar_file_name %>
  <%= semantic_form_for user, :url => account_avatar_path, :html => {:multipart => true, :method => :delete, :class => 'clear-avatar'} do |form| %>
    Delete the avatar you've got and revert to the default avatar.
    <br/>
    <%= form.commit_button 'Clear Avatar' %>
  <% end %>
<% end %>

<%= link_to "Never mind, I don't want to change my avatar.", user, :class => 'cancel-avatar-change' %>
