<div id="board_settings" class="reveal-modal">
  <div class="row">
    <div class="large-11 columns">
      <h1>Board Settings</h1>
    </div>
    <div class="large-1 columns">
      <a id="close_board_settings" class="large-1" href="#">Close</a>
    </div>
  </div>

  <% put_divider_between_sections = boards_as_admin.present? && boards_as_regular_user.present? %>

  <% if boards_as_admin.present? %>
    <div id="admin_board_controls">
      <div class="row">
        <div class="large-12 columns">
          <h3 class="control_section_header">Boards You Manage</h3>
        </div>
      </div>
      <% boards_as_admin.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_board_name", board: board, as_admin: true %>
      <% end %>
    </div>
  <% end %>

  <% if boards_as_regular_user.present? %>
    <% divider_class = put_divider_between_sections ? "with_divider" : "" %>

    <div id="user_board_controls" class="<%= divider_class %>">
      <div class="row">
        <div class="large-12 columns">
          <h3 class="control_section_header">Boards You Participate In</h3>
        </div>
      </div>
      <% boards_as_regular_user.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_board_name", board: board, as_admin: false %>
      <% end %>
    </div>
  <% end %>
</div>  

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $('#board_settings .board_name').focus(function(event) {
      $(this).closest('.board_wrapper').removeClass('unfocused');
      var demoId = $(this).data('demo_id');
      $('a.save_board_name').hide();
      $('.board_saving').hide();
      $('.board_saved').hide();
      $('a.save_board_name[data-demo_id="' + demoId + '"]').show();
    });

    $('.edit_board_name_link, .edit_board_name_icon').click(function(event) {
      event.preventDefault();
      $(this).closest('.board_wrapper').find('.board_name').focus();
    });

    $('.save_board_name').click(function(event) {
      event.preventDefault();

      var demoId = $(this).data('demo_id');
      var updateURL = "/boards/" + demoId;
      var boardName = $('.board_name[data-demo_id="' + demoId + '"]').text()
      var controlSection = $('.board_save_controls[data-demo_id="' + demoId + '"]');

      controlSection.find('.save_board_name').hide();
      controlSection.find('.board_saving').show();

      $.post(
        updateURL,
        { board_name: boardName,
          _method: 'PUT'
        },
        function() {
          controlSection.find('.board_saving').hide();
          controlSection.find('.board_saved').show();
          controlSection.closest('.board_wrapper').addClass('unfocused');
        }
      )
    });

    $('#close_board_settings').click(function(event) {
      event.preventDefault();
      $('#board_settings').foundation('reveal', 'close');
    });
  <% end %>
<% end %>

