<div class="board_wrapper">
  <div class="row">
    <div class="large-6 columns">
      <%= content_tag 'h3', class: "board_name #{as_admin ? '' : 'non_admin'}", "data-demo_id" => board.id, contenteditable: as_admin do %>
        <%= board.name %>
      <% end %>
    </div>

    <div class="large-6 columns board_control_icons" data-demo_id="<%= board.id %>">
      <% if as_admin %>
        <span class="board_save_error"></span>
        <%= content_tag 'span', class: 'board_saving' do %>Saving...<% end %>
          <%= link_to 'Save', '#', "data-demo_id" => board.id, class: 'save_board_name' %>
          <%= link_to 'Edit', '#', "data-demo_id" => board.id, class: 'edit_board_name_link' %>
          <%= content_tag 'span', class: 'board_saved', "data-demo_id" => board.id do %>Saved!<% end %>
      <% else %>
        <div class="row">
          <div class="large-3 columns">
            <%= render 'shared/board_settings_email_mute_slider', email_type: 'followup', mute_url: mute_followup_path(board.id), original_setting: digest_is_muted || followup_is_muted, disabled: digest_is_muted, board_id: board.id %>
          </div>

          <div class="large-3 columns digest_slider">
            <%= render 'shared/board_settings_email_mute_slider', email_type: 'digest', mute_url: mute_digest_path(board.id), original_setting: digest_is_muted, disabled: false, board_id: board.id %>
          </div>

          <% unless board.is_paid %>
            <div class="large-4 columns">
              <%= link_to "Delete", '#', {class: 'delete_board_icon', "data-delete_url" => board_membership_path(board.id)} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if as_admin %>
    <div class="row">
      
    </div>
  <% end %>
</div>
