<div class="board_wrapper unfocused">
  <div class="row">
    <div class="large-8 columns">
      <%= content_tag 'h3', class: "board_name #{as_admin ? '' : 'non_admin'}", "data-demo_id" => board.id, contenteditable: as_admin do %>
        <%= board.name %>
      <% end %>
    </div>

    <div class="large-4 columns board_control_icons">
      <% if as_admin %>
        <%= link_to fa_icon('pencil'), '#', class: 'edit_board_name_icon' %>
      <% else %>
        <div class="switch small round">
          <% radio_button_name = "mute_followup_#{board.id}" %>
          <% radio_button_url = mute_followup_path(board.id) %>
          <%= radio_button_tag radio_button_name, false, true, {class: "mute_followup followup_on", "data-mute_url" => radio_button_url} %>
          <%= radio_button_tag radio_button_name, true, false, {class: "mute_followup followup_off", "data-mute_url" => radio_button_url} %>
          <span class="green-paddle"></span>
        </div>
        <% unless board.is_paid %>
          <%= link_to "X", '#', {class: 'delete_board_icon', "data-delete_url" => board_membership_path(board.id)} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if as_admin %>
    <div class="row">
      <%= content_tag 'div', class: "large-8 columns board_save_controls", "data-demo_id" => board.id do %>
        <span class="board_save_error"></span>
        <%= content_tag 'span', class: 'board_saving' do %>Saving...<% end %>
        <%= link_to 'Save', '#', "data-demo_id" => board.id, class: 'save_board_name' %>
        <%= link_to 'Edit', '#', "data-demo_id" => board.id, class: 'edit_board_name_link' %>
        <%= content_tag 'span', class: 'board_saved', "data-demo_id" => board.id do %>Saved!<% end %>
      <% end %>
    </div>
  <% end %>
</div>
