<div id="leave_board_safety_modal" class="reveal-modal">
  <div class="row">
    <div class="large-11 columns">
      <h1>DELETE</h1>
    </div>
    <div class="large-1 columns">
      <a id="close_safety_modal" class="large-1" href="#">Close</a>
    </div>
  </div>
  <p>Your account will be permanently deleted from this board.</p>
  <p>Confirm by typing the word "DELETE" in all caps.</p>
  <!--<form id="leave_board_form" action='#' method="post">-->
    <!--<input type="hidden" name="_method" value="delete">-->
    <!--<input type="submit">-->
    <!--</form>-->
  <%= form_tag '#', id: "leave_board_form", method: "delete" do %>
    <%= text_field_tag '#' %>
    <%= submit_tag 'Stumbit', disabled: true %>
  <% end %>
</div>

<div id="board_settings" class="reveal-modal">
  <div class="row">
    <div class="large-11 columns">
      <h1>Board Settings</h1>
    </div>
    <div class="large-1 columns">
      <a id="close_board_settings" class="large-1" href="#">Close</a>
    </div>
  </div>

  <% put_divider_between_sections = boards_as_admin.present? && boards_as_regular_user.present? %>

  <% if boards_as_admin.present? %>
    <div id="admin_board_controls">
      <div class="row">
        <div class="large-12 columns">
          <h3 class="control_section_header">Boards You Manage</h3>
        </div>
      </div>
      <% boards_as_admin.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_single_board", board: board, as_admin: true %>
      <% end %>
    </div>
  <% end %>

  <% if boards_as_regular_user.present? %>
    <% divider_class = put_divider_between_sections ? "with_divider" : "" %>

    <div id="user_board_controls" class="<%= divider_class %>">
      <div class="row">
        <div class="large-12 columns">
          <h3 class="control_section_header">Boards You Participate In</h3>
        </div>
      </div>
      <% boards_as_regular_user.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_single_board", board: board, as_admin: false %>
      <% end %>
    </div>
  <% end %>
</div>  

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $('#board_settings .board_name').focus(function(event) {
      $(this).closest('.board_wrapper').removeClass('unfocused');
      var demoId = $(this).data('demo_id');
      $('a.save_board_name').hide();
      $('.board_saving').hide();
      $('.board_saved').hide();
      $('a.save_board_name[data-demo_id="' + demoId + '"]').show();
    });

    $('.edit_board_name_link, .edit_board_name_icon').click(function(event) {
      event.preventDefault();
      $(this).closest('.board_wrapper').find('.board_name').focus();
    });

    $('.save_board_name').click(function(event) {
      event.preventDefault();

      var demoId = $(this).data('demo_id');
      var updateURL = "/boards/" + demoId;
      var boardName = $('.board_name[data-demo_id="' + demoId + '"]').text()
      var controlSection = $('.board_save_controls[data-demo_id="' + demoId + '"]');

      controlSection.find('.save_board_name').hide();
      controlSection.find('.board_saving').show();

      $.post(
        updateURL,
        { board_name: boardName,
          _method: 'PUT'
        },
        function(data) {
          controlSection.find('.board_saving').hide();
          if(data.success) {
            controlSection.find('.board_saved').show();
          } else {
            controlSection.find('.board_save_error').text(data.message);
          }
          controlSection.closest('.board_wrapper').addClass('unfocused');
        }
      )
    });

    $('#leave_board_safety_modal input[type="text"]').on('keyup', function(event) {
      var submitButton = $('#leave_board_safety_modal input[type="submit"]');

      if($(event.target).val() == 'DELETE') {
        submitButton.removeAttr('disabled', 'disabled');
      } else {
        submitButton.attr('disabled', 'disabled');
      }
    });

    $('.delete_board_icon').click(function(event) {
      event.preventDefault();

      var deleteURL = $(event.target).data('delete_url');
      $('#leave_board_form').attr('action', deleteURL);
      $('#leave_board_safety_modal').foundation('reveal', 'open');
    });

    $('#close_board_settings').click(function(event) {
      event.preventDefault();
      $('#board_settings').foundation('reveal', 'close');
    });

    $('#close_safety_modal').click(function(event) {
      event.preventDefault();
      $('#leave_board_safety_modal').foundation('reveal', 'close');
    });
  <% end %>
<% end %>

