<div id="leave_board_safety_modal" class="reveal-modal">
  <div class="row">
    <div class="small-10 columns">
      <h1>DELETE</h1>
    </div>
    <div class="small-2 columns">
      <a id="close_safety_modal" class="small-1" href="#">Cancel</a>
    </div>
  </div>

  <p id="warning_first_part">
    <% if has_only_one_board %>
      Your account will be permanently deleted from Airbo.
    <% else %>
      Your account will be permanently deleted from this board.
    <% end %>
  </p>
  <p id="warning_second_part">Confirm by typing the word "DELETE" in all caps.</p>

  <%= form_tag '#', id: "leave_board_form", method: "delete" do %>
    <%= text_field_tag '#', nil, placeholder: "Type \"DELETE\" in all caps" %>
    <%= submit_tag 'Leave Board', disabled: true %>
  <% end %>
</div>

<div id="board_settings" class="reveal-modal">
  <div class="row">
    <div class="small-11 columns">
      <h1>Board Settings</h1>
    </div>
    <div class="close_board_settings_container">
      <a id="close_board_settings" class="small-1" href="#">Close</a>
    </div>
  </div>

  <% put_divider_between_sections = boards_as_admin.present? && boards_as_regular_user.present? %>

  <% if boards_as_admin.present? %>
    <div id="admin_board_controls">
      <div class="row">
        <div class="small-12 columns">
          <h2 class="control_section_header">Boards You Manage</h2>
        </div>
      </div>
      <% boards_as_admin.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_admin_board", board: board %>
      <% end %>
    </div>
  <% end %>

  <% if boards_as_regular_user.present? %>
    <% divider_class = put_divider_between_sections ? "with_divider" : "" %>

    <div id="user_board_controls" class="<%= divider_class %>">
      <div class="row board_wrapper">
        <div class="board_name_column">
          <h2 class="control_section_header">Boards You Participate In</h2>
        </div>

        <div class="email_column">
          <div class="row email_settings_header_wrapper">
            <p id="email_settings_header" class="">Email Settings</p>
          </div>
          <div class="row switch_container">
            <p class="email_settings_subheader">New Tiles</p>
            <p class="email_settings_subheader">Reminder</p>
          </div>
        </div>

        <div class="delete_column"></div>
      </div>
      <% boards_as_regular_user.sort_by(&:name).each do |board| %>
        <%= render "shared/board_settings_user_board", board: board, as_admin: false, followup_is_muted: @muted_followup_boards.include?(board), digest_is_muted: @muted_digest_boards.include?(board)  %>
      <% end %>
    </div>
  <% end %>
</div>  

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $().ready(function(){
      bindBoardSettingsControls()
    });
  <% end %>
<% end %>

