<%# Desktop version of the board switcher %>
<ul class="other_boards">
  <% if boards_to_switch_to.present? && boards_to_switch_to.length > 1 %>
    <% boards_to_switch_to.each do |board| %>
      <%# In this version, we don't display the current board. %>
      <% next if board == current_user.demo %>
      <li><%= link_to board.name, current_board_path(board_id: board.id), method: :put, id: "board-switch-link-#{board.id}" %></li>
    <% end %>
  <% else %>
    <li><span id="no_other_boards">You haven't joined any other boards.</span></li>
  <% end %>
  <% if current_user.is_site_admin || current_user.not_in_any_paid_boards? %>
    <li><%= link_to "Create new board", "#", {id: "switcher_create_new_board", "data-reveal-id" => "new_board_creation"} %></li>
  <% end %>
</ul>

<div id="new_board_creation" class="reveal-modal small">
  <h1>Create a new board</h1>
  <h3>Create and share tiles with people you pick</h3>
  <%= form_tag boards_path do %>
    <%= hidden_field_tag "as_existing", true %>
    <%= text_field_tag "board_name", params[:board_name], placeholder: "Name your board" %>
    <input type="submit" value="Create">
  <% end %>
  <%= link_to "Cancel", '#', id: 'cancel_board_creation' %>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $('#new_board_creation form').submit(function(event) {
        disableNewBoardCreationButton();
      });

      $('#cancel_board_creation').click(function(event) {
        event.preventDefault();
        $('#new_board_creation').foundation('reveal', 'close');
      });
    <% end %>
  <% end %>
</div>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    bindNewBoardValidations();
  <% end %>
<% end %>
