-# OPTZ: Cache this guy. It also seems that display_creator_info may never be actually set,
-# so perhaps we can tear that out too.
-thumbnail_id = "tile-thumbnail-#{displayable_tile.id }"

:css
  ##{thumbnail_id} {
    background-image: url('#{displayable_tile.thumbnail}');
  }

-#Preload base image image to prevent blinking in IE8
%img{src: displayable_tile.thumbnail, style: "display: none; visibility: hidden;"}

%li
  = link_to tile_thumbnail_target(displayable_tile, selected_tag_id) do
    .tile-wrapper
      .tile_thumbnail_image{id: thumbnail_id}
      .headline
        %div{data: {'for-test' => displayable_tile.headline.downcase.sub(' ', '-')}, class: 'text'}= displayable_tile.headline

- if display_creator_info
  %p.tile_creator
    = displayable_tile.human_creator_identification
    %br
    = displayable_tile.human_creation_date
