-thumbnail_id = "tile-thumbnail-#{displayable_tile.id}"

= cache [__FILE__, 'v1.pwd', displayable_tile, tile_thumbnail_url] do
  :css
    ##{thumbnail_id} {
      background-image: url('#{displayable_tile.thumbnail}');
    }

  -#Preload base image image to prevent blinking in IE8
  %img{src: displayable_tile.thumbnail, style: "display: none; visibility: hidden;"}

  %div
    = link_to tile_thumbnail_url, data:{id: displayable_tile.id} do
      .tile-wrapper
        .tile_thumbnail_image{id: thumbnail_id}
          .shadow_overlay
        .headline
          %div{data: {'for-test' => displayable_tile.headline.downcase.sub(' ', '-')}, class: 'text'}
            = displayable_tile.headline

- js_at_end do
  bindPreflightToEvent('ready', document, '#{displayable_tile.image.url}');
