- if @current_user.is_guest?
  #guest_conversion_form_wrapper
    = form_tag guest_user_conversions_path, id: 'guest_conversion_form', remote: true do
      = text_field_tag "user[name]", "", placeholder: "Name"
      = text_field_tag "user[email]", "", placeholder: "Email"
      = password_field_tag "user[password]", "", placeholder: "Password"
      = submit_tag
      = image_tag "spinner.gif", class: "spinner", style: "display: none"

    #name_error
    #email_error
    #password_error

  - if @show_conversion_form
    = javascript_tag do
      lightboxConversionForm();

    
  = javascript_include_tag 'internal/guest_user_conversion'
