- if user.is_guest? && !($rollout.active?(:suppress_conversion_modal, user.demo))
  #guest_conversion_form_wrapper
    %h3 You're on a roll!
    %p Create an account so you don't lose your progress.
    = link_to "Don't Save", "#", class: "close-lightbox-button" 
    = form_tag guest_user_conversions_path, id: 'guest_conversion_form', remote: true do
      #name_error.conversion_error
      = text_field_tag "user[name]", "", placeholder: "First and Last Name"

      #email_error.conversion_error
      = text_field_tag "user[email]", "", placeholder: "Email"

      #password_error.conversion_error
      = password_field_tag "user[password]", "", placeholder: "Password (six characters or more)"

      - if demo.use_location_in_conversion
        #location_error.conversion_error
        = text_field_tag "location_name", "", placeholder: "Work Location (address or store number)"
        #location_autocomplete_target
        = content_for :javascript do
          = javascript_tag do
            bindLocationAutocomplete('#location_name', '#location_autocomplete_target', '/locations')

      = submit_tag "Create account", id: 'submit_conversion_form'
      = image_tag "spinner.gif", class: "spinner", style: "display: none"
    #t-and-c-notice
      By submitting this form, you are agreeing to the 
      = link_to('terms and conditions', terms_path, target: '_blank') + '.'

  - if show_conversion_form
    = javascript_tag do
      lightboxConversionForm();

    
  = gzip_javascript_include_tag 'internal/guest_user_conversion'
