- if @current_user.is_guest?
  #guest_conversion_form_wrapper
    %h3 You're on a roll!
    %p Create an account so you don't lose your progress.
    = link_to "Don't Save", "#", class: "close-lightbox-button" 
    = form_tag guest_user_conversions_path, id: 'guest_conversion_form', remote: true do
      = text_field_tag "user[name]", "", placeholder: "First and Last Name"
      = text_field_tag "user[email]", "", placeholder: "Email"
      = password_field_tag "user[password]", "", placeholder: "Password (six characters or more)"
      = submit_tag "Create Account"
      = image_tag "spinner.gif", class: "spinner", style: "display: none"

    #name_error.conversion_error
    #email_error.conversion_error
    #password_error.conversion_error

  - if @show_conversion_form
    = javascript_tag do
      lightboxConversionForm();

    
  = javascript_include_tag 'internal/guest_user_conversion'
