<div class="header">
	<div class="app_bar">
		<div class="app_by"><p>Brought to you by <a href="http://www.hengage.com" title="H Engage">H Engage</a></p></div>
    <ul class="app_settings">
      <% if current_user.is_site_admin %>
        <li><%= link_to "Admin", admin_path %></li>
      <% end %>
      <li><a href="#" title="Help">Help</a></li><!-- HOOKUP -->
      <li><%= link_to "Settings", edit_account_settings_path %></li>
      <li><%= link_to "Sign Out", sign_out_path, :method => :delete %></li>
		</ul>
	</div>
	<div class="masthead">
		<div class="mast_top">
      <div class="logo_container"><a href="/"><%= image_tag skinned('logo_url', "logo.png") %></a></div>
			<div class="welcome">
				<a href="#" title="!VARIABLE!"><img src="http://www.scientificamerican.com/media/inline/veggie-cat-food_1_thumb.jpg" alt="!VARIABLE!" /></a>
				<div class="welcome_text">
					<p>Welcome back,</p>
					<p><a href="#" title="!VARIABLE!">!VARIABLE limit to 20</a></p><!-- HOOKUP -->
				</div>
			</div>
			<ul class="navigation">
		        <li><%= link_to "Home", activity_path, :class => 'nav-home' %></li>
		        <li><a href="#" title="Games">Games</a></li><!-- HOOKUP -->
		        <li><%= link_to "My Profile", user_path(current_user), :class => 'nav-profile' %></li><!-- HOOKUP -->
				<li><a href="#" title="Scores">Scores</a></li><!-- HOOKUP -->
		        <li><a href="#" title="Directory">Directory</a></li><!-- HOOKUP -->
			</ul>
			<div class="cf"></div>
		</div>
		<div class="mast_center">
			<ul class="help">
				<li class="help_command">Enter a command!</li>
				<li class="help_progress">See how it affects your progress!</li>
				<li class="help_level">Level up!</li>
			</ul>
		</div>
		<div class="mast_bottom">
      <div class="bar_section bar_command">
        <%= form_tag acts_path do %>
          <% game_enabled = @game_pending ? " disabled='true' " : "" %>
          <input type="text" id="command_central" name="act[code]" placeholder="What did you do or eat?" <%= game_enabled %>/>
          <input type="submit" value="Play" <%= game_enabled %> />
        <% end %>
			</div>
			<div class="bar_section bar_progress">
				<div class="bar">
					<div class="progress" style="<%= master_bar_width %>"></div>
					<p><%= master_bar_point_content %></p>
				</div>
			</div>
			<div class="bar_section bar_level">
				<p>Current Level :</p>
				<p class="level">312</p>
			</div>
		</div>
	</div>
</div>
