<header>
  <div class="row" id="top_bar">

    <% _activity_path = set_activity_path %>
    <div class="large-2 columns" id="logo">
      <a href="<%= _activity_path %>"><%= image_tag skinned('logo_url', "logo.png") %></a>
    </div>

    <%# If we don't need the guest user controls, steal their space for the 
    navigation, so we can use it for the current board. %>
    <% unless current_user.is_guest? %>
      <nav id="navigation" class="columns large-8"> <!-- offcanvas menu -->
        <div class="user_options">
          <ul>
            <li><%= link_to "Home", _activity_path, :class => 'nav-home' %></li>
            <li><%= link_to "My Profile", user_path(current_user), :id => 'my_profile', :class => 'nav-activity-class' %></li>
            <li><%= link_to "Find users", users_path, :class => 'nav-directory' %></li>
            <li><%= link_to "Settings", edit_account_settings_path, :class => 'nav-settings' %></li>
            <% if current_user.authorized_to?(:site_admin) %>
              <li><%= link_to "Site admin", admin_path, :class => 'nav-admin', id: 'nav-site-admin-link' %></li>
            <% end %>
            <li><%= link_to "Sign Out", sign_out_path, :method => :delete , :class => 'nav-signout' %></li>

            <%# Mobile-only select version of the board switcher %>
            <% if @boards_to_switch_to.present? && @boards_to_switch_to.length > 1 && current_user.try(:can_switch_boards?)%>
              <li class="board_switch_dropdown">
                <select>
                  <%= options_from_collection_for_select @boards_to_switch_to, :id, :name, current_user.demo_id %>
                </select>
              </li>
              <%= content_for :javascript do %>
                <%= javascript_tag do %>
                  $('.board_switch_dropdown select').live('change', function(event) {
                    selectedOption = $(event.target).find('option:selected');
                    boardId = selectedOption.val();
                    $('#board-switch-link-' + boardId).click();
                  });
                <% end %>
              <% end %>
            <% end %>

          </ul>
        </div>
        <div id="board_switch">
          <a id="board_switch_toggler">
            <p class="small_cap">Current board</p>
            <%= content_tag "p", class: "board_name has-tip tip-left", id: "current_board_name", title: "Switch between boards", data: {tooltip: true, demo_id: current_user.demo.id} do %>
              <%= truncate_name_for_switcher current_user.demo.name %>
              <span class="fa fa-caret-down"></span>
            <% end %>
          </a>
        </div>

        <%= render 'shared/desktop_board_switcher', boards_to_switch_to: @boards_to_switch_to %>

        <%= link_to '#', id: 'board_settings_toggle' do %>
          <% after_login_link = current_user.try(:can_switch_boards?) ? "" : "#{request.path}?pop_board_settings_modal=true" %>
          <div class="board_settings_toggle_wrapper has-tip" data-tooltip title="Settings" href="<%= after_login_link %>">
            <i class="fa fa-cog" href="<%= after_login_link %>"></i>
          </div>
          <div class="board_settings_mobile_toggle">Board settings</div>
        <% end %>

        <% if current_user.authorized_to?(:client_admin) %>
          <div class="explore_menu">
            <%= link_to explore_path, id: 'explore_board' do %>
              <span class="fa fa-rocket"></span>
              <span>Explore</span>
            <% end %>
          </div>
          <div class="admin_options">
              <p class="small_cap">Board tools</p>
              <%= link_to 'Manage', client_admin_tiles_path, id: 'manage_board' %>
              <a id="admin_toggle">&#9662;</a>
              <ul class="client_admin_pages">
                <% if current_user.has_balances? %>
                  <li><%= link_to "Payments", new_client_admin_payment_path %></li>
                <% end %>
                <li><%= link_to "Admin help", DeskSSO.new(current_user).url, target: "_blank" %></li>
              </ul>
          </div>
        <%else%>
          <div class="explore_menu">
          </div>
          <div class="admin_options">
          </div>        
        <% end %>
      </nav> <!-- end of off canvas -->

      <!-- start of new admin navigation that needs to be gated off later -->
      <div class="large-2 columns" id="user_info">
        <div id="me_toggle">
          <div class="shadow_overlay"></div>
          <%= default_avatar_tag current_user, :id => :top_avatar, :class => "avatar48" %>
        </div>
      </div>
    <% else # current_user.is_guest? == true %>
      <% guest_user_header_button_style = show_save_progress_button ? '' : 'display: none' %>
      <div id="save_progress" class="large-4 columns" style="<%= guest_user_header_button_style %>">
        <a href="#" id="save_progress_button" class="open_save_progress_form">Save Progress</a>
        <%= link_to "Sign In", new_session_path, id: 'sign_in_button' %>
        <% if session[:display_start_over_button] %>
          <%= link_to "Start Over", guest_user_reset_path, id: 'guest_user_start_over_button', confirm: "Are you sure?", method: :put %>      
        <%else%>
          <%= link_to "Start Over", guest_user_reset_path, id: 'guest_user_start_over_button', style: 'display:none', confirm: "Are you sure?", method: :put %>
        <% end %>
      </div>
    <% end %>
  </div> <!-- end of topbar -->
  <% unless current_user.is_guest? %>
    <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>
  <% end %>
</header>

<% if current_user && !current_user.can_switch_boards? %>
  <%= render "shared/login_modal" %>
<% end %>

<%= render 'shared/board_settings_modal', boards_as_admin: @boards_as_admin, boards_as_regular_user: @boards_as_regular_user, has_only_one_board: @has_only_one_board %>

