<% user = UserInHeaderPresenter.new(current_user, @public_tile_page, params, request) %>

<header class="<%= user.has_tiles_tools_subnav? ? "admin_header" : '' %>">
  <div class="row" id="top_bar">

    <div class="large-2 columns" id="logo">
      <a class="go_home" href="<%= home_path %>"><%= image_tag user.logo_url %></a>
    </div>
    <%# If we don't need the guest user controls, steal their space for the
    navigation, so we can use it for the current board. %>
    <% unless user.show_user_nav? %>
      <nav id="navigation" class="columns large-7"> <!-- offcanvas menu -->
        <%= render 'shared/header/user_options', user: user %>
        <%= render 'shared/header/board_switch_toggler', user: user %>
        <%= render 'shared/header/desktop_board_switcher', user: user %>
        <%= render 'shared/header/board_settings_toggle', user: user %>
        <%= render partial: 'shared/header/copy_board' %>
        <%= render 'shared/header/mobile_admin_options', user: user %>
      </nav> <!-- end of off canvas -->

      <%= render 'shared/header/user_info', user: user %>
    <% else # user.is_guest? == true %>
      <%= render 'shared/header/save_progress', user: user %>
      <div class="large-6 columns" id="guest-intercom-wrapper">
        <%= render 'shared/header/open_intercom_button', user: user %>
      </div>
    <% end %>
  </div> <!-- end of topbar -->

  <% if user.show_side_menu_button? %>
    <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>
  <% end %>
</header>

<% if user.show_login_modal? %>
  <%= render "shared/header/login_modal", user: user %>
<% end %>

<%= render 'shared/board_settings/modal', user: user %>

<%#FIXME Deprecated %>
<%# if user.show_submit_tile_intro? %>
  <%# render "shared/header/submit_tile_modal", user: user %>
<%# end %>

<% if user.can_submit_tile? %>
  <%=render partial: "shared/tile_builder_modals", locals: {context: "suggestion_box"} %>
<% end %>
