<header>
  <div class="row" id="top_bar">

    <div class="large-2 columns" id="logo">
      <a href="<%= activity_path %>"><%= image_tag skinned('logo_url', "logo.png") %></a>
    </div>

    <nav id="navigation" class="columns large-3"> <!-- offcanvas menu -->
      <div class="user_options">
        <ul>
          <li><%= link_to "Home", activity_path, :class => 'nav-home' %></li>
          <li><%= link_to "My Profile", current_user, :id => 'my_profile', :class => 'nav-activity-class' %></li>
          <li><%= link_to "Find users", users_path, :class => 'nav-directory' %></li>
          <li><%= link_to "Settings", edit_account_settings_path, :class => 'nav-settings' %></li>
          <li><%= link_to "FAQ", faq_path, :class => 'nav-help' %></li>
          <% if current_user.authorized_to?(:site_admin) %>
            <li><%= link_to "Site admin", admin_path, :class => 'nav-admin', id: 'nav-site-admin-link' %></li>
          <% end %>
          <li><%= link_to "Sign Out", sign_out_path, :method => :delete , :class => 'nav-signout' %></li>
        </ul>
      </div>
      <div class="admin_options">
        <% if current_user.authorized_to?(:client_admin) %>
          <p class="small_cap">Board tools</p>
          <%= link_to "Manage tiles", client_admin_path, :class => 'nav-admin nav-client-admin', id: 'manage_board' %>
          <a id="admin_toggle">&#9662;</a>
          <ul class="client_admin_pages">
            <li><a href="/client_admin/segmentation">Model</a></li>
            <li><a href="/client_admin/users">Users</a></li>
            <li><%= link_to "Payments", new_client_admin_payment_path %></li>
            <li><%= link_to "Admin help", DeskSSO.new(current_user).url, target: "_blank" %></li>
          </ul>
        <% end %>
      </div>
    </nav> <!-- end of off canvas -->

    <div class="large-7 columns" id="user_info">
      <ul id="to_next_credit" class="user_info_sections">
        <li><p class="small_cap">Points to next ticket</p></li>
        <li id="progress_bar">
          <div id="completed_progress" style="<%= master_bar_width %>"></div>
          <div id="bar_shine" style="<%= master_bar_width %>"></div>
          <span class="small_cap"><%= master_bar_point_content %></span>
        </li>
      </ul>
      <ul id="credits" class="user_info_sections">
        <li><p class="small_cap">Tickets</p></li>
        <li><p class="user_numbers"><%= current_user.tickets %></p></li>
      </ul>
      <ul id="total_tiles" class="user_info_sections">
        <li><p class="small_cap">Experience</p></li>
        <li><p class="user_numbers">
          <%= number_with_delimiter current_user.points %>
        </p></li>
      </ul>

      <div id="me_toggle">
        <div class="shadow_overlay"></div>
        <%= default_avatar_tag current_user, :id => :top_avatar, :class => "avatar48" %>
      </div>
    </div>
      
  </div> <!-- end of topbar -->

  <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>

</header>