<header>
  <div class="row" id="top_bar">

    <% _activity_path = current_user.is_guest? ? public_activity_path(current_user.demo.public_slug) : activity_path %>
    <div class="large-2 columns" id="logo">
      <a href="<%= _activity_path %>"><%= image_tag skinned('logo_url', "logo.png") %></a>
    </div>

    <nav id="navigation" class="columns large-3"> <!-- offcanvas menu -->
      <div class="user_options">
        <ul>
          <li><%= link_to "Home", _activity_path, :class => 'nav-home' %></li>
          <li><%= link_to "My Profile", user_path(current_user), :id => 'my_profile', :class => 'nav-activity-class' %></li>
          <li><%= link_to "Find users", users_path, :class => 'nav-directory' %></li>
          <li><%= link_to "Settings", edit_account_settings_path, :class => 'nav-settings' %></li>
          <% if current_user.authorized_to?(:site_admin) %>
            <li><%= link_to "Site admin", admin_path, :class => 'nav-admin', id: 'nav-site-admin-link' %></li>
          <% end %>
          <li><%= link_to "Sign Out", sign_out_path, :method => :delete , :class => 'nav-signout' %></li>
        </ul>
      </div>
      <div class="admin_options">
        <% if current_user.authorized_to?(:client_admin) %>
          <p class="small_cap">Board tools</p>
          <%= link_to 'Manage', client_admin_tiles_path, id: 'manage_board' %>
          <a id="admin_toggle">&#9662;</a>
          <ul class="client_admin_pages">
            <% if current_user.has_balances? %>
              <li><%= link_to "Payments", new_client_admin_payment_path %></li>
            <% end %>
            <li><%= link_to "Admin help", DeskSSO.new(current_user).url, target: "_blank" %></li>
          </ul>
        <% end %>
      </div>
    </nav> <!-- end of off canvas -->

    <% guest_user_header_button_style = show_save_progress_button ? '' : 'display: none' %>
    <div id="save_progress" class="large-4 columns" style="<%= guest_user_header_button_style %>">
      <a href="#" id="save_progress_button" class="open_save_progress_form">Save Progress</a>
      <%= link_to "Sign In", new_session_path, id: 'sign_in_button' %>
      <% if session[:display_start_over_button] %>
        <%= link_to "Start Over", guest_user_reset_path, id: 'guest_user_start_over_button', confirm: "Are you sure?", method: :put %>
      <% end %>
    </div>

<!-- start of new admin navigation that needs to be gated off later -->
    <div class="large-6 columns" id="user_info">
      <ul id="to_next_credit" class="user_info_sections">
        <li><p class="small_cap">Points to next ticket</p></li>
        <li id="progress_bar">
        <div id="completed_progress" style="<%= master_bar_starting_width %>"></div>
          <span class="small_cap"><%= master_bar_point_content %></span>
        </li>
      </ul>
      <ul id="credits" class="user_info_sections">
        <li><p class="small_cap">Tickets</p></li>
        <li><p class="user_numbers" id="user_tickets"><%= starting_tickets %></p></li>
      </ul>
      <ul id="total_tiles" class="user_info_sections">
        <li><p class="small_cap">Experience</p></li>
        <li><p class="user_numbers">
          <span id="user_points"><%= number_with_delimiter starting_points %></span>
        </p></li>
      </ul>

      <%= render "shared/point_and_ticket_animation" %>

      <div id="me_toggle">
        <div class="shadow_overlay"></div>
        <%= default_avatar_tag current_user, :id => :top_avatar, :class => "avatar48" %>
      </div>
    </div>
      
  </div> <!-- end of topbar -->

  <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>

</header>
