<header class="new">
  <nav>
    <div class="row">
      <ul id="navigation">
        <li><%= link_to "Home", activity_path, :class => 'nav-home' %></li>
        <li><%= link_to "Tiles", tiles_path, :class => 'nav-tiles' %></li>
        <% nav_activity_class = @viewing_self ? "my-profile nav-activity" : "nav-activity" %>
        <li><%= link_to "My Profile", current_user, :class => nav_activity_class %></li>
        <li><%= link_to "Directory", users_path, :class => 'nav-directory' %></li><!-- HOOKUP -->
      </ul>
    </div>
    <%= render 'shared/nav' %>
  </nav>
  <div class="progress_details">
    <%= render 'shared/masthead' %>
    <%= render 'shared/play_box' if show_play_box %>
  </div>
</header>