<div class="mast_top">
  <div class="logo_container"><a href="<%= activity_path %>"><%= image_tag skinned('logo_url', "logo.png") %></a></div>
  <div class="welcome">
    <div class="avatar48">
      <div class="your_photo">
      <%= default_avatar_tag current_user, :id => :top_avatar %>
      </div>
    </div>
    <div class="welcome_text">
      <p>Hi, <%= link_to current_user.first_name, current_user %></p>
      <p id="total_xp">Experience Points: <%= number_with_delimiter current_user.points %></p>
    </div>
  </div>
  <ul class="navigation">
        <li><%= link_to "Home", activity_path, :class => 'nav-home' %></li>
        <li><%= link_to "Tiles", tiles_path, :class => 'nav-tiles' %></li>
        <% nav_activity_class = @viewing_self ? "my-profile nav-activity" : "nav-activity" %>
        <li><%= link_to "My Profile", current_user, :class => nav_activity_class %></li>
        <li><%= link_to "Directory", users_path, :class => 'nav-directory' %></li><!-- HOOKUP -->
  </ul>
  <div class="cf"></div>
</div>


