<% if signed_in? %>
  <ul class="nav">
    <%= navbar_link_to 'Home', acts_path %>
    <%= navbar_link_to 'My Profile', current_user, :id => 'self-link' %>
    <%= navbar_link_to 'Connections', friends_path %>
    <%# navbar_link_to 'Other People', users_path %>
    <%= navbar_link_to 'Admin', admin_path if current_user.is_site_admin %>
    <li><%= render 'shared/assistly_widget' %></li>
  </ul>

  <ul class="nav" id="signout-nav">
    <%= navbar_link_to "Sign out", sign_out_path, :method => :delete%>
  </ul>
<% end %>
