<div class="topbar">
  <div id="topbar-inner-wrapper">
    <% if current_user %>
      <h2><%= current_user.demo.company_name %></h2>
    <% end %>

    <%= render 'shared/navbar' %>
  </div>
</div>

<div class="header">
  <div class="inner-header">
    <div id="logo">
      <%= link_to '/' do %>
        <%= image_tag skinned('logo_url', 'new_activity/img_logo.png'), :alt => 'H Engage tree' %>
      <% end %>
    </div>

    <% if @conference_feed_page %>
      <span id="conference-header">@ <%= @demo.company_name %></span>
    <% else %>
      <% if signed_in? %>
        <%= render 'shared/new_act_entry' %>
        <%= render 'shared/assistly_widget' %>
      <% end %>
    <% end %>
  </div>
</div>
