<% if (act.user.demo_id == current_user.demo_id) %>
  <li id="<%= dom_id(act) %>" class="act">
    <div class="avatar43">
      <a href='<%= user_path act.user %>'>
        <%= default_avatar_tag act.user, :class => 'avatar_image' %>
      </a>
    </div>
    <div class="act-details">
      <%= render :partial => 'shared/new_act_details', :locals => {:act => act} %>
    </div>
    <div class="cf"></div>
  </li>
  <li class="act-shim">
  </li>

  <% content_for :javascript do %>
    <%= mp_track 'saw act', :act_id => act.id, :game => act.demo.name %>
  <% end %>
<% end %>
