<h2>Scoreboard</h2>

<%= render 'shared/scoreboard_list', :users => users %>

<%= button_to('See all', '#', :id => 'show-all-ranked-players') unless @conference_feed_page %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#show-all-ranked-players').click(function(e) {
      $(this).replaceWith('<%= escape_javascript(image_tag("spinner.gif", :id => 'scoreboard-spinner')) %>');
      $.get('<%= scoreboard_path :format => :js %>');
      e.preventDefault();
    });
  <% end %>
<% end %>
