<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to(current_user.demo.company_name, activity_path, :class => 'brand') if current_user %>
      <%= render "shared/navbar" %>
    </div>
  </div>
</div>

<div class="header">
  <div class="inner-header">
    <div id="logo">
      <%# Gross HACK to allow Yahoo logo to appear on Yahoo-specific command page when user is not signed in (and thus we do not really know what demo they are in). I felt bad about myself after writing this. %>
      <% if @use_yahoo_logo %>
        <%= link_to "/sign_in" do %>
          <%= image_tag "https://s3.amazonaws.com/yahoo_skin/small_yahoo_logo.png" %>
          <h1>Yahoo! Benefits Beta</h1>
        <% end %>
      <% else %>
        <%= link_to '/' do %>
          <%= image_tag skinned('logo_url', 'new_activity/img_logo.png'), :alt => 'H Engage tree' %>
        <% end %>
      <% end %>
    </div>

    <% if @conference_feed_page %>
      <span id="conference-header">@ <%= @demo.company_name %></span>
    <% else %>
      <% if signed_in? %>
        <%= render 'shared/new_act_entry' %>
      <% end %>
    <% end %>
  </div>
</div>
