<h2>Scoreboard</h2>

<ul class="tabs" id="scoreboard-tabs">
  <%= tab "All", scoreboard_path(:show_only => nil, :format => :js), @active_scoreboard_tag %>
  <%= tab "Fan Of", scoreboard_path(:show_only => 'following', :format => :js), @active_scoreboard_tag %>
</ul>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#scoreboard-tabs li a').click(function(e) {
      $('.top-scores').replaceWith('<%= escape_javascript(image_tag("spinner.gif", :class => 'top-scores')) %>');
      $.get($(this).attr('href'));
      e.preventDefault();
    });
  <% end %>
<% end %>

<%= render 'shared/new_scoreboard_list', :users => users %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var showOnlyInScoreboard = undefined;

    $('#show-all-ranked-players').live('click', function(e) {
      mpq.track('saw full scoreboard');
      $(this).replaceWith('<%= escape_javascript(image_tag("spinner.gif", :id => 'scoreboard-spinner')) %>');

      $.get('<%= scoreboard_path :format => :js, :show_all => 'yesplease' %>', {show_only: showOnlyInScoreboard});
      e.preventDefault();
    });
  <% end %>
<% end %>
