<h2>Scoreboard</h2>

<%= render 'shared/new_scoreboard_list', :users => users %>

<%= form_tag '#' do %>
  <%= image_submit_tag("new_activity/btn_seemore.png", :id => 'show-all-ranked-players') unless @conference_feed_page %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#show-all-ranked-players').click(function(e) {
      $(this).replaceWith('<%= escape_javascript(image_tag("spinner.gif", :id => 'scoreboard-spinner')) %>');
      $.get('<%= scoreboard_path :format => :js %>');
      e.preventDefault();
    });
  <% end %>
<% end %>
