<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to(current_user.demo.company_name, activity_path, :class => 'brand') if current_user %>
      <%= render "shared/navbar" %>
    </div>
  </div>
</div>

<div class="header">
  <div class="inner-header">
    <div id="logo">
      <%= link_to '/' do %>
        <%= image_tag skinned('logo_url', 'new_activity/img_logo.png'), :alt => 'H Engage tree' %>
      <% end %>
    </div>

    <% if @conference_feed_page %>
      <span id="conference-header">@ <%= @demo.company_name %></span>
    <% else %>
      <% if signed_in? %>
        <%= render 'shared/new_act_entry' %>
      <% end %>
    <% end %>
  </div>
</div>
