<div class="header">
  <div class="inner-header">
    <div id="logo">
      <%= link_to '/' do %>
        <%= image_tag 'justtree.png', :alt => 'H Engage tree' %>
      <% end %>
    </div>

    <% if @conference_feed_page %>
      <span id="conference-header">@ <%= @demo.company_name %></span>
    <% else %>
      <% if signed_in? %>
        <%= render :partial => 'shared/new_act_entry' %>
      <% end %>


      <div id="account">
        <% if signed_in? %>
          <%= navbar_link_to 'Home', acts_path %>
          <%= navbar_link_to 'My Profile', current_user, :id => 'self-link' %>
          <%= navbar_link_to 'Connections', friends_path %>
          <%= navbar_link_to 'Admin', admin_path if current_user.is_site_admin %>
          <%= navbar_link_to "Sign out", sign_out_path, :method => :delete, :last => true %>
        <% else %>
          <%= link_to "By invitation only", page_path('invitation') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
