-# We send 'claimed' users to the main activities page; "unclaimed" users have to accept their invitation first
- site_link = email_site_link(@user, @demo, is_preview ||= false, @email_type)
- link_options = (is_preview||=false) ? {target: '_blank'} : {}

%center
  %table{:cellpadding => "0", :cellspacing => "0", :width => "600", :style => "box-sizing:border-box; color:#909090; font-family:Helvetica, Arial, sans-serif;"}
    %tr
      %td
        %table{:id => "mail_header", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "padding:1.75em 1em; border-bottom:1px #dfdfdf solid;"}
          %tr{:style => "text-align:left;"}
            %td= email_logo(@demo)
        %center{:style => "margin-bottom: 20px;"}
          %h2{:style => "font-weight:light; font-weight:300; font-size:24px;margin: 20px 0;"}
            #{link_to email_heading, site_link, link_options.merge({style:'color:#4faa60; font-weight:bold; font-weight:500; font-size:24px; text-decoration:none;'})}
          - if !@custom_message.nil? && @custom_message.size > 0
            %p{id:'custom_message', :style => "font-family: helvetica, arial, sans-serif; text-align:center; word-wrap:break-word; color: rgb(128,128,128); display: block; font-size: 16px; line-height: 24px;", :width => "370", :height => '76px', :valign => "top"}= @custom_message
        %table{:id => "tiles", :cellpadding => "0", :cellspacing => "5px", :width => "100%"}
          %tbody
            -# Note: To change the number of tiles per row, simply change the "(n)" to whatever your little ol' heart desires
            - partial = @presenter.follow_up_email ? 'shared/tile_followup' : 'shared/tile_row'
            - @tiles.each_slice(@presenter.slice_size) do |tiles|
              = render partial: partial, locals: {tiles: tiles, site_link: site_link, link_options: link_options}
        %table{:id => "mail_footer", :cellpadding => "0", :cellspacing => "15", :width => "100%", :style => "margin:0; text-align:center;"}
          %tr
            %td
              %center
                %table{:style => "background: #4da968; border-bottom:3px #3e8052 solid; text-align:center;", :cellspacing => "3", :width => "250"}
                  %tr
                    %td{:colspan => "3", :height => "0", :style => "line-height:0; font-size:0;"}
                      &nbsp;
                  %tr
                    %td{:width => "3", :height => "45"}
                      &nbsp;
                    %td{:valign => "middle", :height => "45"}
                      #{link_to 'View your tiles', site_link, link_options.merge({style:'display: block; padding:10px 40px; text-decoration:none; color:#fff; font-family:helvetica, arial, sans-serif; font-size:20px; font-weight:bold; font-weight:500;'})}
                    %td{:width => "3", :height => "45"}
                      &nbsp;
    %tr
      %td{:height => "20", :style => "line-height:0; font-size:0;"}
        &nbsp;
    %tr
      %td
        = render partial: 'shared/unsubscribe_footer', locals: {link_options: link_options}
