<div class="mast_bottom">
  <div id="bar_command" class="bar_section">
    <%= form_tag acts_path do %>
      <% game_enabled = @game_pending ? " disabled='true' " : "" %>
      <%= hidden_field_tag 'current_tile' %>
      <input type="text" id="command_central" name="act[code]" autocomplete='off' <%= game_enabled %>/>
      <div class="button_wrap"><input type="submit" value="Go" id="play_button"<%= game_enabled %> /></div>
    <% end %>
  </div>
  <div id="bar_progress" class="bar_section">
    <div class="bar">
      <div class="progress" style="<%= master_bar_width %>"></div>
    </div>
    <p><%= master_bar_point_content %></p>
  </div>
  <div id="bar_tix" class="bar_section">
    <% if current_user.demo.uses_tickets %>
      <ul>
      <li id="tix_count"><%= current_user.tickets %></li>
      <li class="label">Tickets</li>
      </ul>
    <% end %>
  </div>
  <div id="bar_me" class="bar_section">
    <%= default_avatar_tag current_user, :id => :top_avatar, :class => "avatar48" %>
    <ul>
      <li id="xp_count"><%= number_with_delimiter current_user.points %></li>
      <li class="label">Experience pts</li>
    </ul>
  </div>
</div>