<div class="mast_bottom row">
  <div id="bar_progress" class="bar_section large-5 columns">
    <div class="small-2 profile_picture columns">
      <%= default_avatar_tag current_user, :id => :top_avatar, :class => "avatar48" %>
    </div>
    <div class="complete_progress_bar small-10 columns">
      <div class="bar">
        <div class="progress" style="<%= master_bar_width %>"></div>
        <div class="progress_shine" style="<%= master_bar_width %>"></div>
      </div>
      <p class="progress_bar_points"><%= master_bar_point_content %></p>
    </div>
  </div>

  <div id="user_stats" class="bar_section large-3 columns">
    <div id="bar_tix">
      <% if current_user.demo.uses_tickets %>
        <ul>
          <li id="tix_count"><%= current_user.tickets %></li>
          <li class="label">Tickets</li>
        </ul>
      <% end %>
    </div>
    <div id="bar_xp">
      <ul>
        <li id="xp_count"><%= number_with_delimiter current_user.points %></li>
        <li class="label">Experience pts</li>
      </ul>
    </div>
  </div>

  <div id="bar_command" class="bar_section large-4 columns">
    <%= form_tag acts_path do %>
      <% game_enabled = @game_pending ? " disabled='true' " : "" %>
      <%= hidden_field_tag 'current_tile' %>
      <input type="text" id="command_central" name="act[code]" autocomplete='off' <%= game_enabled %>/>
      <div class="button_wrap"><input type="submit" value="Submit" id="play_button"<%= game_enabled %> /></div>
    <% end %>
  </div>

</div>


