<% rule_warnings ||= {} %>

<%= form_tag admin_demo_rules_path(demo) do %>
  <% new_rules.each_with_index do |rule, i| %>

    <%= fields_for rule do |rule_fields| %>
      <fieldset>

        <% if rule_warnings[rule] %>
          <div class="rule-warning">
            <%= rule_warnings[rule] %>
          </div>
        <% end %>

          <% values_tag_name = "rule[#{i}][values]" %>
          <%= label_tag values_tag_name, "Values" %>
          <%= text_field_tag values_tag_name, @value_strings_by_rule[rule], :id => "rule_#{i}_values" %>

        <% %w(points reply description alltime_limit referral_points).each do |ar_field_name| %>
          <% html_field_name = "rule[#{i}][#{ar_field_name}]" %>
          <%= label_tag html_field_name, ar_field_name.humanize %>
          <%= rule_fields.text_field ar_field_name, :name => html_field_name, :id => "rule_#{i}_#{ar_field_name}" %>
        <% end %>
      </fieldset>
    <% end %>
  <% end %>

  <%= submit_tag 'Create Rules' %>
<% end %>
