<div class="column-header">
  <h2 class="first">Scoreboard</h2>
</div>

<%= render 'shared/scoreboard_list', :users => users %>

<%= link_to 'Show all ranked players', '#', :id => 'show-all-ranked-players' %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#show-all-ranked-players').click(function(e) {
      $(this).replaceWith('<%= escape_javascript(image_tag("spinner.gif", :id => 'scoreboard-spinner')) %>');
      $.get('<%= scoreboard_path :format => :js %>');
      e.preventDefault();
    });
  <% end %>
<% end %>
