<% all_characteristics = dummy_characteristics + generic_characteristics + demo_specific_characteristics %>
<%= render 'shared/prototype_characteristic_select', :all_characteristics => all_characteristics %>

<%= form_tag segmentation_url, class: 'section', id: 'segmentation-form' do %>
  <fieldset>
    <div id="segmentation_parameters">
      <p class="label">Select a characteristic:</p>
      <div class="characteristics">
        <div class="segment-col1">
          <select name="segment_column[0]" id="segment_column_0" class="segment-column">
          </select>
        </div>
        <div class="segment-col2">
          <select name="segment_operator[0]" id="segment_operator_0" class="segment-operator">
          </select>
        </div>
        <div class="segment-col3">
          <select name="segment_value[0]" id="segment_value_0" class="segment-value">
          </select>
        </div>
      </div>
    </div>
    <%= link_to "Add Characteristic", "#", id: "add_more_characteristics", class: "success button segmentation-button" %><br><br>
    <%= submit_tag "Find segment", class: "success button segmentation-button" %>
    <%= image_tag "spinner_gears.gif", style: 'display: none', id: 'find-segment-spinner' %>
  </fieldset>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    var characteristicSelectHtml = $('#prototype-characteristic-select').html();
    $('#segment_column_0').append(characteristicSelectHtml).data('value_select_id', 'segment_value_0');

    var inputSpecifiers = <%= characteristic_input_specifiers_as_json(all_characteristics) %>;
    var allowedOperators = <%= characteristic_allowed_operators_as_json(all_characteristics) %>;

    var nextSegmentationIndex = 1;

    function nameFromDomId(domId) {
      nameParts = domId.split('_');
      index = nameParts.pop();
      return(nameParts.join('_') + '[' + index + ']');
    }

    function idAttribute(domId) {
      return('id="' + domId + '"');
    }

    function nameAttribute(domId) {
      return('name="' + nameFromDomId(domId) + '"');
    }

    function nameAndId(domId) {
      return ([idAttribute(domId), nameAttribute(domId)]).join(' ');
    }

    function createSelectFromInputSpecifier(inputSpecifier, domId) {
      optionHtml = valuesToOptionTags(inputSpecifier.allowed_values);

      return('<select ' + nameAndId(domId) + '>' + optionHtml + '</select>');
    }

    function createTextFieldFromInputSpecifier(inputSpecifier, domId) {
      return('<input type="text" ' + nameAndId(domId) + '>');
    }

    function createCheckboxFromInputSpecifier(inputSpecifier, domId) {
      hiddenField = '<input type="hidden" value="0" ' + nameAttribute(domId) + '>';
      checkboxField = '<span ' + idAttribute(domId) + '><input type="checkbox" value="1" ' + nameAttribute(domId) + '>True</span>';
      return(hiddenField + checkboxField);
    }

    function createInput(inputSpecifier, domId) {
      var creationFunction = null;
      switch(inputSpecifier.field_type) {
        case 'select': creationFunction = createSelectFromInputSpecifier; break;
        case 'text': creationFunction = createTextFieldFromInputSpecifier; break;
        case 'checkbox': creationFunction = createCheckboxFromInputSpecifier; break;
      };
      return creationFunction(inputSpecifier, domId);
    }

    function valuesToOptionTags(values) {
      return $.map(values, function(value) {
               return('<option>' + value + '</option>')
             }).join('');
    }

    $('.segment-column').live('change', function(e) {
      characteristicId = $(e.target).val();

      if(characteristicId) {
        enclosingSelectId = enclosingSelect(e.target).attr('id');
        segmentValueId = enclosingSelectId.replace('column', 'value');
        segmentOperatorId = enclosingSelectId.replace('column', 'operator');

        inputSpecifier = inputSpecifiers[characteristicId];
        inputSpecifierHtml = createInput(inputSpecifier, segmentValueId);

        allowedOperatorOptions = valuesToOptionTags(allowedOperators[characteristicId]);

        $('#' + segmentValueId).replaceWith(inputSpecifierHtml);
        $('#' + segmentOperatorId).html(allowedOperatorOptions);
      }
    });

    $('.remove_this_characteristic').live('click', function(e) {
      $(e.target).parent().remove();
    });

    $('#add_more_characteristics').click(function(e) {
      e.preventDefault();

      newSelectName = function(partName) {
        return 'segment_' + partName + '[' + nextSegmentationIndex + ']'
      }

      newSelectId = function(partName) {
        return 'segment_' + partName + '_' + nextSegmentationIndex
      }

      segmentColumnName = newSelectName('column');
      segmentColumnId = newSelectId('column');
      segmentValueName = newSelectName('value');
      segmentValueId = newSelectId('value');
      segmentOperatorName = newSelectName('operator');
      segmentOperatorId = newSelectId('operator');

      removeId = 'remove_this_characteristic_' + nextSegmentationIndex;

      newSelectHtml = [
        '<div class="segmentation-triple-wrapper">',
        '<a id="' + removeId + '" class="remove_this_characteristic" href="#">remove characteristic</a>',
        '<div class="characteristics">',
        '<div class="segment-col1"><select name="' + segmentColumnName + '" id="' + segmentColumnId + '" class="segment-column"></select></div>',
        '<div class="segment-col2"><select name="' + segmentOperatorName + '" id="' + segmentOperatorId + '" class="segment-operator"></select></div>',
        '<div class="segment-col3"><select name="' + segmentValueName + '" id="' + segmentValueId + '" class="segment-value"></select></div>',
        '</div>',
        '</div>'
      ].join('');

      $('#segmentation_parameters').append(newSelectHtml);
      $('#' + segmentColumnId).append(characteristicSelectHtml).data('value_select_id', segmentValueId);

      nextSegmentationIndex += 1;
    });

    $('#segmentation-form input[type=submit]').click(function(e) {
      e.preventDefault();

      $('#find-segment-spinner').show();

      segmentationForm = $('#segmentation-form');
      requestUrl = segmentationForm.attr('action') + '.js';
      requestParams = segmentationForm.serialize();

      $.post(requestUrl,
             requestParams,
             function(data) {
               $('#find-segment-spinner').hide();
               $('#segmentation-results').replaceWith(data)
             },
             'html');
    });
  <% end %>
<% end %>
