- form_submit_protocol = Rails.env.production? ? "https" : "http" #we need https for staging
- headline ||= "See and be inspired by what other companies have created."
- remote_type ||= nil
.inspire_headline
  = headline
= form_tag set_new_board_url, id: "create_account_form", remote: remote_type do
  .errors_field
  .text_field
    = text_field_tag "user[name]", user.name, placeholder: "First and Last Name"
  .text_field
    = text_field_tag "user[email]", user.email, placeholder: "Work Email"
  .text_field
    = text_field_tag "board[name]", board.name, placeholder: "Name Your Airbo (ex.: Company Name)"
  .text_field
    = password_field_tag "user[password]", user.password, placeholder: "Password"
  = hidden_field_tag "page_name", "welcome"
  = hidden_field_tag "creation_source_board", "Marketing Page (version 2014-05-27)"
  = hidden_field_tag "creation_source_creator", "Marketing Page"
  .submit_field
    = submit_tag "Create Free Account", class: "button", id: "submit_account_form"
%footer
  By using our site, you agree to our 
  = link_to "Terms and Conditions", page_path("terms"), target: "_blank" 
  and
  = link_to "Privacy Policy", page_path("privacy"), target: "_blank" 
  \.
