.inspire_headline
  See and be inspired by what other companies have created.
= form_tag boards_path do
  .text_field
    = text_field_tag "user[name]", user.name, placeholder: "First and Last Name"
  .text_field
    = text_field_tag "user[email]", user.email, placeholder: "Work Email"
  .text_field
    = text_field_tag "board[client_name]", board.client_name, placeholder: "Company Name"
  = submit_tag "Create Free Account", class: "button"
.log_in_container
  Have an account?
  = link_to "Log In.", sign_in_path 
.t-and-c-notice
  By creating an account, I accept Airbo's
  = link_to 'Terms of Service and Privacy Policy.', terms_path, target: '_blank'