- form_submit_protocol = Rails.env.production? ? "https" : "http" #we need https for staging
.inspire_headline
  See and be inspired by what other companies have created.
= form_tag @new_board_url, id: "create_account" do
  .text_field
    = text_field_tag "user[name]", user.name, placeholder: "First and Last Name"
  .text_field
    = text_field_tag "user[email]", user.email, placeholder: "Work Email"
  .text_field
    = text_field_tag "board[name]", board.name, placeholder: "Name Your Airbo (ex.: Company Name)"
  .text_field
    = password_field_tag "user[password]", user.password, placeholder: "Password"
  = hidden_field_tag "page_name", "welcome"
  = hidden_field_tag "creation_source_board", "Marketing Page (version 2014-05-27)"
  = hidden_field_tag "creation_source_creator", "Marketing Page"
  .submit_field
    = submit_tag "Create Free Account", class: "button", id: "create_account_btn"
