#black_tooltip{:class => @arrow_dir} 
  - if @show_next_button
    = link_to tutorial_path, :method => :put do
      #next_button
  - elsif @show_finish_button
    = link_to "Finish", '#', :id => :finish_tutorial_button
  #differing_spacings{:class => @arrow_dir}
    = render 'shared/corner_icon'
    .title=@title
    .instruct!= @instruct 


= content_for :javascript do
  :javascript
    $(function() {
      displayToolTip('#{@highlighted}', '#black_tooltip', #{@x}, #{@y}, '#{@position}');
    });

  