#black_tooltip{:class => @tutorial_step.arrow_dir} 
  - if @tutorial_step.show_next_button
    = link_to tutorial_path, :method => :put do
      #next_button
  - elsif @tutorial_step.show_finish_button
    = link_to "Finish", '#', :id => :finish_tutorial_button
  #differing_spacings{:class => @tutorial_step.arrow_dir}
    = render 'shared/corner_icon'
    .title=@tutorial_step.title
    .instruct!= @tutorial_step.instruct 


= content_for :javascript do
  :javascript
    $(function() {
      displayToolTip('#{@tutorial_step.highlighted}', '#black_tooltip', #{@tutorial_step.x}, #{@tutorial_step.y}, '#{@tutorial_step.position}');
    });

  
