<% if leads.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Organization</th>
        <th>Demo Id</th>
        <th>Invite Link Click Count</th>
        <th>Days Since Created</th>
        <th>Days Since Activated</th>
      </tr>
    </thead>
    <tbody>
      <% leads.each do |lead| %>
        <tr id="<%= lead.id %>">
          <td>
            <%= link_to(lead.name, edit_admin_demo_user_path(lead.demo, lead), target: "_blank") %>
          </td>
          <td>
            <%= lead.email %>
          </td>
          <td>
            <%= link_to(lead.organization.name, admin_organization_path(lead.organization), target: "_blank") %>
          </td>
          <td>
            <%= link_to(lead.demo.id, current_board_path(board_id: lead.demo.id, admin_view_board: true), method: :put, target: "_blank") %>
          </td>
          <td>
            <%= lead.rdb[:invite_link_click_count].get %>
          </td>
          <td>
            <%= time_ago_in_words(lead.created_at) %>
          </td>
          <td>
            <%= time_ago_in_words(lead.accepted_invitation_at) if lead.accepted_invitation_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
