- @matched_users.each do |user|
  .single_suggestion
    .image= default_avatar_tag(user)
    .info
      .bit= user.name.truncate(25)
    .suggested_user_id{style: "display:none"}= user.id
    = link_to "X", '#', :class => "remove_referrer"
    / = form_for user, invitation_invite_friend_path  do |f|
    /   = f.submit "Invite", :class => "single_click_invite"
    .clear
    - if user.claimed?
      .already_playing (already participating)
      = hidden_field_tag 'referrer_id', user.id  # This is for referrals
    - else
      - submit_id = "invite_" + user.slug
      = form_tag invitation_invite_friend_path, :autocomplete => :off, :remote => true, :style => 'display: inline' do  
        = hidden_field_tag 'invitee_id', user.id
        = hidden_field_tag 'invitee_email', user.email # if we invite by new email
        = submit_tag "Invite", :disable_with => "Just a moment..", :class => "single_click_invite", :id => submit_id
