- @matched_users.each do |u|
  - text = "#{u.name}, #{u.email}, #{u.slug}"
  .single_suggestion
    .image= default_avatar_tag(u)
    .info
      .bit= u.name
      .bit= u.email
      .bit= u.slug
    .clear
    .suggested_user_id= u.id
    = link_to @clear_users_text, '#', :class => "remove_referrer"
