<div class="row">
  <div class="columns small-12">

    <%= form_for [:admin, demo] do |f| %>
      <fieldset>
        <legend>General Settings</legend>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :custom_reply_email_name %>
        <%= f.text_field :custom_reply_email_name, { maxlength: 160 } %>

        <%= f.label :custom_welcome_message %>
        <%= f.text_area :custom_welcome_message, { maxlength: 160 } %>

        <%= f.label :persistent_message %>
        <%= f.text_area :persistent_message, { maxlength: 160 } %>

        <div class="mb-1">
          <%= f.check_box :guest_user_conversion_modal %>
          <%= f.label :guest_user_conversion_modal,  " Show guest user conversion modal?", class: "d-inline" %>
        </div>

        <div class="mb-1">
          <%= f.check_box :hide_social %>
          <%= f.label :hide_social,  " Hide social components?", class: "d-inline" %>
        </div>
        <div class="mb-1">
          <%= f.check_box :is_public %>
          <%= f.label :is_public,  " Is public?", class: "d-inline" %>
        </div>
      </fieldset>

      <fieldset>
        <legend>Dependent Board Settings</legend>
        <div class="mb-1">
          <%= f.check_box :dependent_board_enabled %>
          <%= f.label :dependent_board_enabled,  " Dependent board enabled (Turns on 'Invite spouse' item in Survey)", class: "d-inline" %>
        </div>

        <%= f.label :dependent_board_id, "Dependent board" %>
        <%= f.select :dependent_board_id, options_for_select(Demo.order(:name).map { |d| [d.name, d.id] }, {seleced: demo.dependent_board_id, :include_blank => true}) %>

        <%= f.label :dependent_board_email_subject %>
        <%= f.text_field :dependent_board_email_subject %>

        <%= f.label :dependent_board_email_body %>
        <%= f.text_field :dependent_board_email_body %>
      </fieldset>

      <fieldset>
        <legend>Custom Colors</legend>

        <%= f.fields_for :custom_color_palette do |palette| %>
          <div class="mb-1">
            <%= palette.check_box :enabled %>
            <%= palette.label :enabled,  " Enabled?", class: "d-inline" %>
          </div>

          <%= palette.label :primary_color %>
          <%= palette.text_field :primary_color %>


          <div class="mb-1">
            <%= palette.check_box :enable_reset %>
            <%= palette.label :enable_reset, "Enable a customizable neutral color palette in case client branding is unfriendly", class:"d-inline" %>
          </div>

          <%= palette.label :static_text_color, "color for h1,h2,...headers and  label text (recommended: #4C4C4C -> default text color on airbo)" %>
          <%= palette.text_field :static_text_color %>

          <%= palette.label :content_background_reset, "Main page background (recommended: #eeeeee)" %>
          <%= palette.text_field :content_background_reset %>

          <%= palette.label :tile_progress_background_reset, "Tile Progress Background (recommended: #f7f7f7 -> neutral gray)" %>
          <%= palette.text_field :tile_progress_background_reset %>

          <%= palette.label :tile_progress_completed_tiles_text_reset, "Tile Progress Completed Tiles Text (recommended: #FFFFFF -> white primary color not white itself)" %>
          <%= palette.text_field :tile_progress_completed_tiles_text_reset %>

          <%= palette.label :tile_progress_all_tiles_text_reset, "Tile Progress All Tiles Text (recommended: primary color)" %>
          <%= palette.text_field :tile_progress_all_tiles_text_reset %>
        <% end %>
      </fieldset>

      <fieldset>
        <legend>Confirmation</legend>
        <%= f.submit "Save", data: { disable_with: 'Please wait...' }, class: "button" %>
      </fieldset>

    <% end %>
  </div>
</div>
