<%= semantic_form_for [:admin, demo] do |form| %>
  <%= form.inputs do %>
    <%= form.input :name, :label => "Name of Demo" %>
    <%= form.input :client_name %>
    <%= form.input :phone_number %>
    <%= form.input :email %>
    <%= form.input :custom_reply_email_name, label: "Email mask" %>
    <%= form.input :seed_points, :label => "Starting player score" %>
    <%= form.input :custom_welcome_message, {:maxlength => 160} %>
    <%= add_byte_counter_for 'Custom welcome message' %>
    <%= form.input :prize, :label => "Prize text", :as => :text %>
    <%= form.input :help_message, :as => :text %>
    <%= form.input :unrecognized_user_message, :label => 'Phone-number-not-recognized message', :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Phone-number-not-recognized message" %>
    <%= form.input :act_too_early_message, :label => "Response to command before game begins", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Response to command before game begins" %>
    <%= form.input :act_too_late_message, :label => "Response to command after game ends", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Response to command after game ends" %>
    <%= form.input :custom_already_claimed_message, :label => "Custom already-claimed message", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Custom already-claimed message" %>
    <%= form.input :custom_support_reply %>
    <%= add_byte_counter_for "Custom support reply" %>
    <%= form.input :login_announcement, :label => "Message user sees on login" %>
    <%= form.input :mute_notice_threshold %>
    <%= form.input :use_location_in_conversion %>
    <%= form.input :use_post_act_summaries, label: "Send post-act summaries with act replies" %>
    <div class='example_instructions_holder'>
      <div class='example_instructions'>
        Make sure the custom examples for slide 1 of the tutorial and for the playbox tooltip are real rules associated with your game.
      </div>
    </div>
    <%= form.input :example_tutorial, :label => "Custom example for slide 1 of tutorial" %>
    <%= form.input :example_tooltip, :label => "Custom example for playbox tooltip" %>
    <%= label_tag :use_multiple_choice_tiles, "Talking chicken should use multiple-choice sample tile" %>
    <%= check_box_tag :use_multiple_choice_tiles, '1', demo.tutorial_type == 'multiple_choice' %>

    <%= form.input :ticket_threshold, :label => "Points for ticket award"  %>
    <%# For now, uses_tickets is hard-coded to true. %>
    <%#= form.input :uses_tickets, :label => "Use tickets" %>
    <%#- ticket_style = @demo.uses_tickets ? '' : "display: none" %>
    <%#= form.inputs :name => "Ticket details", :style => ticket_style, :id => 'gold-coin-details' do %>
    <%#= form.input :ticket_threshold, :label => "Points for ticket award"  %>
    <%# end %>
    <%#= content_for :javascript do %>
      <%#= javascript_tag do %>
        <!--$('input#demo_uses_tickets').change(function(e) {$('#gold-coin-details').toggle()});-->
      <%# end %>
    <%# end %>

  <% end %>

  <%= form.inputs :name => "Followup welcome message" do %>
    <%= form.input :followup_welcome_message %>
    <%= add_byte_counter_for 'Followup welcome message' %>
    <%= form.input :followup_welcome_message_delay, :label => "Followup welcome message delay (in minutes)" %>
  <% end %>

  <%= form.inputs :name => "Referral Bonus" do %>
    <p>Note that for this functionality to be active, you need to set both the threshold and the bonus for referring another.</p>
    <%= form.input :game_referrer_bonus, :label => 'Bonus for referring another to the game' %>
    <%= form.input :referred_credit_bonus, :label => 'Bonus for crediting the user who referred you to the game' %>
    <%= form.input :credit_game_referrer_threshold, :label => "Threshold to credit user who referred you to the game (in minutes)" %>
  <% end %>

  <%= form.input :use_standard_playbook, :label => "Use standard playbook rules" %>
  <%= form.input :website_locked, :label => "Lock out website-users will use SMS only" %>
  <%= form.input :turn_off_admin_onboarding, :label => "Turn off admin onboarding" %>

  <%= form.actions do %>
    <% button_text = demo.new_record? ? 'Create Game' : 'Update Game' %>
    <%= form.submit button_text, :disable_with => 'Please wait...' %>
  <% end %>
<% end %>
