<%= semantic_form_for [:admin, demo] do |form| %>
  <%= form.inputs do %>
    <%= form.input :name, :label => "Name of Demo" %>
    <%= form.input :client_name %>
    <%= form.input :victory_threshold, :label => "Victory threshold" %>
    <%= form.input :seed_points, :label => "Starting player score" %>
    <%= form.input :custom_welcome_message, {:maxlength => 160} %>
    <%= add_byte_counter_for 'Custom welcome message' %>
    <%= form.input :custom_victory_achievement_message %>
    <%= form.input :custom_victory_sms, :label => "Custom victory SMS", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for 'Custom victory SMS' %>
    <%= form.input :custom_victory_scoreboard_message %>
    <%= form.input :begins_at, :label => "Game begins at", :twelve_hour => true, :start_year => Time.now.year %>
    <%= form.input :ends_at, :label => "Game ends at", :twelve_hour => true, :start_year => Time.now.year %>
    <%= form.input :points_for_connecting, :label => "Points for connecting to another player" %>
    <%= form.input :prize, :label => "Prize text", :as => :text %>
    <%= form.input :help_message, :as => :text %>
    <%= form.input :unrecognized_user_message, :label => 'Phone-number-not-recognized message', :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Phone-number-not-recognized message" %>
    <%= form.input :act_too_early_message, :label => "Response to command before game begins", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Response to command before game begins" %>
    <%= form.input :act_too_late_message, :label => "Response to command after game ends", :input_html => {:maxlength => 160} %>
    <%= add_byte_counter_for "Response to command after game ends" %>
    <%= form.input :survey_answer_activity_message, :label => "Activity feed text when user answers a survey question" %>
    <%= form.input :login_announcement, :label => "Message user sees on login" %>
    <%= form.input :mute_notice_threshold %>
    <div class='example_instructions_holder'>
      <div class='example_instructions'>
        Make sure the custom examples for slide 1 of the tutorial and for the playbox tooltip are real rules associated with your game.
      </div>
    </div>
    <%= form.input :example_tutorial, :label => "Custom example for slide 1 of tutorial" %>
    <%= form.input :example_tooltip, :label => "Custom example for playbox tooltip" %>

    <%= form.input :uses_gold_coins, :label => "Use gold coins" %>
    <%- gold_coin_style = @demo.uses_gold_coins ? '' : "display: none" %>
    <%= form.inputs :name => "Gold coin details", :style => gold_coin_style, :id => 'gold-coin-details' do %>
      <%= form.input :gold_coin_threshold, :label => "Points for gold coin award"  %>
      <%= form.input :minimum_gold_coin_award, :label => "Minimum number of gold coins awarded" %>
      <%= form.input :maximum_gold_coin_award, :label => "Maximum number of gold coins awarded" %>
    <% end %>
    <%= content_for :javascript do %>
      <%= javascript_tag do %>
        $('input#demo_uses_gold_coins').change(function(e) {$('#gold-coin-details').toggle()});
      <% end %>
    <% end %>

  <% end %>

  <%= form.inputs :name => "Followup welcome message" do %>
    <%= form.input :followup_welcome_message %>
    <%= add_byte_counter_for 'Followup welcome message' %>
    <%= form.input :followup_welcome_message_delay, :label => "Followup welcome message delay (in minutes)" %>
  <% end %>


  <%= form.inputs :name => "Invitation Email", class: 'big_block_title' do %>
    <p style='position: relative; top: -7mm'>(Anything left blank will use the default value)</p>

    <h2>Subject</h2>
     
    <%= form.input :invitation_subject, :label => "Subject", :as => :string, :input_html => {class: 'subject_line'} %>
  
    <li id='subject_instructions_holder'>
      <div id='subject_instructions'>
        <%= render 'referrer_tag' %>  
      </div>
    </li>
    <%= form.input :invitation_subject_with_referrer, :label => "Subject with Referrer", :as => :string, :input_html => {class: 'subject_line'} %>

    <h2>Blurb</h2>

    <li class='blurb_instructions_holder'>
      <div class='blurb_instructions_dropped'>
        <%= render 'bold_italic_tags' %>
      </div>
    </li>

    <%= form.input :invitation_blurb, :label => "Blurb" %>

 
    <li class='blurb_instructions_holder'>
      <div class='blurb_instructions'>
      <%= render 'bold_italic_referrer_tags' %>
      </div>
    </li>

    <%= form.input :invitation_blurb_with_referrer, :label => "Blurb with Referrer" %>


   <h2>Bullets</h2>
    <li id='bullet_instructions_holder'>
      <div id='bullet_instructions'>
        Enter text with carriage returns<br>
        Max length 30 chars per line<br>
        <%= render 'italic_tags' %>
      </div>
    </li>
    <%= form.input :invitation_bullet_1, :label => "1", :input_html => {class: 'bullet_text_area'} %>
    <%= form.input :invitation_bullet_2, :label => "2", :input_html => {class: 'bullet_text_area'} %>
    <%= form.input :invitation_bullet_3, :label => "3", :input_html => {class: 'bullet_text_area'} %>
  <% end %>



  <%= form.inputs :name => "Victory Notifications" do %>
    You can specify an e-mail address and/or SMS number that gets notified if and who someone wins this game.
    <%= form.input :victory_verification_email %>
    <%= form.input :victory_verification_sms_number, :label => 'Victory verification SMS number' %>
  <% end %>

  <% if demo.new_record? %>
    <%= render 'levels', :form => form, :demo => demo %>
  <% end %>

  <%= form.inputs :name => "Referral Bonus" do %>
    <%= form.input :game_referrer_bonus, :label => 'Bonus for referring another to the game' %>
    <%= form.input :referred_credit_bonus, :label => 'Bonus for crediting the user who referred you to the game' %>
    <%= form.input :credit_game_referrer_threshold, :label => "Threshold to credit user who referred you to the game (in minutes)" %>
  <% end %>

  <%= form.input :use_standard_playbook, :label => "Use standard playbook rules" %>

  <%= form.buttons do %>
    <% button_text = demo.new_record? ? 'Create Game' : 'Update Game' %>
    <%= form.submit button_text, :disable_with => 'Please wait...' %>
  <% end %>
<% end %>
