<%= form_for [:admin, demo] do |form| %>
  <%=form.label :name%>
  <%= form.text_field :name  %>
  <%=form.label :organization, class:"inline-block"%> 
  <%=link_to "Create new organization", new_admin_organization_path, class: "small right"%>
  <%= form.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name),
    {include_blank:true}, class: "airbo-chosen-select", data:{ placeholder:"Choose an organization"}  %>
    <%= form.submit "Create Board", class: "button" %>
  <% end %>
</div>
