<div class="row">
  <div class="columns small-5 centered">

    <%= form_for [:admin, demo] do |form| %>
      <%=form.label :name%>
      <%= form.text_field :name  %>
      <%=form.label :organization%>
      <%= form.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name),{}, class: "airbo-chosen-select" %>
      <%= form.submit "Create Board", class: "button" %>
  <% end %>
  </div>
</div>
