<h2 class="first"><%= link_to "Admin", admin_path %>: New Demo</h2>

<p class="explanation"><%= translate('.explanation', :default => "Create a new demo for a prospective customer.") %></p>

<%= semantic_form_for [:admin, @demo] do |form| %>
  <%= form.inputs do %>
    <%= form.input :company_name, :label => "Company name" %>
    <%= form.input :victory_threshold, :label => "Victory threshold" %>
    <%= form.input :seed_points, :label => "Starting player score" %>
    <%= form.input :custom_welcome_message, :length => 140 %>
    <%= form.input :custom_victory_achievement_message %>
    <%= form.input :custom_victory_sms, :label => "Custom victory SMS", :length => 150 %>
    <%= form.input :custom_victory_scoreboard_message %>
    <%= form.input :ends_at, :label => "Game ends at" %>
  <% end %>

  <%= form.inputs :name => "Victory Notifications" do %>
    You can specify an e-mail address and/or SMS number that gets notified if and who someone wins this game.
    <%= form.input :victory_verification_email %>
    <%= form.input :victory_verification_sms_number, :label => 'Victory verification SMS number' %>
  <% end %>

  <%= form.inputs :name => "Bonus Thresholds", :id => 'bonus-thresholds' do %>
    <%# The formtastic docs claim that you can use an 
    accept_nested_attributes_for along with certain options on form.inputs
    to do this nicely. As usual, the formtastic docs are full of shit. %>
    <% @demo.bonus_thresholds.each_with_index do |bonus_threshold, bonus_threshold_index| %>
      <%= label_tag "demo_bonus_thresholds_#{bonus_threshold_index}_threshold", "Threshold" %>
      <%= text_field_tag "demo[bonus_thresholds][#{bonus_threshold_index}][threshold]" %>
      <%= label_tag "demo_bonus_thresholds_#{bonus_threshold_index}_max_points", "Max points" %>
      <%= text_field_tag "demo[bonus_thresholds][#{bonus_threshold_index}][max_points]" %>
      <br/>
    <% end %>

    <%= link_to 'Add another', '#', :id => 'add-bonus-threshold-row' %>
  <% end %>

  <%= form.buttons do %>
    <%= form.submit 'Submit', :disable_with => 'Please wait...' %>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var nextBonusThresholdIndex = <%= @demo.bonus_thresholds.length %>;

    $('#add-bonus-threshold-row').click(function(e) {
      e.preventDefault();

      fieldIdPrefix = 'demo_bonus_thresholds_' + nextBonusThresholdIndex + '_';
      fieldNamePrefix = 'demo[bonus_thresholds][' + nextBonusThresholdIndex + '][';

      thresholdFieldId = fieldIdPrefix + 'threshold'; 
      thresholdFieldName = fieldNamePrefix + 'threshold' + ']';

      maxPointsFieldId = fieldIdPrefix + 'max_points';
      maxPointsFieldName = fieldNamePrefix + 'max_points' + ']';

      newHTML = [
        '<label for="' + thresholdFieldId + '">Threshold</label>',
        '<input type="text" id="' + thresholdFieldId + '" name="' + thresholdFieldName + '">',
        '<label for="' + maxPointsFieldId + '">Max points</label>',
        '<input type="text" id="' + maxPointsFieldId + '" name="' + maxPointsFieldName + '">',
        '<br/>'
      ].join('');

      $(this).before(newHTML);
      nextBonusThresholdIndex++;
    });
  <% end %>
<% end %>
