<h2 class="first"><%= link_to "Admin", admin_path %>: New Demo</h2>

<p class="explanation"><%= translate('.explanation', :default => "Create a new demo for a prospective customer.") %></p>

<%= semantic_form_for [:admin, @demo] do |form| %>
  <%= form.inputs do %>
    <%= form.input :company_name, :label => "Company name" %>
    <%= form.input :victory_threshold, :label => "Victory threshold" %>
    <%= form.input :seed_points, :label => "Starting player score" %>
    <%= form.input :custom_welcome_message, :length => 140 %>
    <%= form.input :custom_victory_achievement_message %>
    <%= form.input :custom_victory_sms, :label => "Custom victory SMS", :length => 150 %>
    <%= form.input :custom_victory_scoreboard_message %>
    <%= form.input :ends_at, :label => "Game ends at" %>
    <%= form.input :points_for_connecting, :label => "Points for connecting to another player" %>
  <% end %>

  <%= form.inputs :name => "Followup welcome message" do %>
    <%= form.input :followup_welcome_message %>
    <%= form.input :followup_welcome_message_delay, :label => "Followup welcome message delay (in minutes)" %>
  <% end %>

  <%= form.inputs :name => "Victory Notifications" do %>
    You can specify an e-mail address and/or SMS number that gets notified if and who someone wins this game.
    <%= form.input :victory_verification_email %>
    <%= form.input :victory_verification_sms_number, :label => 'Victory verification SMS number' %>
  <% end %>

  <%= form.inputs :name => "Bonus Thresholds", :id => 'bonus-thresholds' do %>
    <%# The formtastic docs claim that you can use an 
    accept_nested_attributes_for along with certain options on form.inputs
    to do this nicely. As usual, the formtastic docs are full of shit. %>
    <% @demo.bonus_thresholds.each_with_index do |bonus_threshold, bonus_threshold_index| %>
      <%= label_tag "demo_bonus_thresholds_#{bonus_threshold_index}_min_points", "Min points" %>
      <%= text_field_tag "demo[bonus_thresholds][#{bonus_threshold_index}][min_points]" %>
      <%= label_tag "demo_bonus_thresholds_#{bonus_threshold_index}_max_points", "Max points" %>
      <%= text_field_tag "demo[bonus_thresholds][#{bonus_threshold_index}][max_points]" %>
      <%= label_tag "demo_bonus_thresholds_#{bonus_threshold_index}_award", "Award" %>
      <%= text_field_tag "demo[bonus_thresholds][#{bonus_threshold_index}][award]" %>
      <br/>
    <% end %>

    <%= link_to 'Add another', '#', :id => 'add-bonus-threshold-row' %>
  <% end %>

  <%= form.inputs :name => "Levels", :id => 'levels' do %>
    <% @demo.levels.each_with_index do |level, level_index| %>
      <%= label_tag "demo_levels_#{level_index}_threshold", "Threshold" %>
      <%= text_field_tag "demo[levels][#{level_index}][threshold]" %>
      <%= label_tag "demo_levels_#{level_index}_name", "Name" %>
      <%= text_field_tag "demo[levels][#{level_index}][name]" %>
      <br/>
    <% end %>

    <%= link_to 'Add another', '#', :id => 'add-level-row' %>
  <% end %>

  <%= form.inputs :name => "Referral Bonus" do %>
    <%= form.input :game_referrer_bonus, :label => 'Bonus for referring another to the game' %>
    <%= form.input :credit_game_referrer_threshold, :label => "Threshold to credit user who referred you to the game (in minutes)" %>
  <% end %>

  <%= form.buttons do %>
    <%= form.submit 'Submit', :disable_with => 'Please wait...' %>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var nextBonusThresholdIndex = <%= @demo.bonus_thresholds.length %>;
    var nextLevelIndex = <%= @demo.levels.length %>;

    function humanize(fieldName) {
      var unUnderscored = fieldName.replace('_', ' ');
      return unUnderscored[0].toUpperCase() + unUnderscored.substr(1);
    }

    function addInputRow(fieldObjectPrefix, index, fieldNames, addingAnchor) {
      fieldIdPrefix = ['demo', '_', fieldObjectPrefix, '_', index, '_'].join('')
      fieldNamePrefix = ['demo[', fieldObjectPrefix, '][', index, ']['].join('');

      newHTML = $.map(fieldNames, function(fieldName) {
        return [

          '<label for="', fieldIdPrefix, fieldName, '">', humanize(fieldName), '</label>',
          '<input type="text" id="', fieldIdPrefix, fieldName, '" name="', fieldNamePrefix, fieldName, ']">'
        ].join('')
      }).join('') + "<br/>";

      addingAnchor.before(newHTML);
    };

    function addBonusThresholdRow(addingAnchor) {
      addInputRow(
        'bonus_thresholds', 
        nextBonusThresholdIndex, 
        ['min_points', 'max_points', 'award'], 
        addingAnchor
      );

      nextBonusThresholdIndex++;  
    };

    function addLevelRow(addingAnchor) {
      addInputRow(
        'levels',
        nextLevelIndex,
        ['threshold', 'name'],
        addingAnchor
      );

      nextLevelIndex++;
    };

    $('#add-bonus-threshold-row').click(function(e) {
      e.preventDefault();
      addBonusThresholdRow($(this));
    });

    $('#add-level-row').click(function(e) {
      e.preventDefault();
      addLevelRow($(this));
    });
  <% end %>
<% end %>
