<%= content_for :header do %>
  <%= link_to "Admin", admin_path %>: New Demo
<% end %>

<p class="explanation"><%= translate('.explanation', :default => "Create a new demo for a prospective customer.") %></p>

<%= semantic_form_for [:admin, @demo] do |form| %>
  <%= form.inputs do %>
    <%= form.input :company_name, :label => "Company name" %>
  <% end %>

  <%= form.buttons do %>
    <%= form.submit 'Submit', :disable_with => 'Please wait...' %>
  <% end %>
<% end %>
