.admin
  .breadcrumb
    = link_to "Admin", admin_path
    »
    = @demo.name

  = button_to "Send me an Activity Report", admin_demo_reports_activities_path(@demo)

  - if @demo.upload_in_progress
    This board is currently marked as having an update in progress
    = button_to "Reset upload-in-progress status", admin_reset_bulk_upload_path(@demo), method: :delete

  - if @demo.is_paid?
    This board is currently paid.
    = button_to "Make board free", admin_demo_paid_status_path(@demo), method: :delete
  - else
    This board is currently free.
    = button_to "Make board paid", admin_demo_paid_status_path(@demo)

  %h2 Reports
  %ul 
    %li= link_to "Points", admin_demo_reports_points_path(@demo) 
    %li= link_to "Interactions", admin_demo_reports_interactions_path(@demo) 
    %li= link_to "Friendships", admin_demo_reports_friendships_path(@demo)
  %h2
    = @claimed_user_count  
    users have accepted invitations 
  %h2
    = @user_with_mobile_count  
    users have added mobile numbers to their accounts
  %h2
    = @user_with_game_referrer_count
    users have credited a game referrer

  %ul
    %li= link_to "Locations for this demo", admin_demo_locations_path(@demo) 

    %li= link_to "Characteristics for this demo", admin_demo_characteristics_path(@demo)

    %li= link_to "Segment users", admin_demo_segmentation_path(@demo)

    %li= link_to "Send targeted messages to users in this demo", admin_demo_targeted_messages_path(@demo)
    %li= link_to "Conduct raffle", admin_demo_raffles_path(@demo)

    %li= link_to "Count peer invitations", admin_demo_peer_invitations_path(@demo)
  %h2 Settings
  %ul
    %li= link_to "Edit basic settings for this game", edit_admin_demo_path(@demo)

  %p
    - if @demo.phone_number.present?
      Phone number for this game is 
      = @demo.phone_number.as_pretty_phone
    - else
      NO PHONE NUMBER SET FOR THIS GAME, MAKE SURE THAT IS WHAT YOU REALLY WANT

  %p
    - if @demo.email.present?
      Email for this game is 
      = @demo.email
    -else
      NO EMAIL SET FOR THIS GAME, MAKE SURE THAT IS WHAT YOU REALLY WANT
  %p
    - if @demo.client_name.present?
      = "Client name is #{@demo.client_name}"
    - else
      No client name set

  %p
    New players start with 
    = @demo.seed_points  
    points.

  %ul
    %li= link_to "Goals for this demo", admin_demo_goals_path(@demo) 

    %li= link_to "Tiles for this demo", admin_demo_tiles_path(@demo) 

  %p
    Welcome message: 
    = @demo.welcome_message 

  %p
    - if @demo.followup_welcome_message.present? 
      Followup welcome message: 
      = @demo.followup_welcome_message  
      (send 
      = @demo.followup_welcome_message_delay
      minutes after invitation accepted)
    - else 
      No followup message.

  %p
    - if @demo.credit_game_referrer_threshold && @demo.game_referrer_bonus 
      Bonus for referring another user to the game: 
      = @demo.game_referrer_bonus  
      points (with a 
      = @demo.credit_game_referrer_threshold  
      minute threshold)
    - else 
      No bonus for referring another user to the game.
   


  %p
    - if @demo.referred_credit_bonus 
      Bonus for crediting the user who referred you to the game: 
      = @demo.referred_credit_bonus  
      points
    - else 
      No bonus for crediting the user who referred you to the game

  %p
    - if @demo.use_standard_playbook 
      Game will use standard playbook rules as well as custom rules.
    - else 
      Game will not use standard playbook rules, only custom rules.

  %p
    - if @demo.website_locked
      Website is locked out, users can use SMS only


  %p
    - if @demo.prize.present? 
      = "Prize response is \"#{@demo.prize}\""
    - else 
      Game will have default response about prizes (indicating no prize)  
   


  %p
    - if @demo.help_message.present? 
      = "Help message is \"#{@demo.help_message}\"" 
    - else 
      Game will have default help message
   
  
  
  %p
    - if @demo.unrecognized_user_message.present? 
      = "Phone-number-not-recognized message is \"#{@demo.unrecognized_user_message}\"" 
    - else 
      Game will have default phone-number-not-recognized message
   


  %p
    - if @demo.act_too_early_message.present? 
      = "Response to command before game begins is \"#{@demo.act_too_early_message}\"" 
    - else 
      Game will have default response to command before game begins.  
  


  %p
    - if @demo.act_too_late_message.present? 
      = "Response to command after game ends is \"#{@demo.act_too_late_message}\"" 
    - else 
      Game will have default response to command after game ends.  

  
  %p
    - if @demo.custom_already_claimed_message.present?
      = %{Custom already-claimed message is "#{@demo.custom_already_claimed_message}"}
    - else
      Game will have default already-claimed message

  %p
    - if @demo.login_announcement.present? 
      = "Message user sees on login is \"#{@demo.login_announcement}\"" 
    - else 
      User sees no custom message on login
   


  %p
    - if @demo.mute_notice_threshold 
      Mute notice to users after 
      = @demo.mute_notice_threshold  
      SMSes
    - else 
      Game will have default mute notice threshold

  %p
    - if @demo.custom_support_reply.present?
      = %{Custom support reply is "#{@demo.custom_support_reply}"}
    - else
      No custom support reply.

  %p
    - if @demo.use_post_act_summaries
      Post-act summaries will be sent
    - else
      No post-act summaries will be sent

  %p
    - if @demo.example_tutorial
      Custom example for slide 1 of tutorial:
      = @demo.example_tutorial  
    - else 
      Game will have default tutorial example
   
  %p
    - if @demo.example_tooltip
      Custom example for Playbox tooltip:
      = @demo.example_tooltip
    - else 
      Game will have default tooltip example

  %p
    - if @demo.tutorial_type == "multiple_choice"
      Talking chicken will use multiple-choice sample tile
    - else 
      Talking chicken will use old-school sample tile

  %p
    - if @demo.custom_reply_email_name.present?
      Email mask is
      = @demo.custom_reply_email_name
    - else
      No custom email mask, using default
  %p 
    = "Game will#{' not' unless @demo.uses_tickets} use tickets"
    -if @demo.uses_tickets
      %p= "Tickets are awarded every #{@demo.ticket_threshold} points"

  %p.explanation= translate('.explanation', :default => "Add HR people from %{company} to this demo, then send them an invitation to the demo.", :company => @demo.name) 


  %h2 Users
  
  = link_to "Bulk load users", new_admin_demo_bulk_load_path(@demo) 

  = render 'user_paginator', :demo => @demo 

  = form_tag admin_demo_path(@demo), :method => :delete do 
    %h2 Destroy game
    %p Destroying a game is <strong>irrevocable</strong>. There is <strong>no undo</strong>. This will also delete <strong>all associated records, including users and their actions</strong>.
    %p If you want to save users from this demo, move them to another demo first.
    = submit_tag "Destroy game", :confirm => "Really destroy this \"#{@demo.name}\" game?" 
 
