<h2 class="first"><%= link_to "Admin", admin_path %>: <%= @demo.company_name %></h2>

<p class="explanation"><%= translate('.explanation', :default => "Add HR people from %{company} to this demo, then send them an invitation to the demo.", :company => @demo.company_name) %></p>

<a href="#" id="add-new-user">Add new user</a>

<div id="new-user-form">
  <%= render :partial => 'admin/users/new', :locals => { :demo => @demo } %>
</div>

<ul id="demo-users">
  <%= render :partial => 'admin/users/user', :collection => @users %>
</ul>
