<h2 class="first"><%= link_to "Admin", admin_path %>: <%= @demo.company_name %></h2>

<%= button_to "Send activity dump to Vlad", admin_demo_send_activity_dump_path(@demo.id) %>

<h2><%= @user_with_mobile_count %> users have added mobile numbers to their accounts <%= link_to '(send them a blast SMS)', new_admin_demo_blast_sms_path(@demo) %></h2>

<%= link_to "Rules for this demo", admin_demo_rules_path(@demo) %>

<p>
Game
<% if @demo.ends_at %>
  ends at <%= @demo.ends_at.winning_time_format %>
<% else %>
  goes on indefinitely.
<% end %>
</p>

<% if @demo.victory_threshold %>
  <p><%= @demo.victory_threshold %> points to win.</p>
<% end %>

<% if @demo.victory_verification_email %>
  <p>Victory email to <%= @demo.victory_verification_email %></p>
<% end %>

<% if @demo.victory_verification_sms_number %>
  <p>Victory verification SMS to <%= @demo.victory_verification_sms_number %></p>
<% end %>

<p>New players start with <%= @demo.seed_points %> points.</p>

<% if @bonus_thresholds.empty? %>
  <p>No bonus thresholds.</p>
<% else %>
  <p>Bonus thresholds:
    <ul>
      <% @bonus_thresholds.each do |bonus_threshold| %>
        <li>
          Between <%= bonus_threshold.min_points %> and <%= bonus_threshold.max_points %> points: <%= bonus_threshold.award %> points awarded
          <%= link_to '(edit bonus threshold)', edit_admin_bonus_threshold_path(bonus_threshold) %>
          <%= button_to 'Delete bonus threshold', admin_bonus_threshold_path(bonus_threshold), :method => :delete, :confirm => "Really delete this bonus threshold (#{bonus_threshold.min_points}-#{bonus_threshold.max_points})?" %>
        </li>
      <% end %>
    </ul>
<% end %>

<p><%= link_to 'Add bonus threshold', new_admin_demo_bonus_threshold_path(@demo) %></p>

<% if @levels.empty? %>
  <p>No levels.</p>
<% else %>
  <p>Levels:
    <ul>
      <% @levels.each do |level| %>
        <li>
          <%= level.name %> at <%= level.threshold %> points
          <%= link_to '(edit level)', edit_admin_level_path(level.id) %>
          <%= button_to 'Delete level', admin_level_path(level), :method => :delete, :confirm => "Really delete this level (#{level.name})?" %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<p><%= link_to 'Add level', new_admin_demo_level_path(@demo) %></p>

<p>Welcome message: <%= @demo.welcome_message %></p>

<p>Victory achievement message: <%= @demo.victory_achievement_message %></p>

<p>Victory SMS: <%= @demo.victory_sms %></p>

<p>Victory scoreboard message: <%= @demo.victory_scoreboard_message %></p>

<p>
  <% if @demo.followup_welcome_message.present? %>
    Followup welcome message: <%= @demo.followup_welcome_message %> (send <%= @demo.followup_welcome_message_delay %> minutes after invitation accepted)
  <% else %>
    No followup message.
  <% end %>
</p>

<p>
  <% if @demo.credit_game_referrer_threshold && @demo.game_referrer_bonus %>
    Bonus for referring another user to the game: <%= @demo.game_referrer_bonus %> points (with a <%= @demo.credit_game_referrer_threshold %> minute threshold)
  <% else %>
    No bonus for referring another user to the game.
  <% end %>
</p>

<p>
  <% if @demo.points_for_connecting %>
    Points for connecting to another user: <%= @demo.points_for_connecting %>
  <% else %>
    No points for connecting to another user.
  <% end %>
</p>

<p>
  <% if @demo.use_standard_playbook %>
    Game will use standard playbook rules as well as custom rules.
  <% else %>
    Game will not use standard playbook rules, only custom rules.
  <% end %>
</p>

<p class="explanation"><%= translate('.explanation', :default => "Add HR people from %{company} to this demo, then send them an invitation to the demo.", :company => @demo.company_name) %></p>

<p><%= link_to "Edit basic settings for this game", edit_admin_demo_path(@demo) %></p>

<a href="#" id="add-new-user">Add new user</a>

<div id="new-user-form">
  <%= render :partial => 'admin/users/new', :locals => { :demo => @demo } %>
</div>

<%= link_to "Bulk load users", new_admin_demo_bulk_load_path(@demo) %>

<ul id="demo-users">
  <%= render :partial => 'admin/users/user', :collection => @users %>
</ul>

<%= form_tag admin_demo_path(@demo), :method => :delete do %>
  <fieldset>
    <legend>Destroy game</legend>
    <p>Destroying a game is <strong>irrevocable</strong>. There is <strong>no undo</strong>. This will also delete <strong>all associated records, including users and their actions</strong>.</p>
    <p>If you want to save users from this demo, move them to another demo first.</p>
    <%= submit_tag "Destroy game", :confirm => "Really destroy this \"#{@demo.company_name}\" game?" %>
<% end %>
