<h3><%= link_to "Admin", admin_path %>: <%= @demo.company_name %></h3>

<p class="explanation"><%= translate('.explanation', :default => "Add HR people from %{company} to this demo, then send them an invitation to the demo.", :company => @demo.company_name) %></p>

<a href="#" id="add-new-player">Add new player</a>

<div id="new-player-form">
  <%= render :partial => 'admin/players/new', :locals => { :demo => @demo } %>
</div>

<ul id="demo-players">
  <%= render :partial => 'admin/players/player', :collection => @players %>
</ul>
