<div class="demo-module new-modules admin-demo">
  <%= render "demo_component" %>
  <%= render "actions_component" %>
  <%= render "users_component" %>
  <%= render "delete_demo_component" %>
</div>

<%= render 'admin/demos/delete_modal' %>
