<div class="onboarding-container">
  <div class="row">
    <div class="columns small-12">
      <%= form_tag onboardings_path, id:"onboarding-form" do %>
        <%= hidden_field_tag :email, @onboarding_initializer.email %>
        <%= hidden_field_tag :name, @onboarding_initializer.name %>
        <%= hidden_field_tag :organization, @onboarding_initializer.organization_name %>
        <%= hidden_field_tag :topic_board_id %>
      <%end%>
    </div>
  </div>
</div>

<div class="onboarding-modal">
  <div data-reveal class='reveal-modal text-center' id='onboarding_new_modal' style="background-color:none;">
    <div class="text-center">
      <h2>Welcome to your Airbo</h2>
      <p></p>
    </div>

    <% @topic_boards.each do |topic_board| %>
      <div class="topic-board button" data-board-id="<%= topic_board.demo_id %>">
        <%= topic_board.topic_name %>
      </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $('#onboarding_new_modal').foundation('reveal', 'open');

  $(".topic-board").on("click", function() {
    var self = $(this);
    $("#topic_board_id").val(self.data("board-id"));

    $("#onboarding-form").submit();
  })
</script>
