<div class="js-user-settings">
  <div class="row">
    <div class="large-7 columns">
      <div class="module personal_settings" id="about_user">
      	<h3>Change Picture</h3>
        <div class="module_inner settings_avatar">
            <%= avatar_96 current_user %>
            <div class="avatar_inputs">
              <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :class => 'set-avatar'} do |form| %>
                <%= form.file_field :avatar, :id => "avatar_path" %>
                <%= form.submit "Upload & save" %>
              <% end %>
              <% if current_user.avatar_file_name %>
                <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :method => :delete, :class => 'clear-avatar'} do |form| %>
                  <%= form.submit "Clear", :class => 'clear button outlined' %>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>

      <div class="personal_settings" id="password_change">
        <h3>Change Password</h3>
        <%= form_for current_user, :url => logged_in_user_password_path do |form| %>
          <div class="row">
            <div class="large-6 columns">
              <div id="new_pass">
                <%= label_tag 'user_password', "New password" %>
                <%= form.password_field :password %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <div id="confirm_pass">
                <%= label_tag 'user_password_confirmation', "Confirm new password" %>
                <%= form.password_field :password_confirmation %>
              </div>
            </div>
          </div>
            <%= submit_tag 'Save', :class => 'button_norm', :id => 'save-password-settings' %>
        <% end %>
      </div>

      <div class="module personal_settings" id="email_change">
        <h3>Change Email</h3>
        <%= form_tag change_email_path do %>
          <div class="row">
            <div class="large-6 columns">
              <label>Email Address</label>
              <%= text_field_tag "change_email[email]", @email.split("@")[0] + "...", placeholder: "example@email.com" %>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <% if @pending_email.present? %>
                <label>Pending Email Change</label>
                <%= text_field_tag "change_email[email]", @pending_email, placeholder: "example@email.com", disabled: true, class: "bg-blocked" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="columns large-6">
              <%= submit_tag 'Update Email', :class => 'button' %>
            </div>
          </div>
        <% end %>

        <h3>Change Phone Number</h3>
        <%= form_for current_user, url: account_phone_path do |form| %>
          <div class="row">
            <div class="large-6 columns">
              <%= label_tag 'user_phone_number', "Mobile number" %>
              <%= form.text_field :phone_number, value: current_user.phone_number.try(:as_obfuscated_phone) %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-6">
              <%= submit_tag 'Update Phone Number', :class => 'button' %>
            </div>
          </div>
        <% end %>
        <% if current_user.new_phone_number_needs_verification? %>
          <%= form_for current_user, url: validate_account_phone_path, method: :put do |form| %>
            <div class="row">
              <div class="large-6 columns mt-2">
                <%= label_tag "user_new_phone_validation", "To verify the number #{current_user.new_phone_number.as_obfuscated_phone}, please enter the validation code we sent to that number:" %>
                <%= form.text_field :new_phone_validation, :value => '' %>
                <%= submit_tag 'Verify new number', :class => 'button' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="large-5 columns">
      <% unless current_user.demo.hide_social %>
        <div class="module other_settings" id="privacy_settings">
          <h3>Privacy</h3>
            <%= form_for current_user, url: account_settings_path, html: {class: "custom"} do |form| %>
              <div class="module_inner">
                <%= label_tag "user_privacy_level", "Let these people see my actions:" %>
                <%= form.select :privacy_level, [
                  ['Everybody', 'everybody'],
                  ["Connections I've accepted", 'connected']
                ] %>
              </div>
              <%= submit_tag 'Update privacy', :class => 'button_norm', :id => 'save-privacy-level' %>
            <% end %>
        </div>
      <% end %>

      <div class="module other_settings" id="notification_settings">
        <h3>Notifications for <%= current_board.name %></h3>
        <%= form_for [:api, current_user.current_board_membership] do |f| %>
          <div class="mb-1">
            <div class="radio-input mr-1 d-inline">
              <%= f.radio_button :notification_pref_cd, BoardMembership.notification_prefs[:email] %>
              <%= f.label :notification_pref_cd, "Email", value: BoardMembership.notification_prefs[:email], class: "d-inline"  %>
            </div>

            <div class="radio-input mr-1 d-inline">
              <%= f.radio_button :notification_pref_cd, BoardMembership.notification_prefs[:text_message] %>
              <%= f.label :notification_pref_cd, "Text Message", value: BoardMembership.notification_prefs[:text_message], class: "d-inline"  %>
            </div>

            <div class="radio-input mr-1 d-inline">
              <%= f.radio_button :notification_pref_cd, BoardMembership.notification_prefs[:both] %>
              <%= f.label :notification_pref_cd, "Both", value: BoardMembership.notification_prefs[:both], class: "d-inline"  %>
            </div>

            <% if current_board.allow_unsubscribes %>
              <div class="radio-input mr-1 d-inline">
                <%= f.radio_button :notification_pref_cd, BoardMembership.notification_prefs[:unsubscribe] %>
                <%= f.label :notification_pref_cd, "Unsubscribe", value: BoardMembership.notification_prefs[:unsubscribe], class: "d-inline"  %>
              </div>
            <% end %>
          </div>
          <a href="#" class='button js-board-membership js-board-membership-api-update'>Save Notification Settings</a>
        <% end %>
      </div>
    	</div>
    </div>
  </div>
</div>
