<div class="left-col">
  <div class="module personal_settings" id="about_user">
  	<h1 class="headline">User Information</h1>
    <div class="module_inner settings_avatar">
        <h2 class="subhead">Change your avatar</h2>
        <%= avatar_96 current_user %>
        <div class="avatar_inputs">
          <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :class => 'set-avatar'} do |form| %>
            <%= form.file_field :avatar, :id => "avatar_path" %> 
            <div class="button_wrap"><%= form.submit "Upload & save" %></div>
          <% end %>
          <% if current_user.avatar_file_name %>
            <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :method => :delete, :class => 'clear-avatar'} do |form| %>
              <div class="button_wrap"><%= form.submit "Clear" %></div>
            <% end %>
          <% end %>
        </div>
        <div class="cf"></div>
    </div>

    <%= form_for current_user, :url => account_settings_path, :html => {id: :username_dob_gender} do |form| %>
    <div class="module_inner settings_user">
      <div id="settings_changes">
        <div id="username_change">
          <h2 class="subhead">Username</h2>
          <%= label_tag "user[sms_slug]", "Change your username." %>
          <%= form.text_field "sms_slug" %>
        </div>

        <div id="gender_change">
          <h2 class="subhead">Gender</h2>
          <ul>
            <% %w(male female other).each do |gender_value| %>
              <li><%= form.radio_button "gender", gender_value, :id => gender_value %><%= label_tag gender_value %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="button_wrap">
        <%= form.submit 'Save', :class => "button_norm" %>
      </div>
    </div>
    
    <% end %>

  </div>

  <div class="module personal_settings" id="password_change">
    <h1 class="headline">Change Password</h1>
    <%= form_for current_user, :url => logged_in_user_password_path do |form| %>
      <ul id="new_pass" class="module_inner">
        <li><h2 class="subhead"><%= label_tag 'user_password', "New password" %></h2></li>
        <li><%= form.password_field :password %></li>
      </ul>
      <ul id="confirm_pass" class="module_inner">
        <li><h2 class="subhead"><%= label_tag 'user_password_confirmation', "Confirm new password" %></h2></li>
        <li><%= form.password_field :password_confirmation %></li>
      </ul>
      <div class="button_wrap">
        <%= submit_tag 'Save new password', :class => 'button_norm', :id => 'save-password-settings' %>
      </div>
    <% end %>
  </div>  
</div>

<div class="right-col">
  <div class="module other_settings" id="privacy_settings">
    <h1 class="headline">Privacy Preferences</h1>
      <%= form_for current_user, :url => account_settings_path do |form| %>
        <div class="module_inner">
          <h2 class="subhead"><%= label_tag "user_privacy_level", "Let these people see my actions:" %></h2>
          <%= form.select :privacy_level, [
            ['Everybody', 'everybody'],
            ["Friends I've accepted", 'connected']
          ] %>
        </div>
        <div class="button_wrap">
          <%= submit_tag 'Save', :class => 'button_norm', :id => 'save-privacy-level' %>
        </div>
      <% end %>
  </div>

  <div class="module other_settings" id="notification_settings">
    <h1 class="headline">Notification Preferences</h1>
    <% if current_user.new_phone_number_needs_verification? %>
      <div class="module_inner" id="settings_new_number_verification">
        <%= form_for current_user, :url => phone_path, :method => :put do |form| %>
          <p><%= label_tag "user_new_phone_validation", "To verify the number #{current_user.new_phone_number.as_pretty_phone}, please enter the validation code we sent to that number:" %></p>
          <%= form.text_field :new_phone_validation, :value => '' %>
          <div class="button_wrap"><%= submit_tag 'Verify new number', :class => 'button_norm' %></div>
        <% end %>
      </div>
    <% end %>
    <%= form_for current_user, :url => account_path do |form| %>
      <div class="module_inner settings_number">
        <h2 class="subhead"><%= label_tag 'user_phone_number', "Mobile number" %></h2>
        <%= form.text_field :phone_number, :value => current_user.phone_number.try(:as_pretty_phone) %>
      </div>
      <div class="module_inner settings_notification">
        <h2 class="subhead">Notify me via...</h2>
          <ul>
            <% [["SMS/text message", :sms], ["Email", :email], ["Both", :both] ].each do |label_text, method_name| %>
              <li><%= form.radio_button :notification_method, method_name, :class => 'notification_pref', :id => method_name %><%= label_tag method_name, label_text, :class => 'check_label' %></li>
            <% end %>
          </ul>
      </div>
      <div class="button_wrap"><%= submit_tag 'Save', :class => 'button_norm', :id => 'save-notification-settings' %></div>
    <% end %>
	</div>
</div>

<% content_for :javascript do %>
  <%= mp_track_page 'settings' %>
<% end %>
