<div class="row">
  <div class="large-8 columns">
    <div class="module personal_settings" id="about_user">
    	<h3>Change Picture</h3>
      <div class="module_inner settings_avatar">
          <%= avatar_96 current_user %>
          <div class="avatar_inputs">
            <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :class => 'set-avatar'} do |form| %>
              <%= form.file_field :avatar, :id => "avatar_path" %>
              <%= form.submit "Upload & save" %>
            <% end %>
            <% if current_user.avatar_file_name %>
              <%= form_for current_user, :url => account_avatar_path, :html => {:multipart => true, :method => :delete, :class => 'clear-avatar'} do |form| %>
                <%= form.submit "Clear", :class => 'clear button outlined' %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="module personal_settings" id="password_change">
      <h3>Change Password</h3>
      <%= form_for current_user, :url => logged_in_user_password_path do |form| %>
        <ul id="new_pass" class="module_inner">
          <li><%= label_tag 'user_password', "New password" %></li>
          <li><%= form.password_field :password %></li>
        </ul>
        <ul id="confirm_pass" class="module_inner">
          <li><%= label_tag 'user_password_confirmation', "Confirm new password" %></li>
          <li><%= form.password_field :password_confirmation %></li>
        </ul>
        <%= submit_tag 'Save', :class => 'button_norm', :id => 'save-password-settings' %>
      <% end %>
    </div>

    <div class="module personal_settings" id="email_change">
      <h3>Change Email</h3>
      <%= form_tag change_email_path do %>
        <div class="row">
          <div class="small-6 columns">
            <label>Email Address</label>
            <%= text_field_tag "change_email[email]", @email.split("@")[0] + "...", placeholder: "example@email.com" %>
            <%= submit_tag 'Save Change', :class => 'button' %>
          </div>

          <div class="small-6 columns">
            <% if @pending_email.present? %>
              <label>Pending Email Change</label>
              <%= text_field_tag "change_email[email]", @pending_email, placeholder: "example@email.com", disabled: true, class: "bg-red2" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="module other_settings" id="privacy_settings">
      <h3>Privacy</h3>
        <%= form_for current_user, :url => account_settings_path, html: {class: "custom"} do |form| %>
          <div class="module_inner">
            <%= label_tag "user_privacy_level", "Let these people see my actions:" %>
            <%= form.select :privacy_level, [
              ['Everybody', 'everybody'],
              ["Connections I've accepted", 'connected']
            ] %>
          </div>
          <%= submit_tag 'Update privacy', :class => 'button_norm', :id => 'save-privacy-level' %>
        <% end %>
    </div>

    <div class="module other_settings" id="notification_settings">
      <h3>Notification</h3>
      <% if current_user.new_phone_number_needs_verification? %>
        <div class="module_inner" id="settings_new_number_verification">
          <%= form_for current_user, :url => phone_path, :method => :put do |form| %>
            <p><%= label_tag "user_new_phone_validation", "To verify the number #{current_user.new_phone_number.as_obfuscated_phone}, please enter the validation code we sent to that number:" %></p>
            <%= form.text_field :new_phone_validation, :value => '' %>
            <%= submit_tag 'Verify new number', :class => 'button_norm' %>
          <% end %>
        </div>
      <% end %>
      <%= form_for current_user, :url => account_path do |form| %>
        <div class="module_inner settings_number">
          <%= label_tag 'user_phone_number', "Mobile number" %>
          <%= form.text_field :phone_number, :value => current_user.phone_number.try(:as_obfuscated_phone) %>
        </div>
        <div class="module_inner settings_notification">
          Notify me via...
            <ul>
              <% [["Text message", :sms], ["Email", :email], ["Both", :both] ].each do |label_text, method_name| %>
                <li><%= form.radio_button :notification_method, method_name, :class => 'notification_pref', :id => method_name %><%= label_tag method_name, label_text, :class => 'check_label' %></li>
              <% end %>
            </ul>
        </div>


        <%= submit_tag 'Update', :class => 'button_norm', :id => 'save-notification-settings' %>
      <% end %>
  	</div>
  </div>
</div>
<% content_for :javascript do %>
  <%= mp_track_page 'settings' %>
<% end %>
