<%= form_for(@fag) do |f| %>
  <% if @fag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fag.errors.count, "error") %> prohibited this fag from being saved:</h2>

      <ul>
      <% @fag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
