<div class="row">
  <div class = "columns small-10 admin-tile-campaign" data-campaign = "<%= campaign.id %>">
    <div class="panel">
      <%= form_for([:admin, campaign]) do |f| %>
        <div id="response_explanation">
        </div>
        <br>
        <div class="row image-row">
          <div class="large-6 columns">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, placeholder: "Wellness" %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :description, "Description"  %>
            <%= f.text_area :description %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :channel_tag_list, "Channel Tags (comma separated tags)" %>
            <%= f.text_area :channel_list, value: f.object.channels.join(", ") %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :cover_image, "Cover Image"  %>
            <%= f.file_field :cover_image, { id: "file_input" } %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :demo_id, "Board" %>
            <%= f.select :demo_id, options_from_collection_for_select(demos, :id,  :name, f.object.demo_id), {include_blank: true}, class: "airbo-chosen-select" %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :active, "Active?" %>
            <%= f.check_box :active %>
          </div>
          <div class="large-2 large-offset-6 columns" style="text-align:right">
            <%= f.submit "Save", class: "button" %>
          </div>
        </div>
      <% end %>

      </div>
  </div>
</div>
