- unless tile.new_record? 
  = button_to "Delete", admin_demo_tile_path(tile.demo, tile), :method => :delete, :confirm => "Delete?"
 

- form_submit_path = tile.new_record? ? admin_demo_tiles_path(tile.demo) : admin_demo_tile_path(tile.demo, tile) 

= semantic_form_for tile, :url => form_submit_path, :html => {:multipart => true} do |f| 
  = f.input :identifier 
  = f.input :name 
  = f.input :headline
  = f.input :bonus_points 
  = f.input :prerequisite_tiles, :collection => @existing_tiles 
  #start_and_end_times
    #start_time
      = f.input :start_time, :as => :string
    #end_time
      = f.input :end_time, :as => :string
    
    .clear
  
  %fieldset
    %legend 
      %h3 Completion Triggers
      .relative
        #tile_boolean_method
          %p Trigger Type
          .inline
            = f.radio_button :poly, true, :checked => tile.poly 
            = label_tag 'tile_poly_true', 'AND'
          .block
          .inline
            = f.radio_button :poly, false, :checked => !tile.poly
            = label_tag 'tile_poly_false', 'OR'
      Completion Triggers
      %p If you don't select any completion triggers, the only way for one to get completed for a user will be for an admin to do so manually.
      %fieldset
        = label_tag "completion[rule_ids]", "Rules" 
        - rule_options = options_from_collection_for_select(@primary_values, :rule_id, :value, :selected => @selected_rule_ids) 
        = select_tag "completion[rule_ids]", rule_options, :multiple => true
        %br

        = label_tag "completion[referrer_required]", "Referrer required" 
        = check_box_tag "completion[referrer_required]", '1', @referrer_required 

      %fieldset
        = label_tag "completion[survey_id]", "Survey" 
        - survey_options = options_from_collection_for_select(@surveys, :id, :name, :selected => @selected_survey_id) 
        = select_tag "completion[survey_id]", survey_options, :include_blank => true 

      %fieldset
        = label_tag "completion[demographics]", "Complete by filling in all demographics" 
        = check_box_tag "completion[demographics]", '1', @complete_by_demographic 

  %fieldset
    %legend Images

    %h3 Thumbnail
    = f.file_field 'thumbnail'
    - if tile.thumbnail.present?
      Current thumbnail is:
      = link_to tile.thumbnail_file_name, tile.thumbnail.url
      = f.submit "Remove thumbnail"

    %h3 Full-size image
    - if tile.image.present?
      Current image is:
      = link_to tile.image_file_name, tile.image.url
      = f.submit "Remove image"
    = f.file_field 'image'

  = f.submit 
  

 

