.relative
  .tile_details
    .headline
      .label Headline 
      .value= tile.headline
    .completion_triggers
      - if tile.rule_triggers.present? 
        %p="Rules (any of the following#{', referrer required' if tile.rule_triggers.first.referrer_required}):"
        %ul
          - tile.rule_triggers.each do |rule_trigger| 
            %li.brown= rule_trigger.rule.primary_value_text
    .other
      - if tile.survey_trigger.present? 
        %p 
          Survey: 
          = tile.survey_trigger.survey.name 


      - if tile.only_manually_triggerable? 
        %p Manual only.
    .bonus
      .label Bonus Points
      .value= tile.bonus_points
