.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  = link_to "Tiles", admin_demo_tiles_path(@demo)
  = "»"
  Edit
%br

.admin
  = render 'form', :tile => @tile 
  %br
  %br
  = form_tag admin_demo_tile_bulk_satisfaction_path(@demo, @tile) do 
    %p
      = label_tag "completion[emails]", "Manually complete for multiple users" 
      Enter one e-mail address per line


    %p= text_area_tag "completion[emails]"
    = submit_tag "Manually complete "

