.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  Tiles
%br

.admin
  #reset_my_tiles
    = form_tag admin_reset_tiles_path, :method => :delete do
      = hidden_field_tag :demo_id, @demo.id
      = button_tag "Reset my tiles for #{@demo.name}"
    #square_label= "Use this to reset your tiles and any tile actions after testing so you can see what users see. Some of your acts will be destroyed in the process."
    
  - if @tiles.empty? 
    %p No tiles for this demo.
  - else 
    %table{:id => :tiles_index, :class => :admin_wide}
      %tbody{:class => :sortable_body}
        %tr
          %th Active
          %th Headline 
          %th 
            Start Time
            .time_zone
              (Eastern)
          %th 
            End Time
            .time_zone
              (Eastern)
          %th Link
          %th Thumbnail filename
          %th Image filename
          %th Prereq
      
        - count = 0
        - @tiles.each do |tile| 
          - zebra_stripes = cycle('', 'stripe')
          - active_class = tile.due? ? ' active' : ' inactive'
          - zebra_stripes += active_class

      
          %tr{:id => "tile_#{tile.id}", :class => zebra_stripes}

                    
                    
            %td{:class => "brown"}= count += 1 if tile.due?
            %td
              = tile.headline
              = render 'tile_details', :tile => tile
                   
            %td= tile.start_time ? tile.start_time.pretty_succinct : ''
            %td= tile.end_time ? tile.end_time.pretty_succinct : ''
            %td
              -if tile.link_address.present?
                = link_to tile.link_address, tile.link_address

            %td
              -if tile.thumbnail.present?
                = link_to tile.thumbnail_file_name, tile.thumbnail.url
            %td
              -if tile.image.present?
                = link_to tile.image_file_name, tile.image.url
            %td
              - if tile.prerequisite_tiles.present? 
                - prerequisite_names = tile.prerequisite_tiles.map(&:name).sort 
                %ul
                  - prerequisite_names.each do |prerequisite_name| 
                    %li= prerequisite_name         
