.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  Tiles
%br

.admin
    
  - if @tiles.empty? 
    %p No tiles for this demo.
  - else 
    %table{:class => :admin_wide}
      %tr
        %th Identifier
        %th Name
        %th Prereq
        %th 
          Start Time
          .time_zone
            (Eastern)
        %th 
          End Time
          .time_zone
            (Eastern)
        %th Active
    

      - @tiles.each do |tile| 
        - zebra_stripes = cycle('', 'stripe')
        - active_class = tile.due? ? ' active' : ' inactive'
        - zebra_stripes += active_class

    
        %tr{:class => zebra_stripes}

                  
                  
          %td= tile.identifier
          %td= link_to tile.name, edit_admin_demo_tile_path(@demo, tile) 
          
                  
          %td
            - if tile.prerequisite_tiles.present? 
              - prerequisite_names = tile.prerequisite_tiles.map(&:name).sort 
              %ul
                - prerequisite_names.each do |prerequisite_name| 
                  %li= prerequisite_name         
            = render 'tile_details', :tile => tile
                  
          %td= tile.start_time ? tile.start_time.pretty_succinct : ''
          %td= tile.end_time ? tile.end_time.pretty_succinct : ''
        

          %td{:class => "brown"}= tile.due? ? "*" : "" 
      


  %p= link_to "Add tile", new_admin_demo_tile_path(@demo) 
  .long_page