.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  = link_to "Tiles", admin_demo_tiles_path(@demo)
  = "»"
  New
%br

.admin
  = render 'form', :tile => @tile
