<div class="row">
  <div class="columns small-3" >
    <div class="board-panel">
      <h1>Wellness</h1>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile4.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile3.png"%>
        </div>
      </div>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile2.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile1.png"%>
        </div>
      </div>
      <div class="row collapse board-info">
        <div class="creator columns small-8">American Heart Association</div> 
        <div class="num-tiles columns small-4">9 Tiles</div>
      </div>
    </div>
  </div>

  <div class="columns small-3" >
    <div class="board-panel">
      <h1>Fujifilm</h1>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile1.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile3.png"%>
        </div>
      </div>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile2.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile4.png"%>
        </div>
      </div>
      <div class="row collapse board-info">
        <div class="creator columns small-8">Fujifilm</div> 
        <div class="num-tiles columns small-4">9 Tiles</div>
      </div>
    </div>
  </div>
  <div class="columns small-3" >
    <div class="board-panel">
      <h1>Health Care Basics</h1>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile2.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile4.png"%>
        </div>
      </div>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile1.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile3.png"%>
        </div>
      </div>
      <div class="row collapse board-info">
        <div class="creator columns small-8">Airbo</div> 
        <div class="num-tiles columns small-4">5 Tiles</div>
      </div>


    </div>
  </div>
  <div class="columns small-3 end" >
    <div class="board-panel">
      <h1>Rx Basics for Millenials</h1>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile3.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile4.png"%>
        </div>
      </div>
      <div class="row collapse tile-block">
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile2.png"%>
        </div>
        <div class="columns small-6">
          <%=image_tag "landing/sample-tile1.png"%>
        </div>
      </div>
      <div class="row collapse board-info">
        <div class="creator columns small-8">American Speech Language Association</div> 
        <div class="num-tiles columns small-4">20 Tiles</div>
      </div>
    </div>
  </div>
</div>
