<!--starthtml-->
<h1 class="Section-">
<a class="toc" name="toc-Section--1"></a>Basics
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--1"></a>What is H Engage? 
</h2>
<div class="Standard">
H Engage is a social, mobile game that helps you learn about your benefits and take healthy actions. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--2"></a>How do I play?
</h2>
<div class="Standard">
There are two categories of points: social points and game piece points (see <a class="Reference" href="#sub:how_can_i_earn_social_points">How can I earn social points?↓</a>and <a class="Reference" href="#sub:how_can_i_earn_tile_points">How can I earn game piece points?↓</a> for more information). 
</div>
<div class="Standard">
You can earn points by sending commands to H Engage via text, email or submit them online. If you’d like to play by text, send commands to <%= @current_user.demo.phone_number.try(:as_pretty_phone) %>. If you’d like to play by email, send commands to <a href='mailto:<%= @current_user.demo.email %>'><%= @current_user.demo.email %></a>. If you’d like to play online, submit your commands in the activity entry box on HEngage.com. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--3"></a>Does it cost anything to play? 
</h2>
<div class="Standard">
There is no cost to join, but standard message and data rates do apply so there may be some costs associated with the use of this service. For example, your pager or cellular phone service provider may charge you to send or receive wireless text messages. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--4"></a>Where can I find my user name? 
</h2>
<div class="Standard">
Your user name was listed in the welcome message you received when you first signed up for the game. Can’t find the welcome message? Text in “MYID” or take a look at the <a class="URL" href="account/settings/edit">Settings</a> page. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--5"></a>What if I don’t want to play by text messaging? 
</h2>
<div class="Standard">
Text messaging makes the game fun, but it’s certainly not required. 
</div>
<div class="Standard">
You can play by emailing commands to <a href='mailto:<%= @current_user.demo.email %>'><%= @current_user.demo.email %></a>, or by submitting them on HEngage.com. You’ll receive a response via email or in the dialog box below the activity entry box on HEngage.com. Hint: watch the dialog box for any additional commands. 
</div>
<div class="Standard">
If you’ve already entered your mobile number but want to remove it, simply go to HEngage.com, click on “Settings” and remove your mobile number. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--6"></a>What can I do on HEngage.com?
</h2>
<ul>
<li>
You can watch your points add up, see other people’s game play and how they compare to you on the scoreboard. 
</li>
<li>
Connect with your coworkers. You can also do this by sending “friend USER NAME” (e.g., “Friend jsmith”) as a text or email. Your coworker will be notified and asked to confirm that they know you.
</li>

</ul>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--7"></a>What information about me can people see on HEngage.com? 
</h2>
<div class="Standard">
We get that privacy is important. That’s why we let you customize your privacy settings on HEngage.com. You have the option to show your profile page to all coworkers who are playing the game, only coworkers who you are connected to, or nobody. 
</div>
<div class="Standard">
If you limit your profile page to those you are connected to or nobody, others will only be able to see your name, photo, and email address. 
</div>
<div class="Standard">
If a coworker wants to connect with you, they will request to be your friend. You’ll receive a notification that allows you to confirm or (quietly) reject them. 
</div>
<h1 class="Section-">
<a class="toc" name="toc-Section--2"></a>The Rules of the Game
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--8"></a>Where do I enter commands? 
</h2>
<div class="Standard">
You can play by texting commands to <%= @current_user.demo.phone_number.try(:as_pretty_phone) %>, by emailing commands to <a href='mailto:<%= @current_user.demo.email %>'><%= @current_user.demo.email %></a>, or by submitting them on HEngage.com. You’ll receive a response in the same manner that you sent the command. For example: if you text a command, you will recieve a text back. If you email a command, you will recieve an email back and if you enter a command on HEngage.com, you will recieve a response in the dialog box below the activity entry bar. Hint: watch the responses for any additional commands. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--9"></a>What’s a command? 
</h2>
<div class="Standard">
A command is a word or phrase that you send to H Engage to earn points. It lets us know when you take an action or find a game piece. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--10"></a>What if the system doesn’t recognize a command? 
</h2>
<div class="Standard">
There are a few reasons that the system may not recognize a command that you send in. First, you may want to double check what you sent us. For example, make sure that you spelled everything correctly (sent “benefit” not “bnefit”) and that words are in the right order (“4 ur health” not “ur 4 health”). 
</div>
<div class="Standard">
And finally, if you’re still having issues, send <a href='#' class='contact_us_link'>support@hengage.com</a> a message and we’ll look into it. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--11"></a>What if I send a command and don’t receive a response back? 
</h2>
<div class="Standard">
We try our best to respond to all commands within a few seconds. Like any system, ours slows down once in awhile so if you don’t see something right away, give us a few minutes. If you still don’t see a response within an hour, send us a note at <a href='#' class='contact_us_link'>support@hengage.com</a> and we’ll look into it. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--12"></a><a class="Label" name="sub:how_can_i_earn_tile_points"> </a>How can I earn game piece points?
</h2>
<div class="Standard">
Look for the fun, colorful squares, called &ldquo;game pieces&rdquo;. Read them and follow the instructions! Each game piece will include words or phrases that you can send to H Engage for points…have your cell phone ready! 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--13"></a>How can I find out how many points I have or what level I’m on?
</h2>
<div class="Standard">
You can find your level (and how many points you need to get to the next level) on your homepage on HEngage.com. 
</div>
<div class="Standard">
You’ll also receive an update on your points and level each time you send in a command. 
</div>
<h1 class="Section-">
<a class="toc" name="toc-Section--3"></a>Playing with Friends
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--14"></a><a class="Label" name="sub:how_can_i_earn_social_points"> </a>How can I earn social points?
</h2>
<div class="Standard">
Games are more fun when you’re playing with other people! Here are two ways to play with your coworkers:
</div>
<ul>
<li>
<i>Referring coworkers.</i> Get 5 points for each coworker you sign up. Have your friend respond to their welcome text or email with your game user name (so you get credit for referring them). You can also invite your coworkers on HEngage.com. When they join the game, you’ll get credit for referring them! 
</li>
<li>
<i>Connecting with coworkers.</i> Connecting with a coworker is a great way to see how they’re playing the game. There are two ways to connect with a coworker. First, you can text or email “friend” followed by their username (i.e., “friend jsmith”). Or you can go to HEngage.com and look them up in the “Directory” page. Then click their name to go to their profile page, and you’ll see a button that you can click to friend them.
</li>

</ul>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--15"></a>A friend referred me to the game. How do I give them credit?
</h2>
<div class="Standard">
There are a few ways to give your referrer credit. The easiest is to respond to the welcome message you received when you joined with their user name. You can also give them credit when you log on to HEngage.com. 
</div>
<h1 class="Section-">
<a class="toc" name="toc-Section--4"></a>Additional Support
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--16"></a>What if I found something that doesn’t look right?
</h2>
<div class="Standard">
We work hard to make sure that everything in our system is working correctly, but if you see something that doesn’t look right, let us know! Send us a note at <a href='#' class='contact_us_link'>support@hengage.com</a>. If you find a bug, we may even give you a couple bonus points for helping us out! 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--17"></a>What if I have other questions about the game? 
</h2>
<div class="Standard">
Send your questions/comments to <a href='#' class='contact_us_link'>support@hengage.com</a>.
</div>


<!--endhtml-->