<footer id="pageFtr" class="landing-footer">
  <div class="section-one">
    <div class="row">
      <div class="footer-links-div-medium small-6 columns small-offset-1">
        <table class="footer-links">
          <thead class="footer-headers">
            <tr>
              <th>Airbo</th>
              <th>Resources</th>
              <th>Get Started</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to "Company", "/company", class: "company-link" %></td>
              <td><%= link_to "Case Studies", "/case-studies", class: "case-studies-link" %></td>
              <td><%= link_to "Schedule a Demo", "/demo_requests/new", class: "schedule-demo-link" %></td>
            </tr>
            <tr>
              <td><%= link_to "Careers", "https://angel.co/airbo/jobs?utm_source=profile_module", target: "_blank", class: "careers-link" %></td>
              <td><%= link_to "Blog", "http://blog.airbo.com/", class: "blog-link" %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= link_to "Contact Us", "", class: "open_intercom" %></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-links-div-small small-11 small-offset-1 columns">
        <table class="footer-links">
          <thead class="footer-headers">
            <tr>
              <th>Airbo</th>
              <th>Resources</th>
              <th>Get Started</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to "Company", "/company", class: "company-link" %></td>
              <td><%= link_to "Case Studies", "/case-studies", class: "case-studies-link" %></td>
              <td><%= link_to "Schedule a Demo", "/demo_requests/new", class: "schedule-demo-link" %></td>
            </tr>
            <tr>
              <td><%= link_to "Careers", "https://angel.co/airbo/jobs?utm_source=profile_module", target: "_blank", class: "careers-link" %></td>
              <td><%= link_to "Blog", "http://blog.airbo.com/", class: "blog-link" %></td>
            </tr>
            <tr>
              <td><%= link_to "Contact Us", "", class: "open_intercom" %></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-links-div-extra-small small-11 small-offset-1 columns">
        <table class="footer-links">
          <thead class="footer-headers">
            <tr>
              <th>Airbo</th>
              <th>Get Started</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to "Company", "/company", class: "company-link" %></td>
              <td><%= link_to "Schedule a Demo", "/demo_requests/new", class: "schedule-demo-link" %></td>
            </tr>
            <tr>
              <td><%= link_to "Careers", "https://angel.co/airbo/jobs?utm_source=profile_module", target: "_blank", class: "careers-link" %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= link_to "Case Studies", "/case-studies", class: "case-studies-link" %></td>
              <td><%= link_to "Contact Us", "", class: "open_intercom" %></td>
            </tr>
            <tr>
              <td><%= link_to "Blog", "http://blog.airbo.com/", class: "blog-link" %></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="section-two">
    <div class="full-band">
      <div class="row">
        <div class="small-2 columns">
          <div class="logo">
            <%= link_to "/" do %>
              <div class="logo_image"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
