<div id="how-we-engage" class="secondary-box">
  <div class="engagement-point">
    <%= image_tag 'new_marketing/banner_1.png', :alt => 'How We Engage', :class => 'banner' %>
    <%= image_tag 'new_marketing/num_1.png', :alt => '1.', :class => 'numeral' %>
    <h1>First title line goes here</h1>
    <p>Our platform helps organizations make wellness initiatives and communications more effective by integrating social networking science, mobile, and game mechanics.</p>
    <div class="engagement-images"><%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'singular' %></div>
  </div>

  <div class="engagement-point">
    <%= image_tag 'new_marketing/num_2.png', :alt => '2.', :class => 'numeral' %>
    <h1>Second title line goes here</h1>
    <p>Our platform helps organizations make wellness initiatives and communications more effective by integrating social networking science, mobile, and game mechanics.</p>
    <div class="engagement-images">
      <%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'double' %>
      <%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'double' %>
    </div>
  </div>

  <div class="engagement-point">
    <%= image_tag 'new_marketing/num_3.png', :alt => '3.', :class => 'numeral' %>
    <h1>Third title line goes here</h1>
    <p>Our platform helps organizations make wellness initiatives and communications more effective by integrating social networking science, mobile, and game mechanics.</p>
    <div class="engagement-images">
      <%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'triple' %>
      <%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'triple' %>
      <%= image_tag 'new_marketing/fpo.png', :alt => 'FPO', :class => 'triple' %>
    </div>
  </div>
</div>
