<% if params[:signup_request] == "true" %>
  <div class="landing-modal">
    <div data-reveal class='reveal-modal text-center' id='signups_modal' style="background-color:none;">
      <div class="text-center">
        <%= image_tag "landing/logo-white.png" %>
        <h2 class="white">Thanks for signing up!</h2>
      </div>

      <h3>Someone from our team will reach out to you in the next 24 hours to get you set up.</h3>
      <h3>While you wait, learn about how others are using Airbo.</h3>

      <div>
        <%= link_to 'Fujifilm Case Study', '/pages/fujifilm', class: "button  outlined" %>
        <%= link_to 'ASHA Case Study', '/pages/asha', class: "button  outlined" %>
      </div>

    </div>
  </div>
<% elsif params[:demo_request] == "true" %>
  <div data-reveal class='reveal-modal text-center' id='demo_requests_modal'>
    <div class="text-center">
      <%= image_tag "landing/logo-white.png" %>
      <h2 class="white">Thanks for requesting a demo!</h2>
    </div>

    <h3>Someone from our team will reach out to you in the next 24 hours to schedule a time to chat.</h3>
    <h3>While you wait, learn about how others are using Airbo.</h3>

    <div>
      <%= link_to 'Fujifilm Case Study', '/pages/fujifilm', class: "button  outlined" %>
      <%= link_to 'ASHA Case Study', '/pages/asha', class: "button  outlined" %>
    </div>
  </div>
<% elsif params[:failed_signup_request] == "true" %>
  <div data-reveal class='reveal-modal text-center' id='demo_requests_modal'>
    <div class="text-center">
      <%= image_tag "landing/logo-white.png" %>
      <h2 class="white">It looks like an Airbo account has already been requested with your email or phone number.</h2>
    </div>

    <h3>Someone from our team will be reaching out to you shortly.</h3>
    <h3>While you wait, learn about how others are using Airbo.</h3>

    <div>
      <%= link_to 'Fujifilm Case Study', '/pages/fujifilm', class: "button  outlined" %>
      <%= link_to 'ASHA Case Study', '/pages/asha', class: "button  outlined" %>
    </div>
  </div>
<% end %>
