<div style="display:none;">
<div id="contact-form">
    <h2 id='our_promise'>Contact us and we'll be in touch within two business days</h2>
    <%= form_tag email_info_requests_path, :class => 'request-info', :remote => true do %>
        <ul id="contact-form-left">
        <li id='name_status' class="statuses">Please enter your name</li>
        <li id="contact-name"><%= text_field_tag :contact_name, nil, :placeholder => "Your name" %></li>
        <li id='email_status' class="statuses">Please enter your email</li>
        <li id="contact-email"><%= text_field_tag :contact_email, nil, :placeholder => "Email address" %></li>
         <li id="contact-phone"><%= text_field_tag :contact_phone, nil, :placeholder => "Phone number (optional)" %></li>
        </ul>
        <ul id="contact-form-right" style='position: relative'>
         <li id="contact-comment"><%= text_area_tag :contact_comment, nil, :placeholder => "Thoughts and comments (optional)" %></li>
        </ul>
        <div class="cf"></div>
    <% end %>
    <div style="padding:10px">
      <input id="contact-submit" type="button" value="Contact us" />
      <div id='submitting_status' class="statuses">Uploading...</div>
      <h2 id='our_response'>Thanks! We'll be in touch.</h2>
    </div>
   </form>
   
</div>
</div>

<%= javascript_tag do %>

$(document).ready(function() {
    $("a.contact").fancybox({
        'hideOnContentClick': false
    });
});

  var contact_name = $('#contact_name');
  var contact_email = $('#contact_email');
  var contact_phone = $('#contact_phone');
  var contact_comment = $('#contact_comment');
  var name_status = $('#name_status');
  var email_status = $('#email_status');
  var contact_errors = 0;
  var contact_form = $('.request-info');
  var submitting_status = $('#submitting_status');

    var default_name = '<%= EmailInfoRequest.name_prompt %>';
    var default_email = '<%= EmailInfoRequest.email_prompt %>';
    var default_phone = '<%= EmailInfoRequest.phone_prompt %>';
    var default_comment = '<%= EmailInfoRequest.comment_prompt %>';

    restartForm();

  contact_name.blur(function(){
    validateName(0);
  });

  contact_email.blur(function(){
    validateEmail(0);
  });

  function validateInfoRequestForm(){
    validateName(1);
    validateEmail(1);
  }

  function validateName(display_error){  
    if ((contact_name.val() == default_name) || (contact_name.val() == '')){
      contact_errors = 'name';
      if (display_error){
        name_status.show();
      }
    }else{
      name_status.hide();
    } 
  }

  function validateEmail(){
    if ((contact_email.val() == default_email) || (contact_email.val() == '')){
      contact_errors = 'email';
      email_status.show();
    }else{
      email_status.hide();
    } 
 
  }


  function disableInputFields(form) {
    form.find('input, textarea').attr('disabled', 'disabled');
    }

  function restartForm(){
    contact_form.find('input, textarea').removeAttr('disabled');
    contact_email.val(default_email);
    contact_phone.val(default_phone);
    contact_name.val(default_name);
    contact_comment.val(default_comment);
  }

  function showSuccessMessage(){
    $('#our_response').show();
  }


  function doAfterInfoRequest() {
    showSuccessMessage();
    $('#email-info-request').find('#spinner').hide();
    disableInputFields(contact_form);
    submitting_status.hide();
  }

  function submitInfoRequest(form) {
  submitting_status.show();
  var data = {contact_email: contact_email.val(),
              contact_phone: contact_phone.val(),
              contact_name: contact_name.val(),
              contact_comment: contact_comment.val()}
  $.post('email_info_requests', data, function(message){

  });

  }

  $('#contact-submit').click(function(e){
    e.preventDefault();
    contact_errors = 0;
    validateInfoRequestForm();
    if (contact_errors == 0){
      submitInfoRequest(contact_form);
    }
    
  });
<% end %>