<footer id="pageFtr">
  <div class="row">
    <ul class="ftrMenu">
    <li><%= link_to "Our Product", product_path %></li>
      <li><%= link_to "Contact Us", "#!", "data-request-demo-full" => true %></li>
      <li><%= link_to "Case Studies", page_path("customer_tiles") %></li>
      <li><%= link_to "Blog", "http://blog.air.bo", target: "_blank" %></li>
      <li><%= link_to "Sign in", sign_in_path %></li>
    </ul>
  </div>
</footer>