<main id="root" role="main">
  <%= render partial: "pages/front_theme/root/main_hero" %>
  <%= render partial: "pages/front_theme/root/fuji_case_study" %>
  <%= render partial: "pages/front_theme/root/features" %>
  <%= render partial: "pages/front_theme/root/roi" %>
  <%= render partial: "pages/front_theme/root/employee_quote" %>
</main>
