<div id="about">
  <!-- Hero Section -->
  <div class="position-relative blue-teal-gradient header">
    <div class="u-bg-img-hero">
      <div class="container small-container">
        <h1 class="headline">
          Our mission is to increase the benefits of communication
        </h1>
        <h3 class="subhead">
          This is a statement of who you are. Donec vel dapibus neque. Vivamus non venenatis libero. Etiam elementum libero vel dolor porttitor, at porttitor velit fermentum.
        </h3>
      </div>
      </div>

        <%= render partial: "pages/front_theme/svg/white" %>
    </div>
  <!-- End Hero Section -->

  <div class="container small-container">
    <div class="info-section">
      Being lucky in life is the result of putting yourself into action for good luck to happen to you. You’ve probably heard the statement “The harder I work the luckier I get”. Another way of putting it is “Whatever you are ready for is ready for you.”

    Are you satisfied with your life, the job you have, or the amount of money you’re making? Or are you not satisfied with the feeling that life is somehow passing you by? Chances are one of these reasons fits you because most people aren’t satisfied with their lives, and usually one of those reasons is the cause.

    Success is not a spectator sport, something that just happens before your eyes. It’s an experience, a game that must be played to be enjoyed fully. You need to get involved with life. You’ll need to get more involved with your family, friends, people you see every day. Because in that involvement, you’ll find you have everything you need to succeed.
    </div>
  </div>

  <div class="position-relative purple-teal-gradient leadership">
    <%= render partial: "pages/front_theme/svg/purple" %>
    <h3 class="leadership-title"> Our Leadership </h3>
    <div class="leadership-team">
      <div class="leadership-team-member col-sm-12 col-md-4">
        <%= image_tag 'marketing_site/team/vlad.jpg', class: "profile-pic" %>
        <div class="name">
          Vlad Gyster
        </div>
        <div class="position">
          CEO
        </div>
      </div>
      <div class="leadership-team-member col-sm-12 col-md-4"">
        <%= image_tag 'marketing_site/team/ryan.jpg', class: "profile-pic" %>
        <div class="name">
          Ryan Workman
        </div>
        <div class="position">
          CTO
        </div>
      </div>
      <div class="leadership-team-member col-sm-12 col-md-4"">
        <%= image_tag 'marketing_site/team/kate.jpg', class: "profile-pic" %>
        <div class="name">
          Kate Bernier
        </div>
        <div class="position">
          Director of Customer Success
        </div>
      </div>
    </div>
    <%= render partial: "pages/front_theme/svg/white" %>
  </div>

    <div class="cta">

      <div class="container u-space-3-top u-space-3-bottom" data-aos="fade-up" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
      <h2>
        Interested in Joining Us?
      </h2>
      <div class="opportunities">
        <a class="btn btn-sm btn-primary" href="/careers">
          Careers with Airbo
        </a>
      </div>
    </div>
    <%= render partial: "pages/front_theme/svg/balloons" %>
  </div>
 <%= render partial: "pages/drawer" %>
</div>
