<% content_for :page_title, 'Airbo - About' %>
<div class="marketing-site-about">
  <%= render partial: "pages/partials/about/main_hero" %>
  <%= render partial: "pages/partials/about/timeline" %>
  <%= render partial: "pages/partials/about/success_stories" %>
  <%= render partial: "pages/partials/about/leadership" %>
  <%= render partial: "pages/partials/about/final_cta" %>
</div>
