<div id="broker" class="">
      <!-- Hero Section -->
        <section class="position-relative main-hero">
          <div class="u-bg-img-hero blue-teal-gradient">
            <div class="container">
              <!-- Hero Carousel -->
              <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="hero-banner">
                  <div class="js-slide hero-text  col-md-6">
                    <h1 class="sub-header"> Airbo Broker Platform </h1>
                    <h2 class="h1">Set your firm apart by providing clients with engaging, year-round benefit communications.</h2>
                    <div class="description">Full-service technology helps you deliver like a large communications team.
                    </div>
                    <a class="btn btn-sm btn-invert js-request-demo">
                    Request Demo
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Hero Carousel -->
            <%= render partial: "pages/front_theme/svg/white" %>
            <div class="hero-image" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="0" data-aos-easing="ease-in-out">
              <%= image_tag 'marketing_site/broker/mockup.png' %>
            </div>
          </div>
        </section>

        <!-- End Hero Section -->
      <section class="interactivity">
        <div class="container">
          <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <div class="col-md-6 order-md-2">
              <h2>Benefits Content Made Fun</h2>
              <p>Every two to four weeks, employees receive short, visual content and earn points for interacting. Employees learn a little bit at a time and don't get overwhelmed.</p>
            </div>
            <div class="col-md-6 order-md-1">
              <div class="phone-holder">
                <%= image_tag 'marketing_site/broker/phone.png' %>
                <video autoplay loop autobuffer muted playsinline preload>
                <source src="/videos/phone.mp4" type="video/mp4">
                <source src="/videos/phone.webm" type="video/webm">
              </video>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="year-round">
      <div class="container">
        <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <div class="col-md-6 order-md-1">
            <h2>Communicate with Employees Year-Round</h2>
            <p>Plan your client's communications to reinforce benefit information throughout the year. </p>
            </div>
          <div class="col-md-6 order-md-2">
            <div class="phone-holder">
              <%= image_tag 'marketing_site/broker/year-round.png' %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="customizable">
      <div class="container">
        <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <div class="col-md-6 order-md-2">
            <h2>Best-in-Class Content</h2>
            <p> Based on the topics your client wants to communicate, we provide customizable stock content so that you don’t have to worry about content creation or management. You can also create your own content in just minutes.</p>
          </div>
          <div class="col-md-6 order-md-1">
            <div class="phone-holder">
              <%= image_tag 'marketing_site/broker/customizable_content.png' %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="purple-teal-gradient value-your-clients">
      <%= render partial: "pages/front_theme/svg/purple" %>
      <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <h2 class="" data-aos-delay="" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"> Value for Your Clients</h2>
        <div class="row align-items-center">
          <div class="col-md-4" data-aos-delay="200" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <%= image_tag 'marketing_site/broker/profile.png' %>
            <div class="quote">
              “This is such a fun and easy to use communications vehicle. I have fun making them.”
            </div>
            <div class="label">
              HR EMPLOYEE
            </div>
          </div>
          <div class="col-md-4" data-aos-delay="400" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <div class="number-callout"> 91%</div>
            <div class="quote">
              of employees reported a higher appreciation of benefits
              </div>
            <div class="label">
              MANUFACTURING COMPANY
            </div>
          </div>
          <div class="col-md-4" data-aos-delay="600" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <%= image_tag 'marketing_site/broker/profile.png' %>
            <div class="quote">
              “Love it! Of all the stuff that gets thrown at us, this is the one I like to read since it’s quick.”
            </div>
            <div class="label">
              David, Employee Feedback Survey
            </div>
          </div>
        </div>
      </div>
        <%= render partial: "pages/front_theme/svg/white" %>
    </section>

    <section class="results ">
      <div class="container">
        <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <div class="col-md-6 order-md-2">
            <h2>See the Results</h2>
            <p>Metrics prove employee engagement, education, and satisfaction. </p>    </div>
          <div class="col-md-6 order-md-1">
            <div class="phone-holder">
              <%= image_tag 'marketing_site/broker/metrics.png' %>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="quick-to-launch">
      <div class="container">
        <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <div class="col-md-6 order-md-1">
            <h2>Quick to Launch</h2>
            <p>Client implementation takes just one week. Simply whitelist domains, customize Airbo with company branding, and add users</p>
            </div>
          <div class="col-md-6 order-md-2">
            <div class="phone-holder">
              <%= image_tag 'marketing_site/broker/4weeks.png' %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blue-teal-gradient sales-support">
      <%= render partial: "pages/front_theme/svg/blue" %>
      <div class="container" >
        <h2 class="" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"> Sales Support</h2>
        <div class="row align-items-center" >
          <div class="col-md-4" data-aos-delay="200" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <%= image_tag 'marketing_site/broker/champion.png' %>
            <div class="description">
              Training for your Airbo Champion
            </div>
          </div>
          <div class="col-md-4" data-aos-delay="400" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <%= image_tag 'marketing_site/broker/sales.png' %>
            <div class="description">
              Airbo sales training for your team
              </div>
          </div>
          <div class="col-md-4" data-aos-delay="600" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <%= image_tag 'marketing_site/broker/materials.png' %>
            <div class="description">
              Co-branded sales materials

            </div>
          </div>
        </div>
      </div>
      <%= render partial: "pages/front_theme/svg/white" %>
    </section>

    <section class="cta position-relative">
          <%= render partial: "pages/front_theme/svg/balloons" %>
          <div class="container u-space-3-top u-space-4-bottom" data-aos="fade-up" data-aos-duration="1000"
            data-aos-easing="ease-in-out">
          <h2>
            Offer Your Clients More
          </h2>
          <p>Schedule a 30 minute demo to learn more about the Airbo Broker Platform</p>
          <div class="request-demo">
            <a class="btn btn-sm btn-primary js-request-demo">
              Request Demo
            </a>
          </div>
    </section>
</div>
