<main id="root" role="main">
<div id="careers">
  <!-- Hero Section -->
  <div class="position-relative blue-teal-gradient header">
      <div class="container small-container">
        <div class="row align-items-center">
          <div class="col-12">
        <h1 class="headline">
          Careers
        </h1>
        <h3 class="subhead">
          <a href="#avalible-positions">
           We Are Hiring
          </a>
          </h3>
          </div>
      </div>
  </div>
    <%= render partial: "pages/front_theme/svg/white" %>
  </div>
  <div class="info-section">
    <div class="container small-container">
      <h3> Help us reinvent how Human Resources communicates with employees.</h3>
      <p>
        There's a massive problem at every large company in the U.S.: people don't understand how to use their health insurance, retirement plan, and many other employer-provided benefits because they're poorly communicated. Our software is used at
        companies like Fujifilm to transform dense topics like “how to pick a health plan” into visual and gamified experiences that help employees understand their benefits, save for retirement, and live happier lives.
      </p>
      <h3>Motivation and toughness can’t be taught.</h3>
      <p> We are striving to build something meaningful in the world by building a team of inspired, intrinsically motivated individuals. We are self-motivated and are each accountable to ourselves for the work that we do. We all work hard and trust
        that our teammates are as well. Additionally, we believe the #1 determinant to success is the ability to get back up after you're knocked down. We look for past patterns that this is true. We look for gritty people.</p>
      <h3>Ambition without well-being has limits.</h3>
      <p>For that reason, we maintain a culture that supports taking time during the workday to do what you need to take care of yourself as it may not always be possible outside of work hours. Our Director of Customer Success blocks off one morning
        each week to ride horses, our CEO takes surf breaks throughout the week, and our Lead Engineer takes a restorative walk every afternoon. Do what makes you feel like you, and we are confident your performance at work will be better for it.</p>

    </div>
    <%= render partial: "pages/front_theme/svg/balloons" %>
  </div>

  <div class="position-relative purple-teal-gradient split-section">
      <%= render partial: "pages/front_theme/svg/purple" %>
    <div class="container small-container">
      <div class="row align-items-center">
        <div class="col-md-4 benefit-left">
          <%= image_tag 'marketing_site/benefits.png', class: 'profile-pic' %>
        </div>
        <div class="col-md-8 benefit-right">
          <h3> Benefits</h3>
          <p>
            Our hiring philosophy is to hire the best people. We compensate accordingly in the form of highly competitive pay and benefits.
          </p>
        </div>
      </div>
    </div>
      <%= render partial: "pages/front_theme/svg/white" %>
  </div>

  <div class="info-section" id="avalible-positions">
    <div class="container small-container">
      <div class="row">
        <div class="col-md-12">
          <h3> Ready to Join Our Team? </h3>
          <p> You’ll be walking into a cozy blue bungalow nestled in the heart of Venice, CA where you’ll be welcomed by your new teammates and two dogs, all eager to get to know you. If you are ready to accelerate your career and want to help us
            build something meaningful, check out our job openings below.</p>

          <h3> Open Positions</h3>
          <a href="mailto:jobs@airbo.com?subject=Senior Engineer" class="job-position">
            <div class="left-side">
              <div class="title">
                Senior Engineer
              </div>
              <div class="location">
                Venice, Los Angles
              </div>
            </div>
            <div class="right-side">
              <button class="btn btn-sm btn-primary">
               Learn More
              </button>
            </div>
          </a>
          <a href="mailto:jobs@airbo.com?subject=Customer Success Consultant" class="job-position">
            <div class="left-side">
              <div class="title">
                Customer Success Consultant
              </div>
              <div class="location">
                Venice, Los Angles
              </div>
            </div>
            <div class="right-side">
              <button class="btn btn-sm btn-primary">
               Learn More
              </button>
            </div>
          </a>
          <a href="mailto:jobs@airbo.com?subject=Executive Assistant" class="job-position">
            <div class="left-side">
              <div class="title">
                Executive Assistant
              </div>
              <div class="location">
                Venice, Los Angles
              </div>
            </div>
            <div class="right-side">
              <button class="btn btn-sm btn-primary">
               Learn More
              </button>
            </div>
          </a>
          <a href="mailto:jobs@airbo.com?subject=Enterprise Sales" class="job-position">
            <div class="left-side">
              <div class="title">
                Enterprise Sales
              </div>
              <div class="location">
                Venice, Los Angles
              </div>
            </div>
            <div class="right-side">
              <button class="btn btn-sm btn-primary">
               Learn More
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%= render partial: "pages/front_theme/svg/balloons" %>
  </div>

  <!-- End Hero Section -->
</div>
</main>
