<div id="careers">
  <!-- Hero Section -->
  <div class="position-relative blue-teal-gradient header">
    <div class="u-bg-img-hero">
      <div class="container small-container">
        <h1 class="headline">
          Join Us
        </h1>
        <h3 class="subhead">
          <a href="#avalible-positions">
           We Are Hiring
          </a>
          </h3>
      </div>
    </div>
        <%= render partial: "pages/front_theme/svg/white" %>
  </div>
  <div class="info-section">
    <div class="container small-container">
        <h3> What We Do </h3>
        <p>
        Being lucky in life is the result of putting yourself into action for good luck to happen to you. You’ve probably heard the statement “The harder I work the luckier I get”. Another way of putting it is “Whatever you are ready for is ready for you.”
        Are you satisfied with your life, the job you have, or the amount of money you’re making? Or are you not satisfied with the feeling that life is somehow passing you by? Chances are one of these reasons fits you because most people aren’t satisfied with their lives, and usually one of those reasons is the cause.
        </p>
        <p>
        Success is not a spectator sport, something that just happens before your eyes. It’s an experience, a game that must be played to be enjoyed fully. You need to get involved with life. You’ll need to get more involved with your family, friends, people you see every day. Because in that involvement, you’ll find you have everything you need to succeed.
        </p>
      </div>
      <%= render partial: "pages/front_theme/svg/balloons" %>
  </div>

  <div class="position-relative purple-teal-gradient split-section">
      <%= render partial: "pages/front_theme/svg/purple" %>
      <div class="container">
        <div class="row">
          <div class="col-md-6 left-image">
            <%= image_tag 'marketing_site/benefits.png', class: 'profile-pic' %>
          </div>
          <div class="col-md-6">
            <h3> Benefits</h3>
            <p>
            Success is not a spectator sport, something that just happens before your eyes. It’s an experience, a game that must be played to be enjoyed fully. You need to get involved with life. You’ll need to get more involved with your family, friends, people you see every day. Because in that involvement, you’ll find you have everything you need to succeed.
            </p>
          </div>
        </div>
      </div>
      <%= render partial: "pages/front_theme/svg/white" %>
  </div>

  <div class="info-section" id="avalible-positions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h3> Open Positions</h3>
          <a href="" class="job-position">
            <div class="left-side">
              <div class="title">
                Executive Assistant
              </div>
              <div class="location">
                Venice, Los Angles
              </div>
            </div>
            <div class="right-side">
              <button class="btn btn-sm btn-primary">
                Learn More
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%= render partial: "pages/front_theme/svg/balloons" %>
  </div>

  <!-- End Hero Section -->
</div>
