<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header: true, hero_class: ""} do %>
  <h1 class="white text-center" >Case Studies</h1>
<% end %>

<div class="row case_study">
  <div class="large-6 columns">
    <%=image_tag "case_studies/fujifilm_mainpic.png" %>
  </div>
  <div class="large-6 columns">
    <h3>Fujifilm</h3>
    <p>
      Fujifilm uses Airbo to drive year-round engagement in Benefits and Wellness Programs. With 84% of employees participating, Airbo helped Fujifilm decrease health care trend to 0% and increase Health Risk Assessment participation rates by 217%.
    </p>
    <p>
    <%= link_to "Read Case Study", page_path('fujifilm'), class: "button outlined" %>
    </p>
  </div>
</div>

<div class="row case_study">
  <div class="large-6 columns">
    <%=image_tag "landing/case-studies/janet_mcnichol.jpg" %>
  </div>
  <div class="large-6 columns">
    <h3>American Speech-Language-Hearing Association (ASHA)</h3>
    <p>
    Janet McNichol, Director of Human Resources at the American Speech-Language-Hearing Association (ASHA), needed to find new ways to capture the attention of more than 280 busy employees ranging from administrative staff to PhD-holding professionals.
    </p>
    <p>
    <%= link_to "Read Case Study", page_path('asha'), class: "button outlined" %>
    <p>
  </div>
</div>

<%= render partial: "pages/landing/footer" %>
