
<section id="customer_tile">
  <h1>Top Tiles of 2013</h1>
  <h3 customer>This year, we launched a new interactive micro-content called a "Tile". <br/>We've been amazed at our customers' creativity. Here are some of our favorites.</h3>


<!-- ============= small heineken sample tiles ============= -->
<div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Heineken</p>
    </div>
       <p class="tile_section_introduction">Heineken partnered with G2 Communications Group to highlight decision support tools, HSA education, and auxiliary benefits. Visits to the Open Enrollment guide tripled over the prior year.<a href="/pages/heineken" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail heineken_oeguide"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/heineken_tile_oeguide.png", "alt" => "The People Department Tells All" %>
        </div>
        <div class="headline">
          <span class="text">The People Department Tells All</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_alex"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/heineken_tile_alex.png", "alt" => "Let ALEX Help You Select a Plan" %>
        </div>
        <div class="headline">
          <span class="text">Let ALEX Help You Select a Plan</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_monkey"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/heineken_tile_monkey.png", "alt" => "You PAY Me To Enroll?" %>
        </div>
        <div class="headline">
          <span class="text">You PAY Me To Enroll?</span>
        </div>
      </div></div></div>

 <!-- ============= small Milton CAT sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Milton CAT</p>
    </div>
          <p class="tile_section_introduction">David Convery, Corporate Manager of Safety and Health and his team used their Tiles to increase safety brief completion rates by 50%.<a href="/pages/miltoncat" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail miltoncat_ice"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/miltoncat_tile_ice.png", "alt" => "Do It Youself. Spread Salt On Ice" %>
        </div>
        <div class="headline">
          <span class="text">Do It Youself. Spread Salt On Ice</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_review"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/miltoncat_tile_review.png", "alt" => "Review Injuries With Coworkers" %>
        </div>
        <div class="headline">
          <span class="text">Review Injuries With Coworkers</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_safetybrief"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "The Importance Of Safety Briefs" %>
        </div>
        <div class="headline">
          <span class="text">The Importance Of Safety Briefs</span>
        </div>
      </div></div></div> 
 <!-- ============= small ASHA sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">ASHA</p>
    </div>
          <p class="tile_section_introduction">Janet McNichol, Director of Human Resources uses her Board to communicate weekly happenings, new job openings and programs. 89% of employees have joined.<a href="/pages/asha" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail asha_signs"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/asha_tile_signs.png", "alt" => "Identify The Signs Public Education Campaign Takes Off" %>
        </div>
        <div class="headline">
          <span class="text">Identify The Signs Public Education Campaign Takes Off</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_weather"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/asha_tile_weather.png", "alt" => "How To Receive Inclement Weather Notifications" %>
        </div>
        <div class="headline">
          <span class="text">How To Receive Inclement Weather Notifications</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_goal"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/asha_tile_goal.png", "alt" => "Mark Your Learning Goal Complete" %>
        </div>
        <div class="headline">
          <span class="text">Mark Your Learning Goal Complete</span>
        </div>
      </div></div></div>
      <!-- ============= small NPS Wellness sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Natick Public School</p>
    </div>
      <p class="tile_section_introduction">Marianne Davis, Director of HR at Natick Public Schools uses her Board to drive engagement in wellness. She replaced a weekly email with weekly Tiles that include helpful tips and promote wellnes programs to a busy staff. </p>

      <div class="tile_thumbnail npswellness_salute"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_salute.png", "alt" => "9 Scientifically-Backed Ways To Stop Worrying" %>
        </div>
        <div class="headline">
          <span class="text">It's National Impaired Driving Prevention Month.</span>
        </div>
      </div></div>

      <div class="tile_thumbnail npswellness_money"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_money.jpg", "alt" => "Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?" %>
        </div>
        <div class="headline">
          <span class="text">Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail npswellness_yoga"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_yoga.png", "alt" => "Two new yoga classes for you!" %>
        </div>
        <div class="headline">
          <span class="text">Two new yoga classes for you!</span>
        </div>
      </div></div><div> 

      <!-- ============= small Fujifilm sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Fujifilm</p>
    </div>
          <p class="tile_section_introduction">Carolyn Gordon, Director of Benefits partnered with her Towers Watson consultants to reach a diverse population spread over more than 60 locations. Health Assessment completion rates jumped from 17% in 2011 to 54% in 2012.<a href="/pages/fujifilm" class="read_case_study"> Read case study.</a></p></div>
      <div class="tile_thumbnail fujifilm_two"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/fujifilm_tile_two.png", "alt" => "It takes two" %>
        </div>
        <div class="headline">
          <span class="text">It takes two</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_buzz"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/fujifilm_tile_buzz.png", "alt" => "What's all the buzz about?" %>
        </div>
        <div class="headline">
          <span class="text">What's all the buzz about?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_hsa"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/fujifilm_tile_hsa.png", "alt" => "Have you met the HSA?" %>
        </div>
        <div class="headline">
          <span class="text">Have you met the HSA?</span>
        </div>
      </div></div></div>

  <!-- ============= full Heineken sample tiles ============= -->

<section class="hidden_large_tiles heineken_oeguide">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/heineken_tile_oeguide.png", "alt" => "Don't keep this secret" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">The People Department Tells All</div>
      <div class="tile_supporting_content">Click on this photo to access the 2014 Benefit Enrollment Guide. This comprehensive brochure provides rate information, program details, key dates, and links to useful resources as you navigate the enrollment process. You can even email it to a spouse or partner.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          The 2014 Benefit Enrollment Guide is brought to you by?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The People Department</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Sales Department</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Marketing Department</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_alex">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/heineken_tile_alex.png", "alt" => "Be In The Know" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Let ALEX help you select a plan</div>
      <div class="tile_supporting_content">Meet "Alex," our virtual benefits counselor. Click on the photo to have him guide you with free and confidential support. Get the right medical plan without overpaying. Click the photo and complete “Alex” for 100 additional points!</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Who is "Alex?"
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Host Of Jeopardy</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Vitrual Benefits Counselor</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Primary Care Doctor</a></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="hidden_large_tiles heineken_monkey">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/heineken_tile_monkey.png", "alt" => "Set Yourself Up For Success" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">You'll PAY ME to Enroll</div>
      <div class="tile_supporting_content">If you enroll in the Choice Fund, we will jump start the balance in the Health Savings Account on January 1 with $500 to enrolled individuals and $1,000 to enrolled families. That’s tax-free money to use for medical expenses now or save and invest the funds for the future.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         How do I get my $500 or $1,000 Heineken contribution?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Play The Lottery</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Enroll In The Choice Fund Plan</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Sell My Car</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- ============= full Milton CAT sample tiles ============= -->

<section class="hidden_large_tiles miltoncat_ice">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/miltoncat_tile_ice.png", "alt" => "Don't keep this secret" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Do it Yourself. Spread Salt on Ice.</div>
      <div class="tile_supporting_content">You owe it to yourself. When you see icy conditions or packed snow, spread some salt or contact the appropriate person to do so. Taking action could prevent your own injury. Don't wait for someone else to report hazardous conditions.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Icy conditions should be ignored. Someone else will report the hazard if you don't.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_review">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/miltoncat_tile_review.png", "alt" => "Be In The Know" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Review Injuries with Co-Workers</div>
      <div class="tile_supporting_content">Of the 8 injuries Milton CAT employees had in October, 4 were strains, 2 were knee injuries, 1 was a head injury, and 1 was a wrist injury from a fall. When reviewing injuries with your co-workers, always discuss preventive measures that could keep the injury from happening.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          When reviewing injuries with your co-workers, you should never discuss preventive measures that could keep the injury from happening.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
      </div>
    </div>
  </div>
 </div> 
</section>

<section class="hidden_large_tiles miltoncat_safetybrief">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "The Importance of Safety Briefs" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">The Importance of Safety Briefs</div>
      <div class="tile_supporting_content">Safety Briefings provide our workers a way to participate in the safety process. Workers prefer to receive important information verbally from their Supervisor. By having direct interaction about safety with the same individual in charge of productivity conveys the importance of the safety message.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Why is it important to conduct safety briefings?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Conveys The Importance Of Safety Messages</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Workers Prefer Direct Interaction With Supervisors</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">It Gives Workers A Way to Participate In Safety</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full ASHA sample tiles ============= -->

<section class="hidden_large_tiles asha_signs">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/asha_tile_signs.png", "alt" => "Identify The Signs Public Education Campaign Takes Off" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Identify The Signs Public Education Campaign Takes Off</div>
      <div class="tile_supporting_content">Since being introduced in September, ASHA's newest public education campaign about early detection of communication disorders, Identify The Signs, has soared in popularity with both members and the public. Click on the image for a full report on the campaign outreach and media coverage.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">30</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          How many people has this campaign reached through October 31?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">75,000</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">750,000</a></div>
           <div class="tile_multiple_choice_answer"><a href="#!">74,720,894</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_weather">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/asha_tile_weather.png", "alt" => "How To Receive Inclement Weather Notifications" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">How To Receive Inclement Weather Notifications</div>
      <div class="tile_supporting_content">ASHA uses One Call Now to notify staff of changes in our operating status due to inclement weather. To opt-in to receive these notifications or to adjust how you receive notice, click on the image above. Then, click “Show All Responses,” click “View Responses,” and then “Edit Responses.”</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">20</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          You can receive your noticatons by ______.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Phone</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Email</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Text Message</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="hidden_large_tiles asha_goal">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_goal.png", "alt" => "The Importance of Safety Briefs" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Mark your learning goal complete!</div>
      <div class="tile_supporting_content">As part of our 2013 Success Sharing measures, each staff member is expected to complete at least one learning goal by Jan. 31, 2014. If you've completed your goal, log into the PDP system, select the goal, and indicate that it's been completed by checking the "Goal Completed" box.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">15</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         How do you indicate that you've completed your learning goal?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Tell A Learning Advistory Team (LAT) Member</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Click 'Goal Completed' In The PDP System</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Post It To ASHAnet</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full NPS Wellness sample tiles ============= -->

<section class="hidden_large_tiles npswellness_salute">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_salute.png", "alt" => "Identify The Signs Public Education Campaign Takes Off" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">It's National Impaired Driving Prevention Month. Click graphic for info.</div>
      <div class="tile_supporting_content">Designate a sober driver before celebrations begin. Plan safe parties, including non-alcoholic drink options. Don't serve alcohol the last hour of the gathering. Never serve alcohol to those under the age of 21. If you’ve been drinking, call a cab or a sober friend or relative. PLEASE STAY SAFE.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">3</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          If you're only driving a short distance home, it's OK to have a few drinks.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles npswellness_money">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_money.jpg", "alt" => "Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?</div>
      <div class="tile_supporting_content">Need a bone density study, colonoscopy, radiology (e.g., MRI and CT scan), lab work, mammogram or ultrasound? Using the SaveOn program will earn you a minimum of $10, and as much as $75, for using a lower cost provider for your test.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">3</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Harvard-Pilgrim subscribers who need an MRI will earn $10 just for calling the SaveOn nurse
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="hidden_large_tiles npswellness_yoga">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_yoga.png", "alt" => "Two new yoga classes for you!" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Two new yoga classes for you!</div>
      <div class="tile_supporting_content">Tuesdays at 3:30 in the Music Room and Thursdays at 3:30 in the Cafeteria. Why practice yoga? Click on the photo to find out 38 ways yoga helps keep you fit!</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Points for reading this tile. 
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">I Read This Tile</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full Fujifilm sample tiles ============= -->

<section class="hidden_large_tiles fujifilm_two">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/fujifilm_tile_two.png", "alt" => "It takes two" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">It takes two</div>
      <div class="tile_supporting_content">This year, you must complete BOTH the Health Assessment & the Health Screening to get a premium credit. You'll find out important number's from your screening that can help keep you healthy. And, your assessment report will be even more helpful when you enter your screening number's.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         What do you have to do by Nov 15 to get $360?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Screening (Biometrics)</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Assessment</a></div>
           <div class="tile_multiple_choice_answer"><a href="#!">Both The Biometrics And The Health Assessment</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_buzz">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/fujifilm_tile_buzz.png", "alt" => "What's all the buzz about?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">What's all the buzz about?</div>
      <div class="tile_supporting_content">Open Enrollment is here! Click the image above to enroll from November 1 to midnight on November 15! To learn more about your options, read the Benefits & You and Enrollment Brochure that were mailed home, & go to www.myCignaplans.com to evaluate your plan options.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          When does enrollment end?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">November 1</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">November 15</a></div>
           <div class="tile_multiple_choice_answer"><a href="#!">Never</a></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="hidden_large_tiles fujifilm_hsa">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/fujifilm_tile_hsa.png", "alt" => "Have you met the HSA?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Have you met the HSA?</div>
      <div class="tile_supporting_content">A Health Savings Account (HSA) comes with the Cigna Choice Fund Plan. It helps you save money since Fujifilm puts money in, you can add money, and you never pay taxes on the money you put in, spend on qualified health care expenses, or interest earned. Plus, the money is always yours to keep.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Do you pay taxes on your HSA money?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Yes - All Money You Spend Must Be Taxed</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Sometimes</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Not When Spent On Qualified Health Care Expenses</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
  <h4>Visit the case study pages to see even more tiles. 
  </br><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US </script>
<script type="IN/Share" data-url="http://www.hengage.com/pages/customer_tiles"></script>
  <br/>Questions? <a href="mailto:"Support@hengage.com">Support@hengage.com</a>
  </h4>
</section>


<script>
$('.tile_thumbnail.heineken_oeguide').click(function(e) {
  $('.hidden_large_tiles.heineken_oeguide').lightbox_me();
});
$('.tile_thumbnail.heineken_alex').click(function(e) {
  $('.hidden_large_tiles.heineken_alex').lightbox_me();
});
$('.tile_thumbnail.heineken_monkey').click(function(e) {
  $('.hidden_large_tiles.heineken_monkey').lightbox_me();
});
$('.tile_thumbnail.miltoncat_ice').click(function(e) {
  $('.hidden_large_tiles.miltoncat_ice').lightbox_me();
});
$('.tile_thumbnail.miltoncat_review').click(function(e) {
  $('.hidden_large_tiles.miltoncat_review').lightbox_me();
});
$('.tile_thumbnail.miltoncat_safetybrief').click(function(e) {
  $('.hidden_large_tiles.miltoncat_safetybrief').lightbox_me();
});	
$('.tile_thumbnail.asha_signs').click(function(e) {
  $('.hidden_large_tiles.asha_signs').lightbox_me();
});
$('.tile_thumbnail.asha_weather').click(function(e) {
  $('.hidden_large_tiles.asha_weather').lightbox_me();
});
$('.tile_thumbnail.asha_goal').click(function(e) {
  $('.hidden_large_tiles.asha_goal').lightbox_me();
});
$('.tile_thumbnail.npswellness_salute').click(function(e) {
  $('.hidden_large_tiles.npswellness_salute').lightbox_me();
});
$('.tile_thumbnail.npswellness_money').click(function(e) {
  $('.hidden_large_tiles.npswellness_money').lightbox_me();
});
$('.tile_thumbnail.npswellness_yoga').click(function(e) {
  $('.hidden_large_tiles.npswellness_yoga').lightbox_me();
});
$('.tile_thumbnail.fujifilm_two').click(function(e) {
  $('.hidden_large_tiles.fujifilm_two').lightbox_me();
});
$('.tile_thumbnail.fujifilm_buzz').click(function(e) {
  $('.hidden_large_tiles.fujifilm_buzz').lightbox_me();
});
$('.tile_thumbnail.fujifilm_hsa').click(function(e) {
  $('.hidden_large_tiles.fujifilm_hsa').lightbox_me();
});
</script>
