
<section id="customer_tile">
  <h1>Top Tiles of 2013</h1>
  <h3 customer>This year, we launched a new type of interactive micro-content called a "Tile". <br/>We've been amazed by our customers' creativity. Here are some of our favorites.</h3>


<!-- ============= small heineken sample tiles ============= -->
<div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Heineken</p>
    </div>
       <p class="tile_section_introduction">Heineken partnered with G2 Communications Group to highlight decision support tools, HSA education, and auxiliary benefits. Visits to the Open Enrollment guide tripled over the prior year.<a href="/pages/heineken" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail heineken_secret"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_dontkeepthissecret.png", "alt" => "Don't Keep This Secret" %>
        </div>
        <div class="headline">
          <span class="text">Don't Keep This Secret</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_know"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_beintheknow.png", "alt" => "Be In The Know" %>
        </div>
        <div class="headline">
          <span class="text">Be In The Know</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_success"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_setyourselfup.png", "alt" => "Set Yourself Up For Success" %>
        </div>
        <div class="headline">
          <span class="text">Set Yourself Up for Success</span>
        </div>
      </div></div></div>

 <!-- ============= small Milton CAT sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Milton CAT</p>
    </div>
          <p class="tile_section_introduction">David Convery, Corporate Manager of Safety and Health and his team used their Tiles to increase safety brief completion rates by 50%.<a href="/pages/miltoncat" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail miltoncat_incident"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
        </div>
        <div class="headline">
          <span class="text">Determine Root Causes to Prevent Re-Occurrences</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_fire"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
        </div>
        <div class="headline">
          <span class="text">Who Can Use Fire Extinguishers at Milton CAT?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_safetybriefs"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "Open Enrollment Drop-In Sessions" %>
        </div>
        <div class="headline">
          <span class="text">The Importance of Safety Briefs</span>
        </div>
      </div></div></div> 
 <!-- ============= small ASHA sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">ASHA</p>
    </div>
          <p class="tile_section_introduction">Janet McNichol, Director of Human Resources uses her Board to communicate weekly happenings, new job openings and programs. 89% of employees have joined.<a href="/pages/asha" class="read_case_study"> Read case study.</a></p>

      <div class="tile_thumbnail asha_fitness"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_fitness.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
        </div>
        <div class="headline">
          <span class="text">Last Chance to Sign Up for this Session of Fitness Classes</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_team"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_team.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
        </div>
        <div class="headline">
          <span class="text">Speech-Language Pathology Cluster, Team Highlight</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_enroll"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_enroll.png", "alt" => "Open Enrollment Drop-In Sessions" %>
        </div>
        <div class="headline">
          <span class="text">Open Enrollment Drop-In Sessions</span>
        </div>
      </div></div></div>
      <!-- ============= small NPS Wellness sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Natick Public School</p>
    </div>
      <p class="tile_section_introduction">Marianne Davis, Director of HR at Natick Public Schools uses her Board to drive engagement in wellness. She replaced a weekly email with weekly Tiles that include helpful tips and promote wellnes programs to a busy staff. </p>

      <div class="tile_thumbnail npswellness_salute"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_salute.png", "alt" => "9 Scientifically-Backed Ways To Stop Worrying" %>
        </div>
        <div class="headline">
          <span class="text">It's National Impaired Driving Prevention Month.</span>
        </div>
      </div></div>

      <div class="tile_thumbnail npswellness_money"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_money.jpg", "alt" => "Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?" %>
        </div>
        <div class="headline">
          <span class="text">Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail npswellness_yoga"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "customer_tiles/nps_tile_yoga.png", "alt" => "Two new yoga classes for you!" %>
        </div>
        <div class="headline">
          <span class="text">Two new yoga classes for you!</span>
        </div>
      </div></div><div> 

      <!-- ============= small Fujifilm sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Fujifilm</p>
    </div>
          <p class="tile_section_introduction">Carolyn Gordon, Director of Benefits partnered with her Towers Watson consultants to reach a diverse population spread over more than 60 locations. Health Assessment completion rates jumped from 17% in 2011 to 54% in 2012.<a href="/pages/fujifilm" class="read_case_study"> Read case study.</a></p></div>
      <div class="tile_thumbnail fujifilm_presentation"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tiles_presentation.png", "alt" => "Did you miss out on the Choice Fund Plan presentation?" %>
        </div>
        <div class="headline">
          <span class="text">Did you miss out on the Choice Fund Plan presentation?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_takestwo"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tiles_takestwo.png", "alt" => "It takes two" %>
        </div>
        <div class="headline">
          <span class="text">It takes two</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_new"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tile_new.png", "alt" => "There's something different about enrollment this year..." %>
        </div>
        <div class="headline">
          <span class="text">There's something different about enrollment this year...</span>
        </div>
      </div></div></div>

  <!-- ============= full Heineken sample tiles ============= -->

<section class="hidden_large_tiles heineken_secret">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_dontkeepthissecret.png", "alt" => "Don't keep this secret" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Don't Keep This Secret</div>
      <div class="tile_supporting_content">It pays to share. Answer questions, learn about benefit choices, invite colleagues and meet “Alex” throughout the open enrollment period to earn raffle tickets toward $1,000 off your 2014 health care premiums. Check your progress at the top of the screen.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">10</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Where can I find how many raffle tickets I've earned?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">It's A Secret</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">At The Top Of This Page</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">In My Email</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_know">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_beintheknow.png", "alt" => "Be In The Know" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Be In The Know</div>
      <div class="tile_supporting_content">Doctor's appointment from my laptop. Getting paid to enroll in benefits. New employee perks at work, including discounts at retail stores. A virtual benefits counselor. Read all about this and more in the 2014 Benefit Enrollment Guide. Just click on the picture and you’ll be in the know.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          The 2014 Benefit Enrollment Guide includes information on:
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The New choice Fund Plan</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The New Teledoc Program</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The New Perks@Work Discount Program</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_success">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_setyourselfup.png", "alt" => "Set Yourself Up For Success" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Set Yourself Up for Success</div>
      <div class="tile_supporting_content">Click on the image to visit Heineken's Star Academy to review all of the Benefits Webinars and slides to assist in making a decision for your 2014 Benefits. We have general info sessions, as well as targeted sessions including Serious Health Conditions and Having a Baby. Check out the Star Academy!</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Where can I view benefits webinars to learn more about my options?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Star Academy</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Star Track</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Star Trek Website</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- ============= full Milton CAT sample tiles ============= -->

<section class="hidden_large_tiles miltoncat_incident">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Why Reviewing Incidents is Important" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Determine Root Causes to Prevent Re-Occurrences</div>
      <div class="tile_supporting_content">Root causes can be identified by asking “why?”. For every incident or event there is a root cause. Find & address the root cause rather than trying to only fix the result. This week’s Safety Brief is September’s accidents, injuries, and near misses for you to review with your co-workers and post.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          How do you prevent an incident from re-occurring?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Fix The Outcome Of The Prior Incident</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Stop Performing Those Job Functions/Actions</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Find & Address The Root Cause</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_fire">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Who Can Use a Fire Extinguishers at Milton CAT?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Who Can Use Fire Extinguishers at Milton CAT?</div>
      <div class="tile_supporting_content">Only trained personnel are allowed to use fire extinguishers. Call 9-911 for help before attempting to extinguish a serious fire. The fire may take hold much faster than you're capable of dealing with.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Who can use a fire extinguisher at Milton CAT?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Anyone</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Only Trained Personnel</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Supervisors And Managers</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_safetybriefs">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "The Importance of Safety Briefs" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">The Importance of Safety Briefs</div>
      <div class="tile_supporting_content">Safety Briefings provide our workers a way to participate in the safety process. Workers prefer to receive important information verbally from their Supervisor. By having direct interaction about safety with the same individual in charge of productivity conveys the importance of the safety message.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Why is it important to conduct safety briefings?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">It Conveys The Importance Of Safety Messages</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Workers Prefer Direct Interaction With Supervisors</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">It Gives Workers A Way To Participate In Safety</a>
           <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full ASHA sample tiles ============= -->

<section class="hidden_large_tiles asha_fitness">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_fitness.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Last Chance to Sign Up for this Session of Fitness Classes</div>
      <div class="tile_supporting_content">A new 12-week fitness class schedule starts October 28th and runs through January 17th. We have two new classes this session -- dance ballet barre and core values. Join us and ward off holiday stress and get a jump on your new years weight loss goals.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">10</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          When does this session end?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">October 28</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">December 1</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">January 17</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_team">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_team.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Speech-Language Pathology Cluster, Team Highlight</div>
      <div class="tile_supporting_content">The SLP Cluster provides expert technical assistance to members, National Office staff, consumers and external organizations; tracks national trends; develops resources, and disseminates practice information. Cluster members also plan professional development programs and serve as ex officios.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">15</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Which cluster primarily employs speech-language pathologists to provide expert technical assistance to members, consumers, the National Office, and other organizations?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Information Systems</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Certification</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The SLP Practices Cluster</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Accreditation</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_enroll">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_enroll.png", "alt" => "Open Enrollment Drop-In Sessions" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Open Enrollment Drop-In Sessions</div>
      <div class="tile_supporting_content">The HR team will be available during this open enrollment period to answer your questions and help you make your 2014 elections via the EBIX Benefits System. Open Enrollment Drop-In Sessions are open to all and will be held in the 4th floor IS Training Room if you'd like a little extra help.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">25</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What is the last day you can submit open enrollment changes and elections?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">December 31</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">November 30</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">July 4</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full NPS Wellness sample tiles ============= -->

<section class="hidden_large_tiles npswellness_salute">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_salute.png", "alt" => "Identify The Signs Public Education Campaign Takes Off" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">It's National Impaired Driving Prevention Month. Click graphic for info.</div>
      <div class="tile_supporting_content">Designate a sober driver before celebrations begin. Plan safe parties, including non-alcoholic drink options. Don't serve alcohol the last hour of the gathering. Never serve alcohol to those under the age of 21. If you’ve been drinking, call a cab or a sober friend or relative. PLEASE STAY SAFE.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">3</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          If you're only driving a short distance home, it's OK to have a few drinks.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles npswellness_money">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_money.jpg", "alt" => "Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Harvard-Pilgrim subscribers: Did you know you could earn cash rewards?</div>
      <div class="tile_supporting_content">Need a bone density study, colonoscopy, radiology (e.g., MRI and CT scan), lab work, mammogram or ultrasound? Using the SaveOn program will earn you a minimum of $10, and as much as $75, for using a lower cost provider for your test.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">3</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Harvard-Pilgrim subscribers who need an MRI will earn $10 just for calling the SaveOn nurse
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="hidden_large_tiles npswellness_yoga">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "customer_tiles/nps_tile_yoga.png", "alt" => "Two new yoga classes for you!" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Two new yoga classes for you!</div>
      <div class="tile_supporting_content">Tuesdays at 3:30 in the Music Room and Thursdays at 3:30 in the Cafeteria. Why practice yoga? Click on the photo to find out 38 ways yoga helps keep you fit!</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Points for reading this tile. 
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">I Read This Tile</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============= full Fujifilm sample tiles ============= -->

<section class="hidden_large_tiles fujifilm_presentation">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tiles_presentation.png", "alt" => "Did you miss out on the Choice Fund Plan presentation?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Did you miss out on the Choice Fund Plan presentation?</div>
      <div class="tile_supporting_content">No fear! We have recorded one of them for you. Just click the image above to see the presentation.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Points for watching!
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">I Watched The Presentation</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_takestwo">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tiles_takestwo.png", "alt" => "It takes two" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">It takes two</div>
      <div class="tile_supporting_content">This year, you must complete BOTH the Health Assessment & the Health Screening to get a $360 premium credit. You'll find out important numbers from your screening that can help keep you healthy. And, your assessment report will be even more helpful when you enter your screening numbers.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What do you have to do by Nov 15 to get $360?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Screening (Biometrics)</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Assessment</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Both The Biometrics And The Health Assessment</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_new">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tile_new.png", "alt" => "There's something different about enrollment this year..." %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">There's something different about enrollment this year...</div>
      <div class="tile_supporting_content">You MUST enroll to have medical, dental and vision coverage for 2014. If you don't enroll by Nov 15, you won't have coverage, except for life insurance.You will also not receive a credit for waiving coverage. Under Health Care Reform law, you must have health insurance starting January 1, 2014.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What happens if you don't enroll by November 15?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">You Wont Have Coverage, Except For Life Insurance</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">You Will Have The Same Coverage You Do Now</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">You Will Have Medical, Dental And Vision Coverage</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

  <h4>Visit the case study pages to see even more tiles. 
  <br/><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US </script>
<script type="IN/Share" data-url="http://www.hengage.com/pages/customer_tiles"></script>
  <br/>Questions? <a href="mailto:support@airbo.com">support@airbo.com</a>
  </h4>
</section>


<script>
$('.tile_thumbnail.heineken_secret').click(function(e) {
  $('.hidden_large_tiles.heineken_secret').lightbox_me();
});
$('.tile_thumbnail.heineken_know').click(function(e) {
  $('.hidden_large_tiles.heineken_know').lightbox_me();
});
$('.tile_thumbnail.heineken_success').click(function(e) {
  $('.hidden_large_tiles.heineken_success').lightbox_me();
});
$('.tile_thumbnail.miltoncat_incident').click(function(e) {
  $('.hidden_large_tiles.miltoncat_incident').lightbox_me();
});
$('.tile_thumbnail.miltoncat_fire').click(function(e) {
  $('.hidden_large_tiles.miltoncat_fire').lightbox_me();
});
$('.tile_thumbnail.miltoncat_safetybriefs').click(function(e) {
  $('.hidden_large_tiles.miltoncat_safetybriefs').lightbox_me();
});	
$('.tile_thumbnail.asha_fitness').click(function(e) {
  $('.hidden_large_tiles.asha_fitness').lightbox_me();
});
$('.tile_thumbnail.asha_team').click(function(e) {
  $('.hidden_large_tiles.asha_team').lightbox_me();
});
$('.tile_thumbnail.asha_enroll').click(function(e) {
  $('.hidden_large_tiles.asha_enroll').lightbox_me();
});
$('.tile_thumbnail.npswellness_salute').click(function(e) {
  $('.hidden_large_tiles.npswellness_salute').lightbox_me();
});
$('.tile_thumbnail.npswellness_money').click(function(e) {
  $('.hidden_large_tiles.npswellness_money').lightbox_me();
});
$('.tile_thumbnail.npswellness_yoga').click(function(e) {
  $('.hidden_large_tiles.npswellness_yoga').lightbox_me();
});
$('.tile_thumbnail.fujifilm_presentation').click(function(e) {
  $('.hidden_large_tiles.fujifilm_presentation').lightbox_me();
});
$('.tile_thumbnail.fujifilm_takestwo').click(function(e) {
  $('.hidden_large_tiles.fujifilm_takestwo').lightbox_me();
});
$('.tile_thumbnail.fujifilm_new').click(function(e) {
  $('.hidden_large_tiles.fujifilm_new').lightbox_me();
});

$('.tile_thumbnail').click(function() {mixpanel.track('Customer Tiles Page - Clicked Thumbnail');});
</script>
