<% content_for :page_title, "Employee Engagement Content Calendar Template for HR Professionals" %>
<% content_for :og_description, "Get a free, step-by-step guide to plan out your employee messaging for the entire year so it aligns with your HR goals." %>
<% content_for :og_image, image_path('marketing_site/content-calendar.png') %>

<% content_for :head do %>
  <meta property="og:url" content="<%= pages_employee_engagement_content_calendar_url %>"/>
  <meta property="twitter:card" content="summary_large_image"/>

  <link rel="canonical" href="<%= pages_employee_engagement_content_calendar_url %>"/>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= pages_employee_engagement_content_calendar_url %>"
      },
      "headline": "Employee Engagement Content Calendar Template for HR Professionals",
      "image": {
        "@type": "ImageObject",
        "url": "<%= image_path('marketing_site/content-calendar.png') %>",
        "height": 630,
        "width": 1200
      },
      "datePublished": "2018-01-21T00:07:00-08:00",
      "dateModified": "2018-01-22T01:50:33-08:00",
      "author": {
        "@type": "Person",
        "name": "Vlad Gyster"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Airbo",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= image_path('logo.png') %>",
          "width": 339,
          "height": 164
        }
      },
      "description": "Get a free, step-by-step guide to plan out your employee messaging for the entire year so it aligns with your HR goals."
    }
  </script>
  <script>
    $(function () {
      $('a[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length
            ? target
            : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

  <%= render 'shared/integrations/sumo' %>
<% end %>

<div class="main">
  <section class="padded">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1>50+ Employee Engagement Ideas to Put in Your HR Content Calendar This Year</h1>
        <h4>Plan your content calendar to align with measurable goals for employee engagement year round.
        </h4>
        <img src="<%= image_path('marketing_site/content-calendar.png')%>" alt="Employee Engagement Content Calendar">
        <p>Although there’s no single definition of employee engagement, engaged employees share common traits. They give their best each day. They are committed to their organization’s goals, values, and mission. Most notably, engaged employees are
          motivated to contribute to organizational success with an enhanced sense of their own well-being because they know how to use the benefits provided to them.
        </p>
        <p>The best way to increase employee engagement is with specially targeted initiatives through communication and messaging strategies that assist in accomplishing your company’s unique HR goals. To help you make your messaging more engaging, and turn
          some unengaged employees into motivated members of your workforce, the Airbo team has come up with a few tips and provided 50+ ideas that you can add to this year’s content calendar for better engagement.
        </p>
        <a name="content"></a>
        <h4>Table of contents</h4>
        <ul>
          <li class="align-li">
            <a href="#January">January</a>
          </li>
          <li class="align-li">
            <a href="#February">February</a>
          </li>
          <li class="align-li">
            <a href="#March">March</a>
          </li>
          <li class="align-li">
            <a href="#April">April</a>
          </li>
          <li class="align-li">
            <a href="#May">May</a>
          </li>
          <li class="align-li">
            <a href="#June">June</a>
          </li>
          <li class="align-li">
            <a href="#July">July</a>
          </li>
          <li class="align-li">
            <a href="#August">August</a>
          </li>
          <li class="align-li">
            <a href="#September">September</a>
          </li>
          <li class="align-li">
            <a href="#October">October</a>
          </li>
          <li class="align-li">
            <a href="#November">November</a>
          </li>
          <li class="align-li">
            <a href="#December">December</a>
          </li>
        </ul>

      <h3>Go Beyond Helpful Information with your Messaging Strategy.</h3>
      <p>To help plan your company's custom HR communication strategy for 2018, we’ve created an
        <strong>employee engagement content calendar template</strong>
        with interesting, informative and engaging ideas and resources that can be tailored to your company's own unique goals. Use this template to spice up your current communications, motivate employees, and boost morale.
      </p>
      <a name="January"></a>
      <img src="<%= image_path('marketing_site/months/january.png')%>" alt="January">
      <p>January is the start of a New Year and new opportunities. Structure HR communications with forward looking and optimistic content. Get them excited about where the company is going and how they can be a part of that success.</p>
      <h5>Recommended Messaging for January
      </h5>
      <p>
        <strong>Start the year out with company goals:
        </strong>
      </p>
      <p>Keep employees informed of the organization's goals. Goals need to be aligned with the company mission statement and state how each employee can contribute to these goals. Outline any rewards and bonus opportunities for reaching individual and
        company goals.
      </p>
      <p>
        <strong>Kick things off right:</strong>
      </p>
      <p>Show genuine appreciation for staff in your communications. Note last year's accomplishments and thank employees for a job well done.</p>
      <p>
        <strong>Important healthcare plan changes for the year:</strong>
      </p>
      <a name="Calendar"></a>
      <p>The beginning of the year is the perfect time to remind employees of any changes in healthcare benefits. Make sure to highlight important dates when they are required to take action. Healthcare information can be complex, so break messaging up
        into several smaller messages that are easily read and understood.
      </p>
      <p>
        <strong>Custom company calendar:</strong>
      </p>
      <p>Three things that matter to everyone in the workplace: money, family wellbeing, and work/life balance. To help keep everyone informed, create an online calendar to track the following:</p>
      <li class="align-li">Paydays</li>
      <li class="align-li">Days off and adjusted schedules</li>
      <li class="align-li">Community events and volunteer programs</li>
      <li class="align-li">Important dates such as the W-2 mailing deadline, when individual tax filings are due, open enrollment period for healthcare, fun company events like picnics, and required meetings</li>
      <p>Here's a <a href="https://www.techrepublic.com/blog/google-in-the-enterprise/quick-tip-create-and-share-a-google-calendar/" target="_blank">guide to create your own custom calendar with Gmail/G Suite</a> and here's a <a href="https://templates.office.com/en-us/Calendars" target="_blank">collection of Calendar templates for Microsoft Office.</a> If you are open to adding more dates, you can create engagement among the workforce by asking employees for suggestions of other dates to be included.
      </p>
      <p>
        <strong>Martin Luther King Jr. Day
        </strong>
      </p>
      <a name="February"></a>
      <p>The third Monday of every January celebrates the life and legacy of Dr. Martin Luther King Jr. Whether your company is in the office or taking the day off, sending out some
        <a href="https://www.inc.com/marla-tabaka/31-martin-luther-king-jr-quotes-to-inspire-greatness-in-you.html" target="_blank">inspirational quotes from Martin Luther King Jr.</a>
        and restating your company’s commitment to diversity can help motivate and inspire employees.
      </p>
      <p><a href="#content">back to the table of contents</a></p>
      <img src="<%= image_path('marketing_site/months/february.png')%>" alt="February">
      <p>The year is in full swing now, and that means your communication strategy should be well underway. Are employees responding to your messaging and taking action? Evaluate your current employee engagement strategy and adjust if necessary.
      </p>
      <h5>Recommended Messaging for February</h5>
      <p>
        <strong>Heart Health Month:</strong>
      </p>
      <p>February is Heart Health Month. Focusing on long term heart health instead of fad diets and quick wins can lead to long lasting habits. Encourage employee creativity to acknowledge Heart Health Month. Here’s a few helpful links to help inform your
        messaging:</p>
      <li class="align-li">
        <a href="https://www.goredforwomen.org/fight-heart-disease-women-go-red-women-official-site/get-involved/national-wear-red-day/" target="_blank">
          National "Wear Red” Day</a>
        for heart health (February 2)</li>
      <li class="align-li">
        <a href="https://healthyforgood.heart.org/" target="_blank">Heart Health Month</li>
        <li class="align-li">
          <a href="https://www.theheartfoundation.org/heart-disease-facts/heart-awareness-month/" target="_blank">Heart Health Month Information</li>
          <li class="align-li">
            <a href="https://www.cancersupportcommunity.org/blog/2017/02/national-cancer-prevention-month" target="_blank">National Cancer Prevention Month</a>
          </li>
        </ul>
        <p>
          <strong>If possible, Offer a Free In-Office Health Class:</strong>
        </p>
        <p>Many people set health and fitness goals for the New Year. These goals can be tough to stick to without reminders and support in the workplace. Include new offerings in your messaging such as an in-office health classes designed to educate
          employees about small changes to improve health. Here’s some helpful links to start putting together your strategy:</p>
        <li class="align-li">
          <a href="http://www.health.com/health/gallery/0,,20975165,00.html" target="_blank">12 Ways to Make Your Office Better for Your Health</a>
        </li>
        <li class="align-li">
          <a href="https://www.webmd.com/women/features/10-tips-to-improve-your-health-at-work#1" target="_blank">10 Tips to Improve Your Health at Work</a>
        </li>
        <p>
          <strong>Valentine’s Day:</strong>
        </p>
        <p>Valentine’s Day falls on February 14th. Encourage employees to celebrate the right way. It’s best to avoid any romantic messaging or art. Tie Valentine's Day into your heart healthy messaging by focusing on self-care and healthy lifestyles so no
          employees feel left out or alienated.
        </p>
        <p>
          <strong>Susan B. Anthony’s Birthday:</strong>
        </p>
        <a name="March"></a>
        <p>
          <a href="https://www.timeanddate.com/holidays/us/susan-b-anthony-day" target="_blank">Susan B. Anthony’s birthday falls on February 15th</a>. Provide a simple, uncontroversial history of her life and how she impacted suffrage for women in America.
          Use this opportunity to reaffirm your company’s commitment to diversity, and tie her contributions to the contributions of all genders in the workforce.</p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/march.png')%>" alt="March">
        <p>Q2 is just around the corner. By this time, you’re hopefully making progress on your employee engagement goals. Employees should be taking advantage of their benefits and engaging with the messaging to make improvements to their health and wellness.
        </p>
        <h5>Recommended Messaging for March</h5>
        <p>
          <strong>FSA and HSA Deadlines:</strong>
        </p>
        <p>FSAs and HSAs typically have March 15th deadlines to submit eligible medical expenditures. Send out messaging before the deadline to allow employees to prepare necessary forms. This article,
          <a href="https://www.meetalex.com/blog/3-fsa-deadline-reminder-emails-to-steal-and-use-now/" target="_blank">3 FSA Deadline Reminders To Steal and Use Now</a>, provides a helpful process and templates.
        </p>
        <p>
          <strong>Seasonal Affective Disorder:</strong>
        </p>
        <p>
          <a href="https://www.mayoclinic.org/diseases-conditions/seasonal-affective-disorder/symptoms-causes/syc-20364651" target="_blank">Seasonal affective disorder</a>
          (SAD) is a type of depression related to changes in seasons. Although it’s more likely to occur in the fall and winter months, SAD can cause depression in the spring and early summer too. Send out messaging that offers genuine support and reminders
          on how their health care plans can be used to access mental health professionals.
        </p>
        <p>Some symptoms to make employees aware of include:
        </p>
        <li class="align-li">Having low energy</li>
        <li class="align-li">Problems with sleeping</li>
        <li class="align-li">Changes in your appetite or weight</li>
        <li class="align-li">Difficulty concentrating</li>
        <p>
          <strong>Upcoming deadline notice for tax preparation:</strong>
        </p>
        <p>Tax season is just around the corner. Brushing up on the basics helps everyone, but providing messaging about tips and resources can especially make those new to the workforce feel included. Here’s some helpful links to help get them prepared for
          tax season:</p>
        <li class="align-li">
          <a href="https://turbotax.intuit.com/tax-tips/tax-planning-and-checklists/tax-preparation-checklist/L7LHiDqGJ" target="_blank">Tax Preparation Checklist</a>
        </li>
        <li class="align-li">
          <a href="https://www.moneycrashers.com/tax-preparation-tips/" target="_blank">Tips for Tax Preparation</a>
        </li>
        <li class="align-li">
          <a href="http://www.peaceloveandfinancialplanning.org/w-2-w-4-w-9-1099.html" target="_blank">Review the following forms W-2, W-4, W-9, 1099 and make sure employees understand which form they should be expecting.</a>
        </li>
        <p>
          <strong>Opportunities to have an impact on the community:</strong>
        </p>
        <p>It’s no secret among HR professionals that
          <a href="https://pilotonline.com/inside-business/news/community-involvement-benefits-the-workplace/article_9698fcec-f065-5e88-b55e-67fa3ea2309c.html" target="_blank">community involvement benefits the workplace</a>, but many employees are unaware of
          this connection. Messaging should provide information on local volunteer opportunities in line with the company’s corporate mission statement and make it easy for employees to volunteer. For example, list the times and hours of a local soup kitchen
          or provide contact information to local organization seeking volunteers.
        </p>
        <p>
          <strong>Spring is Here and Daylight Saving Time Begins:
          </strong>
        </p>
        <p>On March 11th, clocks go forward one hour in most US workplaces. Let employees know when to update their clocks, both in the office and at home, to cut down on accidental tardiness.
        </p>
        <p>
          <strong>Healthy Holiday Tips for St. Patrick’s Day:</strong>
        </p>
        <a name="April"></a>
        <p>St. Patrick’s Day is a widely celebrated holiday, often centering around drinking alcoholic beverages. Send out
          <a href="https://www.drinkaware.co.uk/" target="_blank">safe drinking tips</a>
          in your communication to avoid absences and promote safety.
        </p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/april.png')%>" alt="April">
        <p>Set aside time to reevaluate your communications from the last three months. Consider how you can repackage information with lower engagement rates to pique employee interest.</p>
        <h5>Recommended Messaging for April</h5>
        <p>
          <strong>Resend Custom Company Calendar:</strong>
        </p>
        <p>In January,
          <a href="#Calendar">we recommended sending out a helpful calendar</a>
          with important dates for employees. Resending that calendar is a great step to kicking off Q2 the right way.
        </p>
        <p>
          <strong>Pick a theme for the month:</strong>
        </p>
        <p>Not only is it tax time, but April is also Autism Awareness Month,<strong></strong>Alcohol Awareness Month, and National Distracted Driving Awareness Month. Plan some informative, helpful messaging to allow employees, along with their loved ones, to rally around a common cause.</p>
        <p>
          <strong>Easter:</strong>
        </p>
        <p>Although Easter is an important day to those who celebrate it, tread lightly with religious messaging among your employees.
        </p>
        <p>
          <strong>Administrative Professionals Day:</strong>
        </p>
        <p>
          <a href="https://en.wikipedia.org/wiki/Administrative_Professionals%27_Day" target="_blank">Administrative Professionals Day</a>
          is on April 26th. Administrative professionals play a critical role in any company. Send out messaging that alerts other employees about their contributions and shows appreciation for all the hard work they’ve put in over the course of the last year.
        </p>
        <p>
          <strong>Bring Your Child to Work Day:</strong>
        </p>
        <a name="May"></a>
        <p>National Take Our Daughters and Sons to Work Day is the fourth Thursday in April. If your office is a suitable environment for children, send out messaging that encourages parents to bring their children to work. Include activities the company is
          planning for that day.</p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/may.png')%>" alt="May">
        <p>The year is almost halfway over so this is a great time to gather employee feedback to understand the impact of your messaging on employee engagement. Managing these surveys can be tough, but there are plenty of tools (like
          <a href="https://www.airbo.com/" target="_blank">Airbo</a>) that can help make gathering feedback from employees a whole lot easier.
        </p>
        <h6>Recommended Messaging for May</h6>
        <p>
          <strong>Mental Health and Wellbeing:</strong>
        </p>
        <p>May is
          <a href="http://www.mentalhealthamerica.net/may" target="_blank">Mental Health Awareness month</a>. Many employees may not be familiar with the facts or benefits of caring for their mental health. A few ideas to help make employees more aware of of this delicate issue include:</p>
        <li class="align-li">In office visits from qualified mental health professionals that can provide tips on mental health and well being.
        </li>
        <li class="align-li">Sending out comprehensive information such as this
          <a href="http://www.mentalhealthamerica.net/workplace-mental-health" target="_blank">workplace mental health information resource</a>.
        </li>
        <p>
          <strong>Celebrate Global Health and Employee Fitness Month:</strong>
        </p>
        <p>Global Employee Health and Fitness Month (GEHFM) is an international and national observance of health and fitness in the workplace. The goal of GEHFM is to promote the benefits of a healthy lifestyle to employers and their employees through
          worksite health promotion activities and environments.
          <a href="https://health.gov/news/blog-bayw/2016/05/may-is-global-employee-health-fitness-month/" target="_blank">Read more about it here.</a>
        </p>
        <p>
          <strong>May is American Stroke Awareness Month:</strong>
        </p>
        <p>Every 40 seconds someone has a stroke and it can happen to anyone, at any time. Send out helpful information to employees that teaches them how to recognize risk factors and warning signs of strokes. More information is available from American
          Heart Association’s
          <a href="http://www.heart.org/HEARTORG/General/Stroke-Awareness-Toolkit_UCM_435537_SubHomePage.jsp" target="_blank">Stroke Awareness Toolkit.</a>
        </p>
        <p>
          <strong>Clean Air Month:</strong>
        </p>
        <p>Supported by the American Lung Association, Clean Air Month educates people about the impact clean air can have on their lives. This
          <a href="http://www.whathealth.com/awareness/event/cleanairmonth.html" target="_blank">article from WhatHealth is a great primer.</a>
        </p>
        <p>
          <strong>Memorial Day
          </strong>
        </p>
        <p>Memorial Day is a federal holiday in the United States for remembering the people who died while serving in the country's armed forces. Although many associate it with BBQs and backyard parties, Memorial Day can be a tough time for veterans. If
          appropriate, send out messaging that thanks veterans, both alive and passed, for their contributions to our country.
        </p>
        <a name="June"></a>
        <p>
          <strong>Dress Code Reminder</strong>
        </p>
        <p>If your dress code changes for summer months, take the opportunity this month to make sure those parameters are established and that every member of staff is informed.</p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/june.png')%>" alt="June">
        <p>Summer is here, a favorite for many employees. Let employees know that you are concerned about them on and off the job. Employees with healthy, balanced lives are engaged so share resources that can help them achieve that.
        </p>
        <h6>Recommended Messaging for June</h6>
        <p>
          <strong>Encourage a happy, healthy and safe summer:</strong>
        </p>
        <p>Many employees travel with families at this time of year so provide helpful travel safety tips. Encourage employees to share photos that you can share of them enjoying their vacation. Provide recognition to employees hiking, biking or enjoying
          other forms of exercise while on vacation.
        </p>
        <p>
          <strong>Summer Hours:</strong>
        </p>
        <p>If you observe different summer hours or flexible working arrangements, remind employees about these benefits.
        </p>
        <p>
          <strong>Alzheimer’s and Brain Awareness Month:</strong>
        </p>
        <p>Alzheimer's disease is fast becoming one of the greatest medical challenges facing American families today.
          <a href="https://www.alz.org/gwwi/in_my_community_102309.asp" target="_blank">Provide helpful resources to employee</a>
          to educate them about the issue.</p>
        <p>
          <strong>National Safety Month:</strong>
        </p>
        <p>Observed annually in June, National Safety Month focuses on reducing causes of injury and death at work and at home. Make sure to send out both
          <a href="http://www.nsc.org/act/events/Pages/national-safety-month.aspx" target="_blank">helpful general resources on the issue</a>, as well as specific messaging around safety issues and priorities in your workplace. Center messaging on encouraging all employees to catch and recognize others being safe at work.
        </p>
        <p>
          <strong>Men’s Health Month:</strong>
        </p>
        <a name="July"></a>
        <p>Draw attention to benefits your company provides for critical screenings available to men. These simple reminders reduce disease and can save a life.
        </p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/july.png')%>" alt="July">
        <p>As you plan your communications for the second half of the year, replicate strategies that have been most effective and tweak the types of communications that need improvement.
        </p>
        <h6>Recommended Messaging for July</h6>
        <p>
          <strong>Resend Company Custom Calendar:</strong>
        </p>
        <p>Since it’s the beginning of a new quarter,
          <a href="#Calendar">resend the calendar with important dates, highlighting any events quickly approaching</a>. Encourage engagement by asking for important dates that should be included.
        </p>
        <p></p>
        <p>
          <strong>Celebrate Independence:</strong>
        </p>
        <p>Wish all staff a happy and safe holiday. Focus on the value of independence in every facet of life this independence day.
        </p>
        <p>
          <strong>Remind employees t</strong>
          <strong>o
          </strong>
          <strong>volunteer in the community:
          </strong>
        </p>
        <p>Volunteering in the summer is a great way for employees to get outside, so encourage your employees to form a team around volunteer opportunities. Check
          <a href="https://www.volunteermatch.org/search/?l=United+States&k=summer&searchOpps=" target="_blank">VolunteerMatch for Summer-specific volunteer opportunities</a>
          and share with employees.
        </p>
        <p>
          <strong>Help employees plan for retirement:</strong>
        </p>
        <p>Never make assumptions about your employees’ financial state. Send out information about saving for retirement and remind employees the benefits you offer. Great educational resources can be found here:
        </p>
        <li class="align-li">
          <a href="https://www.dol.gov/sites/default/files/ebsa/about-ebsa/our-activities/resource-center/publications/top-10-ways-to-prepare-for-retirement.pdf" target="_blank">The Department of Labor’s Guide on the Top 10 Ways to Prepare for Retirement</a>
        </li>
        <a name="August"></a>
        <li class="align-li">
          <a href="https://money.usnews.com/money/blogs/the-smarter-mutual-fund-investor/articles/2016-01-04/saving-for-retirement-tips-for-all-ages" target="_blank">Retirement Tips for All Ages from US News and World Report</a>
        </li>
      </p>
      <p><a href="#content">back to the table of contents</a></p>
      <img src="<%= image_path('marketing_site/months/august.png')%>" alt="August">
      <p>Focus on employee motivation as summer winds down. Center messaging around employees reaching goals and encourage the momentum until the end of year.
      </p>
      <h6>Recommended Messaging for August</h6>
      <p>
        <strong>Commend High Performing Employees:</strong>
      </p>
      <p>It’s time to recognize high performing employees. This could take the form of a culture award, plaque, or even a simple thank you. Here’s some helpful resources on rewarding employees without cash:</p>
      <li class="align-li">
        <a href="https://smallbusiness.americanexpress.com/ca/en/big-ideas-for-small-business/employee-retention-and-engagement/101-ways-to-reward-employees-without-giving-them-cash" target="_blank">101 Ways to Reward Employees (Without Giving Them Cash)</a>
      </li>
      <li class="align-li">
        <a href="https://www.inc.com/peter-economy/101-super-effective-ways-to-reward-your-employees.html" target="_blank">Super Effective Ways to Reward Your Employees</a>
      </li>
      <li class="align-li">
        <a href="https://www.forbes.com/sites/kevinkruse/2013/03/01/25-low-cost-ways-to-reward-employees/#27e371df246b" target="_blank">25 Low-Cost Ways to Reward Employees</a>
      </li>
      <p>
        <strong>Back to School</strong>
      </p>
      <p>School is starting up again, and that can mean major adjustments in both schedules and obligations for your workforce. Since back to school season can be overwhelming for some, send out
        <a href="http://www.pbs.org/parents/education/going-to-school/back-to-school/back-to-school-tips-for-parents/" target="_blank">tips for parents with kids returning to school</a>. Ask employees for tips that can be shared with parents experiencing this for the first time.
      </p>
      <p>
        <strong>Dress Code Changes:</strong>
      </p>
      <a name="September"></a>
      <p>If your company dress code is more formal for the fall and winter, give employees notice along with guidelines.
      </p>
      <p><a href="#content">back to the table of contents</a></p>
      <img src="<%= image_path('marketing_site/months/september.png')%>" alt="September">
      <p>Use September to construct upbeat messaging, with an emphasis on employee physical and mental health. Since winter months are coming and the days will be getting shorter, encourage a happy, healthy workplace.
      </p>
      <h6>Recommended Messaging for September</h6>
      <p>
        <strong>National Fruits and Veggies Month:</strong>
      </p>
      <p>September is
        <a href="https://healthymeals.fns.usda.gov/features-month/june/national-fresh-fruit-and-vegetable-month" target="_blank">National Fresh Fruit and Vegetable Month and the USDA has curated tons of helpful content about healthy eating habits</a>
        that can be shared with employees. If possible, bring in samples of unusual or rare fruits and veggies to sample. Great ones to try are
        <a href="https://en.wikipedia.org/wiki/Pluot" target="_blank">pluots</a>,
        <a href="https://en.wikipedia.org/wiki/Tangelo" target="_blank">tangelos</a>, and
        <a href="https://en.wikipedia.org/wiki/Persimmon" target="_blank">persimmons</a>.</p>
      <p>
        <strong>National Suicide Prevention Month:</strong>
      </p>
      <p>Suicide is one of the top 10 causes of death in the United States and September is
        <a href="https://www.nami.org/suicideawarenessmonth" target="_blank">National Suicide Prevention Month</a>. It’s a great opportunity to offer support to employees and create awareness for their families. Although it’s a sensitive subject, the right messaging could save someone’s life.</p>
      <p>
        <strong>National Preparedness Month:</strong>
      </p>
      <p>The goal of National Preparedness Month is to increase the overall number of individuals, families, and communities that engage in preparedness actions. If employees aren’t properly prepared for emergencies and natural disasters, their lives can
        be seriously disrupted. Take time to educate your workforce about how to prepare for emergencies and practice for emergencies in the workplace.
      </p>
      <p>
        <strong>Celebrate Labor Day:</strong>
      </p>
      <p>
        <a href="https://en.wikipedia.org/wiki/Labor_Day" target="_blank">Labor Day</a>
        falls on September 3rd for 2018. Make sure to send out messaging that thanks employees for their hard work and reiterates the company's dedication to your employees’ workplace satisfaction.</p>
      <p>
        <strong>If Possible, Offer an In-Office Event: Lunchtime Yoga Class</strong>
      </p>
      <a name="October"></a>
      <p>With the season change, outdoor exercise activities can be a challenge. Consider introducing your employees to light yoga during the lunch hour to educate them about ways to maintain fitness and mental well-being with indoor exercises and
        stretches. Make sure this is an entry level introduction since some employees may be new to yoga or routine physical fitness. If employees cannot join the session, send out messaging with links to yoga stretches or videos to encourage participation
        at home.
      </p>
      <p><a href="#content">back to the table of contents</a></p>
      <img src="<%= image_path('marketing_site/months/october.png')%>" alt="October">
      <p>With the end of the year quickly approaching, October is a great month to develop strategies for the next year. Keep in mind your most (and least) effective campaigns of the last nine months.</p>
      <h6>Recommended Messaging for October</h6>
      <p>
        <strong>Resend Customer Company Calendar:</strong>
      </p>
      <p>Since it’s easy to lose track of upcoming important dates at the end of the year, it’s time to send out that
        <a href="#Calendar">helpful calendar</a>
        as a reminder one last time.</p>
      <p>
        <strong>Cold and Flu Season Awareness:</strong>
      </p>
      <p>A bad flu bug can sideline an entire office. Messaging should include education around flu prevention and awareness and proactive steps employees can take to prevent getting the flu. Here are some helpful resources that you can use to help inform
        your employees:
      </p>
      <li class="align-li">
        <a href="https://www.livescience.com/60166-avoid-cold-flu-this-year.html" target="_blank">How to Protect Yourself from Cold and Flu in the New Year</a>
      </li>
      <li class="align-li">
        <a href="https://www.cdc.gov/flu/protect/stopgerms.htm" target="_blank">Stopping the Spread of Germs at Home, Work and School</a>
      </li>
      <li class="align-li">
        <a href="https://www.cdc.gov/flu/protect/preventing.htm" target="_blank">CDC Says “Take 3” Actions to Fight the Flu</a>
      </li>
      <p>
        <strong>Breast Cancer Awareness Month</strong>
      </p>
      <p>October is
        <a href="http://www.nationalbreastcancer.org/what-is-breast-cancer?gclid=EAIaIQobChMI_diG8KzT1wIVE5N-Ch32BQs8EAAYAyAAEgKdHvD_BwE" target="_blank">Breast Cancer Awareness Month</a>. Next to skin cancer, breast cancer is the most common cancer among American women. Messaging should include the healthcare benefits the company provides for the prevention and treatment of breast cancer and educating employees about the following:</p>
      <li class="align-li">A broad overview of cancer</li>
      <li class="align-li">Breast cancer facts</li>
      <li class="align-li">Risk factors for breast cancer</li>
      <li class="align-li">Male breast cancer</li>
      <p>
        <strong>Cyber Security Month</strong>
      </p>
      <p>The Department of Homeland Security has issued October to be Cyber Security Month. Any employee that has access to a company email address or network is a potential target. Engage your IT department in messaging and brush up with these helpful and
        easy to understand guides:</p>
      <li class="align-li">
        <a href="https://shahmeeramir.com/5-things-you-need-to-teach-your-staff-about-cyber-security-a65e2514c081" target="_blank">5 Things You Need To Teach Your Staff About Cyber Security</a>
      </li>
      <li class="align-li">
        <a href="https://www.techrepublic.com/article/how-to-make-your-employees-care-about-cybersecurity-10-tips/" target="_blank">How to make your employees care about cybersecurity: 10 tips</a>
      </li>
      <li class="align-li">
        <a
          href="http://go.kaspersky.com/rs/kaspersky1/images/Top_10_Tips_For_Educating_Employees_About_Cybersecurity_eBook.pdf?mkt_tok=3RkMMJWWfF9wsRonuKXNcO%2FhmjTEU5z16OglWa%2BzlMI%2F0ER3fOvrPUfGjI4ITMZjI%2BSLDwEYGJlv6SgFQrDHMalq1LgPXxE%3D"
          target="_blank">Top 10 Tips For Educating Employees About Cybersecurity</a>
      </li>
      <p>
        <strong>Healthcare Reminders about Open Enrollment</strong>
      </p>
      <p>Healthcare is one of the most important benefits offered to employees so make sure your employees fully understand the open enrollment process. Even before open enrollment starts, outline insurance terminology, the purpose of open enrollment and
        specific details about the health care plans being offered.
        <a href="https://www.thebalance.com/key-points-about-open-enrollment-for-benefits-1919068" target="_blank">This guide provides an easy to understand breakdown of the open enrollment period for employees</a>
        that you can use to inform your messaging. Engage employees by asking them to submit questions to prepare a FAQ.
      </p>
      <p>
        <strong>Halloween Costume Contest</strong>
      </p>
      <a name="November"></a>
      <p>Halloween is a fun and light-hearted time of year. If employees dress up, consider hosting a costume contest to inject some workplace fun. Be sure to provide employees guidance on appropriate costume selection.
      </p>
      <p><a href="#content">back to the table of contents</a></p>
      <img src="<%= image_path('marketing_site/months/november.png')%>" alt="November">
      <p>November is a good time to reflect on communications strategies from the past year. What was your most effective communication strategy and how can you adapt that strategy to improve future messaging?
      </p>
      <h6>Recommended Messaging for November</h6>
      <p>
        <strong>Holiday Hours and Schedules:</strong>
      </p>
      <p>As this time of year typically adds stress to employees, inform them of adjusted holiday hours well in advance.</p>
      <p>
        <strong>No Shave November:</strong>
      </p>
      <p>
        <a href="https://us.movember.com/get-involved/move" target="_blank">Movember</a>, also called No Shave November, involves growing facial hair to raise awareness of men's health issues, such as prostate cancer, testicular cancer, and men's suicide.
        Messaging should focus on education. Include a facial hair contest with various categories to encourage engagement and employee participation.
      </p>
      <p>
        <strong>Diabetes Month Awareness:</strong>
      </p>
      <p>Both
        <a href="http://www.diabetes.org/diabetes-basics/statistics/" target="_blank">Type I and Type II diabetes are on the rise in America</a>. Help spread awareness in the workplace about Type I and Type II diabetes by educating employees on recognizing symptoms in themselves or family members.
      </p>
      <p>
        <strong>Continue Messaging on Open Enrollment:</strong>
      </p>
      <p>Continue to message employees about the benefits of the company healthcare plans, upcoming deadlines and
        <a href="http://www.benefitspro.com/2017/08/18/10-questions-asked-at-open-enrollment-time" target="_blank">provide resources for answering any questions</a>
        employees may have.
      </p>
      <p>
        <strong>Thanksgiving Celebration:</strong>
      </p>
      <p>Thanksgiving is a great time to show appreciation to employees. Encourage executives to send out messaging to employees with a special thank you for their hard work and contributions. Planning a company potluck, where employees bring in their
        favorite Thanksgiving dishes, is a great way to engage employees. If you have a few serious chefs in the office, a company cooking contest, where employees judge the entries, is another fun way to celebrate the holiday.
      </p>
      <p>
        <strong>Veteran’s Day:</strong>
      </p>
      <p>Every November 11th, the United States honors its military veterans. Make sure not to confuse this holiday, which celebrates all service members, with Memorial Day, which specifically honors who died while in military service. Consider messaging
        on issues facing veterans in the workplace.</p>
      <p>
        <strong>Great American Smokeout:</strong>
      </p>
      <a name="December"></a>
        <p>
          <a href="https://www.cancer.org/healthy/stay-away-from-tobacco/great-american-smokeout.html" target="_blank">The Great American Smokeout</a>
          recognizes the important step one can take to create a healthier life by eliminating tobacco. This observation takes place on the third Thursday of November. Encourage employees that use tobacco to take this opportunity to quit or encourage them to
          not smoke that day.
        </p>
        <p><a href="#content">back to the table of contents</a></p>
        <img src="<%= image_path('marketing_site/months/december.png')%>" alt="December">
        <p>December tends to fly by quickly and with many employees out of the office, plan messaging accordingly. Use this month to reflect on the year and encourage togetherness and community.
        </p>
        <h6>Recommended Messaging for December</h6>
        <p>
          <strong>Accomplishments for the year:</strong>
        </p>
        <p>A lot can happen in a year. Unless employees take time to reflect on everything they’ve done, they may not recognize their own contributions to the company. If appropriate, detail how the company performed in terms of hitting its growth and
          financial goals. Also communicate sincere appreciation for everyone’s hard work.
        </p>
        <p>
          <strong>Send out a holiday calendar:</strong>
        </p>
        <p>Many companies adjust their hours for the holidays. Send an up to date calendar clearly stating the adjusted hours and days off.
        </p>
        <p>
          <strong>Holiday Party:</strong>
        </p>
        <p>Company holiday parties can be a lot of fun. If your company organizes a holiday party, send out reminders about company policy, conduct codes, and responsible drinking.
        </p>
        <h3>Ongoing Messaging</h3>
        <p>In addition to these monthly messages, make sure to send out event reminders, new employee introductions and provide important company information on an ongoing basis.
        </p>
        <p>
          <strong>Welcome new hires with personalized messaging:</strong>
        </p>
        <p>The first few days on the job set the tone for an employee’s career. Welcome new staff with personalized emails, introducing them to the company.
        </p>
        <p>
          <strong>Business strategy communication from Management</strong>
        </p>
        <p>Employees don't want to be in the dark. Examples of pertinent information includes monthly goals, training opportunities, relevant market research and links to news articles featuring the company or its employees.
        </p>
        <p>
          <strong>Lunch and Learns:</strong>
        </p>
        <p>If your company doesn’t already have a lunch and learn program, consider putting one together built around your company's employee engagement goals. This article
          <a href="https://www.thebalance.com/learn-at-lunch-a-program-to-help-employees-grow-2276165" target="_blank">provides some great tips on starting a lunch and learn program</a>.</p>
        <h3>Now It’s Your Turn
        </h3>
        <p>
          <i>It’s easy to assume employees know the benefits offered to them. However, when you continuously inform your workforce about company offerings and overlooked benefits while providing interesting information in an easily digestible format, your
            employees will look forward to communications from HR. Remember,
          </i>
          <i>when planning out your own content calendar, don’t be</i>
          <i>
            afraid to experiment. This guide was designed to supplement your messaging ideas to create employee engagement.
          </i>
        </p>
        <p>
          <i>A struggle many HR departments have is knowing if their messaging strategy is on target for creating engaged employees. If you are looking to level-up your HR communications, get a free trial of
            <a href="https://airbo.com/" target="_blank">Airbo</a>
            - an easy, fun, and flexible microsite for HR professionals to manage employee communication and increase engagement.
          </i>
        </p>
      </div>
    </div>
  </div>
</div>
