/////////////////////////////////////////////////////////////////////////////////////////////////////////
/ =# Use this bit to continue where Jack left off at commit b4f601c3481416f170337d377945d231f9e8cf3b
/ =# with the fancy scrolling


/ #faq_toc
/   .relative
/     .floating_toc
/       = render 'faq_toc'
/ 
/ #faq_body
/   = render 'faq_body'
/ = javascript_include_tag 'application'
  
/////////////////////////////////////////////////////////////////////////////////////////////////////////////


#faq_body.module.left-col
  %h1.headline Frequently Asked Questions
  = render 'faq_body'
= content_for :javascript do
  = mp_track_page 'faq'

#faq_toc.module.right-col
  .need_help
    %h1.headline Need more help?
    %div.button_wrap
      = button_to 'Take Quick Tour', tutorial_path, :class => :quick_tour_link
    %div.button_wrap#contact_button
      = button_to 'Contact Us', '#', :class => :contact_us_link, :method => :get, :onclick =>"return false"
  .faq_menu
    = render 'faq_toc'