/////////////////////////////////////////////////////////////////////////////////////////////////////////
/ =# Use this bit to continue where Jack left off at commit b4f601c3481416f170337d377945d231f9e8cf3b
/ =# with the fancy scrolling


/ #faq_toc
/   .relative
/     .floating_toc
/       = render 'faq_toc'
/ 
/ #faq_body
/   = render 'faq_body'
/ = javascript_include_tag 'application'
  
/////////////////////////////////////////////////////////////////////////////////////////////////////////////



#faq_toc.module
  .need_help
    Need more help?
    = button_to 'Take Quick Tour', tutorial_path, :class => :quick_tour_link
    = button_to 'Contact Us', '#', :class => :contact_us_link, :method => :get, :onclick =>"return false"
  = render 'faq_toc'
#faq_body.module
  %h1 Frequently Asked Questions
  = render 'faq_body'
= content_for :javascript do
  = mp_track_page 'faq'
