<%= render layout: "pages/landing/hero" do %>
  <h1 class="white text-center">Fujifilm Case Study</h1>
<% end %>

<section class="padded">
<div class="row" >
  <div class="large-8 large-centered columns">

    <%=image_tag "case_studies/fujifilm/Fujifilm-logo-small.png",  style:"margin:0 0 -20px;max-width: 100px;"%>
    <!-- <h3>About FujiFilm</h3> -->
    <p>
    Fujifilm is a decentralized and diverse company. It employs 4,400 employees across more than 60 locations. Its employees represent a socio-economic cross-section of America, from remote sales people to hourly manufacturing employees.
    </p>
    <p>
    Fujifilm uses Airbo to drive year-round engagement in Benefits and Wellness Programs. With 84% of employees participating, Airbo helped Fujifilm decrease health care trend to 0% and increase Health Risk Assessment participation rates by 217%.
    </p>
  </div>
</div>
</section>


<section >
  <div class="row">
    <div class="large-8 large-centered columns">
      <h3 class="align_center">Tiles Created by Fujifilm</h3>
       <% (1..4).to_a.each do |i| %>
        <div class="large-3 small-6 columns" style1="min-height:205px">
          <%= image_tag "case_studies/fujifilm/fujitile#{i}.png", style1:'box-shadow: 1px 3px 2px #888888; max-height:200px;' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<div class="row">
  <div class="large-8 large-centered columns">
    <h3>Problem</h3>
    <p>
    It was 2011 and Carolyn Gordon, Director of Benefits at Fujifilm, was looking for new ways to engage a geographically dispersed, multigenerational, and diverse workforce in the company’s benefits and wellness programs. She found herself facing some big challenges:
    </p>
    <ul class="list">
      <li>Only 17% of eligible employees participated in the Health Risk Assessment </li>
      <li>The Incentive Rewards Program was barely being utilized</li>
      <li>2011 health care trend stood at 12%</li>
    </ul>

    <p>
    “We were doing everything we should have been doing,” Carolyn said. Fujifilm had a wellness program as well as lots of well-designed communications and incentives in place. Even so, employees weren’t participating at the rate Carolyn expected. They were ignoring the newsletters and posters that were the entryway into the programs that Fujifilm invested in.
    </p>

    <p>
    It’s not surprising that Carolyn was facing challenges. In the U.S., Fujifilm is a decentralized and diverse company. It has 4,400 employees across more than 60 locations. Its employees represent a socio-economic cross-section of America, from remote sales people to hourly manufacturing employees. In addition to this, Fujifilm must meet the needs of a multi-generational population with rapidly changing communication preferences.
    </p>

    <h3>Solution</h3>

    <p>
    In search of increased engagement and more helpful data, Carolyn discovered Airbo. With counsel from Willis Towers Watson, she decided to try a pilot at one location, a plant outside of Boston with an enthusiastic local HR manager. Carolyn believed that “if Julie can’t get people to do something, it can’t be done.”
    </p>

    <p>
    As soon as Carolyn and her team rolled out the Airbo pilot, she noticed a dramatic difference. Nearly 70% of the employees at the plant joined. “We’ve never gotten that type of success,” Carolyn says with delight. “We usually are happy with 30%.” The groundswell of interest even led some of the less tech-savvy plant employees, who didn’t speak English or have regular access to computers at work, to log in to Airbo from home with the help of their children.
    </p>

    <hr />

    <h3>The ROI: Higher HRA Participation, Lower Medical Trend</h3>

    <p>
    Carolyn decided to roll out Airbo to the entire employee population across all locations. It didn’t take long to see results. Within the first year, Health Assessment completion rates increased from 17% to 54%. Incentive reward program participation jumped, and health care trend decreased from 12% in 2011 to 0% in 2012. By 2013, health care trend dropped even further to -5%. According to Carolyn, Airbo contributed to Fujifilm saving more than $5 million of their $565 million medical budget.
    </p>

    <p>
    “We interacted with people in an entirely different way, and they appreciated it,” Carolyn explains. “And, we could suddenly track how many people were actually looking at our print communications.” Guided by the numbers, Fujifilm altered its communications mix with less print and more digital. The switch reduced administrative overhead, decreased printing costs, and allowed Carolyn and her team to make real-time adjustments to its communication strategies.

    </p>

    <h3>Moving from Campaigns to Year-Round Communication</h3>

    <p>
    At the start, Fujifilm used Airbo for two to four-week campaigns that closely mirrored the way print campaigns work. But the data showed that the start-stop nature of campaigns produced big drops in engagement. As Airbo’s CEO Vlad Gyster puts it, “Imagine if Facebook turned on for a few weeks, and then off for months at a time. It’s not a recipe for sustainable engagement.”
    </p>

    <p>
    Just like Facebook builds a habit of engagement in its users, Fujifilm wanted to build a habit of engagement in its employees. So, the team began transitioning from campaigns to a regular communication schedule that more closely matched the way consumer tools drive ongoing engagement. They settled on releasing content every other week. At first, there was a fair bit of concern that communicating with employees so frequently would actually decrease engagement. After all, who wants to constantly hear about wellness and benefits? As it turns out, a lot of people do. Moving from campaigns to regular communication drove more employees to engage more frequently.
    </p>

  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns">
    <p>
    <%=image_tag "case_studies/fujifilm/activeparticipantmonthly.png"%>
    </p>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <h3>Cross Generational Engagement</h3>

    <p>
    Another myth that the data helped dispel involved how various age groups adopt new media technologies. At the start, the pervasive hypothesis was that short, interactive content would mainly attract Millennials. In fact, all eligible groups of employees were equally represented.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns">
    <p>
    <%=image_tag "case_studies/fujifilm/agedistribution.png"%>
    </p>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <h3>Smart Investments </h3>

    <p>
    More meaningful analytics have also helped Carolyn make smarter investments. For example, in 2015, the data showed that the sales population lagged in participation. After deploying targeted outreach strategies, like in-person meetings, participation increased by 45%. The team was able to build a bridge to a key part of the workforce that would have otherwise been missed.
    </p>

    <h3>Engaging Employees in Many Topics and Resources</h3>

    <p>
    Today, Fujifilm and its Towers Watson consultants use Airbo as a central place from which to drive engagement in a wide variety of initiatives, from wellness to health care reform. In addition to providing a platform to create original content, Airbo is used to drive use of free vendor resources that are often underutilized. For example, Fujifilm linked a Tile to a financial education podcast from Fidelity, and asked employees a question about the content.
    </p>

    <p>
    Carolyn and her team regularly collect and analyze employee feedback about their efforts. By the end of the 3rd quarter of 2015, 84% of eligible Fujifilm employees have joined Airbo. And, more than 65% of employees who have joined log in monthly. That’s a level of engagement that drives serious results.
    </p>

    <p>
    Employee response continues to be overwhelmingly positive. In surveys, employees write the kind of statements that look like paid testimonials: “What a great incentive to motivate employees, it’s fun and healthy!!” said one employee. “I feel like Fujifilm really cares about us.” That’s a big change from just a few years ago.
    </p>

    <table>
      <thead>
        <tr>
          <th colspan="2">Statements and Percentage of Employees Who Agreed</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>I have a greater appreciation of my retirement and financial planning benefits</td><td>96%</td></tr>
        <tr><td>Participating reminded me to do the Health Assessment and get my biometrics by 11/15</td><td>89%</td></tr>
        <tr><td>I reviewed or updated my retirement contribution thanks to Airbo</td><td>72%</td></tr>
        <tr><td>I have a greater appreciation for my benefits</td><td>91%</td></tr>
        <tr><td>I like to learn about my benefits through participating</td><td>93%</td></tr>
        <tr><td>Participating helped remind me to enroll for benefits by the 11/15 deadline</td><td>89%</td></tr>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: "pages/landing/footer" %>
