<section class="case_study_title fujifilm">

  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="company_name">Fujifilm</h1>
    </div>
  </div>

</section>

<section class="about_case_study fujifilm">
  <div class="row testimonial">
    <div class="large-7 columns quote">
      <h2 class="client_quote">Before this came out, I never took the time to learn about the additional benefits offered.</h2>
      <h3 class="client_name">&mdash;<span>Fujifilm employee from a plant in the Midwest</span></h3>
    </div>
    <div class="large-5 columns client_image">
      <%= image_tag "case_studies/fujifilm_mainpic.png", "alt" => "Fujifilm Blimp" %>
    </div>
  </div>
</section>

<section class="about_client">
  <div class="row">
    <div class="large-3 columns logo">
      <%= image_tag "case_studies/fuji_logo.jpg", "alt" => "Fujifilm" %>
    </div>
    <div class="large-6 columns description">
      <h3>About the client</h3>
      <p>In the U.S., Fujifilm is a device manufacturing company with 4,400 employees across 60+ locations. Its workforce is made-up of almost every type of population, from sales to manufacturing.</p>
    </div>
    <div class="large-3 columns board_uses">
      <h3>Utilized Board for:</h3>
      <ul>
        <li>Wellness</li>
        <li>Financial Education</li>
        <li>Open Enrollment</li>
        <li>Local initiatives & announcements</li>
      </ul>
    </div>
  </div>

</section>

<section class="case_study_content asha">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Looking for new ways to engage employees</h2>
      <p>
        Carolyn Gordon, Director of Benefits at Fujifilm, was looking for new ways to engage a diverse workforce. Traditional communications like newsletters and posters weren’t moving the needle on metrics like Health Assessment completion rates. In search of better engagement and more data, she decided to launch Airbo.
      </p>

      <h2>One place to communicate about any topic</h2>
      <p>Airbo gives Carolyn's team and her Towers Watson consultants one place to drive engagement in a wide variety of topics, from wellness to health care reform. In addition to providing a platform to create original content, the tool was also used to drive utilization of free resources provided by vendors, like financial education podcasts from Fidelity. </p>
    </div>
  </div>

  <!-- ============= small sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Sample Fujifilm tiles</p>
    </div>
    <div class="large-12 columns">

      <div class="tile_thumbnail fujifilm_presentation"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tiles_presentation.png", "alt" => "Did you miss out on the Choice Fund Plan presentation?" %>
        </div>
        <div class="headline">
          <span class="text">Did you miss out on the Choice Fund Plan presentation?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_takestwo"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tiles_takestwo.png", "alt" => "It takes two" %>
        </div>
        <div class="headline">
          <span class="text">It takes two</span>
        </div>
      </div></div>

      <div class="tile_thumbnail fujifilm_new"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tile_new.png", "alt" => "There's something different about enrollment this year..." %>
        </div>
        <div class="headline">
          <span class="text">There's something different about enrollment this year...</span>
        </div>
      </div></div>
      
      <div class="tile_thumbnail fujifilm_hsa"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/fujifilm_tile_hsa.png", "alt" => "Have you met the HSA?" %>
        </div>
        <div class="headline">
          <span class="text">Have you met the HSA?</span>
        </div>
      </div></div>

    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Metrics to prove impact on behavior</h2>
      <p>Over 60% of Fujifilm employees participate in Airbo. Carolyn and her team have been able to show a real impact on employee behavior -- Health Assessment completion rates jumped from 17% in 2011 to 54% in 2012.</p>

<p>And employees appreciate the new approach:</p>
<ul class="stats">
  <li><span class="boldstats">90%</span> said they have a greater appreciation for their benefits after participating</li>
  <li><span class="boldstats">91%</span> said they would recommend Airbo to a friend</li>
  <li><span class="boldstats">97%</span> said they like to learn about their benefits through Airbo</li>
</ul>
</p>
    </div>
  </div>
</section>


<!-- ============= full sample tiles ============= -->

<section class="hidden_large_tiles fujifilm_presentation">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tiles_presentation.png", "alt" => "Did you miss out on the Choice Fund Plan presentation?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Did you miss out on the Choice Fund Plan presentation?</div>
      <div class="tile_supporting_content">No fear! We have recorded one of them for you. Just click the image above to see the presentation.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Points for watching!
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">I Watched The Presentation</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_takestwo">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tiles_takestwo.png", "alt" => "It takes two" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">It takes two</div>
      <div class="tile_supporting_content">This year, you must complete BOTH the Health Assessment & the Health Screening to get a $360 premium credit. You'll find out important numbers from your screening that can help keep you healthy. And, your assessment report will be even more helpful when you enter your screening numbers.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What do you have to do by Nov 15 to get $360?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Screening (Biometrics)</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Health Assessment</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Both The Biometrics And The Health Assessment</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_new">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tile_new.png", "alt" => "There's something different about enrollment this year..." %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">There's something different about enrollment this year...</div>
      <div class="tile_supporting_content">You MUST enroll to have medical, dental and vision coverage for 2014. If you don't enroll by Nov 15, you won't have coverage, except for life insurance.You will also not receive a credit for waiving coverage. Under Health Care Reform law, you must have health insurance starting January 1, 2014.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What happens if you don't enroll by November 15?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">You Wont Have Coverage, Except For Life Insurance</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">You Will Have The Same Coverage You Do Now</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">You Will Have Medical, Dental And Vision Coverage</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles fujifilm_hsa">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/fujifilm_tile_hsa.png", "alt" => "Have you met the HSA?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Have you met the HSA?</div>
      <div class="tile_supporting_content">A Health Savings Account (HSA) comes with the Cigna Choice Fund Plan. It helps you save money since Fujifilm puts money in, you can add money, and you never pay taxes on the money you put in, spend on qualified health care expenses, or interest earned. Plus, the money is always yours to keep.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Do you pay taxes on your HSA money?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Yes, All Money You Spend Must Be Taxed</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Sometimes</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Not When Spent On Qualified Health Care Expenses</a></div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
$('.tile_thumbnail.fujifilm_presentation').click(function(e) {
  $('.hidden_large_tiles.fujifilm_presentation').lightbox_me();
});
$('.tile_thumbnail.fujifilm_takestwo').click(function(e) {
  $('.hidden_large_tiles.fujifilm_takestwo').lightbox_me();
});
$('.tile_thumbnail.fujifilm_new').click(function(e) {
  $('.hidden_large_tiles.fujifilm_new').lightbox_me();
});
$('.tile_thumbnail.fujifilm_hsa').click(function(e) {
  $('.hidden_large_tiles.fujifilm_hsa').lightbox_me();
});
</script>