<% content_for :page_title, 'Airbo' %>

<div class="marketing-site-home">
  <%= render partial: "pages/gallery_partials/gallery" %>
  <%= render partial: "pages/gallery_partials/secondary_hero" %>
  <%= render partial: "pages/gallery_partials/clients_list" %>
  <%= render partial: "pages/gallery_partials/value_props" %>
  <%= render partial: "pages/gallery_partials/analytics" %>
  <%= render partial: "pages/gallery_partials/final_cta" %>
</div>
