<% content_for :page_title, 'Airbo' %>

<div class="marketing-site-home">
  <%= render partial: "pages/partials/home/gallery" %>
  <%= render partial: "pages/partials/home/secondary_hero" %>
  <%= render partial: "pages/partials/home/clients_list" %>
  <%= render partial: "pages/partials/home/value_props" %>
  <%= render partial: "pages/partials/home/analytics" %>
  <%= render partial: "pages/partials/home/final_cta" %>
</div>
