<section class="case_study_title heineken">

  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="company_name">Heineken USA</h1>
    </div>
  </div>

</section>

<section class="about_case_study heineken">
  <div class="row testimonial">
    <div class="large-7 columns quote">
      <h2 class="client_quote"> H.Engage was a fantastic tool for us to reiterate key messaging around the benefits we offer as well as the tools we provide to enable employees to make the best decisions for themselves and their families.</h2>
      <h3 class="client_name">&mdash;<span>Carole Sizemore</span>, Senior Director, Total Rewards</h3>
    </div>
    <div class="large-4 columns client_image">
      <%= image_tag "case_studies/Heineken_csizemore.jpg", "alt" => "Carole Sizemore , Heineken" %>
    </div>
  </div>
</section>

<section class="about_client">
  <div class="row">
    <div class="large-3 columns logo">
      <%= image_tag "case_studies/heineken_logo.jpg", "alt" => "Heineken" %>
    </div>
    <div class="large-6 columns description">
      <h3>About the client</h3>
      <p>Heineken USA employs over 500 people in the United States. Headquartered in White Plains, New York, they have seven regional offices, but predominantly their workforce works remotely from major metropolitan areas all over the country.</p>
    </div>
    <div class="large-3 columns board_uses">
      <h3>Utilized board for:</h3>
      <ul>
        <li>Open Enrollment education</li>
        <li>Driving use of enrollment & plan selection resources</li>
        <li>Boosting auxiliary benefits awareness</li>
      </ul>
    </div>
  </div>

</section>

<section class="case_study_content heineken">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Capturing the attention of a busy workforce</h2>
      <p>
        During Open Enrollment, Heineken needed to focus busy employees on considering the new Health Savings Account plan. To understand the plan’s full value, Heineken procured a decision support tool and created a comprehensive enrollment guide. Yet it was clear getting employee attention would be a challenge.
      </p>

      <h2>The process</h2>
      <p>Heineken partnered with their consultant G2 Communications Group to deploy H.Engage. Together, they created four to six Tiles per week that highlighted decision support tools, H.S.A. education, and auxiliary benefits that often went unnoticed.</p>
    </div>
  </div>

  <!-- ============= small sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Sample Heineken tiles</p>
    </div>
    <div class="large-12 columns">

      <div class="tile_thumbnail heineken_secret"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_dontkeepthissecret.png", "alt" => "Don't Keep This Secret" %>
        </div>
        <div class="headline">
          <span class="text">Don't Keep This Secret</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_know"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_beintheknow.png", "alt" => "Be In The Know" %>
        </div>
        <div class="headline">
          <span class="text">Be In The Know</span>
        </div>
      </div></div>

      <div class="tile_thumbnail heineken_success"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_setyourselfup.png", "alt" => "Set Yourself Up For Success" %>
        </div>
        <div class="headline">
          <span class="text">Set Yourself Up for Success</span>
        </div>
      </div></div>
      
      <div class="tile_thumbnail heineken_hsa"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/heineken_tile_hsatripletax.png", "alt" => "HSA: Triple Tax Savings" %>
        </div>
        <div class="headline">
          <span class="text">HSA: Triple Tax Savings</span>
        </div>
      </div></div>

    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Participation tripled</h2>
      <p>Within six weeks, over 68% of employees joined the Heineken Board. 24% of users were recruited by a colleague and over 670 peer-to-peer invitation emails were sent.</p>

      <p>The Board directed employees to the Open Enrollment guide, where the total number of visits tripled over 2012.</p>

      <p>Each week, when new tiles were released, there was a corresponding spike in utilization of the decision support tools that were linked to a tile:</p>

      <%= image_tag "case_studies/heineken_image_chart.png", "alt" => "Heineken Activity Chart", "id" => "support_tools_chart" %>

      <p>Most importantly, more than 60% of employees selected the new HSA plan. As Carole Sizemore put it: “The expectation for the first year was 40% enrollment in the new plan, so the tools and information clearly led to this outcome."</p>

      <p>Gale Golden, Principal of G2 Communications Group added: “Using H.Engage was like deploying a proven campaign strategy that had 3x the budget."</p>
    </div>
  </div>
</section>


<!-- ============= full sample tiles ============= -->

<section class="hidden_large_tiles heineken_secret">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_dontkeepthissecret.png", "alt" => "Don't keep this secret" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Don't Keep This Secret</div>
      <div class="tile_supporting_content">It pays to share. Answer questions, learn about benefit choices, invite colleagues and meet “Alex” throughout the open enrollment period to earn raffle tickets toward $1,000 off your 2014 health care premiums. Check your progress at the top of the screen.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">10</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Where can I find how many raffle tickets I've earned?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">It's A Secret</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">At The Top Of This Page</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">In My Email</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_know">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_beintheknow.png", "alt" => "Be In The Know" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Be In The Know</div>
      <div class="tile_supporting_content">Doctor's appointment from my laptop. Getting paid to enroll in benefits. New employee perks at work, including discounts at retail stores. A virtual benefits counselor. Read all about this and more in the 2014 Benefit Enrollment Guide. Just click on the picture and you’ll be in the know.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          The 2014 Benefit Enrollment Guide includes information on:
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The New choice Fund Plan</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The New Teledoc Program</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The New Perks@Work Discount Program</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_success">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_setyourselfup.png", "alt" => "Set Yourself Up For Success" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Set Yourself Up for Success</div>
      <div class="tile_supporting_content">Click on the image to visit Heineken's Star Academy to review all of the Benefits Webinars and slides to assist in making a decision for your 2014 Benefits. We have general info sessions, as well as targeted sessions including Serious Health Conditions and Having a Baby. Check out the Star Academy!</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
         Where can I view benefits webinars to learn more about my options?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Star Academy</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Star Track</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Star Trek Website</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles heineken_hsa">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/heineken_tile_hsatripletax.png", "alt" => "HSA: Triple Tax Savings" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">HSA: Triple Tax Saving</div>
      <div class="tile_supporting_content">The HSA is a tax advantaged account that is paired with the Choice Fund to help you save for future health care expenses. The HSA offers triple tax savings -- the money goes into the account tax free, can be invested to grow tax free and, when used for qualified medical,comes out tax free.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">5</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          When does the HSA provide tax advantage?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">When It Goes In</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">When Money is Invested</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">When I Take Money Out</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
$('.tile_thumbnail.heineken_secret').click(function(e) {
  $('.hidden_large_tiles.heineken_secret').lightbox_me();
});
$('.tile_thumbnail.heineken_know').click(function(e) {
  $('.hidden_large_tiles.heineken_know').lightbox_me();
});
$('.tile_thumbnail.heineken_success').click(function(e) {
  $('.hidden_large_tiles.heineken_success').lightbox_me();
});
$('.tile_thumbnail.heineken_hsa').click(function(e) {
  $('.hidden_large_tiles.heineken_hsa').lightbox_me();
});
</script>