<% content_for :page_title, 'Airbo' %>

<main id="content" role="main">
  <%= render partial: "pages/front_theme/main_hero" %>
  <%= render partial: "pages/front_theme/fuji_case_study" %>
  <%= render partial: "pages/front_theme/benefits_hero" %>
  <%= render partial: "pages/front_theme/roi" %>
  <%= render partial: "pages/front_theme/employee_quote" %>
</main>
