<%content_for :head do%>

  <%= split_stylesheet_link_tag "app-internal", :media => "all", :split_count => 5 %>
  <%= javascript_include_tag 'app-internal' %>
  <style>
body.pages-home .hero {
  height: 500px;
  color:white;
}

body.pages-home .hero h1{
  line-height:1.57
}

body.pages-home .hero.modified {
  background-image: url(<%=image_path('landing/fluff.png')%>);
}

body.pages-home .topics h3 {
  margin-top: auto;
}




body.pages-home section.clients {
  padding-top:40px;
  padding-bottom:40px;
}

.tile_with_tags .explore_tile .like_copy_tile, .client_admin_explore .tiles .explore_tile .like_copy_tile {
  display:none;
}

.all_tile_tags {
    background: #fff;
    padding: 0 7px 5px 7px;
}

.tile_with_tags .explore_tile .all_tile_tags .tile_tag, .client_admin_explore .tiles .explore_tile .all_tile_tags .tile_tag {
    background-color: transparent;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
}



body.pages-home .topics .topic {
  margin-right: 5px;
  margin-left: 15px;
}

h3{
 margin:1em 0;
} 

 .explore-content{
   background-color: rgb(217,223,233);
  }

 .panel-text {

   padding-top: 25%;
   padding-bottom: 20%;
 }
 .home-panel{
   min-height:550px;
   background-size:100%;
   margin-top:10px;
   background-repeat: no-repeat;
 }
 .full-band{
   margin-bottom: 50px;
   min-width: auto;
 }

 .center-panel{
   text-align:center
 }

 .extra_tags_list{
  display:none;
 }

  </style>

  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})
  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header:false,  hero_class: ""} do %>
  <h1 class="text-center">Modern Employee Communications for HR</h1>
  <h3 class="text-center">Airbo is a simple and engaging Employee Communication Platform.</h3>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Organizations from 20 to 75,000 employees use Airbo to make employee communications more effective.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>
<a id="tour"></a>
<div class="row" style="padding-top:70px" >
  <div class="small-8 columns small-centered center-panel" >
    <div class="row" >
      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon01.png"%>
      </div>

      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon02.png"%>
      </div>

      <div class="small-4 columns center-panel" >
        <%=image_tag "landing/sb-wellness-icon03.png"%>
      </div>
    </div>
  </div>
</div>
<div class="row full-band">
  <div class="small-8 columns small-centered center-panel">
    <div class="row">
      <div class="small-4 columns center-panel">
        <h3>Tile</h3>
        <p>Bite-sized, interactive content that's fast to create.</p>
      </div>

      <div class="small-4 columns center-panel">
        <h3>Board</h3>
        <p>Simple place to post Tiles for employees to read.</p>
      </div>

      <div class="small-4 columns center-panel" >
        <h3>Metrics</h3>
        <p>Send Tiles and see who read and took action.</p>
      </div>
    </div>
  </div>
</div>
<div id="tabs">
  <ul class="tabs text-center">
    <li><a href="#tab-1" >Wellness Starter Kit</a></li>
    <li><a href="#tab-2">Health Plan Basics</a></li>
    <li><a href="#tab-3">Internal Validation</a></li>
  </ul>
  <div class="explore-content">
    <%@tile_set.each_with_index do |set, idx| %>. 
      <%params[:public_slug] = @homepage_boards.keys[idx]%>
      <div id="tab-<%=idx+1%>" class="tab">
        <%# render partial: 'shared/tiles/user_progress', locals: {raffle: current_user.demo.raffle} %>
        <%= render 'shared/tile_wall', set.merge(path_for_more_tiles: tiles_path, hdr_text: @homepage_boards.values[idx]) %>
      </div>  
    <%end%>
  </div>
</div>

<%= render partial: "pages/landing/request_form" %>
<%= render partial: "pages/landing/footer" %>
