<%content_for :head do%>

  <style>
/*
body.pages-home .hero {
  height: 500px;
  color:white;
}
*/
body.pages-home .hero h1{
  /*line-height:1.57*/
}


body.pages-home section.clients {
  /*
  padding-top:40px;
  padding-bottom:40px;
    */
}

h3{
 margin:1em 0;
} 

/*
 .full-band{
   margin-bottom: 50px;
   min-width: auto;
 }

 .center-panel{
   text-align:center
 }
*/
  </style>

  <style version="v9-starter-kit">

body.pages-home .topics{
  /*
  background-color:#f9f9f9; 
  margin-bottom:0px;
    */
}
body.pages-home .topics .topic {
  /*
  background-size: cover;
  background-color: #000;
    */
}

/* line 126, ../../app/assets/stylesheets/external/home.scss */
body.pages-home .topics .topic img {
  /*
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
    */
}

/* line 119, ../../app/assets/stylesheets/external/home.scss */
body.pages-home .topics .topic .topic_cell {
  /*
  display: table-cell;
  padding-top: 0px;
  width: 238px;
  min-width:238px;
  height: 300px;
  border-radius: 3px;
  background-size: cover;
  border-bottom:3px solid #dfdfdf;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  padding: 17px 17px;
  position: relative;
    */
}
body.pages-home .topics .topic .topic_cell:hover {
/*  border-bottom-color: #48bfff;*/
}



/* line 142, ../../app/assets/stylesheets/external/home.scss */
body.pages-home .topics .topic h1.title {
  /*
  max-width: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  text-align:left;
  margin: 0;
    */
}
body.pages-home .topics .topic h3.title {
 /* font-weight:normal;
  text-align:left;
  margin:0;
    */
}

/* line 156, ../../app/assets/stylesheets/external/home.scss */
body.pages-home .topics .topic .subtitle {
  /*color: white;
  line-height:1.5;
  text-align: left;
  margin-top: 5px;
  margin-bottom:0px;
    */
}


body.pages-home .topics .topic .shadow_overlay {
  background-color: rgba(21, 47, 61, 0.1);
}

body.pages-home .topics .topic .shadow_overlay:hover {
    background-color: rgba(21, 47, 61, 0.9);
}

.board-name h3{
  margin:0;
}

body.pages-home .topics .topic .subtitle.num-tiles{
  font-size: 12px;
}

.cover-footer{
  position:absolute;
  bottom:17px;
}
body.pages-home .topics .topic .cover-footer h2 {
 font-weight: bold; 
 font-size:14px;
}


  </style>
  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})



  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header:false,  hero_class: ""} do %>
  <h1 class="text-center">Modern Employee Communications for HR</h1>
  <h3 class="text-center">Airbo is a simple and engaging Employee Communication Platform.</h3>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Organizations from 20 to 75,000 employees use Airbo to make employee communications more effective.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>
<a id="tour"></a>
<div class="row" style="padding-top:70px" >
  <div class="small-8 columns small-centered center-panel" >
    <div class="row" >
      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon01.png"%>
      </div>

      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon02.png"%>
      </div>

      <div class="small-4 columns center-panel" >
        <%=image_tag "landing/sb-wellness-icon03.png"%>
      </div>
    </div>
  </div>
</div>
<div class="row full-band">
  <div class="small-8 columns small-centered center-panel">
    <div class="row">
      <div class="small-4 columns center-panel">
        <h3>Tile</h3>
        <p>Bite-sized, interactive content that's fast to create.</p>
      </div>

      <div class="small-4 columns center-panel">
        <h3>Board</h3>
        <p>Simple place to post Tiles for employees to read.</p>
      </div>

      <div class="small-4 columns center-panel" >
        <h3>Metrics</h3>
        <p>Send Tiles and see who read and took action.</p>
      </div>
    </div>
  </div>
</div>

 <section class="topics">
<h2 class="text-center padded-v-20">Explore Boards</h2>
<div class="row padded-v-20">
  <div class="columns small-12 small-centered">
    <div class="row ">
      <%@sorted_demos.each do |board|%>
        <div class="columns small-3">
        <%= render partial: "pages/landing/topic", locals: {board:board}%> 
      </div>
    <%end%>
    </div>
  </div>
</div>
 </section>
<%# render partial: "pages/landing/request_form" %>
<a id="sign_up_form">
<section id="sign_up_block" class="join">
  <div class="join_block center">
    <h2 class="align_center">Join to Discover</h2>
    <p class="align_center">Create a free account to see how companies use Airbo.</p>
    <%= render partial: "pages/landing/form" %>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>
</a>
<%= render partial: "pages/landing/footer" %>
