<div class="v-08-01-2016">
  <section class="bg-blue tall white hero" >
    <%= render partial: "pages/landing/header" %>
    <div class="landing-hero-text">
      <h1>Get Their Attention</h1>
      <h3>
        HR and Corporate Communications use Airbo to modernize employee communcations.</h3>
      <div class="email-sign-up-form">
        <input type="text" placeholder=" Enter your work email">
        <input type="submit" value="Sign Up">
      </div>


    </div>
  </section>

  <section class="featured-news-section">
    <div class="clients_section row">
      <p class="text-center featured-news"><span class="featured-news-bold">Featured News: </span>"Airbo CEO Vlad Gyster named Top 50 Benefits Technology Innovator." - Employee Benefit News</p>
    </div>
  </section>

  <section class="product-hero">
    <div class="row full-band">
      <div class="product-text small-7 columns">
        <h1>Employee communication technology for the 8 second attention span</h1>
        <p class="sub-product-header">
          Airbo makes HR topics feel fun, simple and visual so employees read, understand and participate.
        </p>
        <div class="row">
          <%= image_tag("landing/time-logo.png", class: "product-img time-img") %>
          <div class="small-3 columns">
          </div>
          <div class="small-9 columns">
            <p class="time-quote">
              "The average attention span fot the notoriously ill-focused golfish is nine seconds, but according to a new study from Microsoft Corp., people now generally lose concentration after eight seconds, highlighting the effects of an increasingly digitalized lifestyle on the brain." - Time, May 2015
            </p>
          </div>
        </div>
      </div>

      <div class="small-5 columns">
        <%= image_tag("landing/product_img_one.png", class: "product-img") %>
      </div>
    </div>
  </section>

  <section class="product-hero product-hero-end">
    <div class="row full-band">
      <div class="small-5 columns">
        <%= image_tag("landing/product_img_two.png", class: "product-img-two") %>
      </div>
      <div class="product-text small-7 columns">
        <h1>Enterprize content for the Buzzfeed generation</h1>
        <p class="sub-product-header">
          Airbo helps you deliver content based on consumer best practices. Save time and budget by copying content from an exhaustive library, creating you own in minutes, or using our affordable content creation services.
        </p>
        <div class="row">
          <%= image_tag("landing/pew-logo.png", class: "product-img time-img") %>
          <div class="small-3 columns">
          </div>
          <div class="small-9 columns">
            <p class="time-quote">
              "Millenials ocertake Baby Boomers as America's largest generation." - Pew Reasearch Center, April 2016
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sign_up_block" class="join">
    <div class="join_block center">
      <h2 class="text-center">Join to Discover</h2>
      <p class="text-center">Create a free account to see how companies use Airbo.</p>
      <%= render partial: "pages/landing/form" %>
      <%= render partial: "pages/landing/logos" %>
    </div>
  </section>


  <footer id="pageFtr" class="landing-footer">
    <div class="section-one">
      <div class="full-band">

      </div>
    </div>
    <div class="section-two">
      <div class="full-band">
        <div class="row">
          <div class="small-4">
            <div class="logo">
              <%= link_to "/" do %>
                <div class="logo_image"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
