<%content_for :head do%>
  <style>
body.pages-home .hero {
  height: 300px;
}

   .panel-text {

     padding-top: 25%;
     padding-bottom: 20%;
   }
   .home-panel{
     min-height:350px;
     background-size:100%;
     margin-top:10px;
     background-repeat: no-repeat;
   }
   .full-band{
    margin-bottom: 100px;
    min-width: auto;
   }

   .center-panel{
     text-align:center
   }

   section.clients{
     margin-bottom:30px;
   }

   body.pages-home .topics h3 {
     margin-top: auto;
   }
  </style>

  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})
  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true} do %>
  <h1>Employee Communications that Employees Love.</h1>

  <!--div class="align_center"><%# link_to "Join", "#sign_up_block", class: "large button green",  style: "padding:15px 40px" %></div-->
  <%= render "pages/landing/schedule_demo_form" %>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Used by organizations with 20 to 75,000 employees.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>
<div class="row full-band">
  <div class="columns small-6 ">
    <div class="home-panel panel-text" style="vertical-align:middle">
      <h2>Interactive content for today's attention span.</h2> 
      <p>Use Tiles to connect with employees in a way that's relevant for them. Tiles are bite-sized, visual and fun so employees read, understand and participate.
      </p>
    </div>
  </div>

  <div class="columns small-6">
<a id="tour"></a>
      <div class="home-panel" >
      <%=image_tag("landing/tilevsemail.png")%>
    </div>
  </div>
 
</div>

<div class="row  full-band">

  <div class="columns small-6">
    <div class="home-panel" style="background-image:url(<%=image_path('landing/organize-inf.gif')%>)">
    </div>
  </div>

  <div class="columns small-6">
    <div class="home-panel panel-text" style="padding-top:15%">
      <h2>One place to get many priorities done.</h2> 
      <p>
      Post Tiles about company news, benefits, events and more to your organization’s Board, a private site hosted by Airbo. Whereas an intranet is like a filing cabinet that stores content out of view, Airbo is like a bulletin board that showcases what's new.
      </p>
    </div>
  </div>
</div>
<div class="row 6 full-band">
  <div class="columns small-6 ">
    <div class="home-panel panel-text" style="padding-top:15%" >
      <h2>Track engagement in real-time.</h2> 
      <p>
      See your employees engage, find out what employees are interested in, and spend less time following up.
      </p>
    </div>
  </div>

  <div class="columns small-6">
      <div class="home-panel" style="background-image:url(<%=image_path("landing/measure-inf.gif")%>)">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-10 columns small-centered center-panel">
    <div class="row">
      <h2 class="text-center padded-v-20">Easy to Use</h2>
      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon01.png"%>
      </div>

      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon02.png"%>
      </div>

      <div class="small-4 columns center-panel" >
        <%=image_tag "landing/sb-wellness-icon03.png"%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-10 columns small-centered center-panel">
    <div class="row">
      <!--h2 class="text-center padded-v-20">Easy to Use.</h2-->
      <div class="small-4 columns center-panel">
        <%#image_tag "landing/sb-wellness-icon01.png"%>
        <h3>1. Add Tiles to Your Board</h3>
        <p> Copy Tiles from a robust library, or create your own in minutes.</p>
      </div>

      <div class="small-4 columns center-panel">
        <%#image_tag "landing/sb-wellness-icon02.png"%>
        <h3>2. Engage Employees</h3>
        <p>New Tiles are summarized in an attention-grabbing email that you send to employees every 1 to 2 weeks.</p>
      </div>

      <div class="small-4 columns center-panel" >
        <%#image_tag "landing/sb-wellness-icon03.png"%>
        <h3>3. See Results</h3>
        <p>Employees use the email to log into Airbo. As they interact with Tiles, you see real-time activity and feedback.</p>
      </div>
    </div>
  </div>
</div>


<main>

  <section class="topics">
    <div class="topics_section row">
      <h2 class="text-center" >Explore Tiles</h2>
      <h3 class="text-center">What's your most important priority?</h3>
      <div class="topics_container">
        <%= render partial: "pages/landing/topic", locals: {title: "Wellness", link: page_path("wellness"), img: "wellness",  comming_soon: false} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Compliance", link: "", img: "compliance",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Onboarding", link: "", img: "recruitment",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Benefits", link: "", img: "benefits",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Management", link: "", img: "management",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Events", link: "", img: "events",  comming_soon: true} %>
      </div>
    </div>
  </section>

  <section id="sign_up_block" class="join">
    <div class="join_block center">
      <h2 class="align_center">Join Airbo to discover engaging content.</h2>
      <p class="align_center">Get started exploring today, it's free forever.</p>
      <%= render partial: "pages/landing/form" %>
    </div>
  </section>

</main>
<%= render partial: "pages/landing/footer" %>
