<%content_for :head do%>
  <style>
body.pages-home .hero {
  height: 300px;
}

body.pages-home .hero.modified {
  background-image: url(<%=image_path('landing/fluff.png')%>);
}


   body.pages-home section.clients {
     padding-top:40px;
     padding-bottom:40px;
   }

 body.pages-home .topics h3 {
     margin-top: auto;
   }

 body.pages-home .hero .hero_content h1 {
   line-height: 1.65em;
   max-width: none;
 }

body.pages-home .hero .hero_content h2 {
  font-weight:normal;
  font-size: 24px;
}

 body.pages-home .topics {
  margin-bottom: 100px;
 }


   .panel-text {

     padding-top: 25%;
     padding-bottom: 20%;
   }
   .home-panel{
     min-height:550px;
     background-size:100%;
     margin-top:10px;
     background-repeat: no-repeat;
   }
   .full-band{
    margin-bottom: 50px;
    min-width: auto;
   }

   .center-panel{
     text-align:center
   }

  </style>

  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})
  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header:false,  hero_class: "modified"} do %>
  <h1>Airbo is a modern way for HR to communicate with employees</h1>
  <h2>It’s fun, visual and short, so employees read, understand, and participate</h2>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Organizations from 20 to 75,000 employees use Airbo to communicate more effectively with their employees.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>

<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header:true, hero_class: ""} do %>
  <h1>Explore examples of how other companies have used Airbo</h1>
  <h2>Here’s what you need to know to get started:</h2>
<% end %>


<%=render template: "explores/show" %>


<%= render partial: "pages/landing/footer" %>
