<div class="v-08-01-2016">
  <section class="bg-blue tall white hero" >
    <%= render partial: "pages/landing/header" %>
    <div class="landing-hero-text">
      <h1>Get Their Attention</h1>
      <h3>
        HR and Corporate Communications use Airbo to modernize employee communcations.</h3>
      <div class="email-sign-up-form">
        <input type="text" placeholder=" Enter your work email">
        <input type="submit" value="Sign Up">
      </div>


    </div>
  </section>

  <section class="clients">
    <div class="clients_section row">
      <p class="text-center featured-news"><span class="featured-news-bold">Featured News: </span>"Airbo CEO Vlad Gyster named Top 50 Benefits Technology Innovator." - Employee Benefit News</p>
    </div>
  </section>

  <section class="product-hero">
    <div class="row full-band">
      <div class="small-4 columns">
        <h1>Hey Nick</h1>
      </div>
      <div class="small-1 columns">

      </div>
      <div class="small-4 columns">
        <%= image_tag("landing/product_img_one.png", class: "product-img") %>
      </div>
    </div>
  </section>

  <a id="tour"></a>
  <div class="row full-band hiw">
    <h2 class="text-center ">How it Works</h2>
    <div class="small-8 columns small-centered text-center" >
      <div class="row" >
        <div class="small-12 large-4 columns">
          <div class="hiw-item">
            <%=image_tag "landing/sb-wellness-icon01.png"%>
        <div class="hiw-text">
          <h3>Tile</h3>
          <p class="short">Bite-sized, interactive content that's fast to create.</p>
        </div>
          </div>
        </div>

        <div class="small-12 large-4 columns ">
          <div class="hiw-item">
            <%=image_tag "landing/sb-wellness-icon02.png"%>
            <div class="hiw-text">
              <h3>Board</h3>
              <p class="short">A private site to post Tiles for employees to read.</p>
            </div>
          </div>
        </div>

        <div class="small-12 large-4 columns ">
          <div class="hiw-item">
            <%=image_tag "landing/sb-wellness-icon03.png"%>
            <div class="hiw-text">
              <h3>Metrics</h3>
              <p class="short">Send Tiles and see who read and took action.</p>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <a id="boards"> </a>
   <section class="topics padded-v-40">
  <h2 class="text-center ">Explore Boards</h2>
  <div class="row padded-v-20">
    <div class="columns small-12 small-centered">
      <div class="row ">
        <%@sorted_demos.each do |board|%>
          <div class="columns small-12 large-3 ">
            <%= render partial: "pages/landing/topic", locals: {board:board,path: public_board_path(public_slug:board.public_slug)}%>
          </div>
        <%end%>
      </div>
    </div>
  <a id="sign_up_form"></a>
  </div>
   </section>
  <%# render partial: "pages/landing/request_form" %>

  <section id="sign_up_block" class="join">
    <div class="join_block center">
      <h2 class="text-center">Join to Discover</h2>
      <p class="text-center">Create a free account to see how companies use Airbo.</p>
      <%= render partial: "pages/landing/form" %>
      <%= render partial: "pages/landing/logos" %>
    </div>
  </section>


  <%= render partial: "pages/landing/footer" %>
</div>
