<%content_for :head do%>
  <style>
body.pages-home .hero {
  height: 300px;
}

   body.pages-home section.clients {

     margin-bottom:100px;
     padding-top:40px;
     padding-bottom:40px;
   }

 body.pages-home .topics h3 {
     margin-top: auto;
   }

 body.pages-home .hero .hero_content h1 {
   line-height: 1.65em;
 }

 body.pages-home .topics {
  margin-bottom: 100px;
 }


   .panel-text {

     padding-top: 25%;
     padding-bottom: 20%;
   }
   .home-panel{
     min-height:550px;
     background-size:100%;
     margin-top:10px;
     background-repeat: no-repeat;
   }
   .full-band{
    margin-bottom: 50px;
    min-width: auto;
   }

   .center-panel{
     text-align:center
   }

 

  
  </style>

  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})
  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true} do %>
  <h1>Airbo is HR's Employee </br> Communication Assistant</h1>

  <!--div class="align_center"><%# link_to "Join", "#sign_up_block", class: "large button green",  style: "padding:15px 40px" %></div-->
  <%= render "pages/landing/schedule_demo_form" %>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Organizations from 20 to 75,000 employees use Airbo to communicate more effectively with their employees.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>

<a id="tour"></a>
<div class="row  full-band" >
  <div class="columns small-4">
    <div class="home-panel panel-text" style="padding-top:15%">
      <h2>One simple place to organize content and resources</h2> 
      <p>
      Your organization’s Board is a private site hosted by Airbo. While an intranet is like a filing cabinet that stores content out of view, Airbo is like a bulletin board that showcases what's new.      </p>
    </div>
  </div>
  <div class="columns small-8">
    <div class="home-panel" style="background-image:url(<%=image_path('landing/board_on_mac.png')%>)">
    </div>
  </div>

</div>

<div class="row full-band">

  <div class="columns small-6">
      <div class="home-panel" >
      <%=image_tag("landing/tilevsemail.png")%>
    </div>
  </div>
 
  <div class="columns small-6 ">
    <div class="home-panel panel-text" style="vertical-align:middle">
      <h2>Content is presented in bite-sized pieces called Tiles</h2> 
      <p>Tiles are made for today's attention span. They're fun and visual, so more employees read, understand and participate. You can use ours or create your own in minutes.</p>
    </div>
  </div>
</div>

<div class="row full-band" style="margin-bottom:30px">
  <div class="columns small-4 ">
    <div class="home-panel panel-text" style="padding-top:15%" >
      <h2>Send Tiles and see engagement in real-time</h2> 
      <p>
      When you're ready, click "send" and watch employees engage. See exactly who read, understood, and took actions. Answer fewer questions and spend less time following up.</p>
    </div>
  </div>
  <div class="columns small-8">
      <div class="home-panel" style="background-image:url(<%=image_path("landing/metrics-2.png")%>)">
    </div>
  </div>


</div>
<div class="row">
  <div class="small-10 columns small-centered center-panel">
    <div class="row">
      <h2 class="text-center padded-v-20">Airbo is easy to use</h2>
      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon01.png"%>
      </div>

      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon02.png"%>
      </div>

      <div class="small-4 columns center-panel" >
        <%=image_tag "landing/sb-wellness-icon03.png"%>
      </div>
    </div>
  </div>
</div>
<div class="row full-band">
  <div class="small-10 columns small-centered center-panel">
    <div class="row">
      <!--h2 class="text-center padded-v-20">Easy to Use.</h2-->
      <div class="small-4 columns center-panel">
        <h3>1. Add Tiles to Your Board</h3>
        <p> Copy Tiles from a robust library, or create your own in minutes.</p>
      </div>

      <div class="small-4 columns center-panel">
        <h3>2. Engage Employees</h3>
        <p>New Tiles are summarized in an attention-grabbing email that you send to employees every 1 to 2 weeks.</p>
      </div>

      <div class="small-4 columns center-panel" >
        <h3>3. See Results</h3>
        <p>Employees use the email to log into Airbo. As they interact with Tiles, you see real-time activity and feedback.</p>
      </div>
    </div>
  </div>
</div>



  <section class="topics">
    <div class="topics_section row">
      <h2 class="text-center" >Stock content saves time</h2>
      <h3 class="text-center">Copy Tiles from Airbo's library, which is made up of content created by HR experts and Airbo customers.</h3>
      <div class="topics_container">
        <%= render partial: "pages/landing/topic", locals: {title: "Wellness", link: page_path("wellness"), img: "wellness",  comming_soon: false} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Compliance", link: "", img: "compliance",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Onboarding", link: "", img: "recruitment",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Benefits", link: "", img: "benefits",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Management", link: "", img: "management",  comming_soon: true} %>
        <%= render partial: "pages/landing/topic", locals: {title: "Events", link: "", img: "events",  comming_soon: true} %>
      </div>
    </div>
  </section>

  <section id="sign_up_block" class="join">
    <div class="join_block center">
      <h2 class="align_center">Join Airbo to discover engaging content</h2>
      <p class="align_center">Get started exploring today, it's free forever.</p>
      <%= render partial: "pages/landing/form" %>
    </div>
  </section>

<%= render partial: "pages/landing/footer" %>
