<%content_for :head do%>
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', <%=ENV['INSPECTLET_WID']%>]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->


  <script>
$(function(){

  $("#tour-menu, #signup_menu, #see-tour").on("click", function(event) {
    event.preventDefault();
    var anchor = event.target.hash
      
    $('html, body').animate({
      scrollTop: $(anchor).offset().top-100
    }, 500);  

  });

  $(".see_airbo").click(function(){
    $("#sign_up_block").show();
  })

})

  </script>

<%end%>


  <section class="bg-blue tall white text-center hero v-04-14-2016" >
    <%= render partial: "pages/landing/header" %>
    <div class="full-band">
      <h1>Engaging Employee Communications</h1>
      <h3>
        Airbo is like a reinvented bulletin board. It transforms communications </br> that employees miss into attention-grabbing content they love.</h3>
      <p>
      <a class="button outlined see_airbo white" href="#tour" id="see-tour">See How It Works</a>
      </p>
    </div>
  </section>

<section class="clients">
  <div class="clients_section row">
    <p class="align_center">Used by organizations from 20 to 75,000 employees.</p>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>

<a id="tour"></a>
<div class="row full-band">
  <div class="small-8 columns small-centered text-center" >
    <div class="row" >
      <div class="small-12 large-4 columns">
        <div class="hiw-item">
          <%=image_tag "landing/sb-wellness-icon01.png"%>
      <div class="hiw-text">
        <h3>Tile</h3>
        <p>Bite-sized, interactive content that's fast to create.</p>
      </div>
        </div>
      </div>

      <div class="small-12 large-4 columns ">
        <div class="hiw-item">
          <%=image_tag "landing/sb-wellness-icon02.png"%>
          <div class="hiw-text">
            <h3>Board</h3>
            <p>A private site to post Tiles for employees to read.</p>
          </div>
        </div>
      </div>

      <div class="small-12 large-4 columns ">
        <div class="hiw-item">
          <%=image_tag "landing/sb-wellness-icon03.png"%>
          <div class="hiw-text">
            <h3>Metrics</h3>
            <p>Send Tiles and see who read and took action.</p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
<a id="boards"> </a>
 <section class="topics padded-v-40">
<h2 class="text-center ">Explore Boards</h2>
<div class="row padded-v-20">
  <div class="columns small-12 small-centered">
    <div class="row ">
      <%@sorted_demos.each do |board|%>
        <div class="columns small-12 large-3 ">
          <%= render partial: "pages/landing/topic", locals: {board:board}%> 
        </div>
      <%end%>
    </div>
  </div>
<a id="sign_up_form"></a>
</div>
 </section>
<%# render partial: "pages/landing/request_form" %>

<section id="sign_up_block" class="join">
  <div class="join_block center">
    <h2 class="align_center">Join to Discover</h2>
    <p class="align_center">Create a free account to see how companies use Airbo.</p>
    <%= render partial: "pages/landing/form" %>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>


<%= render partial: "pages/landing/footer" %>
