<%content_for :head do%>
  <style>
body.pages-home .hero {
  height: 500px;
  color:white;
}

body.pages-home .hero h1{
  line-height:1.57
}

body.pages-home .hero.modified {
  background-image: url(<%=image_path('landing/fluff.png')%>);
}

body.pages-home .topics h3 {
  margin-top: auto;
}




body.pages-home section.clients {
  padding-top:40px;
  padding-bottom:40px;
}

.tile_with_tags .explore_tile .like_copy_tile, .client_admin_explore .tiles .explore_tile .like_copy_tile {
  display:none;
}

.all_tile_tags {
    background: #fff;
    padding: 0 7px 5px 7px;
}

.tile_with_tags .explore_tile .all_tile_tags .tile_tag, .client_admin_explore .tiles .explore_tile .all_tile_tags .tile_tag {
    background-color: transparent;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
}



body.pages-home .topics .topic {
  margin-right: 5px;
  margin-left: 15px;
}

h3{
 margin:1em 0;
} 

 .explore-content{
   background-color: rgb(217,223,233);
  }

 .panel-text {

   padding-top: 25%;
   padding-bottom: 20%;
 }
 .home-panel{
   min-height:550px;
   background-size:100%;
   margin-top:10px;
   background-repeat: no-repeat;
 }
 .full-band{
   margin-bottom: 50px;
   min-width: auto;
 }

 .center-panel{
   text-align:center
 }

 .extra_tags_list{
  display:none;
 }

  </style>

  <script>
$(function(){

  $("#tour-menu").on("click", function(event) {
    event.preventDefault();
    $('html, body').animate({
        scrollTop: $("#tour").offset().top-60
    }, 500);  });
})
  </script>
<%end%>
<%= render layout: "pages/landing/hero", locals: {no_shadow: true, no_header:false,  hero_class: ""} do %>
  <h1 class="text-center">Airbo is a modern way for HR </br> to communicate with employees</h1>
<% end %>

<section class="clients">
  <div class="clients_section row">
    <h3 class="align_center">Organizations from 20 to 75,000 employees use Airbo to communicate more effectively with their employees.</h3>
    <%= render partial: "pages/landing/logos" %>
  </div>
</section>

<div class="row" style="padding-top:70px" >
  <div class="small-8 columns small-centered center-panel" >
    <div class="row" >
      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon01.png"%>
      </div>

      <div class="small-4 columns center-panel">
        <%=image_tag "landing/sb-wellness-icon02.png"%>
      </div>

      <div class="small-4 columns center-panel" >
        <%=image_tag "landing/sb-wellness-icon03.png"%>
      </div>
    </div>
  </div>
</div>
<div class="row full-band">
  <div class="small-8 columns small-centered center-panel">
    <div class="row">
      <div class="small-4 columns center-panel">
        <h3>Tile</h3>
        <p>Bite-sized, interactive</br> piece of content.</p>
      </div>

      <div class="small-4 columns center-panel">
        <h3>Board</h3>
        <p>Place to post Tiles for employees to read.
</p>
      </div>

      <div class="small-4 columns center-panel" >
        <h3>Metrics</h3>
        <p>See who read and</br> took action.</p>
      </div>
    </div>
  </div>
</div>
<div class="explore-content">
<%=render template: "public_explores/show" %>
</div>

<%= render partial: "pages/landing/footer" %>
