<% content_for :page_title, 'Airbo' %>
<%= render partial: "pages/front_theme/navbar" %>

<main id="content" role="main">
  <%= render partial: "pages/front_theme/main_hero" %>
  <%= render partial: "pages/front_theme/fuji_case_study" %>
  <%= render partial: "pages/front_theme/benefits_hero" %>
  <%= render partial: "pages/front_theme/roi" %>
  <%= render partial: "pages/front_theme/employee_quote" %>
  <div class="footer">
    <h1>footer</h1>
  </div>
</main>
