<header>
  <div class="row">
    <div class="small-16 columns">
      <a href="/" id="continue_to_home">Continue to home</a>
      <!-- Vlad's video goes here -->
      <div id="video_placeholder"></div>
    </div>
  </div>
</header>

<section class="row" id="welcome">
  <div class="small-16 small-centered columns">
    <h1>Workplace communications made engaging</h1>
    <h2>Easily turn any message into a game-like experience for your employees.</h2>
    <a href="#" class="free_trial_button pop-button">Sign up for a free trial</a>
  </div>
</section>

<section class="row values" id="hub">
  <div class="large-6 columns text">
    <h2>A hub for a variety of workplace programs &amp; initiatives.</h2>
    <p>You have many priorities. H.Engage gives you one place to educate your employees, drive action, and incorporate other resources in a way that’s structured and easy to follow.</p>
  </div>
  <div class="large-9 large-offset-1 columns visual">
    <%= image_tag "june2013_landing/hub-spokes.png", alt: "H.Engage ties your programs and other resources together." %>
  </div>
</section>

<section class="row values" id="save_resources">
  <div class="large-6 push-10 columns text">
    <h2>Save time &amp; money on ineffective messaging.</h2>
    <p>Whether it’s a product, benefit or process, it’s fast and easy to make any message heard using <span class="em">Tiles</span>. Pick your objective, compose your message, and ask a question that reinforces comprehension.</p>
  </div>
  <div class="large-9 pull-7 columns visual">
    <%= image_tag "june2013_landing/a-tile.png", alt: "A tile contains your image, message, and a points-awarding question." %>
  </div>
</section>

<section class="row values" id="beautiful_content">
  <div class="large-6 columns text">
    <h2>Cut through the noise with beautifully organized content.</h2>
    <p>Tiles help organize a variety of topics for easy comprehension and a digest email will deliver the Tiles to employees. You can also print Tiles as posters to reach people offline.</p>
  </div>
  <div class="large-9 large-offset-1 columns visual">
    <%= image_tag "june2013_landing/digest-email.png", alt: "A digest email delivers tiles to your employees." %>
  </div>
</section>

<section class="row values" id="incentives">
  <div class="large-6 push-10 columns text">
    <h2>Employees have an incentive to stay engaged.</h2>
    <p>Reward your employees with points and prizes when they interact with your communications. Offline employees can interact using any mobile phone with text messaging.</p>
  </div>
  <div class="large-9 pull-7 columns visual">
    <%= image_tag "june2013_landing/site.png", alt: "Earn points and win prizes with our site." %>
  </div>
</section>

<section class="row values" id="track_metrics">
  <div class="large-6 columns text">
    <h2>Track engagement &amp; learn through metrics.</h2>
    <p>Get reports on people’s interactions in each tile as well as monitor real time activity. By knowing the effectiveness of each message, you can improve future programs and correspondence.</p>
  </div>
  <div class="large-9 large-offset-1 columns visual">
    <%= image_tag "june2013_landing/metrics.png", alt: "Track engagement and learn with our metrics." %>
  </div>
</section>

<section class="row values" id="create_habit">
  <div class="large-6 push-10 columns text">
    <h2>Help employees create a habit of coming back for new material.</h2>
    <p>Healthy competition drives employee participation and builds a behavior of regularly engaging in workplace communications.</p>
  </div>
  <div class="large-9 pull-7 columns visual">
    <%= image_tag "june2013_landing/cycle.png", alt: "Keep them coming back for more." %>
  </div>
</section>

<div class="row">
  <div class="small-16 columns">
    <%= render "pages/our_clients" %>
  </div>
</div>

<footer>
  <div class="row">
    <div class="small-16 columns">
      <h1>Sign up for a free 60 day trial version.</h1>
      <h2>Experience how simple it is.</h2>
      <form>
        <input type="text" placeholder="Just enter your email" name="email"/>
        <input type="submit" value="Sign up" >
      </form>
    </div>
  </div>
</footer>