<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>H Engage</title>
	<meta name="description" content="H Engage: Socialize and gamify the HR ecosystem">
	<meta name="author" content="HEngage.com">
	<meta name="viewport" content="width=device-width">
	<%= stylesheet_link_tag 'external/marketing' %>
   <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
	<script src="marketing/js/libs/modernizr-2.5.3.min.js"></script>

</head>
<body id="homepage">
<header>
	<a href="#" id="logo"><%= image_tag "marketing/logo.png", :alt => "H Engage" %></a>
	<nav>
		<ul>
			<li class="links" id="link-blog"><a href="http://hengage.tumblr.com" target="_new">Blog</a></li>
			<li class="links" id="link-contact"><a href="#contact" name="contact">Contact us</a></li>
			<li class="links" id="link-twitter"><a href="http://twitter.com/hengage" target="_new">Twitter</a></li>
		</ul>
	</nav>
   <div class="cf"></div>
</header>

<div id="hov-loader" style='display:none'>
  <%= image_tag "marketing/btnhov-contact.png" %>
  <%= image_tag "marketing/btnhov-dbook.png" %>
  <%= image_tag "marketing/btnhov-slideshare.png" %>
  <%= image_tag "marketing/btnhov-submit.png" %>
</div>

<div role="main" id="primary">
	<section id="login">
      <h2>Player login (clients only)</h2>
      <%= form_for :session, :url => session_path do |f| %>
         <ul>
           <li id="login-email"><%= f.text_field :email, :placeholder => "Account email" %></li>
           <li id="login-password"><%= f.text_field :password, :type => "password", :placeholder => "Password" %></li>
           <li id="login-remember"><%= f.check_box :remember_me, :value => 1 %><label for="session_remember_me">Keep me logged in</label></li>
            <li id="login-submit">
            <%= f.submit "Let's play!", :id => 'sign_in_button' %>

               <span><a href="https://www.hengage.com/invitations/new">Register to play</a></span>
               <div class="cf"></div>
            </li>
         </ul>
       <% end %>
	</section>
   <section id="welcome">
      <h1>Socialize and gamify the <br />HR ecosystem</h1>
      <p>The h.engage solution is a new way for HR to make programs more fun and relevant.</p>
      <p>Inspire employees and reward their engagement.</p>
   </section>
   <div class="cf"></div>
</div>

<div role="main" id="secondary">
   <div class="wrap960">
      <section id="all-features">
         <div class="feature" id="analytics">
            <%= image_tag "marketing/analytics.png", :alt => "Analytics" %>
            <div class="feature-text">
               <h2>Analytics</h2>
               <p>We believe that data drives everything. We create an engagement record that integrates with vendor and HRIS systems. Message your employees better over time, measure the impact of your efforts, and quantify your ROI.</p>
            </div>
            <div class="cf"></div>
         </div>
         <div class="feature" id="comm-hub">
            <%= image_tag "marketing/comm-hub.png", :alt => "Communications hub" %>
            <div class="feature-text">
               <h2>Communications hub</h2>
               <p>Communicating key messages and behaviors means understanding how employees like to be reached – <span>web, mobile and beyond</span>. We help you deliver the right message in the right medium for each person.</p>
            </div>
            <div class="cf"></div>
         </div>
         <div class="feature" id="app">
            <%= image_tag "marketing/app.png", :alt => "Engagement app" %>
            <div class="feature-text">
               <h2>Engagement app</h2>
               <p>Embed interaction points throughout the employee experience. Use text messages and posters as mobile calls to action. Employees submit answers and earn points, progress through levels, and enter to win prizes. Increased engagement means greater satisfaction.</p>
            </div>
            <div class="cf"></div>
         </div>
      </section>

      <section id="all-extras">
         <div class="extra" id="yahoo-video">
           <h2>Yahoo! testimonial:</h2>

           <a href="https://fast.wistia.com/embed/iframe/0eb4fc3b44?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=360&videoWidth=640" class="wistia-popover[height=360,width=640]"><img src="https://wistia.sslcs.cdngc.net/deliveries/429b353e5607ec26625aab1d1e17d9788bee0d98.jpg?image_play_button=true&image_crop_resized=380x214" alt="" /></a>
		<script charset="ISO-8859-1" src="https://fast.wistia.com/static/popover-v1.js"></script>


         </div>
         <div class="extra" id="media-usage">
            <h2>Media usage facts:</h2>
            <ul>
               <li><p>88% of adults in the U.S. now own a cell phone.</p></li>
               <li><p>Adults with smartphones (46%) now outnumber those with feature phones (41%).</p></li>
               <li><p>The lowest income bracket saw the fastest growth in smartphone ownership.</p></li>
               <li><p>80% of adults use the Internet.</p></li>
               <li><p>20-30% of Facebook “power users” drive the vast majority of activity.</p></li>
            </ul>
            <a href="http://hengage.com/h_engage_data_book_may_2012.ppt"  id="to-databook"><span>Download and use our Data Book powerpoint</span></a>
            <a href="http://www.slideshare.net/hengage/h-engage-data-book-may-2012-12943396" target="_new" id="to-slideshare"><span>View on Slideshare.net</span></a>
         </div>
      </section>
      <div class="cf"></div>
   </div>
</div>
<div role="main" id="contact">
  <h2 id='our_promise'>Contact us and we'll be in touch within two business days</h2>
  <h2 id='our_response'>Thanks! We'll be in touch.</h2>
   <%= form_tag email_info_requests_path, :class => 'request-info', :remote => true do %>
     <ul id="contact-form-left">
        <li id='name_status'>Please enter your name</li>
        <li id="contact-name"><%= text_field_tag :contact_name, nil, :placeholder => "Your name" %></li>
        <li id='email_status'>Please enter your email</li>
        <li id="contact-email"><%= text_field_tag :contact_email, nil, :placeholder => "Email address" %></li>
         <li id="contact-phone"><%= text_field_tag :contact_phone, nil, :placeholder => "Phone number (optional)" %></li>
      </ul>
      <ul id="contact-form-right" style='position: relative'>
        <div id='submitting_status'>Uploading...</div>
         <li id="contact-comment"><%= text_area_tag :contact_comment, nil, :placeholder => "Thoughts and comments (optional)" %></li>
       </ul>
     <% end %>
      <input id="contact-submit" type="button" value="Contact us" />
      <div class="cf"></div>
   </form>
</div>
<footer>
   <p>Copyright © 2011 H Engage, Inc.</p>
   <section id="security-center">
    <h2>Data Center Security</h2>
    <div id="accred">
      <h3>Our hosting provider's data center is accredited under:</h3>
      <p>ISO 27001 SOC 1/SSAE 16/ISAE 3402 (Previously SAS 70 Type II) PCI Level 1 FISMA Moderate Sarbanes-Oxley (SOX) Network and Data Security</p>
    </div>
    <div id="practices">
      <h3>Our security practices include:</h3>
      <p>Managed firewalls Distributed DOS mitigation Port scanning detection Round-the-clock monitoring with automated notification SSL encryption Encrypted database connections</p>
    </div>
   </section>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script type="text/javascript">
$('[placeholder]').focus(function() {
  var input = $(this);
  if (input.val() == input.attr('placeholder')) {
    input.val('');
    input.removeClass('placeholder');
  }
}).blur(function() {
  var input = $(this);
  if (input.val() == '' || input.val() == input.attr('placeholder')) {
    input.addClass('placeholder');
    input.val(input.attr('placeholder'));
  }
}).blur().parents('form').submit(function() {
  $(this).find('[placeholder]').each(function() {
    var input = $(this);
    if (input.val() == input.attr('placeholder')) {
      input.val('');
    }
  });
});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21795640-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<%= javascript_tag do %>
  var contact_name = $('#contact_name');
  var contact_email = $('#contact_email');
  var contact_phone = $('#contact_phone');
  var contact_comment = $('#contact_comment');
  var name_status = $('#name_status');
  var email_status = $('#email_status');
  var contact_errors = 0;
  var contact_form = $('.request-info');
  var submitting_status = $('#submitting_status');

    var default_name = '<%= EmailInfoRequest.name_prompt %>';
    var default_email = '<%= EmailInfoRequest.email_prompt %>';
    var default_phone = '<%= EmailInfoRequest.phone_prompt %>';
    var default_comment = '<%= EmailInfoRequest.comment_prompt %>';

    restartForm();

  contact_name.blur(function(){
    validateName(0);
  });

  contact_email.blur(function(){
    validateEmail(0);
  });

  function validateInfoRequestForm(){
    validateName(1);
    validateEmail(1);
  }

  function validateName(display_error){  
    if ((contact_name.val() == default_name) || (contact_name.val() == '')){
      contact_errors = 'name';
      if (display_error){
        name_status.show();
      }
    }else{
      name_status.hide();
    } 
  }

  function validateEmail(){
    if ((contact_email.val() == default_email) || (contact_email.val() == '')){
      contact_errors = 'email';
      email_status.show();
    }else{
      email_status.hide();
    } 
 
  }


  function disableInputFields(form) {
    form.find('input, textarea').attr('disabled', 'disabled');
    }

  function restartForm(){
    contact_form.find('input, textarea').removeAttr('disabled');
    contact_email.val(default_email);
    contact_phone.val(default_phone);
    contact_name.val(default_name);
    contact_comment.val(default_comment);
  }

  function showSuccessMessage(){
    $('#our_promise').hide();
    $('#our_response').show();
  }


  function doAfterInfoRequest() {
    showSuccessMessage();
    $('#email-info-request').find('#spinner').hide();
    disableInputFields(contact_form);
    submitting_status.hide();
  }

  function submitInfoRequest(form) {
  submitting_status.show();
  var data = {contact_email: contact_email.val(),
              contact_phone: contact_phone.val(),
              contact_name: contact_name.val(),
              contact_comment: contact_comment.val()}
  $.post('email_info_requests', data, function(message){

  });

  }

  $('#contact-submit').click(function(e){
    e.preventDefault();
    contact_errors = 0;
    validateInfoRequestForm();
    if (contact_errors == 0){
      submitInfoRequest(contact_form);
    }
    
  });
<% end %>
</body>
</html>
