<%= javascript_include_tag 'jquery' %>

<div id="about-wrapper">
  <div id="healthy-business-dude">
    <%= image_tag "dude.png", :width => "430px" %>
  </div>
  <div id="why-hengage">
    <h2><%= t('.why-h2', :default => "Employees aren't paying attention to wellness programs.") %></h2>
    <h3><%= t('.why-h3', :default => "They're too busy playing games and using social media on their mobile phones.") %></h3>
    <p><%= t('.why-p', :default => "H Engage transforms your existing wellness communications programs into a memorable, game-like, social experience that rewards employees for engagement.") %></p>
    <%= form_tag '#', :id => 'email-info-request' do %>
      <%= text_field_tag 'email', 'enter email address', :class => 'with-placeholder' %>
      <%= submit_tag 'Request more info' %>
      <%= image_tag 'spinner.gif', :id => 'spinner' %>
      <span id="thanks-message">Thanks, got it!</span>
    <% end %>

    <%= javascript_tag do %>
      $(document).ready(function() {
        $('.with-placeholder').focus(function(e) {
          $(this).removeClass('with-placeholder').val('');
        });

        $('#email-info-request').submit(function(e) {
          e.preventDefault();

          $('#email-info-request').find('#thanks-message').hide();
          $(this).find('#spinner').show();

          $.post(
            '<%= email_info_requests_path %>',
            {email: $(this).find('#email').val()}
          )
        });
      });
    <% end %>
    <!--<p><%= mail_to "info@hengage.com", "Email us", :encode => "hex" %> for more information.</p>-->
  </div>
</div>
<!--
  <div id="risks" class="section">
    <div class="inner-wrapper">
      <h3>H Engage mitigates risks with social media</h3>
    </div>
  </div>
-->
