<header>
  <div class="row">
    <div class="columns large-5" id="logo">
      <%= image_tag "marketing/logo_white.png", alt: "H.Engage" %>
    </div>
  </div>
  <div class="row" id="opener">
    <div class="columns large-8 large-centered copy">
      <div class="headlines">
        <h1>The bulletin board reinvented.</h1>
        <h2>Create and post interactive communications for your organization that get read.</h2>
      </div>
      <div id="opener_form" class="large-10 large-centered column">
        <%= render "shared/marketing_email_signup" %>
        <p class="caption">
          Already a user?
          <a href="/sign_in" class="sign_in">Sign in</a>
        </p>
      </div>
    </div> <!-- End of large-10 -->
  </div>
</header>

<section class="value" id="quickly_create">
  <div class="row">
    <div class="large-12 columns">
      <h2>Quickly create content.</h2>
      <ul class="tile_section_callouts">
        <li id="callout_1">1</li>
        <li id="callout_2">2</li>
        <li id="callout_3">3</li>
      </ul>
      <div class="tile">
        <div class="imagery">
          <%= image_tag "marketing/money.jpg", alt: "What's a Roth 401(k)?" %>
        </div>
        <div class="content">
          <p class="tile_headline">What's a Roth 401(k)?</p>
          <p>With a Traditional 401(k) you make pre-tax contributions, but you'll pay taxes when you take the money out. With a Roth 401(k) you make after-tax contributions now, but you won't have to pay any taxes when you take the money out.</p>
        </div>
        <div class="quiz">
          <ul class="points">
            <li class="pts_number">5</li>
            <li>pts</li>
          </ul>
          <p>What kind of contributions do you make with a Roth 401(k)?</p>
          <ul class="multiple_choice">
            <li>After-tax</li>
            <li>Pre-tax</li>
          </ul>
        </div>
      </div>
      <ul class="tile_explanations">
        <li id="tile_exp_image"><p>
          <span>Pick your image.</span>
          Bold imagery draws people in.
        </p></li>
        <li id="tile_exp_content"><p>
          <span>Write what you want.</span>
          Bite-size content to explain complex topics.
        </p></li>
        <li id="tile_exp_quiz"><p>
          <span>Create custom quizzes.</span>
          Feels fun and reinforces comprehension.
        </p></li>
      </ul>
    </div>
  </div>
</section>

<section class="value" id="deliver">
  <div class="row">
    <div class="imagery">
      <%= image_tag "marketing/site_screenshot_small.jpg", alt: "Deliver the tile to who you want." %>
    </div>
    <div class="large-5 large-centered columns copy">
      <h2>Deliver on any device.</h2>
      <p>Automatically created newsletters and reminder emails save time and follow-ups.</p>
    </div>
  </div>
</section>

<section class="value" id="outcomes">
  <div class="row">
    <div class="large-5 push-1 columns">
      <h2>Capture their attention <span>&amp;</span> see who's engaged</h2>
      <a href="#!" id="to_the_top">Interested? Sign up!</a>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <ul id="bulletin_landing_footer">
      <li><a href="/pages/marketing_more" class="learn_more">More information</a></li>
      <li><a href="/pages/pricing" class="pricing">Pricing</a></li>
      <li><a href="http://blog.hengage.com" class="blog">Blog</a></li>
      <li><a href="/sign_in" class="sign_in">Sign in</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2013 H.Engage, Inc.</p>
  </div>
</footer>

<script>
$("[placeholder]").placeholder();

$('#bulletin_landing_footer .learn_more').click(function() { mpq.track("Bulletin landing, Learn More click", {}); });
$('#bulletin_landing_footer .pricing').click(function() { mpq.track("Bulletin landing, Pricing click", {}); });
$('#bulletin_landing_footer .blog').click(function() { mpq.track("Bulletin landing, Blog click", {}); });
$('#to_the_top').click(function() { mpq.track("Bulletin landing, Footer signup button click", {}); });
$('.sign_in').click(function() { mpq.track("Bulletin landing, Sign In click", {}); });
$('#contact_email').click(function() { mpq.track("Bulletin landing, Contact Email field highlighted", {}); });

$('#signup_form').submit(function(e) {
  e.preventDefault();
  $('#signup_error, #signup_thanks').hide();

  var trimmedEmail = $.trim($('#contact_email').val());

  if(trimmedEmail == '') {
    $('#signup_error').slideDown();
  } else {
    $('#submitting_signup_form').show();
    $.post( 
      '<%= email_info_requests_path %>', 
      {contact_email: trimmedEmail, contact_comment: "From Sept 2013 landing", silent: true}, 
      function() {
        $("#contact_email").prop('disabled', true);
        $('#signup_thanks').slideDown();
        $('#submitting_signup_form').hide();
        mpq.track("Initial landing, Sign Up form submitted", {});
      }
    )
  }
});

$("#to_the_top").click(function() {
  $("html, body").animate({ scrollTop: 200 }, "slow");
  $("#contact_email").focus();
  return false;
});
</script>

<%= mp_track_page 'Bulletin landing' %>