<section class="hero">
	<div class="row main-row">
		<div class="large-6 columns copy">
			<h1>Employee communications made easy and engaging.</h1>
			<div class="row">
				<div class="large-10 columns">
					<h2>Engagement and Communication Software that drives participation in programs, processes and benefits.</h2>
					<a href="#!" class="request_a_demo pop-button">Request your invite</a>
				</div>
			</div>
		</div>
		<div class="large-6 columns imagery">
			<%= image_tag "marketing/hub-logo.png", "alt" => "H.Engage ties your programs and other resources together", "data-interchange" => "[marketing/hub-logo.png, (default)], [marketing/hub-logo@2x.png, (large)]" %>
		</div>
	</div>
</section>

<section class="feature_sections" id="capture_attention">
	<div class="row main-row">
		<div class="large-5 push-7 columns copy">
			<h2>Capture attention</h2>
			<p>Use the technologies people love at home to drive engagement in communications, programs and processes at work.</p>

			<!-- Sub points -->
			<div class="row">
				<div class="small-6 columns">
					<p class="caption"><span>Points</span>
						Provide employees with positive feedback
					</p>
					<p class="caption"><span>Tiles</span>
						Make complex subjects easy to understand
					</p>
				</div>
				<div class="small-6 columns">
					<p class="caption"><span>Peer influence</span>
						Creates an environment of engagement
					</p>
					<p class="caption"><span>Rewards</span>
						Drive excitement
					</p>
				</div>
			</div>
		</div>

		<div class="large-7 pull-5 columns imagery">
			<div class="site_zooms" id="site_pts">
				<%= image_tag "marketing/site-pts.png", "alt" => "Earn points towards rewards" %>
			</div>
			<div class="site_zooms" id="site_scoreboard">
				<%= image_tag "marketing/site-scoreboard.png", "alt" => "Scoreboard to check on your colleagues" %>
			</div>
		</div>
	</div>
</section>

<section class="feature_sections" id="complex_simple">
	<div class="row main-row">
		<div class="large-5 columns copy">
			<h2>Complex made simple</h2>
			<p>Easily turn complex content into <span>Tiles</span>&mdash;a communication format optimized for today’s attention span. Each tile presents a short bit  of content along side a question that adds interactivity and proves comprehension.</p>
		</div>
		<div class="large-7 columns imagery">
			<%= image_tag "marketing/tile-green.png", "alt" => "Sample tile", "data-interchange" => "[marketing/tile-green, (default)], [marketing/tile-green@2x.png, (large)]" %>
			<p class="caption tips" id="custom_image"><span>Custom images</span></p>
			<p class="caption tips" id="organized_messages"><span>Organized messages</span></p>
			<p class="caption tips" id="answer_for_points"><span>Answer for points</span></p>
		</div>
	</div>
</section>

<section class="feature_sections" id="beautifully_easy">
	<div class="row main-row">
		<div class="large-5 push-7 columns copy">
			<h2>Beautifully easy</h2>
			<p>Tiles are easy to create and make your communications look professionally designed. New tiles are automatically organized into an elegant email that differentiates your message from the norm.</p>
		</div>
		<div class="large-7 pull-5 columns imagery">
			<%= image_tag "marketing/digest-email.png", "alt" => "Tiles are automatically organized into an elegant email" %>
		</div>
	</div>
</section>


<!-- < %= render "pages/our_clients" %>-->

<%= render "shared/request_demo" %>
<%= javascript_include_tag 'external/track_form_fields.js' %>
<%= javascript_include_tag 'jquery.lightbox_me' %>
<%= mp_track_page 'marketing' %>
 

 