<section class="case_study_title miltoncat">

  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="company_name">Milton CAT</h1>
    </div>
  </div>

</section>

<section class="about_case_study Milton CAT">
  <div class="row testimonial">
    <div class="large-7 columns quote">
      <h2 class="client_quote">Supervisors are bombarded with a lot of information on a daily basis.  H.Engage allows for the key points of a safety message to be communicated in a quick and easy-to-read format. H.Engage is not another page and a half email to read, it is a visually stimulating media board which comes right to your desktop.</h2>
      <h3 class="client_name">&mdash;<span>David Convery</span>, Milton CAT</h3>
    </div>
    <div class="large-5 columns client_image">
      <%= image_tag "case_studies/miltoncat_equipment.png", "alt" => "Milton CAT" %>
    </div>
  </div>
</section>

<section class="about_client">
  <div class="row">
    <div class="large-3 columns logo">
      <%= image_tag "case_studies/milton_cat_logo.jpg", "alt" => "Milton CAT" %>
    </div>
    <div class="large-6 columns description">
      <h3>About the client</h3>
      <p>Milton CAT is an authorized Caterpillar dealer in the Northeast selling machines, power systems, parts and service. Milton CAT has approximately 1,000 employees working in 14 locations ranging from Bangor to Boston to Buffalo. Safety is a top priority and getting timely and relevant safety messages to their employees is important.</p>
    </div>
    <div class="large-3 columns board_uses">
      <h3>Utilized board for:</h3>
      <ul>
        <li>Posting safety information</li>
        <li>Distributing safety briefs to managers and supervisors</li>
        <li>Tracking comprehension of safety information</li>
        <li>Tracking completion of safety briefs</li>
      </ul>
    </div>
  </div>

</section>

<section class="case_study_content Milton CAT">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Getting the Message to Busy Supervisors More Efficiently</h2>
      <p>
        For David Convery, Corporate Manager of Environmental, Safety, and Health at Milton CAT, marketing a weekly safety message is key to their injury reduction efforts. Supervisors are some of the busiest people in any organization and keeping them informed and engaged is always challenging. David was looking for a way to effectively communicate safety information with Supervisors.  H.Engage gave him a way to do that.
      </p>

      <h2>Just Another Email</h2>
      <p>In addition to posters, monthly trainings, and Safety Briefs, a lot of information gets sent out on a weekly basis via email. The documents had great content; however the key points were easily overlooked. A marketing tool was needed that could not only save time but would communicate the message.</p>
    </div>
  </div>

  <!-- ============= small sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Sample Milton CAT Tiles</p>
    </div>
    <div class="large-12 columns">

      <div class="tile_thumbnail asha_fitness"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
        </div>
        <div class="headline">
          <span class="text">Why Reviewing Incidents is Important</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_team"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
        </div>
        <div class="headline">
          <span class="text">Who Can Use a Fire Extinguishers at Milton CAT?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_enroll"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "Open Enrollment Drop-In Sessions" %>
        </div>
        <div class="headline">
          <span class="text">The Importance of Safety Briefs</span>
        </div>
      </div></div>
      
      <div class="tile_thumbnail asha_goal"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_fallprevention.png", "alt" => "Mark your learning goal complete!" %>
        </div>
        <div class="headline">
          <span class="text">Milton CAT Fall Preventions Refresher</span>
        </div>
      </div></div>

    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>“It’s easy to use and looks professional.”</h2>
      <p>Two months after launching the Milton Cat Safety Board, over 94% of their target audience has joined. Each week, David and his team take 20 minutes to create safety tiles around various safety topics. The response has been overwhelmingly positive, with 75% of participants reading the tiles each week. As one Field Service Supervisor put it in an unprompted email to David, "This new website is great. I like the points and the friend thing, having fun with it!”</p>

      <h2>Safety Brief Completion Has Increased.</h2>
      <p>For David, the most important thing has been outcomes. Weekly Safety Brief completion has increased by 50% since launch. Prior to using H.Engage, Supervisors could at any given time be a month behind on discussing weekly safety messages and there was no way to track it. David is now able to track who is completing their safety talks with their employees, and is able follow-up with those who are not. This helps Milton CAT continue to create a safe work environment for their employees.</p>
    </div>
  </div>
</section>


<!-- ============= full sample tiles ============= -->

<section class="hidden_large_tiles asha_fitness">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Why Reviewing Incidents is Important" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Why Reviewing Incidents is Important</div>
      <div class="tile_supporting_content">Experience is the best teacher. Injuries, accidents, and near misses that have occurred once have the potential to occur again, particularly if underlying causes are not corrected. The people best equipped to identify the causes of these events are the workers closest to them.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Who is best to determine underlying causes of injuries, accidents, and near misses?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">The Safety Committee</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The Workers Closest to The Hazards</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Managers and Supervisors</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_team">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Who Can Use a Fire Extinguishers at Milton CAT?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Who Can Use a Fire Extinguishers at Milton CAT?</div>
      <div class="tile_supporting_content">Only trained personnel are allowed to use fire extinguishers. Call 9-911 for help before attempting to extinguish a serious fire. The fire may take hold much faster than you're capable of dealing with.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Who can use a fire extinguisher at Milton CAT?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Anyone</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Only Trained Personnel</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Supervisors And Managers</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_enroll">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "The Importance of Safety Briefs" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">The Importance of Safety Briefs</div>
      <div class="tile_supporting_content">Safety Briefings provide our workers a way to participate in the safety process. Workers prefer to receive important information verbally from their Supervisor. By having direct interaction about safety with the same individual in charge of productivity conveys the importance of the safety message.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Why is it important to conduct safety briefings?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">It Conveys The Importance Of Safety Messages</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Workers Prefer Direct Interaction With Supervisors</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">It Gives Workers A Way To Participate In Safety</a>
           <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_goal">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_fallprevention.png", "alt" => "Milton CAT Fall Prevention Refresher" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Milton CAT Fall Preventions Refresher</div>
      <div class="tile_supporting_content">Most of the work we do does not require the use of Fall Prevention PPE. This does not include Aerial Lifts or Man Up Lift Trucks, of course. As Supervisors and Managers it is important to understand when Fall Protection is needed and to make sure it is being worn.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          As Supervisors and Managers it is important to:
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Understand When Fall Protection is Needed</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Make Sure Fall Protection Is Being Worn</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
$('.tile_thumbnail.asha_fitness').click(function(e) {
  $('.hidden_large_tiles.asha_fitness').lightbox_me();
});
$('.tile_thumbnail.asha_team').click(function(e) {
  $('.hidden_large_tiles.asha_team').lightbox_me();
});
$('.tile_thumbnail.asha_enroll').click(function(e) {
  $('.hidden_large_tiles.asha_enroll').lightbox_me();
});
$('.tile_thumbnail.asha_goal').click(function(e) {
  $('.hidden_large_tiles.asha_goal').lightbox_me();
});
</script>