<section class="case_study_title Milton CAT">

  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="company_name">Milton CAT</h1>
    </div>
  </div>

</section>

<section class="about_case_study Milton CAT">
  <div class="row testimonial">
    <div class="large-7 columns quote">
      <h2 class="client_quote">Supervisors are bombarded with a lot of information on a daily basis.  H.Engage allows for the key points of a safety message to be communicated in a quick and easy-to-read format. H.Engage is not another page and a half email to read, it is a visually stimulating media board which comes right to your desktop.</h2>
      <h3 class="client_name">&mdash;<span>David Convery</span>, Milton CAT</h3>
    </div>
    <div class="large-5 columns client_image">
      <%= image_tag "case_studies/asha_mcnichol.jpg", "alt" => "Janet McNichol, ASHA" %>
    </div>
  </div>
</section>

<section class="about_client">
  <div class="row">
    <div class="large-3 columns logo">
      <%= image_tag "case_studies/asha_logo.jpg", "alt" => "ASHA" %>
    </div>
    <div class="large-6 columns description">
      <h3>About the client</h3>
      <p>Milton CAT is an authorized Caterpillar dealer in the Northeast selling machines, power systems, parts and service. Milton CAT has approximately 1,000 employees working in 14 locations ranging from Bangor to Boston to Buffalo. Safety is a top priority and getting timely and relevant safety messages to their employees is important.</p>
    </div>
    <div class="large-3 columns board_uses">
      <h3>Utilized board for:</h3>
      <ul>
        <li>Posting safety information</li>
        <li>Distributing safety briefs to managers and supervisors</li>
        <li>Tracking comprehension of safety information</li>
        <li>Tracking completion of safety briefs</li>
      </ul>
    </div>
  </div>

</section>

<section class="case_study_content Milton CAT">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Getting the Message to Busy Supervisors More Efficiently</h2>
      <p>
        For David Convery, Corporate Manager of Environmental, Safety, and Health at Milton CAT, marketing a weekly safety message is key to their injury reduction efforts. Supervisors are some of the busiest people in any organization and keeping them informed and engaged is always challenging. David was looking for a way to effectively communicate safety information with Supervisors.  H.Engage gave him a way to do that.
      </p>

      <h2>Just Another Email</h2>
      <p>In addition to posters, monthly trainings, and Safety Briefs, a lot of information gets sent out on a weekly basis via email. The documents had great content; however the key points were easily overlooked. A marketing tool was needed that could not only save time but would communicate the message.</p>
    </div>
  </div>

  <!-- ============= small sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Sample Milton CAT tiles</p>
    </div>
    <div class="large-12 columns">

      <div class="tile_thumbnail asha_fitness"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_fitness.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
        </div>
        <div class="headline">
          <span class="text">Last Chance to Sign Up for this Session of Fitness Classes</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_team"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_team.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
        </div>
        <div class="headline">
          <span class="text">Speech-Language Pathology Cluster, Team Highlight</span>
        </div>
      </div></div>

      <div class="tile_thumbnail asha_enroll"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_enroll.png", "alt" => "Open Enrollment Drop-In Sessions" %>
        </div>
        <div class="headline">
          <span class="text">Open Enrollment Drop-In Sessions</span>
        </div>
      </div></div>
      
      <div class="tile_thumbnail asha_goal"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/asha_tile_goal.png", "alt" => "Mark your learning goal complete!" %>
        </div>
        <div class="headline">
          <span class="text">Mark your learning goal complete!</span>
        </div>
      </div></div>

    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>“It’s easy to use and looks professional.”</h2>
      <p>Two months after launching the Milton Cat Safety Board, over 94% of their target audience has joined. Each week, David and his team take 20 minutes to create safety tiles around various safety topics. The response has been overwhelmingly positive, with 75% of participants reading the tiles each week. As one Field Service Supervisor put it in an unprompted email to David, "This new website is great. I like the points and the friend thing, having fun with it!”</p>

      <h2>Safety Brief Completion Has Increased.</h2>
      <p>For David, the most important thing has been outcomes. Weekly Safety Brief completion has increased by 50% since launch. Prior to using H.Engage, Supervisors could at any given time be a month behind on discussing weekly safety messages and there was no way to track it. David is now able to track who is completing their safety talks with their employees, and is able follow-up with those who are not. This helps Milton CAT continue to create a safe work environment for their employees.</p>
    </div>
  </div>
</section>


<!-- ============= full sample tiles ============= -->

<section class="hidden_large_tiles asha_fitness">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_fitness.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Last Chance to Sign Up for this Session of Fitness Classes</div>
      <div class="tile_supporting_content">A new 12-week fitness class schedule starts October 28th and runs through January 17th. We have two new classes this session -- dance ballet barre and core values. Join us and ward off holiday stress and get a jump on your new years weight loss goals.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">10</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          When does this session end?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">October 28</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">December 1</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">January 17</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_team">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_team.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Speech-Language Pathology Cluster, Team Highlight</div>
      <div class="tile_supporting_content">The SLP Cluster provides expert technical assistance to members, National Office staff, consumers and external organizations; tracks national trends; develops resources, and disseminates practice information. Cluster members also plan professional development programs and serve as ex officios.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">15</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Which cluster primarily employs speech-language pathologists to provide expert technical assistance to members, consumers, the National Office, and other organizations?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Information Systems</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Certification</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">The SLP Practices Cluster</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Accreditation</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_enroll">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_enroll.png", "alt" => "Open Enrollment Drop-In Sessions" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Open Enrollment Drop-In Sessions</div>
      <div class="tile_supporting_content">The HR team will be available during this open enrollment period to answer your questions and help you make your 2014 elections via the EBIX Benefits System. Open Enrollment Drop-In Sessions are open to all and will be held in the 4th floor IS Training Room if you'd like a little extra help.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">25</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          What is the last day you can submit open enrollment changes and elections?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">December 31</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">November 30</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">July 4</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles asha_goal">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/asha_tile_goal.png", "alt" => "Mark your learning goal complete!" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Mark your learning goal complete!</div>
      <div class="tile_supporting_content">As part of our 2013 Success Sharing measures, each staff member is expected to complete at least one learning goal by Jan. 31, 2014. If you've completed your goal, log into the PDP system, select the goal, and indicate that it's been completed by checking the "Goal Completed" box.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">15</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          How do you indicate that you've completed your learning goal?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Tell a Learning Advisory Team (LAT) member</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Click "Goal Completed" in the PDP System</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Post it to ASHAnet</a></div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
$('.tile_thumbnail.asha_fitness').click(function(e) {
  $('.hidden_large_tiles.asha_fitness').lightbox_me();
});
$('.tile_thumbnail.asha_team').click(function(e) {
  $('.hidden_large_tiles.asha_team').lightbox_me();
});
$('.tile_thumbnail.asha_enroll').click(function(e) {
  $('.hidden_large_tiles.asha_enroll').lightbox_me();
});
$('.tile_thumbnail.asha_goal').click(function(e) {
  $('.hidden_large_tiles.asha_goal').lightbox_me();
});
</script>