<section class="case_study_title miltoncat">

  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="company_name">Milton CAT</h1>
    </div>
  </div>

</section>

<section class="about_case_study Milton CAT">
  <div class="row testimonial">
    <div class="large-7 columns quote">
      <h2 class="client_quote">Supervisors are bombarded with a lot of information on a daily basis. H.Engage allows for the key points of a safety message to be communicated in a quick and easy-to-read format. H.Engage is not another page and a half email to read, it is a visually stimulating media board which comes right to your device.</h2>
      <h3 class="client_name">&mdash;<span>David Convery</span>, Corporate Manager of Environmental Safety & Health</h3>
    </div>
    <div class="large-5 columns client_image">
      <%= image_tag "case_studies/miltoncat_equipment.png", "alt" => "Milton CAT" %>
    </div>
  </div>
</section>

<section class="about_client">
  <div class="row">
    <div class="large-3 columns logo">
      <%= image_tag "case_studies/milton_cat_logo.png", "alt" => "Milton CAT" %>
    </div>
    <div class="large-6 columns description">
      <h3>About the client</h3>
      <p>Milton CAT is an authorized Caterpillar dealer in the Northeast selling machines, generators, parts and service. Milton CAT has approximately 1,000 employees in 14 locations ranging from Bangor to Boston. Safety is a top priority and getting timely and relevant safety messages to employees is crucial to their safety program.</p>
    </div>
    <div class="large-3 columns board_uses">
      <h3>Utilized board for:</h3>
      <ul>
        <li>Posting safety information</li>
        <li>Distributing safety briefs to managers & supervisors</li>
        <li>Tracking comprehension of safety information</li>
        <li>Tracking completion of safety briefs</li>
      </ul>
    </div>
  </div>

</section>

<section class="case_study_content Milton CAT">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Getting the Message to Busy Supervisors</h2>
      <p>
        For David Convery, Corporate Manager of Environmental Safety and Health at Milton CAT, marketing a weekly safety message is key to their injury reduction efforts. Supervisors are some of the busiest people in any organization and keeping them informed and engaged is always challenging.
      </p>

      <h2>Not Just Another Email</h2>
      <p>In addition to posters, monthly trainings, and Safety Briefs, a lot of information was being sent out via a weekly email. It was great content, but the key points were easily overlooked. A marketing tool was needed that would make content creation faster and get the key points across.</p>
    </div>
  </div>

  <!-- ============= small sample tiles ============= -->
  <div class="row study_samples editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Sample Milton CAT Tiles</p>
    </div>
    <div class="large-12 columns">

      <div class="tile_thumbnail miltoncat_incident"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Last Chance to Sign Up for this Session of Fitness Classes" %>
        </div>
        <div class="headline">
          <span class="text">Determine Root Causes to Prevent Re-Occurrences</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_fire"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Speech-Language Pathology Cluster, Team Highlight" %>
        </div>
        <div class="headline">
          <span class="text">Who Can Use a Fire Extinguishers at Milton CAT?</span>
        </div>
      </div></div>

      <div class="tile_thumbnail miltoncat_safetybriefs"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "Open Enrollment Drop-In Sessions" %>
        </div>
        <div class="headline">
          <span class="text">The Importance of Safety Briefs</span>
        </div>
      </div></div>
      
      <div class="tile_thumbnail miltoncat_fallprevention"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag "case_studies/miltoncat_tile_fallprevention.png", "alt" => "Mark your learning goal complete!" %>
        </div>
        <div class="headline">
          <span class="text">Safe Access to Work Areas</span>
        </div>
      </div></div>

    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>“It’s easy to use and looks professional.”</h2>
      <p>Two months after launching the Milton Cat Safety Board, over 94% of the target audience has joined. Each week, David and his team take 20 minutes to create safety tiles around various topics. The response has been overwhelmingly positive, with 75% of participants reading the tiles each week. As one Field Service Supervisor put it in an unprompted email to David, "This new website is great. I like the points and the friend thing, having fun with it!”</p>

      <h2>Safety Brief Completion Has Increased.</h2>
      <p>For David, the most important thing has been outcomes. Weekly Safety Brief completion has increased by 50% since launch. Prior to using H.Engage, Supervisors could be up to a month behind on sharing weekly safety messages with their employees, and there was no way to track it. David is now able to track which Supervisors are completing their safety talks with employees, and is able follow-up with those who are not. The result? A safer work environment for Milton CAT and happy Supervisors.</p>
    </div>
  </div>
</section>


<!-- ============= full sample tiles ============= -->

<section class="hidden_large_tiles miltoncat_incident">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_reviewingincidents.png", "alt" => "Why Reviewing Incidents is Important" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Determine Root Causes to Prevent Re-Occurrences</div>
      <div class="tile_supporting_content">Root causes can be identified by asking “why?”. For every incident or event there is a root cause. Find & address the root cause rather than trying to only fix the result. This week’s Safety Brief is September’s accidents, injuries, and near misses for you to review with your co-workers and post.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          How do you prevent an incident from re-occurring?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Fix The Outcome Of The Prior Incident</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Stop Performing Those Job Functions/Actions</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Find & Address The Root Cause</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_fire">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_fireextinguisher.png", "alt" => "Who Can Use a Fire Extinguishers at Milton CAT?" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Who Can Use a Fire Extinguishers at Milton CAT?</div>
      <div class="tile_supporting_content">Only trained personnel are allowed to use fire extinguishers. Call 9-911 for help before attempting to extinguish a serious fire. The fire may take hold much faster than you're capable of dealing with.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Who can use a fire extinguisher at Milton CAT?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">Anyone</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Only Trained Personnel</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Supervisors And Managers</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_safetybriefs">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_safetybrief.png", "alt" => "The Importance of Safety Briefs" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">The Importance of Safety Briefs</div>
      <div class="tile_supporting_content">Safety Briefings provide our workers a way to participate in the safety process. Workers prefer to receive important information verbally from their Supervisor. By having direct interaction about safety with the same individual in charge of productivity conveys the importance of the safety message.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Why is it important to conduct safety briefings?
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">It Conveys The Importance Of Safety Messages</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">Workers Prefer Direct Interaction With Supervisors</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">It Gives Workers A Way To Participate In Safety</a>
           <div class="tile_multiple_choice_answer"><a href="#!">All Of The Above</a></div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden_large_tiles miltoncat_fallprevention">
  <div class="tile_holder client_created">
    <div class="tile_full_image">
      <%= image_tag "case_studies/miltoncat_tile_fallprevention.png", "alt" => "Milton CAT Fall Prevention Refresher" %>
    </div>
    <div class="tile_texts_container">
      <div class="tile_headline">Safe Access to Work Areas</div>
      <div class="tile_supporting_content">To prevent falls always analyze the need for fall prevention. Hazards must be recognized in order to provide safe access to each work area. Always wear fall protection when safe access cannot be provided or maintained.</div>
      <div class="tile_quiz">
        <div class="tile_points_bar">
          <div class="earnable_points">
            <span class="num_of_points">2</span><span class="points_label">Points</span>
          </div>
        </div>
        <div class="tile_question">
          Hazards must be recognized in order to provide safe access to each work area.
        </div>
        <div class="multiple_choice_group">
          <div class="tile_multiple_choice_answer"><a href="#!">True</a></div>
          <div class="tile_multiple_choice_answer"><a href="#!">False</a></
        </div>
      </div>
    </div>
  </div>
</section>



<script>
$('.tile_thumbnail.miltoncat_incident').click(function(e) {
  $('.hidden_large_tiles.miltoncat_incident').lightbox_me();
});
$('.tile_thumbnail.miltoncat_fire').click(function(e) {
  $('.hidden_large_tiles.miltoncat_fire').lightbox_me();
});
$('.tile_thumbnail.miltoncat_safetybriefs').click(function(e) {
  $('.hidden_large_tiles.miltoncat_safetybriefs').lightbox_me();
});
$('.tile_thumbnail.miltoncat_fallprevention').click(function(e) {
  $('.hidden_large_tiles.miltoncat_fallprevention').lightbox_me();
});
</script>