<section id="front_hero" class="first_section hero">
	<div class="row main-row">
		<div class="large-9 large-centered columns copy">
			<h1>How do you drive engagement in your company<span class="kerning">’</span>s <span class="rotate"><span class="rotating_word">objective</span>?</span></h1>
			<div class="row">
				<div class="large-9 columns">
					<h2>H.Engage’s platform makes it easy for you to capture employee attention, save time communicating complex topics, and drive measurable action.</h2>
					<a href="#!" class="request_a_demo pop-button">Schedule a demo</a>
				</div>
			</div>
		</div>
	</div>
	<div class="down_arrow" id="da_left"></div>
	<div class="down_arrow" id="da_right"></div>
</section>

<section id="capture_attention" class="feature_sections">
	<div class="row main-row">
		<div class="large-5 push-7 columns copy">
			<h2>Capture attention</h2>
			<p>Use the technologies people love to drive engagement in communications, programs and processes at work.</p>

			<!-- Sub points -->
			<div class="row">
				<div class="small-6 columns">
					<p class="caption"><span>Points</span>
						Provide employees with positive feedback
					</p>
					<p class="caption"><span>Tiles</span>
						Make complex subjects easy to understand
					</p>
				</div>
				<div class="small-6 columns">
					<p class="caption"><span>Peer influence</span>
						Create an environment of engagement
					</p>
					<p class="caption"><span>Rewards</span>
						Drive excitement
					</p>
				</div>
			</div>
		</div>

		<div class="imagery large-7 pull-5 columns">
			<div class="site_zooms" id="site_pts">
				<%= image_tag "marketing/site-pts.png", "alt" => "Earn points towards rewards" %>
			</div>
			<div class="site_zooms" id="site_scoreboard">
				<%= image_tag "marketing/site-scoreboard.png", "alt" => "Scoreboard to check on your colleagues" %>
			</div>
		</div>
	</div>
</section>

<section class="feature_sections" id="complex_simple">
	<div class="row main-row">
		<div class="large-5 columns copy">
			<h2>Complex made simple</h2>
			<p>Easily turn complex content into <span>Tiles</span>&mdash;a communication format optimized for today’s attention span. Each tile presents a short bit  of content alongside a question that adds interactivity and proves comprehension.</p>
		</div>
		<div class="large-7 columns imagery">
			<%= image_tag "marketing/tile-green.png", "alt" => "Sample tile" %>
			<p class="caption tips" id="custom_image"><span>Custom images</span></p>
			<p class="caption tips" id="organized_messages"><span>Organized messages</span></p>
			<p class="caption tips" id="answer_for_points"><span>Related interactions</span></p>
		</div>
	</div>
</section>

<section class="feature_sections" id="beautifully_easy">
	<div class="row main-row">
		<div class="large-5 push-7 columns copy">
			<h2>Beautifully easy</h2>
			<p>Tiles are easy to create and make your communications look professionally designed. New tiles are automatically organized into an elegant email that differentiates your message from the norm.</p>
		</div>
		<div class="large-7 pull-5 columns imagery">
			<%= image_tag "marketing/digest-email.png", "alt" => "Tiles are automatically organized into an elegant email" %>
		</div>
	</div>
</section>

<section class="feature_sections" id="save_time">
	<div class="row main-row">
		<div class="large-5 columns copy">
			<h2>Save time tracking</h2>
			<p>No more chasing people down. H.Engage automatically keeps track of information such as who has read a message, taken an action or is coming to an event.</p>
		</div>
		<div class="large-7 columns imagery">
			<%= image_tag "marketing/activity-feed.png", "alt" => "See what employees have done in the activity feed" %>
		</div>
	</div>
</section>

<section class="feature_sections" id="additional_features">
	<div class="row main-row">
		<div class="large-6 columns" id="reward_engagement">
			<div class="large-10 large-centered columns imagery">
				<%= image_tag "marketing/bar.png", "alt" => "Drive engagement with game mechanics" %>
			</div>
			<div class="large-10 large-centered columns copy">
				<h2>Reward engagement</h2>
				<p>Drive engagement using a mix of behavioral economics and game mechanics. The result? Higher engagement and lower incentive costs.</p>
			</div>
		</div>

		<div class="large-6 columns" id="easy_reporting">
			<div class="large-10 large-centered columns imagery">
				<%= image_tag "marketing/chart.png", "alt" => "Real-time reporting" %>
			</div>
			<div class="large-10 large-centered columns copy">
				<h2>Easy reporting</h2>
				<p>Real-time reporting makes gauging engagement and leadership updates easy.</p>
			</div>
		</div>
	</div>
</section>

<section class="feature_sections" id="any_objective">
	<div class="row">
		<div class="main-row">
			<div class="large-8 columns large-centered copy">
				<h2>Any objective</h2>
				<p>H.Engage can help drive engagement in almost any program or process—saving you time and money. Maximize investments by linking tiles to existing tools and resources.</p>
			</div>
		</div>
	</div>

	<div class="row objective_examples">
		<div class="large-12 columns">
			<div class="mobile_left">
				<ul id="objectives_top">
					<li><span>Wellness</span></li>
					<li><span>Training &amp; development</span></li>
					<li><span>Onboarding</span></li>
					<li><span>Healthcare reform</span></li>
					<li><span>Recruiting</span></li>
					<li><span>Business announcements</span></li>
				</ul>

				<ul id="objectives_left">
					<li><span>Retirement readiness</span></li>
					<li><span>Safety</span></li>
				</ul>
			</div>

			<div class="mobile_right">
				<ul id="objectives_right">
					<li><span>Financial education</span></li>
					<li><span>Community involvement</span></li>
				</ul>

				<ul id="objectives_bottom">
					<li><span>Team sports</span></li>
					<li><span>Sustainability</span></li>
					<li><span>Policy changes</span></li>
					<li><span>Benefits</span></li>
					<li><span>Health risk assessment &amp; biometrics</span></li>
					<li><span>... And many others</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="inner_sections" id="other_benefits">
	<div class="row main-row">
		<h3>Plus other benefits!</h3>
		<ul class="large-4 columns copy">
			<li class="large-10 large-centered columns"><p>
				<span>Employee support</span>
				If your employees have a question, we’ll answer it.
			</p></li>
			<li class="large-10 large-centered columns"><p>
				<span>Enterprise safe</span>
				We’ve worked with companies big and small.
			</p></li>
		</ul>
		<ul class="large-4 columns copy">
			<li class="large-10 large-centered columns"><p>
				<span>Customer support</span>
				Not sure how to get started? We’re here to help.
			</p></li>
			<li class="large-10 large-centered columns"><p>
				<span>No IT needed</span>
				Easy to set-up and no maintenance, we take care of everything.
			</p></li>
		</ul>
		<ul class="large-4 columns copy">
			<li class="large-10 large-centered columns"><p>
				<span>Best practices</span>
				Starting a program? We have templates and information on best practices.
			</p></li>
			<li class="large-10 large-centered columns"><p>
				<span>Security</span>
				We ensure the highest industry standards around data security.
			</p></li>
		</ul>
	</div>
</section>

<section class="feature_sections" id="lets_work_together">
	<div class="row main-row">
		<div class="large-10 large-centered columns">
			<h1>Let's work together</h1>
			<div class="row large-12">
				<ul class="large-6 columns buy_benefits">
					<li>Improve participation and compliance</li>
					<li>Save time writing complex content</li>
					<li>Save money on design</li>
					<li>Reduce waste by driving use of existing resources</li>
				</ul>
				<ul class="large-6 columns buy_benefits">
					<li>Roll out new programs cheaper and faster—one platform drives engagement in any program or process</li>
					<li>Reduce time tracking and following-up</li>
					<li>Reduce questions from employees that didn’t read or understand the message</li>
				</ul>
			</div>
		</div>
	</div>

	<%= render "pages/our_clients" %>
</section>

<%= mp_track_page 'More Info, marketing' %>