<section class="feature_sections" id="hero">
	<div class="row">
		<div class="large-12 columns">
			<h1>The bulletin board, reinvented.</h1>
			<h3>Your space for creating and sharing things for people to read and do.</h3>
			<div class="visual_container">
				<%= image_tag "marketing/more_info/tile_wall_airbo2.png", "alt" => "Airbo Board" %>
				<p>Each communication, action, or link is turned into a special content format called a Tile.</p>
			</div>
		</div>
	</div>
</section>

<section class="feature_sections" id="tiles_detail">
	<div class="row">
		<div class="large-5 columns text_container">
			<h2>Tiles get attention</h2>
			<p>Where dense emails and posters go unread, Tiles capture attention using the perfect mix of consumer tools people love. </p>
			<ul>
				<li class="callout list_1"><p><span>Visual communication</span> Imagery grabs attention like today’s fastest growing consumer tools Pinterest and Instagram.</p></li>
				<li class="callout list_2"><p><span>Short content</span> Easy to read, like a text or Twitter message. Split content across Tiles for complex topics.</p></li>
				<li class="callout list_3"><p><span>Interactive</span> Users earn points for answering questions and taking actions. It’s a moment of delight that keeps people coming back.</p></li>
				<li class="list_4"><p><span>Links</span>Help aggregate content in a format that's easy to scan and points people to more information like videos or other resources.</p></li>
				<li class="list_5"><p><span>Ephemeral</span> Tiles are on the Board for a short time, creating a sense of urgency that other mediums lack.</p></li>
				<li class="list_6"><p><span>Modern Design</span> Built to optimize user experience. When a user completes a Tile, it disappears and the next Tile automatically loads.</p></li>
			</ul>
		</div>
		<div class="large-7 columns visual_container">
			<%= image_tag "marketing/more_info/tile.png", "alt" => "HEngage tile", "class" => "tile" %>
			<span class="list_1">1</span>
			<span class="list_2">2</span>
			<span class="list_3">3</span>
		</div>
	</div>
</section>


<section class="feature_sections" id="any_objective">
	<div class="row">
		<div class="main-row">
			<div class="large-8 columns large-centered copy">
				<h2>One platform, any objective</h2>
				<p>You can create Tiles about any subject and combine Tiles to create any program. Save money on specialized vendors. Maximize investments by aggregating and linking to existing tools and resources.</p>
			</div>
		</div>
	</div>

	<div class="row objective_examples">
		<div class="large-12 columns">
			<div class="mobile_left">
				<ul id="objectives_top">
					<li><span>Wellness</span></li>
					<li><span>Training &amp; development</span></li>
					<li><span>Onboarding</span></li>
					<li><span>Healthcare reform</span></li>
					<li><span>Recruiting</span></li>
					<li><span>Business announcements</span></li>
				</ul>

				<ul id="objectives_left">
					<li><span>Retirement readiness</span></li>
					<li><span>Safety</span></li>
				</ul>
			</div>

			<div class="mobile_right">
				<ul id="objectives_right">
					<li><span>Financial education</span></li>
					<li><span>Community involvement</span></li>
				</ul>

				<ul id="objectives_bottom">
					<li><span>Team sports</span></li>
					<li><span>Sustainability</span></li>
					<li><span>Policy changes</span></li>
					<li><span>Benefits</span></li>
					<li><span>Health risk assessment &amp; biometrics</span></li>
					<li><span>... And many others</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="feature_sections" id="fast_tiles">
	<div class="row">
		<div class="large-5 push-7 columns text_container">
			<h2>Beautiful Tiles fast</h2>
			<p>Create a communication that looks professionally designed in minutes. Multiple administrators can contribute. Save time and money on posters, newsletters and dense emails that people don't read.</p>
		</div>
		<div class="large-7 pull-5 columns visual_container">
			<%= image_tag "marketing/more_info/tile_builder.png", "alt" => "Tile Builder", "class" => "tile_builder" %>
			<%= image_tag "marketing/more_info/arrow_down_gray.png", "class" => "arrow" %>
		</div>
	</div>
</section>

<section class="feature_sections no_image_feature">
	<div class="row">
		<div class="large-6 columns text_container" id="free_content">
			<h2>Free content <span>(coming soon)</span></h2>
			<p>You can also get free Tiles about common topics. We’re developing a comprehensive library of best practice communications, programs and processes. Become part of our growing community.</p>
		</div>
		<div class="large-6 columns text_container" id="on_your_schedule">
			<h2>Communicate on your schedule</h2>
			<p>It’s up to you how often you communicate. You can create, activate and share Tiles weekly to maximize engagement, or run campaigns at certain times of the year. Many administrators will create 4 to 8 Tiles during the week, and send them on the following Monday.</p>
		</div>
	</div>
</section>

<section class="feature_sections" id="engagement">
	<div class="row">
		<div class="large-5 push-7 columns text_container">
			<h2>Trigger engagement</h2>
			<p>New Tiles are automatically organized into an email based on marketing best practices. In fact, digest emails like ours have a 148% higher click-through rate than non-digest emails (LaunchBit).</p>
			<p>The Board is totally private, only people you've added or shared your Board with using a unique link can join. When a user clicks on the email or unique link, they’ll be logged into the site and can start interacting with Tiles. The very first time users log-in, they’re asked to set a password.</p>
		</div>
		<div class="large-7 pull-5 columns visual_container">
			<%= image_tag "marketing/more_info/digest_email_airbo.png", "alt" => "Digest email" %>
		</div>
	</div>
</section>

<section class="feature_sections no_image_feature" id="reach_people">
	<div class="row">
		<div class="large-5 columns text_container">
			<h2>Reach people on any device</h2>
			<p>Airbo is automatically optimized for any device. That means users can access your Board on the go, even if they’re not at a computer all day.</p>
		</div>
		<div class="large-7 columns visual_container">
			<h4>That's important because:</h4>
			<ul>
				<li><span>61%</span> of cell phone owners in the U.S. have a smartphone (Pew Research Center)</li>
				<li><span>71%</span> of smartphone owners admit to using them at work (Google Insights)</li>
				<li><span>44%</span> of emails are opened on mobile (Litmus)</li>
			</ul>
		</div>
	</div>
</section>

<section class="feature_sections" id="target_influence">
	<div class="row">
		<div class="large-5 push-7 columns text_container">
			<h2>Targeted social influence</h2>
			<p>As a user interacts with Tiles, an activity feed entry is created. Users can connect to one another to see their connection’s activities and create a scoreboard. Our data shows these mechanics increase user engagement by over 30%. Historically, up to 45% of participants join Airbo because a peer recruited them.</p>
			<p>Note that the Board doesn’t work like a typical social media site. There is no free text entry, which eliminates any administrative overhead for you.</p>
		</div>
		<div class="large-7 pull-5 columns visual_container">
			<%= image_tag "marketing/more_info/activity-feed.png", "alt" => "Activity feed", "class" => "activity_feed" %>
			<%= image_tag "marketing/more_info/connections.png", "alt" => "Connections", "class" => "connections" %>
		</div>
	</div>
</section>

<section class="feature_sections" id="save_time">
	<div class="row">
		<div class="large-5 columns text_container">
			<h2>Save time following up</h2>
			<p>You can schedule an email to automatically follow-up with users that don’t interact with Tiles after the first digest email is sent. Unlike the digest email, this follow-up email has the full content of the Tiles so even users that didn’t log in see important information.</p>
		</div>
		<div class="large-7 columns visual_container">
			<%= image_tag "marketing/more_info/followup_email_airbo.png", "alt" => "Follow-up email" %>
		</div>
	</div>
</section>

<section class="feature_sections" id="monitor_board">
	<div class="row">
		<div class="large-5 push-7 columns text_container">
			<h2>Know who engaged, who didn’t</h2>
			<p>Monitor engagement levels in real time. You’ll learn what’s effective and spend less time chasing after people.</p>
		</div>
		<div class="large-7 pull-5 columns visual_container">
			<%= image_tag "marketing/more_info/monitoring_airbo.png", "alt" => "Monitor engagement levels" %>
		</div>
	</div>
</section>

<section class="feature_sections no_image_feature">
	<div class="row">
		<div class="large-6 columns text_container" id="communication_archive">
			<h2>Build your communication archive</h2>
			<p>Your Board will automatically save your Tiles, so even after you deactivate them, you will always have access to them in the future.</p>
		</div>
		<div class="large-6 columns text_container" id="deployment">
			<h2>Turn-key deployment</h2>
			<ul>
				<li><span>No IT needed:</span> Easy to set-up and no maintenance.</li>
				<li><span>Support included:</span> If your users have a question, we’ll answer it.</li>
				<li><span>Customer support:</span> Not sure how to get started? We’re here to help.</li>
			</ul>
		</div>
	</div>
</section>

<section class="feature_sections" id="built_for_biz">
	<div class="row">
		<div class="large-8 large-centered columns text_container">
			<h1>Built for business</h1>
			<h3>Airbo has undergone three years of development working collaboratively with employers of all sizes. Read some of their stories.</h3>
		</div>
		<div class="large-12 case_studies">
			<ul class="large-6 columns clients asha">
				<li class="quote">
					<p>"I want to get people the information they need to do their jobs, make good decisions, and feel good about being a member of the ASHA staff. Airbo makes this kind of sharing easy for me and engaging and fun for everyone."</p>
					<div class="titlebutton">
						<p class="name"><span>Janet McNichol</span>, Director of HR</p>
						<a href="/pages/asha" class="read_case_study">Read case study</a>
					</div>
				</li>
				<li class="logo"><a href="/pages/asha"><%= image_tag "marketing/clients/asha.png", "alt" => "ASHA" %></a></li>
			</ul>
			<ul class="large-6 columns clients heineken">
        <li class="quote">
          <p>"Airbo is a fantastic tool for us to reiterate key messaging around the benefits we offer, as well as the tools we provide, to enable employees to make the best decisions for themselves and their families."</p>
          <div class="titlebutton"><p class="name"><span>Carole Sizemore</span>, Senior Director, Total Rewards</p>
					<a href="/pages/heineken" class="read_case_study">Read case study</a></div>
				</li>
				<li class="logo"><a href="/pages/heineken"><%= image_tag "marketing/clients/heineken_logo.png", "alt" => "Heineken" %></a></li>
			</ul>
		</div>
		<div class="large-12 case_studies">
			<ul class="large-6 columns clients asha">
        <li class="quote">
          <p>"Before this came out, I never took the time to learn about the additional benefits offered."</p>
          <div class="titlebutton"><p class="name"><span>Fujifilm employee</span> from a plant in the Midwest</p>
					<a href="/pages/fujifilm" class="read_case_study">Read case study</a></div>
				</li>
				<li class="logo"><a href="/pages/fujifilm"><%= image_tag "marketing/clients/fuji.png", "alt" => "Fujifilm" %></a></li>
			</ul>
			<ul class="large-6 columns clients miltoncat">
				<li class="quote">
          <p>"Supervisors are bombarded with a lot of information on a daily basis. Airbo allows for the key points of a safety message to be communicated in a quick and easy-to-read format."</p>

          <div class="titlebutton"><p class="name"><span>David Convery</span>, Corporate Manager of Environmental Safety & Health</p>
					<a href="/pages/miltoncat" class="read_case_study">Read case study</a></div>
				</li>
				<li class="logo"><a href="/pages/miltoncat"><%= image_tag "marketing/clients/miltoncat.png", "alt" => "Milton Cat" %></a></li>
			</ul>
		</div>
	</div>
	<div class="row editorial_divider">
		<div class="large-12 columns">
      <p class="editorial_title">Next:</p>
    </div>
	</div>
	<%= render "pages/next_steps" %>
</section>
