<%= javascript_include_tag 'jquery.easing.1.3' %>
<%= javascript_include_tag 'facebox' %>
<%= stylesheet_link_tag 'facebox' %>

<div id="upper-box">
  <div class="marketing-content">
    <%= image_tag 'new_marketing/logo.jpg', :alt => 'H Engage logo', :id => 'logo' %>
    <h1 id="spark-engagement">Spark employee engagement in<br/> benefits and wellness using the<br/> tools people love.</h1> 
    <p id="short-explanation">Use social media, games and mobile phones to increase<br/> ROI and optimize communications spend.</p>
    <%# image_tag 'new_marketing/banner_cell.png', :alt => 'Get healthy, +10 points. Eat right, +5 points. Play H Engage, +25 points.', :id => 'phone-and-screenshot' %>
    <%= render :partial => 'marketing_page_video' %>
  </div>
</div>

<div id="request-consultation-bar">
  <form method="post" action="#" class="request-info">
    <span id="request-consultation">
      request more<br/>information
    </span>

    <%= text_field_tag "email[name]", 'name', :class => 'with-placeholder fat-text-field' %>

    <%= image_tag 'new_marketing/img_ampersand.png', :alt => 'and' %>

    <%= text_field_tag "email[email]", 'email', :class => 'with-placeholder fat-text-field' %>
    <%= image_submit_tag 'new_marketing/btn_submit_1.png', :class => 'submit-button' %><br/>
    <%= image_tag 'new_marketing/btn_submit_2.png', :style => 'display: none' %>
  </form>
</div>



<div id="blog-wrapper">
  <a name="blog" id="blog">&nbsp;</a>
  <div id="blog-section" class="subsection">
    <div id="blog-header">
      <%= image_tag 'new_marketing/img_tree.png', :id => 'blog-logo' %>
      <h2>Under the Node Tree</h2>
      <%= image_tag 'new_marketing/divide.png' %>
    </div>

    <div class="blog-subsection">
      <p id="blog-subname">
        News about H Engage, analysis, and statistics.
      </p>

      <% 3.times do %>
        <%= render 'tumblr_post_target', :post_class => 'recent-post' %>
      <% end %>

    </div>
  </div>

</div>

<div id="bottom-comment-box-wrapper">
  <a name="contact" id="contact">&nbsp;</a>
  <div id="bottom-comment-box">
    <h2>Got a Comment or Question?</h2>
    <form method="post" action="#" class="request-info">
      <%= text_field_tag "email[name]", 'name', :class => 'with-placeholder fat-text-field' %>

      <%= image_tag 'new_marketing/img_ampersand.png', :alt => 'and' %>

      <%= text_field_tag "email[email]", 'email', :class => 'with-placeholder fat-text-field' %>
      <%= text_area_tag "email[comment]", 'message', :class => 'with-placeholder' %>
      <div class="submit-wrapper">
        <%= image_submit_tag 'new_marketing/btn_submit_1.png', :class => 'submit-button' %><br/>
      </div>
    </form>
  </div>
</div>

<% content_for :page_footer do %>
  <div id="marketing-footer-wrapper">
    <div id="marketing-footer">
      <div id="sm-buttons">
        <a href="#"><%= image_tag 'new_marketing/img_email.png', :alt => 'Email' %> <span class="sm-action">email H Engage</span></a><br/>
        <!-- TODO: Do we even have a Facebook account? <a href='#'><%= image_tag 'new_marketing/img_fb.png', :alt => 'Facebook' %> <span class="sm-action">like H Engage</span></a> <br/>-->
        <a href="http://twitter.com/hengage"><%= image_tag 'new_marketing/img_twitter.png', :alt => 'Twitter' %> <span class="sm-action">follow H Engage</span> </a><br/>
        <a href="http://twitter.com/hengage"><%= image_tag 'new_marketing/img_tumblr.png', :alt => 'Tumblr' %> <span class="sm-action">subscribe to H Engage</span></a>
      </div>

      <div id="about-us">
        <p class="title">
          Spark employee engagement in benefits and wellness<br/> using the tools people love.
        </p>
          Use social media, games and mobile phones to increase ROI and optimize communications spend.
        <p>
        </p>
      </div>

      <div class="clear">&nbsp;</div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    function bodyExcerpt(body) {
      var words = body.split(/\s+/);
      return words.slice(0, 30).join(' ') + '...';
    }

    function populatePost(postElement, title, body, url) {
      $(postElement).
        find('.title a').
          text(title).
          attr('href', url).
          end().
        find('.body').
          html(body + '<a href="' + url + '" class="read-more">read more</a>');
    }

    function populateRecentPosts(tumblrData) {
      postElements = $('.recent-post');
      $.each(tumblrData.posts, function(index, post) {
        populatePost(postElements[index], post['regular-title'], bodyExcerpt(post['regular-body']), post['url']);
      });
    }

    function populateStatsPosts(tumblrData) {
      postElements = $('.stats-post');
      $.each(tumblrData.posts, function(index, post) {
        populatePost(postElements[index], '', post['quote-text'], '');
      });
    }
  <% end %>

  <script src="http://hengage.tumblr.com/api/read/json?start=0&num=3&filter=text&type=text&callback=populateRecentPosts"></script>

  <script src="http://hengage.tumblr.com/api/read/json?start=0&num=3&filter=text&tagged=stats&type=quote&callback=populateStatsPosts"></script>

  <%= javascript_tag do %>
    var quoteCyclingParams = [
      {leftOffset: 126, html: 'Employees play a game that makes getting healthy feel fun. <a href="#play" class="nav">How to play <%= image_tag "new_marketing/small_right_arrow.png" %></a>'},
      {leftOffset: 355, html: 'The game engages employees in existing communications and initiatives. <a href="#engage" class="nav">See how <%= image_tag "new_marketing/small_right_arrow.png" %></a>'},
      {leftOffset: 618, html: 'Real-time tracking tools measure effectiveness. <a href="#measure" class="nav">See example <%= image_tag "new_marketing/small_right_arrow.png" %></a>'},
      {leftOffset: 844, html: 'Tracking of increased engagement helps prove ROI quickly. <a href="#roi" class="nav">See how <%= image_tag "new_marketing/small_right_arrow.png" %></a>'}
    ];
    
    var quoteCyclingIndex = 0;
    var quoteText = $('#cycling-quote-box #quote-text');
    var quotePointer = $('#cycling-quote-box #pointer');
    var pointedAtLinks = $('#how-it-works h2 a');
    var postitLinks = $('#how-it-works .postit img');
    var quoteCycleTimeoutId = null;

    function setCurrentQuote(quoteIndex) {
      var params = quoteCyclingParams[quoteIndex];

      pointedAtLinks.css('font-weight', 'normal').css('color', '#999999');

      quoteText.fadeOut('fast', function() {
        quoteText.html(params.html);
        quotePointer.css('left', params.leftOffset);
        pointedAtLinks.eq(quoteIndex).css('font-weight', 'bold').css('color', '#1d8c0a');
      });

      quoteText.fadeIn();
    }

    function cycleQuote() {
      setCurrentQuote(quoteCyclingIndex);
      quoteCyclingIndex += 1;
      quoteCyclingIndex = quoteCyclingIndex % 4;
      quoteCycleTimeoutId = setTimeout(cycleQuote, 4000);
    }

    cycleQuote();

    $('.quote-control').click(function(e) {
      e.preventDefault();
      if(quoteCycleTimeoutId) {
        clearTimeout(quoteCycleTimeoutId);
      }

      quoteIndex = $.inArray(e.target, pointedAtLinks);
      if (quoteIndex == -1) {
        quoteIndex = $.inArray(e.target, postitLinks);
      }

      setCurrentQuote(quoteIndex);
    });

    function requestInfoBeforePost(form) {
      form.find('input, textarea').attr('disabled', 'disabled');
    }

    function requestInfoAfterPost(form) {
      form.html('<span class="thanks-message">Thanks, we\'ll be in touch.</span>');
    }

    function addRequestFormCallbacks(selector, beforePost, afterPost) {
      $(selector).submit(function(e) {
        e.preventDefault();

        var submitForm = $(this);
        var formValues = submitForm.serialize();

        beforePost(submitForm);

        $.post(
          '<%= email_info_requests_path %>',
          formValues,
          function() {afterPost(submitForm)}
        )
      });
    }

    addRequestFormCallbacks('.request-info', requestInfoBeforePost, requestInfoAfterPost);

    // reloads on Firefox are stupid
    $('.request-info input, .request-info textarea').removeAttr('disabled');

    var loginForm = $('#login-form');

    $('#activate-login-form').submit(function(e) {
      e.preventDefault();
      $('#login-form').toggle();
    });

    $('body').click(function(e) {
      if($(e.target).closest('#activate-login-form').length > 0) { return; }
      if($(e.target).closest('#login-form').length > 0) { return; }

      $('#login-form').hide();
    });

    $('a.nav').live('click', function(e) {
      var targetSelector = $(this).attr('href');
      var scrollOffset = $(targetSelector).offset().top;

      $('html, body').stop().animate({scrollTop: scrollOffset}, 1500, 'easeInOutExpo');
      e.preventDefault();
    });

    $.facebox.settings.closeImage = '/images/facebox/closelabel.png';
    $.facebox.settings.loadingImage = '/images/facebox/loading.gif';

    $('a[rel*=facebox]').facebox();

    $('.submit-button').hover(
      function(e) {
        $(this).attr('src', '<%= image_path "new_marketing/btn_submit_2.png" %>');
      },

      function(e) {
        $(this).attr('src', '<%= image_path "new_marketing/btn_submit_1.png" %>');
      }
    );
  <% end %>
<% end %>
