<div id="navbar">
  <%= image_tag 'new_marketing/logo.png', :alt => "H Engage logo" %>

  <span id="buttons">
    <% %w(process engage track video blog).each do |link_title| %>
      <%= link_to link_title.capitalize, "#" + link_title %>
    <% end %>
  </span>
</div>

<div id="slideshow">
  <!-- TODO: change static slide to slideshow -->
  <%= image_tag 'new_marketing/slide1.png' %>
</div>

<div id="request-consultation-bar">
  <!-- TODO: make this a live form. -->
  <form>
    <span id="request-consultation">
      request a<br/>consultation
    </span>

    <%= text_field_tag "", 'name', :class => 'with-placeholder' %>

    <%= image_tag 'new_marketing/img_ampersand.png', :alt => 'and' %>

    <%= text_field_tag "", 'email', :class => 'with-placeholder' %>
    <%= image_submit_tag 'new_marketing/btn_submit.png' %>
  </form>
</div>

<div id="postits">
  <% %w(play engage track roi).each do |postit_name| %>
    <%= image_tag "new_marketing/img_h_#{postit_name}1.png", :id => "postit-#{postit_name}" %>
  <% end %>
  <div id="postit-text">
    <span class="word-equation-term">Play</span>
    <span class="word-equation-term">+</span>
    <span class="word-equation-term">Engage</span>
    <span class="word-equation-term">+</span>
    <span class="word-equation-term">Track</span>
    <span class="word-equation-term">=</span>
    <span class="word-equation-term last">Increase ROI</span>
  </div>
</div>


