<%= javascript_include_tag 'jquery.easing.1.3' %>
<%= javascript_include_tag 'facebox' %>
<%= stylesheet_link_tag 'facebox' %>

<a name="home" id="home">&nbsp;</a>

<% content_for :navbar do %> 
  <span id="buttons">
    <% %w(Home Play Engage Measure ROI Blog Contact).each do |link_title| %>
      <%= link_to link_title, "#" + link_title.downcase, :class => 'nav' %>
    <% end %>
  </span>
<% end %>

<div id="upper-box">
  <div class="marketing-content">
    <%= image_tag 'new_marketing/logo.jpg', :alt => 'H Engage logo', :id => 'logo' %>
    <%= image_tag 'new_marketing/img_spark_engagement.png', :alt => 'Spark engagement in health and wellness using the technology people love', :id => 'spark-engagement' %>
    <%= image_tag 'new_marketing/banner_cell.jpg', :alt => 'Get healthy, +10 points. Eat right, +5 points. Play H Engage, +25 points.', :id => 'phones-scoring' %>
  </div>
</div>

<div id="how-it-works">
  <div class="marketing-content">
    <p id="what-it-does">
      <%= I18n.t("marketing.what_hengage_does", :default => "We use a social text message based game to engage employees in health and wellness, make traditional communications interactive, and increase participation in programs.") %>
    </p>
    <h1>How It Works</h1>
    <div id="postits">
      <% %w(play engage measure roi).each do |postit_name| %>
        <% unhover_path = image_path("new_marketing/img_h_#{postit_name}1.png") %>
        <% hover_path = image_path("new_marketing/img_h_#{postit_name}2.png") %>
        <% image_id = "#{postit_name}-postit" %>

        <%= link_to image_tag(unhover_path, :id => image_id), "##{postit_name}", :class => 'quote-control postit' %>
        <%= image_tag hover_path, :style => "display: none" %>

        <% content_for :javascript do %>
          <%= javascript_tag do %>
            $('#<%= image_id %>').hover(
              function() {$(this).attr('src', '<%= hover_path %>')},
              function() {$(this).attr('src', '<%= unhover_path %>')}
            );
          <% end %>
        <% end %>
      <% end %>
    </div>
    <h2><a href="#play" class="quote-control">Play</a>+<a href="#engage" class="quote-control">Engage</a>+<a href="#measure" class="quote-control">Measure</a>=<a href="#roi" class="quote-control">ROI</a></h2>
    <div id="cycling-quote-box">
      <%= image_tag "new_marketing/img_green_up_pointer.png", :id => "pointer" %>
      <div id="quote-text"></div>
    </div>
  </div>
</div>

<div id="factoids">
  <h1><%= t('marketing.factoids-header', :default => 'We use the communication channels people love!') %></h1>
  <div class="marketing-content">
    <%= image_tag "new_marketing/drop_media.png", :class => 'factoid', :alt => "Over 70% of Internet users are on Facebook." %>
    <%= image_tag "new_marketing/drop_games.png", :class => 'factoid', :alt => "43yr female is the average age of a social gamer" %>
    <%= image_tag "new_marketing/drop_text.png", :class => 'factoid', :alt => "323 texts sent monthly by 45-54 year olds." %>
  </div>
</div>

<div id="request-consultation-bar">
  <form method="post" action="#" class="request-info">
    <span id="request-consultation">
      request a<br/>consultation
    </span>

    <%= text_field_tag "email[name]", 'name', :class => 'with-placeholder fat-text-field' %>

    <%= image_tag 'new_marketing/img_ampersand.png', :alt => 'and' %>

    <%= text_field_tag "email[email]", 'email', :class => 'with-placeholder fat-text-field' %>
    <%= image_submit_tag 'new_marketing/btn_submit.png' %><br/>

  </form>
</div>

<div id="play-section" class="subsection">
  <div class="subsection-header">
    <a name="play" id="play">&nbsp;</a>
    <h2><%= image_tag 'new_marketing/img_h_play_small.png' %><span class="current-section">Play</span></h2>
    <%= image_tag 'new_marketing/divide.png' %>
  </div>

  <div class="two-column">
    <div class="left" id="play-text-1">
      <h3>Do healthy behaviors</h3>
      <p>Whenever Amy makes a healthy decision, she sends a text message.</p>
      <p class="also">She can also use email<br/>or a website.</p>
    </div>

    <div class="right" id="play-graphic-1">
      <%= image_tag 'new_marketing/img_play1.png' %>
    </div>

    <div class="shim">
    </div>

    <div class="left" id="play-text-2">
      <h3>Earn points</h3>
      <p>Amy has fun earning points, so she makes healthier choices.<%= image_tag 'new_marketing/teal_arrow.png' %></p>
      <p class="also">Game mechanics make<br/>earning points feel fun.</p>
    </div>

    <div class="right" id="play-graphic-2">
      <%= image_tag 'new_marketing/img_play2.png' %>
    </div>

    <div class="shim">
    </div>

    <div class="left" id="play-text-3">
      <h3>Socialize and compete</h3>
      <p>Amy's game activity is posted to a private social networking site where players compete and learn new healthy behaviors.<%= image_tag 'new_marketing/teal_arrow.png' %></p>
      <p class="also">H Engage adds information<br/>about why an activity is<br/>healthy right into the posting.</p>
    </div>

    <div class="right">
      <%= image_tag 'new_marketing/img_play3.png' %>
    </div>

    <div class="shim">
    </div>
  </div>

  <div id="secondary-play">
    <%= image_tag 'new_marketing/secondary_divider.png' %>

    <div class="two-column">
      <div class="left">
        <h3>No computer or <br/>smartphone needed</h3>
        <p>It can be deployed entirely via text messaging to reach your employees wherever they are.</p>
      </div>

      <div class="right">
        <h3>Stay in control of<br/>your social media</h3>
        <p>H Engage automatically promotes positive messaging and stops inappropriate content.</p>
      </div>

      <div class="shim">
      </div>
    </div>
  </div>
</div>

<div id="engage-section-wrapper">
  <div id="engage-section" class="subsection">
    <div class="subsection-header">
      <a name="engage" id="engage">&nbsp;</a>
      <h2><%= image_tag 'new_marketing/img_h_engage_small.png' %><span class="current-section"> Engage</span></h2>
      <%= image_tag 'new_marketing/divide.png' %>
    </div>

    <h3>Increase engagement in existing programs</h3>
    <div class="two-column">
      <div class="left">
        <%= image_tag 'new_marketing/engage_teal_arrow_left.png', :id => 'teal-arrow-left' %>
        <h3>Wellness Initiatives</h3>
        <h4>We integrate your programs<br/>into the game.</h4>
        <p id="amy-participates"><%= t('marketing.initiative-integration-example', :default => "For example, Amy participates in her employer's on-site gym program.  Each time she goes, she earns points.") %></p>
        <%= image_tag 'new_marketing/img_on_site_gym_phone.png', :id => 'on-site-gym-phone' %>
        <div id="we-add-game-mechanics">
          We add game mechanics to keep Amy coming back!
        </div>

        <p>Amy's connections learn about the program. Now they're more likely to participate because they know Amy is participating.</p>
        <%= image_tag 'new_marketing/img_activity_feed_entry.png' %>
        <p id="help-drive-traffic">
          <%= image_tag 'new_marketing/teal_arrow.png', :id => 'teal-arrow-bottom' %>
          Links to pages on your intranet</br>
          help drive traffic and visibility.
        </p>
      </div>

      <div class="right">
        <%= image_tag 'new_marketing/engage_teal_arrow_right.png', :id => 'teal-arrow-right' %>
        <h3>Communication Materials</h3>
        <h4>We make existing communication<br/>materials interactive.</h4>
        <%= link_to image_tag('new_marketing/img_sheep_poster.png'), "/images/new_marketing/img_sheep_poster_large.png", :rel => 'facebox' %>

        <p id="h-engage-enhances"><%= t('marketing.communications-materials-example', :default => "For example, Amy's employer has added H Engage into posters around campus. Amy can interact with the posters using text messaging, and earn points for: ") %></p>

        <ul id="winning-points-from-poster">
          <li>Spotting the poster</li>
          <li>Reading the poster</li>
          <li>Answering a question about the poster's content</li>
        </ul>

        <p id="key-points">
          Key points from the communication are repeated in Amy's activity stream, giving the content visibility to people who are connected to Amy.
        </p>
        <%= image_tag 'new_marketing/img_activity_feed_entry_closeup.png' %>
      </div>

      <div class="shim">
      </div>
    </div>
  </div>
</div>

<div id="measure-section" class="subsection">
  <div class="subsection-header">
    <a name="measure" id="measure">&nbsp;</a>
    <h2><%= image_tag 'new_marketing/img_h_measure_small.png' %><span class="current-section">Measure</span></h2>
    <%= image_tag 'new_marketing/divide.png' %>
  </div>

  <div class="two-column">
    <div class="left" id="measure-text-1">
      <h3>Measure results</h3>
      <p>We provide you with data that helps track<br/>engagement in your communications<br/>and wellness programs, to help prove ROI:
        <ul>
          <li>Track how much users are interacting with different communications</li>
          <li>Identify which communications are most effective</li>
          <li>Measure program engagement to help drive real time improvements</li>
        </ul>
      </p>
    </div>

    <div class="right" id="measure-graphic-1">
      <%= image_tag 'new_marketing/measure_chart.png' %>
    </div>

    <div class="shim">
    </div>
  </div>
</div>

<div id="roi-wrapper">
  <div id="roi-section" class="subsection">
    <a name="roi" id="roi">&nbsp;</a>
    <div class="subsection-header">
      <h2><%= image_tag 'new_marketing/img_h_roi_small.png' %><span class="current-section">ROI</span></h2>
      <%= image_tag 'new_marketing/divide.png' %>
    </div>

    <div class="two-column">
      <div class="left" id="roi-text-1">
        <h3><%= t('marketing.roi-header', :default => "We provide a measurable<br/> ROI in months, not years.")%></h3>
        <p><%= t('marketing.roi-benefits', :default => "H Engage helps maximize engagement in your existing programs, which drives incremental ROI from your existing investments:") %>
          <ul>
            <li>Increase participation rates in wellness programs.</li>
            <li>Increase engagement in communications.</li>
          </ul>
        </p>

        <p><a href="#contact" class="nav"><%= t('marketing.roi-contact-link-text', :default => "We can help you calculate potential savings. Contact us to find out how.") %></a></p>
      </div>

      <div class="right" id="roi-graphic-1">
        <!-- TODO: Get real graphic for here -->
        <%= image_tag 'new_marketing/img_roi.png' %>
      </div>

      <div class="shim">
      </div>
    </div>
  </div>
</div>

<div id="blog-wrapper">
  <a name="blog" id="blog">&nbsp;</a>
  <div id="blog-section" class="subsection">
    <h2>Read our <strong>Blog</strong></h2>
    <%= image_tag 'new_marketing/divide.png' %>

    <div class="blog-subsection">
      <p id="blog-name" class="point top">
        <a href="http://hengage.tumblr.com">Under the Node Tree</a>
      </p>
      <p id="blog-subname">
        News about H Engage, analysis, and statistics.
      </p>

      <% 3.times do %>
        <%= render 'tumblr_post_target', :post_class => 'recent-post' %>
      <% end %>

    </div>

  </div>
</div>

<div id="bottom-comment-box-wrapper">
  <a name="contact" id="contact">&nbsp;</a>
  <div id="bottom-comment-box">
    <h2>Got a Comment or Question?</h2>
    <form method="post" action="#" class="request-info">
      <%= text_field_tag "email[name]", 'name', :class => 'with-placeholder fat-text-field' %>

      <%= image_tag 'new_marketing/img_ampersand.png', :alt => 'and' %>

      <%= text_field_tag "email[email]", 'email', :class => 'with-placeholder fat-text-field' %>
      <%= text_area_tag "email[comment]", 'message', :class => 'with-placeholder' %>
      <div class="submit-wrapper">
        <%= image_submit_tag 'new_marketing/btn_submit.png' %><br/>
      </div>
    </form>
  </div>
</div>

<% content_for :page_footer do %>
  <div id="marketing-footer-wrapper">
    <div id="marketing-footer">
      <div id="sm-buttons">
        <a href="#"><%= image_tag 'new_marketing/img_email.png', :alt => 'Email' %> <span class="sm-action">email H Engage</span></a><br/>
        <!-- TODO: Do we even have a Facebook account? <a href='#'><%= image_tag 'new_marketing/img_fb.png', :alt => 'Facebook' %> <span class="sm-action">like H Engage</span></a> <br/>-->
        <a href="http://twitter.com/hengage"><%= image_tag 'new_marketing/img_twitter.png', :alt => 'Twitter' %> <span class="sm-action">follow H Engage</span> </a><br/>
        <a href="http://twitter.com/hengage"><%= image_tag 'new_marketing/img_tumblr.png', :alt => 'Tumblr' %> <span class="sm-action">subscribe to H Engage</span></a>
      </div>

      <div id="about-us">
        <p class="title">
          H Engage is a wellness engagement platform.
        </p>
        <p>
          We spark excitement in health, make corporate communications interactive, and increase participation in wellness programs using a fun mobile game that drives ROI.
        </p>
      </div>

      <div class="clear">&nbsp;</div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    function bodyExcerpt(body) {
      var words = body.split(/\s+/);
      return words.slice(0, 30).join(' ') + '...';
    }

    function populatePost(postElement, title, body, url) {
      $(postElement).
        find('.title a').
          text(title).
          attr('href', url).
          end().
        find('.body').
          text(body);
    }

    function populateRecentPosts(tumblrData) {
      postElements = $('.recent-post');
      $.each(tumblrData.posts, function(index, post) {
        populatePost(postElements[index], post['regular-title'], bodyExcerpt(post['regular-body']), post['url']);
      });
    }

    function populateStatsPosts(tumblrData) {
      postElements = $('.stats-post');
      $.each(tumblrData.posts, function(index, post) {
        populatePost(postElements[index], '', post['quote-text'], '');
      });
    }
  <% end %>

  <script src="http://hengage.tumblr.com/api/read/json?start=0&num=3&filter=text&type=text&callback=populateRecentPosts"></script>

  <script src="http://hengage.tumblr.com/api/read/json?start=0&num=3&filter=text&tagged=stats&type=quote&callback=populateStatsPosts"></script>

  <%= javascript_tag do %>
    var quoteCyclingParams = [
      {leftOffset: 126, html: 'Employees play a game that makes getting healthy feel fun. <a href="#play" class="nav">How to play.</a>'},
      {leftOffset: 328, html: 'The game engages employees in existing communications and initiatives. <a href="#engage" class="nav">See how.</a>'},
      {leftOffset: 547, html: 'Real-time tracking tools measure effectiveness. <a href="#measure" class="nav">See example.</a>'},
      {leftOffset: 744, html: 'Tracking of increased engagement helps prove ROI quickly. <a href="#roi" class="nav">See how.</a>'}
    ];

    var quoteCyclingIndex = 0;
    var quoteText = $('#cycling-quote-box #quote-text');
    var quotePointer = $('#cycling-quote-box #pointer');
    var pointedAtLinks = $('#how-it-works h2 a');
    var postitLinks = $('#how-it-works .postit img');
    var quoteCycleTimeoutId = null;

    function setCurrentQuote(quoteIndex) {
      var params = quoteCyclingParams[quoteIndex];

      pointedAtLinks.css('font-weight', 'normal').css('color', '#999999');

      quoteText.fadeOut('fast', function() {
        quoteText.html(params.html);
        quotePointer.css('left', params.leftOffset);
        pointedAtLinks.eq(quoteIndex).css('font-weight', 'bold').css('color', '#1d8c0a');
      });

      quoteText.fadeIn();
    }

    function cycleQuote() {
      setCurrentQuote(quoteCyclingIndex);
      quoteCyclingIndex += 1;
      quoteCyclingIndex = quoteCyclingIndex % 4;
      quoteCycleTimeoutId = setTimeout(cycleQuote, 4000);
    }

    cycleQuote();

    $('.quote-control').click(function(e) {
      e.preventDefault();
      if(quoteCycleTimeoutId) {
        clearTimeout(quoteCycleTimeoutId);
      }

      quoteIndex = $.inArray(e.target, pointedAtLinks);
      if (quoteIndex == -1) {
        quoteIndex = $.inArray(e.target, postitLinks);
      }

      setCurrentQuote(quoteIndex);
    });

    function requestInfoBeforePost(form) {
      form.find('input, textarea').attr('disabled', 'disabled');
    }

    function requestInfoAfterPost(form) {
      form.html('<span class="thanks-message">Thanks, we\'ll be in touch.</span>');
    }

    function addRequestFormCallbacks(selector, beforePost, afterPost) {
      $(selector).submit(function(e) {
        e.preventDefault();

        var submitForm = $(this);
        var formValues = submitForm.serialize();

        beforePost(submitForm);

        $.post(
          '<%= email_info_requests_path %>',
          formValues,
          function() {afterPost(submitForm)}
        )
      });
    }

    addRequestFormCallbacks('.request-info', requestInfoBeforePost, requestInfoAfterPost);

    // reloads on Firefox are stupid
    $('.request-info input, .request-info textarea').removeAttr('disabled');

    var loginForm = $('#login-form');

    $('#activate-login-form').submit(function(e) {
      e.preventDefault();
      $('#login-form').toggle();
    });

    $('a.nav').live('click', function(e) {
      var targetSelector = $(this).attr('href');
      var scrollOffset = $(targetSelector).offset().top;

      $('html, body').stop().animate({scrollTop: scrollOffset}, 1500, 'easeInOutExpo');
      e.preventDefault();
    });

    $.facebox.settings.closeImage = '/images/facebox/closelabel.png';
    $.facebox.settings.loadingImage = '/images/facebox/loading.gif';

    $('a[rel*=facebox]').facebox();

  <% end %>
<% end %>
