<div class="large-8 row large-centered">
  <section class="logos">
    <div class="large-12 large-centered">
      <h5>Our logos</h5>
      <div class="example large-6 columns light-bg">
        <%= image_tag "logo.png", alt: "H.Engage" %>
      </div>
      <div class="example large-6 columns light-bg">
        <%= image_tag "airbo_logo_lightblue_square_smile.png", alt: "H.Engage" %>
      </div>
    </div>
  </section>

  <section class="colors">
    <%
      palettes = {
        "Color palette" => {
          "sky-blue"        => "#4face0",
          "blue"            => "#50698C",
          "light-blue"      => "#a7d5ef",
          "dark"            => "#0c0c0b",
          "dark-gray"       => "#2e2e2c",
          "darker-gray"     => "#66676d",
          "gray"            => "#818385",
          "med-gray"        => "#a8a8a8",
          "light-gray"      => "#dfdfdf",
          "almost-white"    => "#fefefe",
          "white"           => "#fff",
          "dark-green"      => "#4FAA60",
          "red"             => "#BC4C40"
        }
      }
    %>
    <% palettes.each do |palette_name, palette| %>
      <h5><%= palette_name %></h5>
      <div class="large-12 columns large-centered">
        <div class="example row">
          <% palette.each do |name, color| %>
            <%= content_tag :div, id: name, class: "large-3 columns", style: "background:#{color};" do %>
              <%= name %>
              <br/>
              <%= color %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="headers">
    <h5>Headers</h5>
    <div class="large-12 columns large-centered">
      <div class="example row">
        <h1>This is my top level header. H1</h1>
        <h2>Sometimes I need a subhead. H2</h2>
        <h3>Occasionally, this. H3</h3>
        <h4>Say hi to H4</h4>
        <h5>And the last one is H5</h5>
        <p id="regular_text">Regular text</p>
        <p id="caption">Caption</p>
      </div>
    </div>
  </section>
  <section class="buttons">
    <h5>Primary buttons, with importance in order</h5>
    <h5>@include app-button($color)</h5>
    <h5>Regular: 16px / 1 em, Small 10px / .625em</h5>
    <div class="large-12 columns large-centered full-buttons">
      <div class="example row">
        <a class="big_button" id="sky-blue">Click me</a>
        <a class="big_button" id="gray">Click me</a>
      </div>
      <div class="example row">
        <a class="big_button small_button" id="sky-blue">Click me</a>
        <a class="big_button small_button" id="gray">Click me</a>
      </div>
    </div>

    <h5>Secondary buttons, with importance in order</h5>
    <h5>@include light-button($color)</h5>
    <div class="large-12 columns large-centered light-buttons">
      <div class="light-bg example row">
        <a class="light_button" id="sky-blue">Click me</a>
        <a class="light_button" id="gray">Click me</a>
      </div>
      <div class="light-bg example row">
        <a class="light_button small_button" id="sky-blue">Click me</a>
        <a class="light_button small_button" id="gray">Click me</a>
      </div>
    </div>
  </section>

  <section class="forms">
    <h5>Form</h5>
    <div class="large-12 columns large-centered">
      <div class="example row">
        <form class="">
          <label for="input">Label</label>
          <input type="text" id="input" placeholder="Placeholder">

          <label for="big_select">Select</label>
          <select id="big_select">
            <option>Option 1</option>
            <option>Option 2</option>
          </select>

          <label for="small_select">Small select</label>
          <select id="small_select" class="small">
            <option>Option 1</option>
            <option>Option 2</option>
          </select>

          <div class="switcher">
            <div class="off disengaged">Off</div>
              <div class="switch small round">
                <%= radio_button_tag 'switcher', "true", true, id: "switcher_on" %>
                <%= radio_button_tag 'switcher', "false", false, id: "switcher_off" %>
                <span class='green-paddle'></span>
              </div>
            <div class="on engaged">On</div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="dividers">
    <h5>Dividers</h5>
    <div class="row editorial_divider">
      <div class="large-12 columns">
        <p class="editorial_title">Next:</p>
      </div>
    </div>
  </section>

</div>