<div class="landing_lightbox">
  <div class="row">
    <div class="landing_welcome_box large-9 large-centered columns">

      <div class="get_your_board large-12">
        <h1>Your bulletin board, reinvented.</h1>
              <div class="product_features large-12">
          <h3>Airbo is your company's attention-grabbing space to communicate.</h3>
      </div>
      </div>


      <div class="start_form large-12">
        <form method="post" action="#" data-request-demo-email-only="pseudo_modal welcome">
          <input type="text" placeholder="Enter your email" name="contact_email"/>
          <input type="submit" value="Create your free board"/>
        </form>
      </div>

      <div class="row editorial_divider clients_header">
        <div class="large-12 columns">
          <p class="editorial_title">Businesses use Boards to engage employees</p>
        </div>
      </div>
      <div class="clients large-12">
        <%= render "pages/our_clients" %>
      </div>

      <div class="more_info large-12">
        <a href="/pages/more_info">More information</a>
      </div>

    </div>
  </div>
</div>

<script>


$('#signup_form').submit(function(e) {
  e.preventDefault();
  $('#signup_error, #signup_thanks').hide();

  var trimmedEmail = $.trim($('#contact_email').val());

  if(trimmedEmail == '') {
    $('#signup_error').slideDown();
  } else {
    $('#submitting_signup_form').show();
    $.post( 
      '<%= email_info_requests_path %>', 
      {contact_email: trimmedEmail, contact_comment: "From Public board landing", silent: true}, 
      function() {
        $("#signup_form").hide();
        $('#submitting_signup_form').hide();
        $('#signup_thanks').fadeIn();
        mixpanel.track("Public board landing, Sign Up form submitted", {});
      }
    )
  }
});

$("[placeholder]").placeholder();
</script>

<%= javascript_include_tag 'jquery.lightbox_me' %>
<%= render "shared/request_demo" %>

<%= mp_track_page 'Public board landing' %>
