<header>
  <div class="row">
    <div class="columns large-5" id="logo">
      <%= image_tag "marketing/logo_white.png", alt: "H.Engage" %>
    </div>
  </div>
  <div class="row" id="opener">
    <div class="columns large-8 large-centered copy">
      <div class="headlines">
        <h1>The bulletin board reinvented.</h1>
        <h2>Easily create and post engaging communications for your organization.</h2>
      </div>
      <div id="opener_form" class="large-10 large-centered column">
        <%= render "shared/marketing_email_signup" %>
        <p class="caption">
          Already a user?
          <a href="/sign_in" class="sign_in">Sign in</a>
        </p>
      </div>
    </div> <!-- End of large-10 -->
  </div>
</header>


<section class="product_values">
  <div class="row">
    <div class="large-4 columns a_value" id="create_content">
      <h3>Easily create content</h3>
      <p>Create great-looking communications about any topic. Eliminate time and money spent on dense emails, posters and newsletters that people don't read.</p>
    </div>
    <div class="large-4 columns a_value" id="engage_readers">
      <h3>Engage employees</h3>
      <p>Leverage the best elements of consumer tools people love: large imagery like Instagram, short bits of content like Twitter and quiz-based interactivity like a game.</p>
    </div>
    <div class="large-4 columns a_value" id="save_time">
      <h3>Save time following up</h3>
      <p>H.Engage automatically tracks who has read content and taken actions so you don't have to. Automated follow-ups save time on one-off calls and emails.</p>
    </div>
  </div>
</section>

<section class="any_device">
  <div class="row">
    <div class="large-4 columns copy a_value" id="deliver_anywhere">
      <h3>Deliver on any device</h3>
      <p>71% of employees admit to using their smartphones at work. H.Engage helps reach employees on all their screens, whether they're sitting at a computer or not.</p>
    </div>
    <div class="large-8 columns imagery">
      <%= image_tag "marketing/device_desktop.png", alt: "Desktops", id: "device_desktop" %>
      <%= image_tag "marketing/device_tablet.png", alt: "Tablets", id: "device_tablet" %>
      <%= image_tag "marketing/device_phone.png", alt: "Smartphones", id: "device_phone" %>
    </div>
  </div>
</section>

<section class="in_the_press">
  <div class="row">
    <a href="#!" id="to_the_top">Interested? Sign up!</a>
    <div class="large-12 columns">
      <h3>Our thought leadership</h3>
      <ul class="large-12" id="press_logos">
        <li><a href="http://www.forbes.com/sites/karstenstrauss/2013/09/17/do-millennials-think-differently-about-money-and-career/" target="_new"><%= image_tag "marketing/press/forbes.png", alt: "Forbes Magazine" %></a></li>
        <li><a href="http://ebn.benefitnews.com/news/faster-cheaper-way-to-wellness-programs-that-work-2735879-1.html" target="_new"><%= image_tag "marketing/press/ebn.png", alt: "Employee Benefit News" %></a></li>
        <li><a href="http://www.businessinsurance.com/article/20130616/NEWS03/306169982?tags=%7C257%7C307%7C342" target="_new"><%= image_tag "marketing/press/bi.png", alt: "Business Insurance" %></a></li>
        <li><a href="http://www.shrm.org/hrdisciplines/benefits/Articles/Pages/Open-Enrollment-Communication.aspx" target="_new"><%= image_tag "marketing/press/shrm.png", alt: "Society for Human Resources Management Online" %></a></li>
      </ul>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <ul id="bulletin_landing_footer">
      <li><a href="/pages/more_info" id="learn_more">More information</a></li>
      <li><a href="/pages/pricing" id="pricing">Pricing</a></li>
      <li><a href="http://blog.hengage.com" id="blog">Blog</a></li>
      <li><a href="/sign_in" class="sign_in">Sign in</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2013 H.Engage, Inc.</p>
  </div>
</footer>

<script>
mpq.track_links("#learn_more","Bulleting landing, Learn More click");
mpq.track_links("#pricing","Bulleting landing, Pricing click");
mpq.track_links("#blog","Bulleting landing, Blog click");
mpq.track_links(".sign_in","Bulleting landing, Sign In click");

$('#contact_email').click(function() { mpq.track("Bulletin landing, Contact Email field highlighted", {}); });

$('#signup_form').submit(function(e) {
  e.preventDefault();
  $('#signup_error, #signup_thanks').hide();

  var trimmedEmail = $.trim($('#contact_email').val());

  if(trimmedEmail == '') {
    $('#signup_error').slideDown();
  } else {
    $('#submitting_signup_form').show();
    $.post( 
      '<%= email_info_requests_path %>', 
      {contact_email: trimmedEmail, contact_comment: "From BulletinBoard 2013 landing", silent: true}, 
      function() {
        $("#signup_form").hide();
        $('#submitting_signup_form').hide();
        $('#signup_thanks').fadeIn();
        mpq.track("Bulletin landing, Sign Up form submitted", {});
      }
    )
  }
});

$("#to_the_top").click(function() {
  $("html, body").animate({ scrollTop: 200 }, "slow");
  $("#contact_email").focus();
  mpq.track("Bulletin landing, Footer signup button click", {});
  return false;
});

$("[placeholder]").placeholder();
</script>

<%= mp_track_page 'Bulletin landing' %>