.lightbox
  .headline_section
    = image_tag "airbo_logo_lightblue.png", "alt" => "Airbo Board", id: "airbo_logo"
    %p.headline
      Quickly communicate important information to employees in a fun and interactive way.
  .call_out_section
    %p.call_out
      A tool to make concise, modern communications that employees will read, understand and take action upon.
  .janet_section
    .janet_text
      %span.fa.fa-quote-left
      .janet_all_text
        %p.janet_quote
          Airbo is easy for me and engaging for everyone.
        .janet_about
          %p
            Janet McNichol, Director of HR,
          %p
            American Speech-Language-Hearing Association
    #janet_picture
      = image_tag "marketing/welcome_page/janet.jpg"
  .logo_section
    .logo
      = image_tag "marketing/welcome_page/fuji.png"
    .logo
      = image_tag "marketing/welcome_page/miltoncat.png"
    .logo
      = image_tag "marketing/welcome_page/heineken.png"
    .logo
      = image_tag "marketing/welcome_page/asha.png"
  .advantage_section
    = image_tag "marketing/welcome_page/bulb.png", id: "bulb"
    .adv_headline
      Any Communication, Program or Process
    .adv_list
      - advantages.each do |adv_group|
        .adv_column
          - adv_group.each do |advantage|
            .adv_item
              %span.fa.fa-check-square-o
              = advantage
