<header>
  <div class="row">
    <div class="columns large-5" id="logo">
      <%= image_tag "marketing/logo_white.png", alt: "H.Engage" %>
    </div>
  </div>
  <div class="row" id="opener">
    <div class="columns large-8 large-centered copy">
      <div class="headlines">
        <h1>The bulletin board reinvented.</h1>
        <h2>Easily create and post engaging communications for your organization.</h2>
      </div>
      <div id="opener_form" class="large-10 large-centered column">
        <%= render "shared/marketing_email_signup" %>
        <p class="caption">
          Already a user?
          <a href="/sign_in" class="sign_in">Sign in</a>
        </p>
      </div>
    </div> <!-- End of large-10 -->
  </div>
</header>


<section class="product_values">
  <div class="row">
    <div class="large-4 columns a_value" id="create_content">
      <h3>Easily create content</h3>
      <p>Create great-looking communications about any topic. Eliminate time and money spent on dense emails, posters and newsletters that people don't read.</p>
    </div>
    <div class="large-4 columns a_value" id="engage_readers">
      <h3>Engage employees</h3>
      <p>Leverage the best elements of consumer tools people love: large imagery like Instagram, short bits of content like Twitter and quiz-based interactivity like a game.</p>
    </div>
    <div class="large-4 columns a_value" id="save_time">
      <h3>Save time following up</h3>
      <p>H.Engage automatically tracks who has read content and taken actions so you don't have to. Automated follow-ups save time on one-off calls and emails.</p>
    </div>
  </div>
</section>

<section class="any_device">
  <div class="row">
    <div class="large-4 columns copy a_value" id="deliver_anywhere">
      <h3>Deliver on any device</h3>
      <p>Create a communication and deliver it to any device. H.Engage helps reach all employees, whether they're sitting at a computer or not.</p>
    </div>
    <div class="large-8 columns imagery">
      <%= image_tag "marketing/device_desktop.png", alt: "Desktops", id: "device_desktop" %>
      <%= image_tag "marketing/device_tablet.png", alt: "Tablets", id: "device_tablet" %>
      <%= image_tag "marketing/device_phone.png", alt: "Smartphones", id: "device_phone" %>
    </div>
  </div>
</section>

<section class="clients">
  <div class="row" id="testimonials">
    <h3>Our happy clients</h3>
    <div class="large-6 columns featured" id="asha">
      <p class="a_testimonial">"Over 60% of our employees who participated actually said that their awareness and their appreciation of our benefit plans had increased."</p>
      <div class="satisfied_client">
        <%= image_tag "marketing/clients/bernie.png", class: "client_photo", alt: "Bernie Knobbe, Yahoo!" %>
        <ul>
          <li>Bernie Knobbe</li>
          <li>Senior Director of Global Benefits, <span>Yahoo!</span></li>
        </ul>
      </div>
    </div>
    <div class="large-6 columns featured" id="fujifilm">
      <p class="a_testimonial">The wellness campaign run through Highmark Blue Cross Blue Shield owed much of its success to being spread virally through peer to peer influence. 82% of players were signed up by a fellow employee.</p>
      <div class="satisfied_client">
        <%= image_tag "marketing/clients/highmark.png", alt: "Highmark", class: "client_logo" %>
      </div>
    </div>
  </div>
  <div class="row" id="client_logos">
    <ul class="large-12">
      <li><%= image_tag "marketing/clients/gray/asha.png", alt: "ASHA" %></li>
      <li><%= image_tag "marketing/clients/gray/fujifilm.png", alt: "Fujifilm" %></li>
      <li><%= image_tag "marketing/clients/gray/michelin.png", alt: "Michelin" %></li>
      <li><%= image_tag "marketing/clients/gray/yahoo.png", alt: "Yahoo" %></li>
    </ul>
  </div>
</section>

<section class="in_the_press">
  <div class="row">
    <div class="large-12 columns">
      <h3>Our thought leadership</h3>
      <ul class="large-12" id="press_logos">
        <li><%= image_tag "marketing/press/forbes.png", alt: "Forbes Magazine" %></li>
        <li><%= image_tag "marketing/press/ebn.png", alt: "Employee Benefit News" %></li>
        <li><%= image_tag "marketing/press/bi.png", alt: "Business Insurance" %></li>
        <li><%= image_tag "marketing/press/bnd.png", alt: "Business News Daily" %></li>
        <li><%= image_tag "marketing/press/shrm.png", alt: "Society for Human Resources Management Online" %></li>
      </ul>
      <a href="#!" id="to_the_top">Interested? Sign up!</a>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <ul id="bulletin_landing_footer">
      <li><a href="/pages/more_info" id="learn_more">More information</a></li>
      <li><a href="/pages/pricing" id="pricing">Pricing</a></li>
      <li><a href="http://blog.hengage.com" id="blog">Blog</a></li>
      <li><a href="/sign_in" class="sign_in">Sign in</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2013 H.Engage, Inc.</p>
  </div>
</footer>

<script>
mpq.track_links("#learn_more","Bulleting landing, Learn More click");
mpq.track_links("#pricing","Bulleting landing, Pricing click");
mpq.track_links("#blog","Bulleting landing, Blog click");
mpq.track_links(".sign_in","Bulleting landing, Sign In click");

$('#contact_email').click(function() { mpq.track("Bulletin landing, Contact Email field highlighted", {}); });

$('#signup_form').submit(function(e) {
  e.preventDefault();
  $('#signup_error, #signup_thanks').hide();

  var trimmedEmail = $.trim($('#contact_email').val());

  if(trimmedEmail == '') {
    $('#signup_error').slideDown();
  } else {
    $('#submitting_signup_form').show();
    $.post( 
      '<%= email_info_requests_path %>', 
      {contact_email: trimmedEmail, contact_comment: "From BulletinBoard 2013 landing", silent: true}, 
      function() {
        $("#signup_form").hide();
        $('#signup_thanks').fadeIn();
        $('#submitting_signup_form').hide();
        mpq.track("Bulletin landing, Sign Up form submitted", {});
      }
    )
  }
});

$("#to_the_top").click(function() {
  $("html, body").animate({ scrollTop: 200 }, "slow");
  $("#contact_email").focus();
  mpq.track("Bulletin landing, Footer signup button click", {});
  return false;
});

$("[placeholder]").placeholder();
</script>

<%= mp_track_page 'Bulletin landing' %>