<%content_for :head do%>
  <script>
$(function(){

  function initToggleTabs(){
    $('#tabs .tab').hide();
    $('#tabs div.tab:first').show();
    $('#tabs ul li:first a').addClass('selected');

    $('#tabs ul li a').click(function(){
      $('#tabs ul li a').removeClass('selected');
      $(this).addClass('selected');
      var currentTab = $(this).attr('href');
      $('#tabs .tab').hide();
      $(currentTab).show();
      if($(this).attr("href")=="#tab-2"){
        $("#quote").hide();
        shrinkTabSpacing();
      }else{
        $("#quote").show();
        expandTabSpacing();
      }
      return false;
    }); 
  }

  function hideQuote(){
    $("#quote").hide();
  }

  function shrinkTabSpacing(){
    $("ul.tabs").css({"margin-top": "-35px", "margin-bottom": "46px"});
  }

  function expandTabSpacing(){
    $("ul.tabs").css({"margin-top": "-235px", "margin-bottom": "246px"});
  }
  initToggleTabs();
  
});
  </script>
  <style>
ul.tabs {
  margin-top: -235px;
  margin-bottom: 246px;
  color: white;
}

 #tabs .shadow_overlay{
    height: 43px;
    opacity: 0.35;
 }

 .shadow_overlay.long{
    height: 50px;
    top: 260px;
    position: absolute;
 }

.padded-v-40{
 padding: 40px 0px;
}


  @media only screen and (min-width: 760px) {
    .shadow_overlay.long{
      top: 260px;
    }
  }

  @media only screen and (max-width: 300px) {
    .shadow_overlay.long{
      top: 200px;
    }
  }

  h3 {
   font-weight:600;
  }

  .board_card_wrapper{
    margin-top: 50px;
  }

  </style>
<%end%>
<%= render partial: "pages/landing/header_simple" %>  
<main>
<%= render partial: "pages/landing/hero_board", locals: {name: "Wellness", img_url: image_path("topics/wellness.png") } %>

<div class="shadow_overlay long "></div>
<section class="padded bg-blue" id="quote">
  <div class="row">
    <div class="large-9 large-centered columns">
      <p class="pullquote white">
      “I love our wellness program because it demonstrates that we really care about our employees as people. We want them to eat well, sleep well, exercise, and know how to combat stress.”
            </p>
      <div class="attribution">
        <div class="text white">
          <b>Marianne Davis</b><br />
          Director of Human Resources at Natick Public Schools
        </div>
      </div>
    </div>
  </div>
</section>



<div class="row">
  <div class="small-9 small-centered columns">
    <div id="tabs" >
      <ul class="tabs">
        <li><a href="#tab-1" class="selected">Introduction</a></li>
        <li><a href="#tab-2">Best Practices</a></li>
      </ul>
      <!--div class="shadow_overlay"></div-->
      <div id="tab-1" class="tab">
        <h2 class="text-center padded-v-40" >Create an Engaging Wellness Program</h2>
        <div class="row text-center">
          <div class="small-4 columns">
            <i class="fa fa-plus-circle fa-2x"></i>
            <h2>Add Content</h2>
            <p> Receive curated wellness content, customize it, or create your own.</p>
          </div>


          <div class="small-4 columns">
            <i class="fa fa-users fa-2x"></i>
            <h2>Engage Employees</h2>
            <p>Send content every 1 to 2 weeks to drive participation.</p>
          </div>

          <div class="small-4 columns">
            <i class="fa fa-bar-chart fa-2x"></i>
            <h2>Boost Appreciation</h2>
            <p>See real-time employee activity.</p>
          </div>

        </div>
      </div> 

      <div id="tab-2" class="tab">
        <p>
        Starting a wellness program may feel overwhelming, but it can actually be quite simple. In fact, there’s a good chance that you already have some pieces in place: according to the Kaiser Family Foundation, more than 90% of all firms with 25 or more employees already offer at least one wellness activity.
        </p>
      
        <h3>Be Comprensive</h3>
        <p>
        The first key to a great wellness program is  a comprehensive approach. “What we know from the literature is that [companies] who offer comprehensive programs have better health outcomes,” noted <a href="http://fortune.com/2015/04/13/corporate-wellness/" target="_blank">Dr. Laura Linnan</a>, head of the Workplace Health Research Network, an organization funded by the Centers for Disease Control and Prevention. Employees want variety, everything from health and nutrition tips to programs that help them set fitness goals and track their progress. 
        </p>
        <p>
But providing a rich selection of  exciting and accurate wellness content can be challenging for most employers. At Airbo, we’ve organized our content into the five areas that we’ve found generate the highest employee interest and engagement: fitness, nutrition, mindfulness, financial education and getting good sleep. In each area, we’ve reviewed and synthesized the newest and most useful health information and developed innovative action plans that will entice your employees to tune in, get excited and stay engaged.
        </p>
        <h3>Be Engaging</h3>
        <p>The second key to a great wellness program is high employee engagement. Afterall, it’s pretty hard to impact employee well being if employees aren’t participating. But low participation rates are quite common. According to a <a href="https://www.towerswatson.com/en-US/Insights/IC-Types/Survey-Research-Results/2015/11/full-report-2015-towers-watson-nbgh-best-practices-in-health-care-employer-survey" target="_blank">joint survey</a> conducted by Willis Towers Watson and the National Business Group on Health, almost half of U.S. employees don’t participate in any wellness or activity or health management program. 
        </p>
<p>
In an era of information overload, driving employee engagement using intranets, email and posters is a tall order. Our approach is to help your wellness content standout by making it fun and interactive, like the  apps employees already love. A game-like scoreboard and activity feed helps drive competition and support. And you can make things even more exciting by addings prizes that reward engaged employees. As Marianne puts it: “In the past, my presence in a worksite might have meant that someone was in trouble. Now it might mean the opposite—that someone is going to win a great prize! That makes me happy.”
</p>
        <h3>Be Consistent</h3>
        <p>
        The third key to success is consistency. Just like Facebook builds a habit of engagement for its users by sending them weekly notifications about new content, you should aim to share new content with employees on a consistent schedule.  We’ve seen regular communication do wonders for customers like <%=link_to "Fujifilm", page_path("fujifilm"), target: "blank"%>, which saw a 93 % jump in employee engagement in their wellness program once they moved to sending new content every two weeks. Of course, during busy times of year staying consistent is easier said than done. That’s why Airbo helps you stay on track. Every week you’ll receive a new collection of Wellness Tiles to share with your employees, including surveys to assess your company’s specific needs as well as tips, information and activities in each of our five wellness areas. You can use Airbo’s stock content, personalize it with your company’s information, and even create your own messaging to promote your company’s initiatives like flu shots, biometric screenings, or a company-wide walking challenge.
        </p>
        </p>
        <h3>How to Get Started</h3>

        <p>Try Airbo by browsing the Wellness Starter Kit. Then, schedule time with an HR Specialist to chat about your specific needs.</p>
      </div>
    </div><!--tabs -->
  </div>
</div>
<div class="board_card_wrapper gray">
  <section class="board_section row">
    <div class="large-8 large-centered columns board_card">
      <div class="large-4 columns">
        <%= link_to  public_board_path(public_slug: "wellness-starter-kit") do %>
          <%=image_tag "topics/board/wellness.png" %>
        <%end%>
      </div>
      <div class="large-8 columns">
        <h3>Wellness Starter Kit</h3>
        <small>by Airbo</small>
        <p>
     Start here to see sample content you can use to launch your wellness program.
        </p>
        <%= link_to "See Board", public_board_path(public_slug: "wellness-starter-kit"), class: "button outlined" %>
      </div>
    </div>
  </section>
</div>
</main>

<%content_for :footer do%>
  <%= render partial: "pages/landing/request_form" %>
<%end%>
<%= render partial: "pages/landing/footer" %>
