<%= render partial: "pages/landing/header_simple" %>  
<main>
<%= render partial: "pages/landing/hero_board", locals: {name: "Wellness", img_url: image_path("topics/wellness.png") } %>

<section class="topic_desc_section row">
  <div class="large-8 large-centered columns main_text">
    <p>
      There was a time when company “wellness” meant little more than encouraging employees to join a gym. But recently there’s been a surge in interest in company-sponsored wellness programs, with two thirds of U.S. employers now participating, and the majority reporting positive results. According to RAND Corporation’s 2012 
      <%= link_to "Workplace Wellness Programs Study", "" %> 
      (funded by the U.S. Departments of Labor and Health and Human Services, and containing the latest and most comprehensive data available), up to 80 percent of those surveyed reported improvements in productivity, absenteeism or lowered medical costs thanks to their wellness programs. 
    </p>

    <p>
      But when it comes to wellness, one size definitely does not fit all. Some employees respond best to health and nutrition tips, while others are looking to set fitness goals and track their progress. Some want to engage in fun activities they can do with their co-workers, while others are eager
    </p>
    <p>
      There was a time when company “wellness” meant little more than encouraging employees to join a gym. But recently there’s been a surge in interest in company-sponsored wellness programs, with two thirds of U.S. employers now participating, and the majority reporting positive results. According to RAND Corporation’s 2012 
      <%= link_to "Workplace Wellness Programs Study", "" %> 
      (funded by the U.S. Departments of Labor and Health and Human Services, and containing the latest and most comprehensive data available), up to 80 percent of those surveyed reported improvements in productivity, absenteeism or lowered medical costs thanks to their wellness programs. 
    </p>

    <p>
      But when it comes to wellness, one size definitely does not fit all. Some employees respond best to health and nutrition tips, while others are looking to set fitness goals and track their progress. Some want to engage in fun activities they can do with their co-workers, while others are eager
    </p>
  </div>
  <%= link_to "Read More", "#", class: "button outlined full_main_text" %>
</section>

<section class="board_section row">
  <div class="large-8 large-centered columns board_card">
    <div class="large-4 columns">
      <%=image_tag "topics/board/wellness.png" %>
    </div>
    <div class="large-8 columns">
      <h3>Wellness Starter Kit</h3>
      <small>by Airbo</small>
      <p>
        Find everything you need to launch your wellness program on Airbo, from surveys to help you assess your company’s wellness needs, to tips, information and action-based activities to get your employees...
      </p>
      <%= link_to "See Board", "", class: "button outlined" %>
    </div>
  </div>
</section>
</main>

<%= render partial: "pages/landing/footer_simple" %>