<%= render "public_board_html_head" %>
<a id="best-practices"></a>
<%= render partial: "pages/landing/header_simple" %>  
<main>
</main>
<%= render "wellness_content" %>

<%content_for :footer do%>
  <%= render partial: "pages/landing/request_form" %>
<%end%>
<%= render partial: "pages/landing/footer" %>
