- disabled_style = "color: grey; background: #ddd;"
- optional_style = "background: white;"

- content_for(:javascript) do

  :javascript
    var erroredFields = $('.field_with_errors input');
    if(erroredFields.length > 0) {
      erroredFields.first().focus();
    }

.row
  .columns.large-12
    - if flash[:failure].present?
      = flash[:failure]
    - else
      - welcome_text = "Welcome, #{@user.first_name}"
      - if @user.invitation_requested_via_sms?
        %div.welcome-message
          %h2= welcome_text
          %p.explanation We just need a few details from you so we can get started.

      - else
        %div.welcome-message
          %h2= welcome_text
          %p.explanation.hidden
            %span Just set a password, and you're ready to go
  
.row
  .external-form-wrapper.small-12.large-6.large-centered.columns
    = form_for @user, :url => invitation_acceptance_path(:user_id => @user.id), :html => {:autocomplete => :off, :id => "signup-form"}, :builder => FancyFormBuilder do |f|
      = hidden_field_tag "demo_id", params[:demo_id]
      = hidden_field_tag "invitation_code", @user.invitation_code
      %div#all-inputs
     
        %div.form-ul-section
          = f.fancy_password_field :password, :label_text => "Choose a password", :value => @user.password
    
        %ul.form-section.signup-submit

          .orange-btn= f.submit "Log in", :style => 'float: left;',  :id => 'join_the_game_link'

      - if @user.game_referrer_id
        = f.hidden_field :game_referrer_id

    #t-and-c-notice
      By submitting this form or using this site, you are agreeing to the 
      = link_to('terms and conditions', terms_path, target: '_blank') + '.'

= render 'shared/intercom'
= javascript_include_tag 'external/join'
