<% content_for :status do %>
  <% if flash[:failure].present? %>
    <%= flash[:failure] %>
  <% else %>

    <h2><%= @user.name %>: Accept Invitation</h2>

    <p class="explanation"><%= translate('.explanation', :default => "Thanks for accepting our invitation to try H Engage. If you'd like to demo the service, please enter your mobile number and choose a password. We'll send you an SMS with instructions on the next step.") %></p>
  <% end %>
<% end %>

<%= form_tag phones_path(:user_id => @user), :id => "signup-form" do %>
  <ul>
    <li class="signup-name form-label"><%= label_tag "number", "Enter your mobile number" %></li>
    <li class="signup-name form-input"><%= text_field_tag :number %></li>

    <%= fields_for :user do |user| %>
      <% if @locations.present? %>
        <li class="signup-name form-label"><%= label_tag "user[location_id]", "Location" %></li>
        <li class="signup-name form-input"><%= collection_select :user, :location_id, @locations, :id, :name, :value => nil, :include_blank => "Please choose a location" %></li>
      <% end %>
      <li class="signup-name form-label"><%= label_tag "user[password]", "Choose a password" %></li>
      <li class="signup-name form-input"><%= user.password_field :password %></li>
      <li class="signup-name form-label"><%= label_tag "user[password_confirmation]", "And confirm that password" %></li>
      <li class="signup-name form-input"><%= user.password_field :password_confirmation %></li>
    <% end %>

    <%= submit_tag 'Join the game' %>
  </ul>
<% end %>
