- content_for(:javascript) do
  :javascript
    $("input#user_phone_number").focus(function () {
    	$(".helper").hide();
    	$(".helper#number").fadeIn();
    });
    $("input#user_name").focus(function () {
    	$(".helper").hide();
    	$(".helper#name").fadeIn();
    });
    $("input#user_sms_slug").focus(function () {
    	$(".helper").hide();
    	$(".helper#username").fadeIn();
    });
    $("input#autocomplete").focus(function () {
    	$(".helper").hide();
    	$(".helper.autocomplete").fadeIn();
    });
    $("input#user_password").focus(function () {
    	$(".helper").hide();
    	$(".helper#password").fadeIn();
    });
    $("input#user_password_confirmation").focus(function () {
    	$(".helper").hide();
    	$(".helper#passwordConf").fadeIn();
    });
    $("li.form-input").focusout(function () {
    	$(".helper").fadeOut();
    });

- content_for :status do
  - if flash[:failure].present?
    = flash[:failure]
  - else

    - if @user.invitation_requested_via_sms?
      %div.welcome-message
        %h2 Welcome to H Engage
        %p.explanation= translate('.explanation', :default => "We just need a few details from you so we can get started.")
    - else
      %div.welcome-message
        %h2= "Welcome to H Engage"
        %p.explanation= translate('.explanation', :default => "Ready to play? Just fill in the fields below, and we'll text you instructions to get you started.")

= form_for @user, :url => invitation_acceptance_path(:user_id => @user.id), :autocomplete => :off, :id => "signup-form", :builder => FancyFormBuilder do |f|
  %ul
    %div.form-ul-section
      %div.helper#number This isn’t required but the game is best experienced through texting. Don’t worry, we’ll never spam you and you can always remove your number in the profile section. And once you log in, you can choose your texting settings.
      = f.hidden_field :email, :value => @user.email
      - if @user.invitation_requested_via_sms?
        = f.hidden_field :phone_number, :value => @user.phone_number
        %ul.form-section
          %li.form-label Your Phone Number: #{@user.phone_number.as_pretty_phone}
        %ul.form-section
          %li.form-label
            Your Email Address:
            #new_user_email
              = @user.email

      - elsif @user.invitation_requested_via_email? || @user.invitation_requested_via_web?

        = f.hidden_field :email, :value => @user.email

        %ul.form-section
          %li.form-label Your Email Address: #{@user.email}
        = f.fancy_text_field :phone_number, :label_text => "Enter your mobile number"
      - else
        = f.fancy_text_field :phone_number, :label_text => "Enter your mobile number"

    %div.form-ul-section
      %div.helper#name First and last, please
      = f.fancy_text_field :name, :label_text => "Enter your name"
    
    %div.form-ul-section
      %div.helper#username Pick something simple that you’ll remember and your colleagues will recognize. You’ll have to text/email it to us occasionally to earn points so make sure it isn’t too long.
      = f.fancy_text_field :sms_slug, :label_text => "Choose a username"

    
    #search_for_referrer
      %ul.form-section
        %li.form-label= label_tag :autocomplete,  "Whom can we thank for referring you?"
        %li.form-input
          = f.hidden_field :game_referrer_id, :class => "form-input"
          - if @user.game_referrer_id
            - @matched_users = User.where(:id => @user.game_referrer_id)
            = render  :template => "invitation/autocompletions/index"
            = text_field_tag :autocomplete, '', :style => "display: none;"
          - else
            %div.form-ul-section
              %div.helper.autocomplete  
                Help out the pal who referred you to this game, by giving them a referral bonus. 
                %br
                %br
                Type part of their name or email address and we’ll look for them in the system. (They must already be an active player to be eligible for the bonus.)
            = text_field_tag :autocomplete
      #relative
        #autocomplete_status
        #suggestions

    - if @locations.present?
      - location_select_html = collection_select :user, :location_id, @locations, :id, :name, :value => nil, :include_blank => "Please choose a location"
      = f.fancy_content :location_id, location_select_html, :label_text => "Location"

    %div.form-ul-section
      %div.helper#password Make sure it’s at least 6 characters. (You know the deal, don’t pick something obvious like your birthday, your last name, your employee ID, etc.)
      = f.fancy_password_field :password, :label_text => "Choose a password"
    %div.form-ul-section
      %div.helper#passwordConf And confirm that password – just in case.
      = f.fancy_password_field :password_confirmation, :label_text => "And confirm that password"

    %ul.form-section.signup-submit
      %li
        <input name="commit" type="submit" value="Join the game">
      %li
        =# link_to "Feedback?", '#', :class => "feedback"

%div.privacy-policy.form-footnotes
  %p Please remember:
  %ul.major-points
    %li Your privacy is always on our minds, and we take extra steps to protect it.
    %li We'll never sell or otherwise distribute your information to anyone outside of H Engage.
    %li We analyze data using an anonymous method that protects your privacy.
    %li As most organizations do, we will share information in an aggregate way that doesn't compromise anyone's privacy, but does explain how effective our services are. For example, "36% of people pressed this button".