<div class="explore" data-channel-id="<%= @channel.id %>">
  <%= render partial: 'explore/campaign_nav_row', locals: { channels: @display_channels } %>

  <%= render partial: 'explore/campaign_header', locals: { campaign: @channel } %>

  <% unless @related_features.empty? %>
    <% @related_features.ordered.each do |feature| %>
      <%= render partial: 'explore/tile_feature', locals: { feature: feature } %>
    <% end %>
  <% end %>

  <% unless @related_campaigns.empty? %>
    <%= render partial: 'explore/campaigns', locals: { campaigns: @related_campaigns, header: "Related Campaigns" } %>
  <% end %>

  <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "", more_tiles_path: explore_channel_path(@channel) } %>
</div>
