<div class="explore" data-channel-id="<%= @channel.id %>">
  <section class="manage_section" id="channels">
    <% cache @display_channels do %>
      <%= render partial: 'explore/channels', locals: { channels: @display_channels } %>
    <% end %>
  </section>
  <%= render partial: 'explore/channel_header', locals: { channel: @channel } %>
  <% unless @related_features.empty? %>
    <% @related_features.ordered.each do |feature| %>
      <%= render partial: 'explore/tile_feature', locals: { feature: feature } %>
    <% end %>
  <% end %>
  <% unless @related_campaigns.empty? %>
    <section class="manage_section" id="campaign_boards">
      <%= render partial: 'explore/campaigns', locals: { campaigns: @related_campaigns, header: "Related Campaigns" } %>
    </section>
  <% end %>
  <section class="manage_section" id="explore_tiles">
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "Related Tiles", more_tiles_path: explore_channel_path(@channel) } %>
  </section>
</div>
