<section id="new_game">
  <h1>Customize your game</h1>

  <%= form_tag games_path, id: "priorities" do %>
    <%= hidden_field_tag :customer_name, params[:customer_name] %>
    <%= hidden_field_tag :customer_email, params[:customer_email] %>
    <input type="text" autofocus id="name_game" name="company_name" placeholder="Name your game" />

    <p>Select up to three priorities:</p>
    <div id="priorities_tiles">
      <%= render 'type_tile', tile_text: "Open Enrollment" %>
      <%= render 'type_tile', tile_text: "Wellness" %>
      <%= render 'type_tile', tile_text: "Health care reform" %>
      <%= render 'type_tile', tile_text: "Financial education & retirement" %>
      <%= render 'type_tile', tile_text: "Safety" %>
      <%= render 'type_tile', tile_text: "Training" %>
      <%= render 'type_tile', tile_text: "Onboarding" %>
      <%= render 'type_tile', tile_text: "HRA/Biometrics" %>
      <%= render 'type_tile', tile_text: "Retirement readiness" %>
      <%= render 'type_tile', tile_text: "Financial wellness" %>
      <%= render 'type_tile', tile_text: "Benefits appreciation" %>
      <%= render 'type_tile', tile_text: "Employee engagement" %>
      <%= render 'type_tile', tile_text: "Survey & feedback" %>
      <%= render 'type_tile', tile_text: "General announcements" %>
      <%= render 'type_tile', tile_text: "Corporate communications" %>
      <%= render 'type_tile', tile_text: "Other" %>
    </div>
    <input type="submit" value="Complete setup" disabled="disabled">
  <% end %>
</section>

<%= javascript_include_tag 'external/select_interests' %>
