<div class="carousel-cell press-highlight">
  <div class="press-source">
    <%= image_tag opts[:image], class: "thumbnail" %>
  </div>
  <div class="press-quote-section">
    <p class="press-quote"><%= opts[:copy] %></p>
  </div>
  <div class="highlight-cta-section">
    <% if opts[:cta] %>
      <a href="<%= opts[:path] %>" data-path="<%= opts[:path] %>" class="highlight-cta button yellow <%= opts[:cta_class] %>" target="blank"><%= opts[:cta] %></a>
    <% end %>
  </div>
</div>
