<% if @demo %>
  <h2 class="first"><%= link_to "Admin", admin_path %>: <%= link_to @demo.company_name, admin_demo_path(@demo) %>: Bad words</h2>
<% else %>
  <h2 class="first"><%= link_to "Admin", admin_path %>: Generic bad words</h2>
<% end %>
<ul>
<% @bad_words.each do |bad_word| %>
  <li><%= bad_word.value %></li>
  <%= form_tag admin_bad_word_path(bad_word), :method => :delete do %>
    <%= submit_tag "Delete #{bad_word.value}", :confirm => "Really delete \"#{bad_word.value}\"?" %>
  <% end %>
<% end %>
</ul>

<% add_path = @demo ? admin_demo_bad_words_path(@demo) : admin_bad_words_path %>
<%= form_tag add_path do |f| %>
  <%= label_tag 'new_bad_words', 'New bad words' %>
  <%= text_area_tag "new_bad_words" %>
  <%= submit_tag 'Add new bad words' %>
<% end %>
