= form_for raffle, url: save_draft_client_admin_prizes_path do |f|
  .content_section
    = f.label :starts_at, "Duration", class: "small_cap"
    .duration
      = f.text_field :starts_at, value: date_in_pick_format(raffle.starts_at), class: "datepicker", placeholder: "Start", size: 10
      = f.label :ends_at, "to", class: "small_cap"
      = f.text_field :ends_at, value: date_in_pick_format(raffle.ends_at), class: "datepicker", placeholder: "End", size: 10
      .outer_tip
        Start at 12:00 AM ET of start date. End at 11:59 PM ET of end date.
  .content_section#prizes
    = f.label "prizes_0", "Prize", class: "small_cap"
    .add_another
      %i.fa.fa-plus
      Add Another
    - raffle.prizes.each do |prize|
      .prize_section
        = text_area_tag "raffle[prizes][]", prize, placeholder: "Enter a prize description (e.g., Grand Prize: Gift Card)", class: "prize_field", maxlength: 160
  .content_section
    = f.label :other_info, class: "small_cap"
    = f.text_area :other_info, maxlength: 300, placeholder: "For every 20 points you earn, you receive an entry into the prize raffle. We’ll email the winner to award the prize within a week of the end of the prize period."
.buttons_section
  %button{id: "save_form"}
    Save draft
  %button{class: "blue_button"}
    Start
:javascript
  _.each($('.prize_field'), addCharacterCounterFor);
  addCharacterCounterFor( $('#raffle_other_info') );

  $(function() {
    //find first prize
    var initialPrize = $('.prize_section').eq(0);

    $('.add_another').click(function addNewPrizeField(e) {
      //clone prize
      prize_count = $(".prize_section").length
      var newPrize = initialPrize.clone()
                      .find('.character-counter').remove().end()
                      .find('.prize_field').val('').end();
      newPrizeField = newPrize.find('.prize_field');
      newPrize.appendTo('#prizes');
      addCharacterCounterFor(newPrizeField);
    });
  });

  $("#save_form").click(function savePrizeDraft(){
    $("form[class$='_raffle']").submit();
  });