<%= form_for raffle, url: save_draft_client_admin_prizes_path, method: :post do |f| %>
  <div class="content_section">
    <%= f.label :starts_at, "Duration" %>
    <div class="duration">
      <div class="date_input">
        <%= f.text_field :starts_at, value: date_in_pick_format(raffle.starts_at), class: "datepicker", placeholder: "Start", size: 10 %>
      </div>
      <div class="to_label">
        <%= f.label :ends_at, "to" %>
      </div>
      <div class="date_input">
        <%= f.text_field :ends_at, value: date_in_pick_format(raffle.ends_at), class: "datepicker", placeholder: "End", size: 10 %>
      </div>
    </div>
    <small class="with_input_margin">
      Starts at 12:00 AM of start date. Ends at 11:59 PM of end date.
    </small>
  </div>
  <div class="content_section">
    <%= f.label "prizes_", "Prize" %>
    <div class="add_another">
      <i class="fa fa-plus"></i>
      Add Another
    </div>
    <div id="prizes">
      <% raffle.prizes.each do |prize| %>
        <div class="prize_section">
          <%= text_area_tag "raffle[prizes][]", prize, placeholder: "Enter a prize description (e.g., Grand Prize: Gift Card)", class: "prize_field", maxlength: 160 %>
          <div class="remove_prize pt-1">
            Remove
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content_section">
    <%= f.label :other_info %>
    <%= f.text_area :other_info, maxlength: 300, placeholder: "We'll email the winner to award the prize within a week of the end of the prize period." %>
  </div>
<% end %>
<% content_for :javascript do %>
  <script>

    $(function() {
      addCharacterCounterFor( $('#raffle_other_info') );
      $(".datepicker").datepicker({ minDate: '0'});
      rebindPrizeEvents();
    });

    $('.add_another').click(function() {
      if(!window.prizeFormStatus || window.prizeFormStatus == 'live_edit'){
        addNewPrizeField();
        addNewPreviewPrizeField();
        rebindPrizeEvents();
      }
    });

    //for picking by datepicker
    $("#raffle_starts_at").change( function(){
      validateStartDate();
    });

    $("#raffle_ends_at").change( function(){
      validateEndDate();
    });

    //for printing or pasting
    $("#raffle_starts_at").bind('input propertychange', function(){
      validateStartDate();
    });
    $("#raffle_ends_at").bind('input propertychange', function(){
      validateEndDate();
    });

    function rebindPrizeEvents(){
      $(".prize_field").unbind();
      $(".prize_section .character-counter").remove();

      _.each($('.prize_field'), addCharacterCounterFor);

      //enable save draft button
      $(".prize_field").bind('input propertychange', function(){
        unsavedDraft();
      });
      $(".prize_field").change(function(){
        unsavedDraft();
      });

      $(".prize_field").bind('input propertychange', function(){
        index = $(".prize_field").index($(this));
        updatePrivewPrizeField(index);
      });

      $(".remove_prize").unbind();
      $(".remove_prize").click(function(){
        if(!window.prizeFormStatus || window.prizeFormStatus == 'live_edit'){
          index = $(".prize_section").index( $(this).closest( $(".prize_section") ) );
          removePrize(index);
        }
      });
    };

    $("#raffle_other_info").bind('input propertychange', function(){
      updatePreivewOtherInfo();
    });


  </script>
<% end %>
