= form_for raffle, url: save_draft_client_admin_prizes_path do |f|
  .content_section
    = f.label :starts_at, "Duration", class: "small_cap"
    .duration
      = f.text_field :starts_at, value: date_in_pick_format(raffle.starts_at), class: "datepicker", placeholder: "Start", size: 10
      = f.label :ends_at, "to", class: "small_cap"
      = f.text_field :ends_at, value: date_in_pick_format(raffle.ends_at), class: "datepicker", placeholder: "End", size: 10
      .outer_tip
        Start at 12:00 AM ET of start date. End at 11:59 PM ET of end date.
  .content_section#prizes
    = f.label "prizes_0", "Prize", class: "small_cap"
    .add_another
      %i.fa.fa-plus
      Add Another
    - raffle.prizes.each do |prize|
      .prize_section
        = text_area_tag "raffle[prizes][]", prize, placeholder: "Enter a prize description (e.g., Grand Prize: Gift Card)", class: "prize_field", maxlength: 160
  .content_section
    = f.label :other_info, class: "small_cap"
    = f.text_area :other_info, maxlength: 300, placeholder: "For every 20 points you earn, you receive an entry into the prize raffle. We’ll email the winner to award the prize within a week of the end of the prize period."
.buttons_section
  .button#save_draft
    Save draft
  .button.blue_button
    Start
.clear_form
  %icon.fa.fa-times
  Clear all
  #clear_dialog{title: "Clear the form?"}
    %p
      This form will be cleared. Are you sure?


:javascript
  _.each($('.prize_field'), addCharacterCounterFor);
  addCharacterCounterFor( $('#raffle_other_info') );

  $(function() {
    $(".datepicker").datepicker();
    validateStartDate();
    validateEndDate();
    rebindPrizeEvents();
    clearAllDialog();

    window.draft_saved = false;
  });

  $("#save_draft").click(function() {
    saveDraft();
  });

  $('.add_another').click(function() {
    addNewPrizeField();
    addNewPreviewPrizeField();
    rebindPrizeEvents();
  });

  //for picking by datepicker
  $("#raffle_starts_at").change( function(){
    validateStartDate();
  });
  $("#raffle_ends_at").change( function(){
    validateEndDate();
  });
  //for printing or pasting
  $("#raffle_starts_at").bind('input propertychange', function(){
    validateStartDate();
  });
  $("#raffle_ends_at").bind('input propertychange', function(){
    validateEndDate();
  });
  function rebindPrizeEvents(){
    $(".prize_field").bind('input propertychange', function(){
      index = $(".prize_field").index($(this));
      updatePrivewPrizeField(index);
    });
  };

  $("#raffle_other_info").bind('input propertychange', function(){
    updatePreivewOtherInfo();
  });

  $(".clear_form").click(function(){
    $( "#clear_dialog" ).dialog( "open" );
  });

  //enable save draft button
  $("form textarea, form input").bind('input propertychange', function(){
    unsavedDraft();
  });

  $("form textarea, form input").change(function(){
    unsavedDraft();
  });
