= form_for raffle, url: save_draft_client_admin_prizes_path, method: :post do |f|
  .content_section
    = f.label :starts_at, "Duration"
    .duration
      .date_input
        = f.text_field :starts_at, value: date_in_pick_format(raffle.starts_at), class: "datepicker", placeholder: "Start", size: 10
      .to_label
        = f.label :ends_at, "to"
      .date_input
        = f.text_field :ends_at, value: date_in_pick_format(raffle.ends_at), class: "datepicker", placeholder: "End", size: 10
    .outer_tip
      Starts at 12:00 AM ET of start date. Ends at 11:59 PM ET of end date.
  .content_section
    = f.label "prizes_", "Prize"
    .add_another
      %i.fa.fa-plus
      Add Another
    #prizes
      - raffle.prizes.each do |prize|
        .prize_section
          = text_area_tag "raffle[prizes][]", prize, placeholder: "Enter a prize description (e.g., Grand Prize: Gift Card)", class: "prize_field", maxlength: 160
          .remove_prize
            Remove
  .content_section
    = f.label :other_info
    = f.text_area :other_info, maxlength: 300, placeholder: "For every 20 points you earn, you receive an entry. We’ll email the winner to award the prize within a week of the end of the prize period."


- content_for :javascript do
  :javascript
    $(function() {
      addCharacterCounterFor( $('#raffle_other_info') );
      $(".datepicker").datepicker({ minDate: '0'});
      rebindPrizeEvents();
    });

    $('.add_another').click(function() {
      if(!window.prizeFormStatus || window.prizeFormStatus == 'live_edit'){
        addNewPrizeField();
        addNewPreviewPrizeField();
        rebindPrizeEvents();
      }
    });

    //for picking by datepicker
    $("#raffle_starts_at").change( function(){
      validateStartDate();
    });

    $("#raffle_ends_at").change( function(){
      validateEndDate();
    });

    //for printing or pasting
    $("#raffle_starts_at").bind('input propertychange', function(){
      validateStartDate();
    });
    $("#raffle_ends_at").bind('input propertychange', function(){
      validateEndDate();
    });

    function rebindPrizeEvents(){
      $(".prize_field").unbind();
      $(".prize_section .character-counter").remove();

      _.each($('.prize_field'), addCharacterCounterFor);

      //enable save draft button
      $(".prize_field").bind('input propertychange', function(){
        unsavedDraft();
      });
      $(".prize_field").change(function(){
        unsavedDraft();
      });

      $(".prize_field").bind('input propertychange', function(){
        index = $(".prize_field").index($(this));
        updatePrivewPrizeField(index);
      });

      $(".remove_prize").unbind();  
      $(".remove_prize").click(function(){
        if(!window.prizeFormStatus || window.prizeFormStatus == 'live_edit'){
          index = $(".prize_section").index( $(this).closest( $(".prize_section") ) );
          removePrize(index);
        }
      });
    };

    $("#raffle_other_info").bind('input propertychange', function(){
      updatePreivewOtherInfo();
    });
