%label.small_cap
  Pick winners
.instruction_box
  - if raffle.status == Raffle::PICK_WINNERS
    Your prize period has ended. Next, pick and curate the winners.
  - else
    Next, notify your winners via email or in person. We’ll keep this list here handy for you.
= form_tag pick_winners_client_admin_prizes_path, id: 'pick_winners' do
  = label_tag :number_of_winners, 'Number of Winners'
  = text_field_tag :number_of_winners, winners.present? ? winners.count : raffle.prizes.count, maxlength: 2
  .pick_winners_submit
    - if raffle.status == Raffle::PICK_WINNERS 
      = submit_tag 'Pick Winners!'
    - else
      = submit_tag 'Re-Pick List', class: "re-pick"
    = image_tag "spinner_gears.gif", id: "submit_spinner", style: "display:none"
.winners_output
  .title
    %i.fa.fa-trophy
    Winners
  .winners
    - if raffle.status == Raffle::PICK_WINNERS 
      %p
        Enter number of winners and click the See Winners button.
        %br
        Winners are chosen through the magic of a random number generator. 
        %br
        The more prize entries a user has, the better chance of winning. 
        %br
        You can curate the list of winners before notifying them.
    - else
      = render 'winners', winners: winners 
#no_potential_winners_error
:javascript
  $().ready(function(){
    $("#pick_winners input[type=submit]").click(function(e){
      e.preventDefault();
      $("form#pick_winners").submit();
      $("#submit_spinner").css("display", "inline");
      $(this).attr("disabled", "disabled").css("color", "transparent");
    });
  });
- if raffle.status == Raffle::PICKED_WINNERS && winners.empty?
  :javascript
    $("#no_potential_winners_error").text("No one has tickets or you've already drawn all potential winners.");
