<label>
  Pick winners
</label>
<% if raffle.status == Raffle::PICKED_WINNERS %>
  <div class="instruction_box">
    Next, notify your winners via email or in person. We'll keep this list here handy for you.
  </div>
<% end %>
<%= form_tag pick_winners_client_admin_prizes_path, id: 'pick_winners' do %>
  <%= label_tag :number_of_winners, 'Number of Winners' %>
  <%= text_field_tag :number_of_winners, winners.present? ? winners.count : raffle.prizes.count, maxlength: 2 %>
  <div class="pick_winners_submit">
    <% if raffle.status == Raffle::PICK_WINNERS %>
      <%= submit_tag 'Pick Winners!', class: "button" %>
    <% else %>
      <%= submit_tag 'Re-Pick List', class: "re-pick button  outlined" %>
    <% end %>
    <%= image_tag "spinner_gears.gif", id: "submit_spinner", style: "display:none" %>
  </div>
<% end %>
<div class="winners_output">
  <div class="title">
    <i class="fa fa-trophy"></i>
    Winners
  </div>
  <div class="winners">
    <% if raffle.status == Raffle::PICK_WINNERS %>
      <p class="margin-left-10px">
        Your prize period is complete. Pick and curate the winners!
      </p>
    <% else %>
      <%= render 'winners', winners: winners %>
    <% end %>
  </div>
</div>
<div id="no_potential_winners_error"></div>
<script>

  $().ready(function(){
    $("#pick_winners input[type=submit]").click(function(e){
      e.preventDefault();
      $("form#pick_winners").submit();
      $("#submit_spinner").css("display", "inline");
      $(this).attr("disabled", "disabled");
    });
  });

</script>
<% if raffle.status == Raffle::PICKED_WINNERS && winners.empty? %>
  <script>

    $("#no_potential_winners_error").text("No one has tickets or you've already drawn all potential winners.");


  </script>
<% end %>
