.prize_box
  .prize_header
    %h1
      Prize
    .end_date
      Ends 
      = raffle.ends_at ? raffle.ends_at.strftime("%A, %b %e") : "[Day of week, MM DD]"
  .tickets_row
    .torhy_icon.icon_container
      %span.fa.fa-trophy
    .raffle_entries.desc_container
      %h1.raffle_entries_num.prize_num
        = entries
      .prize_caps
        Your entries
  .time_row
    .clock_icon.icon_container
      %span.fa.fa-clock-o
    .time_left.desc_container
      .time_cell
        %h1.prize_num#first_date_num
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :number
        #first_date_text.prize_caps
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :text
      .time_cell
        %h1.prize_num#second_date_num
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :second, format: :number
        #second_date_text.prize_caps
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :second, format: :text
  .prizes_container
    - raffle.prizes.each do |prize|
      .prize_row
        .prize_icon.icon_container
          %span.fa.fa-gift
        .prize_description.desc_container
          %p{:class => ("placeholder_text" unless prize.present?)}
            = prize.present? ? prize : "Prize description will appear here"
  .other_info_row{:class => ("placeholder_text" unless raffle.other_info.present?)}
    = raffle.other_info.present? ? raffle.other_info : "For every 20 points you earn, you receive an entry. We’ll email the winner to award the prize within a week of the end of the prize period."
    .button.close_modal
      Start



