%table.with_link
  %thead
    %tr
      %th.winner_number
      %th.winner_name
        Name
      %th.winner_chances
        Chances
      %th.winner_email
        Email
      %th.winner_delete
      %th.winner_repick
  %tbody
    - winners.each_with_index do |user, index|
      %tr{id: "user_#{user.id}"}
        %td.winner_number
          = (index + 1).to_s + '.'
        %td.winner_name
          = user.name
        %td.winner_chances
          = user.tickets
        %td.winner_email
          = mail_to user.email, user.email, subject: winner_email_subject, body: winner_email_body
        %td.winner_delete
          = link_to "Delete", delete_winner_client_admin_prizes_path(user.id), remote: true, method: :delete
        %td.winner_repick
          = link_to "Re-Pick", repick_winner_client_admin_prizes_path(user.id), remote: true
