.row
  .large-12.columns
.row.steps_nav_bar
  .columns
    = render partial: 'nav_bar', locals: { raffle: @raffle }
.row
  .form_section.columns
    = render partial: 'form', locals: { raffle: @raffle }
    = render partial: 'buttons', locals: { raffle: @raffle }
  .action_section.columns
    - if @raffle.status == Raffle::SET_UP || @raffle.status == Raffle::LIVE
      %label
        User preview
      .preview_container
        = render partial: 'prize', locals: { raffle: @raffle, entries: 0 }
    - else
      .pick_container
        = render partial: 'pick_winners', locals: { raffle: @raffle, winners: @winners }
