<% if @segmentation_result.present? %>
  <h2><%= @segmentation_result.explanation %></h2>
  <% found_user_ids = @segmentation_result.found_user_ids %>

  <p><%= found_user_ids.length %> users in segment</p>
  <% unless found_user_ids.empty? %>
    <p><%= link_to "Show users", "#", :id => "show-user-link" %></p>
    <p><%= link_to "Show user names and emails in CSV", admin_demo_users_path(@demo, :format => :csv)%></p>
  <% end %>

  <p id="user-info-target"></p>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('#show-user-link').click(function(e) {
        e.preventDefault();
        $.get('<%= admin_demo_users_path(@demo, :format => :js) %>');
      });
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/segmentation_form', :dummy_characteristics => @dummy_characteristics, :generic_characteristics => @generic_characteristics, :demo_specific_characteristics => @demo_specific_characteristics, :demo => @demo %>
