<% if @segmentation_result.present? %>
  <h2><%= @segmentation_result.explanation %></h2>
  <% found_user_ids = @segmentation_result.found_user_ids %>

  <p><%= found_user_ids.length %> users in segment</p>
  <% unless found_user_ids.empty? %>
    <p><%= link_to "Show users", "#", :id => "show-user-link" %></p>
    <p><%= link_to "Show user names and emails in CSV", admin_demo_users_path(@demo, :format => :csv)%></p>
  <% end %>

  <p id="user-info-target"></p>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('#show-user-link').click(function(e) {
        e.preventDefault();
        $.get('<%= admin_demo_users_path(@demo, :format => :js) %>');
      });
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/prototype_characteristic_select', :generic_characteristics => @generic_characteristics, :demo_specific_characteristics => @demo_specific_characteristics %>

<%= form_tag admin_demo_segmentation_path(@demo), :method => :get do %>
  <div id="segmentation_parameters">
    <select name="segment_column[0]" id="segment_column_0" class="segment-column">
    </select>
    <select name="segment_operator[0]" id="segment_operator_0" class="segment-operator">
    </select>
    <select name="segment_value[0]" id="segment_value_0" class="segment-value">
    </select>
  </div>

  <%= link_to "Segment on more characteristics", "#", :id => "add_more_characteristics" %>
  <%= submit_tag "Find segment" %>
<% end %>


<%= content_for :javascript do %>
  <%= javascript_tag do %>
    var characteristicSelectHtml = $('#prototype-characteristic-select').html();
    $('#segment_column_0').append(characteristicSelectHtml).data('value_select_id', 'segment_value_0');
    var inputSpecifiers = <%= @characteristic_input_specifier_json %>;
    var allowedOperators = <%= @characteristic_allowed_operator_json %>;

    var nextSegmentationIndex = 1;

    function nameFromDomId(domId) {
      nameParts = domId.split('_');
      index = nameParts.pop();
      return(nameParts.join('_') + '[' + index + ']');
    }

    function idAttribute(domId) {
      return('id="' + domId + '"');
    }

    function nameAttribute(domId) {
      return('name="' + nameFromDomId(domId) + '"');
    }

    function nameAndId(domId) {
      return ([idAttribute(domId), nameAttribute(domId)]).join(' ');
    }

    function createSelectFromInputSpecifier(inputSpecifier, domId) {
      optionHtml = valuesToOptionTags(inputSpecifier.allowed_values);

      return('<select ' + nameAndId(domId) + '>' + optionHtml + '</select>');
    }

    function createTextFieldFromInputSpecifier(inputSpecifier, domId) {
      return('<input type="text" ' + nameAndId(domId) + '>');
    }

    function createCheckboxFromInputSpecifier(inputSpecifier, domId) {
      hiddenField = '<input type="hidden" value="0" ' + nameAttribute(domId) + '>';
      checkboxField = '<input type="checkbox" value="1" ' + nameAndId(domId) + '>';
      return(hiddenField + checkboxField);
    }

    function createInput(inputSpecifier, domId) {
      var creationFunction = null;
      switch(inputSpecifier.field_type) {
        case 'select': creationFunction = createSelectFromInputSpecifier; break;
        case 'text': creationFunction = createTextFieldFromInputSpecifier; break;
        case 'checkbox': creationFunction = createCheckboxFromInputSpecifier; break;
      };
      return creationFunction(inputSpecifier, domId);
    }

    function valuesToOptionTags(values) {
      return $.map(values, function(value) {
               return('<option>' + value + '</option>')
             }).join('');
    }
    
    $('.segment-column').live('change', function(e) {
      characteristicId = $(e.target).val();

      if(characteristicId) {
        enclosingSelectId = enclosingSelect(e.target).attr('id');
        segmentValueId = enclosingSelectId.replace('column', 'value');
        segmentOperatorId = enclosingSelectId.replace('column', 'operator');

        inputSpecifier = inputSpecifiers[characteristicId];
        inputSpecifierHtml = createInput(inputSpecifier, segmentValueId);

        allowedOperatorOptions = valuesToOptionTags(allowedOperators[characteristicId]);

        $('#' + segmentValueId).replaceWith(inputSpecifierHtml);
        $('#' + segmentOperatorId).html(allowedOperatorOptions);
      } 
    });

    $('#add_more_characteristics').click(function(e) {
      e.preventDefault();

      newSelectName = function(partName) {
        return 'segment_' + partName + '[' + nextSegmentationIndex + ']'
      }

      newSelectId = function(partName) {
        return 'segment_' + partName + '_' + nextSegmentationIndex
      }
      
      segmentColumnName = newSelectName('column');
      segmentColumnId = newSelectId('column');
      segmentValueName = newSelectName('value');
      segmentValueId = newSelectId('value');
      segmentOperatorName = newSelectName('operator');
      segmentOperatorId = newSelectId('operator');

      newSelectHtml = [
        '<select name="' + segmentColumnName + '" id="' + segmentColumnId + '" class="segment-column"></select>',
        '<select name="' + segmentOperatorName + '" id="' + segmentOperatorId + '" class="segment-operator"></select>',
        '<select name="' + segmentValueName + '" id="' + segmentValueId + '" class="segment-value"></select>'
      ].join('');

      $('#segmentation_parameters').append(newSelectHtml);
      $('#' + segmentColumnId).append(characteristicSelectHtml).data('value_select_id', segmentValueId);
      
      nextSegmentationIndex += 1;
    });
  <% end %>
<% end %>
