.draft_overlay
  .overlay_message
    = fa_icon "ban"
.draft_header_block
  .draft_title_block
    %h4#draft_title Draft
  = render partial: 'client_admin/suggestions_access/suggestion_box_header'
.row
  .large-12.columns
    %div#draft.manage_section
      = render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @draft_tiles}
    %div#suggestion_box
      = render partial: 'client_admin/tiles/manage_tiles/no_tiles_section', locals: {display_no_tiles_section: @suggested_tiles.empty?}
      = render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @suggested_tiles}
      
- content_for :javascript do
  :javascript
    $().ready(function(){
      window.suggestionBox();
    })

= render partial: 'client_admin/tiles/manage_tiles/accept_tile_modal'
