<%= form_for current_user.demo, url: client_admin_suggestions_access_path do |form| %>
  <div data-reveal class='reveal-modal' id='suggestion_box_modal'>
    <h2>Add people to suggestion box</h2>

    <div class="access_to_suggestion_block">
      <p>
        Who would you like to give access to?
      </p>
      <div class="switcher">
        <div class="on specific_users">Specific Users</div>
        <div class='switch small round suggestion_switcher_block'>
          <%= form.radio_button :everyone_can_make_tile_suggestions, true, id: 'suggestion_switcher_on' %>
          <%= form.radio_button :everyone_can_make_tile_suggestions, false, id: 'suggestion_switcher_off' %>

          <span class='green-paddle'></span>
        </div>
        <div class="off all_users">All Users</div>
        <i class='fa fa-question-circle'></i>
      </div>
    </div>

    <%
      display_all_users = current_user.demo.everyone_can_make_tile_suggestions
      display_specific_users = !display_all_users
    %>

    <div class="all_users_section" style="display:<%= display_all_users ? 'block' : 'none' %>;">
      <p>
        You've selected All Users in this Board to have access to Suggestion Box.
      </p>
      <p>
        Not sure how it works? 
        <%= link_to 'Watch this video', '' %>
        or
        <%= link_to 'contact us', '' %>.
      </p>
    </div>

    <div class="specific_users_section" style="display:<%= display_specific_users ? 'block' : 'none' %>;">
      <%= render partial: 'client_admin/allowed_to_suggest_users/users', locals: { users: User.first(5) } %>
    </div>

    <div class="control_buttons">
      <%= form.submit 'Save', id: "save_suggestion_box" %>
      <%= link_to 'Cancel', '', id: "cancel_suggestion_box" %>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>