<section class="manage_tiles js-ca-tiles-index-module-tab-content <%= component_classes %>">
  <% if filter_nav %>
    <%= render filter_nav %>
  <% end %>
  <div class="row pt-2">
    <div class="large-12 columns">
      <div id="<%= id %>"
        class="js-tiles-index-section js-endless-scroll"
        data-page="<%= tiles.current_page %>"
        data-next-page="<%= tiles.next_page %>"
        data-count="<%= tiles.count %>"
        data-last-page="<%= tiles.empty? || tiles.last_page? %>"
        data-status="<%= status %>">
        <%= render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: { tiles: tiles } %>
      </div>
      <div class="js-endless-scroll-loading text-center" style="display:none;">
        <i class="fa fa-spinner fa-spin fa-3x text-center" style="color:#48BFFF;margin-top:30px;"></i>
      </div>
    </div>
  </div>
</section>
