<% if presenter.has_tile_buttons? %>
  <ul class="tile_buttons">
    <% if presenter.has_menu? %>
      <li class="more_button"  data-title="<%= CGI::escapeHTML tile_thumbnail_menu(presenter) %>">
        <span></span>
        <span></span>
        <span></span>
      </li>
    <% end %>

    <% if presenter.has_edit_button? %>
      <li class="edit_button">
        <%= link_to edit_client_admin_tile_path(presenter), data:{action: "edit", "tile-id" => presenter.tile_id, status: presenter.status} do %>
          <%= fa_icon 'pencil' %>
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_archive_button? %>
      <li class="archive_button">
        <%= link_to status_change_client_admin_tile_path(presenter), class: "button update_status", data: {status: Tile::ARCHIVE, "tile-id" => presenter.tile_id} do %>
          Archive
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_copy_button? %>
      <li class="explore_copy_button">
        <%= link_to explore_copy_tile_path(tile_id: presenter.tile_id, path: :via_explore_page_tile_view), class: "button outlined explore_copy_link", data: { "tile-id" => presenter.tile_id } do %>
          <% if $redis.sinter("users:#{current_user.id}:copies").include?(presenter.tile_id.to_s) %>
            <span class="explore_thumbnail_copy_text">
              Copied
            </span>
          <% else %>
            <span class="explore_thumbnail_copy_text">
              Copy
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_activate_button? %>
      <li class="activate_button">

        <%= link_to status_change_client_admin_tile_path(presenter), class: "button  update_status", data: {status: Tile::ACTIVE, "tile-id" => presenter.tile_id} do %>
          <%= presenter.post_link_text %>
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_ignore_button? %>
      <li class="ignore_button">

        <%= link_to status_change_client_admin_tile_path(presenter), class:"update_status button  outlined", data: {status:Tile::IGNORED, "tile-id" => presenter.tile_id} do %>
          Ignore
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_accept_button? %>
      <li class="accept_button">

        <%= link_to status_change_client_admin_tile_path(presenter), class: "accept button ",  data: {status: Tile::DRAFT, "tile-id" => presenter.tile_id } do %>
          Accept
        <% end %>
      </li>
    <% end %>

    <% if presenter.has_undo_ignore_button? %>
      <li class="undo_ignore_button">

        <%= link_to status_change_client_admin_tile_path(presenter), class: "update_status button  outlined", data: {status: Tile::USER_SUBMITTED, "tile-id" => presenter.tile_id} do %>
          Undo Ignore
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
