<ul class="tile_buttons">
  <% if presenter.has_menu? %>
    <li class="more_button"  data-title="<%= CGI::escapeHTML tile_thumbnail_menu(presenter) %>">
      <span></span>
      <span></span>
      <span></span>
    </li>
  <% end %>

  <% if presenter.has_edit_button? %>
    <li class="edit_button">
      <%= link_to edit_client_admin_tile_path(presenter), data:{action: "edit", tile_id: presenter.tile_id, status: presenter.status} do %>
        <%= fa_icon 'pencil' %>
      <% end %>
    </li>
  <% end %>

  <% if presenter.has_archive_button? %>
    <li class="archive_button">
      <%= link_to status_change_client_admin_tile_path(presenter), class: "button button-gray update_status", data: {status: Tile::ARCHIVE} do %>
        Archive
      <% end %>
    </li>
  <% end %>

  <% if presenter.has_activate_button? %>
    <li class="activate_button">
      <%= link_to status_change_client_admin_tile_path(presenter), class: "button button-blue update_status", data: {status: Tile::ACTIVE} do %>
        <%= presenter.post_link_text %>
      <% end %>
    </li>
  <% end %>

  <% if presenter.has_ignore_button? %>
    <li class="ignore_button">
      <%= link_to status_change_client_admin_tile_path(presenter), class:"update_status button button-gray outlined", data: {status:Tile::IGNORED} do %>
        Ignore
      <% end %>
    </li>
  <% end %>

  <% if presenter.has_accept_button? %>
    <li class="accept_button">
      <%= link_to status_change_client_admin_tile_path(presenter), class: "accept button button-blue",  data: {status: Tile::DRAFT } do %>
        Accept
      <% end %>
    </li>
  <% end %>

  <% if presenter.has_undo_ignore_button? %>
    <li class="undo_ignore_button">
      <%= link_to status_change_client_admin_tile_path(presenter), class: "update_status button button-gray outlined", data: {status: Tile::USER_SUBMITTED} do %>
        Undo Ignore
      <% end %>
    </li>
  <% end %>
</ul>
