<ul class="tile_thumbnail_menu tooltip-content hide">
  <% if presenter.has_activate_button? %>
    <li>
      <%= link_to api_client_admin_tile_sorts_path(presenter), class: "post_tile", data: { action: "active", status: Tile::ACTIVE, tile_id: presenter.tile_id } do %>
        <%= fa_icon 'thumb-tack' %>
        <span>Post</span>
      <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to duplicate_client_admin_tile_path(presenter, page: 'Edit'), class: "duplicate_tile", data: { tile_id: presenter.tile_id } do %>
      <%= fa_icon 'copy' %>
      <span>Copy</span>
    <% end %>
  </li>

  <% if presenter.tile.campaign.present? %>
    <li>
      <%= link_to "#editCampaign", class: "js-edit-campaign", data: presenter.tile.campaign.attributes do %>
        <%= fa_icon 'edit' %>
        <span>Edit Campaign</span>
      <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to client_admin_tile_path(presenter, page: 'Edit'), class: "delete_tile", data: { tile_id: presenter.tile_id }  do %>
      <%= fa_icon 'trash-o' %>
      <span>Delete</span>
    <% end %>
  </li>
</ul>
