%ul.tile_buttons
  - if presenter.has_archive_button?
    %li.archive_button
      = link_to client_admin_tile_path(presenter, update_status: Tile::ARCHIVE), method: :put do
        %span Archive
  - if presenter.has_activate_button?
    %li.activate_button
      = link_to client_admin_tile_path(presenter, update_status: Tile::ACTIVE, path: :via_index), method: :put do
        %span 
          = presenter.post_link_text
  - if presenter.has_destroy_button? 
    %li.destroy_button
      = link_to client_admin_tile_path(presenter, page: 'Edit'), method: :delete, data: { confirm: destroy_tile_message_params } do
        = fa_icon 'trash'
  - if presenter.has_edit_button?              
    %li.edit_button
      = link_to edit_client_admin_tile_path(presenter) do
        = fa_icon 'pencil'
  - if presenter.has_ignore_button?
    %li.ignore_button
      = link_to client_admin_tile_path(presenter, update_status: Tile::IGNORED) do
        %span Ignore
  - if presenter.has_accept_button?
    %li.accept_button
      = link_to client_admin_tile_path(presenter, update_status: Tile::DRAFT) do
        %span Accept
  - if presenter.has_undo_ignore_button?
    %li.undo_ignore_button
      = link_to client_admin_tile_path(presenter, update_status: Tile::USER_SUBMITTED) do
        %span Undo Ignore
