- if presenter.has_tile_stats?
  .tile_stats{data: {href: client_admin_tile_tile_stats_path(presenter)}}
    .unique_views.stat_action.has-tip.tip-bottom{title: "Unique Views", data: {tooltip: true, href: client_admin_tile_tile_stats_path(presenter, action_type: "unique_views")}}
      = fa_icon 'users'
      = presenter.unique_views
    .views.stat_action.has-tip.tip-bottom{title: "Total Views", data: {tooltip: true, href: client_admin_tile_tile_stats_path(presenter, action_type: "total_views")}}
      = fa_icon 'eye'
      = presenter.total_views
    .completions.stat_action.has-tip.tip-bottom{title: "Interactions", data: {tooltip: true, href: client_admin_tile_tile_stats_path(presenter, action_type: "interactions")}}
      = fa_icon 'check'
      = presenter.tile_completions_count
  - if presenter.shows_creator? && presenter.has_creator?
    .creator
      By:
      = presenter.creator
