<h1>Image Library</h1>
<div class="tile_image_block new_image">
  <%= form_for @new_tile_image, url: [:admin, @new_tile_image] do |form| %>
    <%= form.file_field :image %>
  <% end %>
</div>
<% @tile_images.each do |tile_image| %>
  <%= content_tag :div, class: "tile_image_block", data: {"tile-image-id" => tile_image.id} do %>
    <%= link_to tile_image.image.url do %>
      <%= image_tag tile_image.thumbnail %>
    <% end %>
    <%= link_to "Delete", [:admin, tile_image], method: :delete %>
  <% end %>

  <% if tile_image.thumbnail_processing %>
    <%= js_at_end do %>
      queueTileForThumbnailPolling(<%= tile_image.id %>)
    <% end %>
  <% end %>
<% end %>

<% timeout_in_msecs = ThumbnailsController::THUMBNAIL_POLL_DELAY * 1000 %>
<%= js_at_end do %>
  window.tileImages()
  window.startTileThumbnailPollingFromQueue(<%= timeout_in_msecs %>, "tileImageThumbnails")
<% end %>