<div id="main">
  <h2 class="first">A social game played via SMS</h2>

  <p>While you eat a banana and cereal for breakfast, you send an SMS to H Engage:</p>
  <pre><code>ate banana</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Sweet. +2 points. Bananas help you fight cancer.</code></pre>

  <p>You walk to the train station to commute to work. While you wait for the train, you send an SMS:</p>
  <pre><code>walked 10 minutes</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Nice job. +1 point. Walking improves bone health.</code></pre>
</div>

<div id="secondary">
  <h2 class="first">Community Stats</h2>

  <ul id="community-stats">
    <li>
      <a href="#"><%= image_tag "strawberry.jpg" %></a>2,360 strawberries eaten
    </li>
    <li>
      <a href="#"><%= image_tag "clementine.jpg" %></a>124 clementines eaten
    </li>
    <li>
      <a href="#"><%= image_tag "tree.jpg" %></a>230,450 minutes walked
    </li>
    <li>
      <a href="#"><%= image_tag "basketball.jpg" %></a>21 basketball games played
    </li>
  </ul>

  <%= render :partial => 'shared/scoreboard', :locals => {:users => @users} %>

  <%= link_to "Recent Activity", "/activity" %>
</div>
