<% if !digests.empty? %>
<div class="row">
  <div class="columns small-8">
    <div class="panel <%= "#{state}-digests" %>">
      <h3><%= "#{state.capitalize} Digests" %></h3>
      <table class="sortable tablesorter">
        <thead>
          <tr>
            <th>Header</th>
            <th>Created At</th>
            <% if state == "delivered" %>
              <th>Delivered At</th>
            <% end %>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% digests.each do |digest| %>
            <tr class="resource-row">
              <td><%= digest.defaults(:header) %></td>
              <td><%= digest.created_at.to_formatted_s(:short) %></td>
              <% if state == "delivered" %>
                <td><%= digest.delivered_at.to_formatted_s(:short) %></td>
              <% end %>
              <td><%= link_to "Edit", edit_admin_explore_digest_path(digest) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
<% end %>
