<% if !digests.empty? %>
<div class="row">
  <div class="columns small-12">
    <div class="panel <%= "#{state}-digests" %>">
      <h3><%= "#{state.capitalize} Digests" %></h3>
      <table class="sortable tablesorter admin-table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Created At</th>
            <% if state == "delivered" %>
              <th>Delivered At</th>
            <% end %>
            <th>Note</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% digests.each do |digest| %>
            <tr class="resource-row">
              <td><%= digest.defaults(:subject) %></td>
              <td><%= "#{digest.created_at.to_formatted_s(:short)} EST" %></td>
              <% if state == "delivered" %>
                <td><%= "#{digest.delivered_at.to_formatted_s(:short)} EST" %></td>
              <% end %>
              <td><%= digest.defaults(:note) %></td>
              <td><%= link_to "Edit", edit_admin_explore_digest_path(digest) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
