<div class="row">
  <div class="columns small-12">
    <h3>Explore Digest</h3>
    <%= form_for @explore_digest_form, url: admin_explore_digest_path do |form| %>
      <div class="row">
        <div class="columns small-6">
          <fieldset>
            <legend>Explore Defaults</legend>
            <%= form.label :subject %>
            <%= form.text_field :subject %>
          </fieldset>

          <fieldset>
            <legend>Explore Body</legend>
            <%= form.label :headline %>
            <%= form.text_field :headline %>

            <%= form.label :custom_message %>
            <%= form.text_area :custom_message, rows: 5, columns: 60 %>

            <%= form.label "Tile IDs" %>
            <div id="tile_ids_container">
              <% form.object.tile_ids.each_with_index do |tile_id| %>
              <%= text_field_tag "explore_digest_form[tile_ids][]", tile_id %>
              <% end %>
            </div>

            <%= form.submit "Add another tile ID", id: 'add_tile_id', class: "button" %>
          </fieldset>
        </div>
        <div class="columns small-6">
          <fieldset>
            <legend>Features</legend>
            <%= form.submit "Add feature", id: 'add_feature', class: "button" %>
            <div class="features-container">
              <fieldset class="feature-section">
                <legend>Feature</legend>
                <div class="add-feature-form">
                  <%= label_tag "feature[1][headline]", "Headline" %>
                  <%= text_field_tag "feature[1][headline]" %>

                  <%= label_tag "feature[1][custom_message]", "Custom Message" %>
                  <%= text_area_tag "feature[1][custom_message]", nil, rows: 5, columns: 60 %>

                  <%= label_tag "feature[1][tile_ids]", "Tile IDs" %>
                  <div id="feature_tile_ids_container">
                    <% 4.times do %>
                      <%= text_field_tag "feature[1][tile_ids][]" %>
                    <% end %>
                  </div>
                </div>
              </fieldset>
            </fieldset>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-2">
          <%= form.submit "Send test digest to self", class: "button" %>
        </div>
        <div class="columns small-2">
          <%= form.submit "Send real digest", confirm: "Reorder tiles and send real digest?", class: "button red" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
