<div id="session-wrapper">
<% content_for :status do %>
  <% if flash[:success].present? %>
    <%= flash[:success] %>
  <% elsif flash[:notice].present? %>
    <%= raw flash[:notice] %>
  <% else %>
    If you've lost your invitation e-mail, you can have it re-sent.
  <% end %>
<% end %>

<%= form_tag invitation_resend_path, :id => 'signup-form' do %>
  <ul>
    <li class="form-label"><h2><%= label_tag :email %></h2></li>
    <li class="form-input"><%= text_field_tag :email %></li>
    <%= submit_tag "Re-send invitation" %>
  </ul>
<% end %>

</div>
