.row
  .large-12.columns
    %ul.breadcrumbs
      %li= link_to 'Tiles', client_admin_tiles_path
      %li
        %span Completion Report
.row
  .large-12.columns
    %h3
      Tile headline:
      =@tile.name
    = render partial: 'survey_chart' if @tile.is_survey?
    %h3
      By User
    .tile_completions_controls
      Completed:
      = link_to "Yes", client_admin_tile_tile_completions_path(@tile),{class:'completed engaged', id: 'show_completed', remote: true}#, id: 'on_toggle'#, class: on_toggle_class
      = link_to "No", {controller: :tile_completions, action: :non_completions, tile_id: @tile.id},{class:'not-completed disengaged', id: 'show_not_completed', remote: true}#, id: 'off_toggle'#, class: off_toggle_class
      = image_tag "spinner.gif", id: "spinner", style: "display: none"
      = link_to "Download as CSV", tile_completions_csv_link(@tile), class: "download_as_csv"
    #completions_grid
      = render partial: 'tile_completions', tile_completions_grid: @tile_completions_grid
