.row
  .large-12.columns
    = render partial: 'client_admin/tiles/tiles_tools_subnav'
    %ul.breadcrumbs
      %li= link_to 'Tiles', client_admin_tiles_path
      %li
        %span Completion Report
    %h3= @tile.name
    .tile_completions_controls
      Completed:
      = link_to "Yes", client_admin_tile_tile_completions_path(@tile),{class:'completed disengaged', id: 'show_completed', remote: true}
      = link_to "No", {controller: :tile_completions, action: :non_completions, tile_id: @tile.id},{class:'not-completed engaged', id: 'show_not_completed', remote: true}
      = image_tag "spinner.gif", id: "spinner", style: "display: none" 
      .download_as_csv.wg-external-csv-export-button{"data-grid-name" => "nc_grid"}
        Download as CSV  
      .download_as_csv.wg-external-csv-export-button{"data-grid-name" => "tc_grid", style: "display:none;"}
        Download as CSV  
    #completions_grid
      = render partial: 'non_completions', non_completions_grid: @non_completions_grid
