<div>
  <div class="row ">
    <div class="large-12 columns">
      <div class="table-container">
        <table class="kpi sticky">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <%@dates.each do |date| %>
                <th><%=simple_format_by_type "date", date%></th>
              <%end%>
            </tr>
          </thead>
          <%Reporting::ClientKPIReport.new.sections.each do |section_label, fields| %>
            <tbody>
              <tr class="separator">
                <th><%=section_label%></th>
                <td colspan='<%=@dates.count%>'>&nbsp;</td>
              </tr>
              <%fields.each do |field|%>
                <tr>
                  <th class='<%=@table_data[field]["css"]%> indent-<%=@table_data[field]["indent"]%>'>
                    <span class='<%=@table_data[field]["css"]%>' title='<%=@table_data[field]["hint"]%>'><%=@table_data[field]["label"]%><span>
                  </th>
                  <%@table_data[field]["values"].each do |val| %>
                    <td class='<%=@table_data[field]["css"]%>'><%=simple_format_by_type @table_data[field]["type"], val %></td>
                  <%end%>
                <%end%>
                </tr>
            </tbody>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
