
<div class="row">

  <div class="columns small-12 small-centered">
<h1> Client KPIs </h1>


<%# render "cust_kpi_menu", active: "kpi" %>
  </div>
</div>
<div class="row">

  <div class="columns small-12 small-centered">
    <%=form_tag admin_client_kpi_report_path, method: :get do %> 
      <table>
        <caption>Reporting Criteria</caption>
        <thead>
          
          <tr>
            <th>Demo</th>

            <th>Start</th>
            <th>End</th>
            <th>Interval</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=select_tag "demo_id",options_from_collection_for_select(@demos, :id, :name,@report.demo)%></td>
            <td><%=text_field_tag "sdate", @report.start, type: :date%></td>
            <td><%=text_field_tag "edate",@report.finish, type: :date%></td>
            <td><%=select_tag "interval",options_for_select([["Week","week"],["Month","month"],["Quarter", "quarter"]])%></td>
            <td><%=submit_tag "Get Data", class:"button td-button right"%></td>
          </tr> 
        </tbody>
      </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">&nbsp;</th>
              <%=@report.interval_headers %>
            </tr>
          </thead>
          <tbody class="group-hdr">
            <tr><%=@report.row_group_header "User Activity", 2%></tr>
          </tbody> 
          <tbody class="hdr-indent">
            <tr>
              <th rowspan="3">Activations</th>
              <th >All Eligible </th>
              <%= @report.data_cells([:activation], :total_eligible)%>
            </tr>
            <tr >
              <th >Cumulative</th>
              <%= @report.data_cells([:activation], :total)%>
            </tr>
            <tr>
              <th >For Period </th>
              <%=@report.data_cells([:activation], :current)%>
            </tr>
            <!--tr><th>Activation Pct</th></tr-->
          </tbody>
          <tbody class="group-hdr" >
            <tr><%=@report.row_group_header "Tile Activity", 2%></tr>
          </tbody>
          <tbody class="hdr-indent">
            
            <tr>
              <th rowspan="2">Posted</th>
              <th>Cumulative </th>
              <%=@report.data_cells([:tile_activity, :posts], :total)%>
            </tr>
            <tr>
              <th>For Period</th>
              <%=@report.data_cells([:tile_activity, :posts], :current)%>
            </tr>
            <tr>
              <th rowspan="2">Views</th>
              <th>Cumulative</th>
              <%=@report.data_cells([:tile_activity, :views], :total)%>
            </tr>
            <tr>
              <th>For Period</th>
              <%=@report.data_cells([:tile_activity, :views], :current)%>
            </tr>

            <tr>
              <th rowspan="2">Completions</th>
              <th>Cumulative</th>
              <%=@report.data_cells([:tile_activity, :completions], :total)%>
            </tr>

            <tr>
              <th>For Period</th>
              <%=@report.data_cells([:tile_activity, :completions], :total)%>
            </tr>
          </tbody>
        </table>
      <%if @report.demo %>
        <%=link_to "Download CSV", admin_client_kpi_report_path(demo_id: @report.demo, sdate:@report.start, edate: @report.finish, format: :csv),  class:"button right"%> 
      <%end%>

  <%end%>
  </div>
</div>



