<div class="client-admin-kpi-dashboard">
  <div class="chart-data">
    <div class="row ">
      <div class="large-12 columns">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <td>&nbsp;</td>
                <% @report_data.keys.each do |date| %>
                  <td><%= date %></td>
                <%end%>
              </tr>
            </thead>
            <% Reporting::ClientKPIReport.sections.each do |section_label, fields| %>
              <tbody>
                <tr class="separator">
                  <th><%= section_label %></th>
                  <td colspan='<%= @report_data.count%>'>&nbsp;</td>
                </tr>
                <% fields.each do |field| %>
                  <tr>
                    <th><%= field %></th>
                    <% @report_data.each do |data, report| %>
                      <td><%= report[field] %></td>
                    <%end%>
                  <%end%>
                  </tr>
              </tbody>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
