
<div class="row">

  <div class="columns small-12 small-centered">
<h1> Client KPIs </h1>


  </div>
</div>
<div class="row">

  <div class="columns small-12 small-centered">
    <%=form_tag admin_client_kpi_report_path, method: :get do %> 
      <table>
        <caption>Reporting Criteria</caption>
        <thead>
          
          <tr>
            <th>Demo</th>
            <th>Start</th>
            <th>End</th>
            <th>Interval</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=select_tag "demo_id",options_from_collection_for_select(@demos, :id, :name,@report.demo)%></td>
            <td><%=text_field_tag "sdate", @report.start, type: :date%></td>
            <td><%=text_field_tag "edate",@report.finish_date, type: :date%></td>
            <td><%=select_tag "interval",options_for_select([["Week","week"],["Month","month"],["Quarter", "quarter"]])%></td>
            <td><%=submit_tag "Get Data", class:"button td-button right"%></td>
          </tr> 
        </tbody>
      </table>
     
      <div class="table-container" >
        <table class="kpi-layout">
          <thead>
            <tr>
              <th >&nbsp;</th>
              <%=@report.interval_headers %>
            </tr>
          </thead>
          <tbody class="igroup">
            <tr><%=@report.row_group_header "User Activations"%></tr>
            <tr>
              <th >All Eligible </th>
              <%= @report.eligible_users :total%>
            </tr>
            <tr>
              <th >For Period </th>
              <%=@report.user_activations :current%>
            </tr>
            <tr >
              <th >Cumulative</th>
              <%=@report.user_activations:total%>
            </tr>
            <tr>
              <th>Conversion</th>
              <%=@report.user_activations_pct :total%>
            </tr>
            <tr><%=@report.row_group_header "Posts"%></tr>
            <tr>
              <th>For Period</th>
              <%=@report.tiles_posted :current%>
            </tr>
            <tr>
              <th>Cumulative </th>
              <%=@report.tiles_posted :total%>
            </tr>
            <tr><%=@report.row_group_header "Views"%></tr>
            <tr>
              <th>For Period</th>
              <%=@report.tiles_viewed :current%>
            </tr>

            <tr>
              <th>Cumulative</th>
              <%=@report.tiles_viewed :total%>
            </tr>

            <tr>
              <th>Conversion</th>
              <%=@report.tiles_views_pct :total%>
            </tr>
            <tr><%=@report.row_group_header "Completions"%></tr>
            <tr>
              <th>For Period</th>
              <%=@report.tiles_completed :current%>
            </tr>
            <tr>
              <th>Cumulative</th>
              <%=@report.tiles_completed :total%>
            </tr>

            <tr>
              <th>Conversion</th>
              <%=@report.tiles_completions_pct :total%>
            </tr>
          </tbody>
        </table>
      </div>
      <%if @report.demo %>
        <%=link_to "Download CSV", admin_client_kpi_report_path(demo_id: @report.demo, sdate:@report.start, edate: @report.finish_date, format: :csv),  class:"button right"%> 
      <%end%>

  <%end%>
  </div>
</div>



