<div class="">
  <div id="progress-modal" class="reveal-modal medium onboarding-generic-modals" data-reveal aria-labelledby="onboardingProgress" aria-hidden="true" role="dialog" style="background:#fafafa;">
    <div id="logo">
      <%= image_tag 'airbo-tour-small.png' %>
    </div>
    <div class="progress-steps">
      <div class="progress-step row locked">
        <span class="progress-step-copy progress-step-header"><%= "You've completed #{pluralize(user_onboarding.state, 'step')} out of #{user_onboarding.final_state}" %></span>
      </div>
      <div class="progress-step row <%= user_onboarding.regulate_progress(1) %>">
        <i class="fa fa-square-o step-checkbox" aria-hidden="true"></i><i class="fa fa-check-square-o step-complete" aria-hidden="true"></i><i class="fa fa-lock step-locked" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <span class="progress-step-copy">Build your Airbo</span>
      </div>
      <div class="progress-step row <%= user_onboarding.regulate_progress(2) %>">
        <i class="fa fa-square-o step-checkbox" aria-hidden="true"></i><i class="fa fa-check-square-o step-complete" aria-hidden="true"></i><i class="fa fa-lock step-locked" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <% if @user_onboarding.id %>
          <span class="progress-step-copy">Choose a priority (You selected <strong><%= @user_onboarding.topic_name %></strong>)</span>
        <% else %>
          <span class="progress-step-copy">Choose a priority</span>
        <% end %>
      </div>
      <div class="progress-step row <%= user_onboarding.regulate_progress(3) %>">
        <i class="fa fa-square-o step-checkbox" aria-hidden="true"></i><i class="fa fa-check-square-o step-complete" aria-hidden="true"></i><i class="fa fa-lock step-locked" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <% if @user_onboarding.state > 2 %>
          <span class="progress-step-copy"><%= link_to "Interact with a tile", myairbo_path(@user_onboarding) %></span>
        <% else %>
          <span class="progress-step-copy">Interact with a tile</span>
        <% end %>
      </div>
      <div class="progress-step row <%= user_onboarding.regulate_progress(4) %>">
        <i class="fa fa-square-o step-checkbox" aria-hidden="true"></i><i class="fa fa-check-square-o step-complete" aria-hidden="true"></i><i class="fa fa-lock step-locked" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <% if @user_onboarding.state > 3 %>
          <span class="progress-step-copy"><%= link_to "Review your Analytics Dashboard", onboarding_activity_path(user_onboarding) %></span>
        <% else %>
          <span class="progress-step-copy">Review your Analytics Dashboard</span>
        <% end %>
      </div>
    </div>

    <br>
    <div class="progress-options">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="button outlined-alt blue-and-green close-modal">
            Continue
          </div>
        </div>
      </div>
    </div>
    <!-- <a class="close-reveal-modal" aria-label="Close">&#215;</a> -->
  </div>
</div>
