<% unless blocked %>
  <li id="<%= item_id %>">
    <%= link_to link, link_options.merge({class: "mini-text white"}) do %>
      <% if icon.present? %>
        <%= fa_icon icon %>
      <% elsif image.present? %>
        <%= image_tag image %>
      <% end %>

      <%= text %>
    <% end %>
  </li>
<% else %>
  <li id="<%= item_id %>" class="has-tip text-center" data-tooltip="false" title="Locked">
    <div class="blocked_nav white mini-text">
      <%= fa_icon "lock" %>
      <%= text %>
    </div>
  </li>
<% end %>
