<%= link_to public_board_path(public_slug:board.public_slug), class: "topic", data:{name: board.name, id:board.id} do %>
  <div class="topic_cell" style="background-image: url('<%=board.cover_image.url%>')">
    <div class="shadow_overlay"></div>
    <section class="board-name">
      <h3 class="title"><%= board.name %></h3>
    </section>
    <section class="cover-footer">
      <div class="num-tiles subtitle">
        <%="#{board.tiles.active.count} Tiles"%>
      </div>
      <%=content_tag :h2, (board.client_name.blank? ? "&nbsp;".html_safe: truncate(board.client_name, length:30)), class:"subtitle"  %>
    </section>

  </div>
<% end %>
