<div class="row">
  <div class="columns small-6 small-centered">
    <%= form_for([:admin,  @contract]) do |f| %>
      <% if @contract.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

          <ul>
            <% @contract.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="row">
        <%= f.label :organization %>
        <%= f.text_field :organization %>
      </div>
      <div class="row">
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>
      <div class="row">
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
      <div class="row">
        <%= f.label :mrr %>
        <%= f.text_field :mrr %>
      </div>
      <div class="row">
        <%= f.label :arr %>
        <%= f.text_field :arr %>
      </div>
      <div class="row">
        <%= f.label :amt_booked %>
        <%= f.text_field :amt_booked %>
      </div>
      <div class="row">
        <%= f.label :date_booked %>
        <%= f.date_select :date_booked %>
      </div>
      <div class="row">
        <%= f.label :estimate_type %>
        <%= f.text_field :estimate_type %>
      </div>
      <div class="row">
        <%= f.label :rank %>
        <%= f.text_field :rank %>
      </div>
      <div class="row">
        <%= f.label :term %>
        <%= f.number_field :term %>
      </div>
      <div class="row">
        <%= f.label :plan %>
        <%= f.text_field :plan %>
      </div>
      <div class="row">
        <%= f.label :max_users %>
        <%= f.number_field :max_users %>
      </div>
      <div class="row">
        <%= f.label :notes %>
        <%= f.text_area :notes %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
