<div class="row">
  <div class="columns small-12">
    <h1>Contracts</h1>

    <table>
      <thead>
        <tr>
          <th>Organization</th>
          <th>Contract</th>
          <th>Plan</th>
          <th>Start </th>
          <th>End</th>
          <th>Length</th>
          <th>MRR</th>
          <th>ARR</th>
          <th>Amt Booked</th>
          <th>Date Booked</th>
          <th>Estimate</th>
          <th>Type</th>
          <th>Max Users</th>
        </tr>
      </thead>
      <% @contracts.each do |contract| %>
        <tbody>
          <tr data-url>
            <td><%= contract.organization.name %></td>
            <td><%= contract.name %></td>
            <td><%= contract.plan %></td>
            <td><%= simple_date_format contract.start_date %></td>
            <td><%= simple_date_format contract.end_date %></td>
            <td><%= contract.contract_length_in_months %></td>
            <td><%= simple_money_format contract.mrr %></td>
            <td><%= simple_money_format contract.arr %></td>
            <td><%= simple_money_format contract.amt_booked %></td>
            <td><%= simple_date_format contract.date_booked %></td>
            <td><%= contract.projection_type %></td>
            <td><%= contract.role_type %></td>
            <td><%= simple_number_format contract.max_users %></td>
            <!--td><%= link_to 'Show', [:admin, contract] %></td>
            <td><%= link_to 'Edit', edit_admin_contract_path(contract) %></td>
            <td><%= link_to 'Destroy', [:admin, contract], method: :delete, data: { confirm: 'Are you sure?' } %></td-->
          </tr>
        <% end %>
        </tbody>
    </table>

<br />

<%= link_to 'New Contract', new_admin_contract_path, class:"button" %>
  </div>
</div>
