<div class="row">
  <div class="columns small-8 small-centered">
    <p id="notice"><%= notice %></p>

    <h1><%= @contract.name %>/<%= @contract.organization_name %></h1>

    <table>
      <tbody> 
        <tr>
          <th>Start date:</th>
          <td>
            <%= simple_date_format @contract.start_date %>
          </td>
        </tr>

        <tr>
          <th>End date:</th>
          <td>
            <%= simple_date_format @contract.end_date %>
          </td>
        </tr>

        <tr>
          <th>Mrr:</th>
          <td>
            <%=simple_money_format @contract.mrr %>
          </td>
        </tr>

        <tr>
          <th>Arr:</th>
          <td>
            <%= simple_money_format @contract.arr %>
          </td>
        </tr>

        <tr>
          <th>Amt booked:</th>
          <td>
            <%= simple_money_format @contract.amt_booked %>
          </td>
        </tr>

        <tr>
          <th>Date booked:</th>
          <td>
            <%= simple_date_format @contract.date_booked %>
          </td>
        </tr>

        <tr>
          <th>Estimate type:</th>
          <td>
            <%= @contract.projection_type %>
          </td>
        </tr>

        <tr>
          <th>Type</th>
          <td>
            <%= @contract.role_type %>
          </td>
        </tr>

        <tr>
          <th>Term:</th>
          <td>
            <%= @contract.contract_length_in_months %>
          </td>
        </tr>

        <tr>
          <th>Plan:</th>
          <td>
            <%= @contract.plan %>
          </td>
        </tr>

        <tr>
          <th>Max users:</th>
          <td>
            <%= @contract.max_users %>
          </td>
        </tr>

        <tr>
          <th>Notes:</th>
          <td>
            <%= @contract.notes %>
          </td>
        </tr>

      </tbody>
    </table>

    <%= link_to 'Edit', edit_admin_contract_path(@contract) %> |
    <%= link_to 'Back', admin_contracts_path %>
  </div>
</div>
