<div class="row">
  <div class="columns small-8 small-centered">
    <p id="notice"><%= notice %></p>

    <h1><%= @contract.name %>/<%= @contract.organization_name %></h1>

    <table>
      <tbody> 
        <tr>
          <th>Plan</th> <td> <%= @contract.plan.titleize %> </td>
        </tr>
        <tr>
          <th>Status</th> <td> <%= @contract.status %> </td>
        </tr>
        <tr>
          <th>Start</th> <td> <%= simple_date_format @contract.start_date %> </td>
        </tr>
        <tr>
          <th>End</th> <td> <%= simple_date_format @contract.end_date %> </td>
        </tr>
        <tr>
          <th>Mrr</th> <td> <%=simple_money_format @contract.calc_mrr %> </td>
        </tr>

        <tr>
          <th>Arr</th> <td> <%= simple_money_format @contract.calc_arr %></td>
        </tr>

        <tr>
          <th>Amt Booked</th><td><%= simple_money_format @contract.amt_booked %> </td>
        </tr>

        <tr>
          <th>Date Booked</th><td><%= simple_date_format @contract.date_booked %> </td>
        </tr>
        <tr>
          <th>Months Booked</th><td><%= simple_number_format @contract.booked_months %> </td>
        </tr> <tr>
          <th>Estimate Type</th><td> <%= @contract.projection_type %> </td>
        </tr>
        <tr>
          <th>Type</th> <td> <%= @contract.role_type %> </td>
        </tr>
        <tr>
          <th>Conract Length</th> <td> <%= simple_number_format @contract.contract_length_in_months %> </td>
        </tr>
        <tr>
          <th>Max Users</th> <td> <%= simple_number_format @contract.max_users %> </td>
        </tr>
        <tr>
          <th>Price Per Employee Month</th> <td> <%= simple_money_format @contract.pepm %> </td>
        </tr>
        <tr>
          <th>Notes</th>
          <td>
            <%= @contract.notes %>
          </td>
        </tr>

      </tbody>
    </table>

    <%= link_to 'Edit', edit_admin_contract_path(@contract) %> |
    <%= link_to 'Back', admin_contracts_path %>
  </div>
</div>
