<div class="row">
  <div class="columns small-12">
    <p>Cancel subscription <%= subscription.id %></p>
  </div>
</div>
<%= form_for subscription, url: admin_organization_subscription_cancel_path(@organization, subscription) do |f| %>
  <div class="row">
    <div class="columns small-6">
      <%= f.label :cancelled_at %>
      <%= f.text_field :cancelled_at, type: :date  %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Save", class: "button yellow float-right" %>
    </div>
  </div>
<% end %>
<div class="row mt-3" style="border-top: solid 1px #33445c;">
  <div class="small-12 columns">
    <%= link_to "Delete Subscription", admin_organization_subscription_path(@organization, subscription), method: :delete, class: "button tiny red float-right mt-2", data: { confirm: "Are you sure you want to delete this subscription?" } %>
  </div>
</div>
