<div class="row">
<div class="columns small-6 small-centered">
<%= form_for([:admin, @organization]) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label :num_employees, "Employees" %>
    <%= f.number_field :num_employees %>
  </div>
  <div class="row">
    <%= f.label :sales_channel %>
    <%= f.text_field :sales_channel %>
  </div>
  <%if @organization.churned %>
    <div class="row" >
      <%= f.label :churn_reason %>
      <%= f.text_area :churn_reason %>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit "Submit",  class: "button"%>

    <%= link_to 'Cancel', admin_organizations_path, class: "button outlined" %>
  </div>
<% end %>
  </div>
</div>
