<div class="row">
  <div class = "columns small-11" data-campaign = "<%= organization.id %>">
    <div class="panel">
      <%= form_for([:admin, organization]) do |f| %>
        <div id="response_explanation">
          <ul>
            <% organization.errors.full_messages.each do |msg| %>
              <li style="color: red;"><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br>
        <div class="row image-row">
          <div class="large-6 columns">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name %>
          </div>
          <div class="large-6 columns">
            <%= f.label :logo, "Logo"  %>
            <%= f.file_field :logo, { id: "file_input" } %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :num_employees, "Number of Employees"  %>
            <%= f.number_field :num_employees %>
          </div>
          <div class="large-6 columns">
            <%= f.label :featured, "Featured?" %>
            <%= f.check_box :featured %>
          </div>
        </div>
        <div class="row">
          <div class="large-2 large-offset-6 columns" style="text-align:right">
            <%= f.submit "Save", class: "button" %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
