<div class="row">
  <div class="columns small-12">
    <div class="row">
      <h3>Edit Organization: <%= @organization.name %></h3>
    </div>

    <div class="row">
      <div class="columns small-6 ">
        <%= form_for([:admin, @organization]) do |f| %>
          <% if @organization.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @organization.errors.full_messages.each do |msg| %>
                  <li style="color: red;"><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <br>
          <% end %>


          <div class="row">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <br>
          <div class="row">
            <%= f.submit "Submit",  class: "button"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
