
<div class="row">
  <div class="columns small-12 small-centered">
    <h1>Organizations</h1>

    <table class="sortable tablesorter">
      <caption>Active Customers</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Employees</th>
          <th>Is Hrm?</th>
        </tr>
      </thead>
      <tbody>
        <% Organization.active.each do |organization| %>

          <tr class="resource-row" data-url='<%=admin_organization_path(organization)%>'>
            <td><%= organization.name %></td>
            <td><%= organization.num_employees %></td>
            <td><%= organization.is_hrm.humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="right">
      <%= link_to 'Add Organization', new_admin_organization_path, class: "button button-small" %>
    </div> 
  </div>
</div>
