<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num employees</th>
    <th>Sales channel</th>
    <th>Churned</th>
    <th>Churn reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.num_employees %></td>
    <td><%= organization.sales_channel %></td>
    <td><%= organization.churned %></td>
    <td><%= organization.churn_reason %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_admin_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_admin_organization_path %>
