<div class="row">
  <div class="columns small-12 small-centered">
    <h1>Organizations</h1>

    <p class="padded right">
      <%= link_to 'Add Organization', new_admin_organization_path, class: "button button-small" %>
    </p> 
    <table>

      <thead>
      <tr>
        <th>Name</th>
        <th>Num employees</th>
        <th>Sales channel</th>
        <th>Churned</th>
        <th>Churn reason</th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        
        <tr class="resource-row" data-url='<%=admin_organization_path(organization)%>'>
          <td><%= organization.name %></td>
          <td><%= organization.num_employees %></td>
          <td><%= organization.sales_channel %></td>
          <td><%= organization.churned %></td>
          <td><%= organization.churn_reason %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
