
<h1> Metrics and KPIs </h1>
<div class="row">

  <div class="columns small-10 small-centered">
    <%=form_tag organization_metrics_path do %> 
      <table>
        <thead>
          <tr>
            <th>Period Start</th>
            <th>Period End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=text_field_tag "sdate", simple_date_format(@kpi.sdate)%></td>
            <td><%=text_field_tag "edate", simple_date_format(@kpi.edate)%></td>
          </tr> 
        </tbody>
      </table>
      <%=submit_tag "Submit"%>
    <%end%>
    <table>
      <thead>
        <tr>
          <th>Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr><th>Organizations</th><td><%=@kpi.active_organizations_during_period%></td></tr>
        <tr><th>Orgs Added</th><td><%=@kpi.added_organizations_during_period%></td></tr>
        <tr><th>Possible Churn</th><td><%=@kpi.possible_churn_during_period%></td></tr>
        <tr><th>Churned</th><td><%=@kpi.churned_during_period%></td></tr>
        <tr><th>New Customer MRR</th><td><%=@kpi.new_customer_mrr_added_during_period%></td></tr>
        <tr><th>New Customer Arr</th><td><%=@kpi.new_customer_arr_added_during_period%></td></tr>
        <tr><th>Active Contracts</th><td><%=@kpi.active_contracts_during_period%></td></tr>
        <tr><th>Added Contracts</th><td><%=@kpi.added_contracts_during_period%></td></tr>
        <tr><th>Upgrade ARR Added</th><td><%=@kpi.arr_added_from_upgrades_during_period%></td></tr>
        <tr><th>Upgrade MRR Added</th><td><%=@kpi.mrr_added_from_upgrades_during_period%></td></tr>
        <tr><th>ARR Added</th><td><%=@kpi.arr_added_during_period%></td></tr>
        <tr><th>MRR Added</th><td><%=@kpi.mrr_added_during_period%></td></tr>
        <tr><th>ARR</th><td><%=@kpi.arr_during_period%></td></tr>
        <tr><th>MRR</th><td><%=@kpi.mrr_during_period%></td></tr>
        <tr><th>MRR Possible Churn</th><td><%=@kpi.mrr_possibly_churning_during_period%></td></tr>
        <tr><th>Arr Possible Churn</th><td><%=@kpi.arr_possibly_churning_during_period%></td></tr>
      </tbody>
    </table>
  </div>
</div>



