
<div class="row">

  <div class="columns small-12 small-centered">
<h1> Metrics and KPIs </h1>


<%= render "cust_kpi_menu", active: "kpi" %>
  </div>
</div>
<div class="row">

  <div class="columns small-12 small-centered">
    <%=form_tag organization_metrics_path do %> 
      <table>
        <caption>Reporting Period</caption>
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=text_field_tag "sdate", @sdate, type: :date%></td>
            <td><%=text_field_tag "edate",@edate, type: :date%></td>
    <td><%=submit_tag "Get Data", class:"button td-button right"%></td>
            
          </tr> 
        </tbody>
      </table>
    <table>
      <thead>
      </thead>
      <tbody>
        <%if ! @kpi.empty?%>
          <%Metrics.field_mapping.each do |header,field|%>
            <tr>
              <th><%=header[0]%></th>
              <%@kpi.each do |h| %>
                <td><%=simple_format_by_type header[1], h[field]%></td>
              <%end%>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>

    <%=link_to "Download CSV", organization_metrics_path(sdate:@sdate, edate: @edate, format: :csv),  class:"button right"%> 
  <%end%>
  </div>
</div>



