<p id="notice"><%= notice %></p>
<div class="row">
  <div class="columns small-12 small-centered">
    <h3><%= @organization.name %></h3>

    <table class="first-column-header">
      <tbody>

        <tr>
          <th>Num employees</th>
          <td><%= @organization.num_employees %></td>
        </tr>

        <tr>
          <th>Sales channel</th>
          <td><%= @organization.sales_channel %></td>
        </tr>
        <tr>
          <th>MRR</th>
          <td><%= simple_money_format @organization.active_mrr %></td>
        </tr>
        <tr>
          <th>Start</th>
          <td><%= simple_date_format @organization.customer_start_date %></td>
        </tr>
      
        <%if @organization.churned%>
       <tr>
          <th>End</th>
          <td><%= simple_date_format @organization.customer_end_date %></td>
        </tr>   <tr>
          <th>Churned</th>
          <td><%= @organization.churned %></td>
        </tr>

        <tr>
          <th>Churn reason</th>
          <td><%= @organization.churn_reason %></td>
        </tr>
      <%end%>
      </tbody>
    </table>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="columns small-12 small-centered">
      <%= link_to 'Add New Contract', new_admin_organization_contract_path(@organization), class: "button righty" %>
    <table>
      <caption> Contracts </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Plan</th>
          <th>Start</th>
          <th>End</th>
          <th>Length</th>
          <th>Status</th>
          <th>MRR</th>
          <th>ARR</th>
          <th>Amt Booked</th>
          <th>Date Booked</th>
          <th>Estimate</th>
          <th>Type</th>
          <th>Max Users</th>
          <th>PEPM</th>
        </tr>
      </thead>
      <tbody>
        <% @organization.contracts.each do |contract| %>
          <tr class="resource-row" data-url="<%=admin_contract_path(contract)%>">
            <td><%= contract.name %></td>
            <td><%= contract.plan %></td>
            <td><%= simple_date_format contract.start_date %></td>
            <td><%= simple_date_format contract.end_date %></td>
            <td><%= simple_number_format contract.contract_length_in_months %></td>
            <td><%= contract.status %></td>
            <td><%= simple_money_format contract.mrr %></td>
            <td><%= simple_money_format contract.arr %></td>
            <td><%= simple_money_format contract.amt_booked %></td>
            <td><%= simple_date_format contract.date_booked %></td>
            <td><%= contract.projection_type %></td>
            <td><%= contract.role_type %></td>
            <td><%= simple_number_format contract.max_users %></td>
            <td><%= simple_money_format contract.pepm %></td>
          </tr>

        <%end%>
      </tbody>
    </table>

    <div>
      <%= link_to 'Customer List', admin_organizations_path %>
    </div>
  </div>
</div>

<%# link_to 'Edit', edit_admin_organization_path(@organization) %> |
