<div class="row">
  <div class="columns small-12">
    <h1 class ="text-left"><%= @organization.name %></h1>
    <fieldset>
      <legend>Info</legend>
      <%=link_to "Edit this organization", edit_admin_organization_path(@organization)%>
    </fieldset>
    <br>
    <% if @organization.is_in_sales? %>
      <fieldset>
        <legend>Sales Data</legend>
        <%= render "sales_users_table", { users: @organization.users } %>
      </fieldset>
    <% end %>
    <fieldset>
      <legend>Customer Success</legend>
      <% if @organization.channel_list.present? %>
        <% @organization.channel_list.each do |channel| %>
          <%= link_to channel, explore_channel_path(id: channel.parameterize), target: "_blank", class: "button outlined gray explore-tag", style: "border-radius: 0; padding: 5px; margin-bottom: 4px; text-transform: lowercase;" %>
        <% end %>
      <% else %>
        <p>No interests yet.</p>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Boards</legend>
      <%= render "org_boards", boards: @organization.boards %>
    </fieldset>
    <fieldset>
      <legend>Contracts</legend>
      <%= render "cust_contracts", organization: @organization %>
    </fieldset>

    <%= form_tag admin_organization_path(@organization), method: :delete do %>
      <%= submit_tag 'Delete Organization', confirm: "Are you sure you would like to delete the #{@organization.name} organization?", class: "button red" %>
    <% end %>
  </div>
</div>
