
<div class="row">
  <div class="columns small-12">
    <h1 class ="text-left"><%= @organization.name %></h1>
    <fieldset>
      <legend>Info</legend>
      <%=link_to "Edit this organization", edit_admin_organization_path(@organization)%>
    </fieldset>
    <br>
    <fieldset>
      <legend>Sales Data</legend>
    </fieldset>
    <fieldset>
      <legend>Boards</legend>
      <%= render "org_boards", boards: @organization.boards %>
    </fieldset>
    <fieldset>
      <legend>Contracts</legend>
      <%= render "cust_contracts", organization: @organization %>
    </fieldset>

    <%= form_tag admin_organization_path(@organization), method: :delete do %>
      <%= submit_tag 'Delete Organization', confirm: "Are you sure you would like to delete the #{@organization.name} organization?", class: "button red" %>
    <% end %>
  </div>
</div>
