
<div class="row">
  <div class="columns small-12 small-centered">
    <h1 class ="text-left"><%= @organization.name %></h1>

    <table class="first-column-header">
      <tbody>

        <tr>
          <th>Num employees</th>
          <td><%= @organization.num_employees %></td>
        </tr>

        <tr>
          <th>Is HRM</th>
          <td><%= @organization.is_hrm.humanize %></td>
        </tr>
        <tr>
          <th>Contact</th>
          <td><%= @organization.primary_contact %></td>
        </tr>
        <%if @organization.churned%>
       <tr>
          <th>End</th>
          <td><%= simple_date_format @organization.customer_end_date %></td>
        </tr>   <tr>
          <th>Churned</th>
          <td><%= @organization.churned %></td>
        </tr>

        <tr>
          <th>Churn reason</th>
          <td><%= @organization.churn_reason %></td>
        </tr>
      <%end%>
      </tbody>
    </table>
    <hr/>
  </div>
</div>

<%= render "org_boards", boards: @organization.boards %>
