<div class="organization-module">
  <%= render "organization_component" %>
  <%= render "boards_component" %>
  <%= render "subscriptions_component" %>
  <%= render "delete_organization_component" %>
</div>

<!-- Modals -->

<div id="jsAddSubscription" class="js-subscriptions reveal-modal">
  <div class="modal_container">
    <a class="close-reveal-modal"><i class="fa fa-times fa-1x"></i></a>
    <div id="modal_content">
      <%= render "subscription_form", organization: @organization, plans: SubscriptionPlan.all %>
    </div>
  </div>
</div>
