- cache [__FILE__, 'v4.pwd', presenter.cache_key] do
  .tile_liked{class: presenter.like_links_class, style: presenter.display_liked}
    %span.like_message
      = presenter.like_count
    = fa_icon 'arrow-up'
    = link_to 'Voted Up', explore_tile_likes_path(presenter.explore_tile_likes_path_params), method: :delete, remote: true
  .tile_not_liked{class: presenter.like_links_class, style: presenter.display_unliked}
    %span.like_message
      = presenter.like_count_if_nonzero
    = fa_icon 'arrow-up'
    = link_to 'Vote Up', explore_tile_likes_path(presenter.explore_tile_likes_path_params), method: :post, remote: true

  - if presenter.user_copied_tile
    %span.copied
      = render "copy_link", presenter: presenter

  - elsif presenter.tile_not_copyable
    %span.viewonly_message
      = fa_icon 'minus-circle'
      = "View Only"

  - else
    %span.not_copied
      = render "copy_link", presenter: presenter
