<div class="row">
  <div class="large-12 columns">
    <% header_copy = $redis.hget("explore_customization", "recommended_tiles_header_copy") %>
    <% if custom_icon_url = $redis.hget("explore_customization", "recommended_tiles_header_icon") %>
      <%= image_tag custom_icon_url, class: "recommended-tiles-custom-icon" %>
      <h4 class="explore-headers non-link" style="color:<%= $redis.hget("explore_customization", "recommended_tiles_text_color") %>; margin-left:0"><%= header_copy || "Recommended Tiles" %></h4>
    <% else %>
      <h4 class="explore-headers non-link" style="color:<%= $redis.hget("explore_customization", "recommended_tiles_text_color") %>"><%= header_copy || "Recommended Tiles" %></h4>
    <% end %>
    <div id="recommended_tiles">
      <div id="tile_wall_explore">
        <%= render partial: 'explores/tiles', locals: { tiles: @recommended_tiles, tile_ids: @recommended_tiles.pluck(:id), section: "Recommended Tile" } %>
      </div>
    </div>
  </div>
</div>
