<div class="row">
  <div class="large-12 columns">
    <% if feature.custom_icon_url.present? %>
      <%= image_tag feature.custom_icon_url, class: "recommended-tiles-custom-icon" %>
      <h4 class="explore-headers non-link" style="color:<%= feature.text_color %>; margin-left:0"><%= feature.header_copy || "Recommended Tiles" %></h4>
    <% else %>
      <h4 class="explore-headers non-link" style="color:<%= feature.text_color %>"><%= feature.header_copy || "#{feature.name} Tiles" %></h4>
    <% end %>
    <div id="recommended_tiles">
      <div id="tile_wall_explore">
        <%= render partial: 'explores/tiles', locals: { tiles: feature.get_tiles(@explore_tiles), tile_ids: feature.tile_ids, section: feature.name } %>
      </div>
    </div>
  </div>
</div>
