	<div class="tile_thumbnail <%=thumbnail_class%>"><div class="tile-wrapper">
        <div class="tile_thumbnail_image">
          <%= image_tag thumbnail_image, "alt" => tile_headline %>
        </div>
        <div class="headline">
          <span class="text"><%=tile_headline%></span>
        </div></div>
      <p class="tile_creator"><%=tile_creator%><br><%=tile_creation_date%></br></p>
    </div>