- tile_presenters = tiles.map{|tile| ExploreSingleTilePresenter.new(tile, @tile_tag, @copied_tile_ids.include?(tile.id), @liked_tile_ids.include?(tile.id))}
- main_cache_key = [__FILE__, 'v5.pwd', 'main', @tile_tag, *(tile_presenters.map(&:cache_key))]

- cache main_cache_key do 
  - tile_presenters.each_slice(4) do |presenter_slice|
    - slice_cache_key = [__FILE__, 'v4.pwd', 'slice', *(presenter_slice.map(&:cache_key))]
    - cache slice_cache_key do
      %tr
        - presenter_slice.each do |presenter|
          - cache [__FILE__, 'v1.pwd', 'single_thumb', presenter.cache_key, @tile_tag, thumb_click_source] do
            :css
              ##{presenter.thumbnail_id} {
                background-image: url('#{presenter.thumbnail_url}');
                background-repeat: no-repeat;
              }
            %td{id: presenter.containing_td_id}
              .explore_tile
                .company_name
                  %i.fa.fa-building-o
                  %span.text= presenter.truncated_client_or_board_name
                .tile_image{id: presenter.thumbnail_id}

                  -# No content for this link--it's given a background, via CSS, of the appropriate image, which makes
                  -# it nice and clickable.
                  =link_to '', explore_tile_preview_path(presenter, tag: @tile_tag, thumb_click_source: thumb_click_source)
                  .like_copy_tile
                    = render 'like_copy_tile', presenter: presenter
                .headline
                  = link_to explore_tile_preview_path(presenter, tag: @tile_tag, thumb_click_source: thumb_click_source) do
                    %span.text= presenter.headline
                .author_info
                  = presenter.creator_name
                  %span
                    =presenter.board_name
                %ul.all_tile_tags
                %ul.extra_tags_list
                  - presenter.associated_tile_tags.each do |tile_tag|
                    %li.tile_tag
                      = link_to tile_tag.title, tile_tag_show_explore_path(tile_tag: tile_tag.id, tag_click_source: tag_click_source)


        - (4 - presenter_slice.length).times do
          %td

  - tile_presenters.each do |presenter|
    :javascript
      bindPreflightToEvent('ready', document, '#{presenter.full_size_url}');

