<div class='large-12 columns tile_preview_navbar'>
  <ul class='large-12'>
    <li class ='left-section'>
      <%= link_to :back do %>
        <%=fa_icon 'chevron-left'%>
      <% end %>            
    </li>
    <li class='middle-section organization'>
      <%= fa_icon 'building-o' %>
      <div class="organization-name"><%= tile.demo.name%></div>            
    </li>
    <li class='middle-section creator'>
      <%= fa_icon 'user'%>
      <div class="creator-name">
        <div class="name"><%= (tile.creator && tile.creator.name)||'' %></div>
        <div class="created_at"><%= tile.human_creation_date %></div>
      </div>            
    </li>
    <li class='middle-section tile-tags'>
      <ul class="all_tile_tags">
      </ul>            
      <ul class="extra_tags_list">
        <% @tile.tile_tags.each do |tile_tag| %>
          <li class="tile_tag">
            <%= link_to tile_tag.title, tile_tag_show_explore_path(tile_tag: tile_tag.id) %>
          </li>
        <% end %>          
      </ul>
    </li>
    <li class='right-section'>
      <% if @tile.is_copyable? %>
        <%= render 'tiles/copy_button', tile: tile%>
      <% else %>
        <div data-tooltip class="has-tip" title="The permissions on this tile don't allow copying.">
          <div class="view-only">
            <%= fa_icon 'minus-circle 2x'%>
              <div>View Only</div>      
          </div>
        </div>
      <% end %>            
    </li>
  </ul>
  <%= image_tag "spinner.gif", style: "display: none;", id: 'tile_spinner' %>
</div>
