<%= render 'shared/mixpanel' %>
<%= stylesheet_link_tag "internal/explore" %>

<div class="row client_admin_explore">
  <div class='large-12 column'>
    <h1>Tiles Subjects</h1>

    <div class="row tags">
      <% @tile_tags.each do |tile_tag| %>
        <%= link_to tile_tag_show_explore_path(tile_tag: tile_tag.id) do %>
          <div class="tag_name"><%= tile_tag.title %></div>
        <% end %>
      <% end %>
    </div>

    <h1>Recent Posts</h1>

    <div class='row tile_with_tags'>
      <%= render partial: 'tile_with_tags', locals: {tiles: @tiles}%>
    </div>
  </div>
</div>
<%= mp_track_page 'explore' %>
