<div class="row client_admin_explore">
  <div class='large-12 column'>
    <%= render partial: 'explores/parent_boards', locals: {boards: @parent_boards} %>
    <h1>Tile Subjects</h1>
    <div class="row topics">
      <% @topics.each do |topic| %>
        <%= link_to explore_topic_path(topic), class: "topic" do %>
          <div class="topic_cell">
            <%= image_tag("topics/#{topic.name.parameterize.underscore}.png") %>
            <div class="shadow_overlay"></div>
            <p class="title"><%= topic.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <h1>Recent Posts</h1>
    <%= render partial: 'explores/tile_wall', locals: {tiles: @tiles} %>
  </div>
</div>
<%= mp_track_page 'explore' %>
<%= render partial: 'explores/explore_intro' if @show_explore_intro %>
