<div id="tile_wall_explore">
  <% TileFeature.ordered.each do |feature| %>
    <section class="manage_section channel_container" id="<%= feature.name %>" style="background:<%= feature.background_color %>">
      <%= render partial: 'explores/tile_feature', locals: { feature: feature } %>
    </section>
  <% end %>
  <section class="manage_section" id="collection_boards">
    <%= render partial: 'explores/collections' %>
  </section>
  <section class="manage_section" id="explore_tiles">
    <%= render partial: 'explores/explore_tiles' %>
  </section>
</div>
