%p Hi #{@friend_name},

%p #{@user_name} has asked to be your friend on H Engage.
%p To accept this request, click #{link_to "Accept", accept_friendship_url(@friendship_id)}
%p To ignore this request, click #{link_to "Ignore", ignore_friendship_url(@friendship_id)}

%p
  Thanks,
  %br
  The folks at H Engage

%p= render 'shared/unsubscribe_footer'
