<p><%= @follower_name %> has asked to be your fan on H Engage.</p>

<p>You can choose to accept this request or to ignore it <%= link_to "here", friends_url %>.</p>

<p>If you'd rather use SMS, you can text ACCEPT <%= @follower_sms_slug %> or IGNORE <%= @follower_sms_slug %> to <%= TWILIO_PHONE_NUMBER %>.</p>

<p>--The H Engage Team</p>
