<div id="main">
  <h2>A social game played via SMS</h2>

  <p>While you eat a banana and cereal for breakfast, you send an SMS to H Engage:</p>
  <pre><code>#ate banana</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Sweet. +2 points. Bananas help you fight cancer.</code></pre>

  <p>You walk to the train station to commute to work. While you wait for the train, you send an SMS:</p>
  <pre><code>#walked 10 minutes</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Nice job. +1 point. Walking improves bone health.</code></pre>

  <h2>When it gets really interesting</h2>

  <p>We're actively working with employers to get you discounts on your health insurance costs. The more H Engage points you score, the less you pay.</p>
  <p>If your employer isn't using H Engage yet, please share this link with them:</p>

  <p><%= link_to page_url('employers'), page_url('employers') %></p>
</div>

<div id="secondary">
  <h2 class="first">Community Stats</h2>

  <ul id="community-stats">
    <li>
      <a href="#"><%= image_tag "strawberry.jpg" %></a>2,360 strawberries eaten
    </li>
    <li>
      <a href="#"><%= image_tag "clementine.jpg" %></a>124 clementines eaten
    </li>
    <li>
      <a href="#"><%= image_tag "tree.jpg" %></a>230,450 minutes walked
    </li>
    <li>
      <a href="#"><%= image_tag "basketball.jpg" %></a>21 basketball games played
    </li>
  </ul>

  <h2>Top Players</h2>

  <ul id="top-players">
    <% @players.each do |player| %>
      <li>
        <a href="#">
          <%= image_tag player.gravatar_url(48), :alt => h(player.name) %>
          <%= player.name %>
        </a>
        <span class="player-points">
          <strong><%= player.points %></strong> points
        </span>
      </li>
    <% end %>
  </ul>

  <%= link_to "Recent Activity", acts_path %>
</div>
