.admin
  .breadcrumb
    = link_to "Admin", admin_path
    = "»"
    = link_to @demo.name, admin_demo_path(@demo)
    = "»"
    Reports
    
    =# link_to "Reports: ", admin_demo_reports_path(@demo)

  %h1{:style => "text-align: center"} Name of Demo
  %h3= link_to "Points", admin_demo_reports_points_path(@demo)
  %h3= link_to "Levels", admin_demo_reports_levels_path(@demo)
  %h3= link_to "Interactions", admin_demo_reports_interactions_path(@demo)


