<div class="tile_chart_section">
  <%= form_for chart_form, url: client_admin_tile_tile_stats_charts_path, html: { class: "custom" } do |f| %>
    <div class="large-2 columns">
      <% TileStatsChartForm::ACTION_TYPES.each do |action_type| %>
        <div class="action_type_block <%= f.object.action_type_class(action_type) %>">
          <%= f.radio_button :action_type, action_type %>
          <%= f.label :action_type,  value: action_type do %>
            <div class="action_num"><%= f.object.action_num(action_type) %></div>
            <div class="action_name"><%= action_type.humanize %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="large-10 columns section_with_chart">
      <%= f.select :interval_type, options_for_select(TileStatsChartForm.interval_types_select_list, f.object.interval_type), {}, { class: "interval_custom_drop" } %>
      <%= f.select :value_type, options_for_select(TileStatsChartForm.value_types_select_list, f.object.value_type), {}, { class: "value_custom_drop" } %>
      <span class="date_range_block" style="display:<%= f.object.show_date_range %>;">
        <%= f.select :date_range_type, options_for_select(f.object.date_range_types_select_list, f.object.date_range_types_disabled_option), {}, { class: "date_range_custom_drop"} %>
      </span>
      <div class="dates_selection" style="display:<%= f.object.show_dates_selection %>;">
        <%= f.text_field :start_date, class: "datepicker" %>
        <%= f.text_field :end_date, class: "datepicker" %>
        <%= link_to "Done", "" %>
      </div>
      <div class="download_chart_block">
        <%= select_tag :download_chart, options_for_select(['Download', 'Download PNG image', 'Download JPEG image', 'Download PDF document', 'Download SVG vector image'], selected: 'Download', disabled: 'Download') %>
      </div>
      <%= f.hidden_field :changed_field %>

      <%= high_chart('tile_chart', chart) %>
    </div>
  <% end %>
</div>
