<%= link_to @presenter.general_site_url(tile_id: tile.id), class: "tile_link col-2", target: "_blank", style: "border:1px solid #EAECED; display: block;" do %>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center" style="position:relative;">
          <%= image_tag(tile.thumbnail(:email_digest), alt: tile.headline, width: "249", style: "display:block;width:100%;") %>
          <div class="ribbon-tag"
            style="<%=
              "background-color:#{tile.ribbon_tag ? tile.ribbon_tag.color : 'white'};height:28px;padding:5px 1vw 0px 1vw;opacity:1;"
            %>"
          >
          <% if tile.ribbon_tag %>
            <span class="ribbon-text"
              style="<%=
                "color:#{@presenter.ribbon_tag_font_color(tile.ribbon_tag.color)};font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:1rem;letter-spacing:0.3px;"
                %>"
            >
              <%= tile.ribbon_tag.name %>
            </span>
          <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding:20px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td class="txtcolor" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;font-weight:500;text-align:left;color:<%= @demo.primary_color %>;">
                <%= @demo.organization.try(:id) == 1072 ? "" : "+#{tile.points} Points" %>
              </td>
            </tr>
            <tr>
              <td height="60" style="padding:20px 0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;color:#4c4c4c;line-height:1.33;text-align:left;height:75px;">
                <%= tile.headline %>
              </td>
            </tr>
            <tr>
              <td>
                <table class="bgcolor" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="<%= @demo.primary_color %>">
                  <tr>
                    <td align="center" style="padding:11px 20px 10px 20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:500;font-size:16px;color:#FFFFFF;">
                      <a href="<%= @presenter.general_site_url(tile_id: tile.id) %>" target="_blank" style="color:#FFFFFF">Complete Tile</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<% end %>
