<p><%= @success_message %></p>

<% unless @errored_users.blank? %>
  <p>
    Unable to load the following users:
    <ul>
      <% @errored_users.each do |errored_user| %>
        <li><%= errored_user.name %>: <%= errored_user.errors.full_messages.join(', ') %></li>
      <% end %>
    </ul>
    </p>
<% end %>

<p>
  Enter user information in CSV format:
  <ul>
    <li>1st column: Full name</li>
    <li>2nd column: E-mail address</li>
    <li>3rd column: Claim code (optional--if not set explicitly, one will automatically be generated)</li>
    <li>4th column: Username (optional--if not set explicitly, one will automatically be generated)</li>
  </ul>
</p>

<%= form_tag admin_demo_bulk_load_path(@demo) do %>
  <%= text_area_tag :bulk_user_data %>
  <%= submit_tag "Upload Users" %>
<% end %>

<%= link_to "Back to #{@demo.name}", admin_demo_path(@demo) %>
