<p><%= @success_message %></p>

<% unless @errored_users.blank? %>
  <p>
    Unable to load the following users:
    <ul>
      <% @errored_users.each do |errored_user| %>
        <li><%= errored_user.name %>: <%= errored_user.errors.full_messages.join(', ') %></li>
      <% end %>
    </ul>
    </p>
<% end %>

<p>
  Enter user information in CSV format:
  <ul>
    <li>1st column: Full name</li>
    <li>2nd column: E-mail address</li>
    <li>3rd column: Claim code</li>
    <li>4th column: Username</li>
  </ul>
</p>

<p>
  This can take roughly 100 lines at a shot.
</p>
<%= form_tag admin_demo_bulk_load_path(@demo), :autocomplete => :off do %>
  <a href="#" id="add-characteristic">Add characteristic</a>

  <%= render 'shared/prototype_characteristic_select', :generic_characteristics => @generic_characteristics, :demo_specific_characteristics => @demo_specific_characteristics %>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      var nextOptionalColumnId = 4;
      var characteristicSelectHtml = $('#prototype-characteristic-select').html();

      $('#add-characteristic').click(function(e) {
        e.preventDefault();
        var labelText = 'Column ' + (nextOptionalColumnId + 1);
        var selectName = 'extra_column[' + nextOptionalColumnId + ']'
        var selectId = 'extra_column_' + nextOptionalColumnId;

        $('#characteristic-selects').
          append('<label for="' + selectId + '">' + labelText + '</label>').
          append('<select name="' + selectName + '" id="' + selectId + '">' + characteristicSelectHtml + '</select>'); 

        nextOptionalColumnId += 1;
      });
    <% end %>
  <% end %>

  <%= text_area_tag :bulk_user_data %>
  <%= submit_tag "Upload Users" %>
<% end %>

<%= link_to "Back to #{@demo.name}", admin_demo_path(@demo) %>
