#activate_tiles_digest
  %h1 You need to activate tiles before you can share
  .columns.large-1= image_tag("/assets/marketing/send_tile_small.png", size:"50x50", id:"invite_image")
  #progress.share_progress.large-10.round.columns
    %span.meter{style:"width:50%"}
  %p.send_button.large-1.columns SEND
  #message_div.large-12.columns
    //%p#tile_message You need to activate tiles before you can share
    Put your mouse over an inactive tile and click Activate or you can
    = link_to 'Activate All Tiles', client_admin_activate_all_tiles_path, id: 'activate_all_tiles', remote: true, method: :put
    -if @archive_tiles.count != 1
      .right
        #next_top_enabled{style:'display:none'}
          = link_to 'Next', '#', class: 'light_button disengaged', id: 'activate_tiles_next_top'
        #next_top_disabled
          .light_button.disengaged Next
    #share_archive
      //= render partial: 'shared/tiles/tiles_table', locals: {tiles: @archive_tiles, type: :archive}
      %table
        %tbody
          -# Note: To change the number of tiles per row, simply change the "(n)" to whatever your little ol' heart desires
          - @archive_tiles.each_slice(3) do |columns|
            -if @archive_tiles.count == 1
              = image_tag("/assets/marketing/arrow-green.png", class: 'arrow_image_left', size: "75x75")
            = render partial: 'shared/tiles/tile_row', locals: {columns: columns, type: :archive, do_ajax: true}
    -if @archive_tiles.count != 1
      .right
        #next_bottom_enabled{style:'display:none'}
          = link_to 'Next', '#', class: 'light_button disengaged', id: 'activate_tiles_next_bottom'
        #next_bottom_disabled
          .light_button.disengaged Next

  #success_activated_tiles.reveal-modal.tiny
    -if @archive_tiles.count==1
      %p.lead
        You successfully activated
        = "#{@archive_tiles.first.name}."
      %p.lead Next, share it with people.
    -else
      %h2
        You successfully activated your tiles.
      %p.lead Next, share them with people.
    = link_to 'Next', '#', id: 'reveal_next_button', class: 'light_button close-reveal-modal'
    %a.close-reveal-modal ×
