<div class="small-12 columns share-module-header">
  <div>
    <h3>Automate Tiles Digests <a href="http://learning.airbo.com/the-airbo-platform/features/automate-tiles-digests" target="_blank"><i class="fa fa-file-text-o docs-link"></i></a></h3>
    <span class="js-last-sent-at last-sent-at <%= tiles_digest_scheduled_time_class %>" data-last-sent-at-message="<%= tiles_digest_last_sent_at_message %>">
      <%= tiles_digest_last_sent_or_scheduled_message %>
    </span>
  </div>
  <%= link_to "Remove Automation", "#", class: "button outlined red js-remove-tiles-digest-automator #{"hidden" unless tiles_digest_scheduled?}" %>
</div>

<div class="columns small-12">
  <%= form_for current_board.tiles_digest_automator, url: api_client_admin_demo_tiles_digest_automator_path(current_board), method: :put do |f| %>
    <div class="automate-form-inputs">

      <div class="frequency-flex-group flex-group">
        <%= f.label :frequency_cd, "Frequency" %>
        <%= f.select :frequency_cd, options_for_select([
          ["Weekly", TilesDigestAutomator.frequencies[:weekly]],
          ["Biweekly", TilesDigestAutomator.frequencies[:biweekly]],
          ["Daily", TilesDigestAutomator.frequencies[:daily]],
          ["Monthly", TilesDigestAutomator.frequencies[:monthly]],
          ], f.object.frequency_cd) %>
      </div>
      <div class="day-flex-group flex-group">
        <%= f.label :day, "Day" %>
        <%= f.select :day, options_for_select(Date::DAYNAMES[1..-2].map.with_index { |d, i| ["on #{d}", i + 1] }, f.object.day) %>
      </div>
      <div class="time-flex-group flex-group">
        <%= f.label :time, "Time" %>
        <%= f.select :time, options_for_select(tiles_digest_automate_time_opts, f.object.time) %>
      </div>
      <div class="flex-break"></div>
      <div class="flex-group">
        <%= f.check_box :has_follow_up %>
        <%= f.label :has_follow_up, "Send Follow-Up", class: "check_label" %>
      </div>
      <div class="flex-group">
        <%= f.check_box :include_sms %>
        <%= f.label :include_sms, "Include Text Messages", class: "check_label" %>
      </div>
      <div class="flex-group">
        <%= f.radio_button :include_unclaimed_users, true %>
        <%= f.label :include_unclaimed_users, "All Users", value: true, class: "check_label" %>
      </div>
      <div class="flex-group">
        <%= f.radio_button :include_unclaimed_users, false %>
        <%= f.label :include_unclaimed_users, "Active Users", value: false, class: "check_label" %>
      </div>
      <div class="flex-break"></div>

      <div class="flex-group">
        <%= link_to tiles_digest_automator_save(f.object), "#", class: "button js-update-tiles-digest-automator" %>
      </div>

    </div>
  <% end %>
</div>
