<div class="small-12 columns share-module-header">
  <div>
    <h3>Deliver Tiles <a href="http://learning.airbo.com/the-airbo-platform/features/automate-tiles-digests" target="_blank"></a></h3>
    <span class="js-last-sent-at last-sent-at <%= tiles_digest_scheduled_time_class %>">
      <%= tiles_digest_last_sent_or_scheduled_message %>
    </span>
  </div>
</div>
<div class="large-3 columns">
  <%= render partial: 'form' %>
</div>
<div class="large-9 digest_preview">
  <ul class="inline-list tabs-component js-digest-preview-tabs digest-preview-tabs">
    <li id="show_digest_preview"
      class="tabs-component-active"
      data-preview-type="email"
      data-preview-src="<%= email_client_admin_tiles_digest_preview_path(follow_up_email: false) %>">
      Tiles Email Preview
    </li>

    <li id="show_follow_up_preview"
      data-preview-type="follow_up_email"
      data-preview-src="<%= email_client_admin_tiles_digest_preview_path(follow_up_email: true) %>">
      Follow-Up Email Preview
    </li>

    <li id="show_sms_preview"
      data-preview-type="sms"
      data-preview-src="<%= sms_client_admin_tiles_digest_preview_path %>">
      Text Message Preview
    </li>
  </ul>
  <%= render 'email_client_wrapper' %>
</div>

<% if @digest_sent_type.present? %>
  <%= render 'digest_sent_modal' %>
<% end %>
