.row
  .large-12
    - if @active_tiles.empty? || @demo.tile_completions.empty? || @demo.users.size < 2
      - if @active_tiles.empty? && @archive_tiles.empty?
        = render partial: 'no_tiles_digest'
      - elsif @active_tiles.empty?
        = render partial: 'activate_tiles_digest' if @archive_tiles.count > 0
      = render partial: 'share_tiles_digest', locals: {show_share_tiles: (@active_tiles.count > 0), demo: @demo}
      = render partial: 'success_share_digest'
      = render partial: 'success_share_url'
    - else
      = render 'public_board'
      -if @digest_tiles.empty?
        .row
          .large-12#digest
            %div.large-8.columns
              %h2 Send Email with New Tiles
              %div.no_tiles_messages
                - if flash[:digest_sent_flag]
                  %h4
                    Your tiles have been sent! You can monitor 
                    = link_to "the Activity page", client_admin_path
                    to see how users interact.
                %p= no_digest_email_message
            %div.cancel_follow_ups.large-4.columns= render 'cancel_follow_ups'
      - else
        .row
          .large-12#digest
            %div#digest_management.large-8.columns= render partial: 'digest_management'
            %div.cancel_follow_ups.large-4.columns= render 'cancel_follow_ups'
        %section.tiles_to_be_shared
          .row
            .large-12.columns
              %h3 Tiles to be sent
              = render partial: 'shared/tiles/tiles_table', locals: {tiles: @digest_tiles, type: :digest}

