.large-12.columns.ready_to_send
  %h3 Email Tiles
  #last-email= digest_email_sent_on_message
.large-3.columns
  = form_tag client_admin_tiles_digest_notification_path, class: :custom do
    .notification_controls
      .send_to
        %label{for: "digest_send_to"} Recipients
        .drop_down= select_tag :digest_send_to, options_for_select([['All Users', true], ['Activated Users', false]], @demo.unclaimed_users_also_get_digest)

      .follow_up
        %label{for: "follow_up_day"} Follow-up email
        .drop_down= select_tag :follow_up_day, options_for_select(%w(Never) + Date::DAYNAMES, selected: default_follow_up_day)

      .custom_subject
        %label{for: "digest_custom_subject"} Email subject
        = text_area_tag "digest[custom_subject]", '', size: "50x3", maxlength: 80, placeholder: 'New Tiles'
        = javascript_include_tag 'admin/byte_counter'
        :javascript
          addCharacterCounterFor('#digest_custom_subject');

      .custom_headline
        %label{for: "digest_custom_headline"} Custom headline
        = text_area_tag "digest[custom_headline]", '', size: "50x3", maxlength: 75, placeholder: 'Your New Tiles Are Here!'
        :javascript
          addCharacterCounterFor('#digest_custom_headline');

      .intro_message
        %label{for: "digest_custom_message"} Intro message
        = text_area_tag "digest[custom_message]", '', size: "50x6", maxlength: 160
        :javascript
          addCharacterCounterFor('#digest_custom_message');

      .total_users
        %h5 Recipients
        %p#all_users= @all_users
        %p#activated_users= @activated_users
        .clearfix
      = submit_tag "Send", confirm: 'Are you sure you want to send the digest email?', disabled: (true if @digest_tiles.empty?)
      - if @digest_tiles.empty?
        .add_tiles_message
          Post new tiles to send them to your users.
.large-9.email_preview
  %h5 Email preview
  = render 'shared/email_client_wrapper', demo: current_user.demo, subject: 'New Tiles'

= content_for :javascript do
  :javascript
    $('#digest_custom_subject').keyup(function(event) {
      var text = $(event.target).val();
      var textForSubject = (text == '') ? 'New Tiles' : text

      $('.subject-field').text(textForSubject);
    });
