.large-12.columns.ready_to_send
  %h3 Email Tiles
  - if @digest_tiles.empty?
    .go_post_tiles_message
      No new Tiles to send. Go to 
      = link_to "Edit", client_admin_tiles_path 
      to post new Tiles.
.large-3.columns
  = render partial: 'form'
.large-9.email_preview
  .email_preview_header
    %h5 Email preview
    #last-email= digest_email_sent_on_message
  %ul.email_preview_switchers.button-group
    %li
      = link_to "Tiles Email Preview", "#", class: "button selected", id: "show_email_preview"
    %li
      = link_to "Follow-Up Email Preview", "#", class: "button", id: "show_follow_up_preview"
  = render 'email_client_wrapper', demo: current_user.demo, subject: 'New Tiles'

- js_at_end do
  window.digestManagement()