.row
  .large-12
    - if @active_tiles.empty? || @demo.tile_completions.empty? || @demo.users.size < 2
      - if @active_tiles.empty? && @archive_tiles.empty?
        = render partial: 'no_tiles_digest'
      - elsif @active_tiles.empty?
        = render partial: 'activate_tiles_digest' if @archive_tiles.count > 0
      = render partial: 'share_tiles_digest', locals: {show_share_tiles: (@active_tiles.count > 0), demo: @demo}
      = render partial: 'success_share_digest'
      = render partial: 'success_share_url'
    - else
      .row
        .large-12#digest
          %div#digest_management.large-8.columns= render partial: 'digest_management'
          %div.cancel_follow_ups.large-4.columns= render 'cancel_follow_ups'
      %section.tiles_to_be_shared
        .row
          .large-12.columns
            %h3 Tiles to be sent
            = render partial: 'shared/tiles/tiles_table', locals: {tiles: @digest_tiles, type: :digest}


