%h2 Send Email with New Tiles
= form_tag client_admin_tiles_digest_notification_path do
  %div.notification_controls
    %div.send_to
      %p
        Who would you like to notify?
        %a{:href => "/pages/static_digest", :target => "_blank", :id => "digest_example"} Sample
      = select_tag :digest_send_to, options_for_select([['all users', true], ['only joined users', false]], @demo.unclaimed_users_also_get_digest)

    %div.follow_up
      %p
        Send reminder email to users who don't engage?
        %a{:href => "/pages/static_followup", :target => "_blank", :id => "followup_example"} Sample
        %span Automatically increases participation rates and makes sure your content is seen.
      On:
      = select_tag :follow_up_day, options_for_select(%w(Never) + Date::DAYNAMES, selected: default_follow_up_day)

    = submit_tag "Send digest now", confirm: 'Are you sure you want to send the digest email?'
    %p#last-email= digest_email_sent_on_message