<%= form_tag client_admin_tiles_digest_notification_path, id: "tiles_digest_form" do %>
  <%= hidden_field_tag "digest[demo_id]", @tiles_digest_form.demo_id %>
  <div class="notification_controls">
    <div class="send_to">
      <label for="digest_send_to">Recipients</label>
      <%= select_tag "digest[digest_send_to]", options_for_select(@tiles_digest_form.digest_send_to_options, @tiles_digest_form.digest_send_to_selected), class: "dropdown-button-component wide" %>
    </div>
    <div class="follow_up">
      <label for="follow_up_day" class="mt-1">Follow-up email</label>
      <%= select_tag "digest[follow_up_day]", options_for_select(@tiles_digest_form.follow_up_day_options, selected: @tiles_digest_form.default_follow_up_day), class: "dropdown-button-component wide" %>
    </div>
    <div class="custom_subject share-form-component mt-1">
      <label for="digest_custom_subject">Email subject</label>
      <%= text_area_tag "digest[custom_subject]", @tiles_digest_form.custom_subject, size: "50x3", maxlength: 80, placeholder: 'New Tiles', class: "share-form-text" %>
      <script>
        addCharacterCounterFor('#digest_custom_subject');
      </script>
    </div>
    <div class="custom_subject mt-1 share-form-component">
      <label for="digest_alt_custom_subject">Alternate Subject <i class="fa fa-question-circle has-tip" data-tooltip="abSubjects" data-allow-html="true" title="The alternate subject is optional. A/B testing subject lines is a great way to discover which subject lines lead to more engagement."></i></label>
      <%= text_area_tag "digest[alt_custom_subject]", @tiles_digest_form.alt_custom_subject, size: "50x3", maxlength: 80, placeholder: 'Optional ',  class: "share-form-text" %>
      <script>
        addCharacterCounterFor('#digest_alt_custom_subject');
      </script>
    </div>
    <div class="custom_headline share-form-component">
      <label for="digest_custom_headline">Custom headline</label>
      <%= text_area_tag "digest[custom_headline]", @tiles_digest_form.custom_headline, size: "50x3", maxlength: 80, placeholder: 'Your New Tiles Are Here!', class: "share-form-text" %>
      <script>

        addCharacterCounterFor('#digest_custom_headline');


      </script>
    </div>
    <div class="intro_message share-form-component">
      <label for="digest_custom_message">Intro message</label>
      <%= text_area_tag "digest[custom_message]", @tiles_digest_form.custom_message, size: "50x6", maxlength: 160, class: "share-form-text" %>
      <script>

        addCharacterCounterFor('#digest_custom_message');


      </script>
    </div>
    <div class="include_sms share-form-component">
      <%= check_box_tag "digest[include_sms]", nil, @tiles_digest_form.include_sms %>
      <label for="digest_include_sms" class="d-inline">Include Text Messages <i class="fa fa-question-circle has-tip" data-tooltip="<%= true %>" title="By checking this box, we will also notify users who have entered their phone numbers via text message."></i></label>
    </div>
    <%= hidden_field_tag "digest_type", "digest_and_follow_up" %>
    <div class="mb-1">
      <%= button_tag id: "save_draft_digest", disabled: @digest_tiles.empty?, class: "button outlined full_width icon green", data: { saved: true } do %>
        <%= fa_icon "pencil-square-o" %>
        Save
      <% end %>
    </div>
    <div class="mb-2">
      <%= button_tag id: "send_test_digest", disabled: @digest_tiles.empty?, class: "button outlined full_width icon" do %>
        <%= fa_icon "envelope-o" %>
        <span class="text">Send Test Messages to Myself</span>
      <% end %>
    </div>
    <label>Send to users</label>
    <div class="email-recipients recipient-count">
      <h5> Email Recipients
        <span id="all_users" class="js-all-user-recipients float-right">
          <%= @recipient_counts[:all_user_email_recipient_count] %>
        </span>
        <span id="activated_users" class="js-all-activated-user-recipients">
          <%= @recipient_counts[:activated_user_email_recipient_count] %>
        </span>
      </h5>
    </div>
    <div class="sms-recipients recipient-count hide">
      <h5>Text Message Recipients
        <span id="all_users" class="js-all-user-recipients">
          <%= @recipient_counts[:all_user_sms_recipient_count] %>
        </span>
        <span id="activated_users" class="js-all-activated-user-recipients">
          <%= @recipient_counts[:activated_user_sms_recipient_count] %>
        </span>
      </h5>
    </div>
    <%= submit_tag "Send", data: { confirm: 'Are you sure you want to send the digest email?' }, disabled: @digest_tiles.empty?, class: "button full_width mt-1" %>
    <% if @digest_tiles.empty? %>
      <div class="add_tiles_message">
        Post new tiles to send them to your users.
      </div>
    <% end %>
  </div>
<% end %>
