#invite_users_page_1
  #invite_user_fields
    - form.object.users.each_with_index do |user, index|
      = form.fields_for "users[]", user do |user_fields|
        %section.invite-user
          %ul.info-cols
            %li{id:"invite_user_li_#{index}"}
              = user_fields.text_field :name, placeholder: "Name", class:'name', id:"user_#{index}_name", size:"40"
              = user_fields.text_field :email, placeholder: "Email", class: 'email', id:"user_#{index}_email", size:"40"
              .error_message
                .name
                .email
  .clearfix
  #form_links.large-5.columns
    = link_to '#', id: 'add_another_user_invite' do
      .fa.fa-user
      Add More
    %br
    To upload a list of people,
    //= link_to 'contact us', '#'
    = mail_to "support@air.bo", 'Contact us', subject: 'Support via Airbo'
    %br
  #form_buttons.large-5.columns
    .right
      = link_to '#', id: 'submit_invite_users', class: 'disengaged' do
        Preview Invitation
        .fa.fa-angle-right
      %br
      = link_to 'Skip, only share using a link', '#', id: 'skip_invite_users'
