#invite_users_page_2{style:'display:none'}
  %h3 Add a message
  #user_invite_message_custom
    = form.text_area :message, maxlength: 160, cols: 94, class: "large-12"
    :javascript
      addCharacterCounterFor('#users_invite_message')
  .clearfix
  .email_client_wrapper= render 'shared/email_client_wrapper', demo: demo, subject: "Join my #{demo.name}"
  #message_buttons_custom.large-12.columns
    = link_to "#", class: 'engaged history_back page_2' do
      .fa.fa-angle-left
      Add More Users
    = link_to '#', id: 'invite_users_send_button', class: 'engaged right' do
      .fa.fa-envelope
      Send
