#invite_users
  - form.object.users.each do |user|
    = form.fields_for 'users[]', user do |user_fields|
      %section.invite-user
        %ul.info-cols
          %li
            = user_fields.label :name, 'Name'
            = user_fields.text_field :name, placeholder: "First and last (required)", class:'name'
        %ul.info-cols
          %li
            = user_fields.label 'email'
            = user_fields.text_field :email, placeholder: "name@example.com (required)", class: 'email'    
