#invite_users_page_1
  #invite_user_fields
    - form.object.users.each_with_index do |user, index|
      = form.fields_for "users[]", user do |user_fields|
        %section.invite-user
          %ul.info-cols
            %li{id:"invite_user_li_#{index}"}
              .error_message
                .name
                .email
              = user_fields.text_field :name, placeholder: "Name", class:'name', id:"user_#{index}_name", size:"51"
              = user_fields.text_field :email, placeholder: "Email", class: 'email', id:"user_#{index}_email", size:"51"
  .clearfix
  #form_links.large-6.columns
    %p
      %br
      %p= link_to '+ More People', '#', id: 'add_another_user_invite', :anchor => '#add_another_user_invite'
      %br
      To upload a list of people,
      //= link_to 'contact us', '#'
      = mail_to "support@air.bo", 'Contact us', subject: 'Support via Airbo'
      %br
  #form_buttons.large-12.columns
    .right
      = link_to 'Skip', '#', id: 'skip_invite_users', data: :tooltip
      = link_to 'Next', '#', id: 'submit_invite_users', class: 'disengaged'
    .left
      = link_to "Back", "#", class: 'engaged history_back page_1', style: "#{show_back_button ? '':'display:none'}"
