#invite_users_modal{:auto_show => auto_show }  
  #invite_users_modal_errors
  = form_for [:client_admin, UsersInvite.build(demo)], remote: true, html: {class: 'user-profile', id: 'invite_users_form'} do |form|
    = render 'invite_user_fields', form: form
    #user_invite_message.large-12.columns
      = form.text_area :message, maxlength: 160, cols: 90
      :javascript
        addCharacterCounterFor('#users_invite_message')
    %div#message_buttons.large-6.columns
      %p.move-right
        = link_to 'Next', '#', id: 'next_button', class: 'engaged has-tip', data: :tooltip
  %div#spinner_large{style:"display:none"}
    =image_tag 'spinner_large.gif'
  .clearfix
  %div#form_links.large-6.columns
    %p
      %br
      %p= link_to '+ More People', '#', id: 'add_another_user_invite'
      %br
      To upload a list of people,
      = link_to 'contact us', '#', id: 'help_bubble'
  %div#form_buttons.large-6.columns
    %p.move-right
      = link_to 'Next', '#', id: 'submit_invite_users', class: 'engaged has-tip', data: :tooltip