#invite_users
  - form.object.users.each_with_index do |user, index|
    = form.fields_for "users[]", user do |user_fields|
      %section.invite-user
        %ul.info-cols
          %li
            = user_fields.text_field :name, placeholder: "Name", class:'name', id:"user_#{index}_name", size:"38"
            = user_fields.text_field :email, placeholder: "Email", class: 'email', id:"user_#{index}_email", size:"38"
