<% if  @follow_up_emails.any? %>
  <div class="cancel_follow_ups large-12 columns">
    <div id="scheduled_followups">
      <h4>Scheduled Follow-Up</h4>
      <% @follow_up_emails.each do |follow_up| %>
        <div id="cancel_follow_up" >
          <div class="follow_up_email_details" id="follow_up_email_<%= follow_up.id %>">
          <%= follow_up.send_on.to_time.to_s(:tile_digest_email_sent_at) %>
          <div class="cancel_button">
            <%= link_to "Cancel", client_admin_tiles_follow_up_email_path(follow_up), method: :delete, remote: true, confirm: 'Are you sure?' %>
          </div>
          </div>
        </div>
        <div class="row">
          <%=form_for follow_up, url: client_admin_tiles_follow_up_email_path(follow_up), html:{class: "inline"}  do |f| %>
            <%=f.label :original_digest_subject, "Subject" %>
            <%=f.text_field :original_digest_subject %>
            <%=f.label :send_on, "Send Date" %>
            <%=f.text_field :send_on, type: :date %>
            <%=f.submit "Save Changes", class: "button" %>
          <%end%>
        </div>
    </div>
  <% end %>
  </div>
<% end %>
