<% if  @follow_up_emails.any? %>
  <div class="followups-list">
  <div class="row">
    <h3 class="large-12 columns bold">Scheduled Follow-Up</h3>
  </div>

  <div class="row">

    <div class="large-12 small-6 columns">
      <table>
        <thead>
          <tr>
            <th>Subject</th><th>Scheduled Date</th><th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @follow_up_emails.each do |follow_up| %>

      
              <tr> 
                <td>
                  <%= text_field_tag :original_digest_subject, follow_up.original_digest_subject, disabled: true%>
                </td>
                <td>
                  <%=text_field_tag :send_on, follow_up.send_on, disabled:true %>
                </td>
                <td>
                  <div class="commands">
                    <%= link_to "Edit", "#", class: "button outlined inline small edit"  %>
                    <%= link_to "Save", client_admin_tiles_follow_up_email_path(follow_up), method: :put, confirm: 'Are you sure?', class: "save button inline small  "%>
                    <%= link_to "Send Now", client_admin_tiles_follow_up_email_path(follow_up), method: :put, confirm: 'Are you sure?', class: "now button inline small  "%>
                    <%= link_to "Delete", client_admin_tiles_follow_up_email_path(follow_up), method: :delete,  confirm: 'Are you sure?', class: "delete button inline small  "%>
                  </div>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
