<% if  @follow_up_emails.any? %>
  <div class="row">
    <h3 class="large-12 columns bold">Scheduled Follow-Up</h3>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <table>
        <thead>
          <tr>
            <th>Subject</th><th>Scheduled Date</th><th>&nbsp;</th>
          </tr>
        </thead>
        <% @follow_up_emails.each do |follow_up| %>
          <%=form_for follow_up, url: client_admin_tiles_follow_up_email_path(follow_up), html:{class: "top-bottom-margined-10 inline"}  do |f| %>
            <tbody>
              <tr> 
                <td>
                  <%= f.text_field :original_digest_subject, class:"hidden"%>
                  <%=follow_up.original_digest_subject%>
                </td>
                <td>
                  <%=f.text_field :send_on, type: :date, class:"hidden" %>
                  <%= follow_up.send_on.to_time.to_s(:tile_digest_email_sent_at)%>
                </td>
                <td>
                  <div class="links-bar">
                    <%= link_to "Edit", "#", class: "button outlined inline small edit-followup"  %>
                    <%= link_to "Send Now", client_admin_tiles_follow_up_email_path(follow_up), method: :put, remote: true, confirm: 'Are you sure?', class: "button inline small  "%>
                    <%= link_to "Delete", client_admin_tiles_follow_up_email_path(follow_up), method: :delete, remote: true, confirm: 'Are you sure?', class: "button inline small  "%>
                    <%=f.submit "Save", class: "button small hidden" %>
                  </div>
                </td>
              </tr>
            </tbody>
          <%end%>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
