//.public_board_controls
.new_public_board{:id=>"#{current_user.demo.id}"}
  %div.title_div
    %h4.public_board_title Board Share Link:
    %i.fa.fa-question-circle.has-tip{"data-tooltip" => true, "data-options" => "tooltip_class:'mytooltip'", title:"Private boards can only be viewed by users you invite.<br/>Public boards are accessible using the share link."}
  %div.status_div
    - unless @board_is_public
      .private.engaged Private
    - else
      .private.disengaged Private
    .switch.small.round
      %input#public_button{name: "switch-board", type: "radio", checked: @board_is_public}
      %input#private_button{name: "switch-board", type: "radio", checked: !@board_is_public}
      %label.for_private{for: "public_button"} &nbsp
      %label.for_public{for: "private_button"} &nbsp
      %span.switch_button
    - if @board_is_public
      .public.engaged Public
    - else
      .public.disengaged Public
  %div.status_message_div
    - if @board_is_public
      %h5.public-demo-message SHARE LINK IS ACTIVE
    - else
      .private-demo-message SHARE LINK IS LOCKED
  %div.share_link_div
    = render :partial => 'client_admin/shares/public_url_display'
    %div.share_link_icons
      #share_mail= mail_to '', fa_icon('envelope 2x'), subject: 'Shared via Airbo', body: "Check out my board at:#{public_board_url(current_user.demo.public_slug)}", class: 'share email'
      #share_twitter= show_twitter_share(current_user.demo)
  %br{clear:"all"}
