//.public_board_controls
.new_public_board{:id=>"#{current_user.demo.id}"}
  %div.title_div
    %h3.public_board_title Board Access
    %i.fa.fa-question-circle.has-tip{"data-tooltip" => true, "data-options" => "tooltip_class:'mytooltip'", title:"If Private, only people you add can see your board.<br/>If public, anyone with the share link can see and join it."}
  %div.status_div
    - unless @board_is_public
      %h4.private.engaged PRIVATE
    - else
      %h4.private.disengaged PRIVATE
    .switch.small.round
      %input#public_button{name: "switch-board", type: "radio", checked: @board_is_public}
      %input#private_button{name: "switch-board", type: "radio", checked: !@board_is_public}
      %label.for_private{for: "public_button"} &nbsp
      %label.for_public{for: "private_button"} &nbsp
      %span.switch_button
    - if @board_is_public
      %h4.public.engaged PUBLIC
    - else
      %h4.public.disengaged PUBLIC
  %div.status_message_div
    - if @board_is_public
      .fa.fa-unlock.fa-2x
      %h5.public-demo-message SHARE LINK IS ACTIVE
    - else
      .fa.fa-lock.fa-2x
      .private-demo-message SHARE LINK IS LOCKED
  %div.share_link_div
    = render :partial => 'client_admin/shares/public_url_display'
    %div.share_link_icons
      #share_mail= mail_to '', fa_icon('envelope 2x'), subject: 'Shared via Airbo', body: "Check out my board at:#{public_board_url(current_user.demo.public_slug)}", class: 'share email'
      #share_twitter= show_twitter_share(current_user.demo)
  %br{clear:"all"}
