#success_share_url{style:'display:none'}
  .share_url
    %h1 You can also share your board using a link
    #message_div.large-12.columns
      %p#tile_message Anyone that follows the link will be able to see and join your board
      = text_field_tag 'public_slug', public_board_url(current_user.demo.public_slug), id: 'public_board_field'
      %p#tile_message share your link
      %p#share_link
        = mail_to '', fa_icon('envelope 2x'), subject: 'Shared via Airbo', body: "Checkout this link: #{public_board_url(current_user.demo.public_slug)}", class: 'share email'
        = show_linkein_share(current_user.demo)
        = show_facebook_share(current_user.demo)
        = show_twitter_share(current_user.demo)
      %p#tile_message
        Keep an eye on the activity page and the tile page. You will receive an email the first time someones completes a tile.
      = image_tag("/assets/marketing/green_down.png", class: 'arrow_image_right', size: "75x75")
      #share_archive_custom
      %p= link_to 'Back to Tiles', client_admin_tiles_path, class: 'light_button engaged has-tip'
      .left
        -#= link_to "Back", "#", class: 'engaged has-tip history_back', data: :tooltip
