#success_share_digest{style:'display:none'}
  .clearfix
  #success_section
    %div.text-center.share_url_header_div
      .share_url_logo= image_tag "/assets/airbo_logo_lightblue_square_smile.png", size: "50x50"
      .share_url_header 
        %h1 Invitation Sent!
    %div.text-center.success_url_h3
      %p Airbo will email you when your first user joins
    %h3.text-center
      You can also share your board using this link:
    %div.share_url_link= text_field_tag 'public_slug', public_board_url(current_user.demo.public_slug), id: 'public_board_field'
    %div#share_link
      = mail_to '', fa_icon('envelope 2x'), subject: 'Shared via Airbo', body: "Check out my board at: #{public_board_url(current_user.demo.public_slug)}", class: 'share email'
      //= show_linkein_share(current_user.demo)
      //= show_facebook_share(current_user.demo)
      = show_twitter_share(current_user.demo)
    .clearfix
    .above_back_to_tile Anyone that follows the link can see your board and sign up
    .clearfix
    = link_to client_admin_tiles_path, class: 'history_back' do
      .fa.fa-angle-left
      Back to Tiles