
<div class="follow-up-email-form">
<h3 class="text-center">Edit Follow Up Details</h3>
  <%=form_for(@follow_up_email, url: client_admin_tiles_follow_up_email_path(@follow_up_email)) do |f| %>

    <ul>
      <li>
        <%= f.label :subject do %>
          Custom Subject <i class="fa fa-question-circle has-tip" data-tooltip="fuCustomSubject" data-allow-html="true" title="The subject for this communication defaults to the highest performing subject line of its related Tile Digest. You can override this behavior by entering a custom subject."></i>
        <% end %>
        <%= f.text_field :subject, maxlength: 80, placeholder: @follow_up_email.subject_before_sent, style: "margin-bottom:10px;" %>
        <script>
          addCharacterCounterFor('#follow_up_digest_email_subject');
        </script>
      </li>

      <li class="mt-2">
        <%= f.label :send_on, "Send On" %>
        <%= f.text_field :send_on, value: f.object.send_on.to_time.to_s(:tile_digest_email_sent_at), readonly: true %>
      </li>
    </ul>

    <div class="cmd-wrapper">
      <span class="commands">
        <%= link_to "Save", client_admin_tiles_follow_up_email_path(@follow_up_email),
          class: "save button small", data:{action:"save"} %>
      </span>
    <%end%>
    </div>
</div>
