<% 
if current_user.likes_tile?(tile)
  display_like = 'display:none;'
  display_liked = 'display:block;'
  else
  display_like = 'display:block;'
  display_liked = 'display:none;'
  end
%>

  <div class='tile_tag_bar columns large-7 large-centered columns' >
    <ul class="info-bar">
      <li class='like-copy-section'>
        <div class="like_button_wrapper">
          <%= link_to explore_tile_likes_path(tile_id: tile.id, 
            path: :via_explore_page_tile_view), id: "tile-not-like-#{tile.id}", 
              method: :post, remote: true, style: display_like do%>
            <div class="not_like_button">
              <%= fa_icon 'smile-o' %>
              Like
            </div>
          <%end%>
          <%=link_to explore_tile_likes_path(tile_id: tile.id, 
            path: :via_explore_page_tile_view), id: "tile-like-#{tile.id}", 
              method: :delete, remote: true, style: display_liked do%>
            <div class="like_button">
              <%= fa_icon 'smile-o' %>
              Liked
            </div>
          <%end%>
        </div>
      </li>

      <% if tile.is_copyable? %>
        <li class='like-copy-section'>
          <%= render 'tiles/copy_button', tile: tile%>
        </li>
      <% end %>

      <li class="like-copy-info">
        <div class="liked_by" id="tile_likes_text">
          <%=show_tile_likes(tile, current_user)%>
        </div>
        
        <% if tile.is_copyable? %>
          <div class='copied_by'>
            <%=show_tile_copies(tile, current_user)%>
          </div>
        <% else %>
          <div class="copied_by has_tip" data-tooltip title="The permissions on this tile don't allow copying.">
            Tile is view only
          </div>
        <% end %>
      </li>
      <li class="all_tile_tags">
        <ul class="tile_tags">
          <li class="tag-icon"><%=fa_icon :tag%></li>
        </ul>
      </li>
    </ul>
    <ul class="extra_tags_list">
      <% @tile.tile_tags.each do |tile_tag| %>
        <li class="tile_tag">
          <%= link_to tile_tag.title, tile_tag_show_explore_path(tile_tag: tile_tag.id, tag_click_source: 'Explore Tile Preview Page - Clicked Tile Tag') %>
        </li>
      <% end %>          
    </ul>
  </div>
