<% 
if current_user.likes_tile?(tile)
  display_like = 'display:none;'
  display_liked = 'display:block;'
  else
  display_like = 'display:block;'
  display_liked = 'display:none;'
  end
%>

  <div class='tile_tag_bar columns large-7 large-centered columns' >
    <div class="info-bar tile_holder">

      <div class="tags">
        <% @tile.tile_tags.each do |tile_tag| %>
            <span class="tag">
              <%= link_to tile_tag.title, tile_tag_show_explore_path(tile_tag: tile_tag.id, tag_click_source: 'Explore Tile Preview Page - Clicked Tile Tag') %>
            </span>
        <% end %>
      </div>
      <div class="like-copy-section">
        <div class="likes-count"><i class="fa fa-heart-o"></i> 13 Likes</div>
        <div class="copy-count"><i class="fa fa-files-o"></i> 3 Copies</div>
      </div>

    </div>
    <div class="likes-copy-buttons tile_holder">
        <div class="like-button">
          <%= link_to explore_tile_likes_path(tile_id: tile.id,
            path: :via_explore_page_tile_view), id: "tile-not-like-#{tile.id}",
              method: :post, remote: true, style: display_like do%>
            <div class="not_like_button">
              <%= fa_icon 'heart-o' %>
              Like
            </div>
          <%end%>
          <%=link_to explore_tile_likes_path(tile_id: tile.id,
            path: :via_explore_page_tile_view), id: "tile-like-#{tile.id}",
              method: :delete, remote: true, style: display_liked do%>
            <div class="like_button">
              <%= fa_icon 'heart' %>
              Liked
            </div>
          <%end%>
        </div>
        <% if tile.is_copyable? %>
            <div class='copy-button'>
              <%= render 'tiles/copy_button', tile: tile%>
            </div>
          <% end %>
      </div>
  </div>
