<div class="share_bar">
  <div class="share_title">Share tile:</div>
  <div class="share_link_block">
    <%= text_field_tag 'share_tile_link', explore_tile_preview_url(tile), id: "share_link" %>
    <div class="share_link_icons">
      <div class="share_linkedin share_icon">
        <%= link_to fa_icon('linkedin 2x'), "", target: '_blank', id: 'share_linkedin_icon' %>
      </div> 
      <div class="share_mail share_icon">
        <%= mail_to '', fa_icon('envelope 2x'), subject: 'Tile shared via Airbo', body: " I want to share this tile with you from Airbo: #{explore_tile_preview_url(tile)}" %>
      </div>   
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $().ready(function(){
      tileShareLink();
    });
  <% end %>
<% end %>