<div class='columns large-centered tile_preview_navbar'>
    <div class='tile-head tile_holder'>
      <%= link_to "Explore more great content", explore_path(explore_content_link: true), class: "link" %>
    </div>

    <div class='basic-info tile_holder justify'>
        <div class='creator'>
          <%=fa_icon :user if tile.creator && !tile.creator.name.blank?%>
          <%=(tile.creator && tile.creator.name) || ''%>
        </div>
        <div id="company-name-header">
          <% if tile.demo.client_name.present? %>
            <div id="company-icon"><i class="fa fa-building-o"></i></div>
            <div id="company-name"><%= truncate(tile.demo.client_name, length:20) %></div>
          <% end %>
        </div>
        <div id="board-name-header">
          <div id="board-icon"><i class="fa fa-th-large"></i></div>
          <div id="board-name"><%= truncate(tile.demo.name, length:20) %></div>
        </div>
    </div>
</div>

