<div class='columns large-centered tile_preview_navbar'>
    <div class='tile-head tile_holder'>
      <% if tag.present? %>
        <%= link_to tile_tag_show_explore_path(tile_tag: tag.id), id: "back-link" do %>
          <%= fa_icon "arrow-left" %>Explore: <%= tag.title %>
        <% end %>
      <% else %>
        <%= link_to explore_path, id: "back-link" do %>
          <%= fa_icon "arrow-left" %>Explore
        <% end %>
      <% end %>

      <%= link_to explore_random_tile_path(cb: rand.to_s), id: "random-tile-link" do %>
        Random Tile<%= fa_icon :random %>
      <% end %>
    </div>

    <div class='basic-info tile_holder justify'>
        <div class='creator'>
          <%=fa_icon :user if tile.creator && !tile.creator.name.blank?%>
          <%=(tile.creator && tile.creator.name) || ''%>
        </div>
        <div id="company-name-header">
          <% if tile.demo.client_name.present? %>
            <div id="company-icon"><i class="fa fa-building-o"></i></div>
            <div id="company-name"><%= truncate(tile.demo.client_name, length:20) %></div>
          <% end %>
        </div>
        <div id="board-name-header">
          <div id="board-icon"><i class="fa fa-th-large"></i></div>
          <div id="board-name"><%= truncate(tile.demo.name, length:20) %></div>
        </div>
    </div>
</div>

