<div class='large-12 columns tile_preview_navbar'>
  <ul class='large-12'>
    <li class ='left-section'>
      <%= link_to explore_path do %>
        <%='Explore:'%>
      <% end %>            
    </li>
    <li class='basic-info'>
      <div class="nav_bar_company_name"><%=show_company_and_demo(tile)%></div>
      <div class='created_at'><%= time_ago_in_words(tile.created_at)%> ago</div>
      <div class='creator'>
        <%=fa_icon :user if tile.creator && !tile.creator.name.blank?%>
        <%=(tile.creator && tile.creator.name) || ''%>
      </div>
      
    </li>
  </ul>
</div>

