<div class='viewer'>
  <%= link_to "", explore_tile_preview_path(prev_tile), :id => "prev_tile", class: "button_arrow prev_tile", data:{action: "show", tile_id: @prev_tile.id} %>

  <div id="tile_preview_section">
    <%=render partial: 'copy_btn', locals: {tile: tile} unless guest_for_tile_preview?%>
    <div class="large-centered columns clearfix tile_preview_block">
      <%= render "tiles/full_size_tile", tile: tile, is_preview: true, image_is_loading: true %>
    </div>
  </div>

  <%= link_to "", explore_tile_preview_path(next_tile), :id => "next_tile", class: "button_arrow next_tile", data:{action: "show", tile_id: @next_tile.id} %>
</div>
<div class="bars">
  <%=render partial: 'share_bar', locals: {tile: tile} %>
  <div class="bg-white center bar_for_preview align_left offset_top">
    <%=render partial: 'creator', locals: { tile: tile } %>
    <%=render partial: 'categories', locals: { tile: tile } %>
  </div>
</div>
