<div class='large-7 columns large-centered tile_preview_navbar'>
    <div class='tile-head tile_holder'>
      <% if @tag.present? %>
        <%= link_to '<i class="fa fa-arrow-left"></i> Explore: '.html_safe + @tag.title, tile_tag_show_explore_path(tile_tag: @tag.id)  %>
      <% else %>
          <%= link_to explore_path do %>
              <i class="fa fa-arrow-left"></i> <%='Explore'%>
          <% end %>
       <% end %>
    </div>

    <div class='basic-info tile_holder justify'>
        <div class='creator'>
          <%=fa_icon :user if tile.creator && !tile.creator.name.blank?%>
          <%=(tile.creator && tile.creator.name) || ''%>
        </div>
        <div class="tower">
          <div <%= tile.demo.client_name.present? ? 'style=float:left' : '' %> ><i class="fa fa-building-o"></i></div>
          <div style="overflow: hidden;padding-left: 5px; <%= tile.demo.client_name.present? ? 'text-align:left;' : '' %>"><%= tile.demo.client_name.present? ? truncate(tile.demo.client_name,length:20) : '' %></div>
        </div>
        <div class="board-name">
          <div style="float:left"><i class="fa fa-th-large"></i></div>
          <div style="overflow: hidden;padding-left: 5px;"><%= truncate(tile.demo.name, length:20) %></div>
        </div>
    </div>
</div>

