<%= render partial: 'meta_tags', locals: { tile: @tile } %>

<%= stylesheet_link_tag "app-internal" %>
<%= javascript_include_tag "internal/countUp.min" %>
<%= javascript_include_tag "internal/point_and_ticket_animation" %>
<%= render "shared/mixpanel" %>
<%= mp_track_page 'explore tile preview' %>

<div class='viewer'>
  <%= link_to "", "#", :id => :prev %>

  <div id="tile_preview_section"> 
    <%= render partial: 'tile_preview', locals: { tile: @tile, tag: @tag } %>
  </div>

  <%= link_to "" ,"#", :id => :next %>
</div>

<% if guest_for_tile_preview? || user_is_guest_for_tile_preview? %>
  <%= javascript_tag do %>
    window.guestForTilePreview = true;
  <% end %>
  <%= render partial: 'sign_up_form' %>
<% end %>
