<%= stylesheet_link_tag "app-internal" %>
<%= javascript_include_tag "internal/countUp.min" %>
<%= javascript_include_tag "internal/point_and_ticket_animation" %>
<%= render "shared/mixpanel" %>
<%= mp_track_page 'explore tile preview' %>

<div class='row'>
  <%=render partial: 'tile_preview_navbar', locals: {tile: @tile} %>
</div>
<div class='row'>
  <%=render partial: 'like_copy_tag_bar', locals: {tile: @tile} %>
</div>

<div class="row">
  <div class="large-7 large-centered columns">
    <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
