<%= stylesheet_link_tag "app-internal" %>
<%= javascript_include_tag "internal/countUp.min" %>
<%= javascript_include_tag "internal/point_and_ticket_animation" %>
<%= render "shared/mixpanel" %>
<%= mp_track_page 'explore tile preview' %>

<div class='row'>
  <%=render partial: 'tile_preview_navbar', locals: {tile: @tile} %>
</div>

<div clas='row'>
  <div class='tile_tag_bar columns large-7 large-centered columns' >
    <ul class="all_tile_tags">
      <li><%=fa_icon :tags%></li>
        

    </ul>
    <ul class="extra_tags_list">
      <% @tile.tile_tags.each do |tile_tag| %>
        <li class="tile_tag">
          <%= link_to tile_tag.title, tile_tag_show_explore_path(tile_tag: tile_tag.id) %>
        </li>
      <% end %>          
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-7 large-centered columns">
    <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
