<%= stylesheet_link_tag "app-internal" %>
<%= stylesheet_link_tag 'internal/explore' %>
<%= javascript_include_tag "internal/countUp.min" %>
<%= javascript_include_tag "internal/point_and_ticket_animation" %>

<div class='row'>
  <%=render partial: 'tile_preview_navbar', locals: {tile: @tile} %>
</div>

<div class="row">
  <div class="large-7 large-centered columns">
    <%= render "tiles/full_size_tile", tile: @tile, answer_links_disabled: true %>

    <%= render 'client_admin/tiles/poll_for_image_if_needed', tile: @tile %>
  </div>
</div>
