<% content_for :meta do %>
  <!-- Open Grpaph meta tags(Facebook, Linkedin) -->
  <meta property="og:title" content="<%= @tile.headline %>" />
  <meta property="og:description" content="<%= @tile.supporting_content.truncate(200) %>" />
  <meta property="og:image" content="<%= @tile.image %>" />
  <meta property="og:image" content="<%= path_to_image 'airbo_logo_lightblue_square_smile.png' %>" />
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@theairbo">
  <meta name="twitter:title" content="<%= @tile.headline.truncate(70) %>">
  <meta name="twitter:description" content="<%= @tile.supporting_content.truncate(200) %>">
  <meta name="twitter:image:src" content="<%= @tile.image %>">
<% end %>

<%= stylesheet_link_tag "app-internal" %>
<%= javascript_include_tag "internal/countUp.min" %>
<%= javascript_include_tag "internal/point_and_ticket_animation" %>
<%= render "shared/mixpanel" %>
<%= mp_track_page 'explore tile preview' %>

<div class='viewer'>
  <%= link_to "", "#", :id => :prev %>

  <div id="tile_preview_section"> 
    <%= render partial: 'tile_preview', locals: { tile: @tile, tag: @tag } %>
  </div>

  <%= link_to "" ,"#", :id => :next %>
</div>

<% if guest_for_tile_preview? || user_is_guest_for_tile_preview? %>
  <%= javascript_tag do %>
    window.guestForTilePreview = true;
  <% end %>
  <%= render partial: 'sign_up_form' %>
<% end %>
