<h3><%= @user.name %> (<%= @user.email %>) has created a new board <%= @board.name %> (<%= @board.id %>).</h3>

<p>Please do the following:</p>
<ol>
  <li>Verify that they are an HRM</li>
  <li>Verify company name and add in <%= link_to 'site-admin', admin_url, target: "_blank" %></li>
  <li>Add to <%= link_to 'Salesforce', 'https://na16.salesforce.com/00Q/o', target: "_blank" %> as a qualified lead</li>
  <li>Add to <%= link_to 'Mailchimp', 'https://us2.admin.mailchimp.com/lists/members/add?id=805133)', target: "_blank" %> marketing list</li>
  <li>Reach out via phone and then via email (if no answer)</li>
</ol>