<div class="card-component tile-email-report-module report-module js-tile-email-report-module hide" data-tile-data="#tileData{{tileEmailId}}" data-tile-data-toggle="#tileDataToggle{{tileEmailId}}">
  <div class="card-header">
    <div class="card-title-group">
      <div class="row">
        <div class="columns large-6 small-8">
          <h3 class="card-title">Sent on {{formatLocalTime tileEmailSentAt 'MMM D, Y [at] h:mm A'}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-content js-subject-line-section subject-line-section">
      {{#if showUnique}}
        {{#each loginsBySubjectLine}}
          <div id="subject-{{@index}}" class="subject js-subject">
            <div class="row">
              <div class="columns small-10">
                <h3 class="subject-line">{{@key}}</h3>
              </div>
              <div class="columns small-2">
                  <h3 class="login-count float-right"><span class="login-count-number">{{numAddCommas this}}</span> {{pluralize this "unique login" "unique logins"}}</h3>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#each loginsBySubjectLine}}
        <div id="subject-{{@index}}" class="subject js-subject">
          <div class="row">
            <div class="columns small-7">
              <h3 class="subject-line">{{@key}}</h3>
            </div>
            <div class="columns small-5">
              <h3 class="login-count float-right"><span class="login-count-number">{{numAddCommas this}}</span> total logins</h3>
            </div>
          </div>
        </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="card-content js-tile-email-data tile-email-data">
      <div class="row">
        <div class="columns large-3 small-6 text-center">
          <i class="tile-email-data-point data-icon fa fa-clone" aria-hidden="true"></i>
          <span class="d-block tile-email-data-point data-number">{{numAddCommas tilesCount}}</span>
          <span class="d-block tile-email-data-point data-label">{{pluralize tilesCount "Tile" "Tiles"}}</span>
        </div>
        <div class="columns large-3 small-6 text-center">
          <i class="tile-email-data-point data-icon fa fa-user" aria-hidden="true"></i>
          <span class="d-block tile-email-data-point data-number">{{numAddCommas recipientCount}}</span>
          <span class="d-block tile-email-data-point data-label">{{pluralize recipientCount "Recipient" "Recipients"}}</span>
        </div>
        <div class="columns large-3 small-6 text-center">
          {{#compare followUpStatus "delivered" operator="==="}}
            <i class="tile-email-data-point data-icon fa fa-paper-plane-o" aria-hidden="true"></i>
          {{/compare}}
          {{#compare followUpStatus "scheduled" operator="==="}}
            <i class="tile-email-data-point data-icon fa fa-clock-o" aria-hidden="true"></i>
          {{/compare}}
          {{#compare followUpStatus "no" operator="==="}}
            <i class="tile-email-data-point data-icon fa fa-ban" aria-hidden="true"></i>
          {{/compare}}

          <span class="d-block tile-email-data-point data-number">{{followUpStatus}}</span>
          <span class="d-block tile-email-data-point data-label">Followup</span>
        </div>
        <div class="columns large-3 small-6 text-center">
          <i class="tile-email-data-point data-icon fa fa-tv" aria-hidden="true"></i>
          <span class="d-block tile-email-data-point data-number">{{numAddCommas loginsFromEmail}}</span>
          {{#if showUnique}}
            <span class="d-block tile-email-data-point data-label">{{pluralize loginsFromEmail "Unique Login" "Unique Logins"}}</span>
          {{else}}
            <span class="d-block tile-email-data-point data-label">Total Logins</span>
          {{/if}}
        </div>
      </div>
    </div>
    {{#each tiles}}
      <div class="card-content tile-data">
        <div class="row">
          <div class="columns large-8 small-12 tile-image-and-headline">
            <img class="tile-image" src="{{this.image_url}}" alt="tile-image" height="60" width="60">
            <span class="tile-headline">{{this.headline}}</span>
          </div>
          <div class="columns large-2 small-3">
            <p class="tile-data-label tile_stats">
              <span class="tile-data-number">
                {{numAddCommas this.views}}
              </span>
              <a class="stat_action" href="#" data-href="/client_admin/tiles/{{this.id}}/tile_stats?action_type=total_views">
                {{pluralize this.views "View" "Views"}}
              </a>
              <span class="mobile_stat_action">
                {{pluralize this.views "View" "Views"}}
              </span>
            </p>
          </div>
          <div class="columns large-2 small-9">
            <p class="tile-data-label tile_stats">
              <span class="tile-data-number">
                {{numAddCommas this.completions}}
              </span>
              <a class="stat_action" href="#" data-href="/client_admin/tiles/{{this.id}}/tile_stats?action_type=interactions">
                {{pluralize this.completions "Completion" "Completions"}}
              </a>
              <span class="mobile_stat_action">
                {{pluralize this.completions "Completion" "Completions"}}
              </span>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
