<%= form_for board, url: logo_client_admin_board_settings_path, html: { id: "edit_board_logo", multipart: true } do |form| %>
  <%= form.label :logo, "Board Logo" %>
  <i class="fa fa-question-circle has-tip" id="board_logo_tooltip" data-tooltip="true" title="Shown on board and in emails. Logo file should be 160 pixels wide and under 38 pixels high, .png or .gif with a transparent or white background. Default is Airbo logo."></i>
  <%= form.file_field :logo %>
  <div class="error_message">
    Sorry that doesn't look like an image file. Please use a  <br/>
    file with the extension .jpg, .jpeg, .gif, .bmp or .png.
  </div>
  <%= form.submit "Update", disabled: true %>
  <a class="clear_form">Clear</a>
<% end %>

<% js_at_end do %>
  $().ready(function(){
    window.formWithClearableLogoField("#demo_logo", <%= ie9_or_older? %>);
  })
<% end %>
