.admin
  .breadcrumb
    = link_to "Admin", admin_path
    = "»"
    - if @demo
      = link_to @demo.name, admin_demo_path(@demo)
      = "»"
    Characteristics
    
  %h1 Characteristics
  
  %table
    %tr
      %th Name
      %th Description
      %th Type
      %th Allowed Values
      %th
    - @characteristics.each do |characteristic|
      %tr
        %td= characteristic.name 
        %td= characteristic.description 
        %td= characteristic.datatype_name
        %td
          %ul
            -characteristic.allowed_values.each do |allowed_value|
              %li= allowed_value
        %td
          = link_to "Edit", edit_admin_characteristic_path(characteristic)
          = button_to "Destroy", admin_characteristic_path(characteristic), :method => :delete, :confirm => "Really destroy \"#{characteristic.name}\"?"

  = render 'form', :characteristic => @characteristic
