<div class="row">
  <div class="columns small-12">
    <h3>New Organization</h3>
    <div class="row">
      <div class="columns small-6 small">
        <%= form_for([:admin, :sales, @sales_organization_creator.organization]) do |f| %>
          <% if @sales_organization_creator.organization.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @sales_organization_creator.organization.errors.full_messages.each do |msg| %>
                  <li style="color: red;"><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <br>
          <% end %>

          <fieldset>
            <legend>Organization</legend>
            <br>
            <%= f.label :name, "Name" %>
            <%= f.text_field :name %>
            <br>
          </fieldset>
          <br>
          <fieldset>
            <legend>First Client Admin</legend>
            <br>
            <%= f.fields_for :users, @sales_organization_creator.user do |user| %>
              <%= user.label :name, "Name" %>
              <%= user.text_field :name %>

              <%= user.label :email, "Email" %>
              <%= user.text_field :email %>
              <%= user.hidden_field :password, value: "password" %>
              <%= user.hidden_field :is_client_admin, value: true %>

              <%= f.label :is_hrm, "Is HRM?", class:"inline" %>
              <%= f.check_box :is_hrm , class: "inline"%>
            <% end %>
            <br>
          </fieldset>
          <br>
          <fieldset>
            <legend>Board</legend>
            <br>
            <%= f.fields_for :boards, @sales_organization_creator.board do |board| %>
              <%= board.label :name, "Name (defaults to organization name)" %>
              <%= board.text_field :name %>
              <%= label_tag :copy_board, "Choose Board to copy Tiles from" %>
              <%= select_tag :copy_board, options_from_collection_for_select(Demo.joins(:organization).where(organization: { name: "Airbo" } ), :id,  :name, @default_board_id), class: "airbo-chosen-select" %>
            <% end %>
            <br>
          </fieldset>
          <br>
          <br>
          <%= f.submit "Submit",  class: "button"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
