<div class="hidden-form">
  <%= semantic_form_for [:admin, @demo, User.new] do |form| %>
    <%= form.inputs do %>
      <%= form.input :name,  :label => "Name" %>
      <%= form.input :email, :label => "Email" %>
      <%= label_tag :set_claim_code %>
      <%= check_box_tag :set_claim_code %>
    <% end %>

    <%= form.buttons do %>
      <%= form.submit 'Submit' %>
    <% end %>
  <% end %>
</div>
