<li id="<%= dom_id(user) %>">
  <%= user.name %>, <%= user.email %>
  <% if user.phone_number.present? %>
    (<%= user.phone_number %>)
  <% end %>
  <% if user.claim_code %>
    <strong>(<%= user.claim_code%>)</strong>
  <% end %>
  <% if user.location %>
    (location: <%= user.location.name %>)
  <% end %>

  <span class="edit-link"><%= link_to "(edit #{user.name})", edit_admin_demo_user_path(user.demo, user) %></span>

  <span class="invite-link">
    <%= render :partial => 'admin/invitations/new',
               :locals  => { :user => user } %>
   </span>

   (invitation URL is <%= invitation_url(user.invitation_code) %>)
</li>
