<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :claim_code %>
  <%= form.commit_button %>
<% end %>

<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <fieldset>
    <legend>Move User To A Different Demo</legend>
    <p>If you move this user, any actions they did under the original demo will still exist in the database, but won't show up until such time as you move them back to that original demo.</p>
    <%= form.input :demo, :collection => @demos, :label_method => :company_name, :include_blank => false %>
    <%= form.commit_button 'Move User' %>
  </fieldset>
<% end %>
