<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :claim_code %>
  <%= form.commit_button %>
  <%= form.input :connection_bounty %>
<% end %>

<fieldset>
  <legend>This User's Tasks</legend>
  <% @task_suggestions.each do |task_suggestion| %>
    <%= button_to "Complete #{task_suggestion.task.name} for #{@user.name}", admin_task_suggestion_path(task_suggestion), :method => :put, :confirm => "Complete #{task_suggestion.task.name} for #{@user.name}?" %>
  <% end %>
</fieldset>

<%= form_tag admin_demo_user_characteristics_path(@user.demo, @user), :method => :put do %>
  <fieldset>
    <legend>Characteristics</legend>
    <div id="agnostic-characteristics">
      <h2>Demo-agnostic characteristics</h2>
      <%= characteristic_selects @agnostic_characteristics, @user %>
    </div>

    <div id="specific-characteristics">
      <h2>Demo-specific characteristics</h2>
      <%= characteristic_selects @demo_specific_characteristics, @user %>
    </div>

    <%= submit_tag "Set characteristics" %>
  </fieldset>
<% end %>

<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <fieldset>
    <legend>Move User To A Different Demo</legend>
    <p>If you move this user, any actions they did under the original demo will still exist in the database, but won't show up until such time as you move them back to that original demo.</p>
    <%= form.input :demo, :collection => @demos, :label_method => :name, :include_blank => false %>
    <%= form.commit_button 'Move User' %>
  </fieldset>
<% end %>

<%= form_tag admin_demo_user_path(@user.demo, @user), :method => :delete do %>
  <fieldset>
    <legend>Delete User</legend>
    Deleting users is <strong>irrevocable</strong>. There is <strong>no undo</strong>. All the history we have on this user (activities, friendships, everything) will be <strong>gone forever</strong> if you push this button.
    <%= submit_tag 'Destroy user', :confirm => "Don't say I didn't warn you. Are you sure you want to delete #{@user.name}?" %>
  </fieldset>
<% end %>
