<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :claim_code %>
  <%= form.commit_button %>
  <%= form.input :connection_bounty %>
<% end %>

<%= semantic_form_for @user, :url => admin_demo_user_path(@user.demo, @user) do |form| %>
  <fieldset>
    <legend>Move User To A Different Demo</legend>
    <p>If you move this user, any actions they did under the original demo will still exist in the database, but won't show up until such time as you move them back to that original demo.</p>
    <%= form.input :demo, :collection => @demos, :label_method => :company_name, :include_blank => false %>
    <%= form.commit_button 'Move User' %>
  </fieldset>
<% end %>

<%= form_tag admin_demo_user_path(@user.demo, @user), :method => :delete do %>
  <fieldset>
    <legend>Delete User</legend>
    Deleting users is <strong>irrevocable</strong>. There is <strong>no undo</strong>. All the history we have on this user (activities, friendships, everything) will be <strong>gone forever</strong> if you push this button.
    <%= submit_tag 'Destroy user', :confirm => "Don't say I didn't warn you. Are you sure?" %>
  </fieldset>
<% end %>
