<div class="tile_texts_container">
  <div class="tile_quiz">
    <%= form.hidden_field :question_type %>
    <%= form.hidden_field :question_subtype %>
    <div class="tile_types">
      <ul class="button-group">
        <% tile_types.each do |type, subtypes| %>
          <li class="tile_type">
            <a id="<%= type %>" href="#" data-dropdown="drop_<%= type %>" class="button type dropdown"><%= type %> <i class="fa fa-caret-down"></i></a>

            <ul id="drop_<%= type %>" data-dropdown-content class="f-dropdown">
              <% subtypes.each do |key, subtype| %>
                <li id="<%= type + '-' + key %>" class="subtype" ><%= subtype[:name] %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>      
    </div>
    <div class="quiz_content">
      <p class="placeholder">Pick what users will earn points for.</p>
    </div>
  </div>
  <%= render partial: 'client_admin/tiles/form/points', locals: {form: form} %>
</div>

<% tile_has_question_type = params[:action] == "edit" || params[:action] == "update" || (params[:action] == "create" && @tile_builder_form.question_type.present?) %>
<% tile_types_for_js = set_tile_types(tile_has_question_type, @tile_builder_form) %>
<% content_for :javascript do %>
  <% javascript_tag do %>
    window.tileTypes = <%= raw(tile_types_for_js.to_json) %>;
    window.questionAndAnswersBuilder(<%= tile_has_question_type %>, "<%= raw @tile_builder_form.question_type %>", "<%= raw @tile_builder_form.question_subtype %>");
  <% end %>
<% end %>
