%table.G{style.table_reset_hash_set_width}
  %tr
    %td{style.description_hash} 
      = "#{@user.demo.name} is a fun social game"
      that rewards you for making healthy decisions and hunting for colorful squares, called <i>tiles</i>. Earn points and win prizes like gift cards and iPads!

%table.H{style.table_reset_hash}
  %tr
    %td{style.image_left}= image_tag "#{style.image_url}/images/emails/left_screenshot.png", :height => 161, :width => 161, :style => "padding-right: 40px;", :alt => "photo of friends list"
    %td{style.three_ways_hash} 
      You can earn points for:
      = render 'email_previews/ways_to_get_points', :style => style
      
%table.I{style.table_reset_hash_full_width}
  %tr
    %td{style.bottom_left_hash}
      %table.L{style.table_reset_hash}
        %tr
          %td{style.not_alone_hash} And you won't be alone!
        %tr
          %td{style.connect_hash} Connect with your friends to see how<br>they're playing and what level they're on.
        %tr
          %td
            = link_to invitation_url(@user.invitation_code, @referrer_hash), :id => :play_now_large do
              = image_tag "#{style.image_url}/images/emails/play_now_large.png", :height => 60, :width => 302, :alt => "Click Here to Start Playing", :style => style.image
    %td{style.image_right}= image_tag "#{style.image_url}/images/emails/right_screenshot.png", :height => 161, :width => 161, :alt => "photo of scoreboard"
    
    

    
