- if @user.demo.invitation_logo_filename.present?
  - logo_url = style.custom_image_base + @user.demo.invitation_logo_filename
- else
  - logo_url = "#{style.image_url}/images/emails/hengage_logo.png" 

%table.F{style.table_reset_hash_set_width}
  %tr
    %td= image_tag logo_url, :height => 42, :width => 280, :alt => "H Engage Logo", :style => 'padding-top: 12px; display: inline-block;'
    %td{style.browser_view_hash}
      - unless @hide_browser_option
        %div{style.trouble_text_hash} Having trouble viewing this email?
        %div{style.view_it_hash}= link_to "View it in your browser", @preview_url
      
      
      
  %tr
    %td{style.youre_invited_hash}
      %div{style.youre_invited_text_hash} You’re invited...
      %div{style.get_ready_hash} 
        - if @referrer
          = "#{@referrer.name} wants you to play"
        - else
          to play
        = @user.demo.name_with_sponsor
    %td{style.top_call_hash}
      = link_to @play_now_url  do
        = image_tag "#{style.image_url}/images/emails/play_now_small.png", :height => 38, :width => 186, :alt => "Click Here to Start Playing", :style => style.image, :id => :play_now
    
