<%= form_for tile_builder_form, tile_builder_form.form_params do |f| %>

    <%= f.hidden_field :remote_media_url, id: "remote_media_url" %>
    <%= f.hidden_field :remote_media_type, id: "remote_media_type" %>
    <%= f.hidden_field :image_container, id: "image_container" %>
    <%= f.hidden_field :old_image_container %>
    <%= f.hidden_field :no_image, id: "no_image" %>
    <%= f.hidden_field :image_from_library, id: "image_from_library" %>

    <%= render 'shared/tiles/form/image_library', tile_images: tile_images unless request.xhr?%>
  <div class="tile_holder_container">
    <div class="tile_form_holder">
      <div class="large-8 large-centered columns builder-width">
        <div class="tile_holder">
          <%= render '/shared/tiles/form/image_preview', form: f, tile_images: tile_images %>
          <div class="builder_content tile_builder_section">
            <%= render 'shared/tiles/form/headline_and_supporting_content_fields', form: f, tile: tile_builder_form.tile %>
          </div>
          <%= render 'shared/tiles/form/question_and_answer_section', form: f %>
        </div>
        <%= render 'shared/tiles/form/submit_button', submit_button_text: tile_builder_form.submit_button_text, return_button_text: tile_builder_form.return_button_text, form: f %>
      </div>
    </div>
  </div>

<% end %>



<%= s3_uploader_form post: client_admin_tiles_url, as: "tile_builder_form[upload_url]", style: "visibility:hidden;height:0px;width:0px" do %>
  <%= file_field_tag :file, id:"media_file" %>
<% end %>

