-archive_link_options = {class: 'archive_tile_link'}
-archive_link_options = archive_link_options.merge(method: :put, remote: true) if do_ajax
.tile_container
  .tile_thumbnail{class:type, id:"single-tile-#{tile.id}", data:{tile_id:tile.id}}
    %a{href:client_admin_tile_path(tile), class:'tile_thumb_link'}
      %div.tile-wrapper
        %div.tile_thumbnail_image= image_tag tile.thumbnail
        %div.headline
          %div.text= tile.headline
        %div.shadow_overlay
    %ul.tile_buttons
      %li.archive_button= content_tag(:div, link_to('Archive', client_admin_tile_path(tile, update_status: Tile::ARCHIVE), method: :put), class: 'archive_tile_link') if type == :active
      %li.activate_button= content_tag(:div, link_to('Post' + (type == :archive ? ' again' : ''), client_admin_tile_path(tile, update_status: Tile::ACTIVE, path: :via_index), method: :put), class: 'archive_tile_link') if type == :archive || type == :draft
      %li= content_tag(:div, link_to('Edit', edit_client_admin_tile_path(tile)), class: 'edit_tile_link')
    = render 'shared/tiles/tile_stats', tile: tile

- if tile.thumbnail_processing
  - content_for :javascript do
    :javascript
      queueTileForThumbnailPolling(#{tile.id})
