- unless @suppress_tile_stats
  .tile_stats
    .activation_dates= footer_timestamp(tile)
    - unless tile.status == Tile::DRAFT
      .completions 
        Completed:
        = link_to("#{pluralize(tile.completion_count, 'user')}", 
              client_admin_tile_tile_completions_path(tile))
      .completion_percentage
        Completed:
        = number_to_percentage tile.claimed_completion_percentage, precision: 1
        of joined users
      .likes
        Liked:
        = link_to("#{pluralize(tile.like_count, 'user')}", '#', 'data-reveal-id' => "reveal_like_copy_status_#{tile.id}")
      .copies
        Copied:
        = link_to("#{pluralize(tile.copy_count, 'user')}", '#', 'data-reveal-id' => "reveal_like_copy_status_#{tile.id}")
      .reveal-modal{id:"reveal_like_copy_status_#{tile.id}"}
        = link_to '&#215;'.html_safe, '#', class: "close-reveal-modal"
        .liked_by
          = fa_icon 'smile-o'
          Liked By:
          =tile.liked_by
        .copied_by
          = fa_icon 'copy'
          Copied By:
          =tile.copied_by
        
