#user_progress
  - if raffle.live?
    #raffle_section
      #raffle_header.progress_header
        Raffle Entries
      #raffle_data.progress_header
        #raffle_time_left
          %icon.fa.fa-clock-o
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :number
          = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :text
        #raffle_info
          %icon.fa.fa-trophy
          Info
      .progress-radial{class: "progress-" + (raffle_progress_bar * 10).to_s}
        #raffle_entries.overlay
          = starting_tickets
  #total_section
    #total_header.progress_header
      Total points
    #total_points
      = number_with_delimiter current_user.points
  #tile_section
    #tile_header.progress_header
      Tiles
    - if current_user.avaliable_tiles_on_current_demo.count != current_user.completed_tiles_on_current_demo.count
      #all_tiles
        = current_user.avaliable_tiles_on_current_demo.count
    #tile_progress_bar
      #completed_tiles
        #complete_info
          #congrat_header
            %icon.fa.fa-flag
            You've finished all new tiles!
          %icon.fa.fa-check
          %span#completed_tiles_num
            = current_user.completed_tiles_on_current_demo.count
:javascript
  $().ready(function(){
    setTileBar(#{ current_user.avaliable_tiles_on_current_demo.count }, 
                    #{ current_user.completed_tiles_on_current_demo.count });
  });
- if raffle.live?
  = render partial: "client_admin/prizes/prize_modal", locals: {raffle: raffle}