- presenter = as_null ? NullUserProgressPresenter.new(demo) : UserProgressPresenter.new(current_user, raffle, browser)

.user_container
  #user_progress
    - if raffle
      = render partial: "shared/tiles/raffle_progress", locals: {raffle: raffle}
    #total_section
      #total_header.progress_header
        Total
      #total_points
        = presenter.points
    #tile_section
      #tile_header.progress_header
        Tiles
      #tile_progress_bar
        - if presenter.some_tiles_undone?
          #all_tiles
            = presenter.available_tile_count
        #completed_tiles
          #complete_info
            %span.fa.fa-check
            %span#completed_tiles_num
              = presenter.completed_tile_count
          #congrat_header
            %icon.fa.fa-flag-checkered
            #congrat_text
              Finished!

- content_for :javascript do
  - if presenter.old_browser?
    :javascript
      window.oldBrowser = true;
  :javascript
    $().ready(function(){
      Airbo.ProgressAndPrizeBar.setTileBar(#{ presenter.available_tile_count }, #{ presenter.completed_tile_count });
      Airbo.ProgressAndPrizeBar.setCongratText();
    });

- if raffle && current_user.can_see_raffle_modal?
  = render partial: "client_admin/prizes/prize_modal", locals: {raffle: raffle}
