-# OPTZ: Cache this, must local-var a few things first
-# (e.g. all the calls to current_user.foo)
-# that's better practice anyway
.user_container
  #user_progress
    - if raffle
      = render partial: "shared/tiles/raffle_progress", locals: {raffle: raffle}   
    #total_section
      #total_header.progress_header
        Total
      #total_points
        = number_with_delimiter current_user.points
    #tile_section
      #tile_header.progress_header
        Tiles
      #tile_progress_bar
        - if current_user.available_tiles_on_current_demo.count != current_user.completed_tiles_on_current_demo.count
          #all_tiles
            = current_user.available_tiles_on_current_demo.count
        #completed_tiles
          #complete_info
            %span.fa.fa-check
            %span#completed_tiles_num
              = current_user.completed_tiles_on_current_demo.count
          #congrat_header
            %icon.fa.fa-flag-checkered
            #congrat_text
              Finished!
- content_for :javascript do
  - if browser.ie6? || browser.ie7? || browser.ie8?
    :javascript
      window.oldBrowser = true;
  :javascript
    $().ready(function(){
      setTileBar(#{ current_user.available_tiles_on_current_demo.count }, 
                      #{ current_user.completed_tiles_on_current_demo.count });
      setCongratText();
    });
- if raffle && current_user.can_see_raffle_modal?
  = render partial: "client_admin/prizes/prize_modal", locals: {raffle: raffle}
