<h1>Forbidden Rules</h1>

<p>Any user sending in any of these rules will get a message back saying that it's not an allowed command.</p>

<p>These rules are universal to all games: if you need to override one in a particular game, you can do so by adding a custom rule with the same value to that game.</p>

<ul>
<% @forbidden_rule_values.each do |forbidden_rule_value| %>
  <li>
    <%= forbidden_rule_value.value %>
    <%= button_to 'Delete this forbidden rule', {:action => :destroy, :id => forbidden_rule_value.id}, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<%= semantic_form_for @new_forbidden_rule, :url => admin_forbidden_rules_path do |form| %>
  <%= form.input :value %>
  <%= form.submit 'Add forbidden rule' %>
<% end %>
