
.admin
  .breadcrumb
    = link_to "Admin", admin_path
    = "»"
    = link_to @demo.name, admin_demo_path(@demo)
    = "»"
    = link_to "Reports", admin_demo_reports_path(@demo)
    = "»"
    Points
    
  %h1= @demo.name
  .clear
  .table-title <span class='bold'>Histogram</span>, Points vs Users
  %table
    %tr
      %th Points Achieved
      %th Number Users
      %th Percent Users
    - @points_array.each do |blob|
      - key = blob.split('|').first
      - val = blob.split('|').last
      - zebra_stripes = cycle('', 'stripe')
      %tr{:class => zebra_stripes} 
        %td{:class => 'label'}= key
        %td= val
        %td= "#{"%.1f" % (100.0 * val.to_i / @num_users_this_demo)}%" 
        

        
      