<div id="leave_board_safety_modal" class="reveal-modal">
  <div class="row">
    <div class="small-9 columns">
      <h1>DELETE</h1>
    </div>
    <div class="small-3 columns close_safety_block">
      <a id="close_safety_modal" class="small-1" href="#">Cancel</a>
    </div>
  </div>

  <p id="warning_first_part">
    <% if user.has_only_one_board? %>
      Your account will be permanently deleted from Airbo.
    <% else %>
      Your account will be permanently deleted from this board.
    <% end %>
  </p>
  <p id="warning_second_part">Confirm by typing the word "DELETE" in all caps.</p>

  <%= form_tag '#', id: "leave_board_form", method: "delete" do %>
    <%= text_field_tag '#', nil, placeholder: "Type \"DELETE\" in all caps" %>
    <%= submit_tag 'Leave Board', disabled: true %>
  <% end %>
</div>

<div id="board_settings" class="reveal-modal">
  <div class="row">
    <div class="small-11 columns">
      <h1>Board Settings</h1>
    </div>
    <div class="close_board_settings_container">
      <a id="close_board_settings" class="small-1" href="#">Close</a>
    </div>
  </div>
	<div id = "user_settings_body" data-path=<%=board_setting_path%>>
		<%# render 'shared/board_settings/user_settings_body',  user: user %>
	</div>
</div>  

<% if user.can_open_board_settings? %>
  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $().ready(function(){
        bindBoardSettingsControls();
        if(<%= params[:pop_board_settings_modal].present? %>){
          window.openBoardSettings();
        }
      });
    <% end %>
  <% end %>
<% end %>

