<% digest_slider_presenter = DigestMuteSliderPresenter.new(board.id, digest_is_muted, digest_is_muted) %>
<% mute_slider_presenter   = FollowupMuteSliderPresenter.new(board.id, digest_is_muted, digest_is_muted || followup_is_muted) %>
<% truncated_board_name = board.name.truncate(35) %>

<% cache [__FILE__, 'v2.pwd', digest_slider_presenter.cache_key, mute_slider_presenter.cache_key, truncated_board_name, board.id, board.is_paid] do %>
  <div class="board_wrapper">
    <div class="board_name_column">
      <%= content_tag 'h3', class: "board_name non_admin", "data-demo_id" => board.id do %>
        <%= truncated_board_name %>
      <% end %>
    </div>

    <div class="email_column">
      <div class="switch_container">
        <%= render 'shared/board_settings/email_mute_slider', presenter: digest_slider_presenter %>
        <%= render 'shared/board_settings/email_mute_slider', presenter: mute_slider_presenter %>
      </div>
    </div>

    <div class="delete_column">
      <% unless board.is_paid %>
        <%= link_to "Delete", '#', {class: 'delete_board_icon', "data-delete_url" => board_membership_path(board.id)} %>
      <% else %>
        <span class="cannot_delete">Cannot delete</span>
      <% end %>
    </div>
  </div>
<% end %>
