<% form_submit_path = suggested_task.new_record? ?
  admin_demo_suggested_tasks_path(suggested_task.demo) :
  admin_demo_suggested_task_path(suggested_task.demo, suggested_task) %>
<%= semantic_form_for suggested_task, :url => form_submit_path do |f| %>
  <%= f.input :name %>
  <%= f.input :short_description %>
  <%= f.input :long_description %>
  <%= f.input :bonus_points %>
  <%= f.input :prerequisite_tasks, :collection => @existing_tasks %>
  <%= f.input :start_time, :twelve_hour => true, :start_year => Time.now.year %>
  <fieldset>
    <legend>Completion Triggers</legend>
      <p>If you don't select any completion triggers, the only way for one to get completed for a user will be for an admin to do so manually.</p>
      <fieldset>
        <%= label_tag "completion[rule_ids]", "Rules" %>
        <% rule_options = options_from_collection_for_select(@primary_values, :rule_id, :value, :selected => @selected_rule_ids) %>
        <%= select_tag "completion[rule_ids]", rule_options, :multiple => true %>
        <br/>

        <%= label_tag "completion[referrer_required]", "Referrer required" %>
        <%= check_box_tag "completion[referrer_required]" %>
      </fieldset>

    <%= label_tag "completion[survey_id]", "Survey" %>
    <% survey_options = options_from_collection_for_select(@surveys, :id, :name, :selected => @selected_survey_id) %>
    <%= select_tag "completion[survey_id]", survey_options, :include_blank => true %>
  </fieldset>
  <%= f.submit %>
<% end %>
