.task_details
  .name
    .label Name
    .value= suggested_task.name
  .short_desc
    .label Short Description
    .value= suggested_task.short_description 
  .long_desc
    .label Long Description
    .value= suggested_task.long_description
  .completion_triggers
    - if suggested_task.has_demographic_trigger? 
      %p Complete demographics

    - if suggested_task.rule_triggers.present? 
      %p="Rules (any of the following#{', referrer required' if suggested_task.rule_triggers.first.referrer_required}):"
      %ul
        - suggested_task.rule_triggers.each do |rule_trigger| 
          %li.brown= rule_trigger.rule.primary_value_text
  .other
    - if suggested_task.survey_trigger.present? 
      %p 
        Survey: 
        = suggested_task.survey_trigger.survey.name 


    - if suggested_task.only_manually_triggerable? 
      %p Manual only.
  .bonus
    .label Bonus Points
    .value= suggested_task.bonus_points