.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  = link_to "Suggested Tasks", admin_demo_suggested_tasks_path(@demo)
  = "»"
  Edit
%br

.admin
  = render 'form', :suggested_task => @suggested_task 
  %br
  %br
  = form_tag admin_demo_suggested_task_bulk_satisfaction_path(@demo, @suggested_task) do 
    %p
      = label_tag "completion[emails]", "Manually complete for multiple users" 
      Enter one e-mail address per line


    %p= text_area_tag "completion[emails]"
    = submit_tag "Manually complete "

