<% if @suggested_tasks.empty? %>
  <p>No suggested tasks for this demo.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Short description</th>
      <th>Long description</th>
      <th>Eligibility conditions</th>
      <th></th>
    </tr>

    <% @suggested_tasks.each do |suggested_task| %>
      <tr>
        <td><%= suggested_task.name %></td>
        <td><%= suggested_task.short_description %></td>
        <td><%= suggested_task.long_description %></td>
        <td>
          <% if suggested_task.start_time %>
            <p>Start time: <%= suggested_task.start_time.pretty %></p>
          <% end %>

          <% if suggested_task.prerequisite_tasks.present? %>
            <% prerequisite_names = suggested_task.prerequisite_tasks.map(&:name).sort %>
            Prerequisites:
            <ul>
              <% prerequisite_names.each do |prerequisite_name| %>
                <li><%= prerequisite_name %></li>
              <% end %>
            </ul>
          <% end %>
        </td>

        <td>
          <%= link_to 'Edit this task', edit_admin_demo_suggested_task_path(@demo, suggested_task) %>
        </td>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><%= link_to "Add suggested task", new_admin_demo_suggested_task_path(@demo) %></p>
