.breadcrumb
  = link_to "Admin", admin_path
  = "»"
  = link_to @demo.name, admin_demo_path(@demo)
  = "»"
  Suggested Tasks
%br

.admin
    
  - if @suggested_tasks.empty? 
    %p No suggested tasks for this demo.
  - else 
    %table{:class => :admin_wide}
      %tr
        %th Identifier
        %th Name
        %th Prereq
        %th 
          Start Time
          .time_zone
            (Eastern)
        %th 
          End Time
          .time_zone
            (Eastern)
        %th Active
    

      - @suggested_tasks.each do |suggested_task| 
        - zebra_stripes = cycle('', 'stripe')
        - active_class = suggested_task.due? ? ' active' : ' inactive'
        - zebra_stripes += active_class

    
        %tr{:class => zebra_stripes}

                  
                  
          %td= suggested_task.identifier
          %td= link_to suggested_task.name, edit_admin_demo_suggested_task_path(@demo, suggested_task) 
          
                  
          %td
            - if suggested_task.prerequisite_tasks.present? 
              - prerequisite_names = suggested_task.prerequisite_tasks.map(&:name).sort 
              %ul
                - prerequisite_names.each do |prerequisite_name| 
                  %li= prerequisite_name         
            = render 'task_details', :suggested_task => suggested_task
                  
          %td= suggested_task.start_time ? suggested_task.start_time.pretty_succinct : ''
          %td= suggested_task.end_time ? suggested_task.end_time.pretty_succinct : ''
        

          %td{:class => "brown"}= suggested_task.due? ? "*" : "" 
      


  %p= link_to "Add suggested task", new_admin_demo_suggested_task_path(@demo) 
  .long_page