<div class="position-relative features">
  <div class="container">
    <div class="row">
      <h2 class="title">
        Modernize your benefits communications.
      </h2>
      <p>
        Our content tiles are customized to fit your organization no matter the topic or industry
      </p>
    </div>
  </div>
  <%= image_tag 'marketing_site/row1.png', class: 'row1' %>
  <%= image_tag 'marketing_site/row2.png', class: 'row2' %>
  <%= image_tag 'marketing_site/row3.png', class: 'row3' %>
  <%= image_tag 'marketing_site/row4.png', class: 'row4' %>

  <%= image_tag 'marketing_site/balloon_gray.svg', class: "left-balloon" %>
</div>
