<div class="position-relative features">
  <div class="container">
    <div class="row">
      <h2 class="title">
        Modernize your benefits communications.
      </h2>
      <p>
        Our content tiles are customized to fit your organization no matter the topic or industry
      </p>
    </div>
  <div class="tile-block"  data-aos="fade-up" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <%= image_tag 'marketing_site/row1.png', class: 'tile-col-1 tile' %>
    <%= image_tag 'marketing_site/row2.png', class: 'tile-col-2 tile' %>
    <%= image_tag 'marketing_site/row3.png', class: 'tile-col-3 tile' %>
    <%= image_tag 'marketing_site/row4.png', class: 'tile-col-4 tile' %>
  </div>
</div>
  <%= image_tag 'marketing_site/balloon_gray.svg', class: "left-balloon" %>
</div>
