<div class="position-relative features">
  <div class="container">
    <div class="row">
      <h2 class="title">
        Modernize your benefits communications.
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 content-block">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag 'marketing_site/controller.svg' %>
          </div>
          <div class="col-md-10">
            <h5 class="sub-title">
              Gamification
            </h5>
            <p>
              Make benefits content fun, visual and short with our interactive questionaires
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 content-block">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag 'marketing_site/chart.svg' %>
          </div>
          <div class="col-md-10">
            <h5 class="sub-title">
              Engagement Tracking
            </h5>
            <p>
              Track your employee’s progress with realtime data analysis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag 'marketing_site/chain.svg' %>
          </div>
          <div class="col-md-10">
            <h5 class="sub-title">
              Connect your employees
            </h5>
            <p>
              Update your employees of events, changes, and updates all within the same platform.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag 'marketing_site/layers.svg' %>
          </div>
          <div class="col-md-10">
            <h5 class="sub-title">
              Microsite Hub Access
            </h5>
            <p>
              Provide a central place accessable to everyone so nothing gets lost.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag 'marketing_site/balloon_gray.svg', class: "left-balloon" %>
</div>
