<div class="position-relative blue-teal-gradient case-study">
  <%= render partial: "pages/front_theme/svg/blue" %>
  <div class="u-bg-img-hero">
    <%= image_tag 'marketing_site/balloon_gray.svg', class: "right-balloon" %>
    <div class="row">
      <div class="col-md-4" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="attribute">
          <%= image_tag 'marketing_site/clients/carolyn.jpeg', class: "profile-pic" %>
          <p class="profile-title">Carolyn Gordon<br>
            <span class="small">Director of Benefits</span></p>
        </div>
      </div>
      <div class="col-md-8" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="pill">
          Case Study
        </div>
        <div class="testimonial">
          <%= image_tag 'marketing_site/clients/fujifilm_white.png', class: "thumbnail" %>
          <div class="quote">
            “We were doing everything we should have been doing.”
          </div>

          <p class="statement">
            At Fujifilm, employees were ignoring the newsletters and posters that were the entryway into the programs that Fujifilm invested in.
          </p>

          <a class="btn btn-sm btn-invert" href="https://www.benefitnews.com/news/how-fujifilm-uses-gamification-to-communicate-benefits" target="_blank">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
    <%= render partial: "pages/front_theme/svg/white" %>
</div>
