
<%= form_tag path, method: :get,  class: "custom report-filter" do %>
        <div class="columns small-3">
      <%= select_tag :interval, options_for_select({"Weekly" => "weekly",  "Monthly" =>"monthly" }), { class: "no-custom airbo-chosen-select " } %>
    </div>

    <div class="columns small-6 end">
      <span class="builtin-date-range" >
        <%= select_tag :date_range, options_for_select(FinancialsReporterService::REPORT_DATE_RANGE_TYPES, FinancialsReporterService::REPORT_DATE_RANGE_TYPES["Past 30 days"]), { class: "no-custom airbo-chosen-select "} %>
      </span>

      <div class="custom-date-range" style="display:none">
        <%= text_field_tag :sdate, @sdate, class: "custom-date", data: {value: simple_date_format_Y_d_m(@sdate)} %>
        <%= text_field_tag :edate, @edate, class: "custom-date", data: {value: simple_date_format_Y_d_m(@edate)} %>
        <a href= "#" class ="button outlined custom-date-done">
          Done
        </a>
      </div>

    </div>
    <button class="button">Submit</button>
<%end%>


