<h2 class="first">
  <%= link_to "Admin", admin_path %>:
  <%= link_to @demo.name, admin_demo_path(@demo) %>: 
  Goals
</h2>

<p><%= link_to "New Goal", new_admin_demo_goal_path(@demo) %></p>

<% @goals.each do |goal| %>
  <div class="goal-summary">
    <h3>Goal: <%= goal.name %> <%= link_to "(edit this goal)", edit_admin_demo_goal_path(@demo, goal) %></h3>
    Achievement text: <%= goal.achievement_text %><br/>
    Completion SMS text: <%= goal.completion_sms_text %><br/>
    <%= goal.rules.length %> rules:
    <ul>
      <% goal.rules.map(&:primary_value).map(&:value).sort.each do |rule_name| %>
        <li><%= rule_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
