<h2 class="first">
  <%= link_to "Admin", admin_path %> »
  <%= link_to @demo.name, admin_demo_path(@demo) %> »
  <%= link_to 'Goals', admin_demo_goals_path(@demo) %> »
  New
</h2>

<%= semantic_form_for @goal, :url => admin_demo_goals_path(@demo) do |form| %>
  <%= render 'form_fields', :form => form %>
<% end %>
