.admin
  .breadcrumb
    = link_to "Admin", admin_path
    = "»"
    = link_to @demo.name, admin_demo_path(@demo)
    = "»"
    = link_to "Reports: ", admin_demo_reports_path(@demo)
    = "»"
    Friendships
    %h1 Friendships
    %p= @demo.print_pending_friendships
