<div class="row">
    <div class="columns large-12">
    <h2 class="first">
      <%= link_to "Admin", admin_path %> »
      <%= link_to @demo.name, admin_demo_path(@demo) %> » Remove Users from Board
    </h2>
    <%=form_tag admin_demo_user_removal_path(@demo), method: :post, id: "board_user_removal_form" do%>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>User Type</th>
            <th>Remove?</th>
          </tr>
        </thead>
        <tbody>
          <% @demo.users.each do |user| %>
            <tr class="<%= @removing_ids.include?(user.id.to_s) ? 'removing' : 'standard' %>">
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.role %></td>
              <td><%= @removing_ids.include?(user.id.to_s) ? "Removing from Board" : check_box_tag("remove_user_#{user.id}") %></td>
            </tr>
          <% end %>
        </tbody>
        <table>
          <%=submit_tag "Remove Users from Board", class:"button outline red danger"%>
        <%end%>
  </div>
</div>
