<div class="row campaign-row">
  <h4 class="explore-headers non-link"><%= header %></h4>
  <div class="campaigns flickity-campaigns-carousel">
    <% campaigns.each do |campaign| %>
      <% cache campaign do %>
        <div class="carousel-cell tile_container" data-slug="<%= campaign.slug %>" data-name="<%= campaign.name %>" data-id="<%= campaign.id %>" data-path="<%= explore_campaign_path(campaign) %>">
          <div class="campaign">
            <div class="campaign-cell" style="background-image: url('<%= campaign.cover_image.url %>')">
              <div class="campaign_shadow_overlay"></div>
              <div class="campaign_overlay"></div>
              <section class="board-name">
                <h3 class="title"><%= campaign.name %></h3>
              </section>
              <section class="cover-footer">
                <div class="num-tiles subtitle">
                  <%="#{campaign.tile_count} Tiles"%>
                </div>
              </section>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
