<div class="row channel-row">
  <div class="channels flickity-channels-carousel">
    <% channels.each do |channel| %>
      <% cache channel do %>
        <div class="carousel-cell channel-image-container" style="background-image: url('<%= channel.image.url(:explore) %>')" data-slug="<%= channel.slug %>" data-name="<%= channel.name %>" data-id="<%= channel.id %>" data-path="<%= explore_channel_path(channel) %>">
          <div class="channel_shadow_overlay"></div>
          <div class="channel_overlay"></div>
          <h3 class="name"><%= channel.image_header  %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
