<div class="explore-onboarding">
  <div id="exploreOnboardingModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="flickity-explore-oboarding-carousel">
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_1.png" %>
            <% if current_user.is_a?(User) %>
              <h2><%= t('views.explore.onboarding.slide_1.header', name: current_user.first_name.try(:capitalize)) %></h2>
            <% else %>
              <h2><%= t('views.explore.onboarding.slide_1.header', name: "there") %></h2>
            <% end %>
            <p><%= t('views.explore.onboarding.slide_1.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide"><%= t('views.explore.onboarding.next_slide') %></a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_2.png" %>
            <h2><%= t('views.explore.onboarding.slide_2.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_2.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide"><%= t('views.explore.onboarding.next_slide') %></a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_3.png" %>
            <h2><%= t('views.explore.onboarding.slide_3.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_3.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide"><%= t('views.explore.onboarding.next_slide') %></a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_4.png" %>
            <h2><%= t('views.explore.onboarding.slide_4.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_4.body') %></p>
            <br>
            <a href="#" class="button close-onboarding"><%= t('views.explore.onboarding.close') %></a>
          </div>
        </div>
    </div>
  </div>
</div>
