<div class="explore-onboarding">
  <div id="exploreOnboardingModal" class="reveal-modal medium" data-reveal aria-labelledby="exploreOnboardingModal" aria-hidden="true" role="dialog">
    <div class="flickity-explore-oboarding-carousel">
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_1.png" %>
            <% if current_user.is_a?(User) %>
              <h2><%= t('views.explore.onboarding.slide_1.header', name: current_user.first_name.try(:capitalize)) %></h2>
            <% else %>
              <h2><%= t('views.explore.onboarding.slide_1.header_guest') %></h2>
            <% end %>
            <p><%= t('views.explore.onboarding.slide_1.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide" data-slide="1"><%= t('views.explore.onboarding.next_slide') %></a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_2.png" %>
            <h2><%= t('views.explore.onboarding.slide_2.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_2.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide" data-slide="2">Try One Now!</a>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="text-center">
            <h2>Try this simple tile. </h2>
            <p>Airbo support several Tile types including surveys, quizes and event RSVPs.</p>
          </div>
          <div class="onboarding-tile">
            <div class="responsive-tile-wrapper" >
              <%=render partial: "/tiles/responsive_tile"%>
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_1.png" %>

            <div class="check-placeholder">
              <div class="icon icon--order-success svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                  <g fill="none" stroke="#8EC343" stroke-width="2">
                  <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                  <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                  </g>
                </svg>
              </div>
            </div>
            <h2>Congratulations!</h2>
            <p>You've just completed your first Tile.</p>
            <br>
            <a href="#" class="button next-onboarding-slide" data-slide="3"><%= t('views.explore.onboarding.next_slide') %></a>

          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_3.png" %>
            <h2><%= t('views.explore.onboarding.slide_3.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_3.body') %></p>
            <br>
            <a href="#" class="button next-onboarding-slide" data-slide="3"><%= t('views.explore.onboarding.next_slide') %></a>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_4.png" %>
            <h2><%= t('views.explore.onboarding.slide_4.header') %></h2>
            <p><%= t('views.explore.onboarding.slide_4.body') %></p>
            <br>
            <a href="#" class="button close-onboarding" data-slide="4"><%= t('views.explore.onboarding.close') %></a>
          </div>
        </div>
    </div>
  </div>
</div>
<%content_for :head do%>

  <style>
.onboarding-tile{
  background-color:#d9dfe9;
  padding:10px;
  margin:1em auto;
  width:450px;
}


.responsive-tile-wrapper{
}
.responsive-tile-wrapper .tile_multiple_choice_answer a{
  font-style: normal;
  font-weight: bold;
  font-weight: 400;
  color: white;
  display: block;
  font-size: 0.75em !important;
  line-height: 1em;
  padding: 10px;
  white-space: normal;
  text-transform: none;
  width: 100%;
}

.responsive-tile-wrapper .tile_quiz .tile_question.content_sections{
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.0em;
  padding-top: 1.5em;
  padding-bottom: 1em ;
}

.responsive-tile-wrapper .tile_holder .tile_quiz .tile_points_bar{
  height: 35px;
}

.responsive-tile-wrapper .tile_holder .tile_quiz .tile_points_bar .earnable_points{
  padding: 5px 15px;
  height:35px;
}

.responsive-tile-wrapper .tile_holder .tile_quiz .tile_points_bar .earnable_points{
  font-size: 0.35em;
}

  </style>




<style id="jsbin-css">
/* animations */

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

.icon--order-success{
  display:none;
}
.check-placeholder{
  min-height:76px;
}

.inlinesvg .svg svg {
    display: inline
}

.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}
</style>

<%end%>


