<% if feature_tiles ||= feature.get_tiles(Tile.scoped) %>
  <section class="manage_section channel_container" id="<%= feature.name %>" style="background:<%= feature.background_color %>">
    <div class="row">
      <div class="large-12 columns">
        <% if feature.custom_icon_url.present? %>
          <%= image_tag feature.custom_icon_url, class: "recommended-tiles-custom-icon" %>
          <% if show_feature_related_content_link?(feature) %>
            <%= link_to explore_tile_feature_path(feature) do %>
              <h4 class="explore-headers link" style="color:<%= feature.text_color %>; margin-left:0"><%= feature.header_copy || "Recommended Tiles" %></h4>
            <% end %>
          <% else %>
            <h4 class="explore-headers non-link" style="color:<%= feature.text_color %>; margin-left:0"><%= feature.header_copy || "Recommended Tiles" %></h4>
          <% end %>
        <% else %>
          <h4 class="explore-headers non-link" style="color:<%= feature.text_color %>"><%= feature.header_copy || "#{feature.name} Tiles" %></h4>
        <% end %>
        <div id="channel_tiles">
          <div class="tile_wall_explore">
            <%= render partial: 'explore/tiles', locals: { tiles: feature_tiles, section: feature.name } %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
