<div id="tile_wall_explore">
  <%= form_tag search_explore_path, method: :get do%>
    <h4>Search</h5>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag 'Search' %>
  <% end %>

  <% if @my_tiles.present? %>
    <section class="manage_section" id="my_tiles">
      <div class="manage_section explore_tiles_section" id="verified_tiles">
        <div class="row">
          <h4 class="explore-headers non-link">My Tiles</h4>
          <div class="large-12 columns">
            <div id="my-tiles">
              <%= render partial: 'explore/tiles', locals: { tiles: @my_tiles, section: 'Explore' } %>
            </div>

            <%= render partial: 'explore/search_more_link', locals: { tiles: @my_tiles, tiles_type: :my_tiles, q: params[:q] } %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @explore_tiles.present? %>
    <section class="manage_section" id="explore_tiles">
      <div class="manage_section explore_tiles_section" id="verified_tiles">
        <div class="row">
          <h4 class="explore-headers non-link">Explore Tiles</h4>
          <div class="large-12 columns">
            <div id="explore-tiles">
              <%= render partial: 'explore/tiles', locals: { tiles: @explore_tiles, section: 'Explore' } %>
            </div>

            <%= render partial: 'explore/search_more_link', locals: { tiles: @explore_tiles, tiles_type: :explore_tiles, q: params[:q] } %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @campaigns.present? %>
    <section class="manage_section" id="campaign_boards">
      <%= render partial: 'explore/campaigns', locals: { campaigns: @campaigns, header: 'Airbo Campaigns' } %>
    </section>
  <% end %>

  <% if @organizations.present? %>
    <section class="manage_section" id="organization_boards">
      <%= render partial: 'explore/organizations', locals: { organizations: @organizations, header: 'Organizations' } %>
    </section>
  <% end %>
</div>
