<%= form_for [:client_admin, user], html: {class: "user-profile custom", id: "single-form"} do |form| %>
  <%= form.text_field "name", placeholder: "First and Last Name" %>
  <%= form.text_field "email", placeholder: "Email" %>
  <div class="select-section">
    <%= form.label "role" %>
    <%= render 'role_select', form: form, demo: demo %>
  </div>
  <%= submit_tag "Add User", id: "add-user" %>
<% end %>
