<div id="loaded-user-data" class="section">
  <ul class="info-cols">
    <li>
      <label for="user_name">Name</label>
      <%= form.text_field "name", placeholder: "First and last (required)", :autofocus=>true %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "email" %><%= form.text_field "email", placeholder: "name@example.com" %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "phone_number" %><%= form.text_field "phone_number", value: user.phone_number.as_pretty_phone %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "role_id", "Role" %>
      <%= render 'role_select', form: form, demo: demo %>
    </li>
  </ul>
</div>
