<div id="loaded-user-data" class="section">
  <ul class="info-cols">
    <li><label for="user_name">Name</label><%= form.text_field "name", placeholder: "First and last (required)", :autofocus=>true %></li>
  </ul>
  <ul class="info-cols">
    <li><%= form.label "email" %><%= form.text_field "email", placeholder: "name@example.com" %></li>
  </ul>
  <ul class="info-cols extra-user-info">
    <li><%= form.label "zip_code" %><%= form.text_field "zip_code", placeholder: "#####" %></li>
    <li><label>Birthday</label><div id="birthday-selects">
        <%= form.date_select :date_of_birth, {order: [:month, :day, :year], start_year: 1920, end_year: Date.today.year - 18, prompt: true}, {class: 'no-custom'} %>
      </div>
    </li>
    <li><%= form.label :gender %><%= form.select :gender, User::GENDERS.select(&:present?), {include_blank: true}, {class: 'no-custom'} %></li>
  </ul>
  <ul class="info-cols extra-user-info">
    <% if show_phone_number %>
      <li><%= form.label "phone_number" %><%= form.text_field "phone_number", value: user.phone_number.as_pretty_phone %></li>
    <% end %>
    <li><%= form.label "employee_id", "Employee ID" %><%= form.text_field "employee_id" %></li>
    <li><%= form.label "location_id" %><%= render 'location_select', locations: @locations, selected_location_id: user.current_location_in_board(current_user.demo).try(:id) %>
      <div id="adding_location"><%= image_tag "spinner.gif", alt: "Working..." %></div>
    </li>
    <% if show_role %>
    <li>
      <%= form.label "role_id", "Role" %>
      <%= form.select(:role, options_for_select(User::ROLES, form.object.role), {}, {class: 'small user-role-select'})%>      
    </li>
    <% end %>
  </ul>
</div>

<% content_for :lightbox do %>
  <div id="new_location_lightbox">
    <form>
      <%= label_tag "location_name", "New location name" %> 
      <%= text_field_tag "location_name" %>
      <div class="button_wrap"><%= submit_tag "Save new location" %></div>
    </form>
  </div>
<% end %>

<%= javascript_include_tag "jquery.lightbox_me" %>
<%= javascript_include_tag "client_admin/add_new_location" %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    bindShowNewLocationLightbox('select#user_location_id', 'Add new...', '#new_location_lightbox', '<%= client_admin_locations_path %>');
  <% end %>
<% end %>
