<div id="loaded-user-data" class="section">
  <ul class="info-cols">
    <li>
      <label for="user_name">Name</label>
      <%= form.text_field "name", placeholder: "First and last (required)", :autofocus=>true %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "email" %><%= form.text_field "email", placeholder: "name@example.com" %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "phone_number" %><%= form.text_field "phone_number", value: user.phone_number.as_pretty_phone %>
    </li>
  </ul>
  <ul class="info-cols">
    <li>
      <%= form.label "role_id", "Role" %>
      <%= render 'role_select', form: form, demo: demo %>
    </li>
  </ul>

  <% if current_user.is_site_admin %>
    <label>Population Segments</label>
    <% current_board.population_segments.each do |segment| %>
      <div class="d-block mb-1">
        <%= check_box_tag "user[population_segment_ids][]", segment.id, form.object.population_segments.include?(segment) %>
        <%= segment.name %>
      </div>
    <% end %>
  <% end %>
</div>
