<%= form_for [:client_admin, user], html: {class: "user-profile custom", id: "single-form"} do |f| %>
  <div class="large-9 columns">
    <div id="user_details">
      <%= render 'basic_form_fields_for_edit', form: f, demo: demo, user: user, show_role: false %>

      <ul id="confirm-add-user">
        <li id="add-user-button">
          <%= submit_tag "Save edits", class: "button" %>
        </li>

        <%= link_to "Delete user",
          client_admin_user_path(user),
           confirm: "Deleting users is irrevocable. There is no undo. All the history we have on this user (activities, connections, everything) will be gone forever if you push this button.", method: :delete ,
           id: "delete-user"
        %>
      </ul>
    </div>
  </div>
  <div class="large-2 columns" id="about-this-account">
    <%= render 'edit_specific_form_fields', user: user, demo: demo, form: f %>
  </div>
<% end %>
