<div class="row" id="total_user_count_row">
  <div class="large-12 columns">
    <h3>Activated users</h3>
    <h1 id="user_count"><%= @total_user_count %></h1>
  </div>
</div>

<div class="row" id="find_users_row">
  <div class="large-12 columns">
    <div id="find-users">
      <%= label_tag "name-search", "Find" %>
      <div class="find-tools">
        <div id="name-search">
          <%= text_field_tag 'name-substring', nil, placeholder: "Enter first or last name" %>
          <div id="name-autocomplete-target"></div>
        </div>
        <%= link_to "Show everyone", client_admin_users_path(show_everyone: true), id: "show-everyone", class: "link" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="add-single-user">
      <%= label_tag "user_name", "Add" %>
      <%= render 'add_form', demo: @demo, user: @user %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.clear-form').click(function(event) {
      event.preventDefault();
      $('#single-form input[type=reset]').click();
    });

    $('a.invite-user').click(function(event) {
      event.preventDefault();
      var postURL = $(this).attr('href');
      $('#inviting-message').show();
      $.post(postURL, function() {
        $('#inviting-message').hide();
        $('a.invite-user').remove();
      });
    });
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    bindUserNameSearchAutocomplete('#name-substring', '#name-autocomplete-target', '<%= client_admin_users_path %>');
  <% end %>
<% end %>
