<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/client_admin/users">Manage Users</a></li>
      <li><span>All users</span></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p>Showing results for <span><%= @result_description %></span>:</p>

    <table id="search-results-table">
      <tr id="search-labels">
        <th class="results-name">Name</th>
        <th class="results-email">Email</th>
        <th class="results-location">Location</th>
        <th class="results-joined">Joined?</th>
        <th class="results-send-invite">Invite</th>
      </tr>
      <% @users.each do |user| %>
        <tr class="found-user">
          <td class="results-name"><%= link_to user.name, edit_client_admin_user_path(user), class: 'edit-user' %></td>
          <td class="results-email"><%= user.email %></td>
          <td class="results-location"><%= user.current_location_in_board(current_user.demo).try(:name) %></td>
          <td class="results-joined">
            <% if user.claimed? %>
              <span class="joined">Yes</span>
            <% else %>
              <span class="not-joined">No</span>
            <% end %>
          </td>
          <td class="results-send-invite">
            <% if user.invitable? %>
              <%= link_to "Send", client_admin_user_invitation_path(user), method: :post, class: 'send-invite' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if @show_previous_link %>
      <%= link_to "Previous page", @previous_page_url, id: "previous-page-link" %>
    <% end %>
    <% if @show_next_link %>
      <%= link_to "Next page", @next_page_url, id: "next-page-link" %>
    <% end %>
  </div>
</div>
