<%= render "shared/flashes" %>

<h1 class="page-title" id="title">Manage users</h1>
<div id="add-single-user" class="section">
  <h1 class="headline">Add user</h1>
  <%= render 'add_form', user: @user, visible_characteristics: @visible_characteristics %>
</div>

<div id="find-users" class="section">
  <h1 class="headline">Find user</h1>
  <div id="name-search">
    <%= text_field_tag 'name-substring', nil, placeholder: "First or last name" %>
    <div id="name-autocomplete-target"></div>
  </div>
  <%= link_to "Show everyone", client_admin_users_path(show_everyone: true), id: "show-everyone" %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.clear-form').click(function(event) {
      event.preventDefault();
      $('#single-form input[type=reset]').click();
    });

    $('a.invite-user').click(function(event) {
      event.preventDefault();
      var postURL = $(this).attr('href');
      $('#inviting-message').show();
      $.post(postURL, function() { 
        $('#inviting-message').hide();
        $('#user_invitation').replaceWith(", and you've sent them an invitation email.");
      });
    });
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    bindUserNameSearchAutocomplete('#name-substring', '#name-autocomplete-target', '<%= client_admin_users_path %>');
  <% end %>
<% end %>
