<%= render "shared/flashes" %>

<h1 class="page-title" id="title">Manage users</h1>

<div id="find-users" class="section">
  <h1 class="headline">Find users</h1>
  <div id="name-search">
    <h2 class="subhead">Search for a specific user:</h2>
    <%= text_field_tag 'name-substring', nil, placeholder: "First or last name" %>
    <div id="name-autocomplete-target"></div>
  </div>
  <%= form_tag client_admin_users_path, method: :get, id: 'letter-search' do %>
    <h2 class="subhead">List of users by first name:</h2>
    <%= select_tag :begins_with, options_for_select('A'..'Z'), prompt: 'Select a letter'  %>
    <div class="button_wrap"><input type="submit" value="Find"></div>
  <% end %>
  <%= link_to "Show everyone", client_admin_users_path(show_everyone: true), id: "show-everyone" %>
</div>

<div id="bulk-load" class="section">
  <h1 class="headline">Add or edit multiple users</h1>
  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>
  <div class="button_wrap"><a href="#">Send us a file</a></div>
</div>

<div id="add-single-user" class="section">
  <h2 class="form_title">Add single user</h2>
  <%= render 'add_form', user: @user, visible_characteristics: @visible_characteristics %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.clear-form').click(function(event) {
      event.preventDefault();
      $('#single-form input[type=reset]').click();
    });
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    bindUserNameSearchAutocomplete('#name-substring', '#name-autocomplete-target', '<%= client_admin_users_path %>');
  <% end %>
<% end %>
