<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title" id="title">Manage users</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div id="add-single-user" class="section">
      <h2 class="form_title">Add user</h2>
      <%= render 'add_form', user: @user, visible_characteristics: @visible_characteristics %>
    </div>
  </div>
  <div class="large-4 columns">
    <div id="find-users" class="section">
      <h2 class="form_title">Find user</h2>
      <div id="name-search">
        <%= text_field_tag 'name-substring', nil, placeholder: "Enter first or last name" %>
        <div id="name-autocomplete-target"></div>
      </div>
      <span>or</span>
      <%= link_to "Show everyone", client_admin_users_path(show_everyone: true), id: "show-everyone" %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.clear-form').click(function(event) {
      event.preventDefault();
      $('#single-form input[type=reset]').click();
    });

    $('a.invite-user').click(function(event) {
      event.preventDefault();
      var postURL = $(this).attr('href');
      $('#inviting-message').show();
      $.post(postURL, function() { 
        $('#inviting-message').hide();
        $('a.invite-user').remove();
      });
    });
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    bindUserNameSearchAutocomplete('#name-substring', '#name-autocomplete-target', '<%= client_admin_users_path %>');
  <% end %>
<% end %>
