<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Airbo</title>
    <%= stylesheet_link_tag "app-admin" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'app-admin' %>

    <%= csrf_meta_tag %>
    <%= mobvious_javascript %>
  </head>
  <body class="<%= body_class %>">

    <%= render 'shared/admin/header' %>
    <div id="admin-layout-wrapper" class="toggled">
      <%= render 'shared/admin/admin_sidebar' %>
      <%= render 'shared/admin_flashes' %>
      <%#=render "admin/site_admin_nav"%>
      <%= render 'shared/offcanvas_menu_signedin' %>
        <%= yield %>

      <%= render :partial => 'shared/modals/modals' %>
    </div>
    <%= render :partial => 'shared/javascript' %>
  </body>
</html>
