<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag "application-base" %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>


	<!--[if IE 8]>
		<%= stylesheet_link_tag 'application-ie8' %>
	<![endif]-->
	<!--[if IE 7]>
		<%= stylesheet_link_tag 'application-ie7' %>
	<![endif]-->
	

  <%= render 'shared/skin_styles' %>

  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div class="hidden">
    <%= render 'shared/assistly_widget' %>
  </div>

  <%= render :partial => 'shared/header' %>
  <%= render :partial => 'shared/flashes' %>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
		Copyright © 2012 H Engage, Inc.
  </div>

  <%= render 'shared/mixpanel' %>
  
  <% if @highlighted %>
    <%= render 'shared/site_tutorial' %>
    <div class="overlaying" ></div>
    <% if @flash_margin_left %><!-- Make the error flash visible alongside the talking chicken -->
      <%= content_for :javascript do %>
        <%= javascript_tag do %>
          $(function() {
            $("#flash_failure").css('margin-left', '<%= @flash_margin_left %>');
            $("#flash_failure").css('z-index', '20');
            $("#flash_failure").css('position', 'relative');
          });
        <% end %>
      <% end %>
    <% end%>
  <% end %>
  <% unless Rails.env.test? %>
    <%= render 'shared/tooltips' %>
  <% end %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
</body>
</html>
