<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag "app-internal" %>
  <%= javascript_include_tag 'app-internal' %>
  <%= javascript_include_tag asset_path('ga.js') if ENV['USE_GA'] %>

	<!--[if IE 8]>
		<%= stylesheet_link_tag 'application-ie8' %>
	<![endif]-->
	
  <%= render 'shared/skin_styles' %>

  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div class="flash-preload">
    <%= image_tag 'v3/flash/flash-bc-failure.png' %>
    <%= image_tag 'v3/flash/flash-bc-success.png' %>
    <%= image_tag 'v3/flash/flash-bl-failure.png' %>
    <%= image_tag 'v3/flash/flash-bl-success.png' %>
    <%= image_tag 'v3/flash/flash-br-failure.png' %>
    <%= image_tag 'v3/flash/flash-br-success.png' %>
    <%= image_tag 'v3/flash/flash-fail.png' %>
    <%= image_tag 'v3/flash/flash-success.png' %>
    <%= image_tag 'v3/flash/flash-l-failure.png' %>
    <%= image_tag 'v3/flash/flash-l-success.png' %>
    <%= image_tag 'v3/flash/flash-r-failure.png' %>
    <%= image_tag 'v3/flash/flash-r-success.png' %>
    <%= image_tag 'v3/flash/flash-tc-failure.png' %>
    <%= image_tag 'v3/flash/flash-tc-success.png' %>
    <%= image_tag 'v3/flash/flash-tl-failure.png' %>
    <%= image_tag 'v3/flash/flash-tl-success.png' %>
    <%= image_tag 'v3/flash/flash-tr-failure.png' %>
    <%= image_tag 'v3/flash/flash-tr-success.png' %>
  </div>

  <%#= render 'shared/unsupported_browser' if @old_browser %>
  <%= render 'shared/header', :show_play_box => true %>
  <%= render 'shared/flashes' %>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
		Copyright © 2013 H.Engage, Inc.
  </div>

  <%= render 'shared/mixpanel' unless @is_admin_page %>
  <%= render 'shared/intercom' %>
  
  <% if @tutorial_step.try(:highlighted) %>
    <%= render 'shared/site_tutorial' %>
    <div class="overlaying" ></div>
    <% if @tutorial_step.flash_margin_left %><!-- Make the error flash visible alongside the talking chicken -->
      <%= content_for :javascript do %>
        <%= javascript_tag do %>
          $(function() {
            $("#flash_failure").css('margin-left', '<%= @tutorial_step.flash_margin_left %>');
            $("#flash_failure").css('z-index', '20');
            $("#flash_failure").css('position', 'relative');
            $("#slideshow").css('z-index', '20');
          });
        <% end %>
      <% end %>
    <% end%>
  <% end %>
  <% unless Rails.env.test? %>
    <%= render 'shared/tooltips' %>
  <% end %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
  <div id='preload_tooltip_images' style='display: none; visibility: hidden;'>
    <%= image_tag 'tooltip/top_flat.png' %>
    <%= image_tag 'tooltip/top_arrow.png' %>
    <%= image_tag 'tooltip/middle.png' %>
    <%= image_tag 'tooltip/bottom_arrow.png' %>
    <%= image_tag 'tooltip/bottom_flat.png' %>
  </div>
</body>
</html>
