<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag :flutie %>
  <%= stylesheet_link_tag 'screen'  %>
  <%= stylesheet_link_tag 'autocompletion' %>
  <%= stylesheet_link_tag 'site_tutorial' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'scoreboard' %>
  
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>


	<!--[if IE]>
	    <%= stylesheet_link_tag 'screen_IE' %>
	<![endif]-->
	<!--[if IE 8]>
		<%= stylesheet_link_tag 'screen_IE8' %>
	<![endif]-->
	<!--[if IE 7]>
		<%= stylesheet_link_tag 'screen_IE7' %>
	<![endif]-->
	

  <%= render 'shared/skin_styles' %>
  <%= stylesheet_link_tag 'facebox' %>

  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' %>
</head>
<body class="<%= body_class %>">
  <%= javascript_include_tag 'jquery' %> <%# must appear before header, with its Assistly widget %>
  <%= javascript_include_tag 'facebox'%>
  <%= javascript_include_tag 'jquery.tools.min'%>

  <%= render :partial => 'shared/header' %>
  <%= render :partial => 'shared/flashes' %>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
		Copyright © 2012 H Engage, Inc.
  </div>
  <% if @highlighted || @show_introduction %>
    <%= javascript_include_tag 'site_tutorial' %>
  <% end %>
  
  <% if @highlighted %>
    <%= render 'shared/site_tutorial' %>
    <div class="overlaying" ></div>
    <% if @flash_margin_left %><!-- Make the error flash visible alongside the talking chicken -->
      <%= content_for :javascript do %>
        <%= javascript_tag do %>
          $(function() {
            $("#flash_failure").css('margin-left', '<%= @flash_margin_left %>');
            $("#flash_failure").css('z-index', '20');
            $("#flash_failure").css('position', 'relative');
          });
        <% end %>
      <% end %>
    <% end%>
  <% end %>
  <% unless Rails.env.test? %>
    <%= render 'shared/tooltips' %>
    <%= stylesheet_link_tag 'tooltips' %>
  <% end %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
</body>
</html>
