<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag 'http://font.thoughtbot.com/chunk.css', :flutie %>
  <%= stylesheet_link_tag (@new_appearance ? 'new_activity_page' : 'screen' ) %>
  <% if @new_appearance %>
    <!--[if IE 7]>
      <%= stylesheet_link_tag 'new_ie7hacks' %>
    <![endif]-->
    <!--[if IE 8]>
      <%= stylesheet_link_tag 'new_ie8hacks' %>
    <![endif]-->
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <%= render :partial => (@new_appearance ? 'shared/new_header' : 'shared/header') %>
  <%= render :partial => 'shared/flashes' unless @new_appearance -%>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
  <%= render :partial => 'shared/javascript' %>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
</body>
</html>
