<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag 'http://font.thoughtbot.com/chunk.css', :flutie, 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <%= render :partial => 'shared/header' %>
  <%= render :partial => 'shared/flashes' -%>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
  <%= render :partial => 'shared/javascript' %>
</body>
</html>
