<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= content_for :meta %>
  <title>Airbo</title>
  <%= split_stylesheet_link_tag "app-internal", :media => "all", :split_count => 4 %>
  <%= stylesheet_link_tag "app-user-progress" %>
  <%= javascript_include_tag "https://api.intercom.io/api/js/library.js" %>
  <%= javascript_include_tag 'for-modern-browsers' unless browser.ie8? %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'app-internal' %>
  <%= javascript_include_tag 'file-uploader' unless browser.ie8? %>
  <%= javascript_include_tag asset_path('ga.js') if ENV['USE_GA'] %>

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style type="text/css">.gradient {filter: none;}</style>
    <%= stylesheet_link_tag 'vendor/ie8-grid12-foundation-4.css' %>
    <%= stylesheet_link_tag 'internal/internal_ie8' %>
  <![endif]-->

  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' unless @is_admin_page %>
  <%= mobvious_javascript %>
  <%= render 'shared/nerf_animations_in_test' %>
  <%= render "shared/custom_palette"  if @palette && @palette.enabled?%>

</head>
<body class="<%= body_class %>" style="-webkit-overflow-scrolling: touch; overflow:visible;"><%# only works with inline style? WTF. but leave it: this fixes scroll problems in ios7 and doesn't seem to work if included via stylesheet. %>

  <%= render 'shared/header', :show_play_box => true %>
  <div id='js-flashes'><%= render 'shared/flashes' %> </div>
  <%= render 'shared/offcanvas_menu_signedin' %>


  <main class="main">
    <%= render partial: 'shared/tiles_tools_subnav/tiles_tools_subnav' %>
    <div class="core">
      <div class="content">

               <%= yield %>
      </div>
      <div id="footer">
        Copyright © 2013 H.Engage, Inc.
      </div>
    </div>
  </main>

  <%= render :partial => 'shared/modals/modals' %>
  <%= render 'shared/intercom' %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->

  <div id='gradient-triangle'></div>
  <%= javascript_include_tag 'rem.min.js' %>
</body>
</html>
