<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag :flutie %>
  <%= stylesheet_link_tag (@new_appearance ? 'new_activity_page' : 'screen' ) %>

	<!--[if IE]>
	    <%= stylesheet_link_tag 'screen_IE' %>
	<![endif]-->
	<!--[if IE 7]>
		<%= stylesheet_link_tag 'screen_IE7' %>
	<![endif]-->
	<!--[if IE 8]>
		<%= stylesheet_link_tag 'screen_IE8' %>
	<![endif]-->

  <%= render 'shared/skin_styles' %>
  <link rel="stylesheet" type='text/css' href='https://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css'/>
  <%= stylesheet_link_tag 'barometer_tweaks' %>
  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' %>
</head>
<body class="<%= body_class %>">
  <%= javascript_include_tag 'jquery' %> <%# must appear before header, with its Assistly widget %>

  <%= render :partial => (@new_appearance ? 'shared/new_header' : 'shared/header') %>
  <%= render :partial => 'shared/flashes' unless @new_appearance -%>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
  <%= render :partial => 'shared/javascript' %>
  <script src='https://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
  <script type="text/javascript" charset="utf-8">
    BAROMETER.load('yz1dR2sryb77QAfHhyz7D');
  </script>
</body>
</html>
