<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag :flutie %>
  <%= stylesheet_link_tag (@new_appearance ? 'new_activity_page' : 'screen' ) %>
  <% if @new_appearance %>
    <!--[if IE 7]>
      <%= stylesheet_link_tag 'new_ie7hacks' %>
    <![endif]-->
    <!--[if IE 8]>
      <%= stylesheet_link_tag 'new_ie8hacks' %>
    <![endif]-->
    <%= render 'shared/skin_styles' %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' %>
  <% flash.select{|k,v| k.to_s =~ /^mp_track/}.each do |k, v| %>
    <% event, properties = v %>
    <%= mp_track event, properties %>
  <% end %>
</head>
<body class="<%= body_class %>">
  <%= render :partial => (@new_appearance ? 'shared/new_header' : 'shared/header') %>
  <%= render :partial => 'shared/flashes' unless @new_appearance -%>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
  <%= render :partial => 'shared/javascript' %>
</body>
</html>
