<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= content_for :meta %>
  <title>Airbo</title>

  <%= csrf_meta_tag %>

  <%= split_stylesheet_link_tag "app-client-admin", :media => "all", :split_count => 3 %>
  <!--[if lte IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style type="text/css">.gradient {filter: none;}</style>
    <%#TODO Remove /ie8-grid12-foundation-4.css' and client_admin_ie8 since we are not supporting ie < 10 for CAs %>
    <%= stylesheet_link_tag 'vendor/ie8-grid12-foundation-4.css' %>
    <%= stylesheet_link_tag 'client_admin/client_admin_ie8' %>
  <![endif]-->


  <%= javascript_include_tag "https://api.intercom.io/api/js/library.js" %>
  <%= javascript_include_tag 'for-modern-browsers' unless browser.ie8? %>
  <%= javascript_include_tag 'app-admin' %>
  <%= javascript_include_tag 'app-client-admin' %>
  <%= mobvious_javascript %>
  <%= render 'shared/nerf_animations_in_test' %>
  <%= render partial: '/shared/mixpanel' %>
  <%= render 'shared/inspectlet' %>
  <%=content_for :head%>
</head>
<body class="<%= body_class %> client_admin_main" style="-webkit-overflow-scrolling: touch; overflow:visible; ">
  <%= render 'shared/header' %>
  <%= render 'shared/flashes' %>
  <%= render 'shared/offcanvas_menu_signedin' %>
  <main class="main">
    <%= render partial: 'shared/tiles_tools_subnav/tiles_tools_subnav' %>
    <div class="core">
      <div class="content">
        <%= yield %>
      </div>
      <div id="footer">
        <%= render 'shared/copyright' %>
      </div>
    </div>
  </main>

  </div>

  <%= render 'shared/intercom' %>

  <%= yield :lightbox %>
  <%= render partial: "shared/tiles/form/embed_video_modal" %>
  <%= render :partial => 'shared/modals/modals' %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
  <%= javascript_include_tag 'rem.min.js' %>
</body>
</html>
