<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag "app-client-admin" %>
  <%= javascript_include_tag 'app-admin' %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %> client_admin_main">
  <div class="header">
    <%= render 'shared/nav' %>
  </div>

  <!-- < %= render 'shared/clinet_admin_nav' %> -->
  <div class="content">
    <div class="col-container">
    <div id="far-left"></div> <!-- extends light bg -->
    <div id="col-main">
        <div id="left-nav" class="equal">
            <ul id="admin-nav">
                <li id="admin-overview" class="admin-nav-section"><span></span><a href="/client_admin">Overview</a></li>
                <li id="admin-analytics" class="admin-nav-section"><span></span><a href="/client_admin/segmentation">Analytics</a></li>
                <li id="admin-message" class="admin-nav-section">
                    <span></span><a>Message</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
                <li id="admin-users" class="admin-nav-section">
                    <span></span><a>Users</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
                <li id="admin-post" class="admin-nav-section">
                    <span></span><a>Post</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div id="right-content" class="equal">
            <div class="wrap">
              <%= yield %>
            </div>
        </div>
    </div>
    <div id="far-right"></div>
</div>

  </div>
  
  <div id="footer">
      Copyright © 2012 H Engage, Inc.
    </div>

  <%= render 'shared/intercom' %>

  <%# Copied this from app/assets/javascripts/internal/jumbled_mix_of_things.js,
    since I have no idea if it's safe to pull it out and put it in contact_us.js.coffee. %>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $('.nav-contact-us').click(function(e){
        e.preventDefault();
        $('#IntercomDefaultWidget').click(); 
      });
    <% end %>
  <% end %>

  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
</body>
</html>
