<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H.Engage</title>
  <%= stylesheet_link_tag "app-client-admin" %>
  <%= javascript_include_tag 'app-admin' %>
  <%= javascript_include_tag 'app-client-admin' %>

  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %> client_admin_main">
  <i id="blue" class="colorbar"></i>
  <i id="orange" class="colorbar"></i>
  
  <div class="header">
    <%= render 'shared/nav' %>
  </div>

  <!-- < %= render 'shared/clinet_admin_nav' %> -->
  <div class="content">
    <div class="col-container">
      <nav id="left-nav" class="equal">
        <ul id="admin-nav">
          <li id="admin-apphome" class="admin-nav-section"><a href="/">Employee view</a></li>
          <li id="admin-overview" class="admin-nav-section"><a href="/client_admin">Stats</a></li>
          <li id="admin-model" class="admin-nav-section"><a href="/client_admin/segmentation">Model</a></li>
          <li id="admin-users" class="admin-nav-section"><a href="/client_admin/users">Users</a></li>
          <li id="admin-tiles" class="admin-nav-section">
            <h2>Tiles</h2>
            <ul>
              <li id="admin-tiles-manager"><%= link_to 'Manager', client_admin_tiles_path %></li>
              <li id="admin-tiles-builder"><a href="/client_admin/tiles/new">Create new</a></li>
              <li id="admin-tiles-report"><%= link_to 'Reports', client_admin_tiles_reports_path %></li>
            </ul>
          </li>
          <li id="admin-payments" class="admin-nav-section"><span></span><%= link_to "Payments", client_admin_payments_path %></li>
          <li id="admin-help" class="admin-nav-section"><span></span><%= link_to "Help pages", DeskSSO.new(current_user).url, target: "_blank" %></li>
        </ul>
        <div class="clear"></div>
      </nav>

      <div id="right-content" class="equal">
        <div class="wrap">
          <%= yield %>
        </div>
      </div>
  </div>

  </div>
  
  <div id="footer">
      Copyright © 2013 H.Engage, Inc.
  </div>

  <%= render 'shared/intercom' %>

  <%= render 'shared/tooltips_client_admin' unless Rails.env.test? %>

  <%# Copied this from app/assets/javascripts/internal/jumbled_mix_of_things.js,
    since I have no idea if it's safe to pull it out and put it in contact_us.js.coffee. %>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $('.nav-contact-us').click(function(e){
        e.preventDefault();
        $('#IntercomDefaultWidget').click(); 
      });
    <% end %>
  <% end %>

  <%= yield :lightbox %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->
  <div id='gradient-triangle'></div>
</body>
</html>
