<!DOCTYPE html><html>
<head>
<title>H Engage </title>
  <%= stylesheet_link_tag "styles" %>
	<!--[if IE]><%= stylesheet_link_tag "stylesIE" %><![endif]-->
  <%= render 'shared/skin_styles' %>
  <link rel="stylesheet" type='text/css' href='https://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css'/>
  <%= stylesheet_link_tag 'barometer_tweaks' %>
  <%= stylesheet_link_tag 'autocompletion' %>
  <%= stylesheet_link_tag 'facebox' %>

  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' %>
</head>
<body class="<%= body_class %> external">
  <%= javascript_include_tag 'jquery' %> <%# must appear before header, with its Assistly widget %>
	<div class="container">
		<div class="top">
			<div class="header">
				<div class="app_bar">
					<div class="app_by"><p>Brought to you by <a href="http://www.hengage.com" title="H Engage">H Engage</a></p></div>
				</div>
				
				<div id="logo">
		    <a href="/"><%= image_tag "v3/logo-new.png", :alt => "H Engage tree" %></a>
				</div>
				<div id="navigation">
					<ul>
		      <!-- TODO: Fix current link -->
		      <li><%= link_to "Home", "/", :class => "nav-links nav-home" %></li>
		      <li><%= link_to "Sign Up", new_invitation_path, :class => "nav-links nav-signup" %></li>
		      <li><%= link_to "Log In", sign_in_path, :class => "nav-links nav-login", :id => "activate-login-form" %></li>
					</ul>
				</div>
				<div class="cf"></div>
			</div>
		</div>
		<div class="content">
		    <% status_content = yield :status %>
		    <% status_content = flash[:failure] unless status_content.present? %>
		    
			<div class="inv-forms">
				<% if status_content.present? %>
				  <div class="status">
					<div class="status-message">
					    <%= status_content %>
					</div>
				  </div>
				<% end %>
			  	<%= yield %>
			</div>
		</div>
		<div class="footer">
			<p>Copyright © 2012 H Engage, Inc.</p>
		</div>
	</div>
  <%= render :partial => 'shared/javascript' %>
  <script src='https://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
  <script type="text/javascript" charset="utf-8">
    BAROMETER.load('yz1dR2sryb77QAfHhyz7D');
  </script>
</body>
</html>
