<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= content_for :meta %>
    <%= render "shared/opengraph_meta_tags_marketing" %>
    <%= stylesheet_link_tag 'app-external' %>
    <%= javascript_include_tag 'application' %>

    <%= render 'shared/mixpanel' %>
    <%= render 'shared/integrations/full_story' %>

    <%= mobvious_javascript %>
    <%= render 'shared/nerf_animations_in_test' %>
    <%= content_for :head %>
  </head>
  <body class="<%= body_class %> external">

    <%= render "pages/header" %>
    <div class="wrapper">
      <%= render "shared/flashes" %>
      <div id="status"><%= yield :status %></div>
      <%= yield %>
    </div>

    <div class="modals"></div>
    <%= yield :javascript %>
  </body>
</html>
