<!DOCTYPE html><html>
<head>
<title>H Engage </title>
  <%= stylesheet_link_tag "application-base" %>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/skin_styles' %>

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>


	<!--[if IE 8]>
		<%= stylesheet_link_tag 'application-ie8' %>
	<![endif]-->
	<!--[if IE 7]>
		<%= stylesheet_link_tag 'application-ie7' %>
	<![endif]-->

  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %> external">
	<div class="container">
		<div class="top">
			<div class="header">
				<div id="logo">
		    		<a href="/"><%= image_tag "v4/logo.png", :alt => "H Engage" %></a>
				</div>
				<div id="navigation">
					<ul>
				      <!-- TODO: Fix current link -->
				      <li><%= link_to "Home", "/", :class => "nav-links nav-home" %></li>
				      <li><%= link_to "Sign Up", new_invitation_path, :class => "nav-links nav-signup" %></li>
				      <li><%= link_to "Log In", sign_in_path, :class => "nav-links nav-login", :id => "activate-login-form" %></li>
					</ul>
				</div>
				<div class="cf"></div>
			</div>
		</div>
		<div class="content">
		  <% status_content = yield :status %>
		  <% status_content = joined_flashes unless status_content.present? %>
		    
			<div class="inv-forms">
				<% if status_content.present? %>
				  <div class="status">
					<div class="status-message">
					    <%= status_content %>
					</div>
				  </div>
				<% end %>
			  	<%= yield %>
			</div>
		</div>
		<div class="footer">
			<p>Copyright © 2012 H Engage, Inc.</p>
		</div>
	</div>
	<script type="text/javascript">
	$('[placeholder]').focus(function() {
	  var input = $(this);
	  if (input.val() == input.attr('placeholder')) {
	    input.val('');
	    input.removeClass('placeholder');
	  }
	}).blur(function() {
	  var input = $(this);
	  if (input.val() == '' || input.val() == input.attr('placeholder')) {
	    input.addClass('placeholder');
	    input.val(input.attr('placeholder'));
	  }
	}).blur().parents('form').submit(function() {
	  $(this).find('[placeholder]').each(function() {
	    var input = $(this);
	    if (input.val() == input.attr('placeholder')) {
	      input.val('');
	    }
	  });
	});
	</script>
	<%= render :partial => 'shared/javascript' %>
  <%= render 'shared/mixpanel' %>
</body>
</html>
