<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= render "shared/opengraph_meta_tags_marketing" %>

    <%= mobvious_javascript %>
    <%= javascript_include_tag 'app-marketing-site' %>
    <%= stylesheet_link_tag 'app-marketing-site' %>

    <%= render 'shared/mixpanel' %>
    <%= render 'shared/integrations/full_story' %>

    <%= javascript_include_tag asset_path('ga.js') if ENV['USE_GA'] %>

    <%= content_for :head %>
  </head>
  <body class="airbo-marketing-site" style="-webkit-overflow-scrolling: touch; overflow:visible;">
    <%= render partial: "pages/partials/marketing_site_header" %>
    <%= yield %>
    <%= render partial: "pages/partials/marketing_site_footer" %>
    <%= yield :javascript %>
  </body>
</html>
