<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag :flutie, 'screen', 'new-marketing' %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'ie7hacks' %>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag 'ie8hacks' %>
  <![endif]-->

  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %> new-marketing">

  <div id="header">
    <div id="header-contents">
      <%= form_tag session_path, :id => 'login-form' do %>
        <span id="login-prompt">Login</span>
        <%= text_field_tag "session[username]", 'username', :class => 'with-placeholder' %>
        <%= password_field_tag "session[password]", 'password', :class => 'with-placeholder' %>
        <%= submit_tag 'log in' %>
      <% end %>

      <%= image_tag 'new_marketing/b_tealtop_01.png', :id => 'subscriber-arrow' %>

    </div>
    &nbsp;
  </div>

  <div id="wrapper">
    <div id="main-content">
      <%= yield %>
    </div>
  </div>

  <div id="page-footer">
    Copyright &copy; 2011 H Engage, Inc.
  </div>

  <%= javascript_include_tag 'ga-marketing' %>

  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      function removePlaceholder(event) {
        var field = $(event.target);
        $(field).removeClass('with-placeholder');
        $(field).val('');
      };

      $(document).ready(function() {
        $('.with-placeholder').focus(removePlaceholder)
      });
    <% end %>
  <% end %>

  <%= yield :javascript %>
</body>
</html>
