<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag :flutie %>
  <%= stylesheet_link_tag 'screen' %>

  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' %>
</head>
<body class="<%= body_class %>">
  <%= javascript_include_tag 'jquery' %> <%# must appear before header, with its Assistly widget %>

  <%= render :partial => 'shared/header' %>
  <%= render :partial => 'shared/flashes' -%>
  <div class="content">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
  <%= render :partial => 'shared/javascript' %>
</body>
</html>
