<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>H Engage</title>
  <%= stylesheet_link_tag 'application-base' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
  <%= render :partial => 'shared/mixpanel' %>
</head>
<body class="<%= body_class %> marketing">

  <div id="header">
    <div id="header-contents">
      <%= form_tag new_session_path, :method => :get, :id => 'activate-login-form' do %>
        <%= image_submit_tag 'marketing/btn_login.png' %>
      <% end %>
	  <%= link_to(image_tag('marketing/btn_signup.png'), join_path, :class => 'btn-signup') %>

      <div id="navbar">
        <%= yield :navbar %>
      </div>
    </div>
    &nbsp;
  </div>

  <%= yield %>

  <%= yield :page_footer %>
  <div id="page-footer">
    Copyright &copy; 2011 H Engage, Inc.
  </div>


  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      function removePlaceholder(event) {
        var field = $(event.target);
        $(field).removeClass('with-placeholder');
        $(field).val('');
      };

      $(document).ready(function() {
        $('.with-placeholder').focus(removePlaceholder)
      });
    <% end %>
  <% end %>

  <%= yield :javascript %>
  <%= yield :slow_javascript %>
  
</body>
</html>
