<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= content_for :meta %>
    <%= csrf_meta_tag %>
  	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <%= render "shared/opengraph_meta_tags_marketing" %>

    <%= javascript_include_tag 'app-marketing-site' %>
    <%= stylesheet_link_tag 'app-product' %>

    <%= render 'shared/mixpanel' %>
    <%= render 'shared/integrations/full_story' %>
    <%= render 'shared/integrations/google_analytics/marketing' %>
    <%= render 'shared/integrations/facebook_pixel' %>

    <%= content_for :head %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  </head>
  <body id="airoute-yield" class="airbo-marketing-site" style="display: none;">
    <div class="main bootstrap-iso product">
      <%= render partial: "pages/front_theme/navbar" %>
      <main id="root" role="main">
        <%= yield %>
      </main>
      <%= render partial: "pages/front_theme/footer" %>

      <div class="justify-content-between align-items-center my-7 copyright">
        <%= image_tag 'logo_standard.png' %>
        <p class="small text-muted mb-0">&copy; Airbo. 2018. All rights reserved.</p>
      </div>

    </div>
    <%= render partial: "pages/drawer" %>
    <%= render 'shared/javascript' %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
