<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render 'shared/opengraph_meta_tags_board', board: @board %>
    <meta name="viewport" content="width=device-width" />

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'app-external' %>

    <%= render 'shared/mixpanel' %>
    <%= render 'shared/integrations/full_story' %>

    <%= mobvious_javascript %>
    <%= render 'shared/nerf_animations_in_test' %>
  </head>
  <body class="<%= body_class %> marketing">


    <%= render "pages/header" %>
    <div class="wrapper">
      <%= yield %>
    </div>

    <div class="modals"></div>
  </body>
</html>
