<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= content_for :meta %>
  <title>Airbo</title>
  <%= split_stylesheet_link_tag "app-internal", :media => "all", :split_count => 3 %>
  <%= stylesheet_link_tag "app-user-progress" %>
  <%= stylesheet_link_tag "public_board_fixed_headers" %>
  <%= javascript_include_tag "https://api.intercom.io/api/js/library.js" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'app-internal' %>
  <%= javascript_include_tag asset_path('ga.js') if ENV['USE_GA'] %>
  <%= javascript_include_tag 'public_board_fixed_headers' %>
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style type="text/css">.gradient {filter: none;}</style>
    <%= stylesheet_link_tag 'vendor/ie8-grid12-foundation-4.css' %>
    <%= stylesheet_link_tag 'internal/internal_ie8' %>
  <![endif]-->

  <%= csrf_meta_tag %>
  <%= render 'shared/mixpanel' unless @is_admin_page %>
  <%= mobvious_javascript %>
</head>
<body class="<%= body_class %>" style="-webkit-overflow-scrolling: touch; overflow:visible;"><%# only works with inline style? WTF. but leave it: this fixes scroll problems in ios7 and doesn't seem to work if included via stylesheet. %>

<% user = UserInHeaderPresenter.new(current_user, @public_tile_page, params, request) %>
<header class="">
  <div class="row" id="top_bar">

    <div class="large-2 columns" id="logo">
      <a class="go_home" href="<%= home_path %>"><%= image_tag user.logo_url %></a>
    </div>

    <div id="demo_request" class="large-4 columns" style="">
      <a href="#" id="schedule_demo" class="">Schedule a Demo</a>
    </div>
  </div>
</header>

<div id='js-flashes'><%# render 'shared/flashes' %> </div> 


  <main class="main">
    <%= render partial: 'shared/tiles_tools_subnav/tiles_tools_subnav' %>
    <div class="core">
      <div class="content">

        <%= render partial: "acts/banner_nav" if @show_cover%>
               <%= yield %>
      </div>
      <div id="footer">
        Copyright © 2013 H.Engage, Inc.
      </div>
    </div>
  </main>

  <%= render 'shared/intercom' %>
  <%= render :partial => 'shared/javascript' %><!-- This is where 'yield :javascript' takes place -->

  <div id='gradient-triangle'></div>

  <div id="schedule_demo_modal" class="reveal-modal small"  >
    <div id="modal_content" style="">
      <div class="banner_img">
        <%=image_tag "airbo_logo_lightblue_square_smile.png" %>
      </div>
      <div class="greeting" id="request_content">
        <p class="greeting">
        Enter your work email address, and we'll</br>
        contact you to schedule a demo.
        </p>
        <div >
          <%=form_for DemoRequest.new, html:{id: "schedule_demo_form"} do |f| %>  
            <div class="form_data">
              <%=f.text_field :email, placeholder: "name@example.com", style: "border:none;border-bottom: 1px solid #CCC"%>
              <%=f.submit "Schedule a demo", id: "submit_demo_request"%>
            </div>
          <%end%>
        </div>
      </div>
      <div class="greeting" id="confirmation_content">
        <p>
        Great! We’ll be in touch. In the meantime, you can use this link to share this Airbo Board.
        </p>

            <div class="form_data">
              <span class="link_for_copy"><%=link_to public_board_url(@demo.public_slug)%>
            </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'rem.min.js' %>
</body>
</html>
