<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= content_for :meta %>
    <title>Airbo</title>

    <%= csrf_meta_tag %>
    <%= split_stylesheet_link_tag "app-client-admin", :media => "all", :split_count => 3 %>

    <!--[if lte IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style type="text/css">.gradient {filter: none;}</style>
      <%= stylesheet_link_tag 'ie8-grid12-foundation-4.css' %>
      <%= stylesheet_link_tag 'client_admin/client_admin_ie8' %>
    <![endif]-->

    <%= javascript_include_tag 'app-admin' %>
    <%= javascript_include_tag 'app-client-admin' %>
    <%= javascript_include_tag 'app-search' %>
    <%= javascript_include_tag 'for-modern-browsers' unless browser.ie8? %>
    <%= mobvious_javascript %>
    <%= render 'shared/nerf_animations_in_test' %>
    <%= render partial: '/shared/mixpanel' %>
    <%= render 'shared/inspectlet' if non_site_admin(current_user) %>
    <%= render "shared/custom_palette"  if @palette && @palette.enabled? %>
    <%=content_for :head%>
  </head>
  <body style="-webkit-overflow-scrolling: touch; overflow:visible; " data-current-user="<%= current_user.data_for_mixpanel.to_json %>" data-intercom-user="<%= current_user.intercom_data.to_json %>" class="explore-search explore-search-<%= get_user_type(current_user) %>">
    <% if current_user.is_a?(GuestUser) %>
      <%= render 'shared/public_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/offcanvas_menu_signedin' %>
    <main class="main">
      <%= render partial: 'shared/tiles_tools_subnav/tiles_tools_subnav' unless current_user.is_a?(GuestUser) %>
      <div class="core">
        <div class="content">
          <%= yield %>
        </div>
        <div id="footer">
        </div>
      </div>
    </main>
    <div class="modals"></div>
    <%= render partial: 'shared/javascript' %>
    <div id='gradient-triangle'></div>
    <%= javascript_include_tag 'rem.min.js' %>
  </body>
</html>
