<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Airbo Documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render "shared/opengraph_meta_tags" %>


    <%= stylesheet_link_tag 'app-support' %>
    <%= javascript_include_tag 'app-support' %>

    <%= render 'shared/mixpanel' %>
  </head>
  <body class="<%= body_class %> external">
    <%= yield %>

    <div class="modals"></div>
    <%= yield :javascript %>
  </body>
</html>
