<div class="row">
  <div id="feed_wrapper" class="large-4 columns">
    <div class="feeds module">

      <h3 id="feeds_title">Activity</h3>

      <% content_for :javascript do %>
        <%= javascript_tag do %>
          bindShowMoreTilesLink('.show_more_tiles', '.tile-wrapper', '#show_more_tiles_spinner', '#tile_wall', 'replace');
        <% end %>
      <% end %>

      <% if @acts.present? %>
        <ul id="user-acts">
          <%= render :partial => "shared/act", :collection => @acts, :as => :act %>
        </ul>

        <% if @show_more_acts_btn %>
          <%= render 'shared/see_more' %>
          <%= image_tag 'spinner_gears.gif', :id => 'see-more-spinner', :style => 'display:none;' %>

          <% js_at_end do %>
            bindSeeMoreActs('<%= acts_path(format: :js) %>', <%= @acts.length %>)
          <% end %>
        <% end %>

      <% else %>
        <%= render :partial => "acts/example_act" %>
      <% end %>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="module" id="scoreboard-module">
      <%= render 'scoreboard', :user => @current_user %>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="module" id="invite-module">
      <%= render(:partial => "invite_your_friends") unless @current_user.is_guest? %>  
    </div>
  </div>

</div>
