<div class="row">
  <div id="feed_wrapper" class="large-4 columns">
    <div class="feeds module">
      <h3 id="feeds_title">Activity</h3>
      <% if @acts.present? %>
        <ul id="user-acts">
          <%= render partial: "acts/feed", locals: { opts: { acts: @acts } } %>
        </ul>
      <% else %>
        <%= render partial: "acts/example_act" %>
      <% end %>

      <% if @show_more_acts_btn %>
        <%= render partial: "acts/see_more_btn", locals: { opts: { next_page: @acts.next_page, per_page: 5} } %>
      <% end %>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="module" id="scoreboard-module">
      <%= render 'acts/scoreboard', user: current_user unless current_user.is_guest? %>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="module" id="invite-module">
      <%= render(partial: "acts/invite_your_friends") unless current_user.is_guest? %>
    </div>
  </div>
</div>
