:ruby
  tile = displayable_tile
  classes = ''
  classes = 'recently_completed' if tile.display_completion_on_this_request

-thumbnail_id = "tile-thumbnail-#{tile.id }"

:css
  ##{thumbnail_id} {
    background-image: url('#{tile.thumbnail}');
  }

  ##{thumbnail_id}:hover {
    background-image: url('#{tile.thumbnail(:hover)}');
  }

-#Preload hover image to prevent blinking
%img{src: tile.thumbnail(:hover), style: "display: none; visibility: hidden;"}

%li{class: classes}
  = link_to tiles_path do
    .tile-wrapper
      .white_box_with_shadow
        .tile_thumbnail{id: thumbnail_id}
          .headline
            .text= tile.headline
            .headline_overlay
