<% tile = displayable_tile %>
<% classes = tile.display_completion_on_this_request ? "suggested-tile recently-completed" : "suggested-tile" %>
<% classes += " overflow-tiles " if displayable_tile_counter >= @num_suggestions_to_display %>
<div class="<%= classes %> gradient freeplay" id="suggested-tile-<%= tile.id %>">
  <div class="dose-texts">
    	<p class="dose-title"><%= raw tile.name %></p>
  </div>
  <% more_info_link_id = "more-info-#{tile.id}" %>
  
  <%= link_to 'More info', '#', :id => more_info_link_id, :class => 'more-info' %>
  
  <% if tile.bonus_points > 0 %>
    <div class='dd_bonus'>+<%= tile.bonus_points %> bonus</div>
  <% end %>
  
  <div class="cf"></div>
</div>
