:ruby
  tile = displayable_tile
  if tile.display_completion_on_this_request
    classes = 'recently_completed' 
    link_to_tile = '#'
  else
    classes = ''
    link_to_tile = tiles_path
  end

-thumbnail_id = "tile-thumbnail-#{tile.id }"

:css
  ##{thumbnail_id} {
    background-image: url('#{tile.thumbnail}');
  }

  ##{thumbnail_id}:hover {
    background-image: url('#{tile.thumbnail(:hover)}');
  }

-#Preload hover image to prevent blinking
%img{src: tile.thumbnail(:hover), style: "display: none; visibility: hidden;"}
-#Preload base image image to prevent blinking in IE8
%img{src: tile.thumbnail, style: "display: none; visibility: hidden;"}

%li{class: classes}
  = link_to tiles_path(:start => displayable_tile_counter), :target => @link_target, :method => :post do
    .tile-wrapper
      .white_box_with_shadow
        / style is set to display: none initially so they don't load outside of the clip
        .tile_thumbnail{id: thumbnail_id, :style => "display: none;"}
          .headline
            .text= tile.headline
            .headline_overlay
