<% suggested_task = displayable_task_suggestion.suggested_task %>
<% classes = displayable_task_suggestion.display_completion_on_this_request ? "suggested-task recently-completed" : "suggested-task" %>
<div class="<%= classes %> gradient freeplay" id="suggested-task-<%= suggested_task.id %>">
  <p class="dose-title"><%= raw suggested_task.name %></p>
  <p class="dose-descript"><%= raw suggested_task.short_description %></p>
  <% more_info_link_id = "more-info-#{suggested_task.id}" %>
  <% long_description_div_id = "long-description-#{suggested_task.id}" %>
  
  <%= link_to 'More info', '#', :id => more_info_link_id, :class => 'more-info' %>
  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('#<%= more_info_link_id %>').click(function(e) {
        e.preventDefault();
        $('#<%= long_description_div_id %>').toggle();
        info_toggle_link = $('#<%= more_info_link_id%>');
        alternate_text = info_toggle_link.text() == 'More info' ? 'Less info' : 'More info';
        info_toggle_link.text(alternate_text);
      });
    <% end %>
  <% end %>
  
  <div class="gradient" id="<%= long_description_div_id %>" style="display: none"><%= raw suggested_task.long_description %></div>
</div>
