- content_for(:javascript) do 
  :javascript

    $("#autocomplete").live('focus', function () {
      setTimeout("$('.helper.autocomplete').fadeIn()", 200);
    });
    
    $("#autocomplete").live('click', function () {
      setTimeout("$('.helper.autocomplete').fadeIn()", 500);
    });
    
    $("#autocomplete").live('blur', function() {
      $(".helper.autocomplete").fadeOut();
    })
    

- if current_user.session_count < 3 && session[:invite_friends_modal_shown].nil?
  - div_id = 'invite_friends_facebox'
  - show_greeting = true
  - session[:invite_friends_modal_shown] = true
  / %h2 Invite your friends
  / %p For each friend that joins the game, you get an extra 5 points!
  / = link_to "Invite friends to play", activity_path
- else
  - div_id = 'invite_friends'

-###### Uncomment this next line if you want the facebox to pop every time 
-# div_id = 'invite_friends_facebox'

.invite{:id => div_id}
  #search_for_friends_to_invite
    #invite_friends_top

      / - unless show_greeting.nil?
      /   %p= "Thanks for joining #{current_user.demo.name}" 

      %h2#invite_your_friends_title Invite your friends
      
      %p#why_invite It's more fun when people you know are playing too. Plus, get a 5-point referral bonus for each friend that joins the game!
      #points_per_referral= current_user.demo.game_referrer_bonus

    - if current_user.demo.is_public_game || current_user.demo.is_self_inviting_game 
      =############# SELF INVITING DOMAIN version ################
      = form_tag invitation_invite_friend_path, :autocomplete => :off do  
        %p Enter your friends' email addresses:
        #bonus
          That's
          #potential_bonus_points
            0
          potential bonus points!

        .first_half
          - 5.times do |f|
            - tag_name = "email_prepends[#{f}]"
            = label_tag tag_name, "email number #{f}"
            = text_field_tag tag_name, '', :style => "margin-bottom: 2px;"

        .second_half
          - 5.times do |f|
            - tag_name = "email_prepends[#{f + 5}]"
            = label_tag tag_name, "email number #{f + 5}"
            = text_field_tag tag_name
        .invite_or_add    
          = submit_tag "Invite!"
        /   = link_to "I have LOTS of friends", '#m', :id => :lots_of_friends


    -else
      =#################### PRE POPULATED DOMAIN version #####################
      #invite_friends_middle
    

        %ul.form-section
          %li.form-label= label_tag :autocomplete,  "Which coworkers do you wish to invite?"
          %li.form-input
            = text_field_tag :autocomplete, nil, :autocomplete => "off"
            .relative
              .helper.autocomplete  
                Type part of your coworker's name or email, and we'll look them up.          


    
        #autocomplete_status 

        #potential_bonus_points{:style => "display: none;"} 0
    

 
      #invite_friends_bottom 
        #suggestions
        .clear
  .clear
  .clear