<div id="register_potential_user_lightbox" class="start_lightbox">
  <h3>Welcome to the <%= current_user.demo.name%>!</h3>
  <%= form_tag potential_user_conversions_path do %>
    <%= label_tag "potential_user_name", "Enter your first and last name to continue:" %>
    <%= text_field_tag "potential_user_name" %>
    <%= link_to "Next", "", disabled: true, class: "submit button" %>
    <%= submit_tag "Submit", class: "real_submit" %>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    window.registerPotentialUserLightbox()
  <% end %>
<% end %>
