<div class="container">
	<div id="suggested-tasks">

	  <h2 id='daily_dose_title' style='display: inline;'>Here is your Daily Dose!</h2>
	  <%= render :partial => 'displayable_task_suggestion', :collection => @displayable_task_suggestions %>
	  <% content_for :javascript do %>
	    <%= javascript_tag do %>
        $('.recently-completed').css({'border-color': 'white'}).effect('highlight', {}, 500, function() {$(this).fadeOut(2000, function(){$(this).remove()})});
	    <% end %>
	  <% end %>
	  <% if @displayable_task_suggestions.count > @num_suggestions_to_display %>
    
  	  <div class="more-tasks">
  	  	<a href="#" title="Show more suggested tasks"><img class='grey-show-more-arrows' src="/images/v3/arrow-down.png" />
  	  	  <span id='show-more-tasks'>Show more</span><img class='grey-show-more-arrows' src="/images/v3/arrow-down.png" /></a>
  	  </div>
  	<% else %>
  	  <div style='height: 12px;'>
  	<% end %>
	</div>
	<div class="invite-module module">
		<%= render :partial => "invite_your_friends" %>  
	</div>
	<div class="feeds module">

	    <h1 class="headline" id="feeds_title">Feeds</h1>

	    <ul class="tabs" id="activity-feed-tabs">
	      <%= tab "All", acts_path(:format => :js), @active_act_tab, :class => 'feed-all' %>
	      <%= tab "Following", acts_path(:show_only => 'following', :format => :js), @active_act_tab, :class => 'feed-following' %>
	      <%= tab "Mine", acts_path(:show_only => 'mine', :format => :js), @active_act_tab, :class => 'feed-mine' %>
	    </ul>
	
		<div class="cf"></div>

	    <% content_for :javascript do %>
	      <%= mp_track_page 'activity feed', :game => @demo.name %>
	      <%= javascript_tag do %>
	        $('#show-more-tasks').click(function(){
	          if ($('.overflow-tasks').css('display') == 'none'){
              $('#show-more-tasks').text('Show less');
              setTimeout("$('.grey-show-more-arrows').attr('src', '/images/v3/arrow-up.png')", 300);
	          }else{
              $('#show-more-tasks').text('Show more');	
              setTimeout("$('.grey-show-more-arrows').attr('src', '/images/v3/arrow-down.png')", 300);            
	          }
            $('.overflow-tasks').fadeToggle('slow');
          })
        
	        function updateShownActs(url) {
	          $('#user-acts').html('<%= image_tag("spinner.gif") %>');
	          $.get(url, function(data) {
	            $('#user-acts').html(data);
	          });
	        }

	        $("#activity-feed-tabs a").click(function(e) {
	          updateShownActs($(this).attr('href'));
	          e.preventDefault();
	        });
	      <% end %>
	    <% end %>

	    <ul id="user-acts">
	      <%= render :partial => "shared/new_act", :collection => @acts, :as => :act %>
      </ul>

      <div class="seemore">
			<img src="/images/v3/arrow-down.png" />
			<%= link_to "See more", '#', :id => 'see-more' %>
			<img src="/images/v3/arrow-down.png" />
      </div>

      <%= image_tag 'spinner.gif', :id => 'see-more-spinner', :style => 'display:none' %>

	    <%= render 'shared/bind_see_more', 
	      :offset_var_name     => 'actOffset', 
	      :current_offset      => @acts.length,
	      :button_selector     => '#see-more',
	      :spinner_selector    => '#see-more-spinner',
	      :original_path       => acts_path(:format => :js, :show_only => @show_only, :mode => 'see-more'),
	      :path_var_name       => 'actsPath',
	      :mixpanel_event_name => 'saw more acts'
	    %>

	</div>
	
<!--	<div class="active-games module">
		<h1 class="headline">Your active games</h1>
	</div> -->
</div>


<div id='faq_mini'>
  <div id='faq_mini_inner'>
    <%= render 'pages/faq_mini' %>
    <br />
    <div class="Standard">Thanks for reading! Enter "<span class='green bold'>game on</span>" in the play box to earn 3 pts!</div>
    <%= button_to "Get More Help", faq_path, :method => :get, :style => "float: left;" %>
  </div>
</div>



<!--
Here is the html to put into the daily dose to make it pop:
# application.js version
fancyBoxFaqMini();
# daily dose version
<a onclick="fancyBoxFaqMini()" href="#">ClickMe</a>
-->

<%= stylesheet_link_tag 'jquery.fancybox-1.3.4' %>
<%= javascript_include_tag 'jquery.fancybox-1.3.4' %>
