<div id="main">
  <div class="column-header">
    <h2 class="first" id="activity">
      Activity
    </h2>

  </div>  

  <ul id="acts">
    <%= render @acts %>
  </ul>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first">Your Snapshot</h2>
  </div>

  <table id="your-score">
    <tr>
      <th>Points</th>
      <th>Place</th>
    </tr>

    <tr>
      <td class="points"><%= current_user.points %></td>
      <td><%= @ranking_in_demo.ordinalize %> out of <%= @demo_user_count %></td>
    </tr>
  </table>  
  
  <%= render :partial => 'shared/scoreboard', :locals => {:users => @users, :user_rankings => @user_rankings} %>
</div>
