<div id="main-wrapper">
  <div id="main">
    <h2>Recent Activity</h2>

    <ul id="acts">
      <%= render :partial => "new_act", :collection => @acts, :as => :act %>
    </ul>

    <%= button_to "See more", "#", :id => 'see-more' %>
    <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('activity.js', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
</div>

<div id="secondary">
  <table id="my-score">
    <th>My<br/>Score</th> 
    <td class="points"><span class="top-row"><%= current_user.points %></span><br/>points</td>
    <td class="ranking"><%= raw ranking_phrase(current_user.ranking, @demo_user_count) %></td>
  </table>

  <%= render 'user_achievements', :won_at => current_user.won_at, :levels => @levels %>

  <%= render 'shared/scoreboard', :users => @users %>
</div>
