<%#= render 'shared/tiles_carousel' %>
<div class="all_tile_thumbnails row">
  <% @displayable_tiles.each do |displayable_tile| %>
    <div class="tile_thumbnail">
      <%= render 'shared/displayable_tile', displayable_tile: displayable_tile %>
    </div>
  <% end %>
  <%= render 'shared/tiles_wall_client_admin_tools' %>
</div>



<div id="feed_wrapper" class="left-col">
  <div class="feeds module">

    <h1 class="headline" id="feeds_title">Activity</h1>

	    <% content_for :javascript do %>
	      <%= javascript_tag do %>
	        $('#show-more-tiles').click(function(){
	          if ($('.overflow-tiles').css('display') == 'none'){
              $('#show-more-tiles').text('Show less');
              setTimeout("$('.grey-show-more-arrows').attr('src', '<%= asset_path 'v3/arrow-up.png' %>')", 300);
	          }else{
              $('#show-more-tiles').text('Show more');	
              setTimeout("$('.grey-show-more-arrows').attr('src', '<%= asset_path 'v3/arrow-down.png' %>')", 300);            
	          }
            $('.overflow-tiles').fadeToggle('slow');
          })
	      <% end %>
	    <% end %>

      <ul id="user-acts">
	      <%= render :partial => "shared/act", :collection => @acts, :as => :act %>
      </ul>

      <%= render 'shared/see_more' %>

      <%= image_tag 'spinner.gif', :id => 'see-more-spinner', :style => 'display:none' %>

	    <%= render 'shared/bind_see_more', 
	      :offset_var_name     => 'actOffset', 
	      :current_offset      => @acts.length,
	      :button_selector     => '#see-more',
	      :spinner_selector    => '#see-more-spinner',
	      :original_path       => acts_path(:format => :js, :show_only => @show_only, :mode => 'see-more'),
	      :path_var_name       => 'actsPath',
	      :mixpanel_event_name => 'saw more acts'
	    %>

	</div>
</div>

<div class="right-col">
  <div class="module" id="scoreboard-module">
    <%= render 'scoreboard', :user => @current_user %>
  </div>
  <div class="module" id="invite-module">
    <%= render :partial => "invite_your_friends" %>  
  </div>
</div>

<% if @tutorial_step.try(:show_introduction) %>
  <div id='tutorial_introduction'>
    <div id='tutorial_introduction_inner'>
      <h2>Welcome&nbsp;to&nbsp;<%= @current_user.demo.name %></h2>
      <p>Before you get started, we'd like to take you on a quick tour of the site.</p>
      <div class='link'><%= link_to "Quick Tour", tutorial_path, :method => :put, :class => 'show_tutorial' %></div>
      <%= link_to "No thanks", '#', :id => 'no_thanks_tutorial' %>
    </div>
  </div>
<% end %>
