<%= render :partial => 'shared/flashes' -%>

<div id="main-wrapper">
  <div id="main">
    <h2>Recent Activity</h2>

    <ul id="acts">
      <li class="act-shim">
      </li>
      <%= render :partial => "new_act", :collection => @acts, :as => :act %>
    </ul>

    <%= form_tag '#' do %>
      <%= image_submit_tag "new_activity/btn_seemore.png", :id => 'see-more' %>
    <% end %>

    <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('activity.js', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
</div>

<div id="secondary">
  <table id="my-score">
    <tr>
      <th>your<br/>score</th> 
      <td class="points"><span class="top-row"><%= current_user.points %></span><br/>points</td>
      <td class="ranking"><%= raw ranking_phrase(current_user.ranking, @demo_user_count) %></td>
    </tr>
  </table>

  <%= render 'new_user_achievements', :won_at => current_user.won_at, :levels => @levels %>

  <%= render 'shared/new_scoreboard', :users => @users %>
</div>
