<div id="main">
  <div class="column-header activity-header">
    <h2 class="first" id="activity">
      Activity
    </h2>
  </div>

  <ul id="acts">
    <%= render @acts %>
  </ul>

  <%= button_to "See more", "#", :id => 'see-more' %>
  <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      var actOffset = <%= @acts.length %>;

      $('#see-more').bind('click', function(e) {
        $('#see-more-spinner').show();
        $.get('activity.js', {offset: actOffset});
        e.preventDefault();
      });
    <% end %>
  <% end %>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first">Your Snapshot</h2>
  </div>

  <table id="your-score">
    <tr>
      <th></th>
      <th>Points</th>
      <th>Place</th>
    </tr>

    <tr id="recent-average">
      <th>7 Day</th>
      <td class="points"><%= current_user.recent_average_points %></td>
      <td class="ranking"><%= ranking_phrase(current_user.recent_average_ranking, @demo_user_count) %></td>
    </tr>

    <tr id="alltime">
      <th>Total</th>
      <td class="points"><%= current_user.points %></td>
      <td class="ranking"><%= ranking_phrase(current_user.ranking, @demo_user_count) %></td>
    </tr>
  </table>

  <% if current_user.won_at %>
    <div id="winning-time">You won on <%= current_user.won_at.winning_time_format%>. Congratulations!</div>
  <% end %>

  <%= render :partial => 'shared/scoreboard', :locals => {:users => @users} %>
</div>
