<div id="main-wrapper">
  <div id="main">
    <h2>Recent Activity</h2>

    <ul id="acts">
      <%= render :partial => "new_act", :collection => @acts, :as => :act %>
    </ul>

    <%= button_to "See more", "#", :id => 'see-more' %>
    <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

    <% content_for :javascript do %>
      <%= javascript_tag do %>
        var actOffset = <%= @acts.length %>;

        $('#see-more').bind('click', function(e) {
          $('#see-more-spinner').show();
          $.get('activity.js', {offset: actOffset});
          e.preventDefault();
        });
      <% end %>
    <% end %>
  </div>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first">Your Scores</h2>
  </div>

  <div class="column-section">
    <table id="your-score">
      <colgroup><col><col><col>
      <tr>
        <th></th>
        <th>Points</th>
        <th>Place</th>
      </tr>

      <tr id="recent-average">
        <th>7 Day</th>
        <td class="points"><%= current_user.recent_average_points %></td>
        <td class="ranking"><%= ranking_phrase(current_user.recent_average_ranking, @demo_user_count) %></td>
      </tr>

      <tr id="alltime">
        <th>Total</th>
        <td class="points"><%= current_user.points %></td>
        <td class="ranking"><%= ranking_phrase(current_user.ranking, @demo_user_count) %></td>
      </tr>
    </table>
  </div>

  <%= render 'user_achievements', :won_at => current_user.won_at, :levels => @levels %>

  <%= render 'shared/scoreboard', :users => @users %>
</div>
