<div id="main">
  <div class="column-header activity-header">
    <h2 class="first" id="activity">
      Activity
      <%= link_to 'Lonely? Make some connections', users_path %>
    </h2>
  </div>

  <ul id="acts">
    <%= render @acts %>
  </ul>

  <%= button_to "See more", "#", :id => 'see-more' %>
  <%= image_tag 'spinner.gif', :id => 'see-more-spinner' %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      var actOffset = <%= @acts.length %>;

      $('#see-more').bind('click', function(e) {
        $('#see-more-spinner').show();
        $.get('activity.js', {offset: actOffset});
        e.preventDefault();
      });
    <% end %>
  <% end %>
</div>

<div id="secondary">
  <div class="column-header">
    <h2 class="first">Your Scores</h2>
  </div>

  <div class="column-section">
    <table id="your-score">
      <colgroup><col><col><col>
      <tr>
        <th></th>
        <th>Points</th>
        <th>Place</th>
      </tr>

      <tr id="recent-average">
        <th>7 Day</th>
        <td class="points"><%= current_user.recent_average_points %></td>
        <td class="ranking"><%= ranking_phrase(current_user.recent_average_ranking, @demo_user_count) %></td>
      </tr>

      <tr id="alltime">
        <th>Total</th>
        <td class="points"><%= current_user.points %></td>
        <td class="ranking"><%= ranking_phrase(current_user.ranking, @demo_user_count) %></td>
      </tr>
    </table>
  </div>

  <% if current_user.won_at %>
    <div class="column-section">
      <div class="column-header">
        <h2>Achievements</h2>
      </div>
      <div id="winning-time"><%= current_user.demo.victory_achievement_message(current_user) %></div>
    </div>
  <% end %>

  <%= render 'shared/scoreboard', :users => @users %>
</div>
