<div class="container">
  <% unless @displayable_tiles.empty? %>
    <div id='carousel_wrapper'>
      <ul id='tile_thumbnail_carousel' class='jcarousel-skin-tango'>
        <%= render :partial => 'displayable_tile', :collection => @displayable_tiles %>
      </ul>
    </div>
  <% end %>
	
	<div class="right-column">
  	<div class="module" id="scoreboard_wrapper">
  	  <%= render 'scoreboard', :user => @current_user %>
    </div>
  	<div class="invite-module module">
  		<%= render :partial => "invite_your_friends" %>  
  	</div>
  </div>
  
	<div id="feed_wrapper">
	  <div class="feeds module">

  	    <h1 class="headline" id="feeds_title">Activity</h1>

  		<div class="cf"></div>

  	    <% content_for :javascript do %>
  	      <%= javascript_tag do %>
  	        $('#show-more-tiles').click(function(){
  	          if ($('.overflow-tiles').css('display') == 'none'){
                $('#show-more-tiles').text('Show less');
                setTimeout("$('.grey-show-more-arrows').attr('src', '<%= asset_path 'v3/arrow-up.png' %>')", 300);
  	          }else{
                $('#show-more-tiles').text('Show more');	
                setTimeout("$('.grey-show-more-arrows').attr('src', '<%= asset_path 'v3/arrow-down.png' %>')", 300);            
  	          }
              $('.overflow-tiles').fadeToggle('slow');
            })
  	      <% end %>
  	    <% end %>

        <ul id="user-acts">
  	      <%= render :partial => "shared/new_act", :collection => @acts, :as => :act %>
        </ul>

        <div class="seemore">
    			<%= image_tag "v3/arrow-down.png" %>
    			<%= link_to "See more", '#', :id => 'see-more' %>
  				<%= image_tag "v3/arrow-down.png" %>
        </div>

        <%= image_tag 'spinner.gif', :id => 'see-more-spinner', :style => 'display:none' %>

  	    <%= render 'shared/bind_see_more', 
  	      :offset_var_name     => 'actOffset', 
  	      :current_offset      => @acts.length,
  	      :button_selector     => '#see-more',
  	      :spinner_selector    => '#see-more-spinner',
  	      :original_path       => acts_path(:format => :js, :show_only => @show_only, :mode => 'see-more'),
  	      :path_var_name       => 'actsPath',
  	      :mixpanel_event_name => 'saw more acts'
  	    %>

  	</div>
	</div>
<!--	<div class="active-games module">
		<h1 class="headline">Your active games</h1>
	</div> -->
</div>


<div id='faq_mini'>
  <div id='faq_mini_inner'>
    <%= render 'pages/faq_mini' %>
    <br />
    <div class="Standard">Thanks for reading! Enter "<span class='green bold'>game on</span>" in the play box to earn 3 pts!</div>
    <%= button_to "Get More Help", faq_path, :method => :get, :style => "float: left;" %>
  </div>
</div>
<% if @show_introduction %>
  <div id='tutorial_introduction'>
    <div id='tutorial_introduction_inner'>
      <h2>Welcome&nbsp;to&nbsp;<%= @current_user.demo.name %></h2>
      <p>Before you get started, we'd like to take you on a quick tour of the site.</p>
      <div class='link'><%= link_to "Quick Tour", tutorial_path, :method => :put, :class => 'show_tutorial' %></div>
      <div class='link'><%= link_to "No thanks", '#', :id => 'no_thanks_tutorial' %></div>
    </div>
  </div>
<% end %>


<!--
Here is the html to put into the game piece (tile) to make it pop:
# application.js version
fancyBoxFaqMini();
# game piece (tile) version
<a onclick="fancyBoxFaqMini()" href="#">ClickMe</a>
-->

